Repository NVIDIA-NeMo/NeMo, pull requests merged in 2020-03, with the labels that each got.

#442 improve bert user api for more clarity
  Jenkinsfile
  docs/sources/source/nlp/bert_pretraining.rst
  examples/nlp/language_modeling/BERTPretrainingTutorial.ipynb
  examples/nlp/language_modeling/bert_pretraining.py
  nemo/collections/nlp/data/datasets/lm_bert_dataset.py
Labels: fix

#448 fix nmt paths in documentation
  docs/sources/source/nlp/neural_machine_translation.rst
Labels: bug, documentation, fix

#444 Update Tacotron2 Modules for v10
  CHANGELOG.md
  nemo/collections/tts/parts/layers.py
  nemo/collections/tts/parts/tacotron2.py
  nemo/collections/tts/tacotron2_modules.py
Labels: fix

#430 NeMo Test Reorganization
  Jenkinsfile
  setup.cfg
  tests/__init__.py
  tests/conftest.py
  tests/core/__init__.py
  tests/integration/core/test_neural_graph.py
  tests/nlp/__init__.py
  tests/nlp/test_bert.py
  tests/nlp/test_tutorials_pytorch.py
  tests/system/test_infer.py
  tests/system/test_pytorch_trainers.py
  tests/test_documentation.py
  tests/tts/__init__.py
  tests/unclassified/test_unclassified_asr.py
  tests/unclassified/test_unclassified_speech_commands.py
  tests/unclassified/test_unclassified_tts.py
  tests/unclassified/test_unclassified_zeroDS_jasper.py
  tests/unit/core/__init__.py
  tests/unit/core/test_actions_api.py
  tests/unit/core/test_deploy_export.py
  tests/unit/core/test_deprecated.py
  tests/unit/core/test_module_configuration.py
  tests/unit/core/test_module_configuration_export.py
  tests/unit/core/test_module_configuration_import.py
  tests/unit/core/test_module_initialization.py
  tests/unit/core/test_neural_types.py
  tests/unit/core/test_policies.py
  tests/unit/core/test_weight_share.py
  tests/unit/test_huggingface.py
  tests/unit/test_spc_tokenizer.py
  tests/unit/test_tutorials_cornell_data.py
  tests/unit/test_unit_asr.py
  tests/unit/test_unit_speech_commands.py
Labels: feature

#460 Fix asr postprocessing nvbug
  docs/sources/source/nlp/asr-improvement.rst
  examples/nlp/asr_postprocessor/asr_postprocessor.py
  examples/nlp/asr_postprocessor/get_decoder_params_from_bert.py
  tests/data/get_squad.sh
  tests/data/pred_real/train.pred
  tests/data/pred_real/train.real
  tests/data/pred_real/valid.pred
  tests/data/pred_real/valid.real
Labels: bug, fix

#326 FastSpeech
  .gitignore
  docs/sources/source/tts/fastspeech.rst
  docs/sources/source/tts/models.rst
  examples/tts/configs/fastspeech.yaml
  examples/tts/fastspeech.py
  examples/tts/fastspeech_durations.py
  nemo/collections/asr/parts/dataset.py
  nemo/collections/tts/__init__.py
  nemo/collections/tts/fastspeech_modules.py
  nemo/collections/tts/parts/__init__.py
  nemo/collections/tts/parts/fastspeech.py
  nemo/collections/tts/parts/fastspeech_transformer.py
  nemo/collections/tts/parts/tacotron2.py
  nemo/collections/tts/tacotron2_modules.py
  setup.py
  tests/unclassified/test_unclassified_tts.py
Labels: enhancement

#476 Test cleanup
  setup.cfg
  tests/__init__.py
  tests/context.py
  tests/docs/test_documentation.py
  tests/unit/core/__init__.py
Labels: fix

#503 Fix tests CPU
  Jenkinsfile
  nemo/backends/pytorch/actions.py
  setup.cfg
  tests/configs/test_deploy_export.yaml
  tests/unclassified/test_unclassified_tts.py
  tests/unit/core/test_deploy_export.py
  tests/unit/core/test_module_configuration.py
  tests/unit/core/test_module_configuration_export.py
  tests/unit/core/test_module_configuration_import.py
Labels: fix
