Repository NVIDIA-NeMo/NeMo, pull requests merged in 2020-02, with the labels that each got.

#339 Neural Modules Configuration stage 2: config import-export
  docs/sources/source/tutorials/intro.rst
  docs/sources/source/tutorials/module_configuration.rst
  docs/sources/source/tutorials/module_custom_configuration.rst
  examples/asr/configs/jasper_an4.yaml
  examples/asr/jasper_an4.py
  examples/start_here/README.md
  examples/start_here/chatbot_example2.py
  examples/start_here/module_configuration.py
  examples/start_here/module_custom_configuration.py
  examples/start_here/simplest_example_configuration_import.py
  nemo/collections/asr/data_layer.py
  nemo/core/neural_modules.py
  requirements/requirements.txt
  requirements/requirements_test.txt
  requirements/requirements_tts.txt
  tests/common_setup.py
  tests/core/test_neural_factory.py
  tests/core/test_neural_modules_initialization.py
  tests/test_neural_modules_export.py
  tests/test_neural_modules_import.py
Labels: enhancement

#393 Fix module config docs
  docs/sources/source/tutorials/module_configuration.rst
  docs/sources/source/tutorials/module_custom_configuration.rst
Labels: documentation

#387 Tutorial: Training the TRADE model on MultiWOZ dataset
  docs/sources/source/nlp/dialog_state_tracking.rst
  docs/sources/source/nlp/dst_multi_woz_example.png
  docs/sources/source/nlp/dst_trade_model_architecture.png
  docs/sources/source/nlp/intro.rst
  docs/sources/source/nlp/nlp_all.bib
  examples/nlp/dialogue_state_tracking/dialogue_state_tracking_trade.py
  examples/nlp/scripts/multiwoz/process_multiwoz.py
Labels: documentation

#420 Bug fixed in tokenizer, changelog updated
  CHANGELOG.md
  Jenkinsfile
  examples/nlp/glue_benchmark/glue_benchmark_with_bert.py
  examples/nlp/question_answering/question_answering_squad.py
  nemo/collections/nlp/data/tokenizers/bert_tokenizer.py
  nemo/collections/nlp/utils/huggingface_utils.py
Labels: fix

#405 [FIX] Shorten NLP CI tests
  Jenkinsfile
  examples/nlp/language_modeling/bert_pretraining.py
  examples/nlp/question_answering/question_answering_squad.py
  examples/start_here/chatbot_example.py
  nemo/collections/nlp/nm/data_layers/qa_squad_datalayer.py
Labels: fix

#424 Update Documentation on Weight Sharing
  docs/sources/source/tutorials/weightsharing.rst
  nemo/backends/pytorch/module_wrapper.py
  nemo/backends/pytorch/nm.py
Labels: documentation

#423 Unittest for documentation Added
  .gitignore
  docs/sources/source/conf.py
  docs/sources/source/nlp/joint_intent_slot_filling.rst
  requirements/requirements_test.txt
  setup.cfg
  tests/test_documentation.py
Labels: fix

#427 Bug Fix - joint intent slot loss
  examples/nlp/intent_detection_slot_tagging/joint_intent_slot_with_bert.py
  nemo/backends/pytorch/common/losses.py
Labels: bug, fix

#429 Update ASR and General Docs
  README.rst
  docs/sources/source/asr/asr_all.bib
  docs/sources/source/asr/datasets.rst
  docs/sources/source/asr/jasper.png
  docs/sources/source/asr/quartz_vertical.png
  docs/sources/source/asr/tutorial.rst
  docs/sources/source/index.rst
  docs/sources/source/installation.rst
  examples/asr/configs/quartznet12x1.yaml
Labels: documentation

#438 Correct data versioning in speech command notebook
  examples/asr/notebooks/3_Speech_Commands_using_NeMo.ipynb
Labels: fix

#432 Updated process_multiwoz.py to match original TRADE script.
  docs/sources/source/nlp/asr-improvement.rst
  docs/sources/source/nlp/bert_pretraining.rst
  docs/sources/source/nlp/dialog_state_tracking.rst
  docs/sources/source/nlp/dialog_state_tracking_trade.rst
  docs/sources/source/nlp/dst_multiwoz_example.png
  docs/sources/source/nlp/dst_trade_architecture.png
  docs/sources/source/nlp/intro.rst
  docs/sources/source/nlp/joint_intent_slot_filling.rst
  docs/sources/source/nlp/neural_machine_translation.rst
  docs/sources/source/nlp/nlp_all_refs.bib
  docs/sources/source/nlp/question_answering.rst
  docs/sources/source/nlp/transformer_language_model.rst
  examples/nlp/dialogue_state_tracking/dialogue_state_tracking_trade.py
  examples/nlp/dialogue_state_tracking/multiwoz/mapping.pair
  examples/nlp/dialogue_state_tracking/multiwoz/process_multiwoz.py
Labels: documentation, fix

#439 polish bert pretraining example
  Jenkinsfile
  examples/nlp/language_modeling/bert_pretraining.py
  nemo/collections/nlp/data/datasets/lm_bert_dataset.py
Labels: fix
