Repository NVIDIA-NeMo/NeMo, pull requests merged in 2021-09, with the labels that each got.

#2683 Feat/punctuation capitalization/long queries signoff
  docs/source/nlp/punctuation_and_capitalization.rst
  examples/nlp/token_classification/punctuate_capitalize_infer.py
  nemo/collections/nlp/data/token_classification/punctuation_capitalization_dataset.py
  nemo/collections/nlp/models/token_classification/punctuation_capitalization_model.py
  tests/collections/nlp/test_pretrained_models_performance.py
  tutorials/nlp/Punctuation_and_Capitalization.ipynb
Labels: feature

#2882 Remove numbers from TTS tutorial names
  docs/source/starthere/tutorials.rst
  tutorials/AudioTranslationSample.ipynb
  tutorials/VoiceSwapSample.ipynb
  tutorials/tts/Inference_DurationPitchControl.ipynb
  tutorials/tts/Inference_ModelSelect.ipynb
  tutorials/tts/TTS_FastPitch_Finetuning.ipynb
  tutorials/tts/Tacotron2_Training.ipynb
  tutorials/tts/TalkNet_Training.ipynb
Labels: cleanup

#2905 Fix several bugs in punctuation and capitalization inference and make minor improvements
  examples/nlp/token_classification/punctuate_capitalize_infer.py
  nemo/collections/nlp/models/token_classification/punctuation_capitalization_model.py
Labels: bug
