Repository NVIDIA-NeMo/NeMo, pull requests merged in 2022-06, with the labels that each got.

#4298 Use unique names for temporary directories in punctuation and capitalization tests
  Jenkinsfile
  nemo/collections/nlp/data/token_classification/punctuation_capitalization_dataset.py
Labels: bug

#4348 [Fix] Hanging for Fully Randomized Bucketing
  nemo/collections/asr/modules/rnnt.py
Labels: fix

#4354 Auto-switch the input dimensions in the conformer encoder adapter to correct value
  nemo/collections/asr/modules/conformer_encoder.py
Labels: fix

#4388 [Bugfix][TTS] wrong order of returned tuple for general_collate_fn.
  nemo/collections/tts/torch/data.py
Labels: bug, fix

#4392 [bugfix][TTS] pitch, voiced_mask, prob_voiced have the same values which is not expected.
  nemo/collections/tts/torch/data.py
  tests/collections/tts/test_torch_tts.py
  tests/test_data_dir.py
Labels: bug, fix

#4399 Punctuation and capitalization tests race condition
  Jenkinsfile
  examples/nlp/token_classification/punctuation_capitalization_train_evaluate.py
Labels: bug

#4470 [Fix] Relative Audio Paths
  nemo/collections/common/parts/preprocessing/manifest.py
Labels: fix
