Repository NVIDIA-NeMo/NeMo, pull requests merged in 2022-12, with the labels that each got.

#5455 [TTS] Support speaker level pitch normalization
  examples/tts/conf/es/fastpitch_align_44100_ipa_multi.yaml
  nemo/collections/tts/data/data_utils.py
  nemo/collections/tts/torch/data.py
  scripts/dataset_processing/tts/compute_speaker_stats.py
  scripts/tts_dataset_files/openslr_es/pitch_stats.json
  scripts/tts_dataset_files/openslr_es/speakers.tsv
Labels: TTS

#5534 Add StreamingFeatureBufferer class for real-life streaming decoding
  nemo/collections/asr/parts/utils/streaming_utils.py
Labels: ASR

#5403 Pool stats with padding
  nemo/collections/asr/parts/submodules/tdnn_attention.py
Labels: ASR

#5494 Bert sequence parallel support
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_bert_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
Labels: NLP, CI

#5528 NLP docs fixes
  docs/source/nlp/entity_linking.rst
  docs/source/nlp/question_answering.rst
Labels: NLP

#5549 Switch order of args in optimizer_step override
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#5364 Adding Hybrid RNNT-CTC model
  Jenkinsfile
  docs/source/asr/models.rst
  examples/asr/asr_cache_aware_streaming/speech_to_text_cache_aware_streaming_infer.py
  examples/asr/asr_hybrid_transducer_ctc/README.md
  examples/asr/asr_hybrid_transducer_ctc/speech_to_text_hybrid_rnnt_ctc_bpe.py
  examples/asr/asr_hybrid_transducer_ctc/speech_to_text_hybrid_rnnt_ctc_char.py
  examples/asr/conf/conformer/cache_aware_streaming/conformer_ctc_bpe_streaming.yaml
  examples/asr/conf/conformer/cache_aware_streaming/conformer_transducer_bpe_streaming.yaml
  examples/asr/conf/conformer/hybrid_transducer_ctc/conformer_hybrid_transducer_ctc_bpe.yaml
  examples/asr/conf/conformer/hybrid_transducer_ctc/conformer_hybrid_transducer_ctc_char.yaml
  examples/asr/transcribe_speech.py
  nemo/collections/asr/models/__init__.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/modules/conformer_encoder.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_bpe.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_char.py
Labels: ASR, CI

#5552 Fix ASR Buffered inference scripts
  README.rst
  nemo/collections/asr/metrics/rnnt_wer.py
  nemo/collections/asr/parts/utils/streaming_utils.py
Labels: ASR

#5550 Upgrade to 22.11
  Dockerfile
  Jenkinsfile
  README.rst
  ci.groovy
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/package_info.py
  tests/collections/tts/test_tts_exportables.py
Labels: NLP, CI

#5562 Fixed Docker build
  Dockerfile
Labels: CI

#5568 Add support for Time Stamp calculation using transcribe_speech.py
  examples/asr/asr_chunked_inference/ctc/speech_to_text_buffered_infer_ctc.py
  examples/asr/asr_chunked_inference/rnnt/speech_to_text_buffered_infer_rnnt.py
  examples/asr/transcribe_speech.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: ASR

#5570 Merge r1.13.0 main
  README.rst
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/megatron_gpt_prompt_learning.py
  examples/nlp/language_modeling/megatron_t5_prompt_learning.py
  tests/collections/tts/test_tts_exportables.py
  tutorials/nlp/Non_English_Downstream_Tasks_(NER).ipynb
Labels: NLP

#5566 Update torchmetrics
  nemo/collections/asr/models/label_models.py
  requirements/requirements_lightning.txt
Labels: ASR

#5580 remove useless files.
  nemo/collections/common/data/vocabs.py
Labels: common

#5569 Add an option to defer data setup from ``__init__`` to ``setup``
  docs/source/asr/configs.rst
  docs/source/asr/speaker_recognition/configs.rst
  nemo/core/classes/modelPT.py
Labels: core, ASR

#5437 Text generation improvement (UI client, data parallel support)
  examples/nlp/language_modeling/conf/megatron_gpt_inference.yaml
  examples/nlp/language_modeling/conf/megatron_retro_inference.yaml
  examples/nlp/language_modeling/megatron_gpt_eval.py
  examples/nlp/language_modeling/megatron_retro_eval.py
  nemo/collections/nlp/models/language_modeling/megatron_retrieval_model.py
  nemo/collections/nlp/modules/common/megatron/mup/layer.py
  nemo/collections/nlp/modules/common/megatron/retrieval_service.py
  nemo/collections/nlp/modules/common/megatron/retrieval_transformer.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/modules/common/megatron_web_server.py
  nemo/collections/nlp/modules/common/text_generation_server.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  requirements/requirements_nlp.txt
  scripts/nlp_language_modeling/build_retrieval_index.py
Labels: NLP

#5589 Patch hydra launch
  nemo/core/utils/process_launcher/launcher.py
Labels: core

#5246 O2 style amp for gpt3 ptuning
  examples/nlp/language_modeling/megatron_gpt_prompt_learning.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/core/optim/optimizer_with_main_params.py
Labels: core, NLP

#5591 Better patch hydra
  nemo/core/utils/process_launcher/launcher.py
Labels: core

#5594 Fix race condition bug with hydra multirun
  nemo/core/utils/process_launcher/launcher.py
Labels: core

#5578 Add RETRO model documentation
  docs/source/nlp/nemo_megatron/intro.rst
  docs/source/nlp/nemo_megatron/retro/images/arch.png
  docs/source/nlp/nemo_megatron/retro/retro_model.rst
  docs/source/nlp/nlp_all.bib
Labels: NLP

#5605 [TTS] Remove unused TTS eval function
  nemo/collections/tts/helpers/helpers.py
  requirements/requirements_tts.txt
Labels: TTS

#5614 Update Dockerfile to use numba==0.53.1
  Dockerfile
Labels: CI

#5610 Update documentation and tutorials for Adapters
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/modules/conv_asr.py
  nemo/collections/asr/modules/squeezeformer_encoder.py
  nemo/core/classes/mixins/adapter_mixins.py
  tests/collections/common/mixins/test_adapter_common_model_mixin.py
  tutorials/02_NeMo_Adapters.ipynb
  tutorials/asr/asr_adapters/ASR_with_Adapters.ipynb
Labels: core, ASR

#5602 [TTS] add type hints and change varialbe names for tokenizers and g2p
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  nemo_text_processing/g2p/data/data_utils.py
  nemo_text_processing/g2p/modules.py
  nemo_text_processing/text_normalization/normalize.py
  tests/nemo_text_processing/g2p/data/test_data_utils.py
Labels: common

#5624 [TTS][DOC] add notes about automatic conversion to target sampling ra…
  docs/source/tts/datasets.rst
Labels: TTS

#5572 Fixed RadTTS unit test
  nemo/collections/tts/modules/radtts.py
  tests/collections/tts/test_tts_exportables.py
Labels: TTS

#5633 Temporarily disable prompt learning CI tests
  Jenkinsfile
Labels: CI

#5525 Conformer local attention
  README.rst
  docs/source/asr/results.rst
  examples/asr/transcribe_speech.py
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/parts/mixins/mixins.py
  nemo/collections/asr/parts/submodules/conformer_modules.py
  nemo/collections/asr/parts/submodules/multi_head_attention.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  tests/collections/asr/test_asr_local_attn.py
Labels: ASR

#5526 Add core classes and functions for online clustering diarizer part 1
  nemo/collections/asr/data/audio_to_diar_label.py
  nemo/collections/asr/data/audio_to_label.py
  nemo/collections/asr/parts/utils/offline_clustering.py
  nemo/collections/asr/parts/utils/online_clustering.py
  nemo/collections/asr/parts/utils/speaker_utils.py
  tests/collections/asr/test_diar_utils.py
Labels: ASR

#5639 [STT] Add Esperanto (Eo) ASR Conformer-CTC and Conformer-Transducer models
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
Labels: ASR

#5629 [Dockerfile] Remove AIS archive from docker image
  Dockerfile
Labels: CI

#5541 [TTS][ZH] Disambiguate polyphones with augmented dict and Jieba segmenter for Chinese FastPitch
  examples/tts/conf/zh/fastpitch_align_22050.yaml
  nemo_text_processing/g2p/modules.py
  requirements/requirements_tts.txt
  scripts/dataset_processing/tts/sfbilingual/ds_conf/ds_for_fastpitch_align.yaml
Labels: TTS

#5643 [TTS][ZH] bugfix for the tutorial and add NGC CLI installation guide.
  tutorials/tts/FastPitch_ChineseTTS_Training.ipynb
Labels: bug, TTS

#5642 some tokenizers do not have additional_special_tokens_ids attribute
  nemo/collections/nlp/models/language_modeling/megatron_t5_adapter_model.py
Labels: NLP

#5645 [workflow] add exclude labels option to ignore cherry-picks in releas…
  .github/workflows/config/changelog-config.json
Labels: CI

#5575 [Add] ASR+VAD Inference Pipeline
  README.rst
  examples/asr/asr_vad/README.md
  examples/asr/asr_vad/speech_to_text_with_vad.py
  nemo/collections/asr/data/audio_to_label.py
  nemo/collections/asr/data/feature_to_label.py
  nemo/collections/asr/data/feature_to_label_dataset.py
  nemo/collections/asr/data/feature_to_text.py
  nemo/collections/asr/data/feature_to_text_dataset.py
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/parts/preprocessing/feature_loader.py
  nemo/collections/asr/parts/utils/vad_utils.py
  nemo/collections/common/parts/preprocessing/collections.py
  nemo/collections/common/parts/preprocessing/manifest.py
  tests/collections/asr/test_asr_datasets.py
  tests/collections/asr/test_label_datasets.py
Labels: feature, ASR, common

#5556 Bert interleaved
  examples/nlp/language_modeling/conf/megatron_bert_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
Labels: NLP

#5650 Add duration padding support for RADTTS inference
  nemo/collections/tts/helpers/helpers.py
  nemo/collections/tts/modules/radtts.py
Labels: TTS

#5652 [TTS][ZH] bugfix for ngc cli installation.
  tutorials/tts/FastPitch_ChineseTTS_Training.ipynb
Labels: TTS

#5584 Port stateless timer to exp manager
  examples/nlp/language_modeling/megatron_bart_pretraining.py
  examples/nlp/language_modeling/megatron_bert_pretraining.py
  examples/nlp/language_modeling/megatron_gpt_pretraining.py
  examples/nlp/language_modeling/megatron_gpt_prompt_learning.py
  examples/nlp/language_modeling/megatron_retro_mutransfer_pretrain.py
  examples/nlp/language_modeling/megatron_retro_pretraining.py
  examples/nlp/language_modeling/megatron_t5_lm_adaptation_finetune.py
  examples/nlp/language_modeling/megatron_t5_pretraining.py
  examples/nlp/language_modeling/megatron_t5_prompt_learning.py
  examples/nlp/language_modeling/megatron_t5_seq2seq_eval.py
  examples/nlp/language_modeling/megatron_t5_seq2seq_finetune.py
  examples/nlp/language_modeling/tuning/megatron_gpt_adapter_tuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_ia3_tuning.py
  examples/nlp/language_modeling/tuning/megatron_t5_adapter_tuning.py
  examples/nlp/language_modeling/tuning/megatron_t5_ia3_tuning.py
  examples/nlp/machine_translation/megatron_nmt_training.py
  nemo/utils/exp_manager.py
  tests/core_ptl/test_ptl_stateless_timer.py
Labels: NLP

#5668 Fix EMA restart by allowing device to be set by the class init
  nemo/collections/common/callbacks/ema.py
Labels: common

#5447 Add interface for making amax reduction optional for FP8
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
Labels: NLP

#5662 [TTS] add tts dict cust notebook
  nemo_text_processing/g2p/modules.py
  tutorials/tts/Pronunciation_customization.ipynb
  tutorials/tts/audio_samples/default_ipa.wav
  tutorials/tts/audio_samples/new_dict_entry.wav
  tutorials/tts/audio_samples/phonemes_as_input.wav
Labels: TTS

#5356 [ASR] Audio processing base, multi-channel enhancement models
  examples/asr/experimental/audio_to_audio/conf/multichannel_enhancement.yaml
  examples/asr/experimental/audio_to_audio/process_audio.py
  examples/asr/experimental/audio_to_audio/speech_enhancement.py
  nemo/collections/asr/data/audio_to_audio.py
  nemo/collections/asr/data/audio_to_audio_dataset.py
  nemo/collections/asr/losses/__init__.py
  nemo/collections/asr/losses/audio_losses.py
  nemo/collections/asr/models/__init__.py
  nemo/collections/asr/models/audio_to_audio_model.py
  nemo/collections/asr/models/enhancement_models.py
  nemo/collections/asr/modules/__init__.py
  nemo/collections/asr/modules/audio_modules.py
  nemo/collections/asr/modules/audio_preprocessing.py
  nemo/collections/asr/parts/utils/audio_utils.py
  tests/collections/asr/test_asr_datasets.py
  tests/collections/asr/test_asr_losses.py
  tests/collections/asr/test_audio_modules.py
  tests/collections/asr/test_audio_preprocessing.py
  tests/collections/asr/utils/test_audio_utils.py
Labels: feature, ASR

#5666 [TTS][ZH] fix broken link for the script.
  tutorials/tts/FastPitch_ChineseTTS_Training.ipynb
Labels: TTS

#5681 Expose ClusteringDiarizer device
  examples/speaker_tasks/diarization/conf/inference/diar_infer_general.yaml
  examples/speaker_tasks/diarization/conf/inference/diar_infer_meeting.yaml
  examples/speaker_tasks/diarization/conf/inference/diar_infer_telephonic.yaml
  nemo/collections/asr/models/clustering_diarizer.py
Labels: bug, ASR, Speaker Tasks

#5443 Add Beam Search support to ASR transcribe()
  docs/source/asr/api.rst
  docs/source/asr/asr_language_modeling.rst
  examples/asr/transcribe_speech.py
  nemo/collections/asr/metrics/wer.py
  nemo/collections/asr/metrics/wer_bpe.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/parts/submodules/ctc_beam_decoding.py
  scripts/asr_language_modeling/ngram_lm/eval_beamsearch_ngram.py
  scripts/asr_language_modeling/ngram_lm/train_kenlm.py
  tests/collections/asr/decoding/test_ctc_decoding.py
Labels: feature, ASR

#5669 Propagate attention_dropout flag for GPT-3
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
Labels: NLP

#5623 Enc-Dec model size reporting fixes
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
Labels: NLP

#5527 Multiblank Transducer
  README.rst
  examples/asr/conf/conformer/multiblank/conformer_multiblank_transducer_bpe.yaml
  nemo/collections/asr/losses/rnnt.py
  nemo/collections/asr/losses/rnnt_pytorch.py
  nemo/collections/asr/metrics/rnnt_wer.py
  nemo/collections/asr/metrics/rnnt_wer_bpe.py
  nemo/collections/asr/modules/rnnt.py
  nemo/collections/asr/modules/rnnt_abstract.py
  nemo/collections/asr/parts/numba/rnnt_loss/__init__.py
  nemo/collections/asr/parts/numba/rnnt_loss/rnnt.py
  nemo/collections/asr/parts/numba/rnnt_loss/rnnt_pytorch.py
  nemo/collections/asr/parts/numba/rnnt_loss/utils/cuda_utils/gpu_rnnt.py
  nemo/collections/asr/parts/numba/rnnt_loss/utils/cuda_utils/gpu_rnnt_kernel.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  tests/collections/asr/numba/rnnt_loss/test_rnnt_pytorch.py
  tests/collections/asr/test_asr_rnnt_encdec_model.py
Labels: ASR

#5689 Remove cell output from tutorial
  tutorials/nlp/Token_Classification-BioMegatron.ipynb
Labels: NLP

#5683 [TN/TTS docs] TN customization, g2p docs moved to tts
  docs/source/nlp/text_normalization/wfst/intro.rst
  docs/source/nlp/text_normalization/wfst/wfst_customization.rst
  docs/source/nlp/text_normalization/wfst/wfst_resources.rst
  docs/source/nlp/text_normalization/wfst/wfst_text_normalization.rst
  docs/source/nlp/text_normalization/wfst/wfst_text_processing_deployment.rst
  docs/source/starthere/tutorials.rst
  docs/source/text_processing/intro.rst
  docs/source/text_processing/text_processing_all.bib
  docs/source/tts/g2p.rst
  docs/source/tts/images/data_labeling_pipeline.png
  docs/source/tts/intro.rst
  docs/source/tts/tts_all.bib
Labels: TTS, NLP

#5649 Add prompt learning tests
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_gpt_prompt_learning_inference.yaml
  examples/nlp/language_modeling/megatron_gpt_prompt_learning_eval.py
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_adapter_inference.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_adapter_tuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_ia3_inference.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_adapter_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_adapter_tuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_ia3_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_ia3_tuning.py
  examples/nlp/language_modeling/tuning/megatron_t5_adapter_eval.py
  examples/nlp/language_modeling/tuning/megatron_t5_adapter_tuning.py
  examples/nlp/language_modeling/tuning/megatron_t5_ia3_eval.py
  examples/nlp/language_modeling/tuning/megatron_t5_ia3_tuning.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
Labels: NLP, CI

#5691 Fix missing torchelastic fixes for PTL 1.8
  examples/nlp/language_modeling/megatron_bert_pretraining.py
  examples/nlp/language_modeling/megatron_gpt_pretraining.py
  examples/nlp/language_modeling/megatron_gpt_prompt_learning.py
  examples/nlp/language_modeling/megatron_t5_seq2seq_finetune.py
Labels: NLP

#5696 temp disable speaker recognision CI test
  Jenkinsfile
Labels: CI
