Repository NVIDIA-NeMo/NeMo, pull requests merged in 2022-10, with the labels that each got.

#5087 [TTS] fixed wrong val loss for epoch 0 and inconsistent metrics names
  examples/tts/conf/de/fastpitch_align_22050.yaml
  examples/tts/conf/de/fastpitch_align_44100.yaml
  examples/tts/conf/fastpitch_align_44100.yaml
  examples/tts/conf/fastpitch_align_ipa.yaml
  examples/tts/conf/fastpitch_align_v1.05.yaml
  nemo/collections/tts/models/fastpitch.py
  nemo/core/utils/numba_utils.py
  scripts/dataset_processing/tts/generate_mels_for_finetune_hifigan.py
  tutorials/tts/FastPitch_GermanTTS_Training.ipynb
Labels: fix

#4927 [ASR][Tools] RIR corpus generator
  nemo/collections/asr/data/data_simulation.py
  tests/collections/asr/test_asr_data_simulation.py
  tools/rir_corpus_generator/README.md
  tools/rir_corpus_generator/conf/rir_corpus.yaml
  tools/rir_corpus_generator/rir_corpus_generator.py
Labels: feature

#4564 [Fix] schedulers with no max_steps param
  nemo/core/optim/lr_scheduler.py
Labels: stale

#4518 [TTS] bug fix - sample rate was being ignored in vocoder dataset
  nemo/collections/asr/parts/preprocessing/segment.py
  nemo/collections/tts/torch/data.py
Labels: fix

#4764 Add EMA support to NeMo
  Jenkinsfile
  nemo/collections/common/callbacks/__init__.py
  nemo/collections/common/callbacks/ema.py
  nemo/utils/exp_manager.py
  tests/collections/common/test_ema.py
Labels: enhancement
