Repository NVIDIA-NeMo/NeMo, pull requests merged in 2022-08, with the labels that each got.

#4636 Fix multiple dev/test datasets after restoring from checkpoint
  examples/nlp/token_classification/punctuation_capitalization_train_evaluate.py
Labels: bug

#4640 Fix/need different cache dirs for different datasets
  nemo/collections/nlp/data/token_classification/punctuation_capitalization_dataset.py
  nemo/collections/nlp/data/token_classification/token_classification_dataset.py
  nemo/collections/nlp/models/token_classification/punctuation_capitalization_model.py
Labels: bug

#4677 [TTS] fixed wrong pronunciations for r1.11.
  examples/tts/conf/aligner.yaml
  examples/tts/conf/fastpitch_align_44100.yaml
  examples/tts/conf/fastpitch_align_ipa.yaml
  examples/tts/conf/fastpitch_align_v1.05.yaml
  examples/tts/conf/mixer-tts.yaml
  examples/tts/conf/rad-tts_dec.yaml
  examples/tts/conf/rad-tts_feature_pred.yaml
  examples/tts/conf/tacotron2.yaml
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/torch/g2ps.py
  nemo/collections/tts/torch/tts_dataset.yaml
  scripts/dataset_processing/tts/ljspeech/ds_conf/ds_for_fastpitch_align.yaml
  scripts/dataset_processing/tts/ljspeech/ds_conf/ds_for_mixer_tts.yaml
  scripts/tts_dataset_files/cmudict-0.7b_nv22.08
  scripts/tts_dataset_files/ipa_cmudict-0.7b_nv22.08.txt
Labels: fix

#4684 [TTS] incremented the version number to 22.08 in tutorials.
  tutorials/tts/FastPitch_Finetuning.ipynb
  tutorials/tts/FastPitch_MixerTTS_Training.ipynb
  tutorials/tts/Tacotron2_Training.ipynb
Labels: fix

#4725 [TTS] bugfix for missing configs.
  scripts/dataset_processing/tts/extract_sup_data.py
  tutorials/tts/FastPitch_GermanTTS_Training.ipynb
Labels: fix

#4786 Fix logger reference
  nemo/collections/nlp/data/language_modeling/text_memmap_dataset.py
Labels: bug

#4839 Fix small spelling mistakes
  examples/speaker_tasks/README.md
  examples/speaker_tasks/diarization/README.md
Labels: documentation
