Repository NVIDIA-NeMo/NeMo, pull requests merged in 2022-09, with the labels that each got.

#4858 Missing types in clustering
  nemo/collections/asr/parts/utils/nmesc_clustering.py
Labels: cleanup

#4865 Fix error with class method reference in msdd
  nemo/collections/asr/models/msdd_models.py
Labels: bug

#4881 Changes to MSDD code after review, fix test log call
  nemo/collections/asr/models/msdd_models.py
Labels: cleanup

#4864 Add AMI dataset script
  docs/source/asr/speaker_diarization/datasets.rst
  scripts/dataset_processing/get_ami_data.py
Labels: feature

#4876 Add sync for logging calls to ensure aggregation across devices
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
Labels: bug

#4905 Fix saving the last checkpoint when using val check interval
  nemo/utils/exp_manager.py
  tests/core/test_exp_manager.py
Labels: bug

#4922 Add support for skipping validation on resume + extend saving last ckpt test
  examples/nlp/machine_translation/enc_dec_nmt_finetune.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retrieval_model.py
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
  nemo/collections/nlp/models/machine_translation/mt_enc_dec_model.py
  nemo/collections/nlp/models/text_classification/text_classification_model.py
  nemo/utils/exp_manager.py
  tests/core/test_exp_manager.py
Labels: bug

#4870 [ASR] Generate multichannel noise
  nemo/collections/asr/parts/utils/audio_utils.py
  requirements/requirements_asr.txt
  tests/collections/asr/utils/test_audio_utils.py
Labels: feature

#4928 Sparrowhawk deployment fix
  tools/text_processing_deployment/Dockerfile
Labels: fix

#4949 [TTS] fix broken tutorial for MixerTTS.
  tutorials/tts/FastPitch_MixerTTS_Training.ipynb
Labels: fix

#4974 Improvements to AMI script
  scripts/dataset_processing/get_ami_data.py
Labels: enhancement

#5051 don't use bfloat16 when in jit
  nemo/collections/common/parts/training_utils.py
Labels: bug, Core API
