Repository NVIDIA-NeMo/NeMo, pull requests merged in 2022-11, with the labels that each got.

#5348 bugfix in volume loss for CTC models
  nemo/collections/asr/losses/ctc.py
Labels: bug

#5444 Fix setting up of `ReduceLROnPlateau` learning rate scheduler
  nemo/core/config/schedulers.py
  tests/core/test_optimizers_schedulers.py
Labels: bug

#5448 Set sync_batch_comm=False in prompt learning and inference
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
Labels: bug, NLP

#5451 Radtts 1.13
  Jenkinsfile
  nemo/collections/common/callbacks/callbacks.py
  nemo/collections/tts/models/radtts.py
  nemo/collections/tts/modules/common.py
  nemo/collections/tts/modules/radtts.py
  nemo/collections/tts/modules/submodules.py
  nemo/core/classes/exportable.py
  nemo/core/optim/radam.py
  nemo/utils/cast_utils.py
  nemo/utils/export_utils.py
  scripts/export.py
  tests/collections/tts/test_tts_exportables.py
Labels: TTS

#5450 JOC Optimization in FastPitch
  nemo/collections/tts/helpers/helpers.py
  nemo/collections/tts/losses/aligner_loss.py
  nemo/collections/tts/modules/transformer.py
Labels: TTS

#5440 Refactor/unify ASR offline and buffered inference
  examples/asr/asr_chunked_inference/ctc/speech_to_text_buffered_infer_ctc.py
  examples/asr/asr_chunked_inference/rnnt/speech_to_text_buffered_infer_rnnt.py
  examples/asr/transcribe_speech.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: cleanup, ASR

#5439 Standalone diarization+ASR evaluation script
  examples/speaker_tasks/diarization/clustering_diarizer/offline_diar_with_asr_infer.py
  examples/speaker_tasks/diarization/conf/inference/diar_infer_general.yaml
  nemo/collections/asr/metrics/der.py
  nemo/collections/asr/models/clustering_diarizer.py
  nemo/collections/asr/parts/utils/diarization_utils.py
  nemo/collections/asr/parts/utils/speaker_utils.py
  nemo/collections/asr/parts/utils/vad_utils.py
  scripts/speaker_tasks/eval_diar_with_asr.py
  tutorials/speaker_tasks/ASR_with_SpeakerDiarization.ipynb
  tutorials/speaker_tasks/Speaker_Diarization_Inference.ipynb
Labels: feature, ASR, Speaker Tasks

#5475 Fix a bug with positional vs key-word based argument passing in the transformer layer
  nemo/collections/nlp/modules/common/megatron/transformer.py
Labels: bug, NLP

#5476 Add Silence Augmentation
  nemo/collections/asr/parts/preprocessing/__init__.py
  nemo/collections/asr/parts/preprocessing/perturb.py
  tests/collections/asr/test_preprocessing_segment.py
Labels: feature, ASR, Speaker Tasks

#5512 add exportable mel spec
  nemo/collections/asr/modules/audio_preprocessing.py
  nemo/collections/asr/parts/preprocessing/features.py
Labels: ASR

#5312 add RNN-T loss implemented by PyTorch and test code
  nemo/collections/asr/losses/rnnt.py
  nemo/collections/asr/losses/rnnt_pytorch.py
  tests/collections/asr/numba/rnnt_loss/test_rnnt_pytorch.py
Labels: ASR

#5523 prompt tuning fix for unscale grad errors
  Jenkinsfile
  nemo/collections/nlp/modules/common/prompt_table.py
Labels: NLP, CI

#5196 [ASR] AudioToAudio datasets and related test
  nemo/collections/asr/data/audio_to_audio.py
  nemo/collections/asr/data/audio_to_audio_dataset.py
  nemo/collections/asr/parts/preprocessing/segment.py
  nemo/collections/asr/parts/utils/audio_utils.py
  nemo/collections/common/parts/preprocessing/collections.py
  nemo/collections/common/parts/preprocessing/manifest.py
  nemo/collections/common/parts/utils.py
  tests/collections/asr/test_asr_datasets.py
  tests/collections/asr/utils/test_audio_utils.py
  tests/collections/common/test_utils.py
Labels: feature, ASR, common
