Repository NVIDIA-NeMo/NeMo, pull requests merged in 2023-03, with the labels that each got.

#6122 CS bugfix
  nemo/collections/asr/data/audio_to_text.py
Labels: bug, ASR

#6094 Fix k2 and torchaudio installation (Docker, macOS)
  Dockerfile
  scripts/installers/install_torchaudio_latest.sh
  scripts/speech_recognition/k2/setup.sh
Labels: CI

#6063 Ngram
  examples/asr/speech_to_text_eval.py
  examples/asr/transcribe_speech.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  scripts/asr_language_modeling/ngram_lm/eval_beamsearch_ngram.py
Labels: ASR

#6124 Fix k2 and torchaudio installation (Docker, macOS). Cherry-pick (#6094)
  Dockerfile
  scripts/installers/install_torchaudio_latest.sh
  scripts/speech_recognition/k2/setup.sh
Labels: CI

#6125 [TTS] update German NGC models trained on Thorsten Datasets
  docs/source/tts/data/datasets.csv
  docs/source/tts/data/ngc_models_am.csv
  docs/source/tts/data/ngc_models_vocoder.csv
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/models/hifigan.py
Labels: TTS

#6049 Add flag to get attention from fusion
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: stale, NLP

#6128 [TTS] remove old waveglow model that relies on torch_stft.
  docs/source/tts/data/ngc_models_vocoder.csv
  nemo/collections/tts/models/waveglow.py
Labels: TTS

#6136 [TTS] Spectrogram Enhancer: add option to zero out the initial tensor
  examples/tts/conf/spectrogram-enhancer.yaml
  nemo/collections/tts/modules/spectrogram_enhancer.py
Labels: TTS

#6082 Davidm/cherrypick r1.16.0
  Dockerfile
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_gpt_prompt_learning_config.yaml
  examples/nlp/language_modeling/conf/megatron_t5_prompt_learning.yaml
  examples/nlp/language_modeling/megatron_gpt_pretraining.py
  nemo/collections/nlp/data/language_modeling/megatron/data_samplers.py
  nemo/collections/nlp/data/language_modeling/megatron/indexed_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/core/optim/distributed_adam.py
  nemo/utils/exp_manager.py
  tests/core/test_config_utils.py
Labels: core, NLP, CI

#6095 Megatron Encoder-Decoder Sampler Function
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#6150 Update branch for pynini install script in notebooks
  tutorials/AudioTranslationSample.ipynb
  tutorials/VoiceSwapSample.ipynb
  tutorials/text_processing/Text_(Inverse)_Normalization.ipynb
  tutorials/text_processing/WFST_Tutorial.ipynb
  tutorials/tts/Aligner_Inference_Examples.ipynb
  tutorials/tts/FastPitch_Finetuning.ipynb
  tutorials/tts/FastPitch_MixerTTS_Training.ipynb
  tutorials/tts/Inference_DurationPitchControl.ipynb
  tutorials/tts/Inference_ModelSelect.ipynb
  tutorials/tts/Pronunciation_customization.ipynb
  tutorials/tts/Tacotron2_Training.ipynb
Labels: TTS

#6152 update finetune configs
  examples/speaker_tasks/recognition/conf/titanet-finetune.yaml
  examples/speaker_tasks/recognition/speaker_reco_finetune.py
Labels: Speaker Tasks

#6154 Sentence piece legacy false compatibility
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
Labels: NLP

#6159 convert Megatron LM ckpt to NeMo PP support.
  examples/nlp/language_modeling/conf/megatron_gpt_inference.yaml
  examples/nlp/language_modeling/megatron_gpt_eval.py
  examples/nlp/language_modeling/megatron_lm_ckpt_to_nemo.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron_web_server.py
Labels: NLP

#6160 Merge r1.16.0 release main
  examples/nlp/language_modeling/megatron_gpt_pretraining.py
  nemo/collections/nlp/data/language_modeling/megatron/indexed_dataset.py
  nemo/package_info.py
  tutorials/AudioTranslationSample.ipynb
  tutorials/VoiceSwapSample.ipynb
  tutorials/tts/FastPitch_ChineseTTS_Training.ipynb
  tutorials/tts/FastPitch_Finetuning.ipynb
  tutorials/tts/FastPitch_GermanTTS_Training.ipynb
  tutorials/tts/NeMo_TTS_Primer.ipynb
Labels: TTS, NLP

#6115 Save model parallel .nemo in ExpManager
  nemo/core/classes/modelPT.py
  nemo/utils/exp_manager.py
  tests/collections/asr/decoding/test_rnnt_decoding.py
Labels: core

#6129 [TTS][refactor] Part 8 - added model inference tests to safeguard changes.
  docs/source/starthere/intro.rst
  docs/source/tts/checkpoints.rst
  docs/source/tts/data/ngc_models_vocoder.csv
  examples/tts/test_tts_infer.py
  nemo/collections/tts/g2p/modules.py
  nemo/collections/tts/models/hifigan.py
  nemo/collections/tts/models/waveglow.py
  tests/collections/tts/models/test_aligner.py
  tests/collections/tts/models/test_fastpitch.py
  tests/collections/tts/models/test_hifigan.py
  tests/collections/tts/models/test_mixerTTS.py
  tests/collections/tts/models/test_tacotron2.py
  tests/collections/tts/models/test_univNet.py
  tests/collections/tts/models/test_vits.py
  tests/collections/tts/models/test_waveGlow.py
  tests/collections/tts/test_tts_exportables.py
  tests/conftest.py
  tests/fixtures/tts.py
  tutorials/AudioTranslationSample.ipynb
  tutorials/VoiceSwapSample.ipynb
  tutorials/tts/FastPitch_Finetuning.ipynb
  tutorials/tts/Inference_DurationPitchControl.ipynb
  tutorials/tts/Inference_ModelSelect.ipynb
  tutorials/tts/NeMo_TTS_Primer.ipynb
  tutorials/tts/Pronunciation_customization.ipynb
Labels: TTS

#6083 Fix incomplete batches
  nemo/collections/nlp/data/language_modeling/megatron/data_samplers.py
Labels: stale, NLP

#6061 Propagate LayerNorm1P to TE
  nemo/collections/nlp/modules/common/megatron/transformer.py
Labels: stale, NLP

#6165 Update docs for ExpManager and Exportable frameworks
  docs/source/conf.py
  docs/source/core/adapters/api.rst
  docs/source/core/adapters/components.rst
  docs/source/core/api.rst
  docs/source/core/exp_manager.rst
  docs/source/core/export.rst
  nemo/core/classes/exportable.py
  nemo/utils/exp_manager.py
  nemo/utils/loggers/__init__.py
  nemo/utils/loggers/mlflow_logger.py
Labels: core

#6173 Tn fix docs
  docs/source/nlp/text_normalization/intro.rst
  docs/source/nlp/text_normalization/wfst/intro.rst
  nemo/collections/nlp/data/__init__.py
Labels: NLP

#6088 remove duplicate definition of manifest read and write func.
  docs/source/asr/examples/kinyarwanda_asr.rst
  examples/asr/experimental/sclite/speech_to_text_sclite.py
  nemo/collections/asr/parts/utils/manifest_utils.py
  nemo/collections/tts/parts/utils/tts_dataset_utils.py
  scripts/dataset_processing/tts/audio_processing/preprocess_audio.py
  scripts/dataset_processing/tts/compute_speaker_stats.py
  scripts/dataset_processing/tts/resynthesize_dataset.py
  scripts/speaker_tasks/filelist_to_manifest.py
  scripts/speech_recognition/code_switching/code_switching_audio_data_creation.py
  scripts/speech_recognition/code_switching/code_switching_manifest_creation.py
  tutorials/asr/ASR_CTC_Language_Finetuning.ipynb
  tutorials/asr/Buffered_Transducer_Inference.ipynb
  tutorials/asr/Buffered_Transducer_Inference_with_LCS_Merge.ipynb
  tutorials/asr/asr_adapters/ASR_with_Adapters.ipynb
Labels: TTS, ASR

#6182 Filter p-tuning by example length
  examples/nlp/language_modeling/conf/megatron_gpt_prompt_learning_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
Labels: NLP

#6178 Add sequence parallel support to Rope positional embedding
  nemo/collections/nlp/modules/common/megatron/language_model.py
Labels: NLP

#5837 Streaming conformer CTC export
  examples/asr/asr_cache_aware_streaming/speech_to_text_cache_aware_streaming_infer.py
  nemo/collections/asr/models/asr_model.py
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/parts/mixins/mixins.py
  nemo/collections/asr/parts/mixins/streaming.py
  nemo/collections/asr/parts/submodules/causal_convs.py
  nemo/collections/asr/parts/submodules/multi_head_attention.py
  nemo/collections/asr/parts/utils/streaming_utils.py
  nemo/core/classes/exportable.py
  nemo/core/utils/neural_type_utils.py
  nemo/utils/export_utils.py
  scripts/export.py
Labels: core, ASR

#6162 Upgrade base container to PyTorch 23.02
  Dockerfile
  Jenkinsfile
  README.rst
  ci.groovy
Labels: CI

#6157 [TTS] Add univnet scheduler
  nemo/collections/tts/models/univnet.py
Labels: TTS

#6155 [TTS] Make mel spectrogram norm configurable
  nemo/collections/asr/modules/audio_preprocessing.py
  nemo/collections/asr/parts/preprocessing/features.py
Labels: ASR

#6118 Ngram lm fusion for RNNT maes decoding
  nemo/collections/asr/metrics/rnnt_wer.py
  nemo/collections/asr/metrics/rnnt_wer_bpe.py
  nemo/collections/asr/parts/submodules/ctc_beam_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_beam_decoding.py
  nemo/collections/asr/parts/utils/rnnt_utils.py
  scripts/asr_language_modeling/ngram_lm/eval_beamsearch_ngram_transducer.py
  scripts/asr_language_modeling/ngram_lm/kenlm_utils.py
  scripts/asr_language_modeling/ngram_lm/train_kenlm.py
Labels: ASR

#6186 Fix scanning alert bugs
  nemo/collections/tts/modules/common.py
Labels: TTS

#6194 [TTS] fixed code scanning alert #774
  nemo/collections/tts/modules/common.py
Labels: TTS

#6196 [TTS] fixed code scanning alert 905
  nemo/collections/tts/modules/waveglow.py
Labels: TTS

#6199 [TTS] fix broken tutorial for Tacotron2
  tutorials/tts/Tacotron2_Training.ipynb
Labels: TTS

#6205 Add persistent workers to GPT
  examples/nlp/language_modeling/megatron_gpt_pretraining.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/clip_grads.py
Labels: NLP

#6212 Notebook fixes
  tutorials/02_NeMo_Adapters.ipynb
  tutorials/asr/asr_adapters/ASR_with_Adapters.ipynb
Labels: TTS, ASR, NLP, Speaker Tasks, CI

#6208 Update IPA dict path in tutorial
  tutorials/tts/NeMo_TTS_Primer.ipynb
Labels: TTS

#6184 Update ASR Data Simulator
  nemo/collections/asr/data/data_simulation.py
  nemo/collections/asr/parts/preprocessing/perturb.py
  tools/speech_data_simulator/conf/data_simulator.yaml
Labels: ASR

#6216 [TTS] fix bugs for chinese and german tutorials.
  tutorials/tts/FastPitch_ChineseTTS_Training.ipynb
  tutorials/tts/FastPitch_GermanTTS_Training.ipynb
Labels: TTS

#6198 [TTS] fixed code scanning alert 885
  nemo/collections/tts/models/tacotron2.py
Labels: TTS

#6220 [TTS] fixed code alert 871 and typos
  nemo/collections/tts/models/radtts.py
  nemo/collections/tts/modules/radtts.py
Labels: TTS

#6108 Add missing parameters to ModelCheckpoint CallbackParams
  nemo/utils/exp_manager.py
Labels: stale

#6225 Text generation logics calculation fix.
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#6230 rnnt loss contiguous labels fix
  nemo/collections/asr/losses/rnnt.py
Labels: ASR

#6215 Adding interCTC loss to hybrid models
  examples/asr/conf/conformer/hybrid_transducer_ctc/conformer_hybrid_transducer_ctc_bpe.yaml
  examples/asr/conf/conformer/hybrid_transducer_ctc/conformer_hybrid_transducer_ctc_char.yaml
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/parts/mixins/interctc_mixin.py
  tests/collections/asr/test_asr_ctcencdec_model.py
  tests/collections/asr/test_asr_interctc_models.py
Labels: ASR

#6231 RNNT patch
  nemo/collections/asr/losses/rnnt.py
Labels: ASR

#6046 Micro batch loader for bert model
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
Labels: stale, NLP

#6234 [BugFix] Fix diarization result path errors in tutorial notebook for r1.17.0
  tutorials/speaker_tasks/Speaker_Diarization_Inference.ipynb
Labels: Speaker Tasks

#5628 Concat tarred ds fixes, additional config parameters
  nemo/collections/asr/data/audio_to_text_dataset.py
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/enhancement_models.py
  nemo/collections/asr/models/hybrid_asr_tts_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/models/slu_models.py
  nemo/collections/asr/models/ssl_models.py
  nemo/collections/common/data/dataset.py
Labels: ASR, common

#6228 Fix bugs with interctc mixin
  nemo/collections/asr/parts/mixins/interctc_mixin.py
Labels: ASR

#6229 small bugfix and add asr evaluator to doc
  docs/source/tools/asr_evaluator.rst
  docs/source/tools/intro.rst
  nemo/collections/asr/parts/preprocessing/perturb.py
  tools/asr_evaluator/utils.py
Labels: ASR

#6190 Allow disabling document shuffling for GPT
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/data/language_modeling/megatron/gpt_dataset.py
Labels: NLP

#6183 Custom functions for distopt communication in interleaved pipeline parallelism
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/core/optim/distributed_adam.py
Labels: feature, core, NLP

#6240 fix small issue when running alsd beam-search with stateless decoders
  nemo/collections/asr/modules/rnnt.py
  nemo/collections/asr/parts/submodules/rnnt_beam_decoding.py
Labels: ASR

#6191 Bug fixing for bucketing dataset
  nemo/collections/asr/data/audio_to_text.py
Labels: ASR

#6244 ASR Beam search documentation
  docs/source/asr/asr_language_modeling.rst
  scripts/asr_language_modeling/ngram_lm/eval_beamsearch_ngram.py
Labels: ASR

#6254 Fix buckeing seeding
  nemo/collections/asr/data/audio_to_label_dataset.py
  nemo/collections/asr/data/audio_to_text_dataset.py
Labels: ASR

#6167 Added beam search to MegatronLMEncoderDecoderModel.decode
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#6172 Tts fixed vocab
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  nemo/collections/tts/data/tts_dataset.py
  nemo/collections/tts/g2p/modules.py
  tests/collections/common/tokenizers/text_to_speech/test_tts_tokenizers.py
  tests/collections/tts/g2p/test_modules.py
Labels: TTS, common

#6243 Flashlight improvements and fixes, also fixed potential VRAM leak in ctc_models.transcribe
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/modules/flashlight_decoder.py
  nemo/collections/asr/parts/submodules/ctc_beam_decoding.py
Labels: ASR

#6233 [ASR] Re-organizing data simulator with faster audio loading speed for data-simulator
  nemo/collections/asr/data/data_simulation.py
  nemo/collections/asr/parts/utils/data_simulation_utils.py
  tests/collections/asr/utils/test_data_simul_utils.py
  tools/speech_data_simulator/conf/data_simulator.yaml
Labels: ASR

#6164 Avoid unnecessarily accessing data loader with pipeline parallelism
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: bug, NLP

#6239 Add the capability to stop generation based on customized end strings
  nemo/collections/nlp/modules/common/megatron_web_server.py
  nemo/collections/nlp/modules/common/text_generation_server.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#6272 GPT P tuning Eval changes (#5952)
  examples/nlp/language_modeling/conf/megatron_gpt_prompt_learning_inference.yaml
  examples/nlp/language_modeling/megatron_gpt_prompt_learning_eval.py
Labels: NLP

#6275 updating Conformer CTC and RNNT BPE config files docstring
  examples/asr/conf/conformer/conformer_ctc_bpe.yaml
  examples/asr/conf/conformer/conformer_transducer_bpe.yaml
Labels: ASR

#6266 Add interface for p2p communication overlap and send receive overlap
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#6283 add template for taskname=taskname
  examples/nlp/language_modeling/conf/megatron_gpt_prompt_learning_config.yaml
Labels: NLP

#6260 Hybrid Autoregressive Transducer (HAT)
  nemo/collections/asr/metrics/rnnt_wer.py
  nemo/collections/asr/modules/__init__.py
  nemo/collections/asr/modules/hybrid_autoregressive_transducer.py
  nemo/collections/asr/parts/submodules/rnnt_beam_decoding.py
  nemo/collections/asr/parts/utils/rnnt_utils.py
  scripts/asr_language_modeling/ngram_lm/eval_beamsearch_ngram_transducer.py
  tests/collections/asr/test_asr_modules.py
  tests/collections/asr/test_asr_rnnt_encdec_model.py
Labels: ASR

#6139 Adding Validation Metrics for GPT/T5 prompt learning
  examples/nlp/language_modeling/conf/megatron_gpt_prompt_learning_config.yaml
  examples/nlp/language_modeling/conf/megatron_t5_prompt_learning.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_adapter_tuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_ia3_tuning_config.yaml
  nemo/collections/nlp/metrics/prompt_learning_metrics.py
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_adapter_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  requirements/requirements_nlp.txt
Labels: NLP

#6289 Add experimental MPS device support for ASR inference
  examples/asr/transcribe_speech.py
Labels: ASR

#6290 [ASR]:fixed augmentor arguments for transcribe functionality of Hybrid CTC-RNNT model
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
Labels: ASR

#6218 Support tp pp conversion
  Jenkinsfile
  examples/nlp/language_modeling/megatron_change_num_partitions.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, CI

#6293 updated ipa_cmudict files with the latest for tts
  examples/tts/conf/fastpitch_align_ipa.yaml
  examples/tts/conf/rad-tts_dec_ipa.yaml
  examples/tts/conf/rad-tts_feature_pred_ipa.yaml
  examples/tts/conf/vits.yaml
  examples/tts/conf/vits_44100.yaml
  tutorials/tts/Pronunciation_customization.ipynb
Labels: TTS

#6181 Synthetic dataloading for Megatron T5 and GPT models
  Jenkinsfile
  nemo/collections/nlp/data/language_modeling/megatron/dataset_utils.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/t5_dataset.py
Labels: NLP, CI

#6301 [BugFix] Fix the wrong branch name in speaker diarization inference notebook
  tutorials/speaker_tasks/Speaker_Diarization_Inference.ipynb
Labels: Speaker Tasks

#6307 update and deprecate warning for Mic notebook
  tutorials/asr/Online_ASR_Microphone_Demo.ipynb
  tutorials/asr/Online_Offline_Microphone_VAD_Demo.ipynb
  tutorials/asr/Online_Offline_Speech_Commands_Demo.ipynb
Labels: ASR

#6287 option to delay dataset .bin numpy buffer mmap creation in megatron
  nemo/collections/nlp/data/language_modeling/megatron/blendable_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/indexed_dataset.py
Labels: NLP

#6314 Make AIS CLI installation optional
  Dockerfile
  scripts/installers/install_ais_cli_latest.sh
Labels: CI

#6304 added RPE + fixed RMSNorm
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_export.py
  nemo/utils/export_utils.py
Labels: NLP

#5976 Implement getKneighborsConnections better
  nemo/collections/asr/parts/utils/offline_clustering.py
  tests/collections/asr/test_diar_utils.py
Labels: ASR

#6325 Restore Thutmose Tagger tutorial, move it to nlp
  docs/source/starthere/tutorials.rst
  tutorials/nlp/ITN_with_Thutmose_Tagger.ipynb
  tutorials/nlp/images/thutmose_tagger_alignment_bottom.png
  tutorials/nlp/images/thutmose_tagger_alignment_top.png
  tutorials/nlp/images/thutmose_tagger_architecture.png
  tutorials/nlp/images/thutmose_tagger_final_alignment.png
  tutorials/nlp/images/thutmose_tagger_tag_vocabulary.png
Labels: NLP

#6316 Fix some typos in Multitask_Prompt_and_PTuning notebook
  tutorials/nlp/Multitask_Prompt_and_PTuning.ipynb
Labels: NLP

#6280 sampler padding fix for per-micro-batch input loader
  nemo/collections/nlp/data/language_modeling/megatron/data_samplers.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_dataset.py
Labels: NLP

#6336 Fix RNNT Joint narrow()
  nemo/collections/asr/modules/rnnt.py
Labels: ASR

#6326 simplified notebook for p-tuning
  tutorials/nlp/Multitask_Prompt_and_PTuning.ipynb
Labels: NLP

#6297 Bugfix for BF16 grad reductions with distopt
  nemo/collections/nlp/modules/common/megatron/clip_grads.py
  nemo/core/optim/distributed_adam.py
Labels: bug, core, NLP

#6310 [BugFix] Fix multi-processing bug in data simulator
  nemo/collections/asr/data/data_simulation.py
  nemo/collections/asr/parts/utils/data_simulation_utils.py
  tests/collections/asr/utils/test_data_simul_utils.py
  tools/speech_data_simulator/conf/data_simulator.yaml
Labels: ASR

#6341 remove pinned numba version in Dockerfile
  Dockerfile
Labels: CI

#6340 Bugfix for BF16 grad reductions with distopt
  nemo/collections/nlp/modules/common/megatron/clip_grads.py
  nemo/core/optim/distributed_adam.py
Labels: bug, core, NLP

#6320 Fixing bug in unsort_tensor
  nemo/collections/tts/parts/utils/helpers.py
  tests/collections/tts/test_helpers.py
Labels: TTS
