Repository NVIDIA-NeMo/NeMo, pull requests merged in 2023-10, with the labels that each got.

#7589 PEFT needs mp config propagated for dist ckpt
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_tuning.py
Labels: NLP

#7540 StarCoder SFT test + bump PyT NGC image to 23.09
  Jenkinsfile
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
Labels: NLP, CI

#7597 Fix validation in G2PModel and ThutmoseTaggerModel
  nemo/collections/nlp/models/text_normalization_as_tagging/thutmose_tagger.py
  nemo/collections/tts/g2p/models/t5.py
Labels: TTS, NLP

#7415 Add yarn
  examples/nlp/language_modeling/megatron_gpt_continue_training.py
  examples/nlp/language_modeling/megatron_gpt_eval_zero_scrolls.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/rotary_position_embedding.py
Labels: NLP

#7587 add ItalianPhonemesTokenizer
  nemo/collections/common/tokenizers/text_to_speech/ipa_lexicon.py
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  tests/collections/common/tokenizers/text_to_speech/test_tts_tokenizers.py
Labels: TTS, common

#7602 [TTS] Fix FastPitch data prep tutorial
  scripts/dataset_processing/tts/preprocess_text.py
  tutorials/tts/FastPitch_Data_Preparation.ipynb
Labels: TTS

#7591 Typo fixes
  tutorials/asr/ASR_Confidence_Estimation.ipynb
  tutorials/asr/Confidence_Ensembles.ipynb
Labels: ASR

#7604 Fix metrics for SE tutorial
  nemo/collections/asr/models/audio_to_audio_model.py
  tutorials/audio_tasks/speech_enhancement/Speech_Enhancement_with_NeMo.ipynb
Labels: ASR

#7608 fix ssl models ptl monitor val through logging
  nemo/collections/asr/models/ssl_models.py
  tutorials/asr/Self_Supervised_Pre_Training.ipynb
Labels: ASR

#7582 Fix py3.11 dataclasses issue
  examples/asr/experimental/k2/align_speech_parallel.py
  nemo/collections/asr/metrics/rnnt_wer.py
  nemo/collections/asr/metrics/wer.py
  nemo/collections/asr/models/configs/aligner_config.py
  nemo/collections/asr/models/configs/asr_models_config.py
  nemo/collections/asr/models/configs/classification_models_config.py
  nemo/collections/asr/models/configs/diarizer_config.py
  nemo/collections/asr/models/configs/k2_sequence_models_config.py
  nemo/collections/asr/models/configs/matchboxnet_config.py
  nemo/collections/asr/models/configs/quartznet_config.py
  nemo/collections/asr/modules/audio_preprocessing.py
  nemo/collections/asr/parts/k2/classes.py
  nemo/collections/asr/parts/submodules/adapters/multi_head_attention_adapter_module.py
  nemo/collections/asr/parts/submodules/ctc_beam_decoding.py
  nemo/collections/asr/parts/submodules/ctc_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/utils/asr_confidence_utils.py
  nemo/collections/common/parts/adapter_modules.py
  nemo/collections/common/tokenizers/en_ja_tokenizers.py
  nemo/collections/nlp/models/machine_translation/mt_enc_dec_config.py
  nemo/collections/nlp/models/token_classification/punctuation_capitalization_config.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoders.py
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/models/tacotron2.py
  nemo/core/config/modelPT.py
  nemo/utils/exp_manager.py
  requirements/requirements_nlp.txt
  scripts/asr_language_modeling/ngram_lm/eval_beamsearch_ngram.py
  scripts/asr_language_modeling/ngram_lm/eval_beamsearch_ngram_transducer.py
  scripts/confidence_ensembles/build_ensemble.py
  scripts/speech_recognition/confidence/benchmark_asr_confidence.py
  scripts/speech_recognition/convert_to_tarred_audio_dataset.py
  tests/collections/asr/test_text_to_text_dataset.py
  tools/nemo_forced_aligner/align.py
Labels: core, TTS, ASR, NLP, common

#7485 Safeguard nemo_text_processing installation on ARM
  examples/nlp/duplex_text_normalization/duplex_text_normalization_infer.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/electronic/normalize.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/electronic/tokenize_and_classify.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/electronic/verbalize.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/electronic/verbalize_final.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/whitelist/normalize.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/whitelist/tokenize_and_classify.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/whitelist/verbalize.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/whitelist/verbalize_final.py
  requirements/requirements_tts.txt
  scripts/dataset_processing/tts/hui_acg/get_data.py
  scripts/dataset_processing/tts/ljspeech/get_data.py
  scripts/dataset_processing/tts/preprocess_text.py
  scripts/dataset_processing/tts/sfbilingual/get_data.py
  scripts/dataset_processing/tts/thorsten_neutral/get_data.py
  tests/collections/asr/test_text_to_text_dataset.py
  tools/ctc_segmentation/requirements.txt
  tutorials/asr/ASR_TTS_Tutorial.ipynb
  tutorials/tts/FastPitch_MixerTTS_Training.ipynb
  tutorials/tts/NeMo_TTS_Primer.ipynb
Labels: TTS, ASR, NLP

#7594 Fix ptuning crash for llama 2 ckpt
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#7622 fix llama2 70b lora tuning bug
  nemo/collections/nlp/parts/peft_config.py
Labels: NLP

#7626 PEFT eval fix
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#7637 Propagate mp config for continue training
  examples/nlp/language_modeling/megatron_gpt_continue_training.py
Labels: NLP

#7621 bugfix: trainer.gpus, trainer.strategy, trainer.accelerator
  docs/source/asr/speaker_diarization/datasets.rst
  examples/asr/experimental/k2/align_speech_parallel.py
  examples/asr/experimental/k2/speech_to_text_bpe.py
  examples/asr/speech_translation/speech_to_text_transformer.py
  examples/nlp/intent_slot_classification/multi_label_intent_slot_classification.py
  tutorials/tts/FastPitch_MixerTTS_Training.ipynb
  tutorials/tts/Tacotron2_Training.ipynb
  tutorials/tts/Vits_Training.ipynb
Labels: TTS, ASR, NLP

#7641 add fc large ls models
  docs/source/asr/data/benchmark_en.csv
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
Labels: ASR

#7623 Add ddp_find_unused_parameters=True and change accelerator to auto
  examples/nlp/intent_slot_classification/intent_slot_classification.py
  examples/nlp/question_answering/question_answering.py
  examples/nlp/text_normalization_as_tagging/normalization_as_tagging_train.py
  examples/nlp/token_classification/token_classification_train.py
  nemo/collections/nlp/models/text_normalization_as_tagging/thutmose_tagger.py
  tutorials/nlp/Entity_Linking_Medical.ipynb
Labels: NLP

#7619 Safeguard nemo_text_processing installation on ARM (#7485)
  examples/nlp/duplex_text_normalization/duplex_text_normalization_infer.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/electronic/normalize.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/electronic/tokenize_and_classify.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/electronic/verbalize.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/electronic/verbalize_final.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/whitelist/normalize.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/whitelist/tokenize_and_classify.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/whitelist/verbalize.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/whitelist/verbalize_final.py
  requirements/requirements_tts.txt
  scripts/dataset_processing/tts/hui_acg/get_data.py
  scripts/dataset_processing/tts/ljspeech/get_data.py
  scripts/dataset_processing/tts/preprocess_text.py
  scripts/dataset_processing/tts/sfbilingual/get_data.py
  scripts/dataset_processing/tts/thorsten_neutral/get_data.py
  tests/collections/asr/test_text_to_text_dataset.py
  tools/ctc_segmentation/requirements.txt
  tutorials/asr/ASR_TTS_Tutorial.ipynb
  tutorials/tts/FastPitch_MixerTTS_Training.ipynb
  tutorials/tts/NeMo_TTS_Primer.ipynb
Labels: TTS, ASR, NLP

#7650 Fix issues with Dockerfile
  Dockerfile
Labels: CI

#7636 [ASR] Fix type error in jasper
  nemo/collections/asr/parts/submodules/jasper.py
Labels: ASR

#7635 [ASR] RNN-T greedy decoding max_frames fix for alignment and confidence
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  tests/collections/asr/test_asr_rnnt_encdec_model.py
Labels: ASR

#7651 [TTS] Add dataset to path of logged artifacts
  nemo/collections/tts/data/text_to_speech_dataset.py
  nemo/collections/tts/data/vocoder_dataset.py
  nemo/collections/tts/parts/utils/callbacks.py
Labels: TTS

#7468 [TTS] Add STFT and SI-SDR loss to audio codec recipe
  examples/tts/conf/audio_codec/audio_codec_24000.yaml
  examples/tts/conf/audio_codec/encodec_24000.yaml
  nemo/collections/tts/losses/audio_codec_loss.py
  nemo/collections/tts/models/audio_codec.py
  nemo/collections/tts/modules/encodec_modules.py
  nemo/collections/tts/parts/utils/helpers.py
  tests/collections/tts/losses/test_audio_codec_loss.py
  tests/collections/tts/modules/test_audio_codec_modules.py
Labels: TTS

#7649 Add find_unused_parameters_true for text_classiftn and punctuation_capitalization
  examples/nlp/text_classification/text_classification_with_bert.py
  examples/nlp/token_classification/punctuation_capitalization_lexical_audio_train_evaluate.py
Labels: NLP

#7538 Create per.py
  examples/asr/speech_to_text_eval.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  nemo/collections/common/metrics/punct_er.py
  tests/collections/common/test_metrics.py
Labels: ASR, common

#7648 conversion issue fix
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#7655 generalized chat sft prompt
  examples/nlp/language_modeling/megatron_gpt_eval.py
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_sft.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_chat_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  scripts/nlp_language_modeling/sft/data_clean.py
  scripts/nlp_language_modeling/sft/preprocessing.py
  tests/collections/nlp/test_chat_sft_dataset.py
Labels: NLP

#7671 Fix vad & speech command tutorial - onnx
  tutorials/asr/Online_Offline_Microphone_VAD_Demo.ipynb
  tutorials/asr/Online_Offline_Speech_Commands_Demo.ipynb
Labels: ASR

#7681 Replace strategy='dp'/None with 'auto'
  examples/nlp/dialogue/dialogue.py
  examples/nlp/text_classification/text_classification_with_bert.py
  examples/nlp/token_classification/token_classification_train.py
  tutorials/asr/ASR_with_Subword_Tokenization.ipynb
  tutorials/asr/Speech_Commands.ipynb
  tutorials/asr/Voice_Activity_Detection.ipynb
  tutorials/nlp/Question_Answering.ipynb
  tutorials/speaker_tasks/Speaker_Identification_Verification.ipynb
Labels: ASR, NLP, Speaker Tasks

#7684 Fix multi rank finetune for ASR
  examples/asr/speech_to_text_finetune.py
Labels: ASR

#7701 Tkonuk/joint peft
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_tuning_config.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_tuning.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  scripts/nlp_language_modeling/merge_lora_weights/conf/merge_lora_weights.yaml
  scripts/nlp_language_modeling/merge_lora_weights/merge.py
Labels: NLP

#7679 Update docs: readme, getting started, ASR intro
  README.rst
  docs/source/asr/asr_language_modeling.rst
  docs/source/asr/datasets.rst
  docs/source/asr/intro.rst
  docs/source/asr/resources.rst
  docs/source/asr/results.rst
  docs/source/conf.py
  docs/source/starthere/intro.rst
Labels: ASR

#7703 Fix a nlp nb onnx
  tutorials/nlp/Text_Classification_Sentiment_Analysis.ipynb
Labels: NLP

#7706 move core install to /workspace
  Dockerfile
Labels: CI

#7317 [ASR] Multichannel mask estimator with flex number of channels
  examples/audio_tasks/conf/beamforming_flex_channels.yaml
  examples/audio_tasks/process_audio.py
  nemo/collections/asr/data/audio_to_audio.py
  nemo/collections/asr/losses/audio_losses.py
  nemo/collections/asr/models/audio_to_audio_model.py
  nemo/collections/asr/models/enhancement_models.py
  nemo/collections/asr/modules/__init__.py
  nemo/collections/asr/modules/audio_modules.py
  nemo/collections/asr/modules/audio_preprocessing.py
  nemo/collections/asr/parts/submodules/multichannel_modules.py
  nemo/collections/asr/parts/utils/audio_utils.py
  requirements/requirements_asr.txt
  tests/collections/asr/test_asr_part_submodules_multichannel.py
  tests/collections/asr/test_asr_rnnt_encdec_model.py
  tests/collections/asr/test_audio_modules.py
  tests/collections/asr/test_conformer_encoder.py
Labels: ASR

#7689 fix ptl_bugs in slu_models.py
  examples/slu/speech_intent_slot/configs/conformer_transformer_large_bpe.yaml
  nemo/collections/asr/models/slu_models.py
Labels: ASR

#7716 swa decoding
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
Labels: NLP

#7717 Fix code block typo in docs
  docs/source/asr/intro.rst
Labels: ASR

#7732 fix speechllm few-shot inference
  nemo/collections/multimodal/speechllm/data/audio_text_qa_dataset.py
  nemo/collections/multimodal/speechllm/models/speechllm_models.py
  nemo/collections/multimodal/speechllm/modules/common/audio_text_generation_strategy.py
  nemo/collections/multimodal/speechllm/modules/common/audio_text_generation_utils.py
  nemo/collections/nlp/modules/common/megatron/utils.py
Labels: NLP

#7731 Add fix for max time to quit trainer gracefully, without running validation
  nemo/utils/exp_manager.py
Labels: bug

#7734 Set `RotaryEmbedding` base frequency from config
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/rotary_position_embedding.py
Labels: NLP

#7400 Megatron LLM documentation updates
  docs/source/nlp/nemo_megatron/flash_attention.rst
  docs/source/nlp/nemo_megatron/intro.rst
  docs/source/nlp/nemo_megatron/positional_embeddings.rst
  docs/source/nlp/nlp_all.bib
Labels: NLP

#7741 Add NLPDDPStrategyNotebook and change trainer gpus to devices
  examples/asr/experimental/k2/align_speech_parallel.py
  nemo/collections/nlp/parts/nlp_overrides.py
  scripts/nemo_legacy_import/nlp_checkpoint_port.py
  tutorials/nlp/Multitask_Prompt_and_PTuning.ipynb
  tutorials/nlp/lora.ipynb
Labels: ASR, NLP

#7743 Replace gpus with devices
  examples/asr/experimental/k2/align_speech_parallel.py
  scripts/nemo_legacy_import/nlp_checkpoint_port.py
Labels: ASR

#7752 Add activations_checkpoint related args for model cfg in lora.ipynb
  tutorials/nlp/Multitask_Prompt_and_PTuning.ipynb
  tutorials/nlp/lora.ipynb
Labels: NLP

#7751 Pin mcore to 0.3
  Jenkinsfile
  requirements/requirements_nlp.txt
Labels: CI

#7746 Updated installation of ctc-decoders
  scripts/asr_language_modeling/ngram_lm/install_beamsearch_decoders.sh
  tutorials/asr/Offline_ASR.ipynb
Labels: ASR

#7747 Change accelerator to 'auto' in nlp_checkpoint_port.py
  nemo/core/config/pytorch_lightning.py
  scripts/export.py
  scripts/nemo_legacy_import/nlp_checkpoint_port.py
Labels: core

#7758 docs: fix typos
  docs/source/asr/datasets.rst
  docs/source/asr/speaker_diarization/configs.rst
  docs/source/asr/speaker_diarization/models.rst
  docs/source/asr/speech_classification/datasets.rst
  docs/source/asr/ssl/configs.rst
  docs/source/asr/ssl/intro.rst
  docs/source/core/exp_manager.rst
  docs/source/tts/models.rst
Labels: TTS, ASR

#7762 Fix bug wrt change decoding strategy for bpe models
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_bpe.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_char.py
Labels: ASR

#7736 Snake act
  examples/tts/conf/audio_codec/audio_codec_24000.yaml
  examples/tts/conf/audio_codec/encodec_24000.yaml
  nemo/collections/asr/parts/utils/activations.py
  nemo/collections/tts/modules/audio_codec_modules.py
  nemo/collections/tts/modules/encodec_modules.py
  tests/collections/tts/modules/test_audio_codec_modules.py
Labels: TTS, ASR

#7763 Add reconfigure microbatch calculator before inference and update GBS, MBS for inference
  tutorials/nlp/lora.ipynb
Labels: NLP

#6963 Allow `data_prefix` to be `None` when mocking dataset
  nemo/collections/nlp/data/language_modeling/megatron/gpt_dataset.py
Labels: NLP

#7601 French g2p with pronunciation dictionary
  nemo/collections/common/tokenizers/text_to_speech/ipa_lexicon.py
  nemo/collections/common/tokenizers/text_to_speech/tokenizer_utils.py
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  nemo/collections/tts/g2p/models/i18n_ipa.py
  tests/collections/common/tokenizers/text_to_speech/test_tokenizer_utils.py
  tests/collections/common/tokenizers/text_to_speech/test_tts_tokenizers.py
Labels: TTS, common

#7678 add pleasefixme marker for potential failed nightly tests.
  tests/collections/tts/models/test_fastpitch.py
Labels: TTS

#7767 Create PrecisionPlugin for megatron_ckpt_to_nemo.py trainer
  examples/nlp/language_modeling/megatron_ckpt_to_nemo.py
  examples/nlp/token_classification/punctuation_capitalization_train_evaluate.py
Labels: NLP

#7645 Add new text segmentation library for better TTS quality
  nemo/collections/tts/g2p/models/zh_cn_pinyin.py
Labels: TTS

#7772 fix(clustering_diarizer.py): fix typo
  nemo/collections/asr/models/clustering_diarizer.py
Labels: ASR

#7771 fix(diarization-README): typo
  examples/speaker_tasks/diarization/README.md
Labels: Speaker Tasks

#7500 Remove incorrect extra argument of load_from_checkpoint_dir()
  examples/nlp/language_modeling/megatron_gpt_continue_training.py
Labels: NLP

#7730 Add nemo to mcore GPT conversion script
  scripts/nlp_language_modeling/convert_nemo_gpt_to_mcore.py
Labels: feature

#7785 ConditionalInput: cat along the feature dim, not the batch dim
  nemo/collections/tts/modules/submodules.py
Labels: TTS

#7790 Add some docs and update scripts for ASR
  docs/source/asr/results.rst
  scripts/tokenizers/process_asr_text_tokenizer.py
Labels: ASR

#7784 set context for text memmap to fork
  nemo/collections/nlp/data/language_modeling/text_memmap_dataset.py
Labels: NLP

#7744 Support flash decoding
  examples/nlp/language_modeling/megatron_gpt_eval.py
  nemo/collections/nlp/modules/common/megatron/attention.py
Labels: NLP

#7788 Add selection criteria for reference audios in the `GlobalStyleToken` submodule
  examples/tts/conf/fastpitch_align_44100_adapter.yaml
  examples/tts/conf/fastpitch_align_ipa_adapter.yaml
  nemo/collections/tts/data/dataset.py
Labels: TTS

#7733 update text server to support compute logprobs
  nemo/collections/nlp/modules/common/text_generation_server.py
Labels: NLP

#7798 flash-decoding and rope changes for swa branch
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/rotary_position_embedding.py
Labels: NLP

#7794 Update Apex install command in Dockerfile
  Dockerfile
  README.rst
Labels: CI

#7693 Revert "PEFT eval fix"
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: stale, NLP
