Repository NVIDIA-NeMo/NeMo, pull requests merged in 2023-01, with the labels that each got.

#5729 Update torch.stft() calls due to deprecation of return_complex=False
  nemo/collections/tts/losses/stftlosses.py
  nemo/collections/tts/models/base.py
  nemo/collections/tts/models/hifigan.py
  nemo/collections/tts/models/univnet.py
  nemo/collections/tts/modules/univnet_modules.py
Labels: TTS

#5730 Update ASR torch.stft() call to use return_complex=True
  nemo/collections/asr/parts/preprocessing/features.py
Labels: ASR

#5720 pin torchmetrics version
  Jenkinsfile
  nemo/collections/asr/models/label_models.py
  requirements/requirements_lightning.txt
Labels: ASR, CI

#5694 Update to pytorch 22.12 container
  Dockerfile
  Jenkinsfile
  README.rst
  ci.groovy
  nemo/collections/asr/parts/preprocessing/features.py
  nemo/collections/tts/losses/stftlosses.py
  nemo/collections/tts/models/base.py
  nemo/collections/tts/models/hifigan.py
  nemo/collections/tts/models/univnet.py
  nemo/collections/tts/modules/univnet_modules.py
  tests/collections/tts/test_waveglow.py
Labels: TTS, ASR, CI

#5731 Add keep_initializers_as_inputs to _export method
  nemo/core/classes/exportable.py
Labels: core

#5467 ALiBi Positional Embeddings
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/modules/common/megatron/alibi_relative_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
Labels: feature, NLP, CI

#5724 Ensure EMA checkpoints are also deleted when normal checkpoints are
  nemo/collections/common/callbacks/ema.py
  nemo/utils/exp_manager.py
  requirements/requirements_lightning.txt
  tests/collections/common/test_ema.py
Labels: bug, common

#5663 Fix P-Tuning Truncation
  nemo/collections/nlp/data/language_modeling/megatron/gpt_prompt_learning_dataset.py
Labels: NLP

#5543 Support non-standard padding token id
  nemo/collections/nlp/models/machine_translation/mt_enc_dec_model.py
  nemo/collections/nlp/modules/common/lm_utils.py
  nemo/collections/nlp/modules/common/transformer/transformer.py
  nemo/collections/nlp/modules/common/transformer/transformer_bottleneck.py
  nemo/collections/nlp/modules/common/transformer/transformer_modules.py
  nemo/collections/nlp/modules/common/transformer/transformer_utils.py
Labels: NLP

#5741 typo and link fixed
  tutorials/tts/Pronunciation_customization.ipynb
Labels: TTS

#5742 [TTS] Update Spanish TTS model to 1.15
  docs/source/tts/data/ngc_models_am.csv
  docs/source/tts/data/ngc_models_vocoder.csv
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/models/hifigan.py
Labels: TTS

#5692 Fix for incorrect computation of batched alignment in transducers
  Jenkinsfile
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  tests/collections/asr/decoding/rnnt_alignments_check.py
Labels: ASR, CI

#5453 Move Attention and MLP classes to a separate file in Megatron transformers
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/mlp.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  tests/collections/nlp/test_retrieval_module.py
  tests/collections/nlp/test_retrieval_module_inference.py
Labels: cleanup, NLP

#5749 Adithyare/prompt learning seed
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
Labels: NLP

#5752 Set the stream position to 0 for pydub
  nemo/collections/asr/parts/preprocessing/segment.py
Labels: ASR

#5760 Update Tacotron2 NGC checkpoint load to latest version
  docs/source/tts/data/ngc_models_am.csv
  nemo/collections/tts/models/tacotron2.py
Labels: TTS

#5753 [TTS][DE] refine grapheme-based tokenizer and fastpitch training recipe on thorsten's neutral datasets.
  docs/source/tts/data/datasets.csv
  docs/source/tts/datasets.rst
  examples/tts/conf/de/fastpitch_align_22050_grapheme.yaml
  examples/tts/conf/de/fastpitch_align_44100_grapheme.yaml
  examples/tts/conf/de/fastpitch_align_44100_phoneme.yaml
  nemo/collections/common/parts/preprocessing/parsers.py
  nemo/collections/common/tokenizers/text_to_speech/ipa_lexicon.py
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  nemo/collections/tts/data/data_utils.py
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/torch/data.py
  nemo/collections/tts/torch/g2ps.py
  nemo/collections/tts/torch/tts_tokenizers.py
  nemo_text_processing/g2p/data/data_utils.py
  nemo_text_processing/g2p/modules.py
  scripts/dataset_processing/tts/hui_acg/get_data.py
  scripts/dataset_processing/tts/openslr_95/get_data.py
  scripts/dataset_processing/tts/thorsten_neutral/ds_conf/ds_for_fastpitch_align.yaml
  scripts/dataset_processing/tts/thorsten_neutral/get_data.py
  tests/collections/common/tokenizers/text_to_speech/test_tts_tokenizers.py
Labels: TTS, common

#5719 Add extra data args to support proper finetuning of HF converted T5 checkpoints
  examples/nlp/language_modeling/conf/megatron_t0_config.yaml
  examples/nlp/language_modeling/conf/megatron_t5_config_finetune_eval.yaml
  examples/nlp/language_modeling/conf/megatron_t5_config_finetune_glue_eval.yaml
  examples/nlp/language_modeling/conf/megatron_t5_config_finetune_glue_mnli.yaml
  examples/nlp/language_modeling/conf/megatron_t5_config_finetune_glue_xnli.yaml
  examples/nlp/language_modeling/conf/megatron_t5_finetune.yaml
  nemo/collections/nlp/data/common/sequence_to_sequence_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
Labels: NLP

#5653 No-script TS export, prepared for ONNX export
  Dockerfile
  nemo/collections/tts/helpers/helpers.py
  nemo/collections/tts/losses/radttsloss.py
  nemo/collections/tts/losses/tacotron2loss.py
  nemo/collections/tts/models/aligner.py
  nemo/collections/tts/modules/attribute_prediction_model.py
  nemo/collections/tts/modules/common.py
  nemo/collections/tts/modules/radtts.py
  nemo/core/classes/exportable.py
  nemo/utils/__init__.py
  nemo/utils/cast_utils.py
  nemo/utils/export_utils.py
  tests/collections/tts/test_tts_exportables.py
Labels: core, TTS, CI

#5769 Docs g2p update
  docs/source/nlp/text_normalization/wfst/wfst_customization.rst
Labels: NLP

#5773 adding back tar script for decoder dataset for duplex
  docs/source/nlp/text_normalization/nn_text_normalization.rst
  examples/nlp/duplex_text_normalization/data/create_tarred_dataset.py
  examples/nlp/duplex_text_normalization/duplex_text_normalization_train.py
  nemo/collections/nlp/data/text_normalization/decoder_dataset.py
  requirements/requirements_docs.txt
Labels: NLP

#5781 Update torchaudio dependency version for tutorials
  tutorials/asr/Online_ASR_Microphone_Demo.ipynb
  tutorials/asr/Online_Noise_Augmentation.ipynb
  tutorials/asr/Online_Offline_Microphone_VAD_Demo.ipynb
  tutorials/asr/Online_Offline_Speech_Commands_Demo.ipynb
  tutorials/asr/Speech_Commands.ipynb
  tutorials/asr/Voice_Activity_Detection.ipynb
Labels: ASR

#5766 Megatron export triton update
  nemo/collections/nlp/modules/common/megatron/fused_bias_gelu.py
  nemo/collections/nlp/modules/common/megatron/megatron_export.py
Labels: NLP

#5776 [TTS][ZH] bugfix import jieba errors.
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  nemo_text_processing/g2p/modules.py
Labels: common

#5771 Fixing masking in RadTTS bottleneck layer
  nemo/collections/tts/models/radtts.py
  nemo/collections/tts/modules/attribute_prediction_model.py
Labels: TTS

#5777 fix token id bug
  nemo/collections/common/tokenizers/tabular_tokenizer.py
Labels: common

#5758 Fix EMA topk checkpoint deletion
  nemo/utils/exp_manager.py
  tests/collections/common/test_ema.py
Labels: bug

#5801 update torchmetrics to latest version
  Jenkinsfile
  nemo/collections/asr/models/label_models.py
  requirements/requirements_lightning.txt
Labels: ASR, CI

#5790 Flashlight Decoder for Nemo
  nemo/collections/asr/metrics/wer.py
  nemo/collections/asr/metrics/wer_bpe.py
  nemo/collections/asr/modules/flashlight_decoder.py
  nemo/collections/asr/parts/submodules/ctc_beam_decoding.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  scripts/asr_language_modeling/ngram_lm/create_lexicon_from_arpa.py
  scripts/asr_language_modeling/ngram_lm/eval_beamsearch_ngram.py
Labels: ASR

#5788 Update radtts' infer path
  nemo/collections/tts/models/radtts.py
  nemo/collections/tts/modules/radtts.py
Labels: TTS

#5809 Fix transducer and question answering tutorial bugs bugs
  tutorials/asr/Intro_to_Transducers.ipynb
  tutorials/nlp/Question_Answering.ipynb
Labels: ASR, NLP

#5812 add constraint info on batch size for tar dataset
  docs/source/nlp/text_normalization/nn_text_normalization.rst
  examples/nlp/duplex_text_normalization/conf/duplex_tn_config.yaml
  examples/nlp/duplex_text_normalization/data/create_tarred_dataset.py
Labels: NLP

#5757 Add EMA Docs, fix common collection documentation
  docs/source/common/callbacks.rst
  docs/source/common/intro.rst
  docs/source/common/losses.rst
  docs/source/common/metrics.rst
  docs/source/common/tokenizers.rst
  nemo/collections/common/callbacks/ema.py
Labels: documentation, common

#5814 Update description for question answering tutorial
  tutorials/nlp/Question_Answering.ipynb
Labels: NLP

#5817 add apt-get upgrade -y in dockerfile
  Dockerfile
Labels: CI

#4918 [TTS] Ssl tts final
  examples/tts/conf/fastpitch_ssl.yaml
  examples/tts/conf/ssl_tts_22050.yaml
  examples/tts/fastpitch_ssl.py
  examples/tts/ssl_tts.py
  nemo/collections/tts/helpers/helpers.py
  nemo/collections/tts/models/fastpitch_ssl.py
  nemo/collections/tts/models/ssl_tts.py
  nemo/collections/tts/modules/fastpitch.py
  nemo/collections/tts/torch/data.py
  nemo/core/optim/lr_scheduler.py
  scripts/ssl_tts/make_supdata.py
  scripts/ssl_tts/ssl_tts_vc.py
Labels: core, TTS

#5825 [BugFix] decoder timestamp count has a mismatch when <unk> is decoded
  nemo/collections/asr/parts/utils/decoder_timestamps_utils.py
Labels: bug, ASR, Speaker Tasks

#5813 Fix data simulator
  nemo/collections/asr/data/data_simulation.py
  scripts/speaker_tasks/create_alignment_manifest.py
  tutorials/tools/Multispeaker_Simulator.ipynb
Labels: ASR

#5831 remove transformer version upper bound
  Jenkinsfile
  nemo/collections/nlp/modules/common/huggingface/huggingface_encoder.py
  nemo/collections/nlp/modules/common/huggingface/huggingface_utils.py
  requirements/requirements_lightning.txt
Labels: NLP, CI

#5693 [ASR] Mask-based dereverb algorithm
  nemo/collections/asr/modules/audio_modules.py
  nemo/collections/asr/modules/audio_preprocessing.py
  nemo/collections/asr/parts/utils/audio_utils.py
  tests/collections/asr/test_audio_modules.py
  tests/collections/asr/test_audio_preprocessing.py
  tests/collections/asr/utils/test_audio_utils.py
Labels: ASR

#5805 [TTS][DE] Augment tokenization/G2P to preserve capitalization of words and mix phonemes with word-level graphemes for an input text.
  examples/tts/conf/de/fastpitch_align_22050_mix.yaml
  nemo/collections/common/tokenizers/text_to_speech/ipa_lexicon.py
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  nemo/core/classes/modelPT.py
  nemo_text_processing/g2p/data/data_utils.py
  nemo_text_processing/g2p/modules.py
  nemo_text_processing/text_normalization/de/taggers/tokenize_and_classify.py
  nemo_text_processing/text_normalization/es/taggers/tokenize_and_classify.py
  scripts/tts_dataset_files/de/de_heteronyms_nv221025.wlist
  scripts/tts_dataset_files/de/de_nv221025.dict
  tests/nemo_text_processing/g2p/phoneme_dict/test_dict_de.txt
  tests/nemo_text_processing/g2p/phoneme_dict/test_dict_en.txt
  tests/nemo_text_processing/g2p/test_modules.py
Labels: core, TTS, common

#5671 Support nested NeMo models
  docs/source/core/core.rst
  nemo/core/classes/modelPT.py
  nemo/core/connectors/save_restore_connector.py
  tests/collections/asr/test_asr_rnnt_encoder_model_bpe.py
  tests/core/test_save_restore.py
Labels: core

#5791 Adithyare/adapter new placement
  nemo/collections/nlp/modules/common/megatron/transformer.py
Labels: NLP

#5840 TPMLP for T5-based models
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
Labels: NLP

#5834 Add SSL import functionality for Audio Lexical PNC Models
  nemo/collections/nlp/data/token_classification/punctuation_capitalization_dataset.py
  nemo/collections/nlp/data/token_classification/punctuation_capitalization_infer_dataset.py
  nemo/collections/nlp/models/token_classification/punctuation_capitalization_lexical_audio_model.py
  nemo/collections/nlp/models/token_classification/punctuation_capitalization_model.py
Labels: NLP

#5833 [BugFix] Updated CTC decoders installation in tutorial
  scripts/asr_language_modeling/ngram_lm/install_beamsearch_decoders.sh
  tutorials/asr/Offline_ASR.ipynb
Labels: ASR

#5844 Update NeMo Multi-Run docs
  docs/source/core/exp_manager.rst
  nemo/core/utils/process_launcher/launcher.py
  requirements/requirements_docs.txt
Labels: core

#5826 Concat dataset and aistore support for label models
  nemo/collections/asr/data/audio_to_label.py
  nemo/collections/asr/data/audio_to_label_dataset.py
  nemo/collections/asr/models/label_models.py
  nemo/collections/common/parts/preprocessing/collections.py
Labels: ASR, common

#5830 validation batch sizing and drop_last controls
  examples/nlp/language_modeling/conf/megatron_gpt_prompt_learning_config.yaml
  examples/nlp/language_modeling/conf/megatron_t5_prompt_learning.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_adapter_tuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_ia3_tuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_adapter_tuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_ia3_tuning_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_adapter_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
Labels: NLP

#5853 update torchmetrics args confusionmatrix
  tutorials/asr/Voice_Activity_Detection.ipynb
Labels: ASR

#5846 Adding new features and speed up for multi-speaker data simulator
  nemo/collections/asr/data/data_simulation.py
  tools/speech_data_simulator/conf/data_simulator.yaml
Labels: ASR

#5772 Add Esperanto ASR example
  docs/source/asr/examples/esperanto_asr/esperanto_asr.rst
  docs/source/asr/examples/esperanto_asr/images/CosineAnnealing_scheduler.png
  docs/source/asr/examples/esperanto_asr/images/test_wer_wandb.png
  docs/source/asr/intro.rst
Labels: documentation, ASR

#5861 indentation fix
  tutorials/asr/Voice_Activity_Detection.ipynb
Labels: ASR

#5808 Megatron positional encoding alibi fix
  examples/nlp/language_modeling/conf/megatron_model_base_config.yaml
  nemo/collections/nlp/modules/common/megatron/alibi_relative_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
Labels: NLP

#5739 Remove ending newlines when encoding strings w/ sentencepiece tokenizer
  nemo/collections/nlp/data/data_utils/data_preprocessing.py
  nemo/collections/nlp/data/machine_translation/machine_translation_dataset.py
  nemo/collections/nlp/models/machine_translation/mt_enc_dec_model.py
  scripts/neural_machine_translation/collect_tokenizer_dataset_stats.py
Labels: NLP

#5849 Fix segmenting for pcla inference
  examples/nlp/token_classification/punctuate_capitalize_infer.py
  nemo/collections/nlp/data/token_classification/punctuation_capitalization_infer_dataset.py
Labels: NLP

#5767 Fix wrong label mapping in batch_inference for label_model
  nemo/collections/asr/models/label_models.py
  tests/collections/asr/test_speaker_label_models.py
Labels: ASR

#5864 Fix memory allocation of NeMo Multi-speaker Data Simulator
  nemo/collections/asr/data/data_simulation.py
  tools/speech_data_simulator/conf/data_simulator.yaml
  tools/speech_data_simulator/multispeaker_simulator.py
Labels: ASR, Speaker Tasks

#5800 RETRO model finetuning
  docs/source/nlp/nemo_megatron/retro/retro_model.rst
  examples/nlp/language_modeling/conf/megatron_retro_config.yaml
  examples/nlp/language_modeling/conf/megatron_retro_finetune_config.yaml
  examples/nlp/language_modeling/conf/megatron_retro_inference.yaml
  examples/nlp/language_modeling/conf/megatron_retro_mutransfer.yaml
  examples/nlp/language_modeling/megatron_retro_eval.py
  examples/nlp/language_modeling/megatron_retro_fine_tune.py
  examples/nlp/language_modeling/megatron_retro_pretraining.py
  nemo/collections/nlp/data/language_modeling/megatron/indexed_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/indexed_retrieval_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/retro_fine_tune_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_retrieval_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retro_fine_tune_model.py
  nemo/collections/nlp/modules/common/lm_utils.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/bert_service.py
  nemo/collections/nlp/modules/common/megatron/megatron_decoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoders.py
  nemo/collections/nlp/modules/common/megatron/retrieval_service.py
  nemo/collections/nlp/modules/common/megatron/retrieval_token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/retrieval_transformer.py
  nemo/collections/nlp/modules/common/megatron_web_server.py
  nemo/collections/nlp/modules/common/retro_inference_strategies.py
  nemo/collections/nlp/modules/common/text_generation_server.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  scripts/nlp_language_modeling/build_retrieval_index.py
  scripts/nlp_language_modeling/preprocess_data_for_megatron.py
  tests/collections/nlp/test_indexed_retrieval_dataset.py
Labels: NLP

#5565 [TTS] GAN-based spectrogram enhancer
  examples/tts/conf/spectrogram-enhancer.yaml
  examples/tts/spectrogram_enhancer.py
  nemo/collections/tts/helpers/helpers.py
  nemo/collections/tts/losses/spectrogram_enhancer_losses.py
  nemo/collections/tts/models/__init__.py
  nemo/collections/tts/models/spectrogram_enhancer.py
  nemo/collections/tts/modules/spectrogram_enhancer.py
  nemo/collections/tts/torch/data.py
  nemo/utils/exp_manager.py
  requirements/requirements_tts.txt
  scripts/dataset_processing/tts/resynthesize_dataset.py
  tests/collections/tts/test_spectrogram_enhancer.py
Labels: TTS

#5560 Optimizing distributed Adam when running with one work queue
  Dockerfile
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
Labels: NLP, CI

#5885 Remove RETRO doc
  docs/source/nlp/nemo_megatron/retro/retro_model.rst
Labels: NLP

#5768 TTS inference with Heteronym classification model, hc model inference refactoring
  Jenkinsfile
  docs/source/tts/g2p.rst
  examples/text_processing/g2p/conf/heteronym_classification.yaml
  examples/text_processing/g2p/heteronym_classification_inference.py
  examples/text_processing/g2p/heteronym_classification_train_and_evaluate.py
  nemo_text_processing/g2p/data/data_utils.py
  nemo_text_processing/g2p/data/heteronym_classification_data.py
  nemo_text_processing/g2p/models/heteronym_classification.py
  nemo_text_processing/g2p/models/t5_g2p.py
  nemo_text_processing/g2p/modules.py
  scripts/dataset_processing/g2p/export_wikihomograph_data_to_manifest.py
  scripts/tts_dataset_files/wordid_to_nemo_cmu.tsv
  tests/nemo_text_processing/g2p/data/test_data_utils.py
Labels: TTS, CI

#5685 Add option to disable distributed parameters in distributed Adam optimizer
  nemo/collections/nlp/modules/common/megatron/clip_grads.py
  nemo/core/optim/distributed_adam.py
Labels: core, NLP
