Repository NVIDIA-NeMo/NeMo, pull requests merged in 2023-07, with the labels that each got.

#6886 Update distopt API for coalesced NCCL calls
  Dockerfile
  nemo/core/optim/distributed_adam.py
Labels: bug, core, CI

#6957 Stop at the stop token
  nemo/collections/nlp/modules/common/megatron_web_server.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
Labels: NLP

#6979 Remove `compute_on_step` from metrics
  nemo/collections/asr/metrics/rnnt_wer.py
  nemo/collections/asr/metrics/rnnt_wer_bpe.py
  nemo/collections/asr/metrics/wer.py
  nemo/collections/asr/metrics/wer_bpe.py
  nemo/collections/common/metrics/global_average_loss_metric.py
  nemo/collections/common/metrics/perplexity.py
  nemo/collections/nlp/metrics/sequence_perplexity.py
  nemo/collections/nlp/models/language_modeling/bert_lm_model.py
  nemo/collections/nlp/models/text2sparql/text2sparql_model.py
  nemo/core/optim/optimizers.py
  tests/collections/common/pl_utils.py
Labels: core, ASR, NLP, common

#6930 Fix require_grad typos
  nemo/collections/asr/modules/transformer/transformer_generators.py
  nemo/collections/nlp/modules/common/transformer/transformer_generators.py
Labels: ASR, NLP

#6763 add support for max_total_length=4096 for 43b
  tools/customization_dataset_preparation/customization_dataset_preparation.py
Labels: stale

#6989 rnnt_greedy_decoding.py: typos? auto-repressively -> auto-regressively
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
Labels: ASR

#6983 Hybrid conformer export
  docs/source/asr/models.rst
  docs/source/core/export.rst
  nemo/collections/asr/models/asr_model.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/core/classes/exportable.py
  scripts/export.py
Labels: core, ASR

#6980 Cache handling without input tensors mutation
  nemo/collections/asr/models/asr_model.py
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/parts/submodules/adapters/multi_head_attention_adapter_module.py
  nemo/collections/asr/parts/submodules/causal_convs.py
  nemo/collections/asr/parts/submodules/conformer_modules.py
  nemo/collections/asr/parts/submodules/multi_head_attention.py
Labels: ASR

#6994 fixes for spellmapper
  examples/nlp/spellchecking_asr_customization/create_custom_vocab_index.py
  examples/nlp/spellchecking_asr_customization/run_infer.sh
  nemo/collections/nlp/data/spellchecking_asr_customization/utils.py
Labels: NLP

#6987 Fixing an issue with confidence ensembles
  examples/asr/transcribe_speech.py
  nemo/collections/asr/models/confidence_ensemble.py
  scripts/confidence_ensembles/build_ensemble.py
  scripts/confidence_ensembles/test_confidence_ensembles.py
Labels: ASR

#7006 sft with pi
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_sft.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
Labels: NLP

#6982 Minor MPT-7B fixes and creation script update
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  scripts/nlp_language_modeling/convert_mpt_7b_hf_to_nemo.py
Labels: NLP

#7012 [TTS] Append pretrained FastPitch & SpectrogamEnhancer pair to available models
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/models/spectrogram_enhancer.py
Labels: TTS

#6997 Change Jenkins timeout
  Jenkinsfile
Labels: CI

#7008 remove hard coded input and output fields
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
Labels: NLP

#7018 add async + distopt to sft
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#6932 Adding tutorial for confidence ensembles
  PUBLICATIONS.md
  docs/source/asr/api.rst
  docs/source/asr/configs.rst
  docs/source/asr/models.rst
  docs/source/starthere/tutorials.rst
  examples/asr/transcribe_speech.py
  nemo/collections/asr/models/confidence_ensemble.py
  scripts/confidence_ensembles/build_ensemble.py
  tests/collections/asr/test_asr_interctc_models.py
  tests/collections/asr/test_confidence_ensembles.py
  tutorials/asr/Confidence_Ensembles.ipynb
Labels: ASR

#6991 Add support for Numba FP16 RNNT Loss
  nemo/collections/asr/losses/rnnt.py
  nemo/collections/asr/losses/rnnt_pytorch.py
  nemo/collections/asr/parts/numba/rnnt_loss/rnnt.py
  nemo/collections/asr/parts/numba/rnnt_loss/rnnt_numpy.py
  nemo/collections/asr/parts/numba/rnnt_loss/rnnt_pytorch.py
  nemo/collections/asr/parts/numba/rnnt_loss/utils/cpu_utils/cpu_rnnt.py
  nemo/collections/asr/parts/numba/rnnt_loss/utils/rnnt_helper.py
  nemo/core/utils/numba_utils.py
  tests/collections/asr/numba/rnnt_loss/test_rnnt_pytorch.py
  tests/collections/asr/numba/rnnt_loss/utils/test_gpu_rnnt_kernel.py
  tests/collections/asr/numba/rnnt_loss/utils/test_reduce.py
  tests/collections/asr/numba/rnnt_loss/utils/test_rnnt_helper.py
Labels: core, ASR

#6955 Add ASR with TTS Tutorial. Fix enhancer usage.
  docs/source/starthere/tutorials.rst
  nemo/collections/asr/models/hybrid_asr_tts_models.py
  tutorials/asr/ASR_TTS_Tutorial.ipynb
Labels: ASR

#7015 ptuning inference table bug fix
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
Labels: NLP

#6922 [TTS] Add tutorial for TTS data prep scripts
  tutorials/tts/FastPitch_Data_Preparation.ipynb
Labels: TTS

#7026 Fix missing import for GPT SFT
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#7019 fix install_beamsearch_decoders.sh
  scripts/asr_language_modeling/ngram_lm/install_beamsearch_decoders.sh
  tutorials/asr/Offline_ASR.ipynb
Labels: ASR

#6986 Add end_strings to SamplingParams
  examples/nlp/language_modeling/conf/megatron_gpt_inference.yaml
  examples/nlp/language_modeling/megatron_gpt_eval.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/modules/common/text_generation_server.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  nemo/collections/nlp/modules/common/transformer/text_generation.py
  tests/collections/nlp/test_gpt_eval.py
Labels: NLP

#7022 Fix tabular data text generation
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#7016 Fix race condition for downloading cache when executing with multi-node
  nemo/collections/nlp/modules/common/megatron/megatron_utils.py
Labels: NLP

#7032 Added bool types to neural_types export
  nemo/core/neural_types/elements.py
Labels: core

#7027 TE bug fix
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: bug, NLP

#6810 ASR Confidence update and tutorial
  docs/source/starthere/tutorials.rst
  nemo/collections/asr/metrics/rnnt_wer.py
  nemo/collections/asr/metrics/rnnt_wer_bpe.py
  nemo/collections/asr/metrics/wer.py
  nemo/collections/asr/metrics/wer_bpe.py
  nemo/collections/asr/models/confidence_ensemble.py
  nemo/collections/asr/parts/submodules/ctc_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/utils/asr_confidence_benchmarking_utils.py
  nemo/collections/asr/parts/utils/asr_confidence_utils.py
  nemo/collections/asr/parts/utils/confidence_metrics.py
  scripts/confidence_ensembles/build_ensemble.py
  scripts/confidence_ensembles/ensemble_config.yaml
  scripts/speech_recognition/confidence/benchmark_asr_confidence.py
  tests/collections/asr/confidence/test_asr_confidence.py
  tests/collections/asr/confidence/test_asr_confidence_metrics.py
  tests/collections/asr/confidence/test_asr_confidence_primitives.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_char.py
  tests/collections/asr/test_asr_metrics.py
  tests/collections/asr/test_asr_rnnt_encdec_model.py
  tests/collections/asr/test_confidence_ensembles.py
  tutorials/asr/ASR_Confidence_Estimation.ipynb
  tutorials/asr/Confidence_Ensembles.ipynb
Labels: ASR

#7038 Add support for Numba FP16 RNNT Loss (#6991)
  nemo/collections/asr/losses/rnnt.py
  nemo/collections/asr/losses/rnnt_pytorch.py
  nemo/collections/asr/parts/numba/rnnt_loss/rnnt.py
  nemo/collections/asr/parts/numba/rnnt_loss/rnnt_numpy.py
  nemo/collections/asr/parts/numba/rnnt_loss/rnnt_pytorch.py
  nemo/collections/asr/parts/numba/rnnt_loss/utils/cpu_utils/cpu_rnnt.py
  nemo/collections/asr/parts/numba/rnnt_loss/utils/rnnt_helper.py
  nemo/core/utils/numba_utils.py
  tests/collections/asr/numba/rnnt_loss/test_rnnt_pytorch.py
  tests/collections/asr/numba/rnnt_loss/utils/test_gpu_rnnt_kernel.py
  tests/collections/asr/numba/rnnt_loss/utils/test_reduce.py
  tests/collections/asr/numba/rnnt_loss/utils/test_rnnt_helper.py
Labels: core, ASR

#7048 Fix typo and branch in tutorial
  tutorials/asr/ASR_TTS_Tutorial.ipynb
Labels: ASR

#7033 added back the retro documents.
  docs/source/nlp/nemo_megatron/retro/retro_model.rst
Labels: NLP

#6969 st standalone model
  examples/asr/conf/speech_translation/fast-conformer_transformer.yaml
  examples/asr/speech_translation/speech_to_text_transformer.py
  examples/asr/speech_translation/translate_speech.py
  nemo/collections/asr/models/__init__.py
  nemo/collections/asr/models/transformer_bpe_models.py
  nemo/collections/common/tokenizers/sentencepiece_tokenizer.py
Labels: ASR, common

#7053 Refined export_config
  docs/source/asr/models.rst
  docs/source/core/export.rst
  nemo/collections/tts/models/base.py
  scripts/export.py
  tests/collections/tts/test_tts_exportables.py
Labels: TTS, ASR

#7068 remove pos emb from state dict for old models
  nemo/collections/nlp/models/nlp_model.py
Labels: NLP

#7049 Fix typo in ASR-TTS tutorial
  tutorials/asr/ASR_TTS_Tutorial.ipynb
Labels: ASR

#7075 fix pos id - hf update
  nemo/collections/nlp/models/nlp_model.py
Labels: NLP

#7065 Fix documentation for Numba
  README.rst
  docs/source/nlp/api.rst
  docs/source/starthere/intro.rst
  nemo/collections/asr/losses/rnnt.py
  nemo/core/utils/numba_utils.py
  nemo/utils/model_utils.py
Labels: core, ASR, NLP

#7076 Update Frame-VAD doc and fix onnx export
  examples/asr/conf/vad/frame_vad_infer_postprocess.yaml
  examples/asr/speech_classification/frame_vad_infer.py
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/parts/utils/vad_utils.py
  tests/collections/asr/test_asr_classification_model.py
Labels: ASR

#7079 small Bugfix
  tutorials/asr/Offline_ASR_with_VAD_for_CTC_models.ipynb
  tutorials/nlp/SpellMapper_English_ASR_Customization.ipynb
Labels: ASR, NLP

#7062 memmap worker arg
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_tuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_sft.yaml
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#7034 Fix caching bug in causal convolutions for cache-aware ASR models
  nemo/collections/asr/parts/submodules/causal_convs.py
Labels: ASR

#7085 Fast Conformer global token fix
  nemo/collections/asr/parts/submodules/multi_head_attention.py
Labels: ASR

#7067 Adding docs and models for multiple lookahead cache-aware ASR
  README.rst
  docs/source/asr/data/benchmark_en.csv
  docs/source/asr/data/scores/en/conformer_en.csv
  docs/source/asr/models.rst
  examples/asr/asr_cache_aware_streaming/speech_to_text_cache_aware_streaming_infer.py
  examples/asr/speech_to_text_eval.py
  examples/asr/transcribe_speech.py
  examples/asr/transcribe_speech_parallel.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/asr/modules/conformer_encoder.py
Labels: ASR

#7096 Add GQA config to megatron gpt model
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#7092 Added script to extract ASR CTC and RNNT models from ASR hybrid models
  examples/asr/asr_hybrid_transducer_ctc/helpers/convert_nemo_asr_hybrid_to_ctc.py
Labels: ASR

#7099 Fix absolute path in path join call
  nemo/collections/asr/parts/utils/vad_utils.py
Labels: ASR

#7102 fix syntax error introduced in PR-7079
  tutorials/nlp/SpellMapper_English_ASR_Customization.ipynb
Labels: NLP

#7095 Disable distopt contiguous param buffer by default
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: bug, NLP

#7110 NeMo ASR Demo
  docs/source/asr/intro.rst
Labels: ASR

#7086 [Fix] load_state_dict in nlp_model.py
  nemo/collections/nlp/models/nlp_model.py
Labels: NLP

#7113 Fix plot function in vad_utils.py
  nemo/collections/asr/parts/utils/vad_utils.py
Labels: ASR

#7118 Fixed small bug with NoisePerturbationWithNormalization
  nemo/collections/asr/parts/preprocessing/perturb.py
Labels: ASR

#7128 Add updated fc ctc and rnnt xxl models
  docs/source/asr/data/benchmark_en.csv
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
Labels: core, TTS, ASR, NLP, Speaker Tasks, CI, common

#7135 Update notebook branch
  tutorials/asr/Offline_ASR.ipynb
Labels: ASR

#7127 Fixed main and merging this to r1.20
  nemo/collections/asr/parts/utils/vad_utils.py
Labels: ASR

#6852 [TTS] Create EnCodec training recipe
  examples/tts/audio_codec.py
  examples/tts/conf/audio_codec/encodec.yaml
  examples/tts/conf/hifigan/hifigan_data.yaml
  nemo/collections/tts/data/vocoder_dataset.py
  nemo/collections/tts/losses/audio_codec_loss.py
  nemo/collections/tts/models/__init__.py
  nemo/collections/tts/models/audio_codec.py
  nemo/collections/tts/modules/audio_codec_modules.py
  nemo/collections/tts/modules/common.py
  nemo/collections/tts/modules/vector_quantization.py
  nemo/collections/tts/parts/utils/callbacks.py
  nemo/collections/tts/parts/utils/distributed.py
  nemo/collections/tts/parts/utils/helpers.py
  tests/collections/tts/losses/test_audio_codec_loss.py
  tests/collections/tts/modules/test_audio_codec_modules.py
Labels: TTS
