Repository NVIDIA-NeMo/NeMo, pull requests merged in 2023-06, with the labels that each got.

#6779 add call to p2p overlap
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, CI

#6764 Fix get_parameters when using main params optimizer
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/core/optim/optimizer_with_main_params.py
Labels: core, NLP

#6761 Lddl bert
  examples/nlp/language_modeling/conf/megatron_bert_config.yaml
  examples/nlp/language_modeling/megatron_bert_pretraining.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
Labels: NLP

#6785 peft eval directly from ckpt
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_eval_config.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_eval.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#6463 Add Frame-VAD examples and utils
  examples/asr/conf/marblenet/marblenet_3x2x64_20ms.yaml
  examples/asr/conf/vad/frame_vad_infer_postprocess.yaml
  examples/asr/speech_classification/frame_vad_infer.py
  examples/asr/speech_classification/speech_to_frame_label.py
  nemo/collections/asr/data/audio_to_label.py
  nemo/collections/asr/data/audio_to_label_dataset.py
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/parts/preprocessing/features.py
  nemo/collections/asr/parts/preprocessing/segment.py
  nemo/collections/asr/parts/utils/vad_utils.py
  tests/collections/asr/test_asr_classification_model.py
  tests/collections/asr/utils/test_vad_utils.py
Labels: ASR

#6740 Debug Transformer Engine FP8 support with Megatron-core infrastructure
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#6780 Tensor-parallel communication overlap with userbuffer backend
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/utils/app_state.py
Labels: NLP

#6781 [TTS][zh] refine hardcoded lowercase for ASCII letters.
  nemo/collections/common/tokenizers/text_to_speech/tokenizer_utils.py
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  nemo/collections/tts/g2p/models/zh_cn_pinyin.py
Labels: TTS, common

#6776 Fix adapter tutorial r1.19.0
  nemo/collections/tts/modules/submodules.py
  tutorials/tts/FastPitch_Adapter_Finetuning.ipynb
  tutorials/tts/FastPitch_MultiSpeaker_Pretraining.ipynb
Labels: TTS

#6179 Spellchecking ASR customization model
  docs/source/nlp/models.rst
  docs/source/nlp/spellchecking_asr_customization.rst
  docs/source/starthere/tutorials.rst
  examples/nlp/spellchecking_asr_customization/README.md
  examples/nlp/spellchecking_asr_customization/checkpoint_to_nemo.py
  examples/nlp/spellchecking_asr_customization/conf/spellchecking_asr_customization_config.yaml
  examples/nlp/spellchecking_asr_customization/convert_data_to_tarred.sh
  examples/nlp/spellchecking_asr_customization/create_custom_vocab_index.py
  examples/nlp/spellchecking_asr_customization/create_tarred_dataset.py
  examples/nlp/spellchecking_asr_customization/helpers.py
  examples/nlp/spellchecking_asr_customization/postprocess_and_update_manifest.py
  examples/nlp/spellchecking_asr_customization/prepare_input_from_manifest.py
  examples/nlp/spellchecking_asr_customization/run_infer.sh
  examples/nlp/spellchecking_asr_customization/run_training.sh
  examples/nlp/spellchecking_asr_customization/run_training_tarred.sh
  examples/nlp/spellchecking_asr_customization/spellchecking_asr_customization_infer.py
  examples/nlp/spellchecking_asr_customization/spellchecking_asr_customization_train.py
  examples/nlp/text_normalization_as_tagging/dataset_preparation/extract_giza_alignments.py
  nemo/collections/nlp/data/spellchecking_asr_customization/__init__.py
  nemo/collections/nlp/data/spellchecking_asr_customization/bert_example.py
  nemo/collections/nlp/data/spellchecking_asr_customization/dataset.py
  nemo/collections/nlp/data/spellchecking_asr_customization/utils.py
  nemo/collections/nlp/data/text_normalization_as_tagging/utils.py
  nemo/collections/nlp/models/__init__.py
  nemo/collections/nlp/models/spellchecking_asr_customization/__init__.py
  nemo/collections/nlp/models/spellchecking_asr_customization/spellchecking_model.py
  scripts/dataset_processing/spoken_wikipedia/run.sh
  tests/collections/nlp/test_spellchecking_asr_customization.py
  tools/ctc_segmentation/scripts/prepare_data.py
  tutorials/nlp/SpellMapper_English_ASR_Customization.ipynb
  tutorials/nlp/images/spellmapper_customization_vocabulary.png
  tutorials/nlp/images/spellmapper_data_preparation.png
  tutorials/nlp/images/spellmapper_inference_pipeline.png
Labels: NLP

#6798 Fix GPTDataset Assert
  nemo/collections/nlp/data/language_modeling/megatron/gpt_dataset.py
Labels: NLP

#6670 [TTS] Implement new vocoder dataset
  examples/tts/conf/fastpitch/fastpitch.yaml
  examples/tts/conf/hifigan/hifigan_data.yaml
  examples/tts/conf/hifigan/sample/sample_22050.yaml
  examples/tts/conf/hifigan/sample/sample_44100.yaml
  nemo/collections/asr/parts/preprocessing/segment.py
  nemo/collections/tts/data/text_to_speech_dataset.py
  nemo/collections/tts/data/vocoder_dataset.py
  nemo/collections/tts/models/hifigan.py
  nemo/collections/tts/parts/utils/callbacks.py
  nemo/core/optim/lr_scheduler.py
  scripts/dataset_processing/tts/preprocess_audio.py
  scripts/dataset_processing/tts/preprocess_text.py
Labels: core, TTS, ASR

#6687 GPT inference long context
  Jenkinsfile
  examples/nlp/language_modeling/megatron_gpt_eval.py
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_eval_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_sft.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/modules/common/megatron/module.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP, CI

#6802 Bug fix for reset_sequence_parallel_args
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#6704 Fix validation with drop_last=False
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#6664 Lora/PEFT training script CI test
  Jenkinsfile
Labels: CI

#6803 fix spellmapper tutorial, change branch to main
  tutorials/nlp/SpellMapper_English_ASR_Customization.ipynb
Labels: NLP

#6816 cherry pick 6788
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_eval_config.yaml
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/utils.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#6773 text_generation_utils memory reduction if no logprob needed
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_eval.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retrieval_model.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#6817 Update core version in Jenkinsfile
  Jenkinsfile
Labels: CI

#6775 Spec aug fix
  nemo/collections/asr/modules/audio_preprocessing.py
Labels: ASR

#6818 lora pp2
  Jenkinsfile
Labels: CI

#6683 Add optional index mapping dir in mmap text datasets
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/data/language_modeling/text_memmap_dataset.py
  tests/collections/nlp/test_mem_map_dataset.py
Labels: NLP

#6804 Megatron MPT-7B Support
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/layer_norm_1p.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  scripts/asr_language_modeling/ngram_lm/create_lexicon_from_arpa.py
  scripts/nlp_language_modeling/convert_mpt_7b_hf_to_nemo.py
Labels: NLP

#6556 Support large inputs to Conformer and Fast Conformer
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/parts/mixins/mixins.py
  nemo/collections/asr/parts/submodules/subsampling.py
  tests/collections/asr/test_asr_subsampling.py
Labels: ASR

#6833 sharded manifests updated docs
  docs/source/asr/datasets.rst
Labels: documentation, ASR

#6832 added fc-xl, xxl and titanet-s models
  docs/source/asr/data/benchmark_en.csv
  docs/source/asr/speaker_recognition/data/speaker_results.csv
  examples/asr/conf/fastconformer/fast-conformer_ctc_bpe.yaml
  examples/asr/conf/fastconformer/fast-conformer_transducer_bpe.yaml
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/label_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
Labels: ASR

#6821 add reference to our paper
  docs/source/nlp/nlp_all.bib
  docs/source/nlp/spellchecking_asr_customization.rst
  examples/nlp/spellchecking_asr_customization/README.md
  nemo/collections/nlp/models/spellchecking_asr_customization/spellchecking_model.py
  tutorials/nlp/SpellMapper_English_ASR_Customization.ipynb
Labels: NLP

#6711 Multi-lookahead cache-aware streaming models
  examples/asr/conf/conformer/cache_aware_streaming/conformer_ctc_bpe_streaming.yaml
  examples/asr/conf/conformer/cache_aware_streaming/conformer_transducer_bpe_streaming.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_ctc_bpe_streaming.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_ctc_char_streaming.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_transducer_bpe_streaming.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_transducer_char_streaming.yaml
  examples/asr/conf/fastconformer/hybrid_cache_aware_streaming/fastconformer_hybrid_transducer_ctc_bpe_streaming.yaml
  examples/asr/conf/fastconformer/hybrid_cache_aware_streaming/fastconformer_hybrid_transducer_ctc_char_streaming.yaml
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/modules/squeezeformer_encoder.py
  nemo/collections/asr/parts/submodules/multi_head_attention.py
  tests/collections/nlp/test_huggingface.py
Labels: ASR

#6799 added changes to ramp up bs
  nemo/collections/nlp/data/language_modeling/megatron/data_samplers.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#6394 add back ptuning pp2 test
  Jenkinsfile
Labels: CI

#6612 t5 lora tuning
  examples/nlp/language_modeling/tuning/conf/megatron_t5_lora_inference.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_lora_tuning_config.yaml
  examples/nlp/language_modeling/tuning/megatron_t5_lora_eval.py
  examples/nlp/language_modeling/tuning/megatron_t5_lora_tuning.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_adapter_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/modules/common/megatron/attention.py
Labels: NLP

#6842 final fix of notebook
  tutorials/nlp/Megatron_Synthetic_Tabular_Data_Generation.ipynb
Labels: NLP

#6737 Added rouge monitoring support for T5
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
Labels: NLP

#6666 GPT extrapolatable position embedding (xpos/sandwich/alibi/kerple) and Flash Attention
  Dockerfile
  Jenkinsfile
  README.rst
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/conf/megatron_model_base_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_eval_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/layer_norm_1p.py
  nemo/collections/nlp/modules/common/megatron/megatron_decoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_decoder.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_encoder.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/__init__.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/alibi_relative_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/kerple_relative_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/rotary_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/sandwich_relative_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/t5_relative_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/xpos_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/retrieval_transformer.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/modules/common/megatron/utils.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  scripts/asr_language_modeling/ngram_lm/create_lexicon_from_arpa.py
  scripts/nlp_language_modeling/convert_mpt_7b_hf_to_nemo.py
  tests/collections/nlp/test_flash_attention.py
  tests/collections/nlp/test_position_embedding.py
  tests/collections/nlp/test_retrieval_module.py
  tests/collections/nlp/test_retrieval_module_inference.py
Labels: NLP, CI

#6850 Add API docs for NeMo Megatron
  docs/source/_static/css/custom.css
  docs/source/conf.py
  docs/source/nlp/api.rst
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP

#6464 Add Frame-VAD to ASR+VAD pipeline
  examples/asr/asr_vad/README.md
  examples/asr/asr_vad/speech_to_text_with_vad.py
  examples/asr/conf/vad/frame_vad_infer_postprocess.yaml
  examples/asr/speech_classification/frame_vad_infer.py
  examples/asr/speech_classification/speech_to_frame_label.py
  nemo/collections/asr/data/feature_to_label.py
  nemo/collections/asr/data/feature_to_label_dataset.py
  nemo/collections/asr/data/feature_to_text.py
  nemo/collections/asr/data/feature_to_text_dataset.py
  tutorials/asr/Offline_ASR_with_VAD_for_CTC_models.ipynb
  tutorials/asr/Voice_Activity_Detection.ipynb
Labels: ASR

#6870 Apply garbage collection interval to validation steps
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP

#6865 Update transcribe_utils.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: ASR

#6877 Import Enum for chatbot component
  examples/nlp/language_modeling/megatron_gpt_eval.py
Labels: NLP

#6855 [bugfix] avoid the random shuffle of phoneme and tone tokens.
  nemo/collections/tts/g2p/models/zh_cn_pinyin.py
Labels: TTS

#6882 typo fix from #6666
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#6887 Fix k2 build topo helper
  nemo/collections/asr/parts/k2/topologies.py
Labels: ASR

#6883 Update container for import action
  .github/workflows/import-test.yml
Labels: CI

#6703 Fix destructor for delayed mmap dataset case
  nemo/collections/nlp/data/language_modeling/megatron/indexed_dataset.py
Labels: NLP

#6900 removed some tests
  Jenkinsfile
Labels: CI

#6899 Fix transcribe_utils.py for hybrid models in partial transcribe mode
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: ASR

#6866 fix ptuning residuals bug
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/modules/common/prompt_encoder.py
Labels: NLP

#6906 Add hybrid model support to transcribe_speech_parallel.py
  examples/asr/transcribe_speech_parallel.py
  nemo/collections/asr/data/audio_to_text_dataset.py
Labels: ASR

#6902 Update Frame-VAD doc
  examples/asr/asr_vad/README.md
  examples/asr/speech_classification/README.md
  examples/asr/speech_classification/frame_vad_infer.py
  examples/asr/speech_classification/speech_to_frame_label.py
  tutorials/asr/Offline_ASR_with_VAD_for_CTC_models.ipynb
  tutorials/asr/Voice_Activity_Detection.ipynb
Labels: ASR

#6909 Fix fast-glu activation in change partitions
  examples/nlp/language_modeling/megatron_change_num_partitions.py
Labels: NLP

#6914 Documentation for ONNX export of Megatron Models
  docs/source/index.rst
  docs/source/nlp/api.rst
  docs/source/nlp/megatron_onnx_export.rst
Labels: NLP

#6908 Make sure asr_model.change_attention_model is run if either cfg.model_path or cfg.pretrained_name is specified
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: ASR

#6920 Update fvad doc
  examples/asr/conf/vad/frame_vad_infer_postprocess.yaml
  examples/asr/speech_classification/README.md
  nemo/collections/asr/parts/utils/vad_utils.py
Labels: ASR

#6901 Fix flash-attention
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/fused_softmax.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_decoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoders.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  tests/collections/nlp/test_flash_attention.py
Labels: NLP

#6916 ptuning oom fix
  nemo/collections/nlp/data/language_modeling/megatron/gpt_prompt_learning_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
Labels: NLP

#6927 add rampup bs assertion
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#6579 Online Code Switching Dataset for ASR
  docs/source/asr/configs.rst
  nemo/collections/asr/data/audio_to_text_dataset.py
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/asr/models/label_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/models/slu_models.py
  nemo/collections/asr/models/ssl_models.py
  nemo/collections/common/data/__init__.py
  nemo/collections/common/data/dataset.py
  nemo/collections/common/parts/preprocessing/collections.py
  scripts/asr_language_modeling/ngram_lm/create_lexicon_from_arpa.py
Labels: ASR, common

#6933 Removed optional optimize_for_inference
  nemo/core/classes/exportable.py
  scripts/export.py
Labels: core

#6898 Enable `rpe` methods in bert-like models
  examples/nlp/language_modeling/conf/megatron_bert_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
Labels: NLP

#6926 Fix AN4 dataset links
  docs/source/asr/datasets.rst
  tutorials/asr/ASR_for_telephony_speech.ipynb
  tutorials/asr/ASR_with_NeMo.ipynb
  tutorials/asr/ASR_with_Subword_Tokenization.ipynb
  tutorials/asr/ASR_with_Transducers.ipynb
  tutorials/asr/Online_Noise_Augmentation.ipynb
  tutorials/asr/asr_adapters/ASR_with_Adapters.ipynb
  tutorials/speaker_tasks/Speaker_Identification_Verification.ipynb
Labels: ASR, Speaker Tasks

#6939 Update core commit for CI
  Jenkinsfile
Labels: CI

#6931 lora inference ci
  Jenkinsfile
Labels: CI

#6934 support value attribution condition
  examples/nlp/language_modeling/conf/megatron_gpt_inference.yaml
  examples/nlp/language_modeling/megatron_gpt_eval.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_chat_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/modules/common/megatron_web_server.py
Labels: NLP

#6937 Fix confidence ensembles RNNT logprobs selection logic for exclude_blank scenario
  nemo/collections/asr/models/confidence_ensemble.py
Labels: ASR

#6935 Add missing save restore connector to eval scripts
  examples/nlp/language_modeling/megatron_gpt_eval.py
  examples/nlp/language_modeling/megatron_t5_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_ia3_eval.py
Labels: NLP

#6940 Adding cache-aware streaming ASR checkpoints.
  docs/source/asr/data/benchmark_en.csv
  docs/source/asr/data/scores/en/conformer_en.csv
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
Labels: ASR

#6948 Merge release r1.19.0 into main
  nemo/package_info.py
  tutorials/nlp/Megatron_Synthetic_Tabular_Data_Generation.ipynb
  tutorials/tools/CTC_Segmentation_Tutorial.ipynb
Labels: NLP

#6938 Upgrade base pytorch container to 23.06
  Dockerfile
  Jenkinsfile
  README.rst
Labels: CI
