Repository NVIDIA-NeMo/NeMo, pull requests merged in 2023-12, with the labels that each got.

#7946 only enable query key scaling during fp16
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, CI

#7927 Fix for gpt3 eval hang with PP (a dtype issue)
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#7933 Pass in rotary_base to mcore and from HF
  Jenkinsfile
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  scripts/nlp_language_modeling/convert_hf_llama_to_nemo.py
Labels: NLP, CI

#7923 Add interface to set NCCL options of each process group
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#7971 Support O2 training of PEFT and SFT
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP

#7990 update branch name
  tutorials/asr/Confidence_Ensembles.ipynb
Labels: ASR

#7979 [NLP] Use helpers from utils_funcs.py in Llama conversion
  nemo/collections/nlp/parts/utils_funcs.py
  scripts/nlp_language_modeling/convert_hf_llama_to_nemo.py
Labels: NLP

#7920 Reworked MegatronPretrainingRandomBatchSampler to correctly handle epochs > 1
  nemo/collections/nlp/data/language_modeling/megatron/megatron_batch_samplers.py
Labels: NLP

#8014 Update link to yaml file in ASR_with_Transducers.ipynb
  tutorials/asr/ASR_with_Transducers.ipynb
Labels: ASR

#8017 Use convert_hf_dataset_to_nemo
  scripts/speech_recognition/convert_hf_dataset_to_nemo.py
  tutorials/asr/Multilang_ASR.ipynb
Labels: ASR

#8007 Update asr_language_modeling.rst: Add a missing word
  docs/source/asr/asr_language_modeling.rst
Labels: ASR

#7942 Added a procedure for Windows users, README
  README.rst
Labels: documentation

#7903 spelling mistake
  docs/source/asr/models.rst
Labels: ASR

#7917 Remove deprecated arguments from TE's TransformerLayer
  nemo/collections/nlp/modules/common/megatron/transformer.py
Labels: NLP

#7947 [TTS] Scale sampler steps by number of devices
  nemo/collections/tts/data/text_to_speech_dataset.py
  nemo/collections/tts/data/vocoder_dataset.py
  nemo/collections/tts/models/audio_codec.py
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/models/hifigan.py
  nemo/collections/tts/parts/utils/tts_dataset_utils.py
Labels: TTS

#7900 Update manifest.py to speedup loading tarred datasets
  nemo/collections/common/parts/preprocessing/manifest.py
  tests/collections/common/test_utils.py
Labels: common

#7814 First draft of mcore bert model in NeMo
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_bert_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, CI

#7666 Support Falcon Variants (7B/40B/180B) in Mcore NeMo
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_falcon_config.yaml
  examples/nlp/language_modeling/conf/megatron_falcon_inference.yaml
  nemo/collections/nlp/models/language_modeling/megatron/falcon/__init__.py
  nemo/collections/nlp/models/language_modeling/megatron/falcon/falcon_decoder_layer.py
  nemo/collections/nlp/models/language_modeling/megatron/falcon/falcon_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  scripts/nlp_language_modeling/convert_hf_falcon_to_nemo.py
  scripts/nlp_language_modeling/convert_nemo_falcon_to_hf.py
  tests/collections/nlp/test_falcon_model.py
  tests/collections/nlp/test_falcon_transformer_layer.py
Labels: NLP, CI

#7897 FSDP + Tensor Parallelism
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/clip_grads.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_decoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_perceiver_encoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_decoder.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_encoder.py
  nemo/collections/nlp/modules/common/megatron/mlp.py
  nemo/collections/nlp/modules/common/megatron/module.py
  nemo/collections/nlp/modules/common/megatron/retrieval_token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/retrieval_transformer.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/utils/exp_manager.py
  nemo/utils/model_utils.py
Labels: NLP

#7945 Packed Sequence
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  tests/collections/nlp/test_packed_sft_dataset.py
Labels: NLP

#8038 Adding method back that was removed accidentally
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP, CI

#8044 cherry pick bug 4405781
  scripts/speech_recognition/convert_hf_dataset_to_nemo.py
  tutorials/asr/Multilang_ASR.ipynb
Labels: ASR

#7963 SFT patch: (1) enable sequence parallelism and (2) enable profile
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  nemo/core/classes/modelPT.py
Labels: core, NLP

#8045 update asr eval
  nemo/collections/asr/parts/utils/eval_utils.py
  tools/asr_evaluator/asr_evaluator.py
  tools/asr_evaluator/conf/eval.yaml
Labels: ASR

#8056 fix noise augmentation
  requirements/requirements_asr.txt
  tutorials/asr/Online_Noise_Augmentation.ipynb
Labels: ASR

#8057 fix noise aug
  requirements/requirements_asr.txt
  tutorials/asr/Online_Noise_Augmentation.ipynb
Labels: ASR

#8061 Use NLPDDPStrategyNotebook in Multitask_Prompt_and_PTuning.ipynb
  tutorials/nlp/Multitask_Prompt_and_PTuning.ipynb
Labels: NLP

#8064 Fix various issues with broken links and bugs
  README.rst
  docs/source/asr/asr_language_modeling.rst
  tutorials/asr/ASR_CTC_Language_Finetuning.ipynb
  tutorials/audio_tasks/speech_enhancement/Speech_Enhancement_with_NeMo.ipynb
  tutorials/nlp/SpellMapper_English_ASR_Customization.ipynb
  tutorials/tts/FastPitch_ChineseTTS_Training.ipynb
  tutorials/tts/FastPitch_GermanTTS_Training.ipynb
  tutorials/tts/NeMo_TTS_Primer.ipynb
  tutorials/tts/Vits_Training.ipynb
Labels: TTS, ASR, NLP

#8066 Various fixes for typos and urls
  README.rst
  docs/source/asr/asr_language_modeling.rst
  tutorials/asr/ASR_CTC_Language_Finetuning.ipynb
  tutorials/audio_tasks/speech_enhancement/Speech_Enhancement_with_NeMo.ipynb
  tutorials/nlp/SpellMapper_English_ASR_Customization.ipynb
  tutorials/tts/FastPitch_ChineseTTS_Training.ipynb
  tutorials/tts/FastPitch_GermanTTS_Training.ipynb
  tutorials/tts/NeMo_TTS_Primer.ipynb
  tutorials/tts/Vits_Training.ipynb
Labels: TTS, ASR, NLP

#8072 update reqs
  Dockerfile
  Jenkinsfile
  requirements/requirements_lightning.txt
  requirements/requirements_nlp.txt
Labels: CI

#8077 run with non-dev option
  tutorials/asr/Confidence_Ensembles.ipynb
Labels: ASR

#8079 update broken links
  docs/source/asr/asr_language_modeling.rst
  docs/source/nlp/joint_intent_slot.rst
  docs/source/nlp/token_classification.rst
Labels: ASR, NLP

#8091 Transformer decoder with conditioning for canary
  examples/asr/conf/speech_translation/fast-conformer_transformer.yaml
  nemo/collections/asr/data/audio_to_text_lhotse.py
  nemo/collections/asr/models/rnnt_bpe_models.py
  nemo/collections/asr/models/transformer_bpe_models.py
  nemo/collections/asr/parts/mixins/mixins.py
  nemo/collections/common/tokenizers/__init__.py
  nemo/collections/common/tokenizers/canary_tokenizer.py
  nemo/collections/nlp/modules/common/transformer/transformer_decoders.py
  nemo/collections/nlp/modules/common/transformer/transformer_generators.py
Labels: ASR, NLP, common

#7924 migration to PTL 2.0 for spellmapper model
  examples/nlp/spellchecking_asr_customization/spellchecking_asr_customization_train.py
  nemo/collections/nlp/models/spellchecking_asr_customization/spellchecking_model.py
Labels: NLP

#8095 Canary: option to limit the number of open streams
  nemo/collections/common/data/lhotse/cutset.py
Labels: common

#8087 Add text metrics to asr eval
  nemo/collections/asr/models/transformer_bpe_models.py
  nemo/collections/asr/parts/utils/eval_utils.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  tools/asr_evaluator/asr_evaluator.py
Labels: ASR

#8094 Change the megatron config lr scheduler default and fix to change partitions script
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/megatron_change_num_partitions.py
  scripts/nlp_language_modeling/convert_nemo_gpt_to_mcore.py
Labels: NLP

#8084 fix device setting to allow using accelerator cpu
  nemo/collections/asr/modules/wav2vec_modules.py
Labels: ASR
