Repository NVIDIA-NeMo/NeMo, pull requests merged in 2023-08, with the labels that each got.

#7061 Fix tokenizer file caching where torch.distributed may not be initialized yet
  nemo/collections/nlp/modules/common/megatron/megatron_utils.py
Labels: NLP

#7141 Fix default context size
  nemo/collections/asr/modules/conformer_encoder.py
Labels: core, TTS, ASR, NLP, CI, common

#6893 [TTS][ZH] add Chinese TTS recipes based on IPA symbol sets.
  examples/tts/conf/zh/fastpitch_align_22050.yaml
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  scripts/dataset_processing/tts/sfbilingual/ds_conf/ds_for_fastpitch_align.yaml
  scripts/tts_dataset_files/zh/24finals/ipa_dict_nv23.05.txt
  scripts/tts_dataset_files/zh/24finals/pinyin_dict_nv_22.10.txt
  scripts/tts_dataset_files/zh/36finals/ipa_dict_nv23.05.txt
  scripts/tts_dataset_files/zh/36finals/pinyin_dict_nv23.05.txt
  tutorials/tts/FastPitch_ChineseTTS_Training.ipynb
Labels: TTS, common

#6889 [TTS] Add output audio format to preprocessing
  scripts/dataset_processing/tts/preprocess_audio.py
  tutorials/tts/FastPitch_Data_Preparation.ipynb
Labels: TTS

#6958 Fix incorrect embedding grads with distopt BF16 grad reductions
  nemo/core/optim/distributed_adam.py
Labels: core, TTS, ASR, NLP, Speaker Tasks, CI, common

#7154 [TTS] Remove nested TTS configs
  examples/tts/conf/fastpitch/fastpitch_22050.yaml
  examples/tts/conf/fastpitch/fastpitch_44100.yaml
  examples/tts/conf/feature/feature_22050.yaml
  examples/tts/conf/feature/feature_44100.yaml
  examples/tts/conf/hifigan/sample/sample_22050.yaml
  examples/tts/conf/hifigan/sample/sample_44100.yaml
  examples/tts/conf/hifigan_dataset/hifigan_22050.yaml
  examples/tts/conf/hifigan_dataset/hifigan_44100.yaml
  tutorials/tts/FastPitch_Data_Preparation.ipynb
Labels: TTS

#7167 Merge release r1.20.0 to main
  Dockerfile
  nemo/collections/asr/parts/utils/vad_utils.py
  nemo/package_info.py
  tutorials/asr/Offline_ASR.ipynb
  tutorials/nlp/SpellMapper_English_ASR_Customization.ipynb
  tutorials/tools/CTC_Segmentation_Tutorial.ipynb
Labels: ASR, NLP, CI

#7112 Include the scripts for preprocessing OAST and unit tests for chat sft datasets
  examples/nlp/language_modeling/conf/megatron_gpt_inference.yaml
  examples/nlp/language_modeling/megatron_gpt_eval.py
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_sft.yaml
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_chat_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/data/language_modeling/text_memmap_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/modules/common/megatron_web_server.py
  requirements/requirements_nlp.txt
  scripts/nlp_language_modeling/sft/attribute_annotate.py
  scripts/nlp_language_modeling/sft/data_clean.py
  scripts/nlp_language_modeling/sft/preprocessing.py
  tests/collections/nlp/test_chat_sft_dataset.py
Labels: NLP

#7037 T5 metrics fix
  examples/nlp/language_modeling/conf/megatron_t5_finetune.yaml
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
Labels: NLP

#7188 [TTS] Fix TTS recipes with PTL 2.0
  examples/tts/conf/audio_codec/encodec.yaml
  examples/tts/conf/hifigan/hifigan.yaml
  examples/tts/conf/hifigan/hifigan_44100.yaml
  examples/tts/conf/hifigan_dataset/hifigan_22050.yaml
  examples/tts/conf/hifigan_dataset/hifigan_44100.yaml
  examples/tts/conf/univnet/univnet.yaml
  nemo/collections/tts/models/audio_codec.py
Labels: TTS

#7195 minor fix for conformer subsampling docstring.
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/parts/submodules/subsampling.py
Labels: ASR

#7198 Uncomment removal of exp_dir in JenkinsFile
  Jenkinsfile
Labels: CI

#7207 support SFT/distOpt mcore
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  scripts/nlp_language_modeling/convert_hf_llama_to_nemo.py
Labels: NLP

#7196 Fix T5 using FA
  examples/nlp/language_modeling/conf/megatron_model_base_config.yaml
  examples/nlp/language_modeling/megatron_t5_seq2seq_finetune.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_encoder.py
  tests/collections/nlp/test_flash_attention.py
Labels: NLP

#7200 fix-causal-fa-infer
  nemo/collections/nlp/modules/common/megatron/attention.py
Labels: NLP

#6915 Fix gpt trainer test
  Jenkinsfile
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_eval_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_tuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_sft.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_tuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  nemo/collections/common/metrics/classification_accuracy.py
  nemo/collections/common/metrics/metric_string_to_torchmetric.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_chat_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP, CI, common

#7197 [TTS] Add license to ported EnCodec code
  examples/tts/conf/audio_codec/encodec.yaml
  nemo/collections/tts/modules/audio_codec_modules.py
  nemo/collections/tts/modules/encodec_modules.py
  nemo/collections/tts/modules/vector_quantization.py
  nemo/collections/tts/parts/utils/distributed.py
Labels: TTS

#6332 Megatron hidden transformations
  examples/nlp/language_modeling/conf/megatron_hiddens_base_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/transformations/__init__.py
  nemo/collections/nlp/modules/common/megatron/transformations/megatron_hidden_loss.py
  nemo/collections/nlp/modules/common/megatron/transformations/megatron_hidden_transform.py
  nemo/collections/nlp/modules/common/megatron/transformations/megatron_hiddens.py
  nemo/collections/nlp/modules/common/megatron/utils.py
Labels: NLP

#7003 Load ub_cfg from hydra config
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/conf/tp_overlap/ub_cfg_a100_h12288_tp4_mbs1_seqlen2048.yaml
  examples/nlp/language_modeling/conf/tp_overlap/ub_cfg_a100_h12288_tp4_mbs2_seqlen2048.yaml
  examples/nlp/language_modeling/conf/tp_overlap/ub_cfg_h100_h12288_tp4_mbs1_seqlen2048.yaml
  examples/nlp/language_modeling/conf/tp_overlap/ub_cfg_h100_h12288_tp8_mbs2_seqlen2048.yaml
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/core/config/hydra_runner.py
Labels: core, NLP

#7176 Fixes for lightning 2.0 upgrade
  Jenkinsfile
  examples/nlp/language_modeling/megatron_bart_pretraining.py
  examples/nlp/language_modeling/megatron_bert_pretraining.py
  examples/nlp/language_modeling/megatron_gpt_continue_training.py
  examples/nlp/language_modeling/megatron_gpt_pretraining.py
  examples/nlp/language_modeling/megatron_retro_fine_tune.py
  examples/nlp/language_modeling/megatron_retro_mutransfer_pretrain.py
  examples/nlp/language_modeling/megatron_retro_pretraining.py
  examples/nlp/language_modeling/megatron_t5_lm_adaptation_finetune.py
  examples/nlp/language_modeling/megatron_t5_pretraining.py
  examples/nlp/language_modeling/megatron_t5_seq2seq_finetune.py
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_tuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, CI

#7212 Fix `consumed_samples` which was off by one batch
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retrieval_model.py
Labels: NLP

#6885 Start using ModelParallelConfig from Megatron Core
  Jenkinsfile
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_tuning_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retrieval_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  nemo/collections/nlp/models/nlp_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_decoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_perceiver_encoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_decoder.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_encoder.py
  nemo/collections/nlp/modules/common/megatron/mlp.py
  nemo/collections/nlp/modules/common/megatron/module.py
  nemo/collections/nlp/modules/common/megatron/retrieval_token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/retrieval_transformer.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/modules/common/megatron/utils.py
  nemo/collections/nlp/modules/common/prompt_encoder.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/optim/optimizers.py
  tests/collections/nlp/test_flash_attention.py
  tests/collections/nlp/test_retrieval_module.py
  tests/collections/nlp/test_retrieval_module_inference.py
Labels: core, NLP, CI

#7193 deprecation warning
  examples/nlp/language_modeling/megatron_gpt_prompt_learning.py
  examples/nlp/language_modeling/megatron_gpt_prompt_learning_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_adapter_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_adapter_tuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_ia3_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_ia3_tuning.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
Labels: NLP

#7093 Use GPTModel from mcore
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/parts/utils_funcs.py
Labels: NLP, CI

#7237 Add mcore installation to Dockerfile
  Dockerfile
Labels: CI

#7235 Fix GPTSFTDataset
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_eval_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_sft.yaml
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#7227 Add bf16-mixed and 16-mixed in module.py
  nemo/collections/nlp/modules/common/megatron/module.py
Labels: NLP

#7159 Refactor LLM pretraining examples
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/megatron_bert_pretraining.py
  examples/nlp/language_modeling/megatron_gpt_pretraining.py
  examples/nlp/language_modeling/megatron_t5_pretraining.py
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/utils/exp_manager.py
Labels: NLP

#7230 Add only trainable parameters to optimizer group in PEFT
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
Labels: NLP

#7254 Dummy class for ModelParallelConfig
  nemo/collections/nlp/models/language_modeling/megatron/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_decoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_perceiver_encoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_decoder.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_encoder.py
  nemo/collections/nlp/modules/common/megatron/mlp.py
  nemo/collections/nlp/modules/common/megatron/module.py
  nemo/collections/nlp/modules/common/megatron/retrieval_token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/retrieval_transformer.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/modules/common/megatron/utils.py
  nemo/collections/nlp/modules/common/prompt_encoder.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#7247 [TN][Docs] update language coverage matrix and refs
  docs/source/nlp/text_normalization/wfst/wfst_text_normalization.rst
Labels: NLP

#7249 [ASR] Fix GPU memory leak in transcribe_speech.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: ASR

#7250 Adding Multilingual, Code-Switched, and Hybrid ASR models
  docs/source/asr/data/benchmark_code_switching.csv
  docs/source/asr/data/benchmark_fr.csv
  docs/source/asr/data/benchmark_multilingual.csv
  docs/source/asr/data/benchmark_ru.csv
  docs/source/asr/results.rst
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
Labels: ASR

#7260 Adapter ipa Tutorial and config update
  examples/tts/conf/fastpitch_align_ipa_adapter.yaml
  tutorials/tts/FastPitch_Adapter_Finetuning.ipynb
Labels: TTS

#7271 Update numba support in docker
  Dockerfile
Labels: CI

#6928 tied weights for adapters
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_tuning_config.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_tuning.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
Labels: NLP

#7270 Fix skip generation
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#7280 Sync llama dev branch with main
  Dockerfile
  docs/source/asr/data/benchmark_code_switching.csv
  docs/source/asr/data/benchmark_fr.csv
  docs/source/asr/data/benchmark_multilingual.csv
  docs/source/asr/data/benchmark_ru.csv
  docs/source/asr/results.rst
  docs/source/nlp/text_normalization/wfst/wfst_text_normalization.rst
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/megatron_bert_pretraining.py
  examples/nlp/language_modeling/megatron_gpt_pretraining.py
  examples/nlp/language_modeling/megatron_t5_pretraining.py
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_tuning_config.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_tuning.py
  examples/tts/conf/audio_codec/encodec.yaml
  examples/tts/conf/fastpitch_align_ipa_adapter.yaml
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  nemo/collections/nlp/models/language_modeling/megatron/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_decoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_perceiver_encoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_decoder.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_encoder.py
  nemo/collections/nlp/modules/common/megatron/mlp.py
  nemo/collections/nlp/modules/common/megatron/module.py
  nemo/collections/nlp/modules/common/megatron/retrieval_token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/retrieval_transformer.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/modules/common/megatron/utils.py
  nemo/collections/nlp/modules/common/prompt_encoder.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/tts/models/audio_codec.py
  nemo/utils/exp_manager.py
  requirements/requirements_lightning.txt
  scripts/checkpoint_averaging/checkpoint_averaging_model_parallel.py
  tutorials/tts/FastPitch_Adapter_Finetuning.ipynb
Labels: TTS, ASR, NLP, CI

#7241 Hidden transforms model parallel config + CI with Perceiver
  Jenkinsfile
  nemo/collections/nlp/modules/common/megatron/megatron_perceiver_encoders.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/transformations/megatron_hidden_transform.py
  nemo/collections/nlp/modules/common/megatron/transformations/megatron_hiddens.py
Labels: NLP, CI

#7273 Fix restore sequence parallel
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#7287 fix ptuning and lora model_parallel_config
  Dockerfile
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/core/classes/mixins/adapter_mixins.py
Labels: core, NLP, CI

#7285 Fix adapters and ptuning for amp O2
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#7284 fix partial transcribe
  examples/asr/transcribe_speech.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: ASR

#7293 remove additional line in peft state dict
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
Labels: NLP

#7275 loss mask aware final layer applicaiton
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#7292 Adding server option to peft eval
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_eval_config.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_eval.py
Labels: NLP

#7239 remove deprecated scripts from ci
  Jenkinsfile
Labels: CI

#7276 add PEFT adapter support for mcore gpt path
  examples/nlp/language_modeling/megatron_change_num_partitions.py
  examples/nlp/language_modeling/tuning/conf/megatron_llama_peft_tuning_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/nlp/parts/nlp_overrides.py
  scripts/nlp_language_modeling/convert_hf_llama_to_nemo.py
Labels: NLP

#7297 Sync llama branch
  examples/nlp/language_modeling/megatron_change_num_partitions.py
  nemo/core/connectors/save_restore_connector.py
Labels: core, NLP

#7272 [TTS] minor fix typos and input_types
  nemo/collections/tts/models/hifigan.py
  nemo/collections/tts/modules/hifigan_modules.py
Labels: TTS

#7305 specify explicitly to set pretrained model paths
  tutorials/tts/FastPitch_Adapter_Finetuning.ipynb
Labels: TTS

#7312 Add seq_len_interpolation_factor support for long-context llama ckpts
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  scripts/nlp_language_modeling/convert_hf_llama_to_nemo.py
Labels: NLP

#7314 migrated class CSVFieldsMemmapDataset from BioNeMo
  nemo/collections/nlp/data/language_modeling/text_memmap_dataset.py
  tests/collections/nlp/test_mem_map_dataset.py
Labels: NLP

#7294 Conv1d subsampling
  nemo/collections/asr/parts/submodules/subsampling.py
Labels: ASR

#7295 remove old prompt table for storing cached ptunig representations
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
Labels: NLP

#7281 Integrate dist ckpt with new DistOpt state dict v2
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/optim/distributed_adam.py
Labels: core, NLP

#7338 add bf16 inference support and fix seq_len stft issue
  examples/asr/transcribe_speech.py
  nemo/collections/asr/parts/preprocessing/features.py
Labels: ASR

#7115 Set a default value when getting `rampup_batch_size`
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: stale, NLP

#7324 Speechlm delayparallel
  examples/nlp/language_modeling/conf/megatron_t5_speechlm_220m_sft.yaml
  examples/nlp/language_modeling/conf/megatron_t5_speechlm_inference.yaml
  examples/nlp/language_modeling/conf/speechlm_inference.yaml
  examples/nlp/language_modeling/conf/t5_speechlm_pretraining.yaml
  examples/nlp/language_modeling/megatron_t5_speechlm.py
  examples/nlp/language_modeling/speechlm_inference.py
  examples/nlp/language_modeling/speechlm_t5_inference.py
  expand_vocab.ipynb
  nemo/collections/nlp/data/language_modeling/megatron/t5_speechlm_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/t5_speechlm_dataset_new.py
  nemo/collections/nlp/data/language_modeling/megatron/t5_speechlm_indexed_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_speechlm_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_speechlm_pretrain_model.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
  nemo/collections/tts/parts/utils/helpers.py
Labels: TTS, NLP

#7116 Distributed checkpointing with mcore GPT
  Dockerfile
  Jenkinsfile
  README.rst
  examples/nlp/language_modeling/megatron_gpt_pretraining.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/optim/distributed_adam.py
  nemo/core/optim/optimizer_with_main_params.py
  nemo/utils/callbacks/nemo_model_checkpoint.py
  nemo/utils/exp_manager.py
  nemo/utils/model_utils.py
  requirements/requirements_nlp.txt
Labels: core, NLP, CI

#7321 [TTS] Add additional config to preprocess_text and compute_feature_stats
  scripts/dataset_processing/tts/compute_feature_stats.py
  scripts/dataset_processing/tts/preprocess_text.py
Labels: TTS

#7335 Resume checkpoint priority
  Jenkinsfile
  nemo/utils/exp_manager.py
Labels: CI

#7263 Add finetuning scripts
  Jenkinsfile
  docs/source/asr/configs.rst
  examples/asr/conf/fastconformer/fast-conformer_transducer_bpe.yaml
  examples/asr/conf/speech_to_text_finetune.yaml
  examples/asr/speech_to_text_finetune.py
Labels: ASR, CI

#7339 Move `resume_from_checkpoint` parameter: trainer -> exp_manager (for PTL 2.0)
  examples/asr/conf/asr_adapters/asr_adaptation_hp.yaml
  examples/asr/conf/asr_tts/hybrid_asr_tts.yaml
  examples/asr/conf/conformer/cache_aware_streaming/conformer_ctc_bpe_streaming.yaml
  examples/asr/conf/conformer/cache_aware_streaming/conformer_transducer_bpe_streaming.yaml
  examples/asr/conf/conformer/conformer_ctc_char.yaml
  examples/asr/conf/conformer/conformer_transducer_bpe.yaml
  examples/asr/conf/conformer/conformer_transducer_char.yaml
  examples/asr/conf/conformer/hat/conformer_hat_bpe.yaml
  examples/asr/conf/conformer/hat/conformer_hat_char.yaml
  examples/asr/conf/conformer/hybrid_transducer_ctc/conformer_hybrid_transducer_ctc_char.yaml
  examples/asr/conf/conformer/multiblank/conformer_multiblank_transducer_bpe.yaml
  examples/asr/conf/conformer/multilang/conformer_ctc_bpe_multilang.yaml
  examples/asr/conf/conformer/multilang/conformer_transducer_bpe_multilang.yaml
  examples/asr/conf/conformer/tdt/conformer_tdt_bpe.yaml
  examples/asr/conf/conformer/tdt/conformer_tdt_bpe_stateless.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_ctc_bpe_streaming.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_ctc_char_streaming.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_transducer_bpe_streaming.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_transducer_char_streaming.yaml
  examples/asr/conf/fastconformer/fast-conformer_ctc_bpe.yaml
  examples/asr/conf/fastconformer/fast-conformer_transducer_bpe.yaml
  examples/asr/conf/fastconformer/hybrid_cache_aware_streaming/fastconformer_hybrid_transducer_ctc_bpe_streaming.yaml
  examples/asr/conf/fastconformer/hybrid_cache_aware_streaming/fastconformer_hybrid_transducer_ctc_char_streaming.yaml
  examples/asr/conf/fastconformer/hybrid_transducer_ctc/fastconformer_hybrid_transducer_ctc_bpe.yaml
  examples/asr/conf/fastconformer/hybrid_transducer_ctc/fastconformer_hybrid_transducer_ctc_char.yaml
  examples/asr/conf/fastconformer/long_fastconformer/fast-conformer-long_ctc_bpe.yaml
  examples/asr/conf/fastconformer/long_fastconformer/fast-conformer-long_transducer_bpe.yaml
  examples/asr/conf/lstm/lstm_ctc_bpe.yaml
  examples/asr/conf/lstm/lstm_transducer_bpe.yaml
  examples/asr/conf/speech_translation/fast-conformer_transformer.yaml
  examples/asr/conf/squeezeformer/squeezeformer_ctc_char.yaml
  examples/asr/conf/ssl/citrinet/citrinet_ssl_1024.yaml
  examples/asr/conf/ssl/conformer/conformer_ssl.yaml
  examples/asr/conf/ssl/contextnet/contextnet_ssl.yaml
  examples/asr/conf/ssl/fastconformer/fast-conformer.yaml
  examples/asr/conf/ssl/wav2vec/wav2vec_pretrain.yaml
  examples/asr/conf/ssl/wav2vec/wav2vec_pretrain_large.yaml
  examples/asr/conf/wav2vec_ctc/wav2vecCTC.yaml
  examples/asr/conf/wav2vec_ctc/wav2vecCTC_large.yaml
  examples/asr/experimental/k2/conf/conformer/conformer_ctc_bpe.yaml
  examples/asr/experimental/k2/conf/conformer/conformer_transducer_bpe.yaml
  examples/audio_tasks/conf/beamforming.yaml
  examples/audio_tasks/conf/masking.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_ia3_tuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_lora_tuning_config.yaml
  examples/nlp/spellchecking_asr_customization/conf/spellchecking_asr_customization_config.yaml
  examples/nlp/text_classification/conf/ptune_text_classification_config.yaml
  examples/nlp/text_normalization_as_tagging/conf/thutmose_tagger_itn_config.yaml
  examples/nlp/token_classification/conf/punctuation_capitalization_lexical_audio_config.yaml
  examples/nlp/zero_shot_intent_recognition/conf/zero_shot_intent_config.yaml
  examples/slu/speech_intent_slot/configs/conformer_transformer_large_bpe.yaml
  examples/tts/conf/ssl_tts_22050.yaml
Labels: TTS, ASR, NLP

#7334 Fix activation checkpoint
  nemo/collections/nlp/modules/common/megatron/attention.py
Labels: NLP

#7318 Replace prefetch with val iterator check in megatron models
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_adapter_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_model.py
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
Labels: NLP, CI

#7352 Fixing indentation bug in indexed_dataset memory deallocation
  nemo/collections/nlp/data/language_modeling/megatron/dataset_utils.py
Labels: NLP

#7299 NeMo MCore llama2 support + MCore PEFT adapters
  Dockerfile
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_llama_config.yaml
  examples/nlp/language_modeling/conf/megatron_llama_inference.yaml
  examples/nlp/language_modeling/megatron_change_num_partitions.py
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_tuning_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/nlp/modules/common/prompt_encoder.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/connectors/save_restore_connector.py
  scripts/nlp_language_modeling/convert_hf_llama_to_nemo.py
  scripts/nlp_language_modeling/merge_lora_weights/merge.py
  tests/collections/nlp/test_flash_attention.py
Labels: core, NLP, CI

#7303 Hiddens modules documentation
  docs/source/nlp/nemo_megatron/hiddens/hiddens_module.rst
  docs/source/nlp/nemo_megatron/hiddens/images/hiddens-wb-logging.png
  docs/source/nlp/nemo_megatron/intro.rst
  examples/nlp/language_modeling/conf/megatron_hiddens_base_config.yaml
  nemo/collections/nlp/modules/common/megatron/hiddens/__init__.py
  nemo/collections/nlp/modules/common/megatron/hiddens/megatron_hidden_loss.py
  nemo/collections/nlp/modules/common/megatron/hiddens/megatron_hidden_transform.py
  nemo/collections/nlp/modules/common/megatron/hiddens/megatron_hiddens.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
Labels: NLP
