Repository NVIDIA-NeMo/NeMo, pull requests merged in 2023-05, with the labels that each got.

#6523 Fix typos
  tutorials/asr/ASR_CTC_Language_Finetuning.ipynb
  tutorials/asr/ASR_with_Subword_Tokenization.ipynb
  tutorials/asr/Buffered_Transducer_Inference.ipynb
  tutorials/asr/Online_Offline_Speech_Commands_Demo.ipynb
  tutorials/asr/Streaming_ASR.ipynb
  tutorials/asr/asr_adapters/ASR_with_Adapters.ipynb
Labels: ASR

#6441 Add Frame-VAD model and datasets
  nemo/collections/asr/data/audio_to_label.py
  nemo/collections/asr/data/audio_to_label_dataset.py
  nemo/collections/asr/models/__init__.py
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/parts/preprocessing/features.py
  nemo/collections/asr/parts/preprocessing/segment.py
  nemo/collections/common/parts/preprocessing/collections.py
  tests/collections/asr/test_asr_classification_model.py
  tests/collections/asr/test_label_datasets.py
Labels: ASR, common

#6510 Support dynamic length batches with GPT SFT
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/modules/common/megatron/utils.py
Labels: NLP

#6539 Fix typos (#6523)
  tutorials/asr/ASR_CTC_Language_Finetuning.ipynb
  tutorials/asr/ASR_with_Subword_Tokenization.ipynb
  tutorials/asr/Buffered_Transducer_Inference.ipynb
  tutorials/asr/Online_Offline_Speech_Commands_Demo.ipynb
  tutorials/asr/Streaming_ASR.ipynb
  tutorials/asr/asr_adapters/ASR_with_Adapters.ipynb
Labels: ASR

#6540 added back the fast emit section to the configs.
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_transducer_bpe_streaming.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_transducer_char_streaming.yaml
  examples/asr/conf/fastconformer/hybrid_cache_aware_streaming/fastconformer_hybrid_transducer_ctc_bpe_streaming.yaml
  examples/asr/conf/fastconformer/hybrid_cache_aware_streaming/fastconformer_hybrid_transducer_ctc_char_streaming.yaml
  examples/asr/conf/fastconformer/hybrid_transducer_ctc/fastconformer_hybrid_transducer_ctc_bpe.yaml
  examples/asr/conf/fastconformer/hybrid_transducer_ctc/fastconformer_hybrid_transducer_ctc_char.yaml
Labels: ASR

#6543 GPT fp16 inference fix
  examples/nlp/language_modeling/megatron_gpt_eval.py
Labels: NLP

#6481 removing unnecessary avoid_bfloat16_autocast_context
  nemo/collections/asr/parts/submodules/subsampling.py
Labels: ASR

#6473 FC models in menu
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
Labels: ASR

#6431 [TTS] Add tutorials for FastPitch TTS speaker adaptation with adapters
  examples/tts/conf/fastpitch_align_44100_adapter.yaml
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/modules/fastpitch.py
  nemo/collections/tts/modules/submodules.py
  scripts/dataset_processing/tts/extract_sup_data.py
  scripts/dataset_processing/tts/resynthesize_dataset.py
  tutorials/tts/FastPitch_Adapter_Finetuning.ipynb
  tutorials/tts/FastPitch_MultiSpeaker_Pretraining.ipynb
Labels: TTS

#6529 Fix for T5 FT model
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
Labels: NLP

#6507 [TTS] Create initial TTS dataset feature processors
  nemo/collections/tts/parts/preprocessing/feature_processors.py
  tests/collections/tts/parts/preprocessing/test_feature_processors.py
Labels: TTS

#6545 Pass `.scale` instead of scaler object to core
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#6548 Change Megatron Enc Dec model to use persistent_workers
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
Labels: NLP

#6549 Add FastConformer Hybrid ASR models for EN, ES, IT, DE, PL, HR, UA, BY
  docs/source/asr/data/benchmark_by.csv
  docs/source/asr/data/benchmark_de.csv
  docs/source/asr/data/benchmark_en.csv
  docs/source/asr/data/benchmark_es.csv
  docs/source/asr/data/benchmark_hr.csv
  docs/source/asr/data/benchmark_it.csv
  docs/source/asr/data/benchmark_pl.csv
  docs/source/asr/data/benchmark_ua.csv
  docs/source/asr/results.rst
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
Labels: ASR

#6555 Support large inputs to Conformer
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_transducer_bpe_streaming.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_transducer_char_streaming.yaml
  examples/asr/conf/fastconformer/hybrid_cache_aware_streaming/fastconformer_hybrid_transducer_ctc_bpe_streaming.yaml
  examples/asr/conf/fastconformer/hybrid_cache_aware_streaming/fastconformer_hybrid_transducer_ctc_char_streaming.yaml
  examples/asr/conf/fastconformer/hybrid_transducer_ctc/fastconformer_hybrid_transducer_ctc_bpe.yaml
  examples/asr/conf/fastconformer/hybrid_transducer_ctc/fastconformer_hybrid_transducer_ctc_char.yaml
  examples/tts/conf/fastpitch_align_44100_adapter.yaml
  nemo/collections/asr/data/audio_to_label.py
  nemo/collections/asr/data/audio_to_label_dataset.py
  nemo/collections/asr/models/__init__.py
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
  nemo/collections/asr/parts/preprocessing/features.py
  nemo/collections/asr/parts/preprocessing/segment.py
  nemo/collections/asr/parts/submodules/subsampling.py
  nemo/collections/common/parts/preprocessing/collections.py
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/modules/common/megatron/utils.py
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/modules/fastpitch.py
  nemo/collections/tts/modules/submodules.py
  nemo/collections/tts/parts/preprocessing/feature_processors.py
  scripts/dataset_processing/tts/extract_sup_data.py
  scripts/dataset_processing/tts/resynthesize_dataset.py
  tests/collections/asr/test_asr_classification_model.py
  tests/collections/asr/test_label_datasets.py
  tests/collections/tts/parts/preprocessing/test_feature_processors.py
  tutorials/tts/FastPitch_Adapter_Finetuning.ipynb
  tutorials/tts/FastPitch_MultiSpeaker_Pretraining.ipynb
Labels: TTS, ASR, NLP, common

#6081 Make KenLM with PC for AggregateTokenizer and merge it
  docs/source/asr/asr_language_modeling.rst
  examples/asr/speech_to_text_eval.py
  nemo/collections/asr/metrics/wer_bpe.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  scripts/asr_language_modeling/ngram_lm/eval_beamsearch_ngram.py
  scripts/asr_language_modeling/ngram_lm/install_beamsearch_decoders.sh
  scripts/asr_language_modeling/ngram_lm/kenlm_utils.py
  scripts/asr_language_modeling/ngram_lm/ngram_merge.py
  scripts/asr_language_modeling/ngram_lm/train_kenlm.py
  scripts/installers/Dockerfile.ngramtools
  scripts/installers/install_opengrm.sh
  scripts/installers/setup_os2s_decoders.py
Labels: ASR

#6565 Update manifest.py for speedup
  nemo/collections/common/parts/preprocessing/manifest.py
Labels: common

#6574 Separate punctuation by whitespace
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: ASR

#6554 Turn autocast off when precision is fp32
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retrieval_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
Labels: NLP

#6567 More streaming conformer export fixes
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/core/classes/exportable.py
  scripts/export.py
Labels: core, ASR

#6391 Framework for PEFT via mixins
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_eval_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_tuning_config.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_tuning.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_adapter_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_adapter_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/clip_grads.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/optim/optimizer_with_main_params.py
Labels: core, NLP

#6582 Fix batch size reconf for T5 FT for multi-validation
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
Labels: NLP

#6589 Add patches for Virtual Parallel conversion
  examples/nlp/language_modeling/megatron_change_num_partitions.py
Labels: NLP

#6580 Make tensor split contiguous for qkv and kv in attention
  nemo/collections/nlp/modules/common/megatron/attention.py
Labels: NLP

#6592 Patches from main to r1.18.0 for Virtual Parallel
  examples/nlp/language_modeling/megatron_change_num_partitions.py
Labels: NLP

#6594 Documentation for ASR-TTS models
  docs/source/asr/api.rst
  docs/source/asr/configs.rst
  docs/source/asr/datasets.rst
  docs/source/asr/images/hybrid_asr_tts_model.png
  docs/source/asr/models.rst
  docs/source/asr/results.rst
  docs/source/tts/models.rst
  nemo/collections/asr/data/text_to_text.py
  nemo/collections/asr/models/hybrid_asr_tts_models.py
Labels: TTS, ASR

#6435 [TTS] Fix aligner nan loss in fp32
  nemo/collections/tts/losses/aligner_loss.py
Labels: TTS

#6600 Create dummy iters to satisy iter type len checks in core + update core commit
  Dockerfile
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_gpt_adapter_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retrieval_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_adapter_model.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
Labels: NLP, CI

#6528 Restore GPT support for interleaved pipeline parallelism
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/build_model.py
Labels: NLP, CI

#6599 A few small typo fixes
  examples/asr/transcribe_speech.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: ASR

#6608 [ASR] Fix for old models in change_attention_model
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/parts/mixins/mixins.py
Labels: ASR

#6598 Update manifest.py to use os.path for get_full_path
  nemo/collections/common/parts/preprocessing/manifest.py
Labels: common

#6610 Add GPT eval mode fix for interleaved to main (#6449)
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#6619 Add HAT image to docs
  docs/source/asr/images/hat.png
Labels: ASR

#6618 Exchange indices with torch.distributed
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/data/language_modeling/megatron/gpt_dataset.py
Labels: NLP

#6570 Offline and streaming inference support for hybrid model
  examples/asr/asr_chunked_inference/ctc/speech_to_text_buffered_infer_ctc.py
  examples/asr/asr_chunked_inference/rnnt/speech_to_text_buffered_infer_rnnt.py
  examples/asr/transcribe_speech.py
  nemo/collections/asr/parts/utils/streaming_utils.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  tools/asr_evaluator/conf/eval.yaml
  tools/asr_evaluator/utils.py
Labels: ASR

#6630 Patch decoding for PC models
  nemo/collections/asr/metrics/rnnt_wer.py
  nemo/collections/asr/metrics/wer.py
Labels: ASR

#6633 Fix wer.py where 'errors' variable was not set
  nemo/collections/asr/metrics/wer.py
Labels: ASR

#6635 Fix for old models in change_attention_model
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/parts/mixins/mixins.py
Labels: ASR

#6639 Add megatron_core to requirements
  Dockerfile
  README.rst
  requirements/requirements_nlp.txt
Labels: CI

#6637 sft model can use this script for eval
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_eval.py
  tests/collections/asr/test_asr_interctc_models.py
Labels: NLP

#6628 [TTS] Fix TTS audio preprocessing bugs
  nemo/collections/tts/parts/preprocessing/features.py
  nemo/collections/tts/parts/utils/tts_dataset_utils.py
  scripts/dataset_processing/tts/audio_processing/preprocess_audio.py
  tests/collections/tts/data/test_data_utils.py
  tests/collections/tts/parts/utils/test_tts_dataset_utils.py
Labels: TTS

#6620 ASR-TTS Models: Support hybrid RNNT-CTC, improve docs.
  docs/source/asr/configs.rst
  docs/source/asr/models.rst
  docs/source/common/data.rst
  docs/source/common/intro.rst
  docs/source/tts/api.rst
  docs/source/tts/models.rst
  examples/asr/asr_with_tts/speech_to_text_bpe_with_text.py
  examples/asr/conf/asr_tts/hybrid_asr_tts.yaml
  nemo/collections/asr/data/text_to_text.py
  nemo/collections/asr/models/hybrid_asr_tts_models.py
Labels: TTS, ASR

#6648 fix conversion and eval
  examples/nlp/language_modeling/megatron_ckpt_to_nemo.py
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_eval.py
Labels: NLP

#6614 Confidence ensembles implementation
  examples/asr/transcribe_speech.py
  nemo/collections/asr/metrics/rnnt_wer.py
  nemo/collections/asr/metrics/rnnt_wer_bpe.py
  nemo/collections/asr/metrics/wer.py
  nemo/collections/asr/models/confidence_ensemble.py
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/modules/conv_asr.py
  nemo/collections/asr/modules/rnnt.py
  nemo/collections/asr/parts/utils/asr_confidence_utils.py
  nemo/core/classes/modelPT.py
  scripts/confidence_ensembles/build_ensemble.py
  scripts/confidence_ensembles/ensemble_config.yaml
  scripts/confidence_ensembles/test_confidence_ensembles.py
Labels: core, ASR

#6615 Patch memory used for NeMo Megatron models
  nemo/collections/nlp/models/language_modeling/megatron/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_decoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_perceiver_encoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_decoder.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_encoder.py
  nemo/collections/nlp/modules/common/megatron/mlp.py
  nemo/collections/nlp/modules/common/megatron/module.py
  nemo/collections/nlp/modules/common/megatron/retrieval_token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/retrieval_transformer.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/parts/utils_funcs.py
  nemo/core/connectors/save_restore_connector.py
Labels: core, NLP

#6597 merge lora weights into base model
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_tuning.py
  scripts/nlp_language_modeling/merge_lora_weights/conf/merge_lora_weights.yaml
  scripts/nlp_language_modeling/merge_lora_weights/merge.py
Labels: NLP

#6660 Upgrade to PyTorch 23.04 Container
  Dockerfile
  Jenkinsfile
  README.rst
Labels: CI

#6655 Merge r1.18.0 bugfixes and doc updates to main
  Dockerfile
  Jenkinsfile
  nemo/collections/tts/g2p/modules.py
  nemo/collections/tts/models/aligner.py
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/models/mixer_tts.py
  nemo/collections/tts/models/radtts.py
  nemo/collections/tts/models/tacotron2.py
  nemo/collections/tts/models/vits.py
  nemo/collections/tts/torch/g2ps.py
  nemo/package_info.py
  tutorials/VoiceSwapSample.ipynb
  tutorials/nlp/ITN_with_Thutmose_Tagger.ipynb
Labels: TTS, NLP, CI

#6657 Confidence ensembles: fix issues and add tuning functionality
  examples/asr/transcribe_speech.py
  nemo/collections/asr/models/confidence_ensemble.py
  nemo/collections/asr/parts/utils/asr_confidence_utils.py
  scripts/confidence_ensembles/build_ensemble.py
  scripts/confidence_ensembles/test_confidence_ensembles.py
Labels: ASR

#6609 Add support for RNNT/hybrid models to partial transcribe
  examples/asr/transcribe_speech.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: ASR

#6656 eval_beamsearch_ngram.py with hybrid ctc
  examples/asr/speech_to_text_eval.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  scripts/asr_language_modeling/ngram_lm/eval_beamsearch_ngram.py
Labels: ASR

#6663 fix bucketing bug issue for picking new bucket
  nemo/collections/asr/data/audio_to_text.py
Labels: ASR

#6671 minor fix for missing chat attr
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#6665 [TTS] Add callback for saving audio during FastPitch training
  examples/tts/conf/fastpitch/fastpitch_22050.yaml
  nemo/collections/tts/data/text_to_speech_dataset.py
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/modules/fastpitch.py
  nemo/collections/tts/parts/utils/callbacks.py
  nemo/collections/tts/parts/utils/helpers.py
Labels: TTS

#6673 PE refactor
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/kerple_relative_position.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/__init__.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/alibi_relative_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/kerple_relative_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/rotary_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/sandwich_relative_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/t5_relative_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/xpos_relative_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/retrieval_transformer.py
  nemo/collections/nlp/modules/common/megatron/sandwich_relative_position.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
Labels: NLP

#6678 Make Note usage consistent in adapter_mixins.py
  nemo/core/classes/mixins/adapter_mixins.py
Labels: core

#6681 Fix a bug, use _ceil_to_nearest instead as _round_to_nearest is not d…
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_chat_dataset.py
Labels: NLP

#6458 Enable ONNX export of 5B GPT trained with TE FP8 modules
  examples/nlp/language_modeling/conf/megatron_gpt_export.yaml
  examples/nlp/language_modeling/megatron_export.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/module.py
  nemo/utils/export_utils.py
Labels: NLP

#6697 [TTS] Fix adapter duration issue
  examples/tts/conf/fastpitch_align_44100_adapter.yaml
  examples/tts/fastpitch_finetune_adapters.py
  nemo/collections/tts/losses/aligner_loss.py
  nemo/collections/tts/models/fastpitch.py
  tutorials/tts/FastPitch_Adapter_Finetuning.ipynb
Labels: TTS

#6710 Limit codeql scope
  .github/workflows/codeql.yml
Labels: CI

#6685 eval fix
  examples/nlp/language_modeling/megatron_gpt_prompt_learning_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_adapter_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_ia3_eval.py
Labels: NLP

#6716 [TTS] Filter out silent audio files during preprocessing
  nemo/collections/tts/parts/preprocessing/audio_trimming.py
  scripts/dataset_processing/tts/compute_feature_stats.py
  scripts/dataset_processing/tts/create_speaker_map.py
  scripts/dataset_processing/tts/preprocess_audio.py
  tests/collections/tts/parts/preprocessing/test_audio_trimming.py
Labels: TTS

#6729 Gpt alibi fa infer yy
  examples/nlp/language_modeling/conf/megatron_gpt_inference.yaml
  examples/nlp/language_modeling/megatron_gpt_eval.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#6731 Fix Codeql config
  .github/workflows/codeql.yml
  .github/workflows/config/codeql.yml
Labels: CI

#6733 [TTS] fix inconsistent type hints for IpaG2p
  nemo/collections/tts/g2p/models/i18n_ipa.py
Labels: TTS

#6698 VP Fixes for converter + Config management
  examples/nlp/language_modeling/megatron_change_num_partitions.py
Labels: NLP

#6738 Vp fixes
  examples/nlp/language_modeling/megatron_change_num_partitions.py
Labels: TTS, ASR, NLP, Speaker Tasks, CI

#6168 Graph RNNT: Grid- and Compose-Transducer. W-Transducer loss
  nemo/collections/asr/losses/rnnt.py
  nemo/collections/asr/parts/k2/graph_transducer.py
  nemo/collections/asr/parts/k2/w_transducer.py
  nemo/core/utils/k2_guard.py
  nemo/core/utils/k2_utils.py
  tests/collections/asr/conftest.py
  tests/collections/asr/k2/test_graph_transducer.py
  tests/collections/asr/k2/test_w_transducer.py
Labels: core, ASR

#6644 Fix for interctc test random failure
  tests/collections/asr/test_asr_interctc_models.py
Labels: stale

#6708 check for first or last stage
  examples/nlp/language_modeling/megatron_gpt_eval.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#6751 sharded manifests docs
  docs/source/asr/datasets.rst
Labels: ASR

#6753 Bug fix to restore act ckpt
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#6735 [TTS] relax hardcoded prefix for phonemes and tones and infer phoneme set through dict
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  nemo/collections/tts/g2p/models/zh_cn_pinyin.py
Labels: TTS, common

#6702 [TTS] corrected misleading deprecation warnings.
  nemo/collections/tts/models/aligner.py
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/models/mixer_tts.py
  nemo/collections/tts/models/radtts.py
  nemo/collections/tts/models/tacotron2.py
  nemo/collections/tts/models/vits.py
  nemo/collections/tts/parts/utils/helpers.py
Labels: TTS

#6744 Fix checkpointed forward and add test for full activation checkpointing
  Jenkinsfile
  nemo/collections/nlp/modules/common/megatron/transformer.py
Labels: NLP, CI

#6741 Fix TTS adapter tutorial
  nemo/collections/tts/modules/submodules.py
  tutorials/tts/FastPitch_Adapter_Finetuning.ipynb
  tutorials/tts/FastPitch_MultiSpeaker_Pretraining.ipynb
Labels: TTS

#6765 lora notebook
  tutorials/nlp/lora.ipynb
Labels: NLP
