Repository NVIDIA-NeMo/NeMo, pull requests merged in 2023-11, with the labels that each got.

#7808 Fix tn duplex
  docs/source/nlp/text_normalization/wfst/wfst_text_normalization.rst
  examples/nlp/duplex_text_normalization/duplex_text_normalization_infer.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/electronic/normalize.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/electronic/tokenize_and_classify.py
  examples/nlp/duplex_text_normalization/nn_wfst/en/whitelist/normalize.py
  nemo/collections/nlp/models/duplex_text_normalization/duplex_tn.py
  nemo/collections/nlp/models/nlp_model.py
Labels: NLP

#7854 Update transformers cache on Jenkins
  Jenkinsfile
Labels: CI

#7834 Add support for finetuning with huggingface datasets
  Jenkinsfile
  docs/source/asr/configs.rst
  examples/asr/conf/asr_finetune/speech_to_text_finetune.yaml
  examples/asr/conf/asr_finetune/speech_to_text_hf_finetune.yaml
  examples/asr/speech_to_text_finetune.py
  nemo/collections/asr/data/audio_to_text_dataset.py
  nemo/collections/asr/data/huggingface/__init__.py
  nemo/collections/asr/data/huggingface/hf_audio_to_text.py
  nemo/collections/asr/data/huggingface/hf_audio_to_text_dataset.py
  nemo/collections/asr/parts/mixins/mixins.py
  requirements/requirements_common.txt
  requirements/requirements_nlp.txt
  scripts/tokenizers/conf/huggingface_data_tokenizer.yaml
  scripts/tokenizers/get_hf_text_data.py
Labels: ASR, CI

#7728 Multimodal merge
  examples/nlp/language_modeling/megatron_bart_pretraining.py
  examples/nlp/language_modeling/megatron_gpt_continue_training.py
  examples/nlp/language_modeling/megatron_gpt_prompt_learning.py
  examples/nlp/language_modeling/megatron_gpt_test.py
  examples/nlp/language_modeling/megatron_lm_ckpt_to_nemo.py
  examples/nlp/language_modeling/megatron_retro_cal_shape.py
  examples/nlp/language_modeling/megatron_retro_fine_tune.py
  examples/nlp/language_modeling/megatron_retro_mutransfer_pretrain.py
  examples/nlp/language_modeling/megatron_retro_pretraining.py
  examples/nlp/language_modeling/megatron_t5_lm_adaptation_finetune.py
  examples/nlp/language_modeling/megatron_t5_seq2seq_eval.py
  examples/nlp/language_modeling/megatron_t5_seq2seq_finetune.py
  examples/nlp/language_modeling/tuning/megatron_gpt_adapter_tuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_ia3_tuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  examples/nlp/language_modeling/tuning/megatron_t5_adapter_tuning.py
  examples/nlp/language_modeling/tuning/megatron_t5_ia3_tuning.py
  examples/nlp/language_modeling/tuning/megatron_t5_lora_tuning.py
  examples/nlp/machine_translation/megatron_nmt_training.py
  nemo/collections/common/callbacks/ema.py
  nemo/collections/nlp/data/language_modeling/megatron/data_samplers.py
  nemo/collections/nlp/data/language_modeling/megatron/megatron_batch_samplers.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retrieval_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/modules/common/megatron/kerple_relative_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/mlp.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/modules/common/megatron/utils.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/mixins/multimodal_adapter_mixins.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/classes/modelPT.py
  nemo/core/connectors/save_restore_connector.py
  nemo/core/optim/__init__.py
  nemo/core/optim/adan.py
  nemo/core/optim/megatron_fused_adam.py
  nemo/core/optim/optimizer_with_main_params.py
  nemo/core/optim/optimizers.py
  nemo/utils/exp_manager.py
  nemo/utils/timers.py
  nemo/utils/trt_utils.py
  tools/asr_evaluator/asr_evaluator.py
Labels: core, NLP, common

#6853 LID: several random samples for long file
  nemo/collections/asr/models/label_models.py
Labels: ASR

#7852 Fix flash decoding precision
  nemo/collections/nlp/modules/common/megatron/attention.py
Labels: NLP

#7864 Removing duplicate Megatron-LM installation
  Dockerfile
Labels: CI

#7737 Adding long-form audio speaker diarization (clustering) class and functions
  examples/speaker_tasks/diarization/conf/inference/diar_infer_general.yaml
  examples/speaker_tasks/diarization/conf/inference/diar_infer_meeting.yaml
  examples/speaker_tasks/diarization/conf/inference/diar_infer_telephonic.yaml
  nemo/collections/asr/parts/utils/longform_clustering.py
  nemo/collections/asr/parts/utils/offline_clustering.py
  nemo/collections/asr/parts/utils/online_clustering.py
  nemo/collections/asr/parts/utils/speaker_utils.py
  tests/collections/asr/test_diar_utils.py
Labels: ASR, Speaker Tasks

#7613 adding special_tokens from tokenizer config for transformer-lm model
  nemo/collections/nlp/models/language_modeling/transformer_lm_model.py
Labels: NLP

#7750 Add Adapter and IA3 support for MCore models
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/nlp/parts/peft_config.py
Labels: NLP

#7866 Mengruw/fixed tgt lang v3
  examples/nlp/machine_translation/conf/nmt_megatron_infer.yaml
  examples/nlp/machine_translation/nmt_transformer_infer_megatron.py
Labels: TTS, ASR, NLP, Speaker Tasks, CI, common

#7887 Fix k2 installation: update for latest PyTorch, move script to `installers` dir
  Dockerfile
  scripts/installers/install_k2.sh
Labels: CI

#7882 Add back import guard
  nemo/collections/nlp/parts/peft_config.py
  tests/core/test_save_restore.py
Labels: core, NLP

#7894 Change FP8 Defaults
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/conf/megatron_llama_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
Labels: NLP

#7902 Added knob for ub_tp_comm_overlap for the MCORE pass
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#7862 Upgrade NeMo to latest mcore and TE
  Dockerfile
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, CI

#7904 Pad sequences to multiples of 16 for GPTSFTDataset
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
Labels: NLP

#7908 upgrade to latest mcore and TE
  Dockerfile
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, CI

#7867 Tar codec
  nemo/collections/tts/data/vocoder_dataset.py
  nemo/collections/tts/models/audio_codec.py
Labels: TTS

#7913 added missing torch import
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
Labels: NLP

#7883 different truncation types for long context truncation, addition of longbench tasks, preprocessing bug fixs
  examples/nlp/language_modeling/conf/megatron_gpt_inference_zero_scrolls.yaml
  examples/nlp/language_modeling/constants.py
  examples/nlp/language_modeling/megatron_gpt_eval_synthetic.py
  examples/nlp/language_modeling/megatron_gpt_eval_zero_scrolls.py
  examples/nlp/language_modeling/prepare_truncated_data.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/rotary_position_embedding.py
Labels: NLP

#7889 Fix CPU initialization of GPT models
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#7925 Fix pinned triton version
  Dockerfile
  README.rst
  nemo/collections/nlp/modules/common/megatron/attention.py
  requirements/requirements.txt
  tests/collections/nlp/test_flash_attention.py
Labels: NLP, CI

#7928 fix tp_overlap config var name
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#7892 add Dutch P&C FC model info
  docs/source/asr/data/scores/nl/fastconformer_nl.csv
  docs/source/asr/data/scores_pc/nl/fastconformer_nl.csv
  docs/source/asr/scores.rst
Labels: ASR

#7943 Add checks for unit tests that are looking for data from CI machine
  tests/collections/asr/decoding/rnnt_alignments_check.py
  tests/collections/nlp/test_chat_sft_dataset.py
  tests/collections/nlp/test_megatron.py
  tests/collections/nlp/test_nmt_model.py
Labels: ASR, NLP

#7944 Instructions for running ci on pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI
