Repository NVIDIA-NeMo/NeMo, pull requests merged in 2023-04, with the labels that each got.

#6346 [Core] return_config=True now extracts just config, not full tarfile
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/connectors/save_restore_connector.py
  tests/core/test_save_restore.py
Labels: core, NLP

#6311 chore: minor cleanup
  examples/asr/asr_cache_aware_streaming/speech_to_text_cache_aware_streaming_infer.py
  nemo/collections/asr/parts/mixins/streaming.py
  nemo/collections/asr/parts/submodules/causal_convs.py
  nemo/collections/asr/parts/submodules/multi_head_attention.py
  nemo/collections/asr/parts/utils/streaming_utils.py
Labels: ASR

#6331 Added num decoder blocks in megatron export
  nemo/collections/nlp/modules/common/megatron/megatron_export.py
Labels: NLP

#6352 docs on the use of heterogeneous test / val manifests
  docs/source/asr/configs.rst
Labels: ASR

#6344 Fix radtts sort r17
  nemo/collections/tts/parts/utils/helpers.py
  tests/collections/tts/test_helpers.py
Labels: TTS

#6185 [WIP] add buffered chunked streaming for nemo force aligner
  nemo/collections/asr/parts/utils/streaming_utils.py
  tools/nemo_forced_aligner/README.md
  tools/nemo_forced_aligner/align.py
  tools/nemo_forced_aligner/utils/data_prep.py
Labels: ASR

#6222 [NLP] Support T5 with Megatron Core
  nemo/collections/nlp/data/glue_benchmark/glue_benchmark_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
  nemo/collections/nlp/models/language_modeling/megatron_glue_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/modules/common/megatron/build_model.py
Labels: NLP

#6273 restore path for p-tuning
  examples/nlp/language_modeling/conf/megatron_gpt_prompt_learning_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
Labels: NLP

#6366 taskname and early stopping for adapters
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_adapter_tuning_config.yaml
Labels: NLP

#6373 Bugfix for BF16 grad reductions with distopt (#6340)
  nemo/collections/nlp/modules/common/megatron/clip_grads.py
  nemo/core/optim/distributed_adam.py
Labels: core, NLP

#6377 Add installation and ASR inference instructions for Mac
  docs/source/asr/results.rst
  docs/source/starthere/intro.rst
Labels: ASR

#6376 Adapter tuning accepts expanded language model dir
  nemo/collections/nlp/models/language_modeling/megatron_gpt_adapter_model.py
Labels: NLP

#6288 VITS HiFiTTS doc
  docs/source/tts/data/ngc_models_e2e.csv
  examples/tts/vits.py
  nemo/collections/tts/models/vits.py
  tutorials/tts/Vits_Training.ipynb
Labels: TTS

#6347 specaug speedup
  nemo/collections/asr/parts/submodules/spectr_augment.py
Labels: ASR

#6379 updated lr for FC configs
  examples/asr/conf/fastconformer/fast-conformer_ctc_bpe.yaml
  examples/asr/conf/fastconformer/fast-conformer_transducer_bpe.yaml
Labels: ASR

#6378 Update gpt_training.rst
  docs/source/nlp/nemo_megatron/gpt/gpt_training.rst
Labels: NLP

#6375 Make possible to control tqdm progress bar in ASR models
  nemo/collections/asr/models/asr_model.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_asr_tts_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/k2_aligner_model.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/models/slu_models.py
Labels: ASR

#6253 [ASR] Conformer global tokens in local attention
  docs/source/asr/models.rst
  docs/source/asr/results.rst
  examples/asr/conf/fastconformer/fast-conformer-long_ctc_bpe.yaml
  examples/asr/conf/fastconformer/fast-conformer-long_transducer_bpe.yaml
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/parts/submodules/conformer_modules.py
  nemo/collections/asr/parts/submodules/multi_head_attention.py
  tests/collections/asr/test_asr_local_attn.py
Labels: ASR

#6333 user selected max_seq_len should be less than model's max_seq_len
  examples/nlp/language_modeling/conf/megatron_gpt_prompt_learning_inference.yaml
  examples/nlp/language_modeling/megatron_gpt_prompt_learning_eval.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
Labels: NLP

#6210 Megatron GPT model finetuning
  Jenkinsfile
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_sft.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  nemo/collections/common/metrics/metric_string_to_torchmetric.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  scripts/nlp_language_modeling/niv2/preprocess_niv2.py
  scripts/nlp_language_modeling/t0/merge_train_tasks.py
  scripts/nlp_language_modeling/t0/t0_dataset_preproc.py
Labels: NLP, CI, common

#6368 [NeMo Megatron] Cleanup configs to infer the models TP PP config automatically
  examples/nlp/language_modeling/conf/megatron_gpt_inference.yaml
  examples/nlp/language_modeling/conf/megatron_gpt_prompt_learning_inference.yaml
  examples/nlp/language_modeling/conf/megatron_retro_inference.yaml
  examples/nlp/language_modeling/conf/megatron_t5_prompt_learning_inference.yaml
  examples/nlp/language_modeling/megatron_change_num_partitions.py
  examples/nlp/language_modeling/megatron_gpt_eval.py
  examples/nlp/language_modeling/megatron_gpt_prompt_learning_eval.py
  examples/nlp/language_modeling/megatron_retro_eval.py
  examples/nlp/language_modeling/megatron_t5_eval.py
  examples/nlp/language_modeling/megatron_t5_prompt_learning_eval.py
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_adapter_inference.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_ia3_inference.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_adapter_inference.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_ia3_inference.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_adapter_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_ia3_eval.py
  examples/nlp/language_modeling/tuning/megatron_t5_adapter_eval.py
  examples/nlp/language_modeling/tuning/megatron_t5_ia3_eval.py
Labels: NLP

#6382 fixed torch warning on using a list of numpy arrays
  nemo/collections/asr/models/label_models.py
Labels: ASR

#6385 Ensure fine-tuning/prompt learning work for T5
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  nemo/collections/nlp/modules/common/megatron/utils.py
Labels: NLP

#6399 Fix prompt template unescaping
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
Labels: NLP

#6388 Add support for Megatron GPT Untied Embd TP PP Change
  examples/nlp/language_modeling/megatron_change_num_partitions.py
Labels: NLP

#6409 Fix the GPT SFT datasets loss mask bug
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
Labels: NLP

#6413 Fix FastConformer config: correct bucketing strategy
  examples/asr/conf/fastconformer/fast-conformer-long_transducer_bpe.yaml
  examples/asr/conf/fastconformer/fast-conformer_transducer_bpe.yaml
Labels: ASR

#6327 Add ability to enable/disable act ckpt and seq parallelism in GPT
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#6419 Refactor PP conversion + add support for TP only conversion
  examples/nlp/language_modeling/megatron_change_num_partitions.py
Labels: NLP

#6423 fixing the ability to use temp sampling with concat datasets
  nemo/collections/asr/data/audio_to_text_dataset.py
Labels: ASR

#6427 fix CPU overheads of GPT synthetic dataset
  nemo/collections/nlp/data/language_modeling/megatron/gpt_dataset.py
Labels: NLP

#6372 add conformer configs for hat model
  README.rst
  docs/source/asr/models.rst
  examples/asr/conf/conformer/hat/conformer_hat_bpe.yaml
  examples/asr/conf/conformer/hat/conformer_hat_char.yaml
Labels: ASR

#6349 [ASR] Add optimization util for linear sum assignment algorithm
  nemo/collections/asr/metrics/der.py
  nemo/collections/asr/models/online_diarizer.py
  nemo/collections/asr/parts/utils/offline_clustering.py
  nemo/collections/asr/parts/utils/online_clustering.py
  nemo/collections/asr/parts/utils/optimization_utils.py
  nemo/collections/asr/parts/utils/speaker_utils.py
  tests/collections/asr/test_diar_metrics.py
  tests/collections/asr/test_diar_utils.py
Labels: ASR

#6428 check if grad is none before calling all_reduce
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#6430 Upgrade pt 23.03
  Dockerfile
  Jenkinsfile
  README.rst
  nemo/package_info.py
Labels: CI

#6417 [TTS] FastPitch speaker encoder
  examples/tts/conf/fastpitch_align_44100_adapter.yaml
  nemo/collections/tts/data/dataset.py
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/modules/fastpitch.py
  nemo/collections/tts/modules/submodules.py
  nemo/collections/tts/torch/tts_data_types.py
Labels: TTS

#6395 Sharded manifests for tarred datasets
  nemo/collections/asr/data/audio_to_label.py
  nemo/collections/asr/data/audio_to_text.py
  nemo/collections/asr/data/audio_to_text_dali.py
  nemo/collections/asr/data/audio_to_text_dataset.py
  nemo/collections/asr/models/configs/asr_models_config.py
  nemo/utils/data_utils.py
  scripts/speech_recognition/convert_to_tarred_audio_dataset.py
  tests/collections/asr/test_asr_ctc_encoder_model_bpe.py
  tests/collections/asr/test_asr_ctcencdec_model.py
Labels: ASR

#6362 Tensor-parallel communication overlap with userbuffer backend
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/utils/app_state.py
Labels: NLP, CI

#6374 Update wfst_text_normalization.rst
  docs/source/nlp/text_normalization/wfst/wfst_text_normalization.rst
Labels: NLP

#6443 Fix replace_bos_with_pad not found
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
Labels: NLP

#6437 Support Swiglu in TP PP Conversion
  examples/nlp/language_modeling/megatron_change_num_partitions.py
Labels: NLP

#6422 Cache and reuse inputs when no reset
  nemo/collections/nlp/data/language_modeling/megatron/gpt_dataset.py
Labels: NLP

#6449 fix to set model in the eval mode during validation with virtual pipelining
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#6442 BERT pre-training mp fork to spawn
  examples/nlp/language_modeling/megatron_bert_pretraining.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
Labels: NLP

#6459 Meagtron encoder decoder fix for empty validation outputs
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
Labels: NLP

#6370 Update script for ngram rnnt and hat beam search decoding
  docs/source/asr/asr_language_modeling.rst
  nemo/collections/asr/models/rnnt_models.py
  scripts/asr_language_modeling/ngram_lm/eval_beamsearch_ngram_transducer.py
Labels: ASR

#6472 Reduce workers on NMT CI
  Jenkinsfile
Labels: CI

#6465 Switch to NVIDIA Megatron repo
  Dockerfile
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
Labels: NLP, CI

#6478 Megatron KERPLE positional embeddings
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_model_base_config.yaml
  nemo/collections/nlp/modules/common/megatron/kerple_relative_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
Labels: NLP, CI

#6469 Manual garbage collection with an interval
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP

#6462 Support in external sample mapping for Megatron datasets
  nemo/collections/nlp/data/language_modeling/megatron/dataset_utils.py
Labels: NLP

#6466 Fix cache aware hybrid bugs
  examples/asr/asr_cache_aware_streaming/speech_to_text_cache_aware_streaming_infer.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/parts/mixins/mixins.py
  nemo/collections/asr/parts/submodules/subsampling.py
  nemo/collections/asr/parts/utils/streaming_utils.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_bpe.py
Labels: ASR

#6494 Fix typos
  tutorials/VoiceSwapSample.ipynb
  tutorials/asr/Buffered_Transducer_Inference_with_LCS_Merge.ipynb
  tutorials/nlp/Entity_Linking_Medical.ipynb
  tutorials/nlp/ITN_with_Thutmose_Tagger.ipynb
  tutorials/nlp/Megatron_Synthetic_Tabular_Data_Generation.ipynb
  tutorials/nlp/Multitask_Prompt_and_PTuning.ipynb
  tutorials/nlp/Token_Classification-BioMegatron.ipynb
  tutorials/nlp/Token_Classification_Named_Entity_Recognition.ipynb
  tutorials/speaker_tasks/Speaker_Diarization_Inference.ipynb
  tutorials/tts/FastPitch_ChineseTTS_Training.ipynb
  tutorials/tts/FastPitch_GermanTTS_Training.ipynb
  tutorials/tts/Inference_DurationPitchControl.ipynb
Labels: TTS, ASR, NLP, Speaker Tasks

#6496 Add disclaimer about dataset for ASR
  tutorials/asr/ASR_CTC_Language_Finetuning.ipynb
  tutorials/asr/ASR_Example_CommonVoice_Finetuning.ipynb
  tutorials/asr/ASR_for_telephony_speech.ipynb
  tutorials/asr/ASR_with_NeMo.ipynb
  tutorials/asr/ASR_with_Subword_Tokenization.ipynb
  tutorials/asr/ASR_with_Transducers.ipynb
  tutorials/asr/Buffered_Transducer_Inference.ipynb
  tutorials/asr/Buffered_Transducer_Inference_with_LCS_Merge.ipynb
  tutorials/asr/Intro_to_Transducers.ipynb
  tutorials/asr/Multilang_ASR.ipynb
  tutorials/asr/Offline_ASR.ipynb
  tutorials/asr/Offline_ASR_with_VAD_for_CTC_models.ipynb
  tutorials/asr/Online_ASR_Microphone_Demo.ipynb
  tutorials/asr/Online_Noise_Augmentation.ipynb
  tutorials/asr/Online_Offline_Microphone_VAD_Demo.ipynb
  tutorials/asr/Online_Offline_Speech_Commands_Demo.ipynb
  tutorials/asr/Self_Supervised_Pre_Training.ipynb
  tutorials/asr/Speech_Commands.ipynb
  tutorials/asr/Streaming_ASR.ipynb
  tutorials/asr/Voice_Activity_Detection.ipynb
  tutorials/asr/asr_adapters/ASR_with_Adapters.ipynb
Labels: ASR

#6502 Fix error appearing when using tar datasets
  nemo/collections/asr/data/audio_to_text.py
Labels: ASR

#6501 fix broken links r1.18.0
  tutorials/tools/CTC_Segmentation_Tutorial.ipynb
  tutorials/tts/Pronunciation_customization.ipynb
Labels: TTS

#6317 [TTS] Create functions for TTS preprocessing without dataloader
  examples/tts/conf/features/feature_22050.yaml
  examples/tts/conf/features/feature_44100.yaml
  nemo/collections/tts/parts/preprocessing/features.py
  nemo/collections/tts/parts/utils/tts_dataset_utils.py
  scripts/dataset_processing/tts/audio_processing/preprocess_audio.py
  scripts/dataset_processing/tts/compute_features.py
  scripts/dataset_processing/tts/compute_speaker_stats.py
  tests/collections/tts/parts/preprocessing/test_features.py
  tests/collections/tts/parts/utils/test_tts_dataset_utils.py
Labels: TTS

#6209 Cache aware streaming nfa
  nemo/collections/asr/parts/mixins/mixins.py
  tools/nemo_forced_aligner/align.py
  tools/nemo_forced_aligner/utils/data_prep.py
Labels: ASR

#6512 Fix custom `forward_torch_softmax`
  nemo/collections/nlp/modules/common/megatron/fused_softmax.py
Labels: NLP

#6500 [BugFix] Force _get_batch_preds() to keep logits in decoder timestamp…
  nemo/collections/asr/parts/utils/decoder_timestamps_utils.py
Labels: ASR

#6499 [BugFix] Force _get_batch_preds() to keep logits in decoder timestamps generator
  nemo/collections/asr/parts/utils/decoder_timestamps_utils.py
Labels: ASR

#6511 [TTS] Fix FastPitch energy code
  nemo/collections/tts/modules/fastpitch.py
Labels: TTS

#6514 [TTS] fixed broken path.
  tutorials/tts/Vits_Training.ipynb
Labels: TTS

#6498 Add interleaved pp support
  examples/nlp/language_modeling/megatron_change_num_partitions.py
Labels: NLP
