Repository NVIDIA-NeMo/NeMo, pull requests merged in 2023-09, with the labels that each got.

#7063 Support for flash attention 2.0
  nemo/collections/nlp/modules/common/megatron/attention.py
Labels: NLP

#7147 multiple fields can form a context
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_eval_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_tuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_sft.yaml
  nemo/collections/common/tokenizers/huggingface/auto_tokenizer.py
  nemo/collections/common/tokenizers/sentencepiece_tokenizer.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_chat_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP, common

#7332 adding bias_dropout_add_fusion option for BERT
  nemo/collections/nlp/models/language_modeling/megatron/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
Labels: NLP

#7356 [TTS] Change audio codec token type to TokenIndex
  nemo/collections/tts/models/audio_codec.py
  nemo/collections/tts/modules/vector_quantization.py
Labels: TTS

#7326 enable selective unfreeze
  nemo/collections/common/parts/adapter_modules.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/core/classes/mixins/adapter_mixins.py
Labels: core, NLP, common

#7361 Fix typos
  examples/asr/asr_adapters/README.md
  examples/asr/asr_chunked_inference/README.md
  examples/slu/speech_intent_slot/README.md
  examples/speaker_tasks/README.md
  examples/speaker_tasks/diarization/README.md
  tools/nemo_forced_aligner/README.md
  tools/nmt_grpc_service/README.md
  tools/rir_corpus_generator/README.md
  tutorials/asr/README.md
Labels: ASR, Speaker Tasks

#7353 Upgrade pytorch container to 23.08
  Dockerfile
  Jenkinsfile
  tests/collections/nlp/test_flash_attention.py
Labels: NLP, CI

#7355 enable fp32 optimizer for output_layer in mcore
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP

#7368 Revert comment
  examples/nlp/language_modeling/megatron_gpt_pretraining.py
Labels: NLP

#7371 Update to core 23.08 branch ToT
  Dockerfile
  Jenkinsfile
Labels: CI

#7367 fix pipeline parallel inference
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#7372 fix for peft tied weights
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
Labels: NLP

#7369 fixed trainer.strategy=auto from None.
  tutorials/tts/FastPitch_Finetuning.ipynb
Labels: TTS

#7358 add O2 option in gpt eval
  examples/nlp/language_modeling/conf/megatron_gpt_inference.yaml
  examples/nlp/language_modeling/conf/megatron_llama_inference.yaml
  examples/nlp/language_modeling/megatron_gpt_eval.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP

#7336 Move model precision copy
  examples/nlp/language_modeling/megatron_bart_pretraining.py
  examples/nlp/language_modeling/megatron_bert_pretraining.py
  examples/nlp/language_modeling/megatron_gpt_continue_training.py
  examples/nlp/language_modeling/megatron_gpt_pretraining.py
  examples/nlp/language_modeling/megatron_gpt_prompt_learning.py
  examples/nlp/language_modeling/megatron_retro_mutransfer_pretrain.py
  examples/nlp/language_modeling/megatron_retro_pretraining.py
  examples/nlp/language_modeling/megatron_t5_lm_adaptation_finetune.py
  examples/nlp/language_modeling/megatron_t5_pretraining.py
  examples/nlp/language_modeling/megatron_t5_prompt_learning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_adapter_tuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_ia3_tuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_tuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  examples/nlp/language_modeling/tuning/megatron_t5_adapter_tuning.py
  examples/nlp/language_modeling/tuning/megatron_t5_ia3_tuning.py
  examples/nlp/language_modeling/tuning/megatron_t5_lora_tuning.py
  examples/nlp/machine_translation/megatron_nmt_training.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retrieval_model.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/retrieval_token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/parts/utils_funcs.py
  tests/collections/nlp/test_gpt_model.py
Labels: NLP

#7385 Sandeepsub/ul2 gpt dataset
  examples/nlp/language_modeling/megatron_ckpt_to_nemo.py
  examples/nlp/language_modeling/megatron_gpt_eval.py
  nemo/collections/nlp/data/language_modeling/megatron/t5_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/ul2_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_u_gpt_model.py
Labels: NLP

#7388 Fix PEFT checkpoint loading
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
Labels: NLP

#7359 Use distributed optimizer support for multiple dtypes
  Dockerfile
  Jenkinsfile
  README.rst
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/clip_grads.py
  nemo/core/optim/distributed_adam.py
Labels: feature, core, NLP, CI

#7387 minor fix for llama ckpt conversion script
  Jenkinsfile
  scripts/nlp_language_modeling/convert_hf_llama_to_nemo.py
Labels: CI

#7376 Fix wrong calling of librosa.get_duration() in notebook
  tutorials/asr/Online_Offline_Speech_Commands_Demo.ipynb
Labels: ASR

#7393 [PATCH] PEFT import mcore
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
Labels: NLP

#7391 Interface to enable SHARP
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/utils/app_state.py
Labels: NLP

#7402 Update Core Commit
  Dockerfile
  Jenkinsfile
Labels: CI

#7394 Use cfg attribute in bert
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_adapter_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retrieval_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
Labels: NLP

#7386 Add support for bias conversion in Swiglu models
  examples/nlp/language_modeling/megatron_change_num_partitions.py
Labels: NLP

#7343 Update save_to and restore_from for dist checkpointing
  examples/nlp/language_modeling/conf/megatron_gpt_inference.yaml
  examples/nlp/language_modeling/conf/megatron_llama_inference.yaml
  examples/nlp/language_modeling/megatron_gpt_eval.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/nlp_model.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/optim/distributed_adam.py
  scripts/nlp_language_modeling/convert_hf_llama_to_nemo.py
Labels: core, NLP

#7403 fix forward for with mcore=false
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#7374 Fix logging to remove 's/it' from progress bar in Megatron models and add train_step_timing
  examples/nlp/language_modeling/megatron_bart_pretraining.py
  examples/nlp/language_modeling/megatron_gpt_continue_training.py
  examples/nlp/language_modeling/megatron_gpt_eval.py
  examples/nlp/language_modeling/megatron_gpt_prompt_learning.py
  examples/nlp/language_modeling/megatron_gpt_prompt_learning_eval.py
  examples/nlp/language_modeling/megatron_retro_cal_shape.py
  examples/nlp/language_modeling/megatron_retro_fine_tune.py
  examples/nlp/language_modeling/megatron_retro_mutransfer_pretrain.py
  examples/nlp/language_modeling/megatron_retro_pretraining.py
  examples/nlp/language_modeling/megatron_t5_lm_adaptation_finetune.py
  examples/nlp/language_modeling/megatron_t5_prompt_learning.py
  examples/nlp/language_modeling/megatron_t5_seq2seq_finetune.py
  examples/nlp/language_modeling/tuning/megatron_gpt_adapter_tuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_ia3_tuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_tuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  examples/nlp/language_modeling/tuning/megatron_t5_adapter_tuning.py
  examples/nlp/language_modeling/tuning/megatron_t5_ia3_tuning.py
  examples/nlp/language_modeling/tuning/megatron_t5_lora_tuning.py
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/utils/exp_manager.py
Labels: NLP

#7404 Set Activation Checkpointing Defaults
  nemo/collections/nlp/modules/common/megatron/transformer.py
Labels: NLP

#7407 Make loss mask default to false
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#7408 Add dummy userbuffer config files
  examples/nlp/language_modeling/conf/tp_overlap/ub_cfg_a100_h6144_tp4_mbs4_seqlen2048.yaml
  examples/nlp/language_modeling/conf/tp_overlap/ub_cfg_a100_h8192_tp8_mbs4_seqlen2048.yaml
  examples/nlp/language_modeling/conf/tp_overlap/ub_cfg_h100_h6144_tp4_mbs4_seqlen2048.yaml
  examples/nlp/language_modeling/conf/tp_overlap/ub_cfg_h100_h8192_tp8_mbs4_seqlen2048.yaml
Labels: NLP

#7410 Sft scrolls y
  examples/nlp/language_modeling/megatron_t5_pretraining.py
  examples/nlp/language_modeling/megatron_t5_seq2seq_eval.py
  examples/nlp/language_modeling/megatron_t5_seq2seq_finetune.py
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  nemo/collections/common/metrics/classification_accuracy.py
  nemo/collections/nlp/data/common/sequence_to_sequence_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/dataset_utils.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/t5_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/ul2_colt5_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/ul2_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_finetune_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_model.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_encoder.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/alibi_relative_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
Labels: NLP, common

#7412 Add missing ubconf files
  examples/nlp/language_modeling/conf/tp_overlap/ub_cfg_a100_h6144_tp8_mbs4_seqlen2048.yaml
  examples/nlp/language_modeling/conf/tp_overlap/ub_cfg_h100_h6144_tp8_mbs4_seqlen2048.yaml
Labels: NLP

#7414 fix bug
  nemo/collections/nlp/modules/common/megatron/position_embedding/alibi_relative_position_embedding.py
Labels: NLP

#7416 Update ptl training ckpt conversion script to work with dist ckpt
  examples/nlp/language_modeling/megatron_ckpt_to_nemo.py
Labels: NLP

#7413 Allow disabling sanity checking when num_sanity_val_steps=0
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP

#7261 Add comprehensive error messages
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: stale, NLP

#7417 layer selection for ia3
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
Labels: NLP

#7411 Speechlm 3b shehzeen
  examples/nlp/language_modeling/conf/megatron_t5_speechlm_inference.yaml
  examples/nlp/language_modeling/conf/speechlm_inference.yaml
  examples/nlp/language_modeling/conf/t5_speechlm_pretraining.yaml
  examples/nlp/language_modeling/megatron_t5_speechlm_pretraining_inference.py
  examples/nlp/language_modeling/megatron_t5_speechlm_sft_inference.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_speechlm_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_speechlm_pretrain_model.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
Labels: NLP

#7397 Fix missing pip package 'einops'
  tutorials/asr/Online_Offline_Speech_Commands_Demo.ipynb
Labels: ASR

#7396 Fix failure of installing pyaudio in Online_Offline_Speech_Commands_Demo.ipynb
  tutorials/asr/Online_Offline_Speech_Commands_Demo.ipynb
Labels: ASR

#7441 Cherry pick PR #7003
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/conf/tp_overlap/ub_cfg_a100_h12288_tp4_mbs1_seqlen2048.yaml
  examples/nlp/language_modeling/conf/tp_overlap/ub_cfg_a100_h12288_tp4_mbs2_seqlen2048.yaml
  examples/nlp/language_modeling/conf/tp_overlap/ub_cfg_h100_h12288_tp4_mbs1_seqlen2048.yaml
  examples/nlp/language_modeling/conf/tp_overlap/ub_cfg_h100_h12288_tp8_mbs2_seqlen2048.yaml
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/core/config/hydra_runner.py
Labels: core, NLP

#7437 Add rope dynamic linear scaling
  examples/nlp/language_modeling/megatron_gpt_continue_training.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/rotary_position_embedding.py
Labels: NLP

#7455 Fix None dataloader issue in PTL2.0
  nemo/core/classes/modelPT.py
Labels: core

#7434 [ASR] Confidence measure -> method renames
  nemo/collections/asr/metrics/rnnt_wer.py
  nemo/collections/asr/metrics/rnnt_wer_bpe.py
  nemo/collections/asr/metrics/wer.py
  nemo/collections/asr/metrics/wer_bpe.py
  nemo/collections/asr/models/confidence_ensemble.py
  nemo/collections/asr/parts/submodules/ctc_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/utils/asr_confidence_benchmarking_utils.py
  nemo/collections/asr/parts/utils/asr_confidence_utils.py
  scripts/confidence_ensembles/build_ensemble.py
  scripts/confidence_ensembles/ensemble_config.yaml
  scripts/speech_recognition/confidence/benchmark_asr_confidence.py
  tests/collections/asr/confidence/test_asr_confidence.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_char.py
  tests/collections/asr/test_asr_rnnt_encdec_model.py
  tests/collections/asr/test_confidence_ensembles.py
  tutorials/asr/ASR_Confidence_Estimation.ipynb
Labels: ASR

#7444 Fix checking of cuda/cpu device for inputs of Decoder
  nemo/collections/tts/modules/tacotron2.py
Labels: TTS

#7430 Fix failure of ljspeech's get_data.py
  scripts/dataset_processing/tts/ljspeech/get_data.py
Labels: TTS

#7373 [TTS] Fix audio codec type checks
  nemo/collections/tts/losses/audio_codec_loss.py
  nemo/collections/tts/models/audio_codec.py
  nemo/collections/tts/modules/audio_codec_modules.py
  nemo/collections/tts/modules/encodec_modules.py
  tests/collections/tts/modules/test_audio_codec_modules.py
Labels: TTS

#7454 Add strategy as ddp_find_unused_parameters_true for glue_benchmark.py
  examples/nlp/glue_benchmark/glue_benchmark.py
Labels: NLP

#7459 RNN-T confidence and alignment bugfix (#7381)
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  tests/collections/asr/test_asr_rnnt_encdec_model.py
Labels: ASR

#7462 [TTS] Add dataset to path of logged artifacts
  nemo/collections/tts/data/text_to_speech_dataset.py
  nemo/collections/tts/data/vocoder_dataset.py
  nemo/collections/tts/parts/utils/callbacks.py
Labels: TTS

#7464 Fix sft dataset truncation
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
Labels: NLP

#7330 Automatic Lip Reading Recognition (ALR) - ASR/CV (Visual ASR)
  nemo/collections/asr/parts/submodules/subsampling.py
  nemo/collections/common/parts/preprocessing/collections.py
  nemo/collections/common/parts/preprocessing/manifest.py
  nemo/collections/multimodal/__init__.py
  nemo/collections/multimodal/speech_cv/__init__.py
  nemo/collections/multimodal/speech_cv/data/__init__.py
  nemo/collections/multimodal/speech_cv/data/video_to_text.py
  nemo/collections/multimodal/speech_cv/data/video_to_text_dataset.py
  nemo/collections/multimodal/speech_cv/models/__init__.py
  nemo/collections/multimodal/speech_cv/models/visual_ctc_bpe_models.py
  nemo/collections/multimodal/speech_cv/models/visual_ctc_models.py
  nemo/collections/multimodal/speech_cv/models/visual_hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/multimodal/speech_cv/models/visual_hybrid_rnnt_ctc_models.py
  nemo/collections/multimodal/speech_cv/models/visual_rnnt_bpe_models.py
  nemo/collections/multimodal/speech_cv/models/visual_rnnt_models.py
  nemo/collections/multimodal/speech_cv/modules/__init__.py
  nemo/collections/multimodal/speech_cv/modules/linear_projection_video_front_end.py
  nemo/collections/multimodal/speech_cv/modules/resnet_video_front_end.py
  nemo/collections/multimodal/speech_cv/modules/video_augment.py
  nemo/collections/multimodal/speech_cv/modules/video_preprocessing.py
  nemo/collections/multimodal/speech_cv/parts/__init__.py
  nemo/collections/multimodal/speech_cv/parts/preprocessing/features.py
  nemo/collections/multimodal/speech_cv/parts/submodules/__init__.py
  nemo/collections/multimodal/speech_cv/parts/submodules/conv2d.py
  nemo/collections/multimodal/speech_cv/parts/submodules/global_avg_pool2d.py
  nemo/collections/multimodal/speech_cv/parts/submodules/permute.py
  nemo/collections/multimodal/speech_cv/parts/submodules/resnet.py
  nemo/collections/multimodal/speech_cv/parts/submodules/resnet_block.py
  nemo/collections/multimodal/speech_cv/parts/submodules/resnet_bottleneck_block.py
  nemo/core/neural_types/elements.py
Labels: core, ASR, common

#7421 HF StarCoder to NeMo conversion script
  Jenkinsfile
  scripts/nlp_language_modeling/convert_starcoder_hf_to_nemo.py
Labels: CI

#7467 Add an option to disable manual GC during validation
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP

#7452 fix bug when loading dist ckpt in peft
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#7440 Fix adding positional embeddings in-place in FFTransformerDecoder
  nemo/collections/tts/modules/transformer.py
Labels: TTS

#7478 Fix sft chat dataset truncation
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_chat_dataset.py
Labels: NLP

#7470 Cache FP8 weight and transpose only at the first micro-batch in each validation and test routine
  nemo/collections/nlp/modules/common/megatron/transformer.py
Labels: NLP

#7488 update branch
  tutorials/asr/Confidence_Ensembles.ipynb
Labels: ASR

#7479 fix bug when loading dist ckpt in peft
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#7492 [TTS] bugfix: trainer.accelerator=auto from None.
  tutorials/tts/Vits_Training.ipynb
Labels: TTS

#7509 bugfix: specify trainer.strategy=auto when devices=1
  tutorials/tts/Vits_Training.ipynb
Labels: TTS

#7506 Fix dimensionality in get_dist function
  nemo/collections/tts/modules/aligner.py
Labels: TTS

#7494 Fix TTS FastPitch tutorial
  tutorials/tts/FastPitch_Adapter_Finetuning.ipynb
  tutorials/tts/FastPitch_MultiSpeaker_Pretraining.ipynb
Labels: TTS

#7477 [TTS] Read audio as int32 to avoid flac read errors
  nemo/collections/asr/parts/preprocessing/segment.py
  nemo/collections/tts/data/vocoder_dataset.py
Labels: TTS, ASR

#7409 Add dataset 'AISHELL-3' from OpenSLR for training mandarin TTS
  examples/tts/conf/zh/fastpitch_align_multispeaker_22050.yaml
  scripts/dataset_processing/tts/aishell3/ds_conf/ds_for_fastpitch_align.yaml
  scripts/dataset_processing/tts/aishell3/get_data.py
Labels: TTS

#7511 SFT model parallel fix for dist ckpt
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
Labels: NLP

#7427 Fix CustomProgressBar for resume
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#7521 Replace strategy = None with strategy = auto for notebooks
  tutorials/02_NeMo_Adapters.ipynb
  tutorials/asr/ASR_TTS_Tutorial.ipynb
  tutorials/asr/Self_Supervised_Pre_Training.ipynb
  tutorials/asr/Speech_Commands.ipynb
  tutorials/asr/Voice_Activity_Detection.ipynb
  tutorials/audio_tasks/speech_enhancement/Speech_Enhancement_with_NeMo.ipynb
  tutorials/nlp/Entity_Linking_Medical.ipynb
  tutorials/nlp/GLUE_Benchmark.ipynb
  tutorials/nlp/Joint_Intent_and_Slot_Classification.ipynb
  tutorials/nlp/Punctuation_and_Capitalization.ipynb
  tutorials/nlp/Punctuation_and_Capitalization_Lexical_Audio.ipynb
  tutorials/nlp/Relation_Extraction-BioMegatron.ipynb
  tutorials/nlp/Text_Classification_Sentiment_Analysis.ipynb
  tutorials/nlp/Token_Classification-BioMegatron.ipynb
  tutorials/nlp/Token_Classification_Named_Entity_Recognition.ipynb
  tutorials/nlp/Zero_Shot_Intent_Recognition.ipynb
  tutorials/speaker_tasks/Speaker_Diarization_Training.ipynb
  tutorials/speaker_tasks/Speaker_Identification_Verification.ipynb
Labels: ASR, NLP, Speaker Tasks

#7524 [TTS] Fix FastPitch data prep tutorial
  scripts/dataset_processing/tts/preprocess_text.py
  tutorials/tts/FastPitch_Data_Preparation.ipynb
Labels: TTS

#7530 Append val output to self.validation_step_outputs in GLUEModel
  nemo/collections/nlp/models/glue_benchmark/glue_benchmark_model.py
Labels: NLP

#7486 add italian tokenization
  nemo/collections/common/tokenizers/text_to_speech/ipa_lexicon.py
  nemo/collections/common/tokenizers/text_to_speech/tokenizer_utils.py
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  tests/collections/common/tokenizers/text_to_speech/test_tts_tokenizers.py
Labels: TTS, common

#7531 Fix PTL2.0 related ASR bugs in r1.21.0: Val metrics logging, None dataloader issue
  nemo/collections/asr/models/rnnt_models.py
  nemo/core/classes/modelPT.py
Labels: core, ASR

#7510 remove auto generated examples
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#7542 gpus -> devices
  tutorials/asr/Self_Supervised_Pre_Training.ipynb
Labels: ASR

#7264 Add the `strategy` argument to `MegatronGPTModel.generate()`
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#7541 [BugFix] Add missing quotes for auto strategy in tutorial notebooks
  tutorials/asr/ASR_TTS_Tutorial.ipynb
  tutorials/asr/Self_Supervised_Pre_Training.ipynb
  tutorials/asr/Speech_Commands.ipynb
  tutorials/asr/Voice_Activity_Detection.ipynb
  tutorials/audio_tasks/speech_enhancement/Speech_Enhancement_with_NeMo.ipynb
  tutorials/nlp/Entity_Linking_Medical.ipynb
  tutorials/nlp/GLUE_Benchmark.ipynb
  tutorials/nlp/Joint_Intent_and_Slot_Classification.ipynb
  tutorials/nlp/Punctuation_and_Capitalization.ipynb
  tutorials/nlp/Punctuation_and_Capitalization_Lexical_Audio.ipynb
  tutorials/nlp/Relation_Extraction-BioMegatron.ipynb
  tutorials/nlp/Text_Classification_Sentiment_Analysis.ipynb
  tutorials/nlp/Token_Classification-BioMegatron.ipynb
  tutorials/nlp/Token_Classification_Named_Entity_Recognition.ipynb
  tutorials/nlp/Zero_Shot_Intent_Recognition.ipynb
  tutorials/speaker_tasks/Speaker_Diarization_Training.ipynb
  tutorials/speaker_tasks/Speaker_Identification_Verification.ipynb
Labels: ASR, NLP, Speaker Tasks

#7543 Append output of val_step to self.validation_step_outputs in EncMaskDecAudioToAudioModel
  nemo/collections/asr/models/enhancement_models.py
Labels: ASR

#7551 Update FFMPEG version to fix issue with torchaudio
  Dockerfile
Labels: CI

#7547 Add rope pos emb in fp32
  examples/nlp/language_modeling/megatron_gpt_eval.py
  examples/nlp/language_modeling/megatron_gpt_eval_zero_scrolls.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/alibi_relative_position_embedding.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/rotary_position_embedding.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#7550 Cherry pick Fix sft dataset truncation (#7464) to r1.21.0
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
Labels: NLP

#7554 [TTS] remove curly braces from ${BRANCH} in jupyer notebook cell.
  tutorials/tts/FastPitch_ChineseTTS_Training.ipynb
  tutorials/tts/FastPitch_GermanTTS_Training.ipynb
  tutorials/tts/Vits_Training.ipynb
Labels: TTS

#7496 fix a typo
  nemo/collections/nlp/data/language_modeling/megatron/helpers.cpp
Labels: NLP

#7555 Avoid duplicated dist checkpoint save
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#7559 Add rope pos idx fp32
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/position_embedding/rotary_position_embedding.py
Labels: NLP

#7523 layernorm1p fix
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#7501 Hotfix: change the order of config overrides
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
Labels: NLP

#7546 fix validation_step_outputs initialization for multi-dataloader
  nemo/core/classes/modelPT.py
  tutorials/asr/Multilang_ASR.ipynb
Labels: core, ASR

#7536 Remap speakers to continuous range of speaker_id for dataset AISHELL3
  examples/tts/conf/zh/fastpitch_align_multispeaker_22050.yaml
  scripts/dataset_processing/tts/aishell3/get_data.py
Labels: TTS

#7562 Append val/test output to instance variable in EncDecSpeakerLabelModel
  nemo/collections/asr/models/enhancement_models.py
  nemo/collections/asr/models/label_models.py
Labels: ASR

#7569 [TTS] fixed trainer's accelerator and strategy.
  tutorials/tts/Vits_Training.ipynb
Labels: TTS

#7577 update strategy
  tutorials/asr/Self_Supervised_Pre_Training.ipynb
Labels: ASR

#7579 Change hifigan finetune strategy to ddp_find_unused_parameters_true
  tutorials/tts/FastPitch_Adapter_Finetuning.ipynb
  tutorials/tts/FastPitch_MultiSpeaker_Pretraining.ipynb
Labels: TTS

#7576 Broadcast loss only when using pipeline parallelism and within the pipeline parallel domain
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#7520 r1.21: SFT model parallel fix for dist ckpt
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
Labels: NLP
