Repository NVIDIA-NeMo/NeMo, pull requests merged in 2023-02, with the labels that each got.

#5876 Reduce memory usage in getMultiScaleCosAffinityMatrix function
  nemo/collections/asr/parts/utils/offline_clustering.py
  nemo/collections/asr/parts/utils/speaker_utils.py
Labels: ASR

#5780 set max_steps for lr decay through config
  nemo/collections/nlp/parts/__init__.py
  nemo/collections/nlp/parts/megatron_lr_schedulers.py
Labels: NLP

#5659 Hybrid ASR-TTS models
  examples/asr/asr_with_tts/speech_to_text_bpe_with_text.py
  examples/asr/asr_with_tts/speech_to_text_bpe_with_text_finetune.py
  examples/asr/conf/asr_tts/hybrid_asr_tts.yaml
  nemo/collections/asr/data/text_to_text.py
  nemo/collections/asr/models/hybrid_asr_tts_models.py
  nemo/collections/asr/parts/preprocessing/features.py
  nemo/collections/asr/parts/submodules/batchnorm.py
  nemo/collections/asr/parts/submodules/conformer_modules.py
  nemo/utils/enum.py
  tests/collections/asr/test_asr_parts_submodules_batchnorm.py
  tests/collections/asr/test_hybrid_asr_tts_models.py
  tests/collections/asr/test_text_to_text_dataset.py
  tests/conftest.py
  tests/utils/test_enum.py
Labels: ASR

#5903 Set providers for onnxruntime inference session
  tutorials/asr/ASR_with_NeMo.ipynb
Labels: ASR

#5827 [ASR] Configurable metrics for audio-to-audio + removed experimental decorators
  examples/asr/audio_to_audio/conf/multichannel_enhancement.yaml
  examples/asr/audio_to_audio/process_audio.py
  examples/asr/audio_to_audio/speech_enhancement.py
  nemo/collections/asr/data/audio_to_audio.py
  nemo/collections/asr/metrics/audio.py
  nemo/collections/asr/models/audio_to_audio_model.py
  nemo/collections/asr/models/enhancement_models.py
  tests/collections/asr/test_asr_metrics.py
Labels: ASR

#5904 Correct doc for RNNT transcribe() function
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
Labels: ASR

#5026 Cross-Lingual objectives (XLM) and multilingual (many-many) support for Megatron-NMT
  examples/nlp/machine_translation/conf/aayn_base_megatron.yaml
  examples/nlp/machine_translation/nmt_transformer_infer_megatron.py
  nemo/collections/common/tokenizers/huggingface/auto_tokenizer.py
  nemo/collections/nlp/data/common/sequence_to_sequence_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/bart_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/bert_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/dataset_utils.py
  nemo/collections/nlp/data/language_modeling/megatron/lm_adapted_t5_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/t5_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/ul2_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/xlm_dataset.py
  nemo/collections/nlp/data/machine_translation/machine_translation_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_model.py
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
  nemo/collections/nlp/models/machine_translation/mt_enc_dec_model.py
  scripts/checkpoint_averaging/megatron_checkpoint_averaging.py
Labels: NLP, common

#5895 Update isort to the latest version
  .pre-commit-config.yaml
  nemo/collections/asr/losses/rnnt.py
  nemo/collections/asr/modules/flashlight_decoder.py
  nemo/collections/asr/parts/utils/asr_confidence_utils.py
  nemo/collections/nlp/data/language_modeling/megatron/blendable_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/dataset_utils.py
  nemo/collections/nlp/models/language_modeling/megatron/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retrieval_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/modules/common/megatron/fused_layer_norm.py
  nemo/collections/nlp/modules/common/megatron/layer_norm_1p.py
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/collections/nlp/modules/common/megatron/megatron_perceiver_encoders.py
  nemo/collections/nlp/modules/common/megatron/mlp.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/modules/common/megatron/utils.py
  nemo/collections/nlp/modules/common/megatron/vocab_parallel_cross_entropy.py
  nemo/collections/nlp/modules/common/prompt_encoder.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/core/optim/optimizer_with_main_params.py
  nemo/core/optim/optimizers.py
  nemo/utils/export_utils.py
  nemo_text_processing/g2p/modules.py
  nemo_text_processing/text_normalization/normalize.py
  requirements/requirements_test.txt
  setup.cfg
  setup.py
  tests/collections/common/test_metrics.py
  tests/conftest.py
  tests/nemo_text_processing/de/test_normalization_with_audio.py
  tools/speech_data_explorer/data_explorer.py
Labels: core, ASR, NLP

#5911 Moved eval notebook data to aws
  tutorials/tts/Evaluation_MelCepstralDistortion.ipynb
Labels: TTS

#5913 FilterbankFeaturesTA to match FilterbankFeatures
  nemo/collections/asr/parts/preprocessing/features.py
Labels: ASR

#5917 Update container to 23.01
  Dockerfile
  Jenkinsfile
  README.rst
  ci.groovy
  nemo/package_info.py
Labels: CI

#5879 Dynamic freezing in Nemo
  docs/source/core/core.rst
  nemo/core/classes/modelPT.py
Labels: core

#5919 Fix Windows bug with save_restore_connector
  nemo/core/connectors/save_restore_connector.py
Labels: core

#5939 add new lannguages to doc
  docs/source/nlp/text_normalization/wfst/wfst_text_normalization.rst
Labels: NLP

#5609 Add core classes and functions for online clustering diarizer part 2
  nemo/collections/asr/models/online_diarizer.py
  nemo/collections/asr/parts/utils/speaker_utils.py
  tests/collections/asr/test_diar_utils.py
Labels: ASR

#5684 Distributed Adam optimizer overlaps param all-gather with forward compute
  Dockerfile
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/core/optim/distributed_adam.py
Labels: core, NLP, CI

#5952 GPT Eval changes
  examples/nlp/language_modeling/conf/megatron_gpt_prompt_learning_inference.yaml
  examples/nlp/language_modeling/megatron_gpt_prompt_learning_eval.py
  scripts/metric_calculation/squad_metric_calc.py
Labels: NLP

#5940 [TTS][ZH] added new NGC model cards with polyphone disambiguation.
  docs/source/tts/data/ngc_models_am.csv
  docs/source/tts/data/ngc_models_vocoder.csv
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/models/hifigan.py
Labels: TTS

#5950 Fix hybridasr bug
  examples/asr/conf/conformer/hybrid_transducer_ctc/conformer_hybrid_transducer_ctc_bpe.yaml
  examples/asr/conf/conformer/hybrid_transducer_ctc/conformer_hybrid_transducer_ctc_char.yaml
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
Labels: ASR

#5954 Tn doc 16
  docs/source/nlp/text_normalization/wfst/intro.rst
  docs/source/nlp/text_normalization/wfst/wfst_customization.rst
  docs/source/nlp/text_normalization/wfst/wfst_resources.rst
  docs/source/nlp/text_normalization/wfst/wfst_text_normalization.rst
  docs/source/nlp/text_normalization/wfst/wfst_text_processing_deployment.rst
  nemo_text_processing/README.md
  nemo_text_processing/inverse_text_normalization/README.md
  nemo_text_processing/text_normalization/README.md
  tutorials/text_processing/Text_(Inverse)_Normalization.ipynb
  tutorials/text_processing/WFST_Tutorial.ipynb
Labels: NLP

#5959 [TTS] deprecate AudioToCharWithPriorAndPitchDataset.
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/models/tacotron2.py
Labels: TTS

#5956 bugfix: file handlers are not closed.
  examples/speaker_tasks/recognition/voxceleb_eval.py
  nemo/collections/asr/parts/utils/manifest_utils.py
  nemo/collections/asr/parts/utils/speaker_utils.py
  nemo/collections/asr/parts/utils/vad_utils.py
  nemo/collections/common/tokenizers/regex_tokenizer.py
  scripts/dataset_processing/process_vad_data.py
  scripts/metric_calculation/squad_metric_calc.py
Labels: ASR, Speaker Tasks, common

#5967 Added list_available_models
  README.rst
  docs/source/tts/checkpoints.rst
  docs/source/tts/data/ngc_models_e2e.csv
  nemo/collections/tts/models/vits.py
Labels: TTS

#5635 per-micro-batch input loader
  Jenkinsfile
  nemo/collections/nlp/data/language_modeling/megatron/data_samplers.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/utils/exp_manager.py
Labels: NLP, CI

#5925 Support Alignment Extraction for all RNNT Beam decoding methods
  nemo/collections/asr/metrics/rnnt_wer.py
  nemo/collections/asr/parts/submodules/rnnt_beam_decoding.py
  tests/collections/asr/decoding/test_rnnt_decoding.py
Labels: ASR

#5638 Add AWS SageMaker ASR Examples
  nemo/utils/cloud.py
  nemo/utils/notebook_utils.py
  tutorials/cloud/README.md
  tutorials/cloud/aws/ASR_Finetuning_at_Scale_with_AWS_SageMaker.ipynb
  tutorials/cloud/aws/SageMaker_ASR_Training.ipynb
  tutorials/cloud/aws/images/sagemaker_benchmark.png
Labels: feature

#5880 ONNX export for RadTTS
  examples/tts/conf/rad-tts_dec_ipa.yaml
  examples/tts/conf/rad-tts_feature_pred_ipa.yaml
  nemo/collections/tts/helpers/helpers.py
  nemo/collections/tts/models/radtts.py
  nemo/collections/tts/modules/attribute_prediction_model.py
  nemo/collections/tts/modules/common.py
  nemo/collections/tts/modules/radtts.py
  nemo/collections/tts/modules/submodules.py
  nemo/collections/tts/modules/transformer.py
  tests/collections/tts/test_helpers.py
  tests/collections/tts/test_tts_exportables.py
Labels: TTS

#5974 replace symbols
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/models/label_models.py
Labels: ASR

#5983 Fix Prompt text space issue
  nemo/collections/nlp/data/language_modeling/megatron/gpt_prompt_learning_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/t5_prompt_learning_dataset.py
Labels: NLP

#5994 Add some info about FastPitch SSL model
  docs/source/tts/models.rst
Labels: TTS

#5970 fast conformer configs and doc
  README.rst
  docs/source/asr/models.rst
  examples/asr/conf/fastconformer/fast-conformer_ctc_bpe.yaml
  examples/asr/conf/fastconformer/fast-conformer_transducer_bpe.yaml
Labels: ASR

#5897 Fix Silence Sampling Algorithm for ASR Multi-speaker Data Simulator
  nemo/collections/asr/data/data_simulation.py
  nemo/collections/asr/parts/utils/vad_utils.py
  scripts/speaker_tasks/create_synth_vad_manifest.py
  scripts/speaker_tasks/multispeaker_data_analysis.py
  tools/speech_data_simulator/conf/data_simulator.yaml
  tutorials/tools/Multispeaker_Simulator.ipynb
Labels: ASR

#6001 import missing dependency - gc
  nemo/collections/asr/parts/utils/speaker_utils.py
Labels: ASR

#6003 Fix hybrid transcribe
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
Labels: ASR

#5843 make validation accuracy reporting optional for adapters/ptuning
  examples/nlp/language_modeling/conf/megatron_t5_prompt_learning.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_adapter_tuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_ia3_tuning_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_t5_adapter_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
Labels: NLP

#6006 Use module-based k2 import guard
  nemo/collections/asr/losses/lattice_losses.py
  nemo/collections/asr/modules/graph_decoder.py
  nemo/collections/asr/parts/k2/classes.py
  nemo/collections/asr/parts/k2/graph_compilers.py
  nemo/collections/asr/parts/k2/graph_decoders.py
  nemo/collections/asr/parts/k2/map_loss.py
  nemo/collections/asr/parts/k2/ml_loss.py
  nemo/collections/asr/parts/k2/topologies.py
  nemo/collections/asr/parts/k2/utils.py
  nemo/core/utils/__init__.py
  nemo/core/utils/k2_guard.py
Labels: core, ASR

#6020 Ragged batching changes for RadTTS, some refactoring
  nemo/collections/tts/helpers/helpers.py
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/models/radtts.py
  nemo/collections/tts/modules/radtts.py
  tests/collections/tts/test_tts_exportables.py
Labels: TTS

#6011 Default RNNT loss to int64 targets
  nemo/collections/asr/losses/rnnt.py
  nemo/collections/asr/parts/numba/rnnt_loss/rnnt_numpy.py
  nemo/collections/asr/parts/numba/rnnt_loss/rnnt_pytorch.py
  tests/collections/asr/numba/rnnt_loss/test_rnnt_pytorch.py
  tests/collections/asr/numba/rnnt_loss/utils/test_gpu_rnnt_kernel.py
Labels: ASR

#6008 Added documentation section for ASR datasets from AIStore
  docs/source/asr/datasets.rst
Labels: ASR

#6030 Working enabled ragged batching with ONNX
  nemo/collections/tts/models/radtts.py
  nemo/collections/tts/modules/radtts.py
Labels: TTS

#6034 Quick Fix for RadTTS test
  nemo/collections/tts/models/radtts.py
  tests/collections/tts/test_tts_exportables.py
Labels: TTS

#5995 Fix bug where GPT always enabled distopt overlapped param sync
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: bug, NLP

#6024 Add BERT support for overlapping forward compute with distopt communication
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
Labels: NLP

#6028 adding early stop callback to ptuning
  examples/nlp/language_modeling/conf/megatron_gpt_prompt_learning_config.yaml
  examples/nlp/language_modeling/conf/megatron_t5_prompt_learning.yaml
  nemo/utils/exp_manager.py
  tests/core/test_config_utils.py
Labels: NLP

#6036 Disabling radtts tests untin we have real model
  nemo/collections/tts/helpers/helpers.py
  tests/collections/tts/test_tts_exportables.py
Labels: TTS

#6041 Pr doc tn
  docs/source/nlp/text_normalization/wfst/intro.rst
  docs/source/nlp/text_normalization/wfst/wfst_customization.rst
  docs/source/nlp/text_normalization/wfst/wfst_resources.rst
  docs/source/nlp/text_normalization/wfst/wfst_text_normalization.rst
  docs/source/nlp/text_normalization/wfst/wfst_text_processing_deployment.rst
Labels: NLP

#6044 fix links, add missing file
  Jenkinsfile
  scripts/tts_dataset_files/wordid_to_ipa-0.7b_nv22.10.tsv
  tutorials/text_processing/Text_(Inverse)_Normalization.ipynb
  tutorials/text_processing/WFST_Tutorial.ipynb
  tutorials/tts/NeMo_TTS_Primer.ipynb
Labels: TTS, CI

#6042 Change perturb rng for reproducing results easily
  nemo/collections/asr/parts/preprocessing/perturb.py
  scripts/dataset_processing/add_noise.py
  tools/asr_evaluator/conf/eval.yaml
  tutorials/asr/Online_Noise_Augmentation.ipynb
Labels: ASR

#6013 InterCTC loss and stochastic depth implementation
  docs/source/asr/api.rst
  docs/source/asr/configs.rst
  examples/asr/asr_ctc/README.md
  examples/asr/conf/conformer/cache_aware_streaming/conformer_ctc_bpe_streaming.yaml
  examples/asr/conf/conformer/cache_aware_streaming/conformer_transducer_bpe_streaming.yaml
  examples/asr/conf/conformer/conformer_ctc_bpe.yaml
  examples/asr/conf/conformer/conformer_ctc_char.yaml
  examples/asr/conf/conformer/conformer_transducer_bpe.yaml
  examples/asr/conf/conformer/conformer_transducer_char.yaml
  examples/asr/conf/fastconformer/fast-conformer_ctc_bpe.yaml
  examples/asr/conf/fastconformer/fast-conformer_transducer_bpe.yaml
  examples/asr/conf/squeezeformer/squeezeformer_ctc_bpe.yaml
  examples/asr/conf/squeezeformer/squeezeformer_ctc_char.yaml
  nemo/collections/asr/models/asr_model.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/modules/conv_asr.py
  nemo/collections/asr/modules/squeezeformer_encoder.py
  nemo/collections/asr/parts/mixins/__init__.py
  nemo/collections/asr/parts/mixins/interctc_mixin.py
  nemo/collections/asr/parts/submodules/jasper.py
  nemo/collections/asr/parts/utils/regularization_utils.py
  tests/collections/asr/test_asr_ctcencdec_model.py
  tests/collections/asr/test_conformer_encoder.py
Labels: ASR

#6026 Add pyctcdecode to high level beam search API
  nemo/collections/asr/metrics/wer.py
  nemo/collections/asr/parts/submodules/ctc_beam_decoding.py
Labels: ASR

#5991 Adds several configurable flags for Megatron GPT models
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/mlp.py
  nemo/collections/nlp/modules/common/megatron/module.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/modules/common/megatron/utils.py
Labels: NLP, CI

#6054 P-tuning refactor Part 1/N
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/modules/common/__init__.py
  nemo/collections/nlp/modules/common/prompt_encoder.py
Labels: NLP

#6071 Small fixes for flashlight decoder
  nemo/collections/asr/modules/flashlight_decoder.py
Labels: ASR

#6048 [TTS] Spectrogram Enhancer: correct dim for length when loading data
  nemo/collections/tts/torch/data.py
Labels: bug, TTS

#6051 [TTS] bugfix for fastpitch German tutorial
  tutorials/tts/FastPitch_GermanTTS_Training.ipynb
Labels: TTS

#6055 [TTS] bugfix Chinese Fastpitch tutorial
  examples/tts/conf/zh/fastpitch_align_22050.yaml
  scripts/dataset_processing/tts/sfbilingual/get_data.py
  tutorials/tts/FastPitch_ChineseTTS_Training.ipynb
Labels: TTS

#6072 Updated data simulator config part in Speaker_Diarization_Training.ipynb
  tutorials/speaker_tasks/Speaker_Diarization_Training.ipynb
Labels: Speaker Tasks

#6070 Convert esperanto into a notebook
  docs/source/asr/examples/esperanto_asr/esperanto_asr.rst
  docs/source/asr/intro.rst
  docs/source/starthere/tutorials.rst
  tutorials/asr/ASR_Example_CommonVoice_Finetuning.ipynb
  tutorials/asr/README.md
  tutorials/asr/images/CosineAnnealing_scheduler.png
  tutorials/asr/images/test_wer_wandb.png
Labels: cleanup, ASR

#6080 [TTS] Separate TTS tokenization and g2p util to fix circular import
  nemo/collections/common/tokenizers/text_to_speech/tokenizer_utils.py
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  nemo/collections/tts/__init__.py
  nemo/collections/tts/g2p/data/data_utils.py
  nemo/collections/tts/g2p/modules.py
  tests/collections/common/tokenizers/text_to_speech/test_tokenizer_utils.py
  tests/collections/tts/g2p/data/test_g2p_data_utils.py
Labels: TTS, common

#6058 Fast glu activations
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/conf/megatron_model_base_config.yaml
  nemo/collections/nlp/modules/common/megatron/mlp.py
Labels: NLP, CI

#6059 Fix enhancer usage
  nemo/collections/asr/models/hybrid_asr_tts_models.py
  nemo/collections/tts/models/spectrogram_enhancer.py
Labels: TTS, ASR

#6087 Adding changes to fix the mv error
  tutorials/speaker_tasks/Speaker_Diarization_Training.ipynb
Labels: Speaker Tasks

#6091 Add batch_size to prompt_learning generate
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
Labels: NLP

#6056 P-tuning refactor Part 2/N
  Jenkinsfile
  nemo/collections/nlp/data/language_modeling/megatron/gpt_prompt_learning_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/modules/common/prompt_encoder.py
  tests/collections/nlp/test_prompt_learning.py
Labels: NLP, CI

#6098 [TTS][refactor] Part 7 - move module from model file.
  nemo/collections/tts/models/__init__.py
  nemo/collections/tts/models/ssl_tts.py
  nemo/collections/tts/modules/ssl_tts.py
Labels: TTS

#6099 [TTS][refactor] Part 1 - nemo.collections.tts.data
  docs/source/tts/api.rst
  docs/source/tts/configs.rst
  docs/source/tts/datasets.rst
  examples/tts/conf/aligner.yaml
  examples/tts/conf/de/fastpitch_align_22050_grapheme.yaml
  examples/tts/conf/de/fastpitch_align_22050_mix.yaml
  examples/tts/conf/de/fastpitch_align_44100_grapheme.yaml
  examples/tts/conf/de/fastpitch_align_44100_phoneme.yaml
  examples/tts/conf/es/fastpitch_align_44100.yaml
  examples/tts/conf/es/fastpitch_align_44100_ipa.yaml
  examples/tts/conf/es/fastpitch_align_44100_ipa_multi.yaml
  examples/tts/conf/fastpitch_align_44100.yaml
  examples/tts/conf/fastpitch_align_ipa.yaml
  examples/tts/conf/fastpitch_align_v1.05.yaml
  examples/tts/conf/fastpitch_ssl.yaml
  examples/tts/conf/hifigan/model/train_ds/train_ds.yaml
  examples/tts/conf/hifigan/model/train_ds/train_ds_finetune.yaml
  examples/tts/conf/hifigan/model/validation_ds/val_ds.yaml
  examples/tts/conf/hifigan/model/validation_ds/val_ds_finetune.yaml
  examples/tts/conf/mixer-tts-x.yaml
  examples/tts/conf/mixer-tts.yaml
  examples/tts/conf/rad-tts_dec.yaml
  examples/tts/conf/rad-tts_dec_ipa.yaml
  examples/tts/conf/rad-tts_feature_pred.yaml
  examples/tts/conf/rad-tts_feature_pred_ipa.yaml
  examples/tts/conf/spectrogram-enhancer.yaml
  examples/tts/conf/tacotron2.yaml
  examples/tts/conf/univnet/model/train_ds/train_ds.yaml
  examples/tts/conf/univnet/model/train_ds/train_ds_finetune.yaml
  examples/tts/conf/univnet/model/validation_ds/val_ds.yaml
  examples/tts/conf/univnet/model/validation_ds/val_ds_finetune.yaml
  examples/tts/conf/vits.yaml
  examples/tts/conf/vits_44100.yaml
  examples/tts/conf/waveglow.yaml
  examples/tts/conf/zh/fastpitch_align_22050.yaml
  examples/tts/g2p/conf/g2p_conformer_ctc.yaml
  examples/tts/g2p/conf/heteronym_classification.yaml
  examples/tts/g2p/conf/t5_g2p.yaml
  nemo/collections/tts/data/g2p_dataset.py
  nemo/collections/tts/data/tts_dataset.py
  nemo/collections/tts/g2p/data/__init__.py
  nemo/collections/tts/g2p/data/ctc_g2p.py
  nemo/collections/tts/g2p/data/heteronym_classification_data.py
  nemo/collections/tts/g2p/data/t5_g2p.py
  nemo/collections/tts/g2p/models/ctc_g2p.py
  nemo/collections/tts/g2p/models/heteronym_classification.py
  nemo/collections/tts/g2p/models/t5_g2p.py
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/models/ssl_tts.py
  nemo/collections/tts/models/vits.py
  nemo/collections/tts/torch/tts_dataset.yaml
  scripts/dataset_processing/tts/hui_acg/ds_conf/ds_for_fastpitch_align.yaml
  scripts/dataset_processing/tts/ljspeech/ds_conf/ds_for_fastpitch_align.yaml
  scripts/dataset_processing/tts/ljspeech/ds_conf/ds_for_mixer_tts.yaml
  scripts/dataset_processing/tts/ljspeech/ds_conf/ds_for_mixer_tts_x.yaml
  scripts/dataset_processing/tts/sfbilingual/ds_conf/ds_for_fastpitch_align.yaml
  scripts/dataset_processing/tts/thorsten_neutral/ds_conf/ds_for_fastpitch_align.yaml
  tests/collections/tts/test_torch_tts.py
  tutorials/tts/FastPitch_MixerTTS_Training.ipynb
  tutorials/tts/Tacotron2_Training.ipynb
Labels: TTS

#6086 update librosa args
  nemo/collections/asr/models/label_models.py
  tutorials/asr/ASR_for_telephony_speech.ipynb
Labels: ASR

#6106 P-tuning refactor Part 3/N
  examples/nlp/dialogue/conf/dialogue_config.yaml
  nemo/collections/nlp/data/language_modeling/megatron/base_prompt_learning_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/t5_prompt_learning_dataset.py
  nemo/collections/nlp/models/dialogue/dialogue_gpt_classification_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_adapter_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_adapter_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  nemo/collections/nlp/modules/__init__.py
  nemo/collections/nlp/modules/common/__init__.py
  nemo/collections/nlp/modules/common/prompt_table.py
Labels: NLP

#6103 [TTS][refactor] Part 6 - remove nemo.collections.tts.torch.README.md and tts_dataset.yaml
  nemo/collections/tts/torch/README.md
  nemo/collections/tts/torch/tts_dataset.yaml
Labels: TTS

#6112 Fixing data simulator argument and bash scripting error
  tutorials/speaker_tasks/Speaker_Diarization_Training.ipynb
Labels: Speaker Tasks

#6113 [TTS][refactor] Part 3 - nemo.collections.tts.g2p.models
  Jenkinsfile
  docs/source/tts/g2p.rst
  examples/tts/g2p/conf/g2p_heteronym_classification.yaml
  examples/tts/g2p/conf/g2p_t5.yaml
  examples/tts/g2p/g2p_heteronym_classification_inference.py
  examples/tts/g2p/g2p_heteronym_classification_train_and_evaluate.py
  examples/tts/g2p/g2p_inference.py
  examples/tts/g2p/g2p_train_and_evaluate.py
  examples/tts/g2p/utils.py
  nemo/collections/tts/g2p/data/__init__.py
  nemo/collections/tts/g2p/models/__init__.py
  nemo/collections/tts/g2p/models/g2p_model.py
  nemo/collections/tts/g2p/modules.py
  nemo/collections/tts/models/base.py
  nemo/collections/tts/models/g2p_ctc.py
  nemo/collections/tts/models/g2p_heteronym_classification.py
  nemo/collections/tts/models/g2p_t5.py
Labels: TTS, CI

#6085 Explicitly check for united embeddings when logging params
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: bug, NLP

#6116 Fix enhancer usage in ASR-TTS examples
  examples/asr/asr_with_tts/speech_to_text_bpe_with_text.py
  examples/asr/asr_with_tts/speech_to_text_bpe_with_text_finetune.py
Labels: ASR

#5945 Add file class based inference API for diarization
  examples/speaker_tasks/diarization/clustering_diarizer/offline_diar_infer.py
  examples/speaker_tasks/diarization/conf/inference/diar_infer_general.yaml
  examples/speaker_tasks/diarization/conf/inference/diar_infer_meeting.yaml
  examples/speaker_tasks/diarization/conf/inference/diar_infer_telephonic.yaml
  examples/speaker_tasks/diarization/neural_diarizer/multiscale_diar_decoder_infer.py
  nemo/collections/asr/metrics/der.py
  nemo/collections/asr/models/__init__.py
  nemo/collections/asr/models/clustering_diarizer.py
  nemo/collections/asr/models/configs/__init__.py
  nemo/collections/asr/models/configs/diarizer_config.py
  nemo/collections/asr/models/msdd_models.py
  nemo/collections/asr/parts/utils/speaker_utils.py
  nemo/collections/asr/parts/utils/vad_utils.py
  tests/collections/asr/test_diar_neural_inference.py
Labels: ASR, Speaker Tasks
