Repository NVIDIA-NeMo/NeMo, pull requests merged in 2024-12, with the labels that each got.

#11317 Add different recipe examples to NeMo 2.0
  scripts/llm/pretraining.py
Labels: Run CICD

#11452 Add option to provide prior NeMo 2 ckpt path to convert_nemo1_to_nemo…
  scripts/checkpoint_converters/convert_nemo1_to_nemo2.py
  scripts/llm/generate.py
  scripts/llm/llama3_generate.py
Labels: Run CICD

#11460 Support for initializing lhotse shar dataloader via field: list[path] mapping
  docs/source/asr/datasets.rst
  nemo/collections/common/data/lhotse/cutset.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: ASR, common, Run CICD

#11382 add hindi tn/itn coverage
  docs/source/nlp/text_normalization/wfst/wfst_text_normalization.rst
Labels: NLP, Run CICD

#11459 PTQ CLI and param updates
  nemo/collections/llm/api.py
  nemo/collections/llm/quantization/quantizer.py
  nemo/collections/llm/quantization/utils.py
  scripts/llm/ptq.py
Labels: Run CICD, skip-docs

#11406 Add tests for resiliency feature integration
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  nemo/lightning/run/plugins.py
  tests/collections/llm/common.py
  tests/collections/llm/llama3_pretraining.py
  tests/collections/llm/test_fault_nvrx.py
Labels: CI, Run CICD

#11470 ci: Disable HexHighEntropyString plugin
  .github/workflows/secrets-detector.yml
Labels: CI

#11058 New extended prompt format for Canary, short utterances inference fix, and training micro-optimizations
  examples/asr/conf/speech_multitask/fast-conformer_aed.yaml
  nemo/collections/asr/data/audio_to_text_lhotse_prompted.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/modules/transformer/transformer_modules.py
  nemo/collections/common/data/lhotse/dataloader.py
  nemo/collections/common/prompts/__init__.py
  nemo/collections/common/prompts/canary2.py
  nemo/collections/common/tokenizers/canary_tokenizer.py
  nemo/utils/exp_manager.py
  scripts/speech_recognition/canary/build_canary_1b_special_tokenizer.py
  scripts/speech_recognition/canary/build_canary_2_special_tokenizer.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: ASR, common, Run CICD

#11416 Nemo 2.0 canonical lora
  .github/workflows/cicd-main.yml
  nemo/collections/llm/peft/__init__.py
  nemo/collections/llm/peft/canonical_lora.py
  nemo/collections/llm/peft/dora.py
  nemo/collections/llm/peft/lora.py
  nemo/collections/llm/peft/utils.py
  nemo/lightning/pytorch/callbacks/peft.py
  tests/collections/llm/gpt_finetuning.py
Labels: CI, Run CICD

#11479 ci: Run secrets detector on merge-commit
  .github/workflows/cicd-main.yml
  .github/workflows/secrets-detector.yml
Labels: CI

#11427 chore(beep boop 🤖): Bump `MCORE_TAG=67a50f2...` (2024-11-28)
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/lightning/megatron_init.py
  tests/collections/nlp/test_initialize.py
Labels: NLP, CI, Run CICD

#11485 Formatting (minor)
  .github/workflows/cicd-main.yml
Labels: CI

#11415 Handle exception when importing RetroGPTChunkDatasets
  nemo/collections/nlp/data/language_modeling/megatron/retro_dataset.py
Labels: NLP, Run CICD

#11333 Add BERT Model To NeMo2.0
  nemo/collections/llm/__init__.py
  nemo/collections/llm/bert/__init__.py
  nemo/collections/llm/bert/data/__init__.py
  nemo/collections/llm/bert/data/pre_training.py
  nemo/collections/llm/bert/loss.py
  nemo/collections/llm/bert/model/__init__.py
  nemo/collections/llm/bert/model/base.py
  nemo/collections/llm/bert/model/bert.py
  nemo/collections/llm/bert/model/bert_spec.py
  nemo/lightning/io/mixin.py
  nemo/lightning/io/state.py
  tests/collections/llm/bert/model/test_bert.py
Labels: Run CICD

#11477 fix: export converts properly if no model_prefix
  nemo/export/tensorrt_llm.py
Labels: Run CICD

#11471 Update restore from config for gpt type continual training in NeMo1
  examples/nlp/language_modeling/conf/megatron_baichuan2_config.yaml
  examples/nlp/language_modeling/conf/megatron_chatglm_config.yaml
  examples/nlp/language_modeling/conf/megatron_falcon_config.yaml
  examples/nlp/language_modeling/conf/megatron_gemma2_config.yaml
  examples/nlp/language_modeling/conf/megatron_gemma_config.yaml
  examples/nlp/language_modeling/conf/megatron_llama_config.yaml
  examples/nlp/language_modeling/conf/megatron_qwen2_config.yaml
  examples/nlp/language_modeling/conf/megatron_starcoder2_config.yaml
  examples/nlp/language_modeling/conf/megatron_starcoder_config.yaml
Labels: NLP

#11189 fix: regular torch optims (e.g., sgd) no longer error with closure spec
  nemo/core/optim/optimizer_with_main_params.py
Labels: core, Run CICD

#11484 ci: Re-enable `L2_Megatron_LM_To_NeMo_Conversion`
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10954 Add recipe configs validating
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/data/mock.py
  nemo/collections/llm/gpt/data/pre_training.py
  tests/collections/llm/test_api.py
Labels: feature, Run CICD

#11474 Fix finetuning PP
  nemo/lightning/megatron_parallel.py
  tests/collections/llm/gpt_finetuning.py
Labels: Run CICD

#11486 Force param sync when using distributed optimizer and overlap_param_gather
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD, skip-docs

#11492 chore(beep boop 🤖): Bump `MCORE_TAG=bd677bf...` (2024-12-06)
  Dockerfile.ci
Labels: Run CICD

#11506 Apply packed sequence params change for fused rope compatibility
  nemo/collections/llm/api.py
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  tests/collections/llm/gpt_finetuning.py
Labels: NLP, Run CICD

#11494 Huvu/tiktoken tokenizer update
  nemo/collections/common/tokenizers/tiktoken_tokenizer.py
  nemo/collections/nlp/modules/common/tokenizer_utils.py
  nemo/lightning/io/registry.py
  scripts/llm/t5_generate.py
Labels: NLP, common, Run CICD

#11457 Add nvidia/low-frame-rate-speech-codec-22khz model on docs
  docs/source/tts/checkpoints.rst
  docs/source/tts/data/models_codec.csv
Labels: documentation, TTS

#11348 Remove default mutable arguments from AbstractEmbModel constructor
  nemo/collections/diffusion/encoders/conditioner.py
Labels: Run CICD

#11473 fix protobuf version
  requirements/requirements.txt
Labels: Run CICD

#11496 BERT NeMo2 Recipe
  nemo/collections/llm/__init__.py
  nemo/collections/llm/bert/data/__init__.py
  nemo/collections/llm/bert/data/mock.py
  nemo/collections/llm/bert/data/pre_training.py
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/bert.py
  nemo/collections/llm/recipes/bert_110m.py
  nemo/collections/llm/recipes/bert_340m.py
Labels: Run CICD

#11520 Remove unwanted params in DDP init in Megatron Parallel
  nemo/lightning/megatron_parallel.py
Labels: Run CICD, skip-docs

#11518 [TTS] Modify codec training tutorial to allow HF download
  tutorials/tts/Audio_Codec_Training.ipynb
Labels: TTS, Run CICD

#11505 Fix checkpoint import for mixtral with padded vocab size.
  nemo/collections/llm/gpt/model/mixtral.py
Labels: Run CICD

#11532 Fix mixtral export for NeMo 2.0
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
Labels: Run CICD, skip-docs

#11500 Make HFDatasetDataModule a datasets.load_dataset wrapper
  examples/llm/peft/hf.py
  nemo/collections/llm/gpt/data/api.py
  nemo/collections/llm/gpt/data/hf_dataset.py
  nemo/collections/llm/inference/base.py
  nemo/collections/llm/t5/model/t5.py
  tests/collections/llm/gpt/data/test_hf_datamodule.py
Labels: Run CICD

#11545 ci: Cmmit sha for cutoff
  .github/workflows/release-freeze.yml
Labels: CI

#11538 Link to mcore `StrictHandling` documentation
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD

#11550 ci: Adjust inputs for code-freeze workflow
  .github/workflows/release-freeze.yml
Labels: CI

#11367 Fix deploy conflicts in llm.api
  nemo/collections/llm/api.py
  nemo/collections/llm/evaluation/base.py
Labels: Run CICD

#11262 perf summary on homepage
  README.md
  docs/source/performance/performance_summary.md
Labels: Run CICD

#11394 Add vlm nemo run scripts
  nemo/collections/multimodal/data/energon/base.py
  nemo/collections/vlm/mllama/data/lazy.py
  nemo/collections/vlm/mllama/data/mock.py
  nemo/collections/vlm/neva/data/lazy.py
  nemo/collections/vlm/neva/data/mock.py
  nemo/collections/vlm/neva/model/base.py
  nemo/collections/vlm/recipes/llava15_13b.py
  nemo/collections/vlm/recipes/llava15_7b.py
  scripts/vlm/mllama_nemo_run.py
  scripts/vlm/neva_finetune.py
  scripts/vlm/neva_nemo_run.py
Labels: Multi Modal, Run CICD

#11548 Prevent llama3.1 from using Linear interpolation
  scripts/checkpoint_converters/convert_llama_hf_to_nemo.py
Labels: Run CICD

#11526 [TTS] Add audio and mel codec HF models to docs
  docs/source/tts/data/models_codec.csv
Labels: TTS, Run CICD

#11537 Update for NEST release
  examples/asr/conf/ssl/nest/nest_fast-conformer.yaml
  examples/asr/speech_pretraining/README.md
  examples/slu/speech_intent_slot/configs/conformer_transformer_large_bpe.yaml
  examples/slu/speech_intent_slot/configs/fastconformer_transformer_large_bpe.yaml
  nemo/collections/asr/models/ssl_models.py
  nemo/collections/asr/modules/__init__.py
  nemo/collections/asr/modules/ssl_modules/__init__.py
  nemo/collections/asr/modules/ssl_modules/multi_layer_feat.py
  nemo/collections/common/parts/preprocessing/collections.py
  nemo/core/classes/modelPT.py
  scripts/ssl/extract_features.py
Labels: core, ASR, common, Run CICD

#11533 Sync validation metrics for ASRModel
  nemo/collections/asr/models/asr_model.py
  nemo/core/classes/modelPT.py
Labels: core, ASR, Run CICD

#11523 NeMo 2.0 In-framework deployment support
  docs/source/tts/checkpoints.rst
  nemo/deploy/nlp/__init__.py
  nemo/deploy/nlp/megatronllm_deployable.py
  nemo/deploy/nlp/query_llm.py
  nemo/deploy/utils.py
  scripts/deploy/nlp/deploy_inframework_triton.py
  scripts/deploy/nlp/query_inframework.py
Labels: TTS, Run CICD, skip-docs

#11546 Fix typo: LocalNonpersitentObject -> LocalNonpersistentObject
  docs/source/checkpoints/dist_ckpt.rst
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, Multi Modal, Run CICD

#11564 Adding documentation for packed dataset preparation with context para…
  scripts/nlp_language_modeling/prepare_packed_ft_dataset.py
Labels: Run CICD

#11563 micro_batch_size and global_batch_size as class attributes in llava next mock data module
  nemo/collections/vlm/llava_next/data/mock.py
Labels: Run CICD

#11560 Revert "Fix the names of two sets of weight and bias in mcore_to_nemo_mapping"
  scripts/checkpoint_converters/convert_gpt_nemo_to_mcore.py
Labels: Run CICD, r2.1.0

#11572 add huggingface-based tokenizer support for mixtral HF -> .nemo
  scripts/checkpoint_converters/convert_mixtral_hf_to_nemo.py
Labels: Run CICD, r2.1.0

#11424 Github Actions tests for Llava Next and modify pretrain recipe to have language model path
  .github/workflows/cicd-main.yml
  nemo/collections/vlm/llava_next/data/mock.py
  nemo/collections/vlm/recipes/llava_next_7b.py
  scripts/vlm/llava_next_nemo_run.py
  tests/collections/vlm/test_llava_next_train.py
Labels: CI, Run CICD

#11577 remove dialogue scripts and docs
  docs/source/nlp/dialogue.rst
  docs/source/nlp/dialogue_UML.png
  examples/nlp/dialogue/analyse_prediction_results.py
  examples/nlp/dialogue/conf/dialogue_config.yaml
  examples/nlp/dialogue/dialogue.py
  examples/nlp/dialogue/remove_ms_marco_samples_without_wellFormedAnswers.py
Labels: NLP, Run CICD

#11235 NeMo 2.0 documentation upgrade
  docs/source/features/mixed_precision.rst
  docs/source/features/optimizations/attention_optimizations.rst
  docs/source/features/parallelisms.rst
  docs/source/nlp/nemo_megatron/batching.rst
  docs/source/nlp/nemo_megatron/gpt/gpt_training.rst
  docs/source/nlp/nemo_megatron/hiddens/hiddens_module.rst
  docs/source/nlp/nemo_megatron/hiddens/images/hiddens-wb-logging.png
  docs/source/nlp/nemo_megatron/retro/retro_model.rst
Labels: documentation, NLP, Run CICD

#11578 Remove auto-import of lhotse when importing nemo.collections.common.data
  nemo/collections/common/data/__init__.py
  tests/collections/common/test_lhotse_prompt_format_data_types.py
Labels: common, Run CICD

#11571 Fix example configs
  scripts/llm/pretraining.py
Labels: Run CICD, r2.1.0

#11575 ci: switch to single-gpu runner for `--devices 1`
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#11488 NIM supporting changes for nemo.export for NeMo 2.0
  nemo/deploy/deploy_pytriton.py
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/converter/model_to_trt_llm_ckpt.py
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
  nemo/export/trt_llm/utils.py
  scripts/deploy/nlp/deploy_triton.py
  scripts/export/export_to_trt_llm.py
  tests/deploy/nemo_deploy.py
  tests/export/nemo_export.py
Labels: Run CICD, skip-docs, r2.1.0

#11573 AED greedy confidence estimation
  nemo/collections/asr/modules/transformer/transformer_generators.py
  nemo/collections/asr/parts/submodules/multitask_decoding.py
  nemo/collections/asr/parts/submodules/multitask_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/utils/asr_confidence_utils.py
  tests/collections/asr/decoding/test_multi_task_decoding.py
Labels: ASR, Run CICD

#11587 Fix Gemma to always disable CuDNN Fused Attention
  nemo/collections/llm/recipes/gemma_2b.py
  nemo/collections/llm/recipes/gemma_7b.py
Labels: Run CICD

#11584 Update T5 DataModule regarding Pretrain/Finetune validate
  nemo/collections/llm/t5/data/mock.py
  nemo/collections/llm/t5/data/pre_training.py
  tests/collections/llm/megatron_t5_pretraining.py
Labels: Run CICD, r2.1.0

#11580 Fix Llama3 rope_type conversion issue
  scripts/checkpoint_converters/convert_llama_hf_to_nemo.py
Labels: Run CICD

#11566 Add Hf nemorun tests
  .github/workflows/cicd-main.yml
  nemo/collections/llm/gpt/data/hf_dataset.py
  nemo/collections/llm/recipes/hf_auto_model_for_causal_lm.py
  tests/collections/llm/hf/peft_nemorun.py
  tests/collections/llm/hf/sft_nemorun.py
Labels: CI, Run CICD, r2.1.0

#11607 Pass the number of experts to modelopt layer spec
  nemo/collections/llm/quantization/utils.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
  nemo/export/quantize/quantizer.py
Labels: NLP, Run CICD

#11397 Adding changes to asr documentation
  docs/source/asr/all_chkpt.rst
  docs/source/asr/data/benchmark_by.csv
  docs/source/asr/data/benchmark_ca.csv
  docs/source/asr/data/benchmark_canary.csv
  docs/source/asr/data/benchmark_cn.csv
  docs/source/asr/data/benchmark_code_switching.csv
  docs/source/asr/data/benchmark_cs.csv
  docs/source/asr/data/benchmark_de.csv
  docs/source/asr/data/benchmark_en.csv
  docs/source/asr/data/benchmark_eo.csv
  docs/source/asr/data/benchmark_es.csv
  docs/source/asr/data/benchmark_fa.csv
  docs/source/asr/data/benchmark_fastconformer_hybrid.csv
  docs/source/asr/data/benchmark_fr.csv
  docs/source/asr/data/benchmark_hi.csv
  docs/source/asr/data/benchmark_hr.csv
  docs/source/asr/data/benchmark_it.csv
  docs/source/asr/data/benchmark_jp.csv
  docs/source/asr/data/benchmark_ka.csv
  docs/source/asr/data/benchmark_kab.csv
  docs/source/asr/data/benchmark_kz.csv
  docs/source/asr/data/benchmark_mr.csv
  docs/source/asr/data/benchmark_nl.csv
  docs/source/asr/data/benchmark_parakeet.csv
  docs/source/asr/data/benchmark_pl.csv
  docs/source/asr/data/benchmark_ru.csv
  docs/source/asr/data/benchmark_rw.csv
  docs/source/asr/data/benchmark_ua.csv
  docs/source/asr/data/benchmark_uz.csv
  docs/source/asr/data/benchmark_zh.csv
  docs/source/asr/results.rst
Labels: ASR, Run CICD

#11472 Support Cosmos tokenizer TensorRT inference
  nemo/collections/common/video_tokenizers/cosmos_tokenizer.py
  nemo/collections/common/video_tokenizers/cosmos_trt_run.py
  nemo/collections/common/video_tokenizers/modules/__init__.py
  nemo/collections/common/video_tokenizers/modules/distributions.py
  nemo/collections/common/video_tokenizers/modules/layers2d.py
  nemo/collections/common/video_tokenizers/modules/layers3d.py
  nemo/collections/common/video_tokenizers/modules/patching.py
  nemo/collections/common/video_tokenizers/modules/quantizers.py
  nemo/collections/common/video_tokenizers/modules/utils.py
  nemo/collections/common/video_tokenizers/networks/__init__.py
  nemo/collections/common/video_tokenizers/networks/configs.py
  nemo/collections/common/video_tokenizers/networks/continuous_image.py
  nemo/collections/common/video_tokenizers/networks/continuous_video.py
  nemo/collections/common/video_tokenizers/networks/discrete_image.py
  nemo/collections/common/video_tokenizers/networks/discrete_video.py
  nemo/collections/common/video_tokenizers/utils.py
Labels: common, Run CICD, skip-docs

#11565 Neva updates to latest mcore and some fixes
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/vlm/neva/model/base.py
  nemo/lightning/megatron_parallel.py
  scripts/vlm/neva_finetune.py
Labels: Run CICD

#11603 [Bug-fix] Set Minitron width pruning batch size 1 for optimal results
  .github/workflows/cicd-main.yml
  examples/nlp/language_modeling/conf/megatron_gpt_prune.yaml
  examples/nlp/language_modeling/megatron_gpt_prune.py
  tutorials/llm/llama-3/pruning-distillation/03_b_width_pruning.ipynb
Labels: NLP, CI, Run CICD

#11547 Disable CP for running Inference using megatron_gpt_eval
  examples/nlp/language_modeling/megatron_gpt_eval.py
Labels: NLP, Run CICD

#11608 ci: Add `no-fail-fast` mode
  .github/workflows/_test_template.yml
Labels: CI, Run CICD, r2.1.0

#11423 Chat dataset support
  .github/workflows/cicd-main.yml
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/data/__init__.py
  nemo/collections/llm/gpt/data/chat.py
  nemo/collections/llm/gpt/data/core.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_chat_dataset.py
  nemo/lightning/io/connector.py
  tests/collections/llm/gpt_finetuning.py
Labels: NLP, CI, Run CICD

#11336 Sortformer Diarizer 4spk v1 model PR Part 2: Unit-tests for Sortformer Diarizer.
  .github/workflows/cicd-main.yml
  examples/speaker_tasks/diarization/neural_diarizer/e2e_diarize_speech.py
  nemo/collections/asr/data/audio_to_diar_label.py
  nemo/collections/asr/models/sortformer_diar_models.py
  tests/collections/speaker_tasks/test_diar_datasets.py
  tests/collections/speaker_tasks/test_diar_label_models.py
  tests/collections/speaker_tasks/test_diar_lhotse_datasets.py
  tests/collections/speaker_tasks/test_diar_metrics.py
  tests/collections/speaker_tasks/test_diar_neural_inference.py
  tests/collections/speaker_tasks/test_diar_sortformer_models.py
  tests/collections/speaker_tasks/test_speaker_label_models.py
  tests/collections/speaker_tasks/utils/test_data_simul_utils.py
  tests/collections/speaker_tasks/utils/test_diar_utils.py
  tests/collections/speaker_tasks/utils/test_multispeaker_utils.py
  tests/collections/speaker_tasks/utils/test_vad_utils.py
Labels: ASR, Speaker Tasks, CI, Run CICD

#11169 2x more memory efficient Graph-based RNN-T
  nemo/collections/asr/parts/k2/graph_transducer.py
  nemo/collections/asr/parts/k2/rnnt_logprobs.py
  nemo/collections/asr/parts/k2/rnnt_logprobs_triton.py
  nemo/core/utils/optional_libs.py
  requirements/requirements.txt
  tests/collections/asr/k2/test_graph_transducer.py
Labels: core, ASR, Run CICD

#11622 Cherrypick all + R2.1.0 fix cicd
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
  docs/source/nlp/dialogue.rst
  docs/source/nlp/dialogue_UML.png
  examples/nlp/dialogue/analyse_prediction_results.py
  examples/nlp/dialogue/conf/dialogue_config.yaml
  examples/nlp/dialogue/dialogue.py
  examples/nlp/dialogue/remove_ms_marco_samples_without_wellFormedAnswers.py
  nemo/collections/llm/recipes/gemma_2b.py
  nemo/collections/llm/recipes/gemma_7b.py
  nemo/collections/llm/t5/data/mock.py
  nemo/collections/llm/t5/data/pre_training.py
  nemo/deploy/deploy_pytriton.py
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/converter/model_to_trt_llm_ckpt.py
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
  nemo/export/trt_llm/utils.py
  nemo/lightning/pytorch/callbacks/nsys.py
  scripts/checkpoint_converters/convert_gpt_nemo_to_mcore.py
  scripts/checkpoint_converters/convert_mixtral_hf_to_nemo.py
  scripts/deploy/nlp/deploy_triton.py
  scripts/export/export_to_trt_llm.py
  scripts/llm/pretraining.py
  tests/collections/llm/megatron_t5_pretraining.py
  tests/deploy/nemo_deploy.py
  tests/export/nemo_export.py
Labels: cherry-pick, NLP, CI, Run CICD, skip-docs

#11352 Use explicit subpaths in io for exporting a checkpoint
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/lightning/io/connector.py
Labels: Run CICD, skip-docs

#11627 Remove triton requirement
  requirements/requirements.txt
Labels: Run CICD

#11624 ci: Improve Pylint guidance
  .github/workflows/code-formatting.yml
Labels: CI

#11586 Jit with peft
  examples/llm/peft/hf.py
  examples/llm/sft/hf.py
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/lightning/pytorch/callbacks/jit_transform.py
Labels: Run CICD

#11638 Add fix docstring for speech commands
  tutorials/asr/Speech_Commands.ipynb
Labels: ASR, r2.1.0

#11636 Fixing Multi_Task_Adapters.ipynb by replacing canary2 with canary_custom
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
Labels: ASR

#11639 Cherry pick `Add fix docstring for speech commands (11638)` into `r2.1.0`
  tutorials/asr/Speech_Commands.ipynb
Labels: cherry-pick, ASR, Run CICD

#11630 Cherrypick #11628 to r2.1.0
  tutorials/audio/speech_enhancement/Speech_Enhancement_with_Online_Augmentation.ipynb
Labels: cherry-pick, Run CICD, audio, r2.1.0

#11641 Fixing Multi_Task_Adapters.ipynb by replacing canary2 with canary_custom
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
Labels: ASR, r2.1.0

#11632 Fix Gemma2 27B default num nodes
  nemo/collections/llm/recipes/gemma2_27b.py
Labels: Run CICD

#11634 Add delay for speech codes prediction
  nemo/collections/multimodal/speech_llm/models/modular_s2s_models.py
Labels: Multi Modal

#11647 add renormalize_blend_weights param
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#11511 Sortformer Diarizer 4spk v1 model PR Part 3: Speaker Diarization Mixin
  examples/speaker_tasks/diarization/neural_diarizer/e2e_diarize_speech.py
  nemo/collections/asr/data/audio_to_diar_label.py
  nemo/collections/asr/models/sortformer_diar_models.py
  nemo/collections/asr/parts/mixins/diarization.py
  nemo/collections/asr/parts/utils/vad_utils.py
  nemo/collections/common/parts/preprocessing/collections.py
  tests/collections/speaker_tasks/mixins/test_diarization.py
Labels: ASR, Speaker Tasks, common, Run CICD

#11568 Fix peft inference
  .github/workflows/cicd-main.yml
  nemo/collections/llm/inference/base.py
  nemo/lightning/pytorch/callbacks/peft.py
  nemo/lightning/pytorch/utils.py
  scripts/llm/generate.py
  tests/collections/llm/common.py
  tests/collections/llm/gpt_finetuning.py
  tests/collections/llm/peft/lora_merge.py
Labels: CI, Run CICD, r2.1.0

#11659 Add fix docstring for VAD
  tutorials/asr/Voice_Activity_Detection.ipynb
Labels: ASR, r2.1.0

#11660 Cherry pick `Add fix docstring for VAD (11659)` into `r2.1.0`
  tutorials/asr/Voice_Activity_Detection.ipynb
Labels: cherry-pick, ASR, Run CICD

#11631 Fix Optimizer & LR scheduler & Consume Samples when Resuming in PEFT
  nemo/collections/llm/gpt/data/fine_tuning.py
  nemo/lightning/pytorch/callbacks/peft.py
  tests/lightning/test_data.py
Labels: Run CICD, r2.1.0

#11063 Add vlm generation function
  nemo/collections/vlm/inference/__init__.py
  nemo/collections/vlm/inference/base.py
  nemo/collections/vlm/inference/vlm_engine.py
  nemo/collections/vlm/inference/vlm_inference_controller.py
  nemo/collections/vlm/inference/vlm_inference_wrapper.py
  nemo/collections/vlm/mllama/model/base.py
  nemo/collections/vlm/mllama/model/language.py
  scripts/vlm/mllama_generate.py
Labels: Run CICD

#11667 ci: Small pylint fix
  .github/workflows/code-formatting.yml
Labels: CI

#11657 Fix tokenizer trust_remote_code
  nemo/lightning/io/connector.py
Labels: Run CICD

#10671 Add slimpajama example
  tutorials/llm/llama-3/slimpajama/README.md
  tutorials/llm/llama-3/slimpajama/data/concat.sh
  tutorials/llm/llama-3/slimpajama/data/download.py
  tutorials/llm/llama-3/slimpajama/data/extract.py
  tutorials/llm/llama-3/slimpajama/data/preprocess.py
  tutorials/llm/llama-3/slimpajama/data_pipeline.ipynb
  tutorials/llm/llama-3/slimpajama/data_pipeline.py
  tutorials/llm/llama-3/slimpajama/pretraining.ipynb
Labels: Run CICD

#11652 Speechllm develop gen duplex
  examples/multimodal/speech_llm/conf/s2s/pt_salm_1a_21fps_debug_duplex_mistral_align.yaml
  nemo/collections/multimodal/speech_llm/data/lhotse_s2s_dataset.py
  nemo/collections/multimodal/speech_llm/models/modular_s2s_models.py
  nemo/collections/multimodal/speech_llm/modules/common/audio_text_generation_strategy.py
Labels: Multi Modal

#11663 Change peft merged model to bf16
  nemo/collections/llm/peft/api.py
Labels: Run CICD

#11609 Add Minitron depth pruning (layer dropping) to megatron_gpt_prune.py
  .github/workflows/cicd-main.yml
  examples/nlp/language_modeling/conf/megatron_gpt_prune.yaml
  examples/nlp/language_modeling/megatron_gpt_drop_layers.py
  examples/nlp/language_modeling/megatron_gpt_prune.py
  tutorials/llm/llama-3/pruning-distillation/03_a_depth_pruning.ipynb
Labels: NLP, CI, Run CICD

#11594 add documentation for checkpoint averaging
  scripts/checkpoint_averaging/README.md
  scripts/checkpoint_averaging/legacy/average_model_checkpoints.py
  scripts/checkpoint_averaging/legacy/checkpoint_averaging.py
  scripts/checkpoint_averaging/legacy/checkpoint_averaging_model_parallel.py
  scripts/checkpoint_averaging/legacy/megatron_checkpoint_averaging.py
  scripts/checkpoint_averaging/zarr_distributed_checkpoint_averaging.py
Labels: Run CICD

#11675 Downgrading the 'datasets' package from 3.0.0 to 2.21.0 for Multilang_ASR.ipynb and ASR_CTC_Language_Finetuning.ipynb
  tutorials/asr/ASR_CTC_Language_Finetuning.ipynb
  tutorials/asr/Multilang_ASR.ipynb
Labels: ASR, Run CICD, r2.1.0

#11677 Cherry pick `Downgrading the 'datasets' package from 3.0.0 to 2.21.0 for Multilang_ASR.ipynb and ASR_CTC_Language_Finetuning.ipynb (11675)` into `r2.1.0`
  tutorials/asr/ASR_CTC_Language_Finetuning.ipynb
  tutorials/asr/Multilang_ASR.ipynb
Labels: cherry-pick, ASR, Run CICD

#11648 Utilities to detect and drop deprecated arguments from NeMo 2.0 checkpoint context io.json
  nemo/lightning/io/__init__.py
  nemo/lightning/io/mixin.py
  scripts/llm/update_io_context.py
  tests/collections/llm/io/test_drop_unexpected_params.py
Labels: Run CICD, r2.1.0

#11669 NIM supporting changes for nemo.export for NeMo 2.0 (part II)
  nemo/export/__init__.py
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
Labels: Run CICD, skip-docs, r2.1.0

#11611 Add check for symlink in extraction of nemo files
  nemo/core/connectors/save_restore_connector.py
Labels: bug, core, Run CICD, r2.1.0

#11654 Rename multimodal data module - EnergonMultiModalDataModule
  nemo/collections/diffusion/data/diffusion_energon_datamodule.py
  nemo/collections/diffusion/train.py
  nemo/collections/multimodal/data/__init__.py
  nemo/collections/multimodal/data/energon/__init__.py
  nemo/collections/multimodal/data/energon/base.py
  scripts/vlm/llava_next_finetune.py
  scripts/vlm/llava_next_pretrain.py
  tests/collections/multimodal/data/energon/test_data_module.py
Labels: Multi Modal, Run CICD, r2.1.0

#11671 Fixing the device assignment issues during inference (test_batch) in Sortformer model
  nemo/collections/asr/data/audio_to_diar_label.py
  nemo/collections/asr/models/sortformer_diar_models.py
Labels: ASR, Speaker Tasks, Run CICD

#11680 r2.1.0 cherrypick
  nemo/collections/llm/gpt/data/fine_tuning.py
  nemo/core/connectors/save_restore_connector.py
  nemo/export/__init__.py
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
  nemo/lightning/io/__init__.py
  nemo/lightning/io/mixin.py
  nemo/lightning/pytorch/callbacks/peft.py
  scripts/llm/update_io_context.py
  tests/collections/llm/io/test_drop_unexpected_params.py
  tests/lightning/test_data.py
Labels: core, Run CICD

#11685 Cherry pick `Rename multimodal data module - EnergonMultiModalDataModule (11654)` into `r2.1.0`
  nemo/collections/diffusion/data/diffusion_energon_datamodule.py
  nemo/collections/diffusion/train.py
  nemo/collections/multimodal/data/__init__.py
  nemo/collections/multimodal/data/energon/__init__.py
  nemo/collections/multimodal/data/energon/base.py
  scripts/vlm/llava_next_finetune.py
  scripts/vlm/llava_next_pretrain.py
  tests/collections/multimodal/data/energon/test_data_module.py
Labels: cherry-pick, Multi Modal, Run CICD

#11591 add timestamp support
  nemo/collections/common/tokenizers/canary_tokenizer.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
Labels: ASR, common, Run CICD

#11672 Add multi images support for mllama generate
  nemo/collections/vlm/inference/base.py
  nemo/collections/vlm/inference/vlm_engine.py
  scripts/vlm/mllama_generate.py
Labels: Run CICD

#11455 remove duplicated line
  nemo/collections/asr/models/ctc_bpe_models.py
Labels: ASR, Run CICD

#11692 Update requirements_lightning.txt
  requirements/requirements_lightning.txt
Labels: Run CICD, r2.1.0

#11562 comments for config knobs
  nemo/collections/llm/recipes/CONFIGURATION-HIERARCHY.md
Labels: documentation, Run CICD

#11661 Bug fix - Inheritance of LLaVATemplateConfig and MLlamaTemplateConfig dataclasses
  nemo/collections/multimodal/data/energon/conversation.py
Labels: Multi Modal, Run CICD, r2.1.0

#11698 ci: Update release.yml
  .github/workflows/release.yml
Labels: CI

#11703 job dir for vboost stdout
  nemo/lightning/run/plugins.py
Labels: Run CICD

#11705 Use explicit imports from megatronllm_deployable.py
  nemo/deploy/nlp/__init__.py
  scripts/deploy/nlp/deploy_inframework_triton.py
  scripts/deploy/nlp/deploy_triton.py
  tests/deploy/nemo_deploy.py
  tests/export/nemo_export.py
Labels: Run CICD, skip-docs

#11687 moe fp8
  nemo/collections/llm/gpt/model/base.py
Labels: Run CICD

#11678 Add options to assign vocab and mergers file for mockdatamoddule
  nemo/collections/llm/gpt/data/mock.py
  scripts/llm/pretraining.py
Labels: Run CICD

#11464 Whisper model support in Lite
  examples/speechlm/sft/hf.py
  nemo/collections/common/tokenizers/huggingface/auto_tokenizer.py
  nemo/collections/speechlm/__init__.py
  nemo/collections/speechlm/api.py
  nemo/collections/speechlm/models/__init__.py
  nemo/collections/speechlm/models/hf_auto_model_for_speech_seq2seq.py
  nemo/collections/speechlm/recipes/__init__.py
  nemo/collections/speechlm/recipes/optim/__init__.py
  nemo/collections/speechlm/recipes/optim/adam.py
Labels: Run CICD, skip-docs

#11709 added required instalation for sox to process mp3 file
  tutorials/tools/CTC_Segmentation_Tutorial.ipynb
Labels: bug, Run CICD, r2.1.0

#11290 Enable cudagraphs for Peft and Pretraining
  nemo/collections/llm/gpt/data/chat.py
  nemo/collections/llm/gpt/data/core.py
  nemo/collections/llm/gpt/data/fine_tuning.py
  nemo/collections/llm/gpt/data/packed_sequence.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/lightning/_strategy_lib.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  nemo/utils/get_rank.py
  nemo/utils/sequence_packing_utils.py
  tests/lightning/test_strategy_lib.py
Labels: NLP, Run CICD, skip-docs

#11710 removed the line which caused a problem in nfa_tutorial
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
Labels: bug, ASR, Run CICD, r2.1.0

#11643 switch to grpc for deploy and eval
  nemo/collections/llm/api.py
  nemo/collections/llm/deploy/base.py
  nemo/collections/llm/evaluation/__init__.py
  nemo/collections/llm/evaluation/base.py
  nemo/deploy/deploy_base.py
  nemo/deploy/deploy_pytriton.py
  nemo/deploy/nlp/query_llm.py
Labels: Run CICD

#11409 Move FP8 TE export logic to mcore.export
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/converter/model_converter.py
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
Labels: Run CICD

#11513 modelopt=0.21.0 update
  Dockerfile.ci
  examples/nlp/language_modeling/conf/megatron_gpt_ptq.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_qat_config.yaml
  nemo/collections/llm/quantization/quantizer.py
  nemo/collections/llm/quantization/utils.py
  nemo/export/quantize/quantizer.py
Labels: NLP, Run CICD

#11714 Bug fix minor bug in TRT-LLM deployment
  nemo/export/tensorrt_llm.py
Labels: bug, NLP, Run CICD, r2.1.0

#11718 Allow using vocab size from config
  nemo/collections/llm/gpt/model/base.py
Labels: Run CICD

#11592 vae training and autovae
  nemo/collections/diffusion/vae/autoencoder.py
  nemo/collections/diffusion/vae/autovae.py
  nemo/collections/diffusion/vae/blocks.py
  nemo/collections/diffusion/vae/contperceptual_loss.py
  nemo/collections/diffusion/vae/diffusers_vae.py
  nemo/collections/diffusion/vae/readme.rst
  nemo/collections/diffusion/vae/test_autovae.py
  nemo/collections/diffusion/vae/train_vae.py
  nemo/collections/diffusion/vae/train_vae.sh
  nemo/collections/diffusion/vae/vae16x/config.json
  nemo/collections/diffusion/vae/validate_vae.py
Labels: Run CICD

#11725 Fix baseline recipes
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/nemotron.py
  nemo/collections/llm/recipes/nemotron4_15b.py
Labels: Run CICD
