Repository NVIDIA-NeMo/NeMo, pull requests merged in 2024-09, with the labels that each got.

#10288 Support TE-DPA For Stable Diffusion
  nemo/collections/multimodal/modules/stable_diffusion/attention.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/openaimodel.py
Labels: Multi Modal, Run CICD

#10336 fix tokenizer restoration
  nemo/lightning/io/api.py
Labels: Run CICD

#10317 Remove virtual pipeline parallel Apex dependency
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
Labels: NLP, Run CICD

#10279 Add option to selectively load context in nemo.lightning.io
  nemo/lightning/io/api.py
  nemo/lightning/io/mixin.py
Labels: Run CICD

#10337 Add EP to mixtral-8x22b recipe
  nemo/collections/llm/recipes/mixtral_8x22b.py
Labels: Run CICD

#10334 Bugfix: export to trt-llm multi_block_mode flag
  scripts/deploy/nlp/deploy_triton.py
  scripts/export/export_to_trt_llm.py
Labels: Run CICD

#10339 Fix instrunct-pic2pic in NeMo CI
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/ddpm.py
Labels: Multi Modal, Run CICD

#10321 Add comment to address a frequently asked question
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/utils/sequence_packing_utils.py
Labels: NLP, Run CICD

#10324 Fix async checkpointing in nemo.lightning
  nemo/lightning/pytorch/strategies/fsdp_strategy.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
  tests/lightning/pytorch/strategies/test_megatron_strategy.py
Labels: Run CICD

#10262 [Draft]Add Nemotron4 recipes and Long Context Recipe
  nemo/collections/llm/recipes/llama3_70b_16k.py
  nemo/collections/llm/recipes/llama3_70b_64k.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/llama3_8b_16k.py
  nemo/collections/llm/recipes/llama3_8b_64k.py
  nemo/collections/llm/recipes/mixtral_8x22b.py
  nemo/collections/llm/recipes/mixtral_8x3b.py
  nemo/collections/llm/recipes/mixtral_8x3b_16k.py
  nemo/collections/llm/recipes/mixtral_8x3b_64k.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  nemo/collections/llm/recipes/mixtral_8x7b_16k.py
  nemo/collections/llm/recipes/mixtral_8x7b_64k.py
Labels: Run CICD

#10154 Support for FastConformer-CTC models in Diarization+ASR with timestamps
  nemo/collections/asr/parts/utils/decoder_timestamps_utils.py
Labels: ASR, Run CICD

#10349 Remove apply_query_key_layer_scaling for GPT models
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/mistral.py
  nemo/collections/llm/gpt/model/mixtral.py
  nemo/collections/llm/gpt/model/nemotron.py
  nemo/collections/llm/gpt/model/qwen2.py
  nemo/collections/llm/gpt/model/starcoder2.py
Labels: Run CICD

#10303 remove grad clipping from mixed_precision plugin
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/mixtral_8x22b.py
  nemo/collections/llm/recipes/mixtral_8x3b.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  nemo/collections/llm/recipes/optim/adam.py
  nemo/lightning/pytorch/plugins/mixed_precision.py
Labels: Run CICD

#10295 Add option to selectively restore model weights and optimizer states in AutoResume and MegatronStrategy
  nemo/collections/llm/gpt/data/fine_tuning.py
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/mistral.py
  nemo/collections/llm/recipes/mixtral_8x22b.py
  nemo/collections/llm/recipes/mixtral_8x3b.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  nemo/lightning/__init__.py
  nemo/lightning/fabric/strategies.py
  nemo/lightning/pytorch/callbacks/peft.py
  nemo/lightning/pytorch/strategies/fsdp_strategy.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
  nemo/lightning/resume.py
  tests/collections/llm/test_mnist_model_nemo2.py
  tests/collections/llm/test_mnist_model_nemo2_fsdp.py
  tests/lightning/test_ddp_parity_checker.py
  tests/lightning/test_nemo_logger.py
  tests/lightning/test_precision_plugin.py
Labels: Run CICD

#10357 MoE alltoall
  nemo/collections/llm/gpt/model/mixtral.py
Labels: Run CICD

#10322 Improve TE import guards
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/data/mock.py
  nemo/collections/llm/gpt/data/pre_training.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/multimodal/models/vision_language_foundation/clip/megatron_clip_models.py
  nemo/collections/multimodal/modules/stable_diffusion/attention.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/openaimodel.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retro_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/qlora.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/core/optim/distributed_adam.py
  nemo/lightning/__init__.py
  nemo/utils/import_utils.py
  nemo/utils/te_utils.py
  tests/lightning/io/test_api.py
Labels: core, NLP, Multi Modal, Run CICD

#10343 ci: Detect secrets
  .github/workflows/config/.secrets.baseline
  .github/workflows/secrets-detector.yml
Labels: CI, Run CICD

#10353 Bump `Dockerfile.ci` (2024-09-05)
  Dockerfile.ci
Labels: Run CICD

#10209 [NeMo-UX] Turn on mcore performance optimizations
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/tp_overlap_configs/__init__.py
  nemo/collections/llm/recipes/tp_overlap_configs/userbuffers.py
  nemo/lightning/pytorch/callbacks/megatron_comm_overlap.py
Labels: Run CICD, audio

#10241 [NeMo-UX] checkpointing improvements
  examples/llm/megatron_gpt_pretraining.py
  nemo/lightning/io/mixin.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  nemo/lightning/pytorch/strategies/fsdp_strategy.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  nemo/lightning/resume.py
  tests/collections/llm/test_mnist_model_nemo2.py
  tests/collections/llm/test_mnist_model_nemo2_fsdp.py
  tests/lightning/test_nemo_logger.py
Labels: Run CICD

#10365 [Nemo Unit Tests] Split CPU unit tests
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10381 ci: Fix checkout of secrets detector
  .github/workflows/secrets-detector.yml
Labels: CI

#10371 [NeMo-UX] only log consumed samples during training
  nemo/lightning/pytorch/plugins/data_sampler.py
Labels: Run CICD

#10338 Alit/mamba 2 0 migration
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/data/fine_tuning.py
  nemo/collections/llm/gpt/data/squad.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/ssm.py
  nemo/collections/nlp/models/language_modeling/megatron_mamba_model.py
  nemo/lightning/io/mixin.py
  nemo/lightning/io/state.py
  scripts/checkpoint_converters/convert_mamba2_pyt_to_nemo.py
  tests/collections/llm/megatron_ssm_finetuning.py
  tests/collections/llm/megatron_ssm_pretraining.py
Labels: NLP, Run CICD

#10376 [NeMo-UX] Checkpointing fixes
  nemo/collections/llm/recipes/log/default.py
  nemo/lightning/pytorch/strategies/fsdp_strategy.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD

#10270 add auto configurator to NeMo
  Dockerfile.ci
  examples/llm/auto_configurator/README.md
  examples/llm/auto_configurator/auto_config.py
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/tools/auto_configurator/__init__.py
  nemo/collections/llm/tools/auto_configurator/core/__init__.py
  nemo/collections/llm/tools/auto_configurator/core/base_config.py
  nemo/collections/llm/tools/auto_configurator/core/calculate_performance.py
  nemo/collections/llm/tools/auto_configurator/core/training_config.py
  nemo/collections/llm/tools/auto_configurator/core/utils.py
  nemo/collections/llm/tools/auto_configurator/runner.py
  tests/collections/llm/auto_conf/test_autoconf_utils.py
  tests/collections/llm/auto_conf/test_base_configs.py
  tests/collections/llm/auto_conf/test_generate_configs.py
Labels: feature, Run CICD

#10366 fix mixtraltopk
  nemo/collections/llm/gpt/model/mixtral.py
Labels: Run CICD

#10367 ci: Fix release tag
  .github/workflows/release.yml
Labels: CI

#10351 Akoumparouli/nemo ux tokenizer fix
  nemo/collections/common/parts/perf_metrics_utils.py
  nemo/collections/llm/gpt/model/baichuan.py
  nemo/collections/llm/gpt/model/chatglm.py
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/mistral.py
  nemo/collections/llm/gpt/model/mixtral.py
  nemo/collections/llm/gpt/model/nemotron.py
  nemo/collections/llm/gpt/model/qwen2.py
  nemo/collections/llm/gpt/model/starcoder.py
  nemo/collections/llm/gpt/model/starcoder2.py
  nemo/collections/llm/tokenizer.py
  nemo/lightning/io/artifact/__init__.py
  nemo/lightning/io/artifact/base.py
  nemo/lightning/io/artifact/file.py
  nemo/lightning/io/connector.py
  nemo/lightning/io/mixin.py
  nemo/lightning/pytorch/strategies/utils.py
  nemo/lightning/resume.py
Labels: common, Run CICD

#10373 Add option to resume from specific path in AutoResume
  nemo/lightning/resume.py
Labels: Run CICD

#10392 ci: Cleanup of release-freeze automation
  .github/workflows/release-freeze.yml
Labels: CI

#10394 ci: Toggle pre-release
  .github/workflows/release-freeze.yml
Labels: CI

#10396 ci: Toggle pre-release
  .github/workflows/release-freeze.yml
Labels: CI

#10397 Ko3n1g/ci/release freeze
  .github/workflows/release-freeze.yml
Labels: CI

#10309 Akoumparouli/nemo ux validate dataset asset accessibility
  nemo/collections/llm/gpt/data/pre_training.py
  tests/collections/llm/gpt/data/test_pre_training_data.py
Labels: Run CICD

#10401 ci(chore): Minor change
  .github/workflows/cicd-main.yml
Labels: CI, r2.0.0

#10389 ci: Swap merge and cherry-pick order
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#10403 Ko3n1g/ci/fix release workflow 2
  .github/workflows/cherry-pick-release-commit.yml
  .github/workflows/release-freeze.yml
Labels: CI, r2.0.0

#10370 Alit/mamba ux cicd
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  tests/collections/llm/gpt/model/megatron_ssm_finetuning.py
  tests/collections/llm/gpt/model/megatron_ssm_pretraining.py
Labels: CI, Run CICD, r2.0.0

#10407 ci: Allow default token to write workflows
  .github/workflows/cherry-pick-release-commit.yml
Labels: r2.0.0

#10409 ci: More permissions for cherry-pick automation
  .github/workflows/cherry-pick-release-commit.yml
Labels: r2.0.0

#10410 ci: Overhaul cherry-pick workflow
  .github/workflows/cherry-pick-release-commit.yml
Labels: r2.0.0

#10411 ci: Ignore failures on cherry-picking
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#10412 Ko3n1g/ci/test cherry picking
  .github/workflows/cicd-main.yml
Labels: CI, r2.0.0

#10414 ci: Minor change
  .github/workflows/cicd-main.yml
Labels: r2.0.0

#10415 ci: Minor change
  .github/workflows/cicd-main.yml
Labels: r2.0.0

#10419 ci: Small test
  .github/workflows/cicd-main.yml
Labels: r2.0.0

#10300 [NeMo-UX] Integrating CLI
  Dockerfile.ci
  examples/llm/pretrain/README.md
  examples/llm/pretrain/custom_recipe.py
  examples/llm/pretrain/default_executor.py
  examples/llm/pretrain/pretrain.ipynb
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/starcoder.py
  nemo/collections/llm/gpt/model/starcoder2.py
  nemo/collections/llm/recipes/ADD-RECIPE.md
  nemo/collections/llm/recipes/README.md
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_70b_16k.py
  nemo/collections/llm/recipes/llama3_70b_64k.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/llama3_8b_16k.py
  nemo/collections/llm/recipes/llama3_8b_64k.py
  nemo/collections/llm/recipes/log/__init__.py
  nemo/collections/llm/recipes/log/default.py
  nemo/collections/llm/recipes/mistral.py
  nemo/collections/llm/recipes/mixtral_8x22b.py
  nemo/collections/llm/recipes/mixtral_8x3b.py
  nemo/collections/llm/recipes/mixtral_8x3b_16k.py
  nemo/collections/llm/recipes/mixtral_8x3b_64k.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  nemo/collections/llm/recipes/mixtral_8x7b_16k.py
  nemo/collections/llm/recipes/mixtral_8x7b_64k.py
  nemo/collections/llm/recipes/optim/__init__.py
  nemo/collections/llm/recipes/optim/adam.py
  nemo/collections/llm/recipes/precision/__init__.py
  nemo/collections/llm/recipes/precision/mixed_precision.py
  requirements/requirements.txt
  scripts/llm/llama3_pretraining.py
  setup.py
  tests/collections/llm/recipes/__init__.py
  tests/collections/llm/recipes/test_llama3_70b.py
  tests/collections/llm/recipes/test_llama3_70b_16k.py
  tests/collections/llm/recipes/test_llama3_70b_64k.py
  tests/collections/llm/recipes/test_llama3_8b.py
  tests/collections/llm/recipes/test_llama3_8b_16k.py
  tests/collections/llm/recipes/test_llama3_8b_64k.py
  tests/collections/llm/recipes/test_mistral.py
  tests/collections/llm/recipes/test_mixtral_8x22b.py
  tests/collections/llm/recipes/test_mixtral_8x3b.py
  tests/collections/llm/recipes/test_mixtral_8x3b_16k.py
  tests/collections/llm/recipes/test_mixtral_8x3b_64k.py
  tests/collections/llm/recipes/test_mixtral_8x7b.py
  tests/collections/llm/recipes/test_mixtral_8x7b_16k.py
  tests/collections/llm/recipes/test_mixtral_8x7b_64k.py
  tests/lightning/_fabric/__init__.py
  tests/lightning/_fabric/test_conversion.py
Labels: Run CICD

#10380 [Nemo Unit Tests] Split GPU unit tests
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10305 Support Energon as dataloader in NeVA
  examples/multimodal/multimodal_llm/neva/conf/neva_config.yaml
  examples/multimodal/multimodal_llm/neva/neva_finetune.py
  examples/multimodal/multimodal_llm/neva/neva_peft.py
  examples/multimodal/multimodal_llm/neva/neva_pretrain.py
  nemo/collections/multimodal/data/neva/conversation.py
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/multimodal/data/neva/neva_energon_dataset.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/parts/utils.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  requirements/requirements_multimodal.txt
Labels: NLP, Multi Modal, Run CICD

#10253 24.07 perf numbers
  docs/source/performance/performance_summary.md
Labels: Run CICD

#10436 CICD: Attempt fix for False positive (not all tests have run)
  .github/workflows/cicd-main.yml
Labels: CI

#10438 [Nemo CICD] Make flaky test optional
  .github/workflows/cicd-main.yml
Labels: CI

#10446 [Nemo CICD] Make flaky test optional
  .github/workflows/cicd-main.yml
Labels: CI

#10350 Add project section to pyproject.toml
  nemo/utils/exp_manager.py
  pyproject.toml
  requirements/requirements_nlp.txt
  setup.py
Labels: audio

#10456 [Nemo CICD] Make flaky test optional
  .github/workflows/cicd-main.yml
Labels: CI

#10459 [Nemo CICD] Make flaky test optional
  .github/workflows/cicd-main.yml
Labels: CI

#10461 add parakeet-tdt_ctc-110m model
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
Labels: ASR

#10423 Bump `Dockerfile.ci` (2024-09-09)
  Dockerfile.ci
  docs/source/features/parallelisms.rst
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/mistral.py
  nemo/collections/llm/recipes/mixtral_8x3b.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  nemo/collections/llm/recipes/optim/adam.py
  nemo/collections/llm/tools/auto_configurator/core/base_config.py
  nemo/collections/multimodal/models/vision_language_foundation/clip/megatron_clip_models.py
  nemo/collections/nlp/models/language_modeling/megatron/bert/bert_spec.py
  nemo/collections/nlp/models/language_modeling/megatron/falcon/falcon_spec.py
  nemo/collections/nlp/models/language_modeling/megatron/gemma2/gemma2_modules.py
  nemo/collections/nlp/models/language_modeling/megatron/gemma2/gemma2_spec.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
  nemo/collections/nlp/models/language_modeling/megatron/griffin/griffin_block.py
  nemo/collections/nlp/models/language_modeling/megatron/griffin/griffin_layer_spec.py
  nemo/collections/nlp/modules/common/hyena/hyena.py
  nemo/collections/nlp/modules/common/hyena/hyena_spec.py
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/lightning/_strategy_lib.py
  nemo/lightning/fabric/strategies.py
  tests/collections/llm/auto_conf/test_base_configs.py
  tests/collections/llm/test_mnist_model_nemo2.py
  tests/lightning/test_dist_ckpt.py
Labels: NLP, Multi Modal, Run CICD

#10437 MCORE interface for TP-only FP8 AMAX reduction
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP, Run CICD

#10363 Support MCORE Distributed Optimizer
  Dockerfile.ci
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/core/classes/modelPT.py
  nemo/core/optim/mcore_optim.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/optim/megatron.py
Labels: core, NLP, Run CICD

#10465 ci: Fix Mcore ref
  .github/workflows/secrets-detector.yml
  Dockerfile.ci
Labels: Run CICD

#10464 Fix nemo run entrypoints
  pyproject.toml
Labels: Run CICD

#10476 [Nemo CICD] Make flaky test optional
  .github/workflows/cicd-main.yml
Labels: CI

#10390 add ci tests for Auto Configurator
  .github/workflows/cicd-main.yml
  examples/llm/auto_configurator/auto_config.py
Labels: CI, Run CICD

#10477 Bump `Dockerfile.ci` (2024-09-13)
  Dockerfile.ci
Labels: Run CICD

#10391 [NeMo-UX] Rename weights path during resume
  nemo/lightning/resume.py
Labels: Run CICD, r2.0.0

#10383 [NeMo-UX] Use custom `BatchProgress` class which does not restore states
  nemo/lightning/pytorch/strategies/fsdp_strategy.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
Labels: Run CICD, r2.0.0

#10314 Support TE-DPA For Stable Diffusion
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/ddpm.py
  nemo/collections/multimodal/modules/stable_diffusion/attention.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/openaimodel.py
Labels: Multi Modal

#10468 Remove Apex dependency if not using MixedFusedLayerNorm
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
Labels: NLP, Run CICD

#10466 Update adapter saving logic to be compatible with `save_weights_only`
  nemo/lightning/pytorch/callbacks/peft.py
Labels: Run CICD

#10441 Akoumparouli/nemo ux update param name
  examples/llm/megatron_gpt_pretraining.py
  nemo/collections/llm/recipes/log/default.py
  nemo/collections/llm/tools/auto_configurator/core/base_config.py
  nemo/lightning/nemo_logger.py
  tests/collections/llm/auto_conf/test_base_configs.py
  tests/collections/llm/gpt/model/megatron_ssm_pretraining.py
  tests/collections/llm/test_mnist_model_nemo2.py
  tests/collections/llm/test_mnist_model_nemo2_fsdp.py
  tests/lightning/test_nemo_logger.py
Labels: Run CICD

#10121 Draft: Expose MCore Cudagraph interface
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD, r2.0.0

#10361 [NeMo-UX] Add token drop callback and optimize mixtral configs
  nemo/collections/llm/gpt/model/mixtral.py
  nemo/collections/llm/recipes/mixtral_8x22b.py
  nemo/collections/llm/recipes/mixtral_8x3b.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  nemo/lightning/pytorch/callbacks/moe_token_drop.py
  tests/collections/llm/recipes/test_mixtral_8x22b.py
  tests/collections/llm/recipes/test_mixtral_8x3b.py
  tests/collections/llm/recipes/test_mixtral_8x7b.py
Labels: Run CICD, r2.0.0

#10379 fix partial audio transcription order:
  examples/asr/asr_cache_aware_streaming/speech_to_text_cache_aware_streaming_infer.py
  examples/asr/transcribe_speech.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/parts/mixins/transcription.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  nemo/collections/multimodal/speech_cv/models/visual_ctc_models.py
Labels: ASR, Multi Modal, Run CICD

#10494 ci: Fix hyperlink to PR
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#10440 Neva / Energon cherry pick from main
  examples/multimodal/multimodal_llm/neva/conf/neva_config.yaml
  examples/multimodal/multimodal_llm/neva/neva_finetune.py
  examples/multimodal/multimodal_llm/neva/neva_peft.py
  examples/multimodal/multimodal_llm/neva/neva_pretrain.py
  nemo/collections/multimodal/data/neva/conversation.py
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/multimodal/data/neva/neva_energon_dataset.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/models/vision_language_foundation/clip/megatron_clip_models.py
  nemo/collections/multimodal/parts/utils.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/vlm/__init__.py
  nemo/collections/vlm/neva/__init__.py
  nemo/collections/vlm/neva/data/__init__.py
  nemo/collections/vlm/neva/data/api.py
  nemo/collections/vlm/neva/data/config.py
  nemo/collections/vlm/neva/data/conversation.py
  nemo/collections/vlm/neva/data/lazy.py
  nemo/collections/vlm/neva/data/mock.py
  nemo/collections/vlm/neva/data/multimodal_tokens.py
  nemo/collections/vlm/neva/model/__init__.py
  nemo/collections/vlm/neva/model/api.py
  nemo/collections/vlm/neva/model/base.py
  nemo/collections/vlm/neva/model/llava.py
  nemo/lightning/_strategy_lib.py
  nemo/lightning/megatron_parallel.py
  requirements/requirements_multimodal.txt
Labels: Run CICD

#10498 fix NeMoLogger log -> log_dir rename
  examples/llm/auto_configurator/auto_config.py
Labels: Run CICD

#10501 ci: Fix base branch of secrets detector
  .github/workflows/secrets-detector.yml
Labels: CI, r2.0.0

#10502 Cherry-pick 10501 into r2.0.0
  .github/workflows/secrets-detector.yml
Labels: CI

#10470 Call reload_model_params only if there's no optimizer state
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  tests/lightning/test_nemo_resume_from_ckpt.py
Labels: Run CICD

#10503 ci: Disable flaky secrets test
  .github/workflows/secrets-detector.yml
Labels: CI, r2.0.0

#10504 Cherry-pick 10503 into r2.0.0
  .github/workflows/secrets-detector.yml
Labels: CI

#10429 Add missing import guards for causal_conv1d and mamba_ssm dependencies
  nemo/collections/nlp/models/language_modeling/megatron/griffin/recurrent_module.py
  nemo/collections/nlp/models/language_modeling/megatron_mamba_model.py
Labels: NLP, Run CICD, r2.0.0

#10444 Update doc for fp8 trt-llm export
  docs/source/nlp/quantization.rst
Labels: NLP, Run CICD, r2.0.0

#10488 [SD] TE-DPA: Disbale TE-DPA In Inference Flow
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/ddpm.py
Labels: Multi Modal, Run CICD

#10509 Add py-modules to pyproject.toml
  pyproject.toml
Labels: Run CICD

#10496 r2.0.0 cicd updates
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10375 Add nemo2 conversion scripts for export
  nemo/export/trt_llm/converter/model_to_trt_llm_ckpt.py
  scripts/export/convert_nemo2_for_export.py
Labels: Run CICD

#10507 Cherry-pick 10444 into r2.0.0
  docs/source/nlp/quantization.rst
Labels: NLP

#10518 Bump `Dockerfile.ci` (2024-09-18)
  Dockerfile.ci
Labels: Run CICD

#10098 add save_last_n_optim_states flag
  .github/workflows/cicd-main.yml
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/utils/callbacks/nemo_model_checkpoint.py
  nemo/utils/exp_manager.py
Labels: NLP, CI, Run CICD

#10508 fix asr finetune
  examples/asr/conf/asr_finetune/speech_to_text_hf_finetune.yaml
  examples/asr/conf/vad/frame_vad_infer_postprocess.yaml
  examples/asr/speech_to_text_finetune.py
  nemo/collections/asr/parts/utils/vad_utils.py
  nemo/core/classes/modelPT.py
Labels: core, ASR, Run CICD

#10200 add a feature to drop checkpoint layers
  .github/workflows/cicd-main.yml
  docs/source/nlp/nemo_megatron/intro.rst
  docs/source/nlp/nemo_megatron/model_distillation/drop_layers.rst
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/megatron_gpt_drop_layers.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/parts/megatron_trainer_builder.py
Labels: NLP, CI, Run CICD

#10529 Move NeMo 2.0 test out of `examples`
  .github/workflows/cicd-main.yml
  tests/collections/llm/megatron_gpt_pretraining.py
Labels: CI, Run CICD

#10457 handle logging case where grad_norm is None
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD

#10453 Make nemo_run dependency optional (llm/__init__ )
  nemo/collections/llm/__init__.py
Labels: Run CICD

#10447 move mamba installation
  Dockerfile.ci
Labels: Run CICD

#10505 Update inference tests scripts and models
  tests/deploy/nemo_deploy.py
  tests/export/nemo_export.py
  tests/export/run.sh
  tests/infer_data_path.py
Labels: Run CICD

#10472 Adds Llama 3.1 405b configurations
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/llama31_405b.py
Labels: Run CICD

#10208 FP8 plugin recipes
  nemo/collections/llm/recipes/precision/mixed_precision.py
  nemo/lightning/pytorch/plugins/mixed_precision.py
Labels: Run CICD

#10539 Wrap all fp8 extra states in LocalNonpersistentObject
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#10432 [nemo-ux] Added nemotron recipes and tests
  nemo/collections/llm/README.md
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/nemotron.py
  nemo/collections/llm/recipes/nemotron3_4b.py
  nemo/collections/llm/recipes/nemotron3_8b.py
  nemo/collections/llm/recipes/nemotron4_15b.py
  nemo/collections/llm/recipes/nemotron4_15b_16k.py
  nemo/collections/llm/recipes/nemotron4_15b_64k.py
  nemo/collections/llm/recipes/nemotron4_22b.py
  nemo/collections/llm/recipes/nemotron4_22b_16k.py
  nemo/collections/llm/recipes/nemotron4_22b_64k.py
  nemo/collections/llm/recipes/nemotron4_340b.py
  nemo/collections/llm/recipes/optim/adam.py
  tests/collections/llm/recipes/test_nemotron.py
  tests/collections/llm/recipes/test_nemotron3_4b.py
  tests/collections/llm/recipes/test_nemotron3_8b.py
  tests/collections/llm/recipes/test_nemotron4_15b.py
  tests/collections/llm/recipes/test_nemotron4_15b_16k.py
  tests/collections/llm/recipes/test_nemotron4_15b_64k.py
  tests/collections/llm/recipes/test_nemotron4_22b.py
  tests/collections/llm/recipes/test_nemotron4_22b_16k.py
  tests/collections/llm/recipes/test_nemotron4_22b_64k.py
  tests/collections/llm/recipes/test_nemotron4_340b.py
Labels: Run CICD

#10435 set mock in GPTDatasetConfig
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#10451 added energon dataloader for neva training
  nemo/collections/multimodal/data/__init__.py
  nemo/collections/multimodal/data/energon/__init__.py
  nemo/collections/multimodal/data/energon/base.py
  nemo/collections/multimodal/data/energon/config.py
  nemo/collections/multimodal/data/energon/conversation.py
  nemo/collections/multimodal/data/energon/sample_encoder.py
  nemo/collections/multimodal/data/energon/task_encoder.py
  tests/collections/multimodal/data/energon/test_data_module.py
  tests/collections/multimodal/data/energon/test_sample_encoder.py
  tests/collections/multimodal/data/energon/test_task_encoder.py
Labels: Multi Modal, Run CICD

#10497 Add unit tests for model configs in nemo.collections.llm
  nemo/collections/llm/gpt/model/llama.py
  tests/collections/llm/gpt/model/test_baichuan.py
  tests/collections/llm/gpt/model/test_base.py
  tests/collections/llm/gpt/model/test_chatglm.py
  tests/collections/llm/gpt/model/test_gemma.py
  tests/collections/llm/gpt/model/test_llama.py
  tests/collections/llm/gpt/model/test_mistral.py
  tests/collections/llm/gpt/model/test_mixtral.py
  tests/collections/llm/gpt/model/test_nemotron.py
  tests/collections/llm/gpt/model/test_qwen2.py
  tests/collections/llm/gpt/model/test_ssm.py
  tests/collections/llm/gpt/model/test_starcoder.py
  tests/collections/llm/gpt/model/test_starcoder2.py
Labels: Run CICD

#10325 nemo-ux: optim & model state restore test
  tests/lightning/test_state_restoration.py
Labels: Run CICD

#10490 Add cp_comm_type argument to the set_context_parallel_group call
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP, CI, Run CICD

#10555 replace unbiased with correction
  nemo/collections/asr/parts/submodules/tdnn_attention.py
Labels: ASR

#10558 Akoumparouli/nemo ux ckpt conv bugfix
  nemo/collections/llm/gpt/model/baichuan.py
  nemo/collections/llm/gpt/model/chatglm.py
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/mistral.py
  nemo/collections/llm/gpt/model/nemotron.py
  nemo/collections/llm/gpt/model/qwen2.py
  nemo/collections/llm/gpt/model/starcoder.py
  nemo/collections/llm/gpt/model/starcoder2.py
  nemo/lightning/_strategy_lib.py
  nemo/lightning/io/state.py
  nemo/lightning/pytorch/utils.py
Labels: Run CICD

#10556 Add AutoResume to NeMo 2 test
  tests/collections/llm/megatron_gpt_pretraining.py
Labels: Run CICD

#10566 ci: Add original author as reviewer to cherry-pick
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#10567 ci: Update cherry-pick workflow
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#10568 ci: Improve title of cherry-picked PR
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#10562 Bump `Dockerfile.ci` (2024-09-21)
  Dockerfile.ci
Labels: Run CICD

#10569 ci: Further improve cherry pick title
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI, r2.0.0

#10565 Bump `Dockerfile.ci` (2024-09-22)
  Dockerfile.ci
Labels: Run CICD

#10570 ci: Send link to release page
  .github/workflows/release.yml
Labels: CI, r2.0.0

#10574 ci: Add label to cherry pick PR
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#10577 Bump `Dockerfile.ci` (2024-09-23)
  Dockerfile.ci
Labels: Run CICD

#10560 Remove running validating after finetuning
  examples/nlp/language_modeling/megatron_t5_seq2seq_finetune.py
Labels: NLP, Run CICD

#10561 Time interval checkpointing fix
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
Labels: bug, Run CICD

#10460 remove exp dir
  .github/workflows/cicd-main.yml
  tests/collections/llm/gpt/model/megatron_ssm_finetuning.py
  tests/collections/llm/gpt/model/megatron_ssm_pretraining.py
Labels: CI, Run CICD, r2.0.0

#10510 Cherry pick 10379 and 10461
  examples/asr/asr_cache_aware_streaming/speech_to_text_cache_aware_streaming_infer.py
  examples/asr/transcribe_speech.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/parts/mixins/transcription.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  nemo/collections/multimodal/speech_cv/models/visual_ctc_models.py
Labels: ASR, Multi Modal, Run CICD

#10588 ci: Send direct alert on failed cherry-pick
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#10541 Add ConfigValidation plugin to nemo.lightning.run
  nemo/lightning/run/plugins.py
  tests/lightning/test_nemo_run.py
Labels: Run CICD

#10544 Fix pps issue on nemo export
  nemo/export/trt_llm/converter/model_converter.py
Labels: Run CICD, r2.0.0

#10552 fix type error in llm collection
  nemo/lightning/io/connector.py
  nemo/lightning/io/mixin.py
Labels: Run CICD

#10595 ci: Safer sequence escaping
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#10586 Akoumparouli/nemo ux cherrypick fix 10423
  .github/workflows/cicd-main.yml
  docs/source/features/parallelisms.rst
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/mistral.py
  nemo/collections/llm/recipes/mixtral_8x3b.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  nemo/collections/llm/recipes/optim/adam.py
  nemo/collections/llm/tools/auto_configurator/core/base_config.py
  nemo/collections/multimodal/models/vision_language_foundation/clip/megatron_clip_models.py
  nemo/collections/nlp/models/language_modeling/megatron/bert/bert_spec.py
  nemo/collections/nlp/models/language_modeling/megatron/falcon/falcon_spec.py
  nemo/collections/nlp/models/language_modeling/megatron/gemma2/gemma2_modules.py
  nemo/collections/nlp/models/language_modeling/megatron/gemma2/gemma2_spec.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
  nemo/collections/nlp/models/language_modeling/megatron/griffin/griffin_block.py
  nemo/collections/nlp/models/language_modeling/megatron/griffin/griffin_layer_spec.py
  nemo/collections/nlp/modules/common/hyena/hyena.py
  nemo/collections/nlp/modules/common/hyena/hyena_spec.py
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/lightning/_strategy_lib.py
  nemo/lightning/fabric/strategies.py
  tests/collections/llm/auto_conf/test_base_configs.py
  tests/collections/llm/test_mnist_model_nemo2.py
  tests/lightning/test_dist_ckpt.py
Labels: NLP, Multi Modal, Run CICD, audio

#10467 ci: Fix issues with version bump
  .github/workflows/release-freeze.yml
Labels: CI

#10597 ci: Add missing test specs
  .github/workflows/cicd-main.yml
Labels: CI

#10434 Cherry-pick 10427 into r2.0.0
  tests/collections/llm/megatron_ssm_finetuning.py
  tests/collections/llm/megatron_ssm_pretraining.py
Labels: Run CICD

#10492 Cherry-pick 10121 into r2.0.0
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#10599 support megatron_amp_O2 and tp
  nemo/collections/multimodal/speech_llm/data/audio_text_dataset.py
  nemo/collections/multimodal/speech_llm/data/lhotse_dataset.py
  nemo/collections/multimodal/speech_llm/models/modular_models.py
  nemo/collections/multimodal/speech_llm/models/modular_t5_models.py
  nemo/collections/multimodal/speech_llm/modules/common/audio_text_generation_utils.py
  nemo/collections/multimodal/speech_llm/modules/perception_modules.py
  nemo/collections/multimodal/speech_llm/parts/utils/data_utils.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_adapter_model.py
Labels: NLP, Multi Modal

#10523 Extending modelopt spec for TEDotProductAttention
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
Labels: NLP, Run CICD, r2.0.0

#10601 minor change in dataloader
  nemo/collections/multimodal/speech_llm/data/lhotse_dataset.py
Labels: Multi Modal

#10554 Fix asr finetune for r2.0
  examples/asr/conf/asr_finetune/speech_to_text_hf_finetune.yaml
  examples/asr/conf/vad/frame_vad_infer_postprocess.yaml
  examples/asr/speech_to_text_finetune.py
  nemo/collections/asr/parts/utils/vad_utils.py
  nemo/core/classes/modelPT.py
Labels: core, ASR, Run CICD

#10600 Update Multi_Task_Adapters.ipynb
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
Labels: ASR

#10547 Change default for always_save_context to True
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
Labels: Run CICD

#10592 Import guard for SimpleMultiModalDataModule
  nemo/collections/multimodal/data/__init__.py
Labels: Multi Modal, Run CICD

#10559 add support for train_time_interval to consider hydra object
  nemo/utils/exp_manager.py
Labels: Run CICD

#10603 Cherry pick from main to r2.0.0 (Removing validate after finetuning finished)
  examples/nlp/language_modeling/megatron_t5_seq2seq_finetune.py
Labels: NLP, Run CICD

#10602 Move update_config_with_dtype_overrides logging to debug
  nemo/lightning/pytorch/plugins/mixed_precision.py
Labels: Run CICD, r2.0.0

#10517 [NeMo-UX] Use custom `BatchProgress` class which does not restore states
  nemo/lightning/pytorch/strategies/fsdp_strategy.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
Labels: Run CICD, r2.0.0

#10516 [NeMo-UX] Rename weights path during resume
  nemo/lightning/resume.py
Labels: Run CICD, r2.0.0

#10624 Fix mb_calculator import in lora tutorial
  tutorials/nlp/lora.ipynb
Labels: NLP, r2.0.0

#10628 Cherry pick `Fix mb_calculator import in lora tutorial (10624)` into `r2.0.0`
  tutorials/nlp/lora.ipynb
Labels: NLP, Run CICD

#10625 Downgrading the 'datasets' package from 3.0.0 to 2.21.0 in some notebooks of tutorials
  tutorials/asr/ASR_CTC_Language_Finetuning.ipynb
  tutorials/asr/Multilang_ASR.ipynb
Labels: ASR

#10618 Cherry pick `Extending modelopt spec for TEDotProductAttention (10523)` into `r2.0.0`
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
Labels: NLP, Run CICD
