Repository NVIDIA-NeMo/NeMo, pull requests merged in 2024-04, with the labels that each got.

#8778 [Nemo CICD] Auth adjustment
  .github/workflows/cicd-main.yml
Labels: CI

#8730 Model quantization manual
  docs/source/nlp/quantization.rst
  nemo/export/quantize/quantizer.py
Labels: NLP

#8716 Docs: PEFT and Packed Seq
  docs/source/ckpt_converters/user_guide.rst
  docs/source/conf.py
  docs/source/nlp/nemo_megatron/intro.rst
  docs/source/nlp/nemo_megatron/packed_sequence.rst
  docs/source/nlp/nemo_megatron/peft/landing_page.rst
  docs/source/nlp/nemo_megatron/peft/supported_methods.rst
Labels: NLP

#8780 PEFT keeps frozen model in train mode instead of eval mode
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: bug, NLP

#8731 Pass groupedgemm flag to spec maker; re-enable --transformer-engine spec.
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, CI

#8556 Cherry pick the notebook fixes from 1.23.0 to main
  tutorials/multimodal/DreamBooth Tutorial.ipynb
  tutorials/multimodal/Multimodal Data Preparation.ipynb
  tutorials/multimodal/Stable Diffusion Tutorial.ipynb
Labels: stale, Multi Modal

#8794 [Nemo CICD]
  .github/workflows/cicd-main.yml
Labels: CI

#8783 Add legacy_dataset flag to use legacy NeMo dataset path instead of MCore
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8805 Remove OpenAI Triton from requirements
  nemo/collections/nlp/modules/common/megatron/attention.py
  requirements/requirements.txt
  tests/collections/nlp/test_flash_attention.py
Labels: NLP

#8727 Embedding Wgrad defering
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8813 [Nemo CICD] CI adjustments: Change Login mechanism
  .github/workflows/cicd-main.yml
Labels: CI

#8734 Add SDXL support to NeMo
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_xl_base.yaml
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_xl_base_train.yaml
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_xl_base_train_cache_both.yaml
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_xl_base_train_no_conditions.yaml
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_xl_fid_images.yaml
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_xl_infer.yaml
  examples/multimodal/text_to_image/stable_diffusion/generate_xl_fid_images.py
  examples/multimodal/text_to_image/stable_diffusion/sd_xl_infer.py
  examples/multimodal/text_to_image/stable_diffusion/sd_xl_train.py
  nemo/collections/multimodal/data/stable_diffusion/augmentation/augmentations.py
  nemo/collections/multimodal/data/stable_diffusion/stable_diffusion_dataset.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/diffusion_engine.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/autoencoder.py
  nemo/collections/multimodal/modules/imagen/diffusionmodules/blocks.py
  nemo/collections/multimodal/modules/stable_diffusion/attention.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/denoiser.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/denoiser_scaling.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/denoiser_weighting.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/discretizer.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/guiders.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/loss.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/openaimodel.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/sampling.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/sampling_utils.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/sigma_sampling.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/util.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/wrappers.py
  nemo/collections/multimodal/modules/stable_diffusion/encoders/modules.py
  nemo/collections/multimodal/modules/stable_diffusion/encoders/x_transformer.py
  nemo/collections/multimodal/modules/stable_diffusion/schedulers/ddim_scheduler.py
  nemo/collections/multimodal/parts/stable_diffusion/sdxl_helpers.py
  nemo/collections/multimodal/parts/stable_diffusion/sdxl_pipeline.py
  nemo/collections/multimodal/parts/stable_diffusion/utils.py
  nemo/collections/multimodal/parts/utils.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/modules/common/megatron/clip_grads.py
  nemo/collections/nlp/parts/nlp_overrides.py
  scripts/multimodal_dataset_conversion/parquet_conversion.py
Labels: NLP, Multi Modal

#8808 Pipeline Parallel for Gemma
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8809 Revert lora target module default
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_finetuning_config.yaml
Labels: NLP

#8807 Revert "add fsdp fix for tp > 1"
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#8797 Fix MegatronGPTModel validation_step
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8531 Cuda graphs + loop labels RNN-T and TDT greedy decoding
  nemo/collections/asr/modules/rnnt.py
  nemo/collections/asr/modules/rnnt_abstract.py
  nemo/collections/asr/parts/submodules/cuda_graph_rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_loop_labels_computer.py
  nemo/collections/asr/parts/submodules/tdt_loop_labels_computer.py
  nemo/collections/asr/parts/utils/rnnt_utils.py
  nemo/core/utils/cuda_python_utils.py
  nemo/utils/timers.py
  tests/collections/asr/decoding/test_cuda_graph_rnnt_greedy_decoding.py
Labels: core, ASR

#8811 Enable activation recomputation at SFT
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#8790 Add NCCL UB support for AG
  nemo/core/optim/distributed_adam.py
Labels: core

#8792 Distributed optimizer reduces GPT embedding grads in FP32
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP

#8829 bugfix in label mask
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
Labels: Multi Modal

#8843 [Nemo CICD] Storage-related fix
  .github/workflows/cicd-main.yml
Labels: CI

#8836 Alit/draft
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/samplers/base_sampler.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/samplers/ddim.py
  nemo/collections/nlp/parts/megatron_trainer_builder.py
Labels: NLP, Multi Modal

#8839 Set TP overlap flag in ModelParallelConfig, fix TP overlap for LoRA
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
Labels: NLP

#8613 [SD] CUDA Graphs update
  Jenkinsfile
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_lora_train.yaml
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_train.yaml
  examples/multimodal/text_to_image/stable_diffusion/sd_train.py
  nemo/collections/multimodal/data/stable_diffusion/stable_diffusion_dataset.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/ddpm.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/openaimodel.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/util.py
  nemo/collections/nlp/modules/common/megatron/clip_grads.py
  nemo/collections/nlp/modules/common/megatron/module.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/optim/megatron_fused_adam.py
  nemo/utils/callbacks/cuda_graph.py
  nemo/utils/model_utils.py
  tests/core/test_optimizers_schedulers.py
Labels: bug, core, NLP, CI, Multi Modal

#8844 remove sbert since we have bert_embedding_model
  nemo/collections/nlp/models/information_retrieval/megatron_sbert_model.py
Labels: NLP

#8841 Akoumparouli/fix get params for weight decay optimization
  nemo/collections/nlp/modules/common/megatron/utils.py
Labels: NLP

#8823 Akoumparouli/peft fix
  examples/nlp/language_modeling/tuning/megatron_gpt_finetuning.py
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP

#8857 Check if model has position embed before accessing param
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP

#8840 Enable DGRAD RS overlap
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
Labels: NLP

#8831 Use Label-Looping algorithm for RNN-T decoding by default
  nemo/collections/asr/modules/rnnt.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_loop_labels_computer.py
  nemo/collections/asr/parts/submodules/tdt_loop_labels_computer.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_char.py
  tests/collections/asr/test_asr_rnnt_encdec_model.py
Labels: ASR

#8874 [Nemo CICD] Cancel old runs for PR commit update
  .github/workflows/cicd-main.yml
Labels: CI

#8832 Fix packed seq doc math rendering issue
  docs/source/nlp/nemo_megatron/packed_sequence.rst
Labels: NLP

#8862 Fix transcription utils function for duration check
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: ASR

#8838 Add clip conv layer
  examples/multimodal/vision_language_foundation/clip/convert_external_clip_to_nemo.py
  nemo/collections/vision/modules/vit/vit_backbone.py
Labels: Multi Modal

#8878 [Nemo CICD] Update dependencies for container build
  .github/workflows/cicd-main.yml
Labels: CI

#8876 Akoumparouli/fix sd train
  Jenkinsfile
  examples/multimodal/text_to_image/stable_diffusion/sd_train.py
Labels: CI, Multi Modal

#8584 Add Semi Sorted Batching.
  docs/source/asr/datasets.rst
  nemo/collections/asr/data/audio_to_text.py
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/parts/utils/asr_batching.py
  nemo/core/optim/lr_scheduler.py
  tests/collections/asr/test_asr_samplers.py
Labels: core, stale, ASR

#8860 Added audio codec checkpoint to docs
  docs/source/tts/checkpoints.rst
  docs/source/tts/data/ngc_models_codec.csv
Labels: documentation, TTS

#8889 disable bprop reduce for cpl when SP is enabled
  Jenkinsfile
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
Labels: NLP, CI

#8894 [Nemo CICD] Add further runners for cpu-intensive-only (non-gpu using) jobs
  .github/workflows/cicd-main.yml
Labels: CI

#8879 Add TE guards for DGRAD RS overlap
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
Labels: NLP

#8890 Skip validation model gradient zeroing
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8650 Adding distributed checkpointing for bert
  examples/nlp/language_modeling/megatron_lm_ckpt_to_nemo.py
  examples/nlp/language_modeling/megatron_retro_eval.py
  nemo/collections/multimodal/data/common/webdataset.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/nlp/models/information_retrieval/megatron_bert_embedding_model.py
  nemo/collections/nlp/models/language_modeling/megatron/bert/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retrieval_model.py
  nemo/collections/nlp/models/nlp_model.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/export/quantize/quantizer.py
  nemo/utils/distributed.py
  scripts/nlp_language_modeling/convert_prompt_learning_ckpt_to_nemo.py
  scripts/nlp_language_modeling/service_launch_scripts/start_retro_model_service.py
Labels: NLP, Multi Modal

#8875 remove fp8 checkpoints for Attention
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8882 lora a2a after linear out when sp is enabled and parallel input
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/parts/peft_config.py
Labels: NLP

#8880 Fix Distributed Fused Adam Issues
  nemo/core/optim/distributed_adam.py
  nemo/utils/callbacks/cuda_graph.py
Labels: core

#8909 Support alternative mapping TP->PP->DP
  Jenkinsfile
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/ddpm.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/utils/app_state.py
  tests/collections/nlp/test_initialize.py
Labels: NLP, CI, Multi Modal

#8793 Update package info
  Dockerfile
  nemo/package_info.py
Labels: CI

#8911 Rachitg/dpa
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8917 [Nemo CICD] Update mcore 4.13.24
  .github/workflows/cicd-main.yml
Labels: CI

#8908 Remove precision args in trainer due to PTL update
  examples/multimodal/multimodal_llm/neva/convert_hf_llava_to_neva.py
  examples/nlp/language_modeling/megatron_change_num_partitions.py
  scripts/checkpoint_converters/convert_baichuan2_hf_to_nemo.py
  scripts/checkpoint_converters/convert_chatglm_hf_to_nemo.py
  scripts/checkpoint_converters/convert_mistral_7b_hf_to_nemo.py
  scripts/checkpoint_converters/convert_mixtral_hf_to_nemo.py
  scripts/checkpoint_converters/convert_starcoder2_hf_to_nemo.py
Labels: NLP, Multi Modal

#8877 Fix module.training for Neva in FusedAttn backward which causes nan
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
Labels: Multi Modal

#8918 Update transpose call to match TE API change
  nemo/core/optim/distributed_adam.py
Labels: core

#8929 Fix memory leak at loss func
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8933 Rachitg/dpa
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8861 Huvu/mcore retro
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_bert_config.yaml
  examples/nlp/language_modeling/conf/megatron_retro_config.yaml
  examples/nlp/language_modeling/conf/megatron_retro_config_legacy.yaml
  examples/nlp/language_modeling/megatron_retro_pretraining.py
  examples/nlp/language_modeling/megatron_retro_pretraining_legacy.py
  nemo/collections/nlp/data/language_modeling/megatron/retro_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/retro_dataset_legacy.py
  nemo/collections/nlp/models/language_modeling/__init__.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retrieval_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retro_model.py
  nemo/collections/nlp/modules/common/tokenizer_utils.py
  nemo/utils/callbacks/nemo_model_checkpoint.py
  tests/collections/nlp/test_indexed_retrieval_dataset.py
Labels: NLP, CI

#8477 Lhotse AudioToAudio dataset (supports ref recording and embedding)
  examples/audio_tasks/audio_to_audio_eval.py
  examples/audio_tasks/speech_enhancement.py
  nemo/collections/asr/data/audio_to_audio_lhotse.py
  nemo/collections/asr/models/enhancement_models.py
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/data/lhotse/dataloader.py
  scripts/audio_to_audio/convert_nemo_to_lhotse.py
  tests/collections/asr/test_asr_datasets.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: stale, ASR, common

#8942 Adding RETRO tests to Action Tests (cicd-main.yml)
  .github/workflows/cicd-main.yml
Labels: CI

#8944 a2a fix removed tp world size and group from init
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
Labels: NLP

#8946 Add config option for FP32 embedding grads
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
Labels: NLP

#8947 fsdp tp > 1 bug fix
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#8751 Changes to enable CUDA graph for LLM
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/core/optim/distributed_adam.py
Labels: core, NLP

#8883 Akoumparouli/fix sd train 2
  Jenkinsfile
  examples/multimodal/text_to_image/stable_diffusion/sd_train.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/ddpm.py
Labels: CI, Multi Modal

#8954 Update te install for jenkins
  Jenkinsfile
Labels: CI

#8959 [Nemo CICD] Add last job depending on others for blocking check
  .github/workflows/cicd-main.yml
Labels: CI

#8924 Minor quantization pipeline updates
  Jenkinsfile
  nemo/export/quantize/quantizer.py
  nemo/utils/model_utils.py
Labels: CI

#8960 Fix External CLIP Converter
  examples/multimodal/vision_language_foundation/clip/convert_external_clip_to_nemo.py
Labels: Multi Modal

#8868 Fix memory leak at loss func
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8926 Mingyuanm/sdxl export
  examples/multimodal/text_to_image/convert_hf_ckpt_to_nemo.py
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_xl_export.yaml
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_xl_quantize.yaml
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_xl_trt_inference.yaml
  examples/multimodal/text_to_image/stable_diffusion/sd_xl_export.py
  examples/multimodal/text_to_image/stable_diffusion/sd_xl_quantize.py
  examples/multimodal/text_to_image/stable_diffusion/sd_xl_trt_inference.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/openaimodel.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/util.py
  nemo/collections/multimodal/modules/stable_diffusion/quantization_utils/__init__.py
  nemo/collections/multimodal/modules/stable_diffusion/quantization_utils/calib_prompts.txt
  nemo/collections/multimodal/modules/stable_diffusion/quantization_utils/plugin_calib.py
  nemo/collections/multimodal/modules/stable_diffusion/quantization_utils/trt_engine.py
  nemo/collections/multimodal/modules/stable_diffusion/quantization_utils/utils.py
  nemo/collections/multimodal/parts/stable_diffusion/sdxl_pipeline.py
Labels: Multi Modal

#8978 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI

#8965 change the condition for get qkv tensor from linear_qkv output in mcoremixin
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
Labels: NLP

#8828 Enable using hybrid asr models in CTC Segmentation tool
  tools/ctc_segmentation/scripts/prepare_data.py
  tools/ctc_segmentation/scripts/run_ctc_segmentation.py
Labels: stale

#8991 Add safety checks for 'data' key in MegatronGPTModel cfg
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8982 TDT confidence fix
  nemo/collections/asr/parts/submodules/ctc_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/tdt_loop_labels_computer.py
  nemo/collections/asr/parts/utils/asr_confidence_benchmarking_utils.py
  nemo/collections/asr/parts/utils/asr_confidence_utils.py
  nemo/collections/asr/parts/utils/rnnt_utils.py
  scripts/speech_recognition/confidence/benchmark_asr_confidence.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_char.py
  tests/collections/asr/test_asr_rnnt_encdec_model.py
  tutorials/asr/ASR_Confidence_Estimation.ipynb
Labels: ASR

#8956 Fix union type annotations for autodoc+mock-import rendering
  docs/source/asr/api.rst
  docs/source/asr/datasets.rst
  docs/source/asr/models.rst
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/data/lhotse/dataloader.py
  nemo/collections/common/data/lhotse/text_adapters.py
Labels: ASR, common

#8905 Skip top_p computations when set to 1.0
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#8962 Gemma bug
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8999 add geglu to mlp swap
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
Labels: NLP

#8963 Added fusion for squared relu
  nemo/collections/nlp/modules/common/megatron/utils.py
Labels: NLP

#8925 New mcore transformer block spec
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#9036 [Nemo CICD] further specialize runners for more parallelism
  .github/workflows/cicd-main.yml
Labels: CI

#9029 Update mm dataprep notebook based on feedback
  tutorials/multimodal/Multimodal Data Preparation.ipynb
Labels: Multi Modal

#8896 NeMo dev doc restructure
  README.rst
  docs/source/ckpt_converters/convert_mlm.rst
  docs/source/ckpt_converters/intro.rst
  docs/source/collections.rst
  docs/source/core/core_index.rst
  docs/source/features/memory_optimizations.rst
  docs/source/features/mixed_precision.rst
  docs/source/features/parallelisms.rst
  docs/source/features/throughput_optimizations.rst
  docs/source/index.rst
  docs/source/multimodal/mllm/neva.rst
  docs/source/multimodal/text2img/sd.rst
  docs/source/nlp/nemo_megatron/flash_attention.rst
  docs/source/nlp/nemo_megatron/intro.rst
  docs/source/nlp/nemo_megatron/mlm_migration.rst
  docs/source/nlp/nemo_megatron/positional_embeddings.rst
  docs/source/starthere/best-practices.rst
  docs/source/starthere/intro.rst
  docs/source/starthere/tutorials.rst
  docs/source/tools/intro.rst
  tutorials/asr/ASR_Context_Biasing.ipynb
  tutorials/asr/ASR_with_NeMo.ipynb
  tutorials/asr/README.md
  tutorials/multimodal/NeVA Tutorial.ipynb
  tutorials/multimodal/Stable Diffusion Tutorial.ipynb
  tutorials/nlp/Data_Preprocessing_and_Cleaning_for_NMT.ipynb
Labels: ASR, NLP, Multi Modal

#9026 Developer Documents for mcore RETRO
  docs/source/nlp/nemo_megatron/retro/retro_model.rst
  docs/source/nlp/nemo_megatron/retro_legacy/images/arch.png
  docs/source/nlp/nemo_megatron/retro_legacy/retro_model_legacy.rst
Labels: NLP

#9044 [Nemo CICD] Run when labeled:Run CICD
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9001 Improved random seed configuration for Lhotse dataloaders with docs
  docs/source/asr/datasets.rst
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/common/data/lhotse/dataloader.py
  tests/collections/common/test_lhotse_dataloading.py
  tests/collections/common/test_lhotse_multirank_rng.py
Labels: ASR, common

#9022 Adding unit test for mcore RETRO model
  tests/collections/nlp/test_retro_model.py
Labels: NLP, Run CICD

#9046 [Nemo CICD] Add tag/label for 1-gpu runner
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9048 [Nemo CICD] checkout v4
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9037 Enhance Distributed Adam
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/core/optim/distributed_adam.py
  nemo/utils/callbacks/cuda_graph.py
Labels: core, NLP

#8979 docs and simplification of cmd args
  .github/workflows/cicd-main.yml
  docs/source/nlp/information_retrieval.rst
  examples/nlp/information_retrieval/conf/megatron_gpt_embedder_generate_config.yaml
  examples/nlp/information_retrieval/conf/megatron_gpt_embedder_tuning_config.yaml
  nemo/collections/nlp/models/information_retrieval/megatron_gpt_embedding_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP, CI

#8825 remove in-place addition for dreambooth train with text encoder
  nemo/collections/multimodal/models/text_to_image/dreambooth/dreambooth.py
  nemo/collections/multimodal/modules/stable_diffusion/encoders/modules.py
Labels: Multi Modal, Run CICD

#9057 [NeMo-UX] Add checkpoint-io to MegatronStrategy
  nemo/io/__init__.py
  nemo/io/api.py
  nemo/io/capture.py
  nemo/io/mixin.py
  nemo/io/pl.py
  nemo/lightning/__init__.py
  nemo/lightning/pytorch/strategies.py
  nemo/lightning/pytorch/trainer.py
  nemo/llm/gpt/model/base.py
  requirements/requirements.txt
  requirements/requirements_lightning.txt
  tests/io/__init__.py
  tests/io/test_api.py
  tests/io/test_mixin.py
Labels: Run CICD

#9042 Mingyuanm/sdxl quantization notebook
  docs/source/multimodal/text2img/intro.rst
  docs/source/multimodal/text2img/sdxl_quantization.rst
  docs/source/starthere/tutorials.rst
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_xl_quantize.yaml
  examples/multimodal/text_to_image/stable_diffusion/sd_xl_quantize.py
  examples/multimodal/text_to_image/stable_diffusion/sd_xl_trt_inference.py
  nemo/utils/trt_utils.py
  tutorials/multimodal/SDXL Quantization.ipynb
Labels: Multi Modal, Run CICD

#8957 Enable Sequence Packing and Pipeline Parallel in NeVA
  examples/multimodal/multimodal_llm/neva/conf/neva_config.yaml
  examples/multimodal/multimodal_llm/neva/eval/vqa_science.py
  examples/multimodal/multimodal_llm/neva/neva_evaluation.py
  examples/multimodal/multimodal_llm/neva/sequence_packing/preprocess_dataset.py
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/parts/utils.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  nemo/collections/vision/data/megatron/data_samplers.py
Labels: NLP, Multi Modal, Run CICD

#9062 [Nemo CICD] Trigger on comment issued
  .github/workflows/cicd-main.yml
Labels: CI
