Repository NVIDIA-NeMo/NeMo, pull requests merged in 2024-02, with the labels that each got.

#8305 Support lhotse 1.20.0 for Canary
  nemo/collections/common/data/lhotse/dataloader.py
  nemo/collections/common/data/lhotse/nemo_adapters.py
  requirements/requirements_asr.txt
Labels: common

#8308 Fix documentation build
  docs/source/conf.py
  docs/update_docs_docker.sh
  nemo/core/neural_types/elements.py
  nemo/core/neural_types/neural_type.py
Labels: core

#8296 Cache Aware Streaming tutorial notebook
  README.rst
  docs/source/asr/intro.rst
  docs/source/asr/models.rst
  docs/source/starthere/tutorials.rst
  nemo/collections/asr/modules/conformer_encoder.py
  tutorials/asr/Online_ASR_Microphone_Demo_Buffered_Streaming.ipynb
  tutorials/asr/Online_ASR_Microphone_Demo_Cache_Aware_Streaming.ipynb
Labels: ASR

#8304 fix path location and branch
  scripts/speaker_tasks/create_alignment_manifest.py
  tutorials/asr/ASR_with_Transducers.ipynb
Labels: ASR

#8279 add deallocate pipeline output optimization
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP

#8299 Fix memory leak caused by context parallelism hanging references by omegaconf
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8302 distributed fused adam + rampup bs support
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8262 Update PEFT Doc
  README.rst
  docs/source/nlp/nemo_megatron/peft/landing_page.rst
  docs/source/nlp/nemo_megatron/peft/quick_start.rst
  docs/source/nlp/nemo_megatron/prompt_learning.rst
  tutorials/nlp/Multitask_Prompt_and_PTuning.ipynb
Labels: NLP

#8286 "Loop labels" greedy decoding: faster implementation
  nemo/collections/asr/modules/rnnt.py
  nemo/collections/asr/modules/rnnt_abstract.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_loop_labels_computer.py
  nemo/collections/asr/parts/utils/asr_confidence_utils.py
  nemo/collections/asr/parts/utils/rnnt_utils.py
  tests/collections/asr/decoding/test_batched_hyps_and_alignments.py
Labels: ASR

#8335 Fixing bug in tutorials.
  tutorials/asr/ASR_with_Subword_Tokenization.ipynb
Labels: ASR

#8323 Check for distributed optimizer in PEFT
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP

#8315 Multimodal r1.23.0 bug fix
  Jenkinsfile
  examples/multimodal/multimodal_llm/neva/neva_evaluation.py
  examples/multimodal/vision_language_foundation/clip/conf/megatron_clip_VIT-L-14.yaml
  examples/multimodal/vision_language_foundation/nsfw/conf/megatron_nsfw_config.yaml
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/models/text_to_image/instruct_pix2pix/ldm/ddpm_edit.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/ddpm.py
Labels: CI

#8334 Keep max_seqlen and cu_seqlens_argmin for later micro-batches when PP>1
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8167 ASR Transcription Refactor
  docs/source/asr/api.rst
  docs/source/asr/results.rst
  examples/asr/transcribe_speech.py
  nemo/collections/asr/data/audio_to_text_lhotse_prompted.py
  nemo/collections/asr/models/__init__.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/asr_model.py
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_asr_tts_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/models/slu_models.py
  nemo/collections/asr/models/transformer_bpe_models.py
  nemo/collections/asr/parts/mixins/__init__.py
  nemo/collections/asr/parts/mixins/transcription.py
  nemo/collections/asr/parts/utils/__init__.py
  nemo/collections/asr/parts/utils/asr_confidence_benchmarking_utils.py
  nemo/collections/asr/parts/utils/decoder_timestamps_utils.py
  tests/collections/asr/decoding/rnnt_alignments_check.py
  tests/collections/asr/mixins/test_transcription.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
  tools/ctc_segmentation/scripts/run_ctc_segmentation.py
Labels: ASR

#8351 remove _target_ at model level in aed model config [ASR]
  examples/asr/conf/speech_multitask/fast-conformer_aed.yaml
Labels: ASR

#8357 Add change_vocabulary and save_tokenizers() support to Multitask ASR models
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/parts/mixins/mixins.py
Labels: ASR

#8371 Change default
  nemo/collections/asr/parts/submodules/multitask_decoding.py
Labels: ASR

#7952 Unfinished checkpoints handling
  nemo/utils/callbacks/nemo_model_checkpoint.py
  nemo/utils/exp_manager.py
  tests/core/test_exp_manager.py
Labels: core

#8221 Improve communication overlapping in FP8 distributed optimizer
  Dockerfile
  README.rst
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/core/optim/distributed_adam.py
  nemo/utils/te_utils.py
Labels: feature, core, NLP, CI

#8376 AudioCodecModel documentation
  docs/source/tts/api.rst
  docs/source/tts/checkpoints.rst
  docs/source/tts/images/audiocodec_model.png
  docs/source/tts/models.rst
  docs/source/tts/tts_all.bib
  nemo/collections/tts/models/audio_codec.py
Labels: TTS

#8355 Add longform infer for MultitaskAED models
  examples/asr/speech_multitask/speech_to_text_aed_chunked_infer.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/parts/submodules/multitask_beam_decoding.py
  nemo/collections/asr/parts/submodules/multitask_decoding.py
  nemo/collections/asr/parts/utils/streaming_utils.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: ASR

#8368 adding jenkins test for speech_to_text_aed model
  Jenkinsfile
  examples/asr/conf/speech_multitask/fast-conformer_aed.yaml
Labels: ASR, CI

#8354 Enable megatron core loggers for GPT pretraining
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/conf/megatron_model_base_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8283 mcore ds fix
  Dockerfile
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/common/tokenizers/huggingface/auto_tokenizer.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/core/config/hydra_runner.py
Labels: core, NLP, CI, common

#8356 Add Finetuning tutorial with HF Datasets
  tutorials/asr/Transducers_with_HF_Datasets.ipynb
Labels: ASR

#8378 release updates
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, CI

#8390 MCore dataset compatibility for tokenizers
  nemo/collections/common/tokenizers/huggingface/auto_tokenizer.py
  nemo/collections/common/tokenizers/tokenizer_spec.py
Labels: common

#8362 Reintroduce dictionaries for data prefixes in GPT
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8298 Mcore customization doc
  docs/source/nlp/nemo_megatron/customization_forward.png
  docs/source/nlp/nemo_megatron/customization_module.png
  docs/source/nlp/nemo_megatron/intro.rst
  docs/source/nlp/nemo_megatron/mcore_customization.rst
  docs/source/nlp/nemo_megatron/mr1.png
  docs/source/nlp/nemo_megatron/mr2.png
Labels: NLP

#8404 wer fix
  tutorials/asr/ASR_with_Subword_Tokenization.ipynb
Labels: ASR

#8402 updated link to pubmed
  tutorials/nlp/SpellMapper_English_ASR_Customization.ipynb
Labels: NLP

#8223 Context-biasing by CTC-based Word Spotter (CTC-WS)
  nemo/collections/asr/parts/context_biasing/__init__.py
  nemo/collections/asr/parts/context_biasing/context_biasing_utils.py
  nemo/collections/asr/parts/context_biasing/context_graph_ctc.py
  nemo/collections/asr/parts/context_biasing/ctc_based_word_spotter.py
  scripts/asr_context_biasing/eval_greedy_decoding_with_context_biasing.py
  tests/collections/asr/test_asr_context_biasing.py
Labels: feature, ASR

#8382 Fix Canary chunked infer on short audios
  nemo/collections/asr/parts/utils/streaming_utils.py
Labels: ASR

#8338 Add Canary support for decoding with return_hypotheses=True
  examples/asr/transcribe_speech.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/modules/transformer/transformer_generators.py
  nemo/collections/asr/parts/submodules/multitask_beam_decoding.py
  nemo/collections/asr/parts/submodules/multitask_decoding.py
Labels: ASR

#8238 [TTS] Add modules for mel spectrogram codec
  examples/tts/conf/audio_codec/mel_codec_44100.yaml
  nemo/collections/tts/modules/audio_codec_modules.py
  tests/collections/tts/modules/test_audio_codec_modules.py
Labels: TTS

#8427 add ensemble decoding fix
  examples/asr/transcribe_speech.py
Labels: ASR

#8290 Add TP comm overlap knobs to AutocastTransformerLayer
  nemo/collections/nlp/modules/common/megatron/transformer.py
Labels: NLP

#8421 mcore customization doc minor fix
  docs/source/nlp/nemo_megatron/mcore_customization.rst
Labels: NLP

#8215 Add `loop_labels` algorithm for TDT greedy decoding
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/tdt_loop_labels_computer.py
Labels: ASR

#8336 Fixing mcore bert for TP, PP and SP
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
Labels: NLP

#8432 Canary: inference tokenization improvements; preserving custom keys when creating tarred manifests
  examples/asr/speech_to_text_eval.py
  nemo/collections/asr/data/audio_to_text_lhotse_prompted.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/common/data/lhotse/nemo_adapters.py
  scripts/speech_recognition/convert_to_tarred_audio_dataset.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: ASR, common

#8445 add sbert to IR
  docs/source/nlp/information_retrieval.rst
  examples/nlp/information_retrieval/conf/megatron_sbert_config.yaml
  examples/nlp/information_retrieval/megatron_sbert_finetune.py
  nemo/collections/common/tokenizers/huggingface/auto_tokenizer.py
  nemo/collections/nlp/data/information_retrieval/bert_embedding_dataset.py
  nemo/collections/nlp/models/information_retrieval/megatron_sbert_model.py
Labels: NLP, common

#8440 Update readme
  README.rst
  docs/source/index.rst
  docs/source/multimodal/api.rst
  docs/source/nlp/api.rst
  docs/source/nlp/information_retrieval.rst
  docs/source/nlp/nemo_megatron/intro.rst
  docs/source/starthere/intro.rst
  nemo/collections/asr/README.md
  nemo/collections/multimodal/README.md
  nemo/collections/nlp/README.md
  nemo/collections/tts/README.md
  nemo/collections/vision/README.md
Labels: TTS, ASR, NLP

#8358 Add Neva template
  nemo/collections/multimodal/data/neva/conversation.py
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#8481 Add settings to suppress bf16 compile errors in CI on V100
  examples/nlp/language_modeling/megatron_gpt_pretraining.py
Labels: NLP

#8449 fix canary chunk infer bug
  nemo/collections/asr/parts/preprocessing/segment.py
  nemo/collections/asr/parts/utils/streaming_utils.py
  nemo/collections/common/data/lhotse/nemo_adapters.py
  tests/collections/asr/utils/test_audio_utils.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: ASR, common

#8282 Add Baichuan2 support
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_baichuan2_config.yaml
  examples/nlp/language_modeling/conf/megatron_baichuan2_inference.yaml
  scripts/nlp_language_modeling/convert_hf_baichuan2_to_nemo.py
  scripts/nlp_language_modeling/convert_nemo_baichuan2_to_hf.py
Labels: NLP, CI

#8255 MoE parameter passing
  Jenkinsfile
  examples/nlp/language_modeling/megatron_gpt_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/utils/app_state.py
Labels: NLP, CI

#8029 Jiaqiz/option to disable adapters & merge all lora layers
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/mlp.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  scripts/nlp_language_modeling/merge_lora_weights/merge.py
Labels: NLP

#8328 Add mcore full TE transformer layer spec
  .github/workflows/import-test.yml
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, CI

#8426 Handle float limit_val_batches
  Jenkinsfile
  nemo/collections/nlp/data/language_modeling/megatron/data_samplers.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, CI

#8369 Sequence Parallel for LoRA
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/parts/peft_config.py
Labels: NLP, CI

#8395 Added memory logger
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8363 Canary refactor for Riva
  examples/asr/conf/speech_multitask/fast-conformer_aed.yaml
  examples/asr/speech_multitask/speech_to_text_aed.py
  nemo/collections/asr/data/audio_to_text_lhotse_prompted.py
  nemo/collections/asr/metrics/__init__.py
  nemo/collections/asr/metrics/bleu.py
  nemo/collections/asr/metrics/wer.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/asr_model.py
  nemo/collections/common/data/lhotse/dataloader.py
  nemo/collections/common/tokenizers/canary_tokenizer.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
  tests/collections/asr/test_custom_tokenizer.py
Labels: ASR, common

#8248 add alpha scaling to lora
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_finetuning_config.yaml
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/parts/peft_config.py
Labels: NLP

#8489 Add fp8 support for SD/Update notebook paths
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_train.yaml
  examples/multimodal/text_to_image/stable_diffusion/sd_infer.py
  nemo/collections/multimodal/modules/stable_diffusion/attention.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/openaimodel.py
  nemo/collections/nlp/parts/nlp_overrides.py
  tutorials/multimodal/DreamBooth Tutorial.ipynb
  tutorials/multimodal/Stable Diffusion Tutorial.ipynb
Labels: NLP

#8501 Update PEFT Doc
  README.rst
  docs/source/nlp/nemo_megatron/peft/landing_page.rst
  docs/source/nlp/nemo_megatron/peft/quick_start.rst
  docs/source/nlp/nemo_megatron/prompt_learning.rst
  tutorials/nlp/Multitask_Prompt_and_PTuning.ipynb
Labels: NLP

#8500 Fix canary transcribe
  examples/asr/transcribe_speech.py
Labels: ASR

#8191 Dgalvez/cuda graphs greedy rnnt inference squash
  nemo/collections/asr/modules/rnnt_abstract.py
  nemo/collections/asr/parts/submodules/cuda_graph_rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/core/utils/cuda_python_utils.py
  tests/collections/asr/decoding/test_cuda_graph_rnnt_greedy_decoding.py
Labels: core, ASR

#8499 Fix progress bar to update the total steps with trainer.max_steps
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#8509 Move AST and TTS import tests to github actions from Jenkinsfile
  .github/workflows/import-test.yml
  Jenkinsfile
Labels: CI

#8522 Add dep notice for notebooks
  tutorials/asr/Offline_ASR.ipynb
  tutorials/nlp/MegatronBert_export.ipynb
  tutorials/nlp/Question_Answering.ipynb
Labels: ASR, NLP

#8520 Revert FP8 integration
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_train.yaml
  nemo/collections/multimodal/modules/stable_diffusion/attention.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/openaimodel.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#8529 Option to control matmul precision in transcribe speech
  examples/asr/speech_multitask/speech_to_text_aed_chunked_infer.py
  examples/asr/transcribe_speech.py
Labels: ASR

#8468 Add Gemma Support and Conversion Scripts
  examples/nlp/language_modeling/conf/megatron_gemma_config.yaml
  examples/nlp/language_modeling/megatron_gpt_eval.py
  nemo/collections/common/parts/utils.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/parts/utils.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  scripts/nlp_language_modeling/convert_gemma_hf_to_nemo.py
  scripts/nlp_language_modeling/convert_gemma_jax_to_nemo.py
  scripts/nlp_language_modeling/convert_gemma_pyt_to_nemo.py
  scripts/nlp_language_modeling/merge_lora_weights/merge.py
Labels: NLP, common

#8068 Handle in HF AutoTokenizer with pad_token=None
  nemo/collections/common/tokenizers/huggingface/auto_tokenizer.py
  scripts/nlp_language_modeling/preprocess_data_for_megatron.py
Labels: common

#8525 Formatting changes for new docs system
  docs/source/asr/api.rst
  docs/source/asr/asr_all.bib
  docs/source/asr/asr_language_modeling.rst
  docs/source/asr/configs.rst
  docs/source/asr/datasets.rst
  docs/source/asr/images/conf-ensembles-overview.png
  docs/source/asr/intro.rst
  docs/source/asr/models.rst
  docs/source/asr/results.rst
  docs/source/asr/scores.rst
Labels: ASR

#8535 rST Fixes for Developer Docs
  docs/source/core/core.rst
  docs/source/core/export.rst
  docs/source/multimodal/mllm/checkpoint.rst
  docs/source/multimodal/mllm/configs.rst
  docs/source/multimodal/mllm/intro.rst
  docs/source/multimodal/mllm/neva.rst
  docs/source/multimodal/text2img/checkpoint.rst
  docs/source/multimodal/text2img/configs.rst
  docs/source/multimodal/text2img/controlnet.rst
  docs/source/multimodal/text2img/datasets.rst
  docs/source/multimodal/text2img/dreambooth.rst
  docs/source/multimodal/text2img/imagen.rst
  docs/source/multimodal/text2img/insp2p.rst
  docs/source/multimodal/text2img/sd.rst
  docs/source/multimodal/vlm/checkpoint.rst
  docs/source/multimodal/vlm/clip.rst
  docs/source/nlp/nemo_megatron/mcore_customization.rst
  docs/source/nlp/nemo_megatron/retro/retro_model.rst
  docs/source/starthere/migration-guide.rst
  docs/source/tools/nemo_forced_aligner.rst
  docs/source/tts/checkpoints.rst
  docs/source/tts/datasets.rst
  docs/source/tts/g2p.rst
  docs/source/vision/checkpoint.rst
  docs/source/vision/configs.rst
  docs/source/vision/datasets.rst
  docs/source/vision/vit.rst
Labels: TTS, NLP

#8526 Add Kaiming uniform init for LoRA adapters
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/modules/common/megatron/utils.py
Labels: NLP

#8458 FSDP support for GPT fine-tuning
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_finetuning_config.yaml
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#8534 Fix failing lhotse tests due to randomness
  nemo/collections/common/data/lhotse/cutset.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: common

#8536 Fix AccessMixin
  nemo/collections/asr/models/asr_model.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/models/ssl_models.py
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/modules/squeezeformer_encoder.py
  nemo/collections/asr/parts/mixins/interctc_mixin.py
  nemo/collections/asr/parts/submodules/conformer_modules.py
  nemo/collections/asr/parts/submodules/jasper.py
  nemo/collections/asr/parts/submodules/squeezeformer_modules.py
  nemo/collections/multimodal/speech_cv/models/visual_ctc_models.py
  nemo/collections/multimodal/speech_cv/models/visual_hybrid_rnnt_ctc_models.py
  nemo/collections/multimodal/speech_cv/models/visual_rnnt_models.py
  nemo/core/classes/mixins/access_mixins.py
  nemo/core/classes/mixins/adapter_mixin_strategies.py
  nemo/core/classes/modelPT.py
  tests/collections/asr/mixins/adapters/test_asr_adapter_mixin.py
  tests/collections/asr/test_asr_interctc_models.py
Labels: core, ASR

#8546 Update mcore version in Dockerfile
  Dockerfile
Labels: CI

#8548 Add multimodal domain to labeler.yml
  .github/labeler.yml
Labels: CI

#8549 Update megatron-lm in Dockerfile
  Dockerfile
Labels: CI

#8544 Set eval samples to 1 only for float limit_val_batches
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, CI

#8484 Add audio codec models
  examples/tts/conf/audio_codec/audio_codec_16000.yaml
  nemo/collections/tts/models/audio_codec.py
Labels: TTS

#8000 Fix nemo_llama_to_hf conversion
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
  scripts/nlp_language_modeling/convert_nemo_llama_to_hf.py
Labels: NLP

#8538 peft eval with ckpt
  Jenkinsfile
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_generate_config.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_generate.py
Labels: NLP, CI

#8176 Support GPT MCore models in M-LM->NeMo Conversion Script
  examples/nlp/language_modeling/megatron_lm_ckpt_to_nemo.py
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
Labels: NLP
