Repository NVIDIA-NeMo/NeMo, pull requests merged in 2024-05, with the labels that each got.

#9070 Mingyuanm/add back fp8 support to sd
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_train.yaml
  examples/multimodal/text_to_image/stable_diffusion/sd_infer.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/ddpm.py
  nemo/collections/multimodal/modules/stable_diffusion/attention.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/openaimodel.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, Multi Modal, Run CICD

#8842 zarr ckpt to torch_dist ckpt converter
  scripts/checkpoint_converters/convert_zarr_to_torch_dist.py
Labels: feature, stale, Run CICD

#9072 disable overlap for qkv
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
Labels: NLP

#9082 add clip H config
  examples/multimodal/vision_language_foundation/clip/conf/megatron_clip_VIT-H-14.yaml
Labels: Multi Modal

#9081 Rachitg/ag
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
Labels: NLP

#9006 Fix docs errors and most warnings
  docs/source/asr/datasets.rst
  docs/source/asr/intro.rst
  docs/source/asr/models.rst
  docs/source/asr/speech_intent_slot/api.rst
  docs/source/asr/ssl/api.rst
  docs/source/ckpt_converters/dev_guide.rst
  docs/source/ckpt_converters/user_guide.rst
  docs/source/conf.py
  docs/source/core/adapters/api.rst
  docs/source/core/adapters/components.rst
  docs/source/core/adapters/intro.rst
  docs/source/core/core.rst
  docs/source/core/exp_manager.rst
  docs/source/core/export.rst
  docs/source/core/neural_types.rst
  docs/source/features/memory_optimizations.rst
  docs/source/multimodal/api.rst
  docs/source/multimodal/mllm/checkpoint.rst
  docs/source/multimodal/nerf/dreamfusion.rst
  docs/source/multimodal/text2img/controlnet.rst
  docs/source/multimodal/text2img/dreambooth.rst
  docs/source/multimodal/text2img/imagen.rst
  docs/source/multimodal/text2img/insp2p.rst
  docs/source/multimodal/text2img/intro.rst
  docs/source/multimodal/text2img/sdxl_quantization.rst
  docs/source/multimodal/vlm/clip.rst
  docs/source/nlp/api.rst
  docs/source/nlp/information_retrieval.rst
  docs/source/nlp/machine_translation/machine_translation.rst
  docs/source/nlp/nemo_megatron/gpt/gpt_training.rst
  docs/source/nlp/nemo_megatron/positional_embeddings.rst
  docs/source/nlp/punctuation_and_capitalization_lexical_audio.rst
  docs/source/nlp/text_normalization/text_normalization_as_tagging.rst
  docs/source/starthere/best-practices.rst
  docs/source/starthere/migration-guide.rst
  docs/source/tools/nemo_forced_aligner.rst
  docs/source/vision/checkpoint.rst
  docs/source/vision/vit.rst
  nemo/collections/asr/models/asr_model.py
  nemo/collections/asr/models/msdd_models.py
  nemo/collections/asr/modules/rnnt.py
  nemo/collections/common/tokenizers/huggingface/auto_tokenizer.py
  nemo/collections/nlp/data/language_modeling/megatron/t5_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/t5_prompt_learning_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/ul2_dataset.py
  nemo/collections/nlp/models/information_retrieval/megatron_bert_embedding_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/modules/common/transformer/text_generation.py
  nemo/collections/vision/models/megatron_vit_classification_models.py
  nemo/core/classes/dataset.py
  nemo/utils/exp_manager.py
Labels: core, ASR, NLP, common, Multi Modal, Run CICD

#9075 Handle case where num_query_groups is set to null for LoRA config setup
  nemo/collections/nlp/parts/peft_config.py
Labels: NLP, Run CICD

#9065 [NeMo-UX] Add mixed-precision plugin
  nemo/lightning/__init__.py
  nemo/lightning/pytorch/plugins/__init__.py
  nemo/lightning/pytorch/plugins/mixed_precision.py
  tests/lightning/test_megatron_parallel.py
Labels: Run CICD

#9085 Comment baichuan test and update pr template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9087 Add option for mutex timeout in distributed optimizer backward hook
  nemo/core/optim/distributed_adam.py
Labels: core

#8976 Add safe extraction of nemo tar files
  nemo/core/connectors/save_restore_connector.py
Labels: core, Run CICD

#9061 PyTorch CUDA allocator optimization for dynamic batch shape dataloading in ASR
  nemo/collections/common/data/lhotse/dataloader.py
Labels: common, Run CICD

#9077 Improved `shard_id` parsing in `LazyNemoTarredIterator`, enables AIS dataloading
  nemo/collections/common/data/lhotse/nemo_adapters.py
Labels: common, Run CICD

#9066 [NeMo-UX] Add mistral-7b model
  nemo/io/__init__.py
  nemo/io/api.py
  nemo/io/connector.py
  nemo/io/mixin.py
  nemo/io/state.py
  nemo/llm/__init__.py
  nemo/llm/gpt/model/__init__.py
  nemo/llm/gpt/model/base.py
  nemo/llm/gpt/model/mistral_7b.py
  requirements/requirements_lightning.txt
  tests/io/test_state.py
Labels: Run CICD

#8972 RNN-T and TDT inference: use CUDA graphs by default
  nemo/collections/asr/models/asr_model.py
  nemo/collections/asr/modules/rnnt.py
  nemo/collections/asr/parts/submodules/cuda_graph_rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_loop_labels_computer.py
  nemo/collections/asr/parts/submodules/tdt_loop_labels_computer.py
  nemo/collections/common/parts/optional_cuda_graphs.py
  nemo/core/utils/cuda_python_utils.py
  tests/collections/asr/decoding/rnnt_alignments_check.py
  tests/collections/asr/decoding/test_cuda_graph_rnnt_greedy_decoding.py
  tests/collections/asr/test_asr_rnnt_encdec_model.py
  tests/collections/common/test_optional_cuda_graphs.py
Labels: core, ASR, common, Run CICD

#9089 Llama3 Conversion Script Update
  .github/workflows/cicd-main.yml
  scripts/checkpoint_converters/convert_llama_hf_to_nemo.py
  scripts/checkpoint_converters/convert_llama_nemo_to_hf.py
Labels: CI, Run CICD

#9097 Update radtts.py
  .github/workflows/cicd-main.yml
  examples/tts/radtts.py
Labels: TTS, CI, Run CICD

#9016 Implement DistributedCheckpointIO
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/utils/callbacks/dist_ckpt_io.py
  tests/core/test_dist_ckpt.py
Labels: core, NLP, Run CICD

#9060 HF to .nemo for Mixtral-8x22B-instruct
  scripts/checkpoint_converters/convert_mixtral_hf_to_nemo.py
Labels: NLP, Run CICD

#8865 dehardcode test string
  nemo/export/trt_llm/nemo_utils.py
Labels: Run CICD

#8951 mcore ds updates
  .github/workflows/cicd-main.yml
  Jenkinsfile
  nemo/collections/nlp/data/language_modeling/megatron/retro_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, CI, Run CICD

#9111 [Nemo CICD] Try trigger cicd run on comment
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9112 [Nemo CICD] RADTTS test optional
  .github/workflows/cicd-main.yml
Labels: Run CICD

#9107 Alit/griffin perf
  examples/nlp/language_modeling/conf/megatron_griffin_config.yaml
  examples/nlp/language_modeling/conf/megatron_griffin_finetuning_config.yaml
  examples/nlp/language_modeling/conf/megatron_griffin_generate_config.yaml
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron/griffin/griffin_model.py
  nemo/collections/nlp/models/language_modeling/megatron/griffin/recurrent_module.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP, Run CICD

#9110 Add assert for max_steps to be positive in MegatronGPTSFTModel
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP, Run CICD

#9109 Lhotse dataloading: RIR augmentation and nemo/tarred input support for RIR and noise aug
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/data/lhotse/dataloader.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: common, Run CICD

#8989 mixtral evaluation PR
  docs/source/multimodal/mllm/intro.rst
  docs/source/multimodal/mllm/video_neva.rst
  examples/multimodal/multimodal_llm/neva/eval/mixtral_eval.py
Labels: Multi Modal, Run CICD

#8869 Extend sequence length padding for GPT SFT to account for context parallel
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#9123 [Nemo CICD] Comment out flaky test: running too long
  .github/workflows/cicd-main.yml
Labels: CI

#9118 Update gpt dataset config parameter for mock
  .github/workflows/cicd-main.yml
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, CI, Run CICD

#9034 Add Mcore DistributedDataParallel and distributed optimizer into Nemo
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/classes/modelPT.py
  nemo/core/optim/__init__.py
  nemo/core/optim/mcore_optim.py
Labels: core, NLP, Run CICD

#9128 Revert "Add assert for max_steps to be positive in MegatronGPTSFTMode…
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP, Run CICD

#9132 [Nemo CICD] Add timeout to unit tests
  .github/workflows/cicd-main.yml
Labels: CI

#9139 [Nemo CICD] Indicate optional test in name (prefix)
  .github/workflows/cicd-main.yml
Labels: CI

#9116 video neva null image+video folder path fix
  nemo/collections/multimodal/data/neva/neva_dataset.py
Labels: Multi Modal, Run CICD

#9133 [NeMo-UX] Add data module
  nemo/lightning/base.py
  nemo/llm/gpt/data/__init__.py
  nemo/llm/gpt/data/core.py
  nemo/llm/gpt/data/dolly.py
  nemo/llm/gpt/data/fine_tuning.py
  nemo/llm/gpt/data/pre_training.py
  nemo/llm/gpt/data/squad.py
  nemo/llm/gpt/model/base.py
  tests/lightning/test_data.py
  tests/lightning/test_strategy_lib.py
Labels: Run CICD

#9102 scripts to convert HF lora to nemo
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_generate_config.yaml
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  scripts/checkpoint_converters/lora_converters/convert_hf_to_canonical.py
  scripts/checkpoint_converters/lora_converters/convert_nemo_to_canonical.py
Labels: NLP, Run CICD

#9093 NeMo Inference Requirements
  requirements/requirements_infer.txt
Labels: Run CICD

#9074 Remove debug print
  nemo/collections/multimodal/modules/stable_diffusion/attention.py
Labels: Multi Modal, Run CICD

#9015 Prevent duplicated checkpoints
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/utils/callbacks/nemo_model_checkpoint.py
  tests/core/test_exp_manager.py
Labels: core, NLP, Run CICD

#9144 Remove Radtts CI test
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9100 Fix #8891 by supported GPU-side batched CTC Greedy Decoding
  nemo/collections/asr/parts/submodules/ctc_decoding.py
  nemo/collections/asr/parts/submodules/ctc_greedy_decoding.py
  tests/collections/asr/decoding/test_ctc_decoding.py
  tests/collections/asr/test_asr_ctc_encoder_model_bpe.py
  tests/collections/asr/test_asr_ctcencdec_model.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_bpe.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_char.py
Labels: ASR, Run CICD

#9142 add TN/ITN link in speech tools list
  docs/source/nlp/text_normalization/nn_text_normalization.rst
  docs/source/nlp/text_normalization/text_normalization_as_tagging.rst
  docs/source/nlp/text_normalization/wfst/intro.rst
  docs/source/nlp/text_normalization/wfst/wfst_text_normalization.rst
  docs/source/nlp/text_normalization/wfst/wfst_text_processing_deployment.rst
  docs/source/tools/intro.rst
Labels: NLP

#9149 Remove legacy CI
  .github/workflows/blossom-ci.yml
  Jenkinsfile
  ci.groovy
Labels: CI

#9088 Cleanup deprecated files and temporary changes
  .github/workflows/cicd-main.yml
  examples/nlp/information_retrieval/conf/megatron_gpt_embedder_tuning_config.yaml
  examples/nlp/language_modeling/conf/megatron_chatglm_config.yaml
  examples/nlp/language_modeling/conf/megatron_falcon_config.yaml
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/conf/megatron_llama_config.yaml
  examples/nlp/language_modeling/conf/megatron_starcoder_config.yaml
  examples/nlp/language_modeling/megatron_gpt_eval.py
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_sft.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_peft_tuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  examples/nlp/language_modeling/tuning/megatron_t5_generate.py
  examples/nlp/language_modeling/tuning/megatron_t5_peft_tuning.py
  nemo/collections/multimodal/parts/utils.py
  nemo/collections/nlp/models/information_retrieval/megatron_gpt_embedding_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  scripts/checkpoint_converters/convert_starcoder_hf_to_nemo.py
Labels: NLP, CI, Multi Modal, Run CICD

#9145 Use DP+CP groups as the FSDP sharding domain
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, Run CICD

#9159 Update support for push_to_hf_hub()
  tutorials/Publish_NeMo_Model_On_Hugging_Face_Hub.ipynb
Labels: Run CICD

#9096 CUDA memory profile
  nemo/collections/multimodal/models/vision_language_foundation/clip/megatron_clip_models.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/vision/models/megatron_vit_classification_models.py
  nemo/core/classes/modelPT.py
Labels: core, NLP, Multi Modal, Run CICD

#9160 [Nemo CICD] comment out flaky PTQ tests
  .github/workflows/cicd-main.yml
Labels: CI

#9141 Fix missing func for T5 model
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, Run CICD

#8476 Update black to the latest version incrementally
  .github/workflows/code-formatting.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements/requirements_test.txt
Labels: CI

#9125 Add knob for load_directly_on_device
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/utils/callbacks/dist_ckpt_io.py
Labels: NLP, Run CICD

#9165 Change FIM Dataset Random Seed Init
  nemo/collections/nlp/data/language_modeling/megatron/gpt_fim_dataset.py
Labels: NLP, Run CICD

#9186 [Nemo CICD] Increase time limit for Speech_Checkpoints_tests
  .github/workflows/cicd-main.yml
Labels: CI

#9161 Fix MoE EP rank when TP is set at the same time
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
Labels: NLP, Run CICD

#9003 TRTLLM new API support
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/decoder/__init__.py
  nemo/export/trt_llm/nemo/convert.py
  nemo/export/trt_llm/nemo/nemo_ckpt_convert.py
  nemo/export/trt_llm/nemo_utils.py
  nemo/export/trt_llm/tensorrt_llm_build.py
  nemo/export/trt_llm/tensorrt_llm_run.py
  scripts/export/export_to_trt_llm.py
Labels: Run CICD

#9166 Alit/optim 8k
  examples/nlp/language_modeling/conf/megatron_griffin_config.yaml
  examples/nlp/language_modeling/conf/megatron_griffin_finetuning_config.yaml
  examples/nlp/language_modeling/conf/megatron_griffin_generate_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron/griffin/griffin_block.py
  nemo/collections/nlp/models/language_modeling/megatron/griffin/griffin_model.py
  nemo/collections/nlp/models/language_modeling/megatron/griffin/recurrent_layer.py
  nemo/collections/nlp/models/language_modeling/megatron/griffin/recurrent_module.py
  nemo/collections/nlp/models/language_modeling/megatron_griffin_model.py
Labels: NLP, Run CICD

#9196 Enable CUDA graphs by default only for transcription
  examples/asr/transcribe_speech.py
  examples/asr/transcribe_speech_parallel.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_loop_labels_computer.py
  nemo/collections/asr/parts/submodules/tdt_loop_labels_computer.py
Labels: ASR, Run CICD

#9157 Bucketing duration bins: less optimal but instant init when not provided + fixes in estimation script
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/data/lhotse/dataloader.py
  nemo/collections/common/data/lhotse/nemo_adapters.py
  scripts/speech_recognition/convert_to_tarred_audio_dataset.py
  scripts/speech_recognition/estimate_duration_bins.py
Labels: common, Run CICD

#9183 move tts fixtures
  tests/collections/tts/conftest.py
  tests/conftest.py
Labels: TTS, Run CICD

#9130 enable matryoshka embedding learning
  nemo/collections/nlp/models/information_retrieval/megatron_gpt_embedding_model.py
Labels: NLP, Run CICD

#9158 Add guards to SD imports
  nemo/collections/multimodal/modules/imagen/diffusionmodules/layers.py
  nemo/collections/multimodal/modules/stable_diffusion/attention.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/model.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/openaimodel.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/util.py
Labels: Multi Modal, Run CICD

#9028 Implement async distributed checkpoint save
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/utils/callbacks/checkpointing_context.py
  nemo/utils/callbacks/dist_ckpt_io.py
  nemo/utils/callbacks/nemo_model_checkpoint.py
  nemo/utils/callbacks/torch_dist_async.py
  nemo/utils/exp_manager.py
  tests/core/test_dist_ckpt.py
Labels: core, NLP, Run CICD

#9192 Fix incorrect checkpoint removal logic
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: bug, NLP, Run CICD

#9178 Update to using Model Optimizer (formerly AMMO) in PTQ workflow
  .github/workflows/cicd-main.yml
  Dockerfile
  docs/source/nlp/quantization.rst
  docs/source/starthere/intro.rst
  examples/nlp/language_modeling/conf/megatron_quantization.yaml
  examples/nlp/language_modeling/megatron_quantization.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/export/quantize/quantizer.py
Labels: NLP, CI, Run CICD

#9155 GPU-based vectorized Specaug Version 2
  nemo/collections/asr/modules/audio_preprocessing.py
  nemo/collections/asr/parts/submodules/spectr_augment.py
  tests/collections/asr/test_asr_modules.py
Labels: ASR, Run CICD

#9213 [Nemo CICD] run_cicd_for_release_branches_also
  .github/workflows/cicd-main.yml
Labels: CI

#9209 rename paths2audiofiles to audio
  tutorials/VoiceSwapSample.ipynb
  tutorials/asr/Multilang_ASR.ipynb
Labels: ASR, Run CICD

#9218 Update nemo.export module for quantized models
  examples/nlp/language_modeling/conf/megatron_quantization.yaml
  nemo/export/trt_llm/qnemo/__init__.py
  nemo/export/trt_llm/qnemo/align_config.py
  nemo/export/trt_llm/qnemo/qnemo_to_tensorrt_llm.py
Labels: NLP, Run CICD

#9080 Update index.rst
  docs/source/index.rst
Labels: stale

#9174 ci: Speeding NeMo-CI up by using caching
  .github/workflows/cicd-main.yml
  Dockerfile.ci
Labels: CI, Run CICD

#9221 Add save option to the TRT-LLM export test script
  tests/export/test_nemo_export.py
Labels: NLP, Run CICD

#9199 Checkpoint resuming compatible for 2403 container
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, Run CICD

#9055 support QWen1.5/QWen2
  examples/nlp/language_modeling/conf/megatron_qwen2_config.yaml
  examples/nlp/language_modeling/conf/megatron_qwen2_inference.yaml
  scripts/checkpoint_converters/convert_qwen2_hf_to_nemo.py
  scripts/checkpoint_converters/convert_qwen2_nemo_to_hf.py
Labels: NLP, Run CICD

#9058 Implement export with PyT Distributed checkpoints
  nemo/export/trt_llm/nemo/nemo_ckpt_convert.py
Labels: stale, NLP, Run CICD

#9179 ci: Multi-tenancy for tests and garbage collection
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9233 Fix ASR_Context_Biasing.ipynb contains FileNotFoundError
  tutorials/asr/ASR_Context_Biasing.ipynb
Labels: bug, ASR

#9187 Lhotse Sharding Fix
  nemo/collections/common/data/lhotse/nemo_adapters.py
Labels: common, Run CICD

#9201 Support dataloader as input to `audio` for transcription
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/models/slu_models.py
  nemo/collections/asr/models/transformer_bpe_models.py
  nemo/collections/asr/parts/mixins/transcription.py
  tests/collections/asr/mixins/test_transcription.py
Labels: ASR, Run CICD

#9235 Cherrypick: Support dataloader as input to `audio` for transcription (#9201)
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/models/slu_models.py
  nemo/collections/asr/models/transformer_bpe_models.py
  nemo/collections/asr/parts/mixins/transcription.py
  tests/collections/asr/mixins/test_transcription.py
Labels: ASR

#9184 NeMo Dev Doc Feature Updates 1: Some parallelisms
  docs/source/features/memory_optimizations.rst
  docs/source/features/parallelisms.rst
  docs/source/features/throughput_optimizations.rst
  docs/source/multimodal/mllm/datasets.rst
  docs/source/multimodal/mllm/intro.rst
  docs/source/multimodal/mllm/sequence_packing.rst
Labels: Multi Modal

#9205 Clean up dev docs collection section
  docs/source/apis.rst
  docs/source/asr/api.rst
  docs/source/asr/ssl/intro.rst
  docs/source/collections.rst
  docs/source/common/intro.rst
  docs/source/core/api.rst
  docs/source/index.rst
  docs/source/multimodal/api.rst
  docs/source/nlp/api.rst
  docs/source/tts/api.rst
  docs/source/tts/intro.rst
Labels: TTS, ASR, NLP, Multi Modal

#9238 Revert rope fusion defaults
  examples/nlp/language_modeling/conf/megatron_chatglm_config.yaml
  examples/nlp/language_modeling/conf/megatron_falcon_config.yaml
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/conf/megatron_llama_config.yaml
  examples/nlp/language_modeling/conf/megatron_starcoder_config.yaml
  examples/nlp/language_modeling/megatron_gpt_eval.py
  nemo/collections/multimodal/parts/utils.py
  nemo/collections/nlp/models/information_retrieval/megatron_gpt_embedding_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP, Multi Modal, Run CICD

#9223 use get with fallback when reading checkpoint_callback_params
  nemo/collections/nlp/parts/megatron_trainer_builder.py
Labels: bug, NLP, Run CICD

#9239 dist adam transpose fix
  nemo/core/optim/distributed_adam.py
Labels: core, Run CICD

#9247 [Nemo CICD] Increase time limit for Speech_Checkpoints_tests (#9186)
  .github/workflows/cicd-main.yml
Labels: CI

#9237 Revert rope fusion defaults
  examples/nlp/language_modeling/conf/megatron_chatglm_config.yaml
  examples/nlp/language_modeling/conf/megatron_falcon_config.yaml
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/conf/megatron_llama_config.yaml
  examples/nlp/language_modeling/conf/megatron_starcoder_config.yaml
  examples/nlp/language_modeling/megatron_gpt_eval.py
  nemo/collections/multimodal/parts/utils.py
  nemo/collections/nlp/models/information_retrieval/megatron_gpt_embedding_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP, Multi Modal, Run CICD

#9251 Fix Online_Offline_Microphone_VAD_Demo.ipynb
  tutorials/asr/Online_Offline_Microphone_VAD_Demo.ipynb
Labels: ASR

#9252 Update Online_Offline_Microphone_VAD_Demo.ipynb
  tutorials/asr/Online_Offline_Microphone_VAD_Demo.ipynb
Labels: ASR

#9243 Dgalvez/fix greedy batch strategy name r2.0.0rc0
  nemo/collections/asr/parts/submodules/ctc_decoding.py
  nemo/collections/asr/parts/submodules/ctc_greedy_decoding.py
  tests/collections/asr/decoding/test_ctc_decoding.py
  tests/collections/asr/test_asr_ctc_encoder_model_bpe.py
  tests/collections/asr/test_asr_ctcencdec_model.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_bpe.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_char.py
Labels: ASR, Run CICD

#9258 ci: Remove duplicated job
  .github/workflows/cicd-main.yml
Labels: CI

#9240 fix import
  examples/nlp/language_modeling/megatron_lm_ckpt_to_nemo.py
Labels: bug, NLP, Run CICD

#9210 Add TRT-LLM params like max_num_tokens and opt_num_tokens
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/tensorrt_llm_build.py
  scripts/deploy/nlp/deploy_triton.py
  scripts/export/export_to_trt_llm.py
  tests/export/test_nemo_export.py
Labels: NLP, Run CICD

#9262 sum-reduce grad_norm in DP+CP domain
  nemo/collections/nlp/modules/common/megatron/clip_grads.py
Labels: NLP, Run CICD

#9224 Fix T5 G2P Input and Output Types
  nemo/collections/tts/g2p/models/t5.py
Labels: TTS, Run CICD

#9250 Update nemo.export module for quantized models
  examples/nlp/language_modeling/conf/megatron_quantization.yaml
  nemo/export/trt_llm/qnemo/__init__.py
  nemo/export/trt_llm/qnemo/align_config.py
  nemo/export/trt_llm/qnemo/qnemo_to_tensorrt_llm.py
Labels: NLP, Run CICD

#9101 Add llama3 and distributed checkpoint support in NeVA
  examples/multimodal/multimodal_llm/neva/conf/neva_inference.yaml
  examples/multimodal/multimodal_llm/neva/eval/gradio_server.py
  examples/multimodal/multimodal_llm/neva/eval/vqa_science.py
  examples/multimodal/multimodal_llm/neva/neva_convert_to_dist_ckpt.py
  nemo/collections/multimodal/data/neva/conversation.py
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/parts/utils.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  nemo/collections/nlp/parts/mixins/multimodal_adapter_mixins.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/utils/callbacks/dist_ckpt_io.py
Labels: NLP, Multi Modal, Run CICD

#9261 Pin transformers
  requirements/requirements_lightning.txt
Labels: Run CICD

#9143 RAG Pipeline
  examples/nlp/rag/conf/rag_generating.yaml
  examples/nlp/rag/conf/rag_indexing.yaml
  examples/nlp/rag/images/rag_pipeline.png
  examples/nlp/rag/rag.md
  examples/nlp/rag/rag_generating.py
  examples/nlp/rag/rag_indexing.py
  nemo/collections/nlp/models/rag/__init__.py
  nemo/collections/nlp/models/rag/custom_bert_embedder.py
  nemo/collections/nlp/models/rag/custom_gpt_llm.py
Labels: NLP, Run CICD

#9156 Mcore dist opt ckpt fix
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/optim/mcore_optim.py
Labels: core, NLP, Run CICD

#9282 Fix loading github raw images on notebook
  tutorials/asr/ASR_TTS_Tutorial.ipynb
Labels: ASR

#9285 Alit/bert convert fix
  scripts/checkpoint_converters/convert_bert_hf_to_nemo.py
Labels: NLP, Run CICD

#9281 Remove .nemo instead of renaming
  nemo/collections/asr/parts/submodules/ctc_greedy_decoding.py
  nemo/utils/callbacks/nemo_model_checkpoint.py
  tests/core/test_exp_manager.py
Labels: bug, core, ASR, Run CICD

#9287 Fix circular import for MM dataprep notebook
  nemo/collections/nlp/parts/nlp_overrides.py
  tutorials/multimodal/Multimodal Data Preparation.ipynb
Labels: NLP, Multi Modal, Run CICD

#9271 Refactor Sequence Packing Script
  docs/source/features/throughput_optimizations.rst
  nemo/utils/sequence_packing_utils.py
  scripts/nlp_language_modeling/prepare_packed_ft_dataset.py
Labels: Run CICD

#9257 neva media_type + text generation default fix
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
Labels: NLP, Multi Modal, Run CICD

#9290 fix lora and ptuning and isort/black
  nemo/deploy/deploy_pytriton.py
  nemo/deploy/nlp/query_llm.py
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/decoder/decoder.py
  nemo/export/trt_llm/decoder/falcon.py
  nemo/export/trt_llm/decoder/gemma.py
  nemo/export/trt_llm/decoder/gpt.py
  nemo/export/trt_llm/decoder/gptj.py
  nemo/export/trt_llm/decoder/llama.py
  nemo/export/trt_llm/model_config.py
  nemo/export/trt_llm/nemo/nemo.py
  nemo/export/trt_llm/tensorrt_llm_model.py
  nemo/export/trt_llm/tensorrt_llm_run.py
  scripts/deploy/nlp/deploy_triton.py
  scripts/export/export_to_trt_llm.py
Labels: NLP, Run CICD

#9208 add check if num layers is divisible by pp size
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#9297 Fix P-tuning for Llama based models
  nemo/export/trt_llm/tensorrt_llm_run.py
  scripts/deploy/nlp/deploy_triton.py
  scripts/export/export_to_trt_llm.py
  tests/export/test_nemo_export.py
Labels: NLP, Run CICD

#9227 Expand documentation for data parallelism and distributed optimizer
  docs/source/features/parallelisms.rst
Labels: documentation

#9311 Install alerting
  .github/scripts/slackHelper.sh
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9312 Guard cuda memory allocator update
  nemo/collections/common/data/lhotse/dataloader.py
Labels: common

#9314 typos
  tutorials/00_NeMo_Primer.ipynb
  tutorials/asr/ASR_Confidence_Estimation.ipynb
  tutorials/asr/ASR_Context_Biasing.ipynb
  tutorials/asr/Speech_Commands.ipynb
  tutorials/nlp/Joint_Intent_and_Slot_Classification.ipynb
Labels: ASR, NLP

#9330 conv1d stable version
  requirements/requirements_nlp.txt
Labels: NLP, Run CICD

#9333 [Nemo CICD] Comment out flaky tests
  .github/workflows/cicd-main.yml
Labels: CI

#9325 Fix typos in Mixtral NeMo->HF and Starcoder2 NeMo->HF conversion scripts
  scripts/checkpoint_converters/convert_mixtral_nemo_to_hf.py
  scripts/checkpoint_converters/convert_starcoder2_nemo_to_hf.py
Labels: bug, Run CICD

#9322 Fixed typos in README.rst
  README.rst
Labels: Run CICD

#9323 Update README.rst to clarify installation via Conda
  README.rst
Labels: Run CICD

#9328 move pooler under post_process
  .github/workflows/cicd-main.yml
  nemo/collections/nlp/models/language_modeling/megatron/bert/bert_model.py
Labels: NLP, CI, Run CICD

#9341 Fix Peft Weights Loading in NeVA
  nemo/collections/nlp/parts/mixins/multimodal_adapter_mixins.py
Labels: NLP, Run CICD

#9338 Re-enable cuda graphs in training modes.
  examples/asr/transcribe_speech.py
  examples/asr/transcribe_speech_parallel.py
  nemo/collections/asr/parts/submodules/cuda_graph_rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_loop_labels_computer.py
  nemo/collections/asr/parts/submodules/tdt_loop_labels_computer.py
Labels: ASR, Run CICD

#9344 Skip sequence_parallel allreduce when using Mcore DistOpt
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: bug, NLP, Run CICD

#9335 Fix FSDP gradient calculation with orig params
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#9259 add large model stable training fix and contrastive loss update for variable seq
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_ctc_bpe_streaming.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_ctc_char_streaming.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_transducer_bpe_streaming.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_transducer_char_streaming.yaml
  examples/asr/conf/fastconformer/hybrid_cache_aware_streaming/fastconformer_hybrid_transducer_ctc_bpe_streaming.yaml
  examples/asr/conf/fastconformer/hybrid_cache_aware_streaming/fastconformer_hybrid_transducer_ctc_char_streaming.yaml
  examples/asr/conf/fastconformer/hybrid_transducer_ctc/fastconformer_hybrid_transducer_ctc_bpe.yaml
  examples/asr/conf/fastconformer/hybrid_transducer_ctc/fastconformer_hybrid_transducer_ctc_char.yaml
  examples/asr/conf/fastconformer/long_fastconformer/fast-conformer-long_ctc_bpe.yaml
  examples/asr/conf/fastconformer/long_fastconformer/fast-conformer-long_transducer_bpe.yaml
  examples/asr/conf/ssl/fastconformer/fast-conformer.yaml
  nemo/collections/asr/losses/ssl_losses/contrastive.py
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/parts/submodules/conformer_modules.py
  nemo/collections/asr/parts/submodules/multi_head_attention.py
Labels: ASR, Run CICD

#9342 add deprecation note for nmt
  nemo/collections/nlp/models/machine_translation/mt_enc_dec_bottleneck_model.py
Labels: NLP, Run CICD

#9347 Fix GreedyBatchedCTCInfer regression from GreedyCTCInfer.
  nemo/collections/asr/parts/submodules/ctc_greedy_decoding.py
  tests/collections/asr/decoding/test_ctc_decoding.py
Labels: ASR, Run CICD

#9270 TRT-LLM Export Code Cleanup
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/decoder/__init__.py
  nemo/export/trt_llm/decoder/decoder.py
  nemo/export/trt_llm/decoder/falcon.py
  nemo/export/trt_llm/decoder/gemma.py
  nemo/export/trt_llm/decoder/gpt.py
  nemo/export/trt_llm/decoder/gptj.py
  nemo/export/trt_llm/decoder/llama.py
  nemo/export/trt_llm/model_config.py
  nemo/export/trt_llm/model_config_trt.py
  nemo/export/trt_llm/nemo/convert.py
  nemo/export/trt_llm/nemo/nemo.py
  nemo/export/trt_llm/nemo/nemo_ckpt_convert.py
  nemo/export/trt_llm/nemo_utils.py
  nemo/export/trt_llm/quantization_utils.py
  nemo/export/trt_llm/tensor_utils.py
  nemo/export/trt_llm/tensorrt_llm_build.py
  nemo/export/trt_llm/tensorrt_llm_model.py
  nemo/export/trt_llm/tensorrt_llm_run.py
  nemo/export/trt_llm/tensorrt_llm_utils.py
  nemo/export/trt_llm/utils.py
Labels: NLP, Run CICD
