Repository NVIDIA-NeMo/NeMo, pull requests merged in 2024-08, with the labels that each got.

#9834 Add deploy and REST API support to NeMo 2.0
  nemo/collections/llm/__init__.py
  nemo/collections/llm/api.py
  scripts/deploy/nlp/deploy_triton.py
Labels: Run CICD

#9966 add bert conversion and cicd
  .github/workflows/cicd-main.yml
  scripts/checkpoint_converters/convert_bert_hf_to_nemo.py
Labels: CI, Run CICD

#9974 Support hf tokenizer in packed seq preparation script
  scripts/nlp_language_modeling/prepare_packed_ft_dataset.py
Labels: Run CICD

#9995 Fix sdxl inference and add compatible changes for launcher support
  examples/multimodal/text_to_image/stable_diffusion/conf/sd2_train.yaml
  examples/multimodal/text_to_image/stable_diffusion/sd_xl_infer.py
  nemo/collections/multimodal/parts/utils.py
  requirements/requirements_multimodal.txt
Labels: Multi Modal, Run CICD

#9897 Support Nvidia Torch and Arch versions
  nemo/collections/multimodal/modules/imagen/diffusionmodules/blocks.py
  nemo/collections/multimodal/modules/stable_diffusion/attention.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP, Multi Modal, Run CICD

#9968 Add Mcore microbatches calculator supports
  nemo/collections/llm/gpt/data/pre_training.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/models/text_to_image/controlnet/controlnet.py
  nemo/collections/multimodal/models/text_to_image/dreambooth/dreambooth.py
  nemo/collections/multimodal/models/text_to_image/imagen/imagen.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/diffusion_engine.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/ddpm.py
  nemo/collections/multimodal/models/vision_language_foundation/clip/megatron_clip_models.py
  nemo/collections/multimodal/models/vision_language_foundation/megatron_nsfw_clip_models.py
  nemo/collections/multimodal/speech_llm/models/modular_models.py
  nemo/collections/multimodal/speech_llm/models/modular_t5_models.py
  nemo/collections/multimodal/speech_llm/modules/common/audio_text_generation_utils.py
  nemo/collections/nlp/models/dialogue/dialogue_s2s_generation_model.py
  nemo/collections/nlp/models/information_retrieval/megatron_bert_embedding_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retro_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t0_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_sft_model.py
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/collections/vision/models/megatron_vit_classification_models.py
  nemo/lightning/data.py
  nemo/lightning/pytorch/plugins/data_sampler.py
  nemo/utils/apex_utils.py
  scripts/speech_recognition/convert_hf_dataset_to_nemo.py
  tests/collections/nlp/test_rampup_batch_size.py
Labels: NLP, Multi Modal, Run CICD

#10008 Bug fix for pooler causing dist checkpointing exception
  nemo/collections/nlp/models/language_modeling/megatron/bert/bert_model.py
Labels: NLP, Run CICD, 2.0.0rc1

#9978 Allow users to pass HF via local-path: model_cls.import_ckpt("hf:///p…
  nemo/lightning/io/connector.py
Labels: Run CICD

#10024 clean up asr finetune
  examples/asr/conf/asr_finetune/speech_to_text_finetune.yaml
  examples/asr/conf/asr_finetune/speech_to_text_hf_finetune.yaml
  examples/asr/speech_to_text_finetune.py
Labels: ASR

#9859 Add precision arg in mixtral converter comment
  scripts/checkpoint_converters/convert_mixtral_hf_to_nemo.py
Labels: Run CICD

#9408 Fix bug with GPT distopt buckets when interleaved pipelining is enabled
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: bug, NLP, Run CICD

#10011 TRT-LLM checkpoint in safetensors
  nemo/export/tensorrt_llm.py
Labels: Run CICD

#10014 [NeMo-UX] Wait for async checkpoint calls to complete in preemption callback
  nemo/lightning/pytorch/callbacks/preemption.py
Labels: Run CICD

#10017 Bump `Dockerfile.ci` (2024-08-02)
  Dockerfile.ci
Labels: Run CICD

#10004 Re-tarring script
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/data/lhotse/dataloader.py
  scripts/speech_recognition/filter_tarred_audio_dataset.py
Labels: common, Run CICD

#9756 Revert back updated test
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9932 log TFLOPs
  nemo/collections/common/metrics/__init__.py
  nemo/collections/common/metrics/perf_metrics.py
  nemo/collections/common/parts/perf_metrics_utils.py
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/utils/exp_manager.py
  tests/collections/common/test_perf_metrics.py
Labels: NLP, common, Run CICD

#9972 Make Mistral HF to NeMo checkpoint converter iterable to allow for lo…
  scripts/checkpoint_converters/convert_mistral_7b_hf_to_nemo.py
Labels: Run CICD

#10027 Update continual pre-training argument override strategy
  examples/nlp/language_modeling/megatron_gpt_pretraining.py
Labels: NLP, Run CICD

#10028 remove prepare_youmakeup.py
  scripts/multimodal_dataset_conversion/prepare_youmakeup.py
  tutorials/multimodal/LITA Tutorial.ipynb
Labels: Multi Modal

#9842 fix vision clip
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/parts/utils.py
Labels: Run CICD

#10045 Bump `Dockerfile.ci` (2024-08-05)
  Dockerfile.ci
Labels: Run CICD

#9873 Update to vLLM 0.5.3.post1, LLAMA3.1 support
  nemo/export/vllm_exporter.py
  requirements/requirements_vllm.txt
  scripts/checkpoint_converters/convert_llama_hf_to_nemo.py
Labels: Run CICD

#10041 Add support for overlapped gradient and parameter synchronization for GPT SFT model
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP, Run CICD

#10031 Nemotron Conversion script
  scripts/checkpoint_converters/convert_nemotron_nemo_to_hf.py
Labels: Run CICD

#10033 [NeMo-UX] Change default interval to step and add lr in prog_bar in nemo.lightning
  nemo/lightning/pytorch/optim/base.py
  nemo/lightning/pytorch/optim/lr_scheduler.py
Labels: Run CICD, 2.0.0rc2

#9977 nemo ux mixtral 8x22b config
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/mixtral.py
  nemo/collections/llm/recipes/mixtral_8x22b_4k.py
Labels: Run CICD

#10018 [NeMo-UX] Fix logging of consumed samples in MegatronDataSampler
  nemo/lightning/pytorch/callbacks/preemption.py
  nemo/lightning/pytorch/plugins/data_sampler.py
Labels: Run CICD, 2.0.0rc2

#9982 Use directly trtllm-build command for quantized checkpoints
  Dockerfile.ci
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/converter/model_to_trt_llm_ckpt.py
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
  nemo/export/trt_llm/qnemo/qnemo_to_tensorrt_llm.py
  nemo/export/trt_llm/tensorrt_llm_build.py
Labels: NLP, Run CICD

#10054 Fix Canary's transcribe(): move to device and prompt feeding
  nemo/collections/asr/data/audio_to_text_lhotse_prompted.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/parts/mixins/transcription.py
  tests/collections/asr/utils/test_transcription_move_to_device.py
Labels: ASR, Run CICD

#9994 nemo-ux: Use kv_channels to enable cases where head_dim != hidden_size // head…
  nemo/collections/llm/gpt/model/mistral.py
  nemo/collections/llm/gpt/model/mixtral.py
Labels: Run CICD

#10035 [lhotse] Support for NeMo tarred manifests with offset field
  nemo/collections/common/data/lhotse/nemo_adapters.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: common, Run CICD

#10010 add the mcore interface for optim arg; average_in_collective
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#9975 mixtral recipe
  nemo/collections/llm/recipes/mixtral_8x7b_4k.py
Labels: Run CICD

#10012 Make MegatronStrategy.parallelism return ParallelismConfig
  nemo/lightning/_strategy_lib.py
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#10063 [NeMo-UX] log learning rate before train step
  nemo/lightning/pytorch/optim/base.py
Labels: Run CICD

#10049 Update dev doc for features
  docs/source/features/moe.rst
  docs/source/features/optimizations/activation_recomputation.rst
  docs/source/features/optimizations/attention_optimizations.rst
  docs/source/features/optimizations/communication_overlap.rst
  docs/source/features/optimizations/cpu_offloading.rst
  docs/source/features/optimizations/index.rst
  docs/source/features/optimizations/sequence_packing.rst
  docs/source/index.rst
Labels: Run CICD

#10072 Update base image for tts asr import check test
  .github/workflows/import-test.yml
Labels: CI, Run CICD

#10079 Drop PyTorch 2.1 version check from fabric strategies
  nemo/lightning/fabric/strategies.py
Labels: Run CICD

#10077 Moe doc fixes
  docs/source/features/moe.rst
Labels: documentation

#10062 FSDP support of SALM and BESTOW
  nemo/collections/multimodal/speech_llm/models/modular_models.py
Labels: Multi Modal

#10109 Comment docs
  docs/source/asr/speech_intent_slot/api.rst
  docs/source/asr/ssl/api.rst
  docs/source/core/adapters/api.rst
  docs/source/core/adapters/components.rst
  docs/source/core/exp_manager.rst
  docs/source/core/neural_types.rst
  docs/source/features/optimizations/communication_overlap.rst
  docs/source/multimodal/api.rst
  docs/source/multimodal/speech_llm/api.rst
Labels: ASR, Multi Modal

#10126 [NeMo CICD] Fix broken pipeline
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10118 mistral nemo to hf support for 2407
  scripts/checkpoint_converters/convert_mistral_7b_nemo_to_hf.py
Labels: Run CICD

#10105 use getattr to query hf config
  nemo/collections/llm/gpt/model/mistral.py
  nemo/collections/llm/gpt/model/mixtral.py
Labels: Run CICD

#10021 mistral ckpt converter tokenizer fix
  scripts/checkpoint_converters/convert_mistral_7b_hf_to_nemo.py
Labels: Run CICD

#10082 nemo-ux: run checkpoint conversion only on rank=0 if invoked with tor…
  nemo/lightning/io/mixin.py
Labels: Run CICD, 2.0.0rc1

#10094 24.07 perf
  docs/source/performance/performance_summary.md
  nemo/README.md
Labels: Run CICD

#10086 Canary: CI integration tests; fix for training dataset and backcompat
  .github/workflows/cicd-main.yml
  examples/asr/conf/speech_multitask/fast-conformer_aed.yaml
  nemo/collections/asr/data/audio_to_text_lhotse_prompted.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/parts/utils/streaming_utils.py
  nemo/collections/common/prompts/canary.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
Labels: ASR, CI, common, Run CICD

#10106 [NeMo-UX] Support batch sampler in finetuning
  nemo/collections/llm/gpt/data/fine_tuning.py
  nemo/lightning/data.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/plugins/data_sampler.py
Labels: Run CICD

#9955 [NeMo-UX] Fix current step in NsysCallback
  nemo/lightning/pytorch/callbacks/nsys.py
  nemo/lightning/pytorch/callbacks/progress.py
  nemo/lightning/pytorch/strategies.py
  tests/lightning/pytorch/callbacks/test_nsys.py
Labels: Run CICD, 2.0.0rc2

#10143 [NeMo CICD] Comment out CPU unit tests until properly fixed
  .github/workflows/cicd-main.yml
Labels: CI

#10135 ci: Combine jobs
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10043 [NeMo-UX] Fix a serialization bug affecting fsdp
  nemo/lightning/pytorch/trainer.py
Labels: Run CICD

#9440 Fix py3.11 dataclasses issue
  examples/asr/speech_to_text_eval.py
  examples/asr/transcribe_speech.py
Labels: ASR, Run CICD

#9849 NeMo Distillation API
  .github/workflows/cicd-main.yml
  docs/source/index.rst
  docs/source/nlp/distillation.rst
  docs/source/starthere/intro.rst
  examples/nlp/language_modeling/conf/megatron_llama_distill.yaml
  examples/nlp/language_modeling/megatron_gpt_distillation.py
Labels: NLP, CI, Run CICD

#10064 [NeMo-UX] LoRA bug fix + frozen param printout
  nemo/collections/llm/peft/lora.py
  nemo/lightning/pytorch/callbacks/model_transform.py
Labels: Run CICD

#10136 Fix lhotse parsing tarred files with offset field
  nemo/collections/common/data/lhotse/nemo_adapters.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: common, Run CICD

#10137 Fix The Issue With PL 2.4.0
  nemo/utils/callbacks/cuda_graph.py
Labels: Run CICD

#10144 NeMo-UX: override MegatronStrategy's tensor_init_context
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#10089 [NeMo-UX] Fix logged consumed_samples
  nemo/collections/llm/gpt/data/pre_training.py
  nemo/lightning/pytorch/plugins/data_sampler.py
Labels: Run CICD

#10156 ci: Allow changelog manual
  .github/workflows/changelog-build.yml
Labels: CI

#10163 Ko3n1g/ci/release automation
  .github/workflows/release.yml
Labels: CI

#10164 fix version comparison
  .github/workflows/release.yml
Labels: CI

#10133 [NeMo-UX] Fix io init bug
  nemo/lightning/io/mixin.py
  tests/lightning/io/test_mixin.py
Labels: Run CICD

#10067 [NeMo-UX] Dump io inside ModelConnector
  nemo/collections/llm/tokenizer.py
  nemo/lightning/io/artifact/base.py
  nemo/lightning/io/connector.py
  nemo/lightning/io/mixin.py
Labels: Run CICD

#10080 nemo-ux MixedPrecision fix
  examples/llm/megatron_gpt_pretraining.py
  nemo/lightning/pytorch/plugins/mixed_precision.py
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#10148 [NeMo-UX] Add Community Models
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/baichuan.py
  nemo/collections/llm/gpt/model/chatglm.py
Labels: Run CICD

#10167 Update mixtral rope defaults
  nemo/collections/llm/gpt/model/mixtral.py
Labels: Run CICD

#10119 [NeMo-UX] Fix PEFT Checkpointing
  nemo/lightning/pytorch/callbacks/peft.py
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#10076 [NeMo-UX] Model convergence matching
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/mistral.py
  nemo/collections/llm/gpt/model/mixtral.py
Labels: Run CICD

#10179 ci: Dispatch single jobs
  .github/workflows/cicd-main.yml
Labels: CI

#9763 OOMptimizer: bucketing batch size profiles to make GPUs go 🔥
  .github/workflows/cicd-main.yml
  docs/source/asr/datasets.rst
  nemo/collections/asr/data/audio_to_text_lhotse.py
  nemo/collections/asr/data/audio_to_text_lhotse_prompted.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/asr_model.py
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
  nemo/collections/asr/models/transformer_bpe_models.py
  nemo/collections/common/data/lhotse/dataloader.py
  nemo/collections/common/data/lhotse/nemo_adapters.py
  nemo/collections/common/prompts/__init__.py
  nemo/collections/common/prompts/canary.py
  nemo/collections/common/prompts/fn.py
  nemo/collections/common/tokenizers/canary_tokenizer.py
  requirements/requirements_asr.txt
  scripts/speech_recognition/estimate_duration_bins_2d.py
  scripts/speech_recognition/oomptimizer.py
  tests/collections/asr/test_asr_lhotse_dataset.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
  tests/collections/common/test_2d_bucketing_constraint.py
  tests/collections/common/test_lhotse_dataloading.py
  tests/collections/common/test_lhotse_multirank_rng.py
Labels: ASR, CI, common, Run CICD

#10068 Nemotron Conversion: kv_channels rename to head_dim
  scripts/checkpoint_converters/convert_nemotron_nemo_to_hf.py
Labels: Run CICD

#10183 Drop update_metrics Since It Doesn't Invoke Sync Anymore
  nemo/utils/callbacks/cuda_graph.py
Labels: Run CICD

#9997 [NeMo-UX] proposal for updated 2.0 progress logger
  nemo/lightning/pytorch/callbacks/__init__.py
  nemo/lightning/pytorch/callbacks/progress_bar.py
  nemo/lightning/pytorch/callbacks/progress_printer.py
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#10153 Use parallelism config in fabric strategy
  nemo/lightning/fabric/strategies.py
Labels: Run CICD

#10032 Fix metric logging
  nemo/lightning/_strategy_lib.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  nemo/lightning/pytorch/optim/base.py
  nemo/lightning/pytorch/plugins/data_sampler.py
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#9993 NeMo's Mixtral-8x3B config
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/mixtral.py
Labels: Run CICD

#10090 [NeMo-UX] fix a version bug in `NeMoLogger`
  nemo/lightning/nemo_logger.py
Labels: Run CICD

#10074 Remove max_num_tokens heuristic from test scripts
  nemo/export/trt_llm/qnemo/qnemo_to_tensorrt_llm.py
  tests/deploy/nemo_deploy.py
  tests/export/nemo_export.py
Labels: Run CICD

#10071 Add missing imports for torch dist ckpt in export
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
Labels: Run CICD

#10196 Minor formatting fix
  docs/source/nlp/distillation.rst
Labels: NLP

#10197 tests: Fix L2_Community_vita_Checkpoints_tests_Llama3
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9958 Use packaging & remove pkg_resources
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retro_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/modules/common/megatron/adapters/qlora.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
Labels: NLP, Run CICD

#10141 [Docs] Fixing warnings, focusing on SpeechLLM docs + copy editing
  docs/source/checkpoints/intro.rst
  docs/source/collections.rst
  docs/source/core/core.rst
  docs/source/core/exp_manager.rst
  docs/source/features/mixed_precision.rst
  docs/source/features/moe.rst
  docs/source/features/parallelisms.rst
  docs/source/multimodal/mllm/datasets.rst
  docs/source/multimodal/speech_llm/configs.rst
  docs/source/multimodal/speech_llm/intro.rst
  docs/source/starthere/fundamentals.rst
  examples/multimodal/speech_llm/README.md
  nemo/collections/asr/data/audio_to_text_lhotse_prompted.py
  nemo/collections/asr/parts/submodules/multitask_beam_decoding.py
  nemo/collections/asr/parts/submodules/multitask_greedy_decoding.py
  nemo/collections/multimodal/speech_llm/data/audio_text_dataset.py
  nemo/collections/multimodal/speech_llm/data/lhotse_dataset.py
  nemo/collections/multimodal/speech_llm/modules/perception_modules.py
Labels: ASR, Multi Modal, Run CICD

#10184 Add Mistral-NeMo 2407 configs
  nemo/collections/llm/gpt/model/mistral.py
Labels: Run CICD

#10205 [NeMo UX] Disable softmax fusion for non-te/non-apex test
  .github/workflows/cicd-main.yml
  examples/llm/megatron_gpt_pretraining.py
Labels: CI, Run CICD

#10046 Enable specifying kwargs to DDPStrategy via config for most models
  examples/asr/asr_ctc/speech_to_text_ctc.py
  examples/asr/asr_ctc/speech_to_text_ctc_bpe.py
  examples/asr/asr_hybrid_transducer_ctc/speech_to_text_hybrid_rnnt_ctc_bpe.py
  examples/asr/asr_hybrid_transducer_ctc/speech_to_text_hybrid_rnnt_ctc_char.py
  examples/asr/asr_transducer/speech_to_text_rnnt.py
  examples/asr/asr_transducer/speech_to_text_rnnt_bpe.py
  examples/asr/asr_with_tts/speech_to_text_bpe_with_text.py
  examples/asr/asr_with_tts/speech_to_text_bpe_with_text_finetune.py
  examples/asr/conf/speech_multitask/fast-conformer_aed.yaml
  examples/asr/speech_multitask/speech_to_text_aed.py
  examples/asr/speech_pretraining/speech_pre_training.py
  examples/asr/speech_to_text_finetune.py
  examples/asr/speech_translation/speech_to_text_transformer.py
  nemo/utils/trainer_utils.py
  tests/utils/test_trainer_utils.py
Labels: ASR, Run CICD

#10204 [NeMo-UX] Set parallelism correctly when using VPP
  nemo/lightning/_strategy_lib.py
Labels: Run CICD

#10129 Akoumparouli/nemo ux precision plugin refactor
  nemo/lightning/fabric/plugins.py
  nemo/lightning/pytorch/plugins/mixed_precision.py
  nemo/lightning/pytorch/strategies.py
  tests/lightning/test_precision_plugin.py
Labels: Run CICD

#10000 Add blend dataset in NeVA
  docs/source/multimodal/mllm/sequence_packing.rst
  examples/multimodal/multimodal_llm/neva/conf/neva_config.yaml
  examples/multimodal/multimodal_llm/neva/sequence_packing/preprocess_dataset.py
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/nlp/data/language_modeling/megatron/blendable_dataset.py
  tutorials/multimodal/NeVA Tutorial.ipynb
Labels: NLP, Multi Modal, Run CICD

#10212 Fix train loss broadcasting
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#10187 Precision plugin recipes
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/precision/__init__.py
  nemo/collections/llm/recipes/precision/mixed_precision.py
Labels: Run CICD

#9894 [NeMo-UX] Add LLM and Lightning READMEs
  nemo/collections/llm/README.md
  nemo/lightning/README.md
  nemo/lightning/nemo_logger.py
Labels: Run CICD, audio

#10210 <SFT> <Long Sequence Length> Remove Attention Mask in SFT Chat Dataset
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_chat_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP, Run CICD

#10221 24.07 vboost numbers
  docs/source/performance/performance_summary.md
Labels: Run CICD

#10214 Enable DDP memory optimization by default
  examples/asr/asr_adapters/train_asr_adapter.py
  examples/asr/conf/asr_adapters/asr_adaptation.yaml
  examples/asr/conf/asr_adapters/asr_adaptation_hp.yaml
  examples/asr/conf/asr_finetune/speech_to_text_finetune.yaml
  examples/asr/conf/asr_finetune/speech_to_text_hf_finetune.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_ctc_bpe_streaming.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_ctc_char_streaming.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_transducer_bpe_streaming.yaml
  examples/asr/conf/fastconformer/cache_aware_streaming/fastconformer_transducer_char_streaming.yaml
  examples/asr/conf/fastconformer/fast-conformer_ctc_bpe.yaml
  examples/asr/conf/fastconformer/fast-conformer_transducer_bpe.yaml
  examples/asr/conf/fastconformer/hybrid_cache_aware_streaming/fastconformer_hybrid_transducer_ctc_bpe_streaming.yaml
  examples/asr/conf/fastconformer/hybrid_cache_aware_streaming/fastconformer_hybrid_transducer_ctc_char_streaming.yaml
  examples/asr/conf/fastconformer/hybrid_transducer_ctc/fastconformer_hybrid_transducer_ctc_bpe.yaml
  examples/asr/conf/fastconformer/hybrid_transducer_ctc/fastconformer_hybrid_transducer_ctc_char.yaml
  examples/asr/conf/fastconformer/long_fastconformer/fast-conformer-long_ctc_bpe.yaml
  examples/asr/conf/fastconformer/long_fastconformer/fast-conformer-long_transducer_bpe.yaml
Labels: ASR, Run CICD

#10224 fix mamba convert/ add test
  .github/workflows/cicd-main.yml
  scripts/checkpoint_converters/convert_mamba2_pyt_to_nemo.py
Labels: CI, Run CICD

#10127 Optionally disable logging in the data sampler to support predict_step
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/plugins/data_sampler.py
  tests/collections/llm/test_mnist_model_nemo2.py
Labels: Run CICD

#10216 Set apply_query_key_layer_scaling=False in Llama3Config
  nemo/collections/llm/gpt/model/llama.py
Labels: Run CICD

#10138 [Draft] Nemotron in Nemo-UX
  nemo/collections/llm/__init__.py
  nemo/collections/llm/fn/activation.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/nemotron.py
Labels: Run CICD

#10225 Force `optimizer.param_groups` to match `mcore_optimizer.param_groups`
  nemo/core/optim/mcore_optim.py
Labels: core, Run CICD

#10215 Update TRTLLM 0.12
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/converter/model_converter.py
  nemo/export/trt_llm/qnemo/qnemo_to_tensorrt_llm.py
  nemo/export/trt_llm/tensorrt_llm_build.py
  nemo/export/trt_llm/tensorrt_llm_run.py
  scripts/deploy/nlp/deploy_triton.py
Labels: Run CICD

#10234 Move trt imports in nemo.collections.llm inside respective functions
  nemo/collections/llm/api.py
Labels: Run CICD

#10166 Add MemoryProfileCallback
  nemo/lightning/pytorch/callbacks/__init__.py
  nemo/lightning/pytorch/callbacks/memory_profiler.py
Labels: Run CICD

#10240 Lower bound transformers to support Nemotron
  requirements/requirements_lightning.txt
Labels: Run CICD

#10255 [NeMo-UX[ Move nemotron imports inline
  nemo/collections/llm/gpt/model/nemotron.py
Labels: Run CICD

#10227 Bump `Dockerfile.ci` (2024-08-22)
  .github/workflows/cicd-main.yml
  Dockerfile.ci
Labels: CI, Run CICD

#10245 salm export trtllm
  examples/multimodal/speech_llm/export/README.md
  examples/multimodal/speech_llm/export/conf/salm_export.yaml
  examples/multimodal/speech_llm/export/export_salm.py
  examples/multimodal/speech_llm/export/extract_salm_weights.py
  nemo/deploy/multimodal/query_multimodal.py
  nemo/export/multimodal/build.py
  nemo/export/multimodal/run.py
  nemo/export/tensorrt_mm_exporter.py
  scripts/deploy/multimodal/deploy_triton.py
Labels: Multi Modal, Run CICD

#10250 Bump `Dockerfile.ci` (2024-08-26)
  Dockerfile.ci
Labels: Run CICD

#10266 Bump `Dockerfile.ci` (2024-08-27)
  Dockerfile.ci
Labels: Run CICD

#10267 Load model in the target export precision by default in PTQ
  examples/nlp/language_modeling/conf/megatron_gpt_ptq.yaml
Labels: NLP, Run CICD

#10259 [NeMo-UX] Handle absolute logger directories in nemo_logger
  nemo/lightning/nemo_logger.py
Labels: Run CICD

#10139 Add sdxl notebook
  docs/source/multimodal/text2img/sd.rst
  tutorials/multimodal/SDXL Tutorial.ipynb
Labels: Multi Modal

#10260 Add Llama31 Config
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/llama.py
Labels: Run CICD

#10237 Added offloading support for LoRA adapters
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
Labels: NLP, Run CICD

#10258 Add Qwen2 to Nemo 2
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/qwen2.py
Labels: Run CICD

#10213 Lazy import tokenizers
  examples/nlp/duplex_text_normalization/data/en/data_preprocessing.py
  nemo/collections/common/parts/preprocessing/cleaners.py
  nemo/collections/common/tokenizers/en_ja_tokenizers.py
  nemo/collections/common/tokenizers/indic_tokenizers.py
  nemo/collections/common/tokenizers/moses_tokenizers.py
  nemo/collections/nlp/modules/common/tokenizer_utils.py
  scripts/nlp_language_modeling/niv2/preprocess_niv2.py
  scripts/nlp_language_modeling/t0/t0_dataset_preproc.py
Labels: NLP, common, Run CICD

#10289 add rampup bs documentation (#9884)
  docs/source/nlp/nemo_megatron/intro.rst
  docs/source/nlp/nemo_megatron/rampup_batch_size.rst
Labels: NLP

#10230 Add Starcoder to Nemo 2
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/starcoder.py
  nemo/collections/llm/gpt/model/starcoder2.py
  nemo/lightning/io/state.py
Labels: Run CICD

#10261 Adding a Garbage-collection callback for a synchronized garbage-collection across ALL processes
  nemo/lightning/pytorch/callbacks/__init__.py
  nemo/lightning/pytorch/callbacks/garbage_collection.py
Labels: Run CICD

#10265 Do not overwrite wandb name in NeMo Logger
  nemo/lightning/nemo_logger.py
  tests/lightning/test_nemo_logger.py
Labels: Run CICD

#10278 Bump `Dockerfile.ci` (2024-08-28)
  Dockerfile.ci
  nemo/collections/nlp/modules/common/megatron/utils.py
Labels: NLP, Run CICD

#10107 [TTS] Add config and modules for 22khz and 44khz audio codec
  examples/tts/conf/audio_codec/audio_codec_22050.yaml
  examples/tts/conf/audio_codec/audio_codec_44100.yaml
  nemo/collections/common/parts/utils.py
  nemo/collections/tts/modules/audio_codec_modules.py
Labels: TTS, common, Run CICD

#10226 Add example script to run NeMo 2.0 llama pretraining with NeMo-Run
  examples/llm/run/llama3_pretraining.py
Labels: Run CICD

#9748 Add FSDP for NeMo 2.0
  nemo/lightning/__init__.py
  nemo/lightning/pytorch/strategies/__init__.py
  nemo/lightning/pytorch/strategies/fsdp_strategy.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
  tests/collections/llm/test_mnist_model_nemo2_fsdp.py
Labels: Run CICD

#10096 Export fp8 te nemo to trt-llm
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/converter/model_converter.py
  nemo/export/trt_llm/converter/model_to_trt_llm_ckpt.py
  nemo/export/trt_llm/converter/utils.py
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
  scripts/export/export_to_trt_llm.py
  tests/export/nemo_export.py
Labels: Run CICD

#10297 Bugfix: loading scaling factors for pyt 24.07
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
Labels: Run CICD

#10228 Sanity checks for unfinished checkpoints removal
  nemo/lightning/resume.py
  nemo/utils/exp_manager.py
  tests/core/test_exp_manager.py
  tests/lightning/test_nemo_logger.py
Labels: core, Run CICD

#10273 Allow disabling validation
  nemo/collections/llm/gpt/data/pre_training.py
Labels: Run CICD

#10291 make torch_dist ckpt strategy as default (#9852)
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/lightning/io/pl.py
  nemo/utils/callbacks/dist_ckpt_io.py
Labels: NLP, Run CICD

#10301 TRT-LLM 0.12 + ModelOpt 0.17.0 updates
  nemo/export/quantize/quantizer.py
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/qnemo/qnemo_to_tensorrt_llm.py
Labels: Run CICD

#10290 add documentation for reset_lr feature (#9639)
  docs/source/nlp/nemo_megatron/intro.rst
  docs/source/nlp/nemo_megatron/reset_learning_rate.rst
Labels: NLP

#10282 Disable SP
  scripts/checkpoint_converters/convert_mistral_7b_nemo_to_hf.py
Labels: Run CICD

#10195 ci: Selective triggering
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10311 Bump `Dockerfile.ci` (2024-08-30)
  Dockerfile.ci
Labels: Run CICD

#10244 Log Gradient Norms
  nemo/core/optim/mcore_optim.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: core, Run CICD

#10009 Add support for LoRA on vLLM
  nemo/export/utils/__init__.py
  nemo/export/utils/lora_converter.py
  nemo/export/vllm_exporter.py
  scripts/checkpoint_converters/lora_converters/convert_nemo_to_canonical.py
  scripts/deploy/nlp/deploy_vllm_triton.py
  scripts/deploy/nlp/query.py
Labels: Run CICD

#10308 add back HF Finetune script to CI
  .github/workflows/cicd-main.yml
  examples/asr/conf/asr_finetune/speech_to_text_hf_finetune.yaml
Labels: ASR, CI, Run CICD

#10083 Add Yi 1.5 34b Neva support
  nemo/collections/multimodal/data/neva/conversation.py
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP, Multi Modal, Run CICD

#10316 move to cpu only for log probs
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: ASR, Run CICD

#10242 [NeMo-UX] Don't create attention mask for GPTs
  nemo/collections/llm/gpt/data/mock.py
  nemo/collections/llm/gpt/data/pre_training.py
  nemo/collections/llm/gpt/model/base.py
Labels: Run CICD

#10318 Make get_optim_config iterable
  nemo/lightning/pytorch/plugins/mixed_precision.py
Labels: Run CICD

#10307 Fix llama3 pretraining NeMo 2.0 script
  examples/llm/run/llama3_pretraining.py
Labels: Run CICD
