Repository NVIDIA-NeMo/NeMo, pull requests merged in 2024-03, with the labels that each got.

#8547 Update transcribe calls and remove old notebooks
  tutorials/asr/ASR_for_telephony_speech.ipynb
  tutorials/asr/ASR_with_NeMo.ipynb
  tutorials/asr/ASR_with_Subword_Tokenization.ipynb
  tutorials/asr/Multilang_ASR.ipynb
  tutorials/asr/Offline_ASR.ipynb
  tutorials/asr/README.md
Labels: ASR

#8281 Create causal mask on MCore/TE side
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8554 Doc String fix for documentation update
  nemo/collections/asr/models/label_models.py
  nemo/collections/asr/models/msdd_models.py
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/modules/conv_asr.py
  nemo/collections/asr/modules/rnnt.py
  nemo/collections/asr/parts/mixins/mixins.py
  nemo/collections/asr/parts/mixins/transcription.py
  nemo/collections/asr/parts/submodules/adapters/multi_head_attention_adapter_module.py
  nemo/collections/asr/parts/submodules/ctc_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_beam_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/common/data/dataset.py
  nemo/collections/common/tokenizers/sentencepiece_tokenizer.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  nemo/collections/nlp/modules/common/transformer/text_generation.py
  nemo/core/classes/exportable.py
  nemo/core/classes/mixins/hf_io_mixin.py
  nemo/core/classes/modelPT.py
Labels: core, ASR, NLP, common

#8551 remove the logging of val loss at test time
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#8558 Fix mcore adapter typo
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
Labels: NLP

#8479 PEFT better error message and doc
  examples/nlp/language_modeling/tuning/megatron_gpt_generate.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP

#8580 Fixed missing copy import in rnnt_decoder.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
Labels: ASR

#8587 Fix bug in RNNT Joint WER calculation for fused batch
  nemo/collections/asr/modules/rnnt.py
Labels: ASR

#8557 Fixed Context Parallel HtoD sync
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
Labels: NLP

#8594 Change rope fusion default
  examples/nlp/language_modeling/conf/megatron_falcon_config.yaml
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/conf/megatron_llama_config.yaml
  examples/nlp/language_modeling/conf/megatron_starcoder_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP

#8552 Fix triton import guards
  nemo/collections/nlp/modules/common/megatron/attention.py
Labels: NLP

#8597 Fix ia3 mlp infused adapter
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
Labels: NLP

#8602 Prevent Redundant Gather for LoRA Sequence Parallel
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
Labels: NLP

#8564 Accelerate `transcribe_speech.py` for short-form data: pre-sorting support
  examples/asr/transcribe_speech.py
  nemo/collections/asr/data/audio_to_text_lhotse_prompted.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/parts/mixins/transcription.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: ASR

#8521 Accelerate CTC greedy decoding by around 10%
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/parts/submodules/ctc_greedy_decoding.py
Labels: ASR

#8611 bug fix in transcribe_speech.py [ASR]
  examples/asr/transcribe_speech.py
Labels: ASR

#8574 Remove irrelevant multimodal models in docs
  docs/source/multimodal/mllm/intro.rst
  docs/source/multimodal/nerf/intro.rst
  docs/source/multimodal/text2img/intro.rst
  docs/source/multimodal/vlm/intro.rst
Labels: Multi Modal

#8605 run val only if val dataloader exists
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP

#8030 Upgrade to PTL 2.1 and 2.2
  Jenkinsfile
  examples/nlp/language_modeling/megatron_bart_pretraining.py
  examples/nlp/language_modeling/megatron_change_num_partitions.py
  examples/nlp/language_modeling/megatron_retro_fine_tune.py
  examples/nlp/language_modeling/megatron_retro_mutransfer_pretrain.py
  examples/nlp/language_modeling/megatron_retro_pretraining.py
  examples/nlp/language_modeling/megatron_t5_lm_adaptation_finetune.py
  examples/nlp/language_modeling/megatron_t5_seq2seq_eval.py
  examples/nlp/language_modeling/megatron_t5_seq2seq_finetune.py
  examples/nlp/language_modeling/tuning/megatron_gpt_finetuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  examples/nlp/machine_translation/megatron_nmt_training.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/models/text_to_image/controlnet/controlnet.py
  nemo/collections/multimodal/models/text_to_image/dreambooth/dreambooth.py
  nemo/collections/multimodal/models/text_to_image/imagen/imagen.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/ddpm.py
  nemo/collections/multimodal/models/vision_language_foundation/clip/megatron_clip_models.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retrieval_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_adapter_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_sft_model.py
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/collections/vision/models/megatron_vit_classification_models.py
  nemo/utils/exp_manager.py
  requirements/requirements_lightning.txt
  scripts/nlp_language_modeling/convert_hf_llama_to_nemo.py
  tests/core/test_exp_manager.py
Labels: core, NLP, CI, Multi Modal

#8562 Update results.rst for Canary Inference
  docs/source/asr/results.rst
Labels: ASR

#8614 bug fix in long-form transcription for canary [ASR]
  nemo/collections/asr/parts/utils/streaming_utils.py
Labels: ASR

#8621 Fix LoRA SP no redundant gather + linear_fc1 lora logic
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
Labels: NLP

#8630 Set precision None in megatron_ckpt_to_nemo.py
  examples/nlp/language_modeling/megatron_ckpt_to_nemo.py
Labels: NLP

#8629 Minor Updates to GPT Training Documentation Example
  docs/source/nlp/nemo_megatron/gpt/gpt_training.rst
Labels: NLP

#8639 Fix for relative file paths when presort_manifest==True
  examples/asr/transcribe_speech.py
Labels: ASR

#8638 Fix Gemma activation function
  examples/nlp/language_modeling/conf/megatron_gemma_config.yaml
Labels: NLP

#8444 AMMO Integration with Llama2 Post-Training Quantization Example and Tests
  Dockerfile
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_llama_quantization.yaml
  examples/nlp/language_modeling/megatron_llama_quantization.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/export/__init__.py
  nemo/export/quantize/__init__.py
  nemo/export/quantize/quantizer.py
  nemo/utils/distributed.py
  nemo/utils/model_utils.py
  tests/setup/__main__.py
  tests/setup/data/create_sample_jsonl.py
  tests/setup/models/create_hf_model.py
Labels: NLP, CI

#8513 fix FIM RNG issue
  Jenkinsfile
  nemo/collections/nlp/data/language_modeling/megatron/gpt_fim_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, CI

#8640 Add support to perform "inference-only" without loading training data
  nemo/collections/nlp/models/information_retrieval/megatron_sbert_model.py
Labels: NLP

#8462 Add ASR context-biasing tutorial
  nemo/collections/asr/parts/context_biasing/context_graph_ctc.py
  tutorials/asr/ASR_Context_Biasing.ipynb
  tutorials/asr/README.md
Labels: ASR

#8661 Update for robust manifest loading
  nemo/collections/asr/parts/utils/manifest_utils.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  nemo/collections/common/parts/preprocessing/manifest.py
Labels: ASR, common

#8654 fix the eval dataloader
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#8643 add mcore updates
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/data/language_modeling/megatron/gpt_fim_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, CI

#8653 Rearranged the order of asr models
  docs/source/asr/examples/kinyarwanda_asr.rst
  docs/source/asr/models.rst
Labels: ASR

#8647 Add generic check for dataloader_iter with PTL 2.2
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_sft_model.py
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
Labels: NLP

#8671 Docs updates: compress NeMo core, add ASR Model spotlight
  docs/source/asr/asr_all.bib
  docs/source/asr/intro.rst
  docs/source/asr/models.rst
  docs/source/core/core.rst
  docs/source/core/core_index.rst
  docs/source/core/neural_modules.rst
  docs/source/index.rst
  docs/source/nlp/models.rst
Labels: ASR, NLP

#8641 Add option to write nemo model as loose files from megatron_ckpt_to_nemo.py
  examples/nlp/language_modeling/megatron_ckpt_to_nemo.py
Labels: NLP

#8675 Update embedded HF space to be Canary
  docs/source/asr/intro.rst
Labels: ASR

#8660 EP docs
  docs/source/nlp/nemo_megatron/gpt/gpt_training.rst
  docs/source/nlp/nemo_megatron/images/ep.png
  docs/source/nlp/nemo_megatron/parallelisms.rst
Labels: NLP

#8680 Fix Jenkinsfile
  Jenkinsfile
Labels: CI

#8633 Change answer only loss default to true
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_generate_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_generate_config.yaml
Labels: NLP

#8664 Update PEFT doc
  docs/source/nlp/nemo_megatron/peft/landing_page.rst
  docs/source/nlp/nemo_megatron/peft/supported_methods.rst
Labels: NLP

#8651 Enable Pipeline Parallelism for P-Tuning
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP

#8677 Enable IA3 for Gemma and Starcoder
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/nlp/parts/peft_config.py
Labels: NLP

#8674 bug fix for avg metric
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#8632 Expert parallelism support
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/modules/common/megatron/utils.py
  nemo/core/optim/optimizer_with_main_params.py
Labels: core, NLP, CI

#8684 Fix Transcription data classes for Python 3.11
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/classification_models.py
Labels: ASR

#8648 tn language suport matrix update
  docs/source/nlp/text_normalization/wfst/wfst_text_normalization.rst
Labels: NLP

#8685 Various docs fixes: typos, changing urls to relative links
  docs/source/asr/api.rst
  docs/source/asr/asr_all.bib
  docs/source/asr/asr_language_modeling_and_customization.rst
  docs/source/asr/examples/kinyarwanda_asr.rst
  docs/source/asr/intro.rst
  docs/source/asr/models.rst
  docs/source/core/core.rst
  docs/source/multimodal/mllm/configs.rst
  docs/source/multimodal/vlm/configs.rst
  docs/source/nlp/nemo_megatron/intro.rst
  docs/source/nlp/punctuation_and_capitalization_lexical_audio.rst
  docs/source/nlp/text_normalization/wfst/wfst_resources.rst
  docs/source/nlp/text_normalization/wfst/wfst_text_normalization.rst
  docs/source/starthere/intro.rst
  docs/source/tools/nemo_forced_aligner.rst
  docs/source/tools/speech_data_explorer.rst
  docs/source/tts/configs.rst
Labels: TTS, ASR, NLP, Multi Modal

#8679 injecting text_field when not present in manifest in AED models transcribe fn[ASR]
  nemo/collections/asr/models/aed_multitask_models.py
Labels: ASR

#8662 Support dumping nbest into manifest in ASR
  examples/asr/transcribe_speech.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: ASR

#8686 Chatglm pr update
  examples/nlp/language_modeling/conf/megatron_chatglm_config.yaml
  examples/nlp/language_modeling/conf/megatron_chatglm_inference.yaml
  nemo/collections/common/tokenizers/huggingface/auto_tokenizer.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/tokenizer_utils.py
  scripts/nlp_language_modeling/convert_chatglm_hf_to_nemo.py
  scripts/nlp_language_modeling/convert_chatglm_nemo_to_hf.py
Labels: NLP, common

#8166 Github Actions CICD init
  .github/actions/cancel-workflow/action.yml
  .github/workflows/cicd-main.yml
Labels: CI

#8699 Github Actions CICD init - Part 2
  .github/workflows/cicd-main.yml
Labels: CI

#8696 llm embeddings minor bug fix
  nemo/collections/nlp/models/information_retrieval/megatron_gpt_embedding_model.py
Labels: NLP

#8703 Fix for get_all_params_for_weight_decay_optimization
  nemo/collections/nlp/modules/common/megatron/utils.py
Labels: NLP

#8663 Disable CustomProgressBar when trainer.enable_progress_bar is False
  examples/nlp/language_modeling/megatron_bart_pretraining.py
  examples/nlp/language_modeling/megatron_gpt_continue_training.py
  examples/nlp/language_modeling/megatron_gpt_eval.py
  examples/nlp/language_modeling/megatron_retro_cal_shape.py
  examples/nlp/language_modeling/megatron_retro_fine_tune.py
  examples/nlp/language_modeling/megatron_retro_mutransfer_pretrain.py
  examples/nlp/language_modeling/megatron_retro_pretraining.py
  examples/nlp/language_modeling/megatron_t5_lm_adaptation_finetune.py
  examples/nlp/language_modeling/megatron_t5_seq2seq_finetune.py
  examples/nlp/language_modeling/tuning/megatron_gpt_sft.py
  nemo/collections/nlp/parts/megatron_trainer_builder.py
Labels: NLP

#8177 onnx export for G2P models
  nemo/collections/tts/g2p/models/ctc.py
  nemo/collections/tts/g2p/models/t5.py
Labels: TTS

#8689 add fsdp fix for tp > 1
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#8705 [Nemo CICD] Github Actions CICD init - Part 3: Unique container name per workflow run
  .github/workflows/cicd-main.yml
Labels: CI

#8700 Add torch_dist_ckpt support
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, CI

#8701 Quantization fixes
  Jenkinsfile
  examples/nlp/language_modeling/conf/megatron_llama_quantization.yaml
  examples/nlp/language_modeling/megatron_llama_quantization.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/export/quantize/quantizer.py
  nemo/utils/model_utils.py
Labels: NLP, CI

#8713 Fix expert model parallel rank issue with TP specified
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
Labels: NLP

#8530 SC2 Conversion scripts
  examples/nlp/language_modeling/conf/megatron_starcoder2_config.yaml
  scripts/checkpoint_converters/convert_starcoder2_hf_to_nemo.py
  scripts/checkpoint_converters/convert_starcoder2_nemo_to_hf.py
Labels: NLP

#8715 llm embeddings with position encoding models
  nemo/collections/nlp/data/information_retrieval/gpt_embedding_dataset.py
Labels: NLP

#8721 Fix transcribe for hybrid ctc rnnt model
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
Labels: ASR

#8724 [Nemo CICD] mcore install update to fix bug
  .github/workflows/cicd-main.yml
Labels: CI

#8729 Pagaray/nemo cicd part5
  .github/workflows/cicd-main.yml
Labels: CI

#8720 Add guards for mcore imports [GPT FIM]
  nemo/collections/nlp/data/language_modeling/megatron/gpt_fim_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#8732 AED transcribe bug fix[ASR]
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/modules/transformer/transformer_generators.py
Labels: ASR

#8722 Fix pickle issue for CLIP training
  nemo/collections/multimodal/data/clip/clip_dataset.py
Labels: Multi Modal

#8725 fix for CP
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#8480 Fix PTL2.2 saving multiple `*-last.ckpt` checkpoints in resumed training
  nemo/utils/callbacks/nemo_model_checkpoint.py
  tests/core/test_exp_manager.py
Labels: core

#8717 Fix the nsys profiling step condition
  nemo/core/classes/modelPT.py
Labels: bug

#8560 Update webdataset
  Jenkinsfile
  nemo/collections/asr/data/audio_to_label.py
  nemo/collections/asr/data/audio_to_text.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/parts/preprocessing/perturb.py
  nemo/collections/multimodal/speech_cv/data/video_to_text.py
  nemo/collections/nlp/data/language_modeling/l2r_lm_dataset.py
  nemo/collections/nlp/data/language_modeling/sentence_dataset.py
  nemo/collections/nlp/data/machine_translation/machine_translation_dataset.py
  nemo/collections/nlp/data/spellchecking_asr_customization/dataset.py
  nemo/collections/nlp/data/text_normalization/decoder_dataset.py
  nemo/collections/nlp/data/token_classification/punctuation_capitalization_tarred_dataset.py
  nemo/collections/tts/data/vocoder_dataset.py
  nemo/utils/distributed.py
  nemo/utils/exp_manager.py
  requirements/requirements_lightning.txt
  tests/collections/asr/test_asr_datasets.py
Labels: TTS, ASR, NLP, CI, Multi Modal

#8667 add mcore support for bert embedding models
  Jenkinsfile
  docs/source/nlp/information_retrieval.rst
  examples/nlp/information_retrieval/conf/megatron_bert_embedding_config.yaml
  examples/nlp/information_retrieval/megatron_bert_embedding_finetuning.py
  examples/nlp/language_modeling/conf/megatron_bert_config.yaml
  nemo/collections/nlp/data/information_retrieval/bert_embedding_dataset.py
  nemo/collections/nlp/models/information_retrieval/bert_embedding_model.py
  nemo/collections/nlp/models/information_retrieval/megatron_bert_embedding_model.py
  nemo/collections/nlp/models/language_modeling/megatron/bert/__init__.py
  nemo/collections/nlp/models/language_modeling/megatron/bert/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron/bert/bert_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  scripts/checkpoint_converters/convert_bert_hf_to_nemo.py
Labels: NLP, CI

#8758 Get rid of some docs warnings (for title underline and code-block spacing)
  docs/source/asr/asr_language_modeling_and_customization.rst
  docs/source/asr/results.rst
Labels: ASR

#8694 Reduce system memory usage during checkpoint loading/saving
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/optim/distributed_adam.py
Labels: core, NLP

#8763 Pagaray/nemo cicd part7
  .github/workflows/cicd-main.yml
Labels: CI
