Repository NVIDIA-NeMo/NeMo, pull requests merged in 2024-10, with the labels that each got.

#10687 Revert "Cherry pick `Updating modelopt spec for Mixtral (10660)` into `r2.0.0`"
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
Labels: NLP, Run CICD

#10683 Multimodal conversation format dataloading
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/data/lhotse/dataloader.py
  nemo/collections/common/data/lhotse/text_adapters.py
  tests/collections/common/test_lhotse_multimodal_dataloading.py
Labels: common

#10701 a few fixes for the new prompt template based dataloader and lora+distributed fused adam
  nemo/collections/common/data/lhotse/dataloader.py
  nemo/collections/common/prompts/gemma.py
  nemo/collections/common/prompts/llama.py
  nemo/collections/multimodal/speech_llm/data/build_dataset.py
  nemo/collections/multimodal/speech_llm/data/lhotse_dataset.py
  nemo/collections/multimodal/speech_llm/models/modular_models.py
  nemo/collections/multimodal/speech_llm/parts/mixins/adapter_mixin.py
  nemo/collections/multimodal/speech_llm/parts/utils/data_utils.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP, common, Multi Modal

#10669 Update NeVA Mixtral Tutorial
  tutorials/multimodal/NeVA Mixtral Tutorial.ipynb
Labels: Multi Modal, Run CICD, r2.0.0

#10707 [McoreDistOptim] fix the naming to match apex.dist
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#10708 ci: Restore docker cache
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10651 [fix] Ensures disabling exp_manager with exp_manager=null does not error
  nemo/collections/common/metrics/perf_metrics.py
  nemo/collections/nlp/parts/megatron_trainer_builder.py
Labels: NLP, common, Run CICD

#10652 [feat] Update get_model_parallel_src_rank to support tp-pp-dp ordering
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP, Run CICD

#10654 feat: Migrate GPTSession refit path in Nemo export to ModelRunner for Aligner
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/converter/utils.py
  nemo/export/trt_llm/tensorrt_llm_build.py
  nemo/export/trt_llm/tensorrt_llm_run.py
Labels: Run CICD

#10655 NeMo 2.0 mixtral ci test
  .github/workflows/cicd-main.yml
  tests/collections/llm/megatron_mixtral_pretraining.py
Labels: CI, Run CICD

#10722 Cherrypick 10300
  Dockerfile.ci
  examples/llm/pretrain/README.md
  examples/llm/pretrain/custom_recipe.py
  examples/llm/pretrain/default_executor.py
  examples/llm/pretrain/pretrain.ipynb
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/starcoder.py
  nemo/collections/llm/gpt/model/starcoder2.py
  nemo/collections/llm/recipes/ADD-RECIPE.md
  nemo/collections/llm/recipes/README.md
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_70b_16k.py
  nemo/collections/llm/recipes/llama3_70b_64k.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/llama3_8b_16k.py
  nemo/collections/llm/recipes/llama3_8b_64k.py
  nemo/collections/llm/recipes/log/__init__.py
  nemo/collections/llm/recipes/log/default.py
  nemo/collections/llm/recipes/mistral.py
  nemo/collections/llm/recipes/mixtral_8x22b.py
  nemo/collections/llm/recipes/mixtral_8x3b.py
  nemo/collections/llm/recipes/mixtral_8x3b_16k.py
  nemo/collections/llm/recipes/mixtral_8x3b_64k.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  nemo/collections/llm/recipes/mixtral_8x7b_16k.py
  nemo/collections/llm/recipes/mixtral_8x7b_64k.py
  nemo/collections/llm/recipes/optim/__init__.py
  nemo/collections/llm/recipes/optim/adam.py
  nemo/collections/llm/recipes/precision/__init__.py
  nemo/collections/llm/recipes/precision/mixed_precision.py
  requirements/requirements.txt
  scripts/llm/llama3_pretraining.py
  setup.py
  tests/collections/llm/recipes/__init__.py
  tests/collections/llm/recipes/test_llama3_70b.py
  tests/collections/llm/recipes/test_llama3_70b_16k.py
  tests/collections/llm/recipes/test_llama3_70b_64k.py
  tests/collections/llm/recipes/test_llama3_8b.py
  tests/collections/llm/recipes/test_llama3_8b_16k.py
  tests/collections/llm/recipes/test_llama3_8b_64k.py
  tests/collections/llm/recipes/test_mistral.py
  tests/collections/llm/recipes/test_mixtral_8x22b.py
  tests/collections/llm/recipes/test_mixtral_8x3b.py
  tests/collections/llm/recipes/test_mixtral_8x3b_16k.py
  tests/collections/llm/recipes/test_mixtral_8x3b_64k.py
  tests/collections/llm/recipes/test_mixtral_8x7b.py
  tests/collections/llm/recipes/test_mixtral_8x7b_16k.py
  tests/collections/llm/recipes/test_mixtral_8x7b_64k.py
  tests/lightning/_fabric/__init__.py
  tests/lightning/_fabric/test_conversion.py
Labels: Run CICD, r2.0.0

#10698 In-framework inference fixes
  nemo/deploy/nlp/megatronllm_deployable.py
Labels: Run CICD, r2.0.0

#10695 ci: Add workflow for scheduled VM reboot
  .github/workflows/node-reboot.yml
Labels: CI

#10727 Bump `Dockerfile.ci` (2024-10-03)
  Dockerfile.ci
Labels: Run CICD

#10742 Fix typo in ASR RNNT BPE model
  nemo/collections/asr/models/rnnt_bpe_models.py
Labels: ASR, r2.0.0

#10729 remove rm -rf /home/TestData and use /tmp instead
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10703 Remove finetuning recipes for Long Context
  nemo/collections/llm/recipes/llama3_70b_16k.py
  nemo/collections/llm/recipes/llama3_70b_64k.py
  nemo/collections/llm/recipes/llama3_8b_16k.py
  nemo/collections/llm/recipes/llama3_8b_64k.py
  nemo/collections/llm/recipes/mixtral_8x3b_16k.py
  nemo/collections/llm/recipes/mixtral_8x3b_64k.py
  nemo/collections/llm/recipes/mixtral_8x7b_16k.py
  nemo/collections/llm/recipes/mixtral_8x7b_64k.py
Labels: Run CICD, r2.0.0

#10587 Akoumparouli/nemo ux cherrypick 10363
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_70b_16k.py
  nemo/collections/llm/recipes/llama3_70b_64k.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/mixtral_8x3b.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/core/classes/modelPT.py
  nemo/core/optim/mcore_optim.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/optim/megatron.py
Labels: core, NLP, Run CICD, r2.0.0

#10724 Cherrypick 10470
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  tests/lightning/test_nemo_resume_from_ckpt.py
Labels: Run CICD, r2.0.0

#10726 Cherrypick 10457
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD, r2.0.0

#10737 ci(slack): Fix job pagination
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10684 Cherry pick `Akoumparouli/fix get tokenizer list (10596)` into `r2.0.0`
  .github/workflows/cicd-main.yml
  nemo/collections/nlp/modules/common/lm_utils.py
  nemo/collections/nlp/modules/common/megatron/__init__.py
  nemo/collections/nlp/modules/common/tokenizer_utils.py
Labels: NLP, CI, Run CICD

#10751 remove rm -rf /home/TestData and use /tmp instead (#10729)
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10358 Update to PT24.07 in Dockerfile.ci
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  tests/collections/common/test_metrics.py
Labels: CI, Run CICD, r2.0.0

#10740 TestEncDecMultiTaskModel for canary parallel
  nemo/collections/asr/models/aed_multitask_models.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
Labels: ASR, Run CICD

#10731 Cherry pick `In-framework inference fixes (10698)` into `r2.0.0`
  nemo/deploy/nlp/megatronllm_deployable.py
Labels: Run CICD

#10757 ci: Apply hotfix to `Nemo_CICD_Test`
  .github/workflows/cicd-main.yml
Labels: CI

#10735 ci: Improve caching and image retention
  .github/workflows/cicd-main.yml
  Dockerfile.ci
Labels: CI, Run CICD

#10705 Cherry pick `Update NeVA Mixtral Tutorial (10669)` into `r2.0.0`
  tutorials/multimodal/NeVA Mixtral Tutorial.ipynb
Labels: Multi Modal, Run CICD

#9597 Fix semi_sorted paper link
  docs/source/asr/datasets.rst
  nemo/collections/asr/parts/utils/asr_batching.py
  nemo/core/classes/common.py
Labels: core, ASR

#10743 Cherry pick `Fix typo in ASR RNNT BPE model (10742)` into `r2.0.0`
  nemo/collections/asr/models/rnnt_bpe_models.py
Labels: ASR, Run CICD

#10754 Bump `Dockerfile.ci` (2024-10-04)
  Dockerfile.ci
Labels: Run CICD

#10641 Akoumparouli/nemo ux test fixes
  tests/lightning/test_dist_ckpt.py
  tests/lightning/test_nemo_resume_from_ckpt.py
  tests/lightning/test_state_restoration.py
Labels: Run CICD, r2.0.0

#10746 Cherry pick `Remove finetuning recipes for Long Context (10703)` into `r2.0.0`
  nemo/collections/llm/recipes/llama3_70b_16k.py
  nemo/collections/llm/recipes/llama3_70b_64k.py
  nemo/collections/llm/recipes/llama3_8b_16k.py
  nemo/collections/llm/recipes/llama3_8b_64k.py
  nemo/collections/llm/recipes/mixtral_8x3b_16k.py
  nemo/collections/llm/recipes/mixtral_8x3b_64k.py
  nemo/collections/llm/recipes/mixtral_8x7b_16k.py
  nemo/collections/llm/recipes/mixtral_8x7b_64k.py
  tests/collections/llm/recipes/test_llama3_70b_16k.py
  tests/collections/llm/recipes/test_llama3_70b_64k.py
  tests/collections/llm/recipes/test_llama3_8b_16k.py
  tests/collections/llm/recipes/test_llama3_8b_64k.py
  tests/collections/llm/recipes/test_mixtral_8x7b_16k.py
  tests/collections/llm/recipes/test_mixtral_8x7b_64k.py
  tests/lightning/test_nemo_run.py
Labels: Run CICD

#10756 ci: Fix `Nemo_CICD_Test` step
  .github/workflows/cicd-main.yml
Labels: CI

#10667 Revert always_save_context to False
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
Labels: Run CICD

#10700 add diffusion energon dataloader
  nemo/collections/diffusion/__init__.py
  nemo/collections/diffusion/data/__init__.py
  nemo/collections/diffusion/data/diffusion_energon_datamodule.py
  nemo/collections/diffusion/data/diffusion_taskencoder.py
Labels: CI, Run CICD

#10760 Cherry pick `Vllm 0.6.0 integration test (10697)` into `r2.0.0`
  nemo/export/vllm/model_config.py
  nemo/export/vllm/model_loader.py
  nemo/export/vllm/tokenizer_group.py
  nemo/export/vllm_exporter.py
  tests/export/nemo_export.py
Labels: Run CICD

#10445 Packed Sequence [NeMo 2]
  nemo/collections/llm/gpt/data/core.py
  nemo/collections/llm/gpt/data/dolly.py
  nemo/collections/llm/gpt/data/fine_tuning.py
  nemo/collections/llm/gpt/data/packed_sequence.py
  nemo/collections/llm/gpt/data/squad.py
  nemo/collections/llm/gpt/model/base.py
Labels: Run CICD

#10761 Akoumparouli/nemo ux test fixes (#10641)
  tests/lightning/test_dist_ckpt.py
  tests/lightning/test_nemo_resume_from_ckpt.py
  tests/lightning/test_state_restoration.py
Labels: Run CICD

#10753 SP=off
  nemo/collections/llm/recipes/mixtral_8x3b.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  tests/collections/llm/recipes/test_mixtral_8x3b.py
  tests/collections/llm/recipes/test_mixtral_8x7b.py
Labels: Run CICD

#10647 Checkpoint connector bugfixes
  nemo/lightning/ckpt_utils.py
  nemo/lightning/io/connector.py
  nemo/lightning/io/pl.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  nemo/utils/model_utils.py
Labels: Run CICD, r2.0.0

#10768 Bump `Dockerfile.ci` (2024-10-05)
  Dockerfile.ci
Labels: Run CICD

#10739 ci: Re-instantiate optional tests
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10774 ci: Fix broken notifications
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10744 Fix load nemo issue in Multimodal TRTLLM
  nemo/export/multimodal/build.py
Labels: Run CICD, r2.0.0

#10776 Bump `Dockerfile.ci` (2024-10-05)
  Dockerfile.ci
Labels: Run CICD

#10778 Bump `Dockerfile.ci` (2024-10-06)
  Dockerfile.ci
Labels: Run CICD

#10537 Update convert_llava_nemo_to_hf.py
  scripts/checkpoint_converters/convert_llava_nemo_to_hf.py
Labels: Run CICD

#10775 ci: Add cherry-pick label to cherry-picks
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#10773 ci: Cleanup required tests
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10748 [MCoreDistOptim] Add assertions for McoreDistOptim and fix fp8 arg specs
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#10764 remove 8x3b recipes
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/mixtral_8x3b.py
  nemo/collections/llm/recipes/mixtral_8x3b_16k.py
  nemo/collections/llm/recipes/mixtral_8x3b_64k.py
  tests/collections/llm/recipes/test_mixtral_8x3b.py
  tests/collections/llm/recipes/test_mixtral_8x3b_16k.py
  tests/collections/llm/recipes/test_mixtral_8x3b_64k.py
  tests/lightning/test_nemo_run.py
Labels: Run CICD, r2.0.0

#10783 remove 8x3b recipes (#10764)
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/mixtral_8x3b.py
  nemo/collections/llm/recipes/mixtral_8x3b_16k.py
  nemo/collections/llm/recipes/mixtral_8x3b_64k.py
  tests/collections/llm/recipes/test_mixtral_8x3b.py
  tests/collections/llm/recipes/test_mixtral_8x3b_16k.py
  tests/collections/llm/recipes/test_mixtral_8x3b_64k.py
  tests/lightning/test_nemo_run.py
Labels: cherry-pick, Run CICD

#10789 Bump `Dockerfile.ci` (2024-10-08)
  Dockerfile.ci
Labels: Run CICD

#10800 Update mamba.rst after dist ckpt addition
  tutorials/llm/mamba/mamba.rst
Labels: documentation, r2.0.0

#10581 fix chunked infer
  examples/asr/asr_chunked_inference/aed/speech_to_text_aed_chunked_infer.py
  examples/asr/asr_chunked_inference/ctc/speech_to_text_buffered_infer_ctc.py
  examples/asr/asr_chunked_inference/rnnt/speech_to_text_buffered_infer_rnnt.py
Labels: stale, ASR, Run CICD

#10728 Fix error raising logic in model import
  nemo/lightning/io/state.py
Labels: Run CICD

#10786 use ckpt_to_weights_subdir in restore
  nemo/lightning/ckpt_utils.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD, r2.0.0

#10704 Mixtral set seq_length=4k
  nemo/collections/llm/recipes/mixtral_8x22b.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  tests/collections/llm/recipes/test_mixtral_8x22b.py
  tests/collections/llm/recipes/test_mixtral_8x7b.py
Labels: Run CICD

#10792 Fix for crashes with tensorboard_logger=false and VP + LoRA
  nemo/collections/common/metrics/perf_metrics.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP, common, Run CICD

#10645 Disable checkpoint conversion inside AutoResume
  nemo/collections/llm/recipes/finetune_default.py
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/mistral.py
  nemo/collections/llm/recipes/mixtral_8x22b.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  nemo/collections/llm/recipes/nemotron3_8b.py
  nemo/collections/llm/recipes/nemotron4_340b.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/resume.py
  tests/collections/llm/recipes/test_llama3_70b.py
  tests/collections/llm/recipes/test_llama3_8b.py
  tests/collections/llm/recipes/test_mistral.py
  tests/collections/llm/recipes/test_mixtral_8x22b.py
  tests/collections/llm/recipes/test_mixtral_8x7b.py
  tests/collections/llm/recipes/test_nemotron3_8b.py
  tests/collections/llm/recipes/test_nemotron4_340b.py
Labels: Run CICD, r2.0.0

#10807 Cherrypick #10208
  nemo/collections/llm/recipes/precision/mixed_precision.py
  nemo/lightning/pytorch/plugins/mixed_precision.py
Labels: Run CICD, r2.0.0

#10725 Fix gradient clipping mistral
  nemo/collections/llm/recipes/mistral.py
Labels: Run CICD

#10236 Param and Grad Debug Logger
  nemo/lightning/pytorch/callbacks/__init__.py
  nemo/lightning/pytorch/callbacks/debugging.py
  requirements/requirements_nlp.txt
  tests/collections/llm/megatron_gpt_pretraining.py
Labels: Run CICD

#10813 ci: Fix successful notification
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10696 Cherry pick 10559 and 10555
  nemo/collections/asr/parts/submodules/tdnn_attention.py
  nemo/utils/exp_manager.py
Labels: Run CICD

#10819 ci: Disable workflow
  .github/workflows/node-reboot.yml
Labels: CI

#10822 move exp_dir to tmp; use 2 layers
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10815 Alit/r2 cherry pick
  Dockerfile.ci
  nemo/lightning/ckpt_utils.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  requirements/requirements_nlp.txt
Labels: cherry-pick, Run CICD

#10817 ci: Teardown of container
  .github/workflows/_test_template.yml
Labels: CI, Run CICD

#10816 Revert making test optional
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10811 Fix model importer
  nemo/collections/llm/gpt/model/baichuan.py
  nemo/collections/llm/gpt/model/chatglm.py
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/mistral.py
  nemo/collections/llm/gpt/model/nemotron.py
  nemo/collections/llm/gpt/model/qwen2.py
  nemo/collections/llm/gpt/model/starcoder2.py
  nemo/collections/vlm/neva/model/llava.py
  nemo/lightning/io/state.py
Labels: Run CICD, r2.0.0

#10812 Don't store defaults in IOMixin
  nemo/lightning/io/mixin.py
Labels: Run CICD

#10716 Adding NeMo 2.0 T5 finetuning (on Squad dataset)
  .github/workflows/cicd-main.yml
  nemo/collections/llm/t5/data/__init__.py
  nemo/collections/llm/t5/data/core.py
  nemo/collections/llm/t5/data/fine_tuning.py
  nemo/collections/llm/t5/data/squad.py
  nemo/collections/llm/t5/model/t5.py
  tests/collections/llm/megatron_t5_finetuning.py
Labels: CI, Run CICD

#10298 Low-frame rate Speech Codec Implementation
  examples/tts/conf/audio_codec/audio_codec_low_frame_rate_22050.yaml
  nemo/collections/tts/modules/audio_codec_modules.py
  tutorials/tts/Audio_Codec_Training.ipynb
Labels: TTS, Run CICD

#10810 [NeMo-UX] Support LoRA when TE and Apex are not installed
  nemo/collections/llm/peft/lora.py
Labels: Run CICD

#10829 Add missing copyright headers
  tests/collections/llm/megatron_gpt_pretraining.py
  tests/collections/llm/megatron_mixtral_pretraining.py
  tests/collections/llm/megatron_t5_pretraining.py
Labels: Run CICD

#10823 Fix LoRA merge script
  scripts/nlp_language_modeling/merge_lora_weights/conf/merge_lora_weights.yaml
  scripts/nlp_language_modeling/merge_lora_weights/merge.py
Labels: Run CICD

#10732 Moving steps to MegatronParallel to improve UX for Fabric
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD

#10833 Adding setup_megatron_optimizer to FabricMegatronStrategy
  nemo/lightning/_strategy_lib.py
  nemo/lightning/fabric/fabric.py
  nemo/lightning/fabric/strategies.py
  nemo/lightning/pytorch/optim/megatron.py
Labels: Run CICD

#10692 mixtral bitexact ci test
  .github/workflows/cicd-main.yml
  tests/collections/llm/bitexact/mixtral/compare_ckpts.py
  tests/collections/llm/bitexact/mixtral/pretrain_mini_mixtral.py
  tests/collections/llm/bitexact/mixtral/run.sh
Labels: CI, Run CICD

#10835 Make FabricMegatronMixedPrecision match MegatronMixedPrecision
  nemo/lightning/fabric/plugins.py
Labels: Run CICD

#10836 NeVA tutorial updates
  examples/multimodal/multimodal_llm/neva/conf/neva_config.yaml
  tutorials/multimodal/NeVA Mixtral Tutorial.ipynb
Labels: Multi Modal, Run CICD, r2.0.0

#10847 Fix VPP bug in MegatronStep
  nemo/lightning/megatron_parallel.py
Labels: Run CICD

#10741 allow cudnn fa
  examples/llm/pretrain/default_executor.py
  scripts/llm/llama3_pretraining.py
Labels: Run CICD

#10762 ub configs (for performance)
  nemo/collections/llm/recipes/tp_overlap_configs/userbuffers.py
Labels: Run CICD, r2.0.0

#10855 ci: Teardown of container (#10817)
  .github/workflows/_test_template.yml
Labels: CI, Run CICD

#10850 Augmenting NeMo 2.0 LoRA implementation
  nemo/collections/llm/peft/lora.py
Labels: Run CICD

#10632 Add CI tests for SFT/PEFT
  .github/workflows/cicd-main.yml
  nemo/lightning/ckpt_utils.py
  nemo/lightning/io/artifact/file.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  nemo/lightning/resume.py
  tests/collections/llm/gpt_finetuning.py
Labels: CI, Run CICD

#10840 [Cherry pick #10811] fix model import
  nemo/collections/llm/gpt/model/baichuan.py
  nemo/collections/llm/gpt/model/chatglm.py
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/mistral.py
  nemo/collections/llm/gpt/model/nemotron.py
  nemo/collections/llm/gpt/model/qwen2.py
  nemo/collections/llm/gpt/model/starcoder2.py
  nemo/collections/vlm/neva/model/llava.py
  nemo/lightning/io/state.py
Labels: cherry-pick, Run CICD

#10837 Expose drop_last in MegatronDataSampler
  nemo/lightning/pytorch/plugins/data_sampler.py
Labels: Run CICD

#10852 [nemo-ux] fix param gather overlap
  nemo/lightning/_strategy_lib.py
  nemo/lightning/megatron_parallel.py
Labels: Run CICD, r2.0.0

#10866 ci: Use Slack group
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#10859 Update experiment dir to /tmp in CI tests
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10843 Diffusion Transformer Training Pipeline
  nemo/collections/diffusion/data/diffusion_energon_datamodule.py
  nemo/collections/diffusion/data/diffusion_taskencoder.py
  nemo/collections/diffusion/models/__init__.py
  nemo/collections/diffusion/models/dit/__init__.py
  nemo/collections/diffusion/models/dit/dit_embeddings.py
  nemo/collections/diffusion/models/dit/dit_layer_spec.py
  nemo/collections/diffusion/models/dit/dit_model.py
  nemo/collections/diffusion/models/dit_llama/__init__.py
  nemo/collections/diffusion/models/dit_llama/dit_llama_layer_spec.py
  nemo/collections/diffusion/models/dit_llama/dit_llama_model.py
  nemo/collections/diffusion/models/model.py
  nemo/collections/diffusion/readme.rst
  nemo/collections/diffusion/sampler/__init__.py
  nemo/collections/diffusion/sampler/batch_ops.py
  nemo/collections/diffusion/sampler/context_parallel.py
  nemo/collections/diffusion/sampler/edm/__init__.py
  nemo/collections/diffusion/sampler/edm/edm.py
  nemo/collections/diffusion/sampler/edm/edm_pipeline.py
  nemo/collections/diffusion/scripts/train.sh
  nemo/collections/diffusion/train.py
  nemo/collections/diffusion/vae/__init__.py
  nemo/collections/diffusion/vae/diffusers_vae.py
Labels: Run CICD

#10536 Random read for tarr files in lhotse dataloaders
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/data/lhotse/dataloader.py
  nemo/collections/common/data/lhotse/nemo_adapters.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: common, Run CICD

#10841 training code for hybrid-autoregressive inference model
  nemo/collections/asr/modules/rnnt.py
Labels: ASR, Run CICD

#10871 Bump `Dockerfile.ci` (2024-10-14)
  Dockerfile.ci
Labels: Run CICD

#10685 Cherry pick `DB tutorial ckpt path update (10662)` into `r2.0.0`
  tutorials/multimodal/Multimodal Data Preparation.ipynb
Labels: cherry-pick, Multi Modal, Run CICD, r2.0.0

#10860 Use trainer.local_rank/global_rank
  nemo/lightning/nemo_logger.py
Labels: Run CICD, r2.0.0

#10524 remove stacking operation from batched functions
  nemo/collections/asr/modules/rnnt.py
  nemo/collections/asr/modules/rnnt_abstract.py
  nemo/collections/asr/parts/submodules/rnnt_beam_decoding.py
Labels: ASR, Run CICD

#10471 [NeMo-UX] Add llm.generate to nemo.collections.llm
  nemo/collections/llm/__init__.py
  nemo/collections/llm/api.py
  nemo/collections/llm/inference/__init__.py
  nemo/collections/llm/inference/base.py
  scripts/llm/llama3_generate.py
Labels: Run CICD, r2.0.0

#10879 Adding support for LightningDataModule inside Fabric-API
  nemo/collections/llm/t5/model/t5.py
  nemo/core/optim/mcore_optim.py
  nemo/lightning/fabric/fabric.py
  nemo/lightning/fabric/plugins.py
  nemo/lightning/fabric/strategies.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/plugins/data_sampler.py
Labels: core, Run CICD

#10765 Save yaml config for model in nemo.lightning.io
  nemo/lightning/io/connector.py
  nemo/lightning/io/mixin.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  tests/lightning/_io/artifacts/model.yaml
  tests/lightning/_io/test_api.py
Labels: Run CICD, r2.0.0

#10886 r2.0.0 to Pytorch 24.07
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  tests/collections/common/test_metrics.py
Labels: Run CICD

#10877 Move collectiob.nlp imports inline for t5
  nemo/collections/llm/t5/model/t5.py
Labels: Run CICD

#10842 add world_size/pp_size runtime check
  nemo/lightning/_strategy_lib.py
  tests/lightning/test_strategy_lib.py
Labels: Run CICD

#10887 Fix peft resume
  nemo/lightning/resume.py
Labels: Run CICD

#10128 Akoumparouli/nemo ux moe loss logging
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD

#10867 cherrypick-10852
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/optim/megatron.py
Labels: Run CICD

#10853 enable vboost and set LM SM margin
  nemo/lightning/run/plugins.py
Labels: Run CICD, r2.0.0

#10608 use _get_extra_te_kwargs_meta in fabric (call mcore's _get_extra_te_k…
  nemo/lightning/fabric/strategies.py
Labels: Run CICD

#9590 Use torch sdpa implementation in ASR mha
  examples/asr/conf/fastconformer/fast-conformer_ctc_bpe.yaml
  examples/asr/conf/fastconformer/fast-conformer_transducer_bpe.yaml
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/parts/submodules/adapters/multi_head_attention_adapter_module.py
  nemo/collections/asr/parts/submodules/conformer_modules.py
  nemo/collections/asr/parts/submodules/multi_head_attention.py
  tests/collections/asr/mixins/adapters/test_asr_adapter_modules.py
  tests/collections/asr/test_conformer_encoder.py
Labels: ASR, Run CICD, audio

#10881 Cherry pick `Use trainer.local_rank/global_rank (10860)` into `r2.0.0`
  nemo/lightning/nemo_logger.py
Labels: cherry-pick, Run CICD

#10848 Cherry pick `NeVA tutorial updates (10836)` into `r2.0.0`
  examples/multimodal/multimodal_llm/neva/conf/neva_config.yaml
  tutorials/multimodal/NeVA Mixtral Tutorial.ipynb
Labels: cherry-pick, Multi Modal, Run CICD

#10861 Add registry to register all needed classes with artifacts in nemo.lightning.io
  nemo/collections/common/parts/run_utils.py
  nemo/collections/llm/__init__.py
  nemo/collections/llm/t5/model/t5.py
  nemo/lightning/io/__init__.py
  nemo/lightning/io/api.py
  nemo/lightning/io/registry.py
Labels: common, Run CICD, r2.0.0

#10809 Disable checkpoint conversion inside AutoResume - cherry-pick (10645)
  nemo/collections/llm/README.md
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/finetune_default.py
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/mistral.py
  nemo/collections/llm/recipes/mixtral_8x22b.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  nemo/collections/llm/recipes/nemotron.py
  nemo/collections/llm/recipes/nemotron3_4b.py
  nemo/collections/llm/recipes/nemotron3_8b.py
  nemo/collections/llm/recipes/nemotron4_15b.py
  nemo/collections/llm/recipes/nemotron4_15b_16k.py
  nemo/collections/llm/recipes/nemotron4_15b_64k.py
  nemo/collections/llm/recipes/nemotron4_22b.py
  nemo/collections/llm/recipes/nemotron4_22b_16k.py
  nemo/collections/llm/recipes/nemotron4_22b_64k.py
  nemo/collections/llm/recipes/nemotron4_340b.py
  nemo/collections/llm/recipes/optim/adam.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/resume.py
  tests/collections/llm/recipes/test_llama3_70b.py
  tests/collections/llm/recipes/test_llama3_8b.py
  tests/collections/llm/recipes/test_mistral.py
  tests/collections/llm/recipes/test_mixtral_8x22b.py
  tests/collections/llm/recipes/test_mixtral_8x7b.py
  tests/collections/llm/recipes/test_nemotron.py
  tests/collections/llm/recipes/test_nemotron3_4b.py
  tests/collections/llm/recipes/test_nemotron3_8b.py
  tests/collections/llm/recipes/test_nemotron4_15b.py
  tests/collections/llm/recipes/test_nemotron4_15b_16k.py
  tests/collections/llm/recipes/test_nemotron4_15b_64k.py
  tests/collections/llm/recipes/test_nemotron4_22b.py
  tests/collections/llm/recipes/test_nemotron4_22b_16k.py
  tests/collections/llm/recipes/test_nemotron4_22b_64k.py
  tests/collections/llm/recipes/test_nemotron4_340b.py
Labels: Run CICD

#10862 [Cherry pick #10632] add SFT/PEFT CI tests and fix checkpointing
  .github/workflows/cicd-main.yml
  nemo/lightning/ckpt_utils.py
  nemo/lightning/io/artifact/file.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: cherry-pick, CI, Run CICD

#10885 call __post_init__ after altering config values
  nemo/lightning/_strategy_lib.py
  tests/collections/llm/bitexact/mixtral/pretrain_mini_mixtral.py
  tests/collections/llm/bitexact/mixtral/run.sh
  tests/collections/llm/megatron_mixtral_pretraining.py
  tests/lightning/test_strategy_lib.py
Labels: Run CICD, r2.0.0

#10891 Nemo 2.0 ckpt support in TRT-LLM export
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/converter/model_to_trt_llm_ckpt.py
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
Labels: Run CICD, r2.0.0

#10171 [Docs] Fix doc warnings, focus on feature and multimodal sections
  docs/source/asr/asr_language_modeling_and_customization.rst
  docs/source/conf.py
  docs/source/features/optimizations/activation_recomputation.rst
  docs/source/features/optimizations/sequence_packing.rst
  docs/source/multimodal/api.rst
  docs/source/multimodal/mm_all.bib
  docs/source/multimodal/nerf/dreamfusion.rst
  docs/source/multimodal/speech_llm/intro.rst
  docs/source/multimodal/text2img/insp2p.rst
  docs/source/multimodal/text2img/sdxl_quantization.rst
  docs/source/nlp/models.rst
  docs/source/nlp/nemo_megatron/gpt/gpt_training.rst
  docs/source/nlp/nemo_megatron/intro.rst
  docs/source/nlp/token_classification.rst
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/models/text_to_image/controlnet/controlnet.py
  nemo/collections/multimodal/models/text_to_image/dreambooth/dreambooth.py
  nemo/collections/multimodal/models/text_to_image/imagen/imagen.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/diffusion_engine.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/ddpm.py
  nemo/collections/multimodal/models/vision_language_foundation/clip/megatron_clip_models.py
Labels: ASR, NLP, Multi Modal, Run CICD

#10202 calculate step time batch end-batch end
  nemo/utils/exp_manager.py
Labels: Run CICD

#10912 Late import prettytable
  nemo/lightning/pytorch/callbacks/debugging.py
Labels: Run CICD

#10919 Bump `Dockerfile.ci` (2024-10-17)
  Dockerfile.ci
Labels: Run CICD

#10906 Warning for missing FP8 checkpoint support for vLLM deployment
  nemo/export/vllm_exporter.py
Labels: Run CICD, r2.0.0

#10794 Fix ASR tests
  .github/workflows/cicd-main.yml
  nemo/collections/asr/parts/submodules/cuda_graph_rnnt_greedy_decoding.py
  tests/collections/asr/decoding/test_cuda_graph_rnnt_greedy_decoding.py
  tests/collections/asr/decoding/test_rnnt_alignments.py
Labels: ASR, CI, Run CICD

#10238 Integrating mcore export
  nemo/export/tensorrt_llm.py
Labels: Run CICD

#10914 Fix artifact saving
  nemo/lightning/io/mixin.py
Labels: Run CICD, r2.0.0

#10918 Lora improvement
  nemo/collections/llm/peft/lora.py
  nemo/lightning/pytorch/callbacks/peft.py
Labels: Run CICD

#10710 Support `tie_word_embeddings=True` in `convert_mistral_7b_nemo_to_hf.py`
  scripts/checkpoint_converters/convert_mistral_7b_nemo_to_hf.py
Labels: Run CICD

#10784 long context performance numbers in doc
  docs/source/performance/performance_long_sequence.md
Labels: Run CICD

#10923 Mechanism to insert BOS/EOS at the beginning/end of dialog
  nemo/collections/common/prompts/formatter.py
  nemo/collections/common/prompts/gemma.py
  nemo/collections/common/prompts/llama.py
  tests/collections/common/prompt_formatters/test_gemma_prompt_formatter.py
Labels: common

#10945 ci: Fix cherry pick team
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#10898 Packed sequence bug fixes
  .github/workflows/cicd-main.yml
  nemo/collections/llm/gpt/data/dolly.py
  nemo/collections/llm/gpt/data/fine_tuning.py
  nemo/collections/llm/gpt/data/packed_sequence.py
  nemo/collections/llm/gpt/data/squad.py
  nemo/collections/nlp/data/language_modeling/text_memmap_dataset.py
  tests/collections/llm/gpt_finetuning.py
Labels: NLP, CI, Run CICD

#10930 Fix requirements for MacOS
  requirements/requirements_multimodal.txt
  requirements/requirements_nlp.txt
Labels: Run CICD

#10915 Fix nemo 2.0 recipes
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_70b_16k.py
  nemo/collections/llm/recipes/llama3_70b_64k.py
  nemo/collections/llm/recipes/llama3_8b_16k.py
  nemo/collections/llm/recipes/llama3_8b_64k.py
  nemo/collections/llm/recipes/mixtral_8x7b_16k.py
  nemo/collections/llm/recipes/mixtral_8x7b_64k.py
  nemo/collections/llm/recipes/nemotron4_15b_16k.py
  nemo/collections/llm/recipes/nemotron4_15b_64k.py
  nemo/collections/llm/recipes/nemotron4_22b.py
  nemo/collections/llm/recipes/nemotron4_22b_16k.py
  nemo/collections/llm/recipes/nemotron4_22b_64k.py
  nemo/collections/llm/recipes/nemotron4_340b.py
  tests/collections/llm/recipes/test_llama3_70b.py
  tests/collections/llm/recipes/test_llama3_70b_16k.py
  tests/collections/llm/recipes/test_llama3_70b_64k.py
  tests/collections/llm/recipes/test_llama3_8b_16k.py
  tests/collections/llm/recipes/test_llama3_8b_64k.py
  tests/collections/llm/recipes/test_mixtral_8x7b_16k.py
  tests/collections/llm/recipes/test_mixtral_8x7b_64k.py
  tests/collections/llm/recipes/test_nemotron4_15b_16k.py
  tests/collections/llm/recipes/test_nemotron4_15b_64k.py
  tests/collections/llm/recipes/test_nemotron4_22b_16k.py
  tests/collections/llm/recipes/test_nemotron4_22b_64k.py
Labels: Run CICD

#10936 Akoumparouli/nemo ux fix dir or string artifact
  nemo/lightning/io/artifact/base.py
  nemo/lightning/io/artifact/file.py
  nemo/lightning/io/mixin.py
  tests/collections/llm/megatron_t5_pretraining.py
Labels: Run CICD

#10878 ckpt convert bug fixes
  examples/nlp/language_modeling/megatron_ckpt_to_nemo.py
  scripts/checkpoint_converters/convert_zarr_to_torch_dist.py
Labels: NLP, Run CICD

#10910 Cherry-Pick Save yaml config for model in nemo.lightning.io (#10765)
  nemo/lightning/io/connector.py
  nemo/lightning/io/mixin.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  nemo/lightning/resume.py
  tests/lightning/io/artifacts/model.yaml
  tests/lightning/io/test_api.py
Labels: Run CICD

#10922 remove deprecated ci tests
  .github/workflows/cicd-main.yml
  examples/nlp/duplex_text_normalization/README.md
  examples/nlp/token_classification/README.md
  tutorials/nlp/Joint_Intent_and_Slot_Classification.ipynb
Labels: NLP, CI, Run CICD

#10960 [Nemo CICD] Remove deprecated tests
  .github/workflows/cicd-main.yml
Labels: CI

#10785 Adithyare/oai chat completion
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_finetuning_config.yaml
  nemo/collections/nlp/modules/common/text_generation_server.py
Labels: NLP, Run CICD

#10952 Restore NeMo 2.0 T5 pretraining CICD test
  tests/collections/llm/megatron_t5_pretraining.py
Labels: Run CICD

#10947 Convert perf plugin env vars to strings
  nemo/lightning/run/plugins.py
Labels: Run CICD, r2.0.0

#10961 disable dynamo for ddp checker
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#10965 Bump `Dockerfile.ci` (2024-10-21)
  Dockerfile.ci
Labels: Run CICD

#10925 Cherry pick `Warning for missing FP8 checkpoint support for vLLM deployment (10906)` into `r2.0.0`
  nemo/export/vllm_exporter.py
Labels: cherry-pick, Run CICD

#10584 Make nemo text processing optional in TTS
  nemo/collections/tts/data/dataset.py
  nemo/collections/tts/models/aligner.py
  nemo/collections/tts/models/base.py
  nemo/collections/tts/models/fastpitch.py
  nemo/collections/tts/models/mixer_tts.py
  nemo/collections/tts/models/radtts.py
  nemo/collections/tts/models/tacotron2.py
  nemo/collections/tts/models/vits.py
Labels: TTS, Run CICD

#10953 respect warnings' filters
  nemo/utils/nemo_logging.py
Labels: Run CICD
