Repository NVIDIA-NeMo/NeMo, pull requests merged in 2024-06, with the labels that each got.

#9204 Fix incorrect checkpoint removal logic (#9192)
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: stale, NLP, Run CICD

#9206 Prompt formatter API and canary transcribe tensor input support
  examples/asr/transcribe_speech.py
  nemo/collections/asr/data/audio_to_text.py
  nemo/collections/asr/data/audio_to_text_lhotse_prompted.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/parts/mixins/transcription.py
  nemo/collections/asr/parts/utils/streaming_utils.py
  nemo/collections/common/prompts/__init__.py
  nemo/collections/common/prompts/canary.py
  nemo/collections/common/prompts/example.py
  nemo/collections/common/prompts/formatter.py
  nemo/collections/common/prompts/gemma.py
  nemo/collections/common/prompts/llama.py
  nemo/collections/common/prompts/mistral.py
  nemo/collections/common/prompts/phi2.py
  nemo/collections/common/tokenizers/aggregate_tokenizer.py
  nemo/collections/common/tokenizers/canary_tokenizer.py
  nemo/collections/common/tokenizers/sentencepiece_tokenizer.py
  tests/collections/__init__.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
  tests/collections/asr/test_custom_tokenizer.py
  tests/collections/common/prompt_formatters/conftest.py
  tests/collections/common/prompt_formatters/test_canary_prompt_formatter.py
  tests/collections/common/prompt_formatters/test_gemma_prompt_formatter.py
  tests/collections/common/prompt_formatters/test_llama2_prompt_formatter.py
  tests/collections/common/prompt_formatters/test_mistral_prompt_formatter.py
  tests/collections/common/prompt_formatters/test_prompt_formatter_api.py
Labels: ASR, common, Run CICD

#9355 support null/None truncation field
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
Labels: NLP, Run CICD

#9364 [Nemo CICD] Remove unnecessary commented out code
  .github/workflows/cicd-main.yml
Labels: CI

#9245 NeVa token fusion
  examples/multimodal/multimodal_llm/neva/conf/llava_config.yaml
  examples/multimodal/multimodal_llm/neva/conf/neva_config.yaml
  examples/multimodal/multimodal_llm/neva/conf/neva_peft.yaml
  examples/multimodal/multimodal_llm/neva/conf/video_neva_config.yaml
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/multimodal/parts/utils.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
Labels: NLP, Multi Modal, Run CICD

#9366 Fix prompt formatter's defaults=None case in multi-task model
  nemo/collections/asr/models/aed_multitask_models.py
Labels: ASR

#9365 Update Gemma conversion script
  scripts/checkpoint_converters/convert_gemma_jax_to_nemo.py
  scripts/checkpoint_converters/convert_gemma_pyt_to_nemo.py
Labels: Run CICD

#9369 Fix conv1d package in r2.0.0rc0
  requirements/requirements_nlp.txt
Labels: core, TTS, ASR, NLP, Speaker Tasks, CI, common, Multi Modal

#9350 Fix GreedyBatchedCTCInfer regression from GreedyCTCInfer. (#9347)
  README.rst
  nemo/collections/asr/parts/submodules/ctc_greedy_decoding.py
  tests/collections/asr/confidence/test_asr_confidence.py
  tests/collections/asr/decoding/test_ctc_decoding.py
Labels: ASR, Run CICD

#9367 move AED chunked infer script
  examples/asr/asr_chunked_inference/README.md
  examples/asr/asr_chunked_inference/aed/speech_to_text_aed_chunked_infer.py
Labels: ASR

#9377 Make a backward compatibility for old MSDD configs in label models
  nemo/collections/asr/models/label_models.py
Labels: ASR

#9380 Force diarizer to use CUDA if cuda is available and if device=None.
  nemo/collections/asr/models/clustering_diarizer.py
Labels: ASR, Run CICD

#9376 fix fp16 precision issue
  .github/workflows/cicd-main.yml
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP, CI, Run CICD

#9356 bugfix if using mcore distOpt with sft
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retro_model.py
Labels: NLP, Run CICD

#9370 fix typo infer_seq_lenght -> infer_seq_length
  nemo/lightning/megatron_parallel.py
Labels: Run CICD

#9324 ci: Properly catch failed tests by introduction of workflow templates
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9384 Huvu/rag pipeline citest
  .github/workflows/cicd-main.yml
  Dockerfile.ci
Labels: CI, Run CICD

#9353 Re-org export code
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/converter/__init__.py
  nemo/export/trt_llm/converter/model_converter.py
  nemo/export/trt_llm/converter/model_to_trt_llm_ckpt.py
  nemo/export/trt_llm/converter/utils.py
  nemo/export/trt_llm/nemo/nemo.py
  nemo/export/trt_llm/nemo/nemo_ckpt_convert.py
  nemo/export/trt_llm/nemo_ckpt_loader/__init__.py
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
  nemo/export/trt_llm/nemo_ckpt_loader/sentencepiece_tokenizer.py
  nemo/export/trt_llm/qnemo/tokenizer_utils.py
  nemo/export/trt_llm/tensorrt_llm_build.py
  nemo/export/trt_llm/tensorrt_llm_run.py
Labels: NLP, Run CICD

#9399 ci: Fix `L2_Segmentation_Tool_Parallel_ctc_segmentation_test_L2_Eng_C…
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9185 Add HF siglip vision encoder
  examples/multimodal/multimodal_llm/neva/sequence_packing/preprocess_dataset.py
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/parts/utils.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP, Multi Modal, Run CICD

#9407 [Nemo CICD] timeouts fix
  .github/workflows/cicd-main.yml
Labels: CI

#9389 [NeMo-UX] Removing un-used ModelConfig class
  nemo/collections/llm/gpt/model/base.py
  nemo/lightning/base.py
Labels: Run CICD

#9169 Extend multimodal/speech_llm with lhotse, t5 and bestow supports
  examples/multimodal/speech_llm/conf/bestow/modular_audio_gpt_config_cross_llama_lhotse.yaml
  examples/multimodal/speech_llm/conf/modular_audio_gpt_config_eval.yaml
  examples/multimodal/speech_llm/conf/salm/modular_audio_gpt_config_llama_lhotse.yaml
  examples/multimodal/speech_llm/conf/salm/modular_audio_t5_config.yaml
  examples/multimodal/speech_llm/modular_audio_gpt_train.py
  nemo/collections/multimodal/speech_llm/data/audio_text_dataset.py
  nemo/collections/multimodal/speech_llm/data/build_dataset.py
  nemo/collections/multimodal/speech_llm/data/lhotse_dataset.py
  nemo/collections/multimodal/speech_llm/models/modular_models.py
  nemo/collections/multimodal/speech_llm/models/modular_t5_models.py
  nemo/collections/multimodal/speech_llm/modules/common/audio_text_generation_strategy.py
  nemo/collections/multimodal/speech_llm/modules/modality_adapters.py
  nemo/collections/multimodal/speech_llm/modules/perception_modules.py
  nemo/collections/multimodal/speech_llm/parts/utils/data_utils.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/modules/common/megatron/utils.py
Labels: NLP, Multi Modal, Run CICD

#8733 Remove unnecessary attention mask
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/core/optim/distributed_adam.py
Labels: core, NLP, Run CICD

#9340 QLoRA
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/nlp_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/qlora.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
  nemo/collections/nlp/parts/peft_config.py
  tests/collections/nlp/test_qlora.py
Labels: NLP, Run CICD

#9359 Add tutorial for Llama-3-8B lora training and deployment
  tutorials/llm/llama-3/README.rst
  tutorials/llm/llama-3/img/e2e-lora-train-and-deploy.png
  tutorials/llm/llama-3/llama3-lora-deploy-nim.ipynb
  tutorials/llm/llama-3/llama3-lora-nemofw.ipynb
Labels: Run CICD

#9401 [NeMo-UX] Removing default_path from ModelConnector
  nemo/collections/llm/gpt/model/mistral_7b.py
  nemo/lightning/io/api.py
Labels: Run CICD

#9392 PeFT fix for distOpt
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP, Run CICD

#9319 [SD] Fix SD CUDA Graph Failure
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/openaimodel.py
Labels: Multi Modal, Run CICD

#9400 [NeMo-UX] Adding file-lock to Connector
  nemo/collections/llm/gpt/model/mistral_7b.py
  nemo/lightning/io/connector.py
Labels: Run CICD

#9387 [NeMo-UX] Integrating mcore's DistributedDataParallel into MegatronStrategy
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#9424 Use TensorRT-LLM native parameter names in nemo.export module
  nemo/deploy/nlp/query_llm.py
  nemo/export/tensorrt_llm.py
  scripts/deploy/nlp/deploy_triton.py
  scripts/deploy/nlp/query.py
  scripts/export/export_to_trt_llm.py
  tests/export/test_nemo_export.py
  tests/infer_data_path.py
Labels: Run CICD

#9194 [NeMo-UX] Adding fn to nemo
  nemo/collections/llm/fn/__init__.py
  nemo/collections/llm/fn/base.py
  nemo/collections/llm/fn/mixin.py
  nemo/collections/llm/gpt/model/base.py
  tests/collections/llm/fn/__init__.py
  tests/collections/llm/fn/test_base.py
  tests/collections/llm/fn/test_mixin.py
Labels: Run CICD

#9411 cherry pick of #9266
  .github/workflows/cicd-main.yml
  examples/nlp/language_modeling/conf/megatron_bert_config.yaml
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/data/dialogue/data_processor/assistant_data_processor.py
  nemo/collections/nlp/data/dialogue/data_processor/data_processor.py
  nemo/collections/nlp/data/dialogue/data_processor/design_data_processor.py
  nemo/collections/nlp/data/dialogue/data_processor/mellon_qa_data_processor.py
  nemo/collections/nlp/data/dialogue/data_processor/ms_marco_data_processor.py
  nemo/collections/nlp/data/dialogue/data_processor/sgd_data_processor.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_bert_dataset.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_gpt_classification_dataset.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_gpt_generation_dataset.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_nearest_neighbour_dataset.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_s2s_generation_dataset.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_zero_shot_intent_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/base_prompt_learning_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_prompt_learning_dataset.py
  nemo/collections/nlp/data/question_answering/dataset/qa_bert_dataset.py
  nemo/collections/nlp/data/question_answering/dataset/qa_dataset.py
  nemo/collections/nlp/data/question_answering/dataset/qa_gpt_dataset.py
  nemo/collections/nlp/data/question_answering/dataset/qa_s2s_dataset.py
  nemo/collections/nlp/data/question_answering_squad/qa_dataset.py
  nemo/collections/nlp/data/spellchecking_asr_customization/bert_example.py
  nemo/collections/nlp/models/dialogue/dialogue_gpt_classification_model.py
  nemo/collections/nlp/models/dialogue/dialogue_gpt_generation_model.py
  nemo/collections/nlp/models/dialogue/dialogue_nearest_neighbour_model.py
  nemo/collections/nlp/models/dialogue/dialogue_s2s_generation_model.py
  nemo/collections/nlp/models/dialogue/dialogue_zero_shot_intent_model.py
  nemo/collections/nlp/models/dialogue/intent_slot_classification_model.py
  nemo/collections/nlp/models/dialogue/sgdqa_model.py
  nemo/collections/nlp/models/entity_linking/entity_linking_model.py
  nemo/collections/nlp/models/glue_benchmark/glue_benchmark_model.py
  nemo/collections/nlp/models/language_modeling/megatron/bert/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/question_answering/qa_base_model.py
  nemo/collections/nlp/models/question_answering/qa_bert_model.py
  nemo/collections/nlp/models/question_answering/qa_gpt_model.py
  nemo/collections/nlp/models/question_answering/qa_model.py
  nemo/collections/nlp/models/question_answering/qa_s2s_model.py
  nemo/collections/nlp/models/spellchecking_asr_customization/spellchecking_model.py
  nemo/utils/decorators/__init__.py
  nemo/utils/decorators/deprecated.py
  tests/collections/nlp/test_dialogue.py
  tests/collections/nlp/test_entity_linking_model.py
  tests/collections/nlp/test_megatron.py
  tests/collections/nlp/test_mem_map_dataset.py
  tests/collections/nlp/test_prompt_learning.py
  tests/collections/nlp/test_qna.py
  tests/collections/nlp/test_question_answering.py
  tests/collections/nlp/test_spellchecking_asr_customization.py
  tutorials/nlp/Dialogue.ipynb
  tutorials/nlp/Entity_Linking_Medical.ipynb
  tutorials/nlp/GLUE_Benchmark.ipynb
  tutorials/nlp/MegatronBert_export.ipynb
  tutorials/nlp/Question_Answering.ipynb
  tutorials/nlp/SpellMapper_English_ASR_Customization.ipynb
Labels: NLP, CI, Run CICD

#9430 Add Dev Container Bug Report
  .github/ISSUE_TEMPLATE/dev_container_bug_report.md
Labels: CI

#9423 Enable specifying alpha for PTQ INT8 SmoothQuant method
  examples/nlp/language_modeling/conf/megatron_quantization.yaml
  nemo/export/quantize/quantizer.py
Labels: NLP, Run CICD

#9388 add support for new mcore ds features
  .github/workflows/cicd-main.yml
  nemo/collections/nlp/data/language_modeling/megatron/data_samplers.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, CI, Run CICD

#9420 Akoumparouli/profiling docs
  docs/source/core/core.rst
  nemo/core/classes/modelPT.py
Labels: documentation, core, Run CICD

#9396 LoRA for MoE Layer
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/parts/peft_config.py
Labels: NLP, Run CICD

#9412 ci: Enrich notifications
  .github/scripts/slackHelper.sh
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9222 Mistral-7B: apply user's precision to output checkpoint
  scripts/checkpoint_converters/convert_mistral_7b_nemo_to_hf.py
Labels: NLP, Run CICD

#9444 Fix failing RIR unit test with lhotse 1.24+
  tests/collections/common/test_lhotse_dataloading.py
Labels: Run CICD

#9435 [NeMo-UX] Adding support for mcore distributed optimizer
  nemo/collections/llm/gpt/model/base.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/optim.py
  nemo/lightning/pytorch/strategies.py
  tests/lightning/test_megatron_parallel.py
Labels: Run CICD

#9452 Use ModelOpt build_tensorrt_llm for building engines for qnemo checkpoints
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/qnemo/qnemo_to_tensorrt_llm.py
  nemo/export/trt_llm/qnemo/utils.py
Labels: Run CICD

#9450 ci(notifications): Fix extraction of last 2K chars
  .github/workflows/_test_template.yml
Labels: CI, Run CICD

#9414 Add option to merge distributed optimizer buckets
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: feature, NLP, Run CICD

#9402 TRT-LLM 0.10 Update
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/converter/model_converter.py
  nemo/export/trt_llm/converter/model_to_trt_llm_ckpt.py
  nemo/export/trt_llm/tensorrt_llm_build.py
  tests/export/nemo_export.py
  tests/export/run.sh
Labels: NLP, Run CICD

#9438 In-framework deployment
  nemo/deploy/nlp/__init__.py
  nemo/deploy/nlp/megatronllm_deployable.py
  scripts/deploy/nlp/deploy_triton.py
  tests/deploy/pytriton_deploy.py
Labels: NLP, Run CICD

#9461 [NeMo-UX] Add nsys callback
  nemo/lightning/pytorch/callbacks/nsys.py
Labels: Run CICD

#9458 Bugfix missing variables and argument changes to MegatronPretrainingRandomSampler
  nemo/lightning/data.py
Labels: Run CICD

#9454 [NeMo UX] Introducing optimizer module
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/base.py
  nemo/lightning/__init__.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/optim.py
  nemo/lightning/pytorch/opt/__init__.py
  nemo/lightning/pytorch/opt/base.py
  nemo/lightning/pytorch/opt/lr_scheduler.py
  nemo/lightning/pytorch/opt/megatron.py
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#9463 Fix minor import bug in deploy module
  nemo/deploy/nlp/__init__.py
Labels: Run CICD

#9465 ci(notifications): Fetch all jobs
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9264 Hyena Operator
  examples/nlp/language_modeling/conf/megatron_gpt_config_hyena.yaml
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/hyena/README.md
  nemo/collections/nlp/modules/common/hyena/__init__.py
  nemo/collections/nlp/modules/common/hyena/fftconv_wrapper.py
  nemo/collections/nlp/modules/common/hyena/hyena.py
  nemo/collections/nlp/modules/common/hyena/hyena_filter.py
  nemo/collections/nlp/modules/common/hyena/hyena_spec.py
  tests/collections/nlp/test_hyena_operator.py
Labels: NLP, Run CICD

#9467 Update build_dataset.py
  nemo/collections/multimodal/speech_llm/data/build_dataset.py
Labels: Multi Modal

#9469 Fix logging message for ASR
  nemo/collections/asr/modules/audio_preprocessing.py
Labels: ASR

#9475 bionemo: bn2/add pipelineparallel dtype
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#9045 S3 Dirpath + Async Uploading Support for Default Checkpoints
  docs/source/common/intro.rst
  docs/source/common/s3_checkpointing.rst
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/lightning/_strategy_lib.py
  nemo/lightning/pytorch/plugins/data_sampler.py
  nemo/utils/callbacks/nemo_model_checkpoint.py
  nemo/utils/callbacks/s3_checkpoint_io.py
  nemo/utils/exp_manager.py
  nemo/utils/s3_dirpath_utils.py
  nemo/utils/s3_utils.py
Labels: NLP, Run CICD

#9382 move load state dict after initialize parallel state in nlp_model
  nemo/collections/nlp/models/nlp_model.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, Run CICD

#9431 Add python_requires
  setup.py
Labels: Run CICD

#9476 [NeMo-UX] Fixing imports of NeMoLogging, AutoResume & ModelCheckpoint
  nemo/lightning/nemo_logger.py
  nemo/lightning/pytorch/callbacks/megatron_model_checkpoint.py
  nemo/lightning/resume.py
Labels: Run CICD

#9486 [NeMo-UX] Fixing defaults in llm.train & Mistral7BModel
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/mistral_7b.py
  nemo/collections/llm/utils.py
  nemo/lightning/__init__.py
  nemo/lightning/experiment.py
  nemo/lightning/pytorch/opt/__init__.py
  nemo/lightning/pytorch/opt/base.py
  nemo/lightning/pytorch/opt/lr_scheduler.py
  nemo/lightning/pytorch/opt/megatron.py
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#9468 In framework deploy using deploy script
  nemo/deploy/nlp/query_llm.py
  scripts/deploy/nlp/deploy_triton.py
  tests/deploy/nemo_deploy.py
  tests/deploy/pytriton_deploy.py
Labels: Run CICD

#9485 [NeMo-UX] Integrate tokenizer import into model.import_ckpt
  nemo/collections/llm/gpt/model/mistral_7b.py
  nemo/lightning/experiment.py
  nemo/lightning/io/connector.py
  nemo/lightning/io/mixin.py
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#9480 Fix unwrap model
  .github/workflows/cicd-main.yml
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP, CI, Run CICD

#9483 append to file
  nemo/utils/exp_manager.py
Labels: Run CICD

#9492 [NeMo-UX] Fix bug in import_ckpt
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/mistral_7b.py
  nemo/lightning/io/pl.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/opt/base.py
  nemo/lightning/pytorch/opt/megatron.py
  nemo/lightning/pytorch/plugins/data_sampler.py
  nemo/lightning/pytorch/plugins/mixed_precision.py
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#9403 fix operator precedence
  nemo/collections/llm/gpt/model/base.py
Labels: NLP, Run CICD

#9525 [NeMo-UX] Adding context- & expert-parallelism to MegatronStrategy
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#9464 Add CICD test for Stable Diffusion
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9446 Akoumparouli/nemo ux mixtral
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/data/pre_training.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/mixtral.py
  nemo/lightning/io/state.py
Labels: Run CICD

#9345 update mcoreddp call
  Dockerfile
  Dockerfile.ci
  README.rst
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, CI, Run CICD

#9529 [NeMo-UX] minor logging bug fixes
  nemo/lightning/nemo_logger.py
  nemo/lightning/pytorch/callbacks/megatron_model_checkpoint.py
  nemo/utils/app_state.py
Labels: Run CICD

#9535 PL: Delete precision if using plugin. TODO switch to MegatronTrainerB…
  examples/nlp/language_modeling/megatron_gpt_continue_training.py
Labels: NLP, Run CICD

#9526 Add page context fmha option in TensorRTLLM export
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/tensorrt_llm_build.py
Labels: Run CICD

#9532 extend get_gpt_layer_modelopt_spec to support MoE
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#9530 fix mock data generation for legacy dataset
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#9512 [Nemo-UX] IO fixes
  nemo/collections/llm/api.py
  nemo/collections/llm/fn/activation.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/gpt/model/mistral_7b.py
  nemo/collections/llm/gpt/model/mixtral.py
  nemo/lightning/__init__.py
  nemo/lightning/io/__init__.py
  nemo/lightning/io/api.py
  nemo/lightning/io/fdl_torch.py
  nemo/lightning/io/mixin.py
  nemo/lightning/io/pl.py
  nemo/lightning/nemo_logger.py
  nemo/lightning/pytorch/callbacks/megatron_model_checkpoint.py
  nemo/lightning/pytorch/optim/__init__.py
  nemo/lightning/pytorch/optim/base.py
  nemo/lightning/pytorch/optim/lr_scheduler.py
  nemo/lightning/pytorch/optim/megatron.py
  nemo/lightning/pytorch/strategies.py
  tests/lightning/io/test_api.py
Labels: Run CICD

#9544 Test C++ runtime on demand in nemo_export.py to avoid possible OOMs
  tests/export/nemo_export.py
Labels: Run CICD

#9546 Fix lhotse tests for v1.24.2
  nemo/collections/common/data/lhotse/dataloader.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: common, Run CICD

#9551 [Nemo CICD] Make GPU Unit Tests non-optional
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9372 add reset learning rate functionality
  .github/workflows/cicd-main.yml
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/core/optim/lr_scheduler.py
Labels: core, NLP, CI, Run CICD

#9537 Add Python AIStore SDK to container and bump min Lhotse version
  Dockerfile
  requirements/requirements_asr.txt
Labels: CI, Run CICD

#9147 Adding 'use_dynamo' option for export to use onnx.dynamo_export() instead of onnx.export()
  Dockerfile.ci
  nemo/collections/asr/models/asr_model.py
  nemo/collections/asr/models/label_models.py
  nemo/collections/asr/models/msdd_models.py
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/parts/preprocessing/features.py
  nemo/collections/asr/parts/submodules/jasper.py
  nemo/collections/nlp/data/language_modeling/megatron/retro_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
  nemo/collections/tts/modules/transformer.py
  nemo/core/classes/common.py
  nemo/core/classes/exportable.py
  nemo/core/utils/neural_type_utils.py
  nemo/utils/__init__.py
  nemo/utils/cast_utils.py
  nemo/utils/export_utils.py
  tests/collections/nlp/test_nlp_exportables.py
  tests/collections/tts/test_tts_exportables.py
  tutorials/multimodal/Multimodal Data Preparation.ipynb
Labels: core, TTS, ASR, NLP, Multi Modal, Run CICD

#9555 [NeMo-UX] Fix tokenizer IO
  nemo/collections/common/tokenizers/__init__.py
  nemo/collections/llm/__init__.py
  nemo/collections/llm/tokenizer.py
  nemo/lightning/io/__init__.py
  nemo/lightning/io/artifact/__init__.py
  nemo/lightning/io/artifact/base.py
  nemo/lightning/io/artifact/file.py
  nemo/lightning/io/artifact/pickle.py
  nemo/lightning/io/mixin.py
  nemo/lightning/pytorch/callbacks/megatron_model_checkpoint.py
  nemo/lightning/pytorch/callbacks/nsys.py
  tests/lightning/io/test_api.py
Labels: common, Run CICD

#9307 Use closed-formula to round by multiple
  nemo/collections/multimodal/modules/stable_diffusion/encoders/modules.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/lightning/base.py
Labels: cleanup, stale, NLP, Multi Modal, Run CICD

#9556 ci: Do not attempt to send slack on fork
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9547 Fix nemo export test
  tests/export/nemo_export.py
  tests/infer_data_path.py
Labels: Run CICD

#9534 Fix SDXL incorrect name in Docs
  docs/source/starthere/tutorials.rst
Labels: Run CICD

#9559 GPU unit tests: Mark flaky tests to be fixed
  tests/collections/nlp/test_nlp_exportables.py
  tests/collections/tts/test_tts_exportables.py
Labels: TTS, NLP, Run CICD

#9557 Bump PTL version
  requirements/requirements_lightning.txt
Labels: Run CICD

#9473 [Resiliency] Straggler detection
  docs/source/core/exp_manager.rst
  nemo/utils/exp_manager.py
  tests/core/test_straggler_det.py
Labels: feature, core, Run CICD

#9541 [NeMo-UX] Switch to torch_dist as default distributed checkpointing backend
  nemo/lightning/io/pl.py
Labels: Run CICD

#9562 [NeMo-UX] Checkpointing bug fixes
  nemo/lightning/_strategy_lib.py
  nemo/lightning/pytorch/optim/megatron.py
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#9558 Add tps and pps params to the export script
  nemo/export/tensorrt_llm.py
  scripts/deploy/nlp/deploy_triton.py
  scripts/export/export_to_trt_llm.py
  tests/deploy/nemo_deploy.py
  tests/export/nemo_export.py
  tests/export/run.sh
  tests/infer_data_path.py
Labels: Run CICD

#9413 Consolidate gpt continue training script into pretraining script
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  examples/nlp/language_modeling/megatron_gpt_continue_training.py
  examples/nlp/language_modeling/megatron_gpt_pretraining.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, Run CICD

#9542 Add support to change Multi task model prompt
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/common/prompts/canary.py
  nemo/collections/common/prompts/formatter.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
Labels: ASR, common, Run CICD

#9256 Add Multimodal Exporter
  examples/multimodal/multimodal_llm/neva/conf/neva_export.yaml
  examples/multimodal/multimodal_llm/neva/conf/neva_trt_infer.yaml
  examples/multimodal/multimodal_llm/neva/neva_export.py
  examples/multimodal/multimodal_llm/neva/neva_trt_run.py
  nemo/deploy/multimodal/__init__.py
  nemo/deploy/multimodal/query_multimodal.py
  nemo/deploy/utils.py
  nemo/export/multimodal/__init__.py
  nemo/export/multimodal/build.py
  nemo/export/multimodal/run.py
  nemo/export/tensorrt_mm_exporter.py
  scripts/deploy/multimodal/deploy_triton.py
  scripts/deploy/multimodal/query.py
Labels: Multi Modal, Run CICD

#9409 Enable encoder adapters for Canary and MultiTaskAED models
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/modules/transformer/transformer.py
  nemo/collections/asr/modules/transformer/transformer_decoders.py
  nemo/collections/asr/modules/transformer/transformer_encoders.py
  nemo/collections/asr/modules/transformer/transformer_generators.py
  nemo/collections/asr/modules/transformer/transformer_modules.py
  nemo/collections/asr/modules/transformer/transformer_utils.py
  nemo/collections/asr/parts/mixins/asr_adapter_mixins.py
  nemo/collections/asr/parts/submodules/adapters/__init__.py
  nemo/collections/asr/parts/submodules/adapters/attention_adapter_mixin.py
  nemo/collections/asr/parts/submodules/adapters/multi_head_attention_adapter_module.py
  nemo/collections/asr/parts/submodules/adapters/transformer_multi_head_attention_adapter_module.py
  nemo/collections/asr/parts/submodules/conformer_modules.py
  nemo/collections/asr/parts/submodules/rnnt_beam_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/squeezeformer_modules.py
  nemo/collections/asr/parts/utils/adapter_utils.py
  nemo/collections/nlp/modules/common/transformer/transformer_generators.py
  nemo/core/classes/mixins/adapter_mixins.py
  tests/collections/asr/mixins/adapters/test_asr_adapter_mixin.py
  tests/collections/asr/mixins/adapters/test_asr_adapter_modules.py
  tests/core/mixins/adapters/test_adapter_model_mixin.py
Labels: core, ASR, NLP, Run CICD
