Repository NVIDIA-NeMo/NeMo, pull requests merged in 2024-11, with the labels that each got.

#11119 GPT recipes to use full te spec
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/recipes/llama3_70b.py
Labels: Run CICD, r2.0.0

#11123 Cherry pick `fix expert regex filter (11103)` into `r2.0.0`
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
Labels: cherry-pick, Run CICD

#11116 Remove stale checkpoint deletion on checkpoint saving failure
  nemo/lightning/io/pl.py
Labels: Run CICD

#11094 NeMo-UX: Mistral/mixtral peft ci test
  .github/workflows/cicd-main.yml
  tests/collections/llm/lora_mistralai.py
Labels: CI, Run CICD

#11132 Cherry pick 11097 in r2.0.0
  nemo/collections/llm/gpt/data/api.py
Labels: Run CICD

#11086 Feature/conversations tarred
  nemo/collections/common/data/lhotse/text_adapters.py
  scripts/speech_llm/export_conversations_to_tar.py
  tests/collections/common/test_lhotse_multimodal_dataloading.py
Labels: common

#11122 Cherry pick `nemo1 to nemo2 checkpoint convert (10937)` into `r2.0.0`
  nemo/collections/llm/fn/activation.py
  scripts/checkpoint_converters/convert_nemo1_to_nemo2.py
Labels: cherry-pick, Run CICD

#11088 Make nemo.collections.llm PreTrainingDataModule num samples configurable
  nemo/collections/llm/gpt/data/__init__.py
  nemo/collections/llm/gpt/data/pre_training.py
Labels: Run CICD

#11128 Virtual pipeline parallel support for LoRA in NLPAdapterModelMixin
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP, Run CICD, r2.0.0

#11121 Fix packed seq path
  nemo/collections/llm/gpt/data/fine_tuning.py
Labels: Run CICD

#11135 Cherry pick `Virtual pipeline parallel support for LoRA in NLPAdapterModelMixin (11128)` into `r2.0.0`
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: cherry-pick, NLP, Run CICD

#11125 Allow arguments passed to dataset class + Gemma recipe fix
  examples/llm/sft/hf.py
  nemo/collections/llm/gpt/data/dolly.py
  nemo/collections/llm/gpt/data/fine_tuning.py
  nemo/collections/llm/gpt/data/squad.py
  nemo/collections/llm/recipes/gemma2_27b.py
  nemo/collections/llm/recipes/gemma2_2b.py
  nemo/collections/llm/recipes/gemma2_9b.py
  nemo/collections/llm/recipes/gemma_2b.py
  nemo/collections/llm/recipes/gemma_7b.py
  tests/collections/llm/gpt/model/megatron_ssm_finetuning.py
Labels: Run CICD

#11129 Cherry pick `GPT recipes to use full te spec (11119)` into `r2.0.0`
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/recipes/llama3_70b.py
Labels: cherry-pick, Run CICD

#11118 Nemotron Recipe
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/nemotron.py
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/nemotron.py
  nemo/collections/llm/recipes/nemotron3_22b.py
  nemo/collections/llm/recipes/nemotron3_22b_16k.py
  nemo/collections/llm/recipes/nemotron3_22b_64k.py
  nemo/collections/llm/recipes/nemotron3_4b.py
  nemo/collections/llm/recipes/nemotron3_8b.py
  nemo/collections/llm/recipes/nemotron4_15b.py
  nemo/collections/llm/recipes/nemotron4_340b.py
  tests/collections/llm/gpt/model/test_nemotron.py
  tests/collections/llm/recipes/test_nemotron3_22b.py
  tests/collections/llm/recipes/test_nemotron3_22b_16k.py
  tests/collections/llm/recipes/test_nemotron3_22b_64k.py
  tests/collections/llm/recipes/test_nemotron3_8b.py
  tests/collections/llm/recipes/test_nemotron4_340b.py
  tests/lightning/test_nemo_run.py
Labels: Run CICD

#11096 NeMo-UX: HF PeFT fix
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/recipes/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/recipes/optim/adam.py
  nemo/lightning/pytorch/callbacks/peft.py
Labels: Run CICD

#11134 Remove deprecated tests
  .github/workflows/cicd-main.yml
Labels: CI

#11143 ci: Pin release freeze
  .github/workflows/release-freeze.yml
Labels: ASR, CI, Run CICD

#11144 Fix RNN-T loss memory usage
  nemo/collections/asr/parts/numba/rnnt_loss/rnnt_pytorch.py
Labels: ASR, Run CICD

#11127 Recipe Fix for NeMo CI
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/gemma_7b.py
  nemo/collections/llm/recipes/nemotron4_340b.py
  nemo/collections/llm/recipes/starcoder2_15b.py
  nemo/collections/llm/recipes/starcoder_15b.py
Labels: Run CICD

#11124 vLLM Hugging Face exporter
  examples/llm/sft/hf.py
  examples/llm/sft/hf_vllm.py
  nemo/collections/common/tokenizers/huggingface/auto_tokenizer.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/export/vllm_hf_exporter.py
Labels: common, Run CICD

#11138 update nemo args for mcore flash decode arg change
  Dockerfile.ci
  nemo/collections/nlp/models/language_modeling/megatron/bert/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron/falcon/falcon_decoder_layer.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/collections/nlp/models/language_modeling/megatron/griffin/griffin_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
Labels: NLP, Run CICD

#11146 Fix freeze_model call in peft
  nemo/lightning/pytorch/callbacks/peft.py
  tests/lightning/pytorch/callbacks/test_peft.py
Labels: Run CICD

#11159 Bump `Dockerfile.ci` (2024-11-05)
  Dockerfile.ci
Labels: Run CICD

#11157 NeMo-UX: Add sgd optim
  examples/llm/peft/hf.py
  examples/llm/sft/hf.py
  nemo/collections/llm/recipes/optim/adam.py
  nemo/collections/llm/recipes/optim/sgd.py
  nemo/lightning/pytorch/optim/pytorch.py
Labels: Run CICD

#11133 Added deprecation notice
  nemo/collections/asr/data/audio_to_text.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/models/confidence_ensemble.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
Labels: ASR, Run CICD, r2.0.0

#11167 Cherry pick `Added deprecation notice (11133)` into `r2.0.0`
  nemo/collections/asr/data/audio_to_text.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/models/confidence_ensemble.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
Labels: cherry-pick, ASR, Run CICD

#11168 Update copyright check
  .github/workflows/copyright-check.yml
Labels: CI

#10897 Call `ckpt_to_weights_subdir` from `MegatronCheckpointIO`
  nemo/lightning/ckpt_utils.py
  nemo/lightning/fabric/fabric.py
  nemo/lightning/io/connector.py
  nemo/lightning/io/pl.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  nemo/lightning/pytorch/callbacks/peft.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  tests/collections/llm/bitexact/mixtral/run.sh
  tests/collections/llm/megatron_mixtral_pretraining.py
Labels: Run CICD

#10995 Fix export of configuration parameters to Weights and Biases
  nemo/core/classes/modelPT.py
  tests/core/test_save_restore.py
Labels: core, Run CICD

#10991 add lora recipt for 405b
  nemo/collections/llm/recipes/llama31_405b.py
Labels: Run CICD

#11173 Change activation parsing in TRTLLM
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
Labels: Run CICD, r2.0.0

#11175 Cherry pick `Change activation parsing in TRTLLM (11173)` into `r2.0.0`
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
Labels: cherry-pick, Run CICD

#10873 dit training diagrams
  nemo/collections/diffusion/assets/mixed_training.png
  nemo/collections/diffusion/assets/pipeline_conditioning.png
Labels: stale, Run CICD

#11077 ci: Switch to FW templates for build
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
  Dockerfile.ci
Labels: CI, Run CICD

#11174 Bump `Dockerfile.ci` (2024-11-06)
  Dockerfile.ci
Labels: Run CICD

#11147 feat: Run PyLint
  .github/workflows/code-formatting.yml
  .pylintrc
Labels: core, CI, skip-docs

#11186 port tutorial changes from main to r2.0.0
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
Labels: ASR

#11185 Add Alpaca Finetune Datamodule
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/data/__init__.py
  nemo/collections/llm/gpt/data/alpaca.py
Labels: Run CICD

#11192 Fix canary adapters tutorial r2 0 0
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
Labels: ASR

#11191 add ipython import guard
  nemo/collections/asr/parts/utils/vad_utils.py
  tutorials/speaker_tasks/Speaker_Diarization_Inference.ipynb
Labels: ASR, Speaker Tasks, Run CICD, r2.0.0

#11195 add ipython import guard (#11191)
  nemo/collections/asr/parts/utils/vad_utils.py
  tutorials/speaker_tasks/Speaker_Diarization_Inference.ipynb
Labels: ASR, Speaker Tasks

#11194 Add support for Cosmos Tokenizers
  nemo/collections/common/video_tokenizers/README.md
  nemo/collections/common/video_tokenizers/__init__.py
  nemo/collections/common/video_tokenizers/cosmos_tokenizer.py
  nemo/collections/common/video_tokenizers/utils.py
  nemo/collections/diffusion/data/prepare_energon_dataset.py
  nemo/collections/diffusion/data/readme.rst
  nemo/collections/multimodal_autoregressive/__init__.py
  nemo/collections/multimodal_autoregressive/data/README.md
  nemo/collections/multimodal_autoregressive/data/__init__.py
  nemo/collections/multimodal_autoregressive/data/preprocess_coyo_emu3_tokenizer.py
  nemo/collections/multimodal_autoregressive/data/preprocess_pokemon_blip_cosmos_tokenizer.py
  nemo/collections/multimodal_autoregressive/tokenizer/__init__.py
  nemo/collections/multimodal_autoregressive/tokenizer/cosmos_multimodal_tokenizer.py
  nemo/collections/multimodal_autoregressive/tokenizer/cosmos_vision_tokens.txt
  nemo/collections/multimodal_autoregressive/tokenizer/emu3.tiktoken
  nemo/collections/multimodal_autoregressive/tokenizer/special_tokens_map.json
  nemo/collections/multimodal_autoregressive/tokenizer/tokenizer_config.json
  requirements/requirements_common.txt
Labels: common, Run CICD

#11188 Run formatting only if files changed. Echo message if pylint fails.
  .github/workflows/code-formatting.yml
Labels: CI

#11196 Bump `Dockerfile.ci` (2024-11-07)
  Dockerfile.ci
Labels: Run CICD

#11206 Self Supervised Pre-Training tutorial Fix
  tutorials/asr/Self_Supervised_Pre_Training.ipynb
Labels: ASR, r2.0.0

#11210 update the return type
  nemo/collections/asr/parts/utils/vad_utils.py
Labels: ASR, r2.0.0

#11211 Cherry pick `update the return type (11210)` into `r2.0.0`
  nemo/collections/asr/parts/utils/vad_utils.py
Labels: cherry-pick, ASR, Run CICD

#11208 Cherry pick `Self Supervised Pre-Training tutorial Fix (11206)` into `r2.0.0`
  tutorials/asr/Self_Supervised_Pre_Training.ipynb
Labels: cherry-pick, ASR, Run CICD

#11197 Fix rotary_percentage parsing in nemo2 config
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
Labels: Run CICD, skip-docs

#11202 ci: Update cherry pick workflow
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#11183 ci: Build, test, publish a wheel
  .github/workflows/build-test-publish-wheel.yml
Labels: CI

#11219 tutorial fixes specific to r2.0.0
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
Labels: ASR

#11222 Bump `Dockerfile.ci` (2024-11-08)
  Dockerfile.ci
Labels: Run CICD

#11213 update default pipeline_parallelism_type
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD

#11228 check actual value of vocab_file
  scripts/checkpoint_converters/convert_mistral_7b_hf_to_nemo.py
Labels: Run CICD

#11209 Fix VP Initialization Issue with Latest MCore
  nemo/lightning/fabric/strategies.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD, skip-docs

#11212 ci: Run Pylint strictly on new files, softly on history
  .github/workflows/code-formatting.yml
Labels: CI

#11234 fix typo
  docs/source/nlp/nemo_megatron/model_distillation/drop_layers.rst
Labels: NLP

#11180 ci: Add release workflow
  .github/workflows/release-freeze.yml
  .github/workflows/release.yml
Labels: CI

#11217 Fix llm.generate
  nemo/collections/llm/api.py
  nemo/collections/llm/inference/base.py
Labels: Run CICD

#10950 Timestamps to transcribe
  docs/source/asr/intro.rst
  examples/asr/asr_chunked_inference/aed/speech_to_text_aed_chunked_infer.py
  examples/asr/asr_chunked_inference/ctc/speech_to_text_buffered_infer_ctc.py
  examples/asr/asr_chunked_inference/rnnt/speech_to_text_buffered_infer_rnnt.py
  examples/asr/speech_translation/translate_speech.py
  examples/asr/transcribe_speech.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/modules/conv_asr.py
  nemo/collections/asr/parts/mixins/transcription.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/utils/streaming_utils.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  tests/collections/asr/conftest.py
  tests/collections/asr/mixins/test_transcription.py
Labels: ASR, Run CICD

#11247 Bump `Dockerfile.ci` (2024-11-11)
  Dockerfile.ci
Labels: Run CICD

#11254 Bump `Dockerfile.ci` (2024-11-12)
  Dockerfile.ci
Labels: Run CICD

#11187 Fix finetuning datamodule resume
  examples/llm/sft/hf.py
  nemo/collections/llm/gpt/data/fine_tuning.py
Labels: Run CICD

#11229 ci: Move `bump mcore` to templates
  .github/workflows/mcore-tag-bump-bot.yml
Labels: CI

#11205 ci: Fix secrets detector
  .github/workflows/secrets-detector.yml
Labels: CI

#11259 Remove builder_opt param from trtllm-build for TensorRT-LLM >= 0.14.0
  nemo/export/trt_llm/qnemo/qnemo_to_tensorrt_llm.py
Labels: Run CICD

#11260 chore(beep boop 🤖): Bump `MCORE_TAG=aded519...` (2024-11-12)
  Dockerfile.ci
Labels: Run CICD

#11045 [Doc fixes] update file names, installation instructions, bad links
  docs/source/asr/asr_language_modeling_and_customization.rst
  docs/source/asr/intro.rst
  docs/source/core/core.rst
  docs/source/multimodal/mllm/configs.rst
  docs/source/multimodal/text2img/imagen.rst
  docs/source/multimodal/vlm/configs.rst
  docs/source/multimodal/vlm/datasets.rst
  docs/source/nlp/text_normalization/nn_text_normalization.rst
  docs/source/nlp/text_normalization/wfst/wfst_customization.rst
  docs/source/starthere/intro.rst
  docs/source/tools/speech_data_explorer.rst
  docs/source/tts/datasets.rst
  docs/source/vision/configs.rst
Labels: TTS, stale, ASR, NLP, Multi Modal

#11255 fix(export): GPT models w/ bias=False convert properly
  nemo/export/trt_llm/tensorrt_llm_build.py
Labels: Run CICD

#11263 ci: Run secrets detector on `pull_request_target`
  .github/workflows/secrets-detector.yml
Labels: CI

#11246 Advanced Diffusion Training Features
  nemo/collections/diffusion/data/diffusion_energon_datamodule.py
  nemo/collections/diffusion/data/diffusion_fake_datamodule.py
  nemo/collections/diffusion/data/diffusion_taskencoder.py
  nemo/collections/diffusion/models/dit/dit_embeddings.py
  nemo/collections/diffusion/models/dit/dit_layer_spec.py
  nemo/collections/diffusion/models/dit/dit_model.py
  nemo/collections/diffusion/models/dit_llama/dit_llama_layer_spec.py
  nemo/collections/diffusion/models/dit_llama/dit_llama_model.py
  nemo/collections/diffusion/models/model.py
  nemo/collections/diffusion/sampler/edm/edm_pipeline.py
  nemo/collections/diffusion/train.py
Labels: Run CICD

#11091 Update pruning and distillation tutorial notebooks
  tutorials/llm/llama-3/README.rst
  tutorials/llm/llama-3/pruning-distillation/01_data_preparation.ipynb
  tutorials/llm/llama-3/pruning-distillation/02_teacher_finetuning.ipynb
  tutorials/llm/llama-3/pruning-distillation/03_a_depth_pruning.ipynb
  tutorials/llm/llama-3/pruning-distillation/03_b_width_pruning.ipynb
  tutorials/llm/llama-3/pruning-distillation/04_a_distilling_depth_pruned_student.ipynb
  tutorials/llm/llama-3/pruning-distillation/04_b_distilling_width_pruned_student.ipynb
  tutorials/llm/llama-3/pruning-distillation/05_display_results.ipynb
  tutorials/llm/llama-3/pruning-distillation/README.rst
  tutorials/llm/llama-3/pruning-distillation/introduction.ipynb
  tutorials/llm/llama-3/pruning-distillation/llama3-pruning-distillation-nemofw.ipynb
Labels: Run CICD

#11267 Fix Finetune Recipe
  nemo/collections/llm/recipes/gemma_2b.py
  nemo/collections/llm/recipes/starcoder_15b.py
Labels: Run CICD

#11029 Configure no restart validation loop in nl.Trainer
  nemo/collections/llm/api.py
  nemo/lightning/__init__.py
  nemo/lightning/pytorch/trainer.py
Labels: Run CICD, skip-docs

#11199 Handle _io_unflatten_object when _thread_local.output_dir is not available
  nemo/lightning/io/mixin.py
Labels: Run CICD, skip-docs

#11277 Change default ckpt name
  nemo/lightning/nemo_logger.py
  tests/collections/llm/bitexact/mixtral/run.sh
  tests/collections/llm/megatron_mixtral_pretraining.py
  tests/lightning/test_state_restoration.py
Labels: bug, Run CICD

#11274 Use MegatronDataSampler in HfDatasetDataModule
  nemo/collections/llm/gpt/data/hf_dataset.py
Labels: Run CICD

#10909 Remove opencc upperbound
  requirements/requirements_nlp.txt
Labels: Run CICD

#11230 Fix head_size in NeMo to HF checkpoint converters for width pruned model support
  scripts/checkpoint_converters/convert_baichuan2_nemo_to_hf.py
  scripts/checkpoint_converters/convert_chatglm_nemo_to_hf.py
  scripts/checkpoint_converters/convert_llama_nemo_to_hf.py
  scripts/checkpoint_converters/convert_mistral_7b_nemo_to_hf.py
  scripts/checkpoint_converters/convert_mixtral_nemo_to_hf.py
  scripts/checkpoint_converters/convert_qwen2_nemo_to_hf.py
  scripts/checkpoint_converters/convert_starcoder2_nemo_to_hf.py
Labels: Run CICD, skip-docs

#11193 Add T5TTS
  examples/tts/speechllm/conf/megatron_t5_speechllm_inference.yaml
  examples/tts/speechllm/conf/megatron_t5_speechllm_inference_model.yaml
  examples/tts/speechllm/conf/megatron_t5_speechllm_inference_multiencoder.yaml
  examples/tts/speechllm/conf/megatron_t5_speechllm_medium.yaml
  examples/tts/speechllm/conf/megatron_t5_speechllm_multiencoder.yaml
  examples/tts/speechllm/conf/megatron_t5_speechlm_model.yaml
  examples/tts/speechllm/megatron_t5_speechllm.py
  examples/tts/speechllm/megatron_t5_speechllm_inference.py
  nemo/collections/common/parts/preprocessing/collections.py
  nemo/collections/common/parts/preprocessing/manifest.py
  nemo/collections/common/tokenizers/sentencepiece_tokenizer.py
  nemo/collections/nlp/data/language_modeling/megatron/base_prompt_learning_dataset.py
  nemo/collections/nlp/modules/common/megatron/attention.py
  nemo/collections/nlp/modules/common/megatron/megatron_decoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/megatron_encoders.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_decoder.py
  nemo/collections/nlp/modules/common/megatron/megatron_transformer_encoder.py
  nemo/collections/nlp/modules/common/megatron/module.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/modules/common/megatron/utils.py
  nemo/collections/tts/data/speechllm/__init__.py
  nemo/collections/tts/data/speechllm/t5_speechllm_dataset.py
  nemo/collections/tts/data/speechllm/t5_speechllm_tarred_dataset.py
  nemo/collections/tts/g2p/models/zh_cn_pinyin.py
  nemo/collections/tts/models/speechllm/__init__.py
  nemo/collections/tts/models/speechllm/megatron_base_speechllm_prompt_model.py
  nemo/collections/tts/models/speechllm/megatron_t5_speechllm_model.py
  nemo/collections/tts/parts/utils/helpers.py
  nemo/collections/tts/parts/utils/tts_dataset_utils.py
  requirements/requirements_tts.txt
Labels: TTS, NLP, common, Run CICD

#11300 ci: Exclude CPU machines from scan
  .github/workflows/monitor-vms.yml
Labels: CI

#11301 Revert "fix(export): GPT models w/ bias=False convert properly"
  nemo/export/trt_llm/tensorrt_llm_build.py
Labels: Run CICD

#11302 remove redundant docs
  docs/source/nlp/distillation.rst
  docs/source/nlp/nemo_megatron/model_distillation/drop_layers.rst
Labels: NLP

#11281 Create phi3mini.py
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/phi3mini.py
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/phi3_mini_4k_instruct.py
Labels: Run CICD

#10621 Integrate lm-eval-harness for evaluations in NeMo
  nemo/collections/llm/__init__.py
  nemo/collections/llm/api.py
  nemo/collections/llm/deploy/__init__.py
  nemo/collections/llm/deploy/base.py
  nemo/collections/llm/evaluation/__init__.py
  nemo/collections/llm/evaluation/base.py
  nemo/deploy/nlp/query_llm.py
  nemo/deploy/service/rest_model_api.py
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/tensorrt_llm_build.py
  nemo/export/trt_llm/tensorrt_llm_run.py
  scripts/deploy/nlp/deploy_triton.py
Labels: Run CICD

#11286 ci: Fix release workflow
  .github/workflows/release.yml
Labels: CI

#11299 fix perf plugin CUDA_DEVICE_MAX_CONNECTIONS setting
  nemo/lightning/run/plugins.py
Labels: Run CICD

#10984 PTQ via NeMo-Run CLI
  nemo/collections/llm/__init__.py
  nemo/collections/llm/api.py
  nemo/collections/llm/quantization/quantizer.py
Labels: Run CICD, skip-docs

#11257 PTQ memory optimization
  nemo/collections/llm/quantization/quantizer.py
  nemo/collections/llm/quantization/utils.py
Labels: Run CICD, skip-docs

#11223 Update README.md for collection page
  nemo/README.md
Labels: documentation

#11289 Add `attention_bias` argument in transformer block and transformer layer modules, addressing change in MCore
  nemo/collections/nlp/models/language_modeling/megatron/bert/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron/falcon/falcon_decoder_layer.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/vlm/mllama/model/vision.py
Labels: NLP, Run CICD, skip-docs

#11306 Remove pytorch-lightning
  docs/source/nlp/punctuation_and_capitalization.rst
  docs/source/starthere/fundamentals.rst
  nemo/collections/llm/recipes/phi3_mini_4k_instruct.py
  nemo/collections/tts/models/speechllm/megatron_base_speechllm_prompt_model.py
  nemo/collections/tts/models/speechllm/megatron_t5_speechllm_model.py
  requirements/requirements_lightning.txt
  tutorials/01_NeMo_Models.ipynb
  tutorials/asr/ASR_CTC_Language_Finetuning.ipynb
  tutorials/asr/ASR_TTS_Tutorial.ipynb
  tutorials/asr/ASR_with_NeMo.ipynb
  tutorials/asr/ASR_with_Subword_Tokenization.ipynb
  tutorials/asr/ASR_with_Transducers.ipynb
  tutorials/asr/Confidence_Ensembles.ipynb
  tutorials/asr/Multilang_ASR.ipynb
  tutorials/asr/Self_Supervised_Pre_Training.ipynb
  tutorials/asr/Speech_Commands.ipynb
  tutorials/asr/Transducers_with_HF_Datasets.ipynb
  tutorials/asr/Voice_Activity_Detection.ipynb
  tutorials/asr/asr_adapters/ASR_with_Adapters.ipynb
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
  tutorials/audio/speech_enhancement/Speech_Enhancement_with_NeMo.ipynb
  tutorials/audio/speech_enhancement/Speech_Enhancement_with_Online_Augmentation.ipynb
  tutorials/nlp/ITN_with_Thutmose_Tagger.ipynb
  tutorials/nlp/Punctuation_and_Capitalization.ipynb
  tutorials/nlp/Punctuation_and_Capitalization_Lexical_Audio.ipynb
  tutorials/nlp/Relation_Extraction-BioMegatron.ipynb
  tutorials/nlp/Text_Classification_Sentiment_Analysis.ipynb
  tutorials/nlp/Token_Classification-BioMegatron.ipynb
  tutorials/nlp/Token_Classification_Named_Entity_Recognition.ipynb
  tutorials/nlp/Zero_Shot_Intent_Recognition.ipynb
  tutorials/nlp/lora.ipynb
  tutorials/speaker_tasks/Speaker_Diarization_Training.ipynb
  tutorials/speaker_tasks/Speaker_Identification_Verification.ipynb
  tutorials/tools/DefinedCrowd_x_NeMo_ASR_Training_Tutorial.ipynb
  tutorials/tts/Tacotron2_Training.ipynb
  tutorials/tts/Vits_Training.ipynb
Labels: TTS, ASR, NLP, Speaker Tasks, Run CICD, audio

#11279 Adding multimodal examples
  examples/multimodal_autoregressive/README.md
  examples/multimodal_autoregressive/conf/megatron_mm_ar_inference_image_generation.yaml
  examples/multimodal_autoregressive/conf/megatron_mm_ar_inference_vision_understanding.yaml
  examples/multimodal_autoregressive/megatron_mm_autoregressive_eval_image_generation.py
  examples/multimodal_autoregressive/megatron_mm_autoregressive_eval_vision_understanding.py
  nemo/collections/multimodal_autoregressive/data/README.md
Labels: Run CICD

#11059 Update T5 attention-mask shapes to be compatible with all attention-backend in new TE versions
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  nemo/collections/llm/t5/data/mock.py
  nemo/collections/llm/t5/model/t5.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  tests/collections/llm/megatron_t5_finetuning.py
Labels: NLP, CI, Run CICD

#11313 Add HF untrusted code toggle
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
Labels: Run CICD

#11312 P2p chunk size setting in nemo 2.0
  nemo/lightning/run/plugins.py
Labels: Run CICD

#11104 DoRA
  .github/workflows/cicd-main.yml
  nemo/collections/llm/inference/base.py
  nemo/collections/llm/peft/__init__.py
  nemo/collections/llm/peft/dora.py
  nemo/collections/llm/peft/lora.py
  nemo/lightning/pytorch/callbacks/peft.py
  tests/collections/llm/gpt_finetuning.py
Labels: CI, Run CICD

#11115 Profiling - support Chakra & Kineto trace dumping
  .secrets.baseline
  nemo/core/classes/modelPT.py
Labels: core, Run CICD

#10874 NeMo 2.0 SFT PEFT notebooks
  tutorials/llm/llama-3/nemo2-sft-peft/README.rst
  tutorials/llm/llama-3/nemo2-sft-peft/nemo2-peft.ipynb
  tutorials/llm/llama-3/nemo2-sft-peft/nemo2-sft.ipynb
Labels: audio

#11319 Update symlink option for save_last in ModelCheckpoint
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
Labels: Run CICD

#11322 ci: Pass-through of `workflow_event`
  .github/workflows/cicd-main.yml
Labels: CI

#11326 Fix patching of NeMo tokenizers for correct Lambada evaluation
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
Labels: Run CICD, skip-docs

#11291 Huvu/t5 nemo2.0 nemoci
  nemo/collections/llm/__init__.py
  nemo/collections/llm/recipes/t5_220m.py
  nemo/collections/llm/t5/data/__init__.py
  nemo/collections/llm/t5/model/t5.py
Labels: Run CICD

#11261 TE acceleration using callbacks
  .github/workflows/cicd-main.yml
  examples/llm/sft/hf.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/lightning/pytorch/accelerate/__init__.py
  nemo/lightning/pytorch/accelerate/transformer_engine.py
  nemo/lightning/pytorch/callbacks/__init__.py
  nemo/lightning/pytorch/callbacks/model_callback.py
Labels: CI, Run CICD

#11334 Leave target_module as default in PEFT Recipes
  nemo/collections/llm/recipes/llama31_405b.py
  nemo/collections/llm/recipes/llama31_70b.py
  nemo/collections/llm/recipes/llama31_8b.py
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/phi3_mini_4k_instruct.py
Labels: Run CICD

#11323 More robust tar file loading from AIStore
  nemo/collections/common/data/lhotse/nemo_adapters.py
Labels: common, Run CICD

#10622 Use NCCL bootsrap backend for TP communication overlaps
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/lightning/_strategy_lib.py
  nemo/lightning/pytorch/callbacks/megatron_comm_overlap.py
Labels: NLP, Run CICD

#9656 Making TDT models support all-positive durations (previously duration must contain 0)
  nemo/collections/asr/parts/numba/rnnt_loss/utils/cuda_utils/gpu_rnnt_kernel.py
  tests/collections/asr/numba/rnnt_loss/test_rnnt_pytorch.py
Labels: ASR, Run CICD

#11347 Add support for restoring from 2.0 checkpoint in 1.0
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, Run CICD, skip-docs

#11269 Adding alinger export
  nemo/export/tensorrt_llm.py
Labels: Run CICD

#11343 pass trust_remote_code to AutoTokenizer
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
Labels: Run CICD

#11356 Fix linear layer replacement
  nemo/lightning/pytorch/accelerate/transformer_engine.py
Labels: Run CICD

#11351 fix typo
  nemo/collections/llm/recipes/mamba2_hybrid_8b.py
Labels: Run CICD

#11342 Add torchrun local executor to recipes
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/run/__init__.py
  nemo/collections/llm/recipes/run/executor.py
Labels: Run CICD

#11170 Add PP support in NeVA along with few bug fixes
  nemo/collections/llm/fn/activation.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/ssm.py
  nemo/collections/vlm/__init__.py
  nemo/collections/vlm/layer_specs.py
  nemo/collections/vlm/mllama/data/mock.py
  nemo/collections/vlm/mllama/model/base.py
  nemo/collections/vlm/neva/data/__init__.py
  nemo/collections/vlm/neva/data/conversation.py
  nemo/collections/vlm/neva/data/lazy.py
  nemo/collections/vlm/neva/data/llava_next_energon.py
  nemo/collections/vlm/neva/data/mock.py
  nemo/collections/vlm/neva/model/__init__.py
  nemo/collections/vlm/neva/model/api.py
  nemo/collections/vlm/neva/model/base.py
  nemo/collections/vlm/neva/model/llava.py
  nemo/collections/vlm/neva/model/vit_config.py
  nemo/collections/vlm/peft/lora.py
  nemo/collections/vlm/recipes/__init__.py
  nemo/collections/vlm/recipes/llava15_13b.py
  nemo/collections/vlm/recipes/llava15_7b.py
  nemo/lightning/io/state.py
Labels: Run CICD

#11344 Export & deploy updates (part II)
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
  nemo/export/trt_llm/qnemo/qnemo_to_tensorrt_llm.py
  nemo/export/trt_llm/qnemo/tokenizer_utils.py
  nemo/export/vllm_exporter.py
  requirements/requirements_multimodal.txt
  requirements/requirements_vllm.txt
  scripts/deploy/nlp/deploy_vllm_triton.py
  tests/export/nemo_export.py
Labels: Run CICD, skip-docs

#11330 Add dora recipes
  nemo/collections/llm/api.py
  nemo/collections/llm/recipes/baichuan2_7b.py
  nemo/collections/llm/recipes/chatglm3_6b.py
  nemo/collections/llm/recipes/finetune_default.py
  nemo/collections/llm/recipes/gemma2_27b.py
  nemo/collections/llm/recipes/gemma2_2b.py
  nemo/collections/llm/recipes/gemma2_9b.py
  nemo/collections/llm/recipes/gemma_2b.py
  nemo/collections/llm/recipes/gemma_7b.py
  nemo/collections/llm/recipes/llama31_405b.py
  nemo/collections/llm/recipes/llama31_70b.py
  nemo/collections/llm/recipes/llama31_8b.py
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/mistral_7b.py
  nemo/collections/llm/recipes/mistral_nemo_12b.py
  nemo/collections/llm/recipes/mixtral_8x22b.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  nemo/collections/llm/recipes/nemotron3_22b.py
  nemo/collections/llm/recipes/nemotron3_4b.py
  nemo/collections/llm/recipes/nemotron3_8b.py
  nemo/collections/llm/recipes/nemotron4_15b.py
  nemo/collections/llm/recipes/nemotron4_340b.py
  nemo/collections/llm/recipes/phi3_mini_4k_instruct.py
  nemo/collections/llm/recipes/qwen2_1p5b.py
  nemo/collections/llm/recipes/qwen2_500m.py
  nemo/collections/llm/recipes/qwen2_72b.py
  nemo/collections/llm/recipes/qwen2_7b.py
  nemo/collections/llm/recipes/starcoder2_15b.py
  nemo/collections/llm/recipes/starcoder2_3b.py
  nemo/collections/llm/recipes/starcoder2_7b.py
  nemo/collections/llm/recipes/starcoder_15b.py
  nemo/collections/llm/recipes/t5_11b.py
  nemo/collections/llm/recipes/t5_220m.py
  nemo/collections/llm/recipes/t5_3b.py
Labels: Run CICD

#11365 Fix Gemma2 Attention Args
  nemo/collections/nlp/models/language_modeling/megatron/gemma2/gemma2_modules.py
Labels: NLP, Run CICD

#11373 Revert "update hypothesis when passed through cfg"
  examples/asr/transcribe_speech.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
Labels: ASR, Run CICD

#11368 add fix to recipe
  nemo/collections/llm/gpt/model/ssm.py
  nemo/collections/llm/recipes/mamba2_130m.py
  nemo/collections/llm/recipes/mamba2_1_3b.py
  nemo/collections/llm/recipes/mamba2_2_7b.py
  nemo/collections/llm/recipes/mamba2_370m.py
  nemo/collections/llm/recipes/mamba2_780m.py
  nemo/collections/llm/recipes/mamba2_8b.py
  nemo/collections/llm/recipes/mamba2_hybrid_8b.py
Labels: Run CICD

#11376 Add missing test to CICD needed list
  .github/workflows/cicd-main.yml
Labels: CI

#11358 update SquadDataModule to use run.config
  nemo/collections/llm/recipes/t5_220m.py
  nemo/collections/llm/t5/data/squad.py
Labels: Run CICD

#11380 Causal Codec decoder implementation
  examples/multimodal/speech_llm/conf/s2s/pt_salm_1a_21fps_debug_local.yaml
  nemo/collections/multimodal/speech_llm/data/lhotse_dataset.py
  nemo/collections/tts/modules/audio_codec_modules.py
  scripts/speech_data_generation/create_shars.py
Labels: TTS, Multi Modal

#11379 Fix transcribe speech
  examples/asr/transcribe_speech.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
Labels: ASR, Run CICD, skip-docs

#11335 Add llama 3.2 1b and 3b
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/llama32_1b.py
  nemo/collections/llm/recipes/llama32_3b.py
Labels: Run CICD

#11378 Enable packed dataset for validation; add a2a_experimental argument
  nemo/collections/llm/gpt/data/fine_tuning.py
  nemo/collections/llm/gpt/data/packed_sequence.py
  nemo/collections/llm/peft/lora.py
Labels: Run CICD

#11364 Fix DDP unused param error when TE is enabled in NeMo Lite
  examples/llm/sft/hf.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
Labels: Run CICD

#11316 Update llama32 vision (mllama) use attention bias
  nemo/collections/vlm/mllama/data/mock.py
  nemo/collections/vlm/mllama/model/base.py
  nemo/collections/vlm/mllama/model/language.py
  nemo/collections/vlm/mllama/model/vision.py
  nemo/collections/vlm/recipes/mllama_11b.py
  nemo/collections/vlm/recipes/mllama_90b.py
  scripts/vlm/mllama_finetune.py
  scripts/vlm/mllama_generation.py
Labels: Run CICD

#11249 Lhotse support for transcribe_speech_parallel
  examples/asr/transcribe_speech_parallel.py
  nemo/collections/asr/data/audio_to_text_dataset.py
  nemo/collections/asr/data/audio_to_text_lhotse.py
  nemo/collections/asr/models/configs/asr_models_config.py
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/models/transformer_bpe_models.py
  nemo/collections/common/data/lhotse/dataloader.py
  tests/collections/asr/test_asr_ctc_encoder_model_bpe.py
  tests/collections/asr/test_asr_ctcencdec_model.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_bpe.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_char.py
  tests/collections/asr/test_asr_lhotse_dataset.py
  tests/collections/asr/test_asr_rnnt_encdec_model.py
  tests/collections/asr/test_asr_rnnt_encoder_model_bpe.py
Labels: ASR, common, Run CICD

#11363 Fix environment variables in torchrun executor
  nemo/collections/llm/recipes/run/executor.py
Labels: Run CICD

#11339 Add sample generate to PTQ for NeMo 2.0
  nemo/collections/llm/quantization/quantizer.py
  nemo/collections/llm/quantization/utils.py
  scripts/llm/ptq.py
Labels: Run CICD, skip-docs

#11377 Fix selective restore by explicitly verifying keys
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD

#10306 Add Tiktoken support for TRTLLM
  nemo/export/tensorrt_llm.py
  nemo/export/tiktoken_tokenizer.py
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
  nemo/export/trt_llm/qnemo/tokenizer_utils.py
Labels: Run CICD

#11354 Add a fix for single-GPU nsys.
  nemo/lightning/pytorch/callbacks/nsys.py
Labels: Run CICD

#11384 capitalize HF as HF instead of Hf
  examples/llm/peft/hf.py
  examples/llm/sft/hf.py
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/data/__init__.py
  nemo/collections/llm/gpt/data/api.py
  nemo/collections/llm/gpt/data/hf_dataset.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/recipes/hf_auto_model_for_causal_lm.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD

#11370 Micro-optimizations with ~16% speedup Canary training on 1GPU
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/modules/transformer/transformer_modules.py
  nemo/utils/exp_manager.py
Labels: ASR

#11362 Remove logic to skip checkpoint save if checkpoint exists
  nemo/lightning/io/pl.py
  nemo/lightning/pytorch/strategies/fsdp_strategy.py
  tests/collections/llm/test_mnist_model_nemo2_fsdp.py
Labels: Run CICD

#11375 Rewire tokenizer exception handling in model resume
  nemo/lightning/resume.py
Labels: Run CICD

#10612 [NeMo-UX] Support `load_strictness`
  nemo/lightning/_strategy_lib.py
  nemo/lightning/io/pl.py
  nemo/lightning/pytorch/callbacks/peft.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD

#11399 Adding LLava-Next model class
  nemo/collections/vlm/__init__.py
  nemo/collections/vlm/llava_next/__init__.py
  nemo/collections/vlm/llava_next/model/__init__.py
  nemo/collections/vlm/llava_next/model/base.py
  nemo/collections/vlm/llava_next/model/llava_next.py
  nemo/collections/vlm/llava_next/model/utils.py
  nemo/collections/vlm/neva/model/llava.py
Labels: Run CICD

#11413 Fix vllm test issue when run_accuracy is enabled
  tests/export/nemo_export.py
Labels: Run CICD

#11392 Fix strategies saving unsharded optimizer states
  nemo/lightning/pytorch/strategies/fsdp_strategy.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD

#11266 Introducing TensorRT lazy export and caching option with trt_compile()
  nemo/export/__init__.py
  nemo/export/tensorrt_lazy_compiler.py
  tests/export/test_trt_compile.py
Labels: Run CICD

#11282 Sortformer Diarizer 4spk v1 model PR Part 1: models, modules and dataloaders
  examples/speaker_tasks/diarization/conf/neural_diarizer/sortformer_diarizer_hybrid_loss_4spk-v1.yaml
  examples/speaker_tasks/diarization/conf/post_processing/sortformer_diar_4spk-v1_callhome-part1.yaml
  examples/speaker_tasks/diarization/conf/post_processing/sortformer_diar_4spk-v1_dihard3-dev.yaml
  examples/speaker_tasks/diarization/neural_diarizer/e2e_diarize_speech.py
  examples/speaker_tasks/diarization/neural_diarizer/sortformer_diar_train.py
  nemo/collections/asr/data/audio_to_diar_label.py
  nemo/collections/asr/data/audio_to_diar_label_lhotse.py
  nemo/collections/asr/losses/__init__.py
  nemo/collections/asr/losses/bce_loss.py
  nemo/collections/asr/metrics/der.py
  nemo/collections/asr/metrics/multi_binary_acc.py
  nemo/collections/asr/models/__init__.py
  nemo/collections/asr/models/msdd_models.py
  nemo/collections/asr/models/sortformer_diar_models.py
  nemo/collections/asr/modules/sortformer_modules.py
  nemo/collections/asr/parts/utils/asr_multispeaker_utils.py
  nemo/collections/asr/parts/utils/manifest_utils.py
  nemo/collections/asr/parts/utils/speaker_utils.py
  nemo/collections/asr/parts/utils/vad_utils.py
  nemo/collections/common/parts/preprocessing/collections.py
  requirements/requirements_asr.txt
  tests/collections/asr/test_diar_utils.py
Labels: ASR, Speaker Tasks, common, Run CICD

#11405 Nemo run recipe's and example scripts for Llava Next
  nemo/collections/multimodal/data/energon/task_encoder.py
  nemo/collections/vlm/__init__.py
  nemo/collections/vlm/llava_next/data/__init__.py
  nemo/collections/vlm/llava_next/data/mock.py
  nemo/collections/vlm/llava_next/model/base.py
  nemo/collections/vlm/llava_next/model/llava_next.py
  nemo/collections/vlm/recipes/__init__.py
  nemo/collections/vlm/recipes/llava_next_7b.py
  scripts/vlm/llava_next_finetune.py
  scripts/vlm/llava_next_generation.py
  scripts/vlm/llava_next_nemo_run.py
  scripts/vlm/llava_next_pretrain.py
Labels: Multi Modal, Run CICD

#11388 Huvu/t5 nemo2.0 nemoci 3b11b
  nemo/collections/llm/recipes/t5_11b.py
  nemo/collections/llm/recipes/t5_3b.py
Labels: Run CICD

#10688 Context Parallel SFT Support for dataset in THD format
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/utils/sequence_packing_utils.py
  scripts/nlp_language_modeling/prepare_packed_ft_dataset.py
Labels: NLP, Run CICD

#11420 fix dtype when init HF model from config
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
Labels: Run CICD

#11408 Removing unnecessary lines
  nemo/collections/asr/data/audio_to_text_dataset.py
Labels: ASR, Run CICD
