Repository NVIDIA-NeMo/NeMo, pull requests merged in 2024-01, with the labels that each got.

#7793 (1) Add SHARP interface to M-CORE, (2) use send/recv to send train loss to the first rank instead of b-cast
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#8110 transcribe fn for Canary models
  nemo/collections/asr/data/audio_to_text_lhotse.py
  nemo/collections/asr/models/transformer_bpe_models.py
Labels: ASR

#8099 Reconfigure limit_val_batches only for int
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP

#8119 Add missing audio_filepath validation for Canary
  nemo/collections/common/data/lhotse/nemo_adapters.py
Labels: common

#8055 Fixing wrapper and moving it to base class
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8124 Fix Adapter for MCore models
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
Labels: NLP

#8047 Wer fix
  docs/source/asr/api.rst
  examples/asr/asr_chunked_inference/ctc/speech_to_text_buffered_infer_ctc.py
  examples/asr/asr_chunked_inference/rnnt/speech_to_text_buffered_infer_rnnt.py
  examples/asr/asr_vad/speech_to_text_with_vad.py
  examples/asr/quantization/speech_to_text_quant_infer.py
  examples/asr/quantization/speech_to_text_quant_infer_trt.py
  examples/asr/transcribe_speech.py
  examples/asr/transcribe_speech_parallel.py
  nemo/collections/asr/metrics/rnnt_wer_bpe.py
  nemo/collections/asr/metrics/wer.py
  nemo/collections/asr/metrics/wer_bpe.py
  nemo/collections/asr/models/configs/asr_models_config.py
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/models/slu_models.py
  nemo/collections/asr/models/transformer_bpe_models.py
  nemo/collections/asr/modules/rnnt.py
  nemo/collections/asr/parts/mixins/interctc_mixin.py
  nemo/collections/asr/parts/submodules/ctc_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/utils/decoder_timestamps_utils.py
  nemo/collections/multimodal/speech_cv/models/visual_ctc_bpe_models.py
  nemo/collections/multimodal/speech_cv/models/visual_ctc_models.py
  nemo/collections/multimodal/speech_cv/models/visual_hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/multimodal/speech_cv/models/visual_hybrid_rnnt_ctc_models.py
  nemo/collections/multimodal/speech_cv/models/visual_rnnt_bpe_models.py
  nemo/collections/multimodal/speech_cv/models/visual_rnnt_models.py
  nemo/collections/tts/g2p/models/ctc.py
  scripts/speech_recognition/confidence/benchmark_asr_confidence.py
  tests/collections/asr/confidence/test_asr_confidence.py
  tests/collections/asr/decoding/test_ctc_decoding.py
  tests/collections/asr/decoding/test_rnnt_decoding.py
  tests/collections/asr/test_asr_ctc_encoder_model_bpe.py
  tests/collections/asr/test_asr_ctcencdec_model.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_bpe.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_char.py
  tests/collections/asr/test_asr_interctc_models.py
  tests/collections/asr/test_asr_metrics.py
  tests/collections/asr/test_confidence_ensembles.py
  tutorials/asr/ASR_CTC_Language_Finetuning.ipynb
  tutorials/asr/ASR_Confidence_Estimation.ipynb
  tutorials/asr/ASR_with_NeMo.ipynb
  tutorials/asr/ASR_with_Subword_Tokenization.ipynb
Labels: TTS, ASR

#8130 add war fix for sync issues
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/utils/callbacks/nemo_model_checkpoint.py
Labels: NLP

#8134 langid bug fix
  nemo/collections/asr/models/label_models.py
Labels: ASR

#8004 .ctm in data simulator annotator compliant with RT-09 specification
  docs/source/asr/speaker_diarization/datasets.rst
  examples/speaker_tasks/diarization/clustering_diarizer/offline_diar_with_asr_infer.py
  nemo/collections/asr/parts/utils/data_simulation_utils.py
  nemo/collections/asr/parts/utils/manifest_utils.py
  scripts/speaker_tasks/create_alignment_manifest.py
  tests/collections/asr/utils/test_data_simul_utils.py
  tools/nemo_forced_aligner/utils/make_ctm_files.py
  tutorials/speaker_tasks/ASR_with_SpeakerDiarization.ipynb
Labels: ASR, Speaker Tasks

#8131 Improve PEFT UX
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP

#8126 Fixes NVIDIA/apex installation to not erroneously install the `install` pkg
  Dockerfile
  README.rst
Labels: CI

#8015 Enhance flexibility by passing callbacks as method argument
  nemo/collections/nlp/parts/megatron_trainer_builder.py
Labels: NLP

#8143 updating default transcribe behavior to en lowercase for Canary Models
  nemo/collections/asr/models/transformer_bpe_models.py
Labels: ASR

#8146 Remove typo
  Dockerfile
  README.rst
Labels: CI

#7739 context parallelism
  nemo/collections/nlp/data/language_modeling/megatron/dataset_utils.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/build_model.py
  nemo/collections/nlp/modules/common/megatron/language_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/optim/distributed_adam.py
  nemo/core/optim/optimizer_with_main_params.py
  nemo/utils/app_state.py
Labels: core, NLP

#8005 Make pipelined TP comm overlap available with mcore
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP

#8138 remove deprecated scripts
  examples/nlp/language_modeling/megatron_gpt_prompt_learning.py
  examples/nlp/language_modeling/megatron_gpt_prompt_learning_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_adapter_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_adapter_tuning.py
  examples/nlp/language_modeling/tuning/megatron_gpt_ia3_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_ia3_tuning.py
Labels: NLP

#8112 Fix AST eval
  examples/asr/transcribe_speech.py
  nemo/collections/asr/parts/utils/eval_utils.py
  tools/asr_evaluator/asr_evaluator.py
Labels: ASR

#8137 adding OnlineSampleMapping
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/data/language_modeling/text_memmap_dataset.py
Labels: NLP

#8145 fix: numba.*_num_threads resets torch num_threads #8141
  nemo/collections/asr/parts/numba/rnnt_loss/utils/cpu_utils/cpu_rnnt.py
  nemo/collections/asr/parts/numba/rnnt_loss/utils/cuda_utils/gpu_rnnt.py
Labels: ASR

#7909 Add distopt support for FP8 params and BF16 optimizer state
  Dockerfile
  Jenkinsfile
  README.rst
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/core/optim/distributed_adam.py
  nemo/utils/__init__.py
  nemo/utils/dtype.py
Labels: core, NLP, CI

#8027 Support torch jit script
  nemo/core/classes/exportable.py
  nemo/core/classes/module.py
  nemo/core/neural_types/elements.py
  nemo/core/neural_types/neural_type.py
  nemo/core/utils/neural_type_utils.py
  nemo/utils/export_utils.py
  tests/core/test_torch_jit_script.py
Labels: core

#8156 Update dependencies
  docs/source/nlp/nemo_megatron/retro/retro_model.rst
  nemo/collections/asr/parts/utils/numba_utils.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_bert_dataset.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_sgd_bert_dataset.py
  nemo/collections/nlp/data/glue_benchmark/glue_benchmark_dataset.py
  nemo/collections/nlp/data/information_retrieval/information_retrieval_dataset.py
  nemo/collections/nlp/data/intent_slot_classification/intent_slot_classification_dataset.py
  nemo/collections/nlp/data/language_modeling/lm_bert_dataset.py
  nemo/collections/nlp/data/language_modeling/sentence_dataset.py
  nemo/collections/nlp/data/machine_translation/machine_translation_dataset.py
  nemo/collections/nlp/data/token_classification/punctuation_capitalization_dataset.py
  nemo/collections/nlp/data/token_classification/punctuation_capitalization_infer_dataset.py
  nemo/collections/nlp/data/token_classification/token_classification_dataset.py
  nemo/collections/vision/data/megatron/autoaugment.py
  requirements/requirements.txt
  requirements/requirements_common.txt
Labels: ASR, NLP

#7880 NeMo + Lhotse integration
  Dockerfile
  docs/source/asr/datasets.rst
  nemo/collections/asr/data/audio_to_text_lhotse.py
  nemo/collections/asr/models/ctc_bpe_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_bpe_models.py
  nemo/collections/asr/models/rnnt_bpe_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/models/ssl_models.py
  nemo/collections/asr/models/transformer_bpe_models.py
  nemo/collections/common/data/lhotse/__init__.py
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/data/lhotse/dataloader.py
  nemo/collections/common/data/lhotse/nemo_adapters.py
  requirements/requirements_asr.txt
  tests/collections/common/test_lhotse_dataloading.py
Labels: ASR, CI, common

#8164 Revert "adding OnlineSampleMapping"
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/data/language_modeling/text_memmap_dataset.py
Labels: NLP

#8136 Token count and sequence length logging for MegatronGPTSFTModel
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#8129 Use latest apex internal API
  nemo/collections/nlp/modules/common/megatron/layer_norm_1p.py
Labels: NLP

#7745 tune specific params in the base model
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_peft_tuning_config.yaml
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
  nemo/collections/nlp/parts/peft_config.py
Labels: NLP

#7926 Speedup RNN-T greedy decoding
  nemo/collections/asr/modules/hybrid_autoregressive_transducer.py
  nemo/collections/asr/modules/rnnt.py
  nemo/collections/asr/modules/rnnt_abstract.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/utils/rnnt_utils.py
  tests/collections/asr/confidence/test_asr_confidence.py
  tests/collections/asr/decoding/rnnt_alignments_check.py
  tests/collections/asr/decoding/test_batched_hyps_and_alignments.py
  tests/collections/asr/decoding/test_rnnt_decoding.py
  tests/collections/asr/test_asr_rnnt_encdec_model.py
Labels: ASR

#8028 NeMo Multimodal Docs and Tests Initial PR
  Jenkinsfile
  docs/source/conf.py
  docs/source/index.rst
  docs/source/multimodal/api.rst
  docs/source/multimodal/mllm/checkpoint.rst
  docs/source/multimodal/mllm/configs.rst
  docs/source/multimodal/mllm/datasets.rst
  docs/source/multimodal/mllm/images/llava_arch.jpg
  docs/source/multimodal/mllm/intro.rst
  docs/source/multimodal/mllm/neva.rst
  docs/source/multimodal/mm_all.bib
  docs/source/multimodal/nerf/configs.rst
  docs/source/multimodal/nerf/datasets.rst
  docs/source/multimodal/nerf/dreamfusion.rst
  docs/source/multimodal/nerf/images/dreamfusion_model_overview.png
  docs/source/multimodal/nerf/intro.rst
  docs/source/multimodal/text2img/checkpoint.rst
  docs/source/multimodal/text2img/configs.rst
  docs/source/multimodal/text2img/controlnet.rst
  docs/source/multimodal/text2img/datasets.rst
  docs/source/multimodal/text2img/dreambooth.rst
  docs/source/multimodal/text2img/imagen.rst
  docs/source/multimodal/text2img/images/controlnet-structure.png
  docs/source/multimodal/text2img/images/imagen_arch.png
  docs/source/multimodal/text2img/insp2p.rst
  docs/source/multimodal/text2img/intro.rst
  docs/source/multimodal/text2img/sd.rst
  docs/source/multimodal/vlm/checkpoint.rst
  docs/source/multimodal/vlm/clip.rst
  docs/source/multimodal/vlm/configs.rst
  docs/source/multimodal/vlm/datasets.rst
  docs/source/multimodal/vlm/images/clip_arch.png
  docs/source/multimodal/vlm/intro.rst
  docs/source/vision/checkpoint.rst
  docs/source/vision/configs.rst
  docs/source/vision/datasets.rst
  docs/source/vision/images/vit_arch.png
  docs/source/vision/intro.rst
  docs/source/vision/vision_all.bib
  docs/source/vision/vit.rst
  examples/multimodal/convert_ckpt_to_nemo.py
  examples/multimodal/text_to_image/controlnet/conf/controlnet_v1-5.yaml
  examples/multimodal/text_to_image/controlnet/controlnet_train.py
  examples/multimodal/text_to_image/dreambooth/conf/dreambooth.yaml
  examples/multimodal/text_to_image/dreambooth/dreambooth.py
  examples/multimodal/text_to_image/imagen/imagen_training.py
  examples/multimodal/text_to_image/stable_diffusion/conf/sd_train.yaml
  nemo/README.md
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/autoencoder.py
  nemo/collections/multimodal/modules/nerf/geometry/nerf_base.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/openaimodel.py
  nemo/collections/multimodal/parts/stable_diffusion/lr_scheduler.py
  nemo/collections/multimodal/parts/stable_diffusion/utils.py
  requirements/requirements_multimodal.txt
  setup.py
Labels: documentation, CI

#7964 Virtual pipeline parallel support for MegatronGPTSFTModel
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#8183 removed deprecated peft model
  nemo/collections/nlp/models/language_modeling/megatron_gpt_peft_models.py
Labels: NLP

#8169 remove more deprecated files
  examples/nlp/language_modeling/conf/megatron_gpt_prompt_learning_config.yaml
  examples/nlp/language_modeling/conf/megatron_gpt_prompt_learning_inference.yaml
  examples/nlp/language_modeling/conf/megatron_t5_prompt_learning.yaml
  examples/nlp/language_modeling/conf/megatron_t5_prompt_learning_inference.yaml
  examples/nlp/language_modeling/megatron_t5_prompt_learning.py
  examples/nlp/language_modeling/megatron_t5_prompt_learning_eval.py
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_adapter_inference.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_adapter_tuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_ia3_inference.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_ia3_tuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_adapter_inference.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_adapter_tuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_ia3_inference.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_ia3_tuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_lora_inference.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_t5_lora_tuning_config.yaml
  examples/nlp/language_modeling/tuning/megatron_t5_adapter_eval.py
  examples/nlp/language_modeling/tuning/megatron_t5_adapter_tuning.py
  examples/nlp/language_modeling/tuning/megatron_t5_ia3_eval.py
  examples/nlp/language_modeling/tuning/megatron_t5_ia3_tuning.py
  examples/nlp/language_modeling/tuning/megatron_t5_lora_eval.py
  examples/nlp/language_modeling/tuning/megatron_t5_lora_tuning.py
Labels: NLP

#7518 Fix learning rate schedule in Megatron models when `max_steps` is not set
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/core/classes/modelPT.py
  nemo/core/optim/lr_scheduler.py
Labels: core, NLP

#8180 Remove left-over prints in NeMo+Lhotse code
  nemo/collections/common/data/lhotse/nemo_adapters.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: common

#8163 Upgrade to DLFW PyTorch 23.12
  Dockerfile
  Jenkinsfile
  nemo/package_info.py
Labels: CI

#8108 Pre-generate cu_seqlens argmin and max_seqlen to remove host-to-device sync
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8202 Add the interface to use SHARP to FSDP strategy
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP

#8188 Multimodal required NLP base model changes
  examples/nlp/language_modeling/megatron_change_num_partitions.py
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/collections/nlp/parts/mixins/multimodal_adapter_mixins.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP

#7977 [NLP] Improve and unify loading state_dict for community models
  nemo/collections/nlp/parts/utils_funcs.py
  scripts/nlp_language_modeling/convert_hf_llama_to_nemo.py
  scripts/nlp_language_modeling/convert_starcoder_hf_to_nemo.py
Labels: NLP

#7884 [TTS] Add period discriminator and feature matching loss to codec recipe
  nemo/collections/tts/losses/audio_codec_loss.py
  nemo/collections/tts/models/audio_codec.py
  nemo/collections/tts/modules/audio_codec_modules.py
Labels: TTS

#8197 Add Lhotse support for `offset` key in NeMo manifests
  nemo/collections/common/data/lhotse/nemo_adapters.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: common

#8204 [docker] Install k2 before NeMo for faster image rebuilding
  Dockerfile
Labels: CI

#8198 Add include_text parameter to SFT dataloaders
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_chat_dataset.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
Labels: NLP

#8162 Add random_seed argument to generate
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#8210 Added support for neptune logger
  docs/source/core/exp_manager.rst
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/utils/exp_manager.py
  tests/core/test_exp_manager.py
Labels: core, NLP

#8227 [docs] Add --force_codec to tarred dataset creation examples
  docs/source/asr/datasets.rst
  scripts/speech_recognition/convert_to_tarred_audio_dataset.py
Labels: ASR

#8226 Temporarily use the previous RNN-T decoding algorithm as default
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
Labels: ASR

#8205 Use PackedSeqParams in accordance with changes in Megatron-LM
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8216 Fix to peft & virtual pipeline parallel unsupported check
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP

#8195 Fixed the tp overlap switch
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8184 add knobs for rope/swiglu fusion
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP

#8148 Added sample cpu_offloading switch to YAML
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
Labels: NLP

#8212 Add support in Neural Typecheck to disable semantic checks
  nemo/core/classes/common.py
  tests/core/test_typecheck.py
Labels: core

#8207 Make TDT inference not require duration params
  nemo/collections/asr/models/rnnt_bpe_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
Labels: ASR

#8230 Syncing random seed between ranks in generate
  nemo/collections/nlp/modules/common/text_generation_server.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP

#8150 add first_val_step to mcore scheduler
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP, CI

#8240 Correct padding for SFT input data to account for sequence parallel + TE's fp8 op dimension requirements
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
Labels: NLP

#8052 Mistral 7b conversion script
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  scripts/nlp_language_modeling/convert_hf_mistral_7b_to_nemo.py
  scripts/nlp_language_modeling/convert_nemo_mistral_7b_to_hf.py
Labels: NLP

#8253 mcore ds fix
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP

#8155 Mixtral to NeMo conversion script.
  Jenkinsfile
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  scripts/nlp_language_modeling/convert_hf_mixtral_to_nemo.py
  scripts/nlp_language_modeling/convert_nemo_mixtral_to_hf.py
Labels: NLP, CI

#8260 Refactor Canary to follow schema of remaining ASR models
  examples/asr/conf/speech_multitask/fast-conformer_aed.yaml
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/transformer_bpe_models.py
  nemo/collections/asr/modules/transformer/__init__.py
  nemo/collections/asr/modules/transformer/transformer_decoders.py
  nemo/collections/asr/modules/transformer/transformer_generators.py
  nemo/collections/asr/modules/transformer/transformer_utils.py
  nemo/collections/asr/parts/submodules/classifier.py
  nemo/collections/asr/parts/submodules/multitask_beam_decoding.py
  nemo/collections/asr/parts/submodules/multitask_decoding.py
  nemo/collections/asr/parts/submodules/token_classifier.py
  nemo/core/classes/modelPT.py
  nemo/core/config/hydra_runner.py
Labels: core, ASR

#8261 fixes to accomendate mcore changes
  nemo/collections/nlp/models/language_modeling/megatron/falcon/falcon_decoder_layer.py
Labels: NLP

#8239 Allow MegatronPretrainingRandomSampler to do multi-epoch training
  nemo/collections/nlp/data/language_modeling/megatron/data_samplers.py
  nemo/collections/nlp/data/language_modeling/megatron/megatron_batch_samplers.py
Labels: NLP

#8270 training bug fix and adding launch script for speech_multitask
  examples/asr/conf/speech_multitask/fast-conformer_aed.yaml
  examples/asr/speech_multitask/speech_to_text_aed.py
  nemo/collections/asr/models/aed_multitask_models.py
Labels: ASR

#8257 [tutorial] fixed missing RIR scripts file.
  tutorials/asr/Online_Noise_Augmentation.ipynb
Labels: ASR

#7879 add values to en tts dict
  scripts/tts_dataset_files/ipa_cmudict-0.7b_nv23.01.txt
Labels: TTS

#8088 Add Bert HF checkpoint converter
  examples/nlp/language_modeling/conf/megatron_bert_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  scripts/nlp_language_modeling/convert_bert_hf_to_nemo.py
  scripts/nlp_language_modeling/convert_bert_nemo_to_hf.py
  scripts/nlp_language_modeling/export_nemo_bert_to_onnx.py
Labels: NLP

#7749 Add dist ckpt support for regular optimizers
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/optim/optimizer_with_main_params.py
  nemo/core/optim/optimizers.py
Labels: core, NLP

#8285 [canary] Test for CanaryTokenizer + refactoring
  nemo/collections/asr/parts/mixins/mixins.py
  nemo/collections/common/tokenizers/canary_tokenizer.py
  tests/collections/asr/test_custom_tokenizer.py
Labels: ASR, common

#8294 Update config for AED models
  examples/asr/conf/speech_multitask/fast-conformer_aed.yaml
Labels: ASR
