Repository NVIDIA-NeMo/NeMo, pull requests merged in 2024-07, with the labels that each got.

#9570 Expose MCore path_to_cache option
  nemo/collections/llm/gpt/data/pre_training.py
Labels: Run CICD

#9574 PTQ refinements
  .github/workflows/cicd-main.yml
  docs/source/nlp/quantization.rst
  examples/nlp/language_modeling/conf/megatron_gpt_ptq.yaml
  examples/nlp/language_modeling/megatron_gpt_ptq.py
  nemo/export/quantize/quantizer.py
  nemo/export/tensorrt_llm.py
  scripts/deploy/nlp/deploy_triton.py
  scripts/export/export_to_trt_llm.py
  tests/deploy/nemo_deploy.py
  tests/export/nemo_export.py
Labels: NLP, CI, Run CICD

#9571 [NeMo-UX] Fix Trainer serialization
  nemo/lightning/io/mixin.py
  nemo/lightning/pytorch/trainer.py
  tests/lightning/io/test_api.py
Labels: Run CICD

#9580 Update click version requirement
  requirements/requirements_test.txt
Labels: Run CICD

#9352 [Fault tolerance] Heartbeat detection
  docs/source/core/exp_manager.rst
  nemo/utils/exp_manager.py
  tests/core/test_fault_tolerance.py
Labels: core, Run CICD

#9326 Add ModelOpt QAT example for Llama2 SFT model
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  docs/source/index.rst
  docs/source/nlp/quantization.rst
  docs/source/starthere/intro.rst
  examples/nlp/language_modeling/conf/megatron_gpt_ptq.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_gpt_qat_config.yaml
  examples/nlp/language_modeling/tuning/megatron_gpt_qat.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/export/quantize/quantizer.py
Labels: NLP, CI, Run CICD

#9585 Set TE flag in legacy -> mcore conversion script
  scripts/checkpoint_converters/convert_gpt_nemo_to_mcore.py
Labels: Run CICD

#9577 [Nemo-UX] Add fabric-API for manual forward-pass
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/data/mock.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/mistral.py
  nemo/lightning/__init__.py
  nemo/lightning/_strategy_lib.py
  nemo/lightning/fabric/__init__.py
  nemo/lightning/fabric/conversion.py
  nemo/lightning/fabric/fabric.py
  nemo/lightning/fabric/plugins.py
  nemo/lightning/fabric/strategies.py
  nemo/lightning/io/__init__.py
  nemo/lightning/io/api.py
  nemo/lightning/io/connector.py
  nemo/lightning/io/mixin.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/optim/base.py
  nemo/lightning/pytorch/optim/megatron.py
  nemo/lightning/pytorch/plugins/mixed_precision.py
  nemo/lightning/pytorch/strategies.py
  nemo/lightning/pytorch/trainer.py
  tests/lightning/fabric/__init__.py
  tests/lightning/fabric/test_conversion.py
  tests/lightning/io/test_api.py
  tests/lightning/pytorch/__init__.py
  tests/lightning/pytorch/test_trainer.py
Labels: Run CICD

#9445 Multimodal projection layer adapter fix for PP>1
  examples/multimodal/multimodal_llm/neva/neva_finetune.py
  nemo/collections/nlp/models/nlp_model.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/classes/modelPT.py
  nemo/core/connectors/save_restore_connector.py
  nemo/utils/callbacks/dist_ckpt_io.py
Labels: core, NLP, Multi Modal, Run CICD

#9455 Add offline quantization script for QLoRA deployment
  nemo/collections/nlp/modules/common/megatron/adapters/qlora.py
  scripts/checkpoint_converters/quantize_model_to_nf4.py
Labels: NLP, Run CICD

#9488 Make QLoRA more model-agnostic
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/nlp/modules/common/megatron/adapters/qlora.py
Labels: stale, NLP, Run CICD

#9591 [NeMo-UX] Some improvements to NeMoLogger
  nemo/lightning/nemo_logger.py
  nemo/lightning/pytorch/callbacks/megatron_model_checkpoint.py
  tests/lightning/test_nemo_logger.py
Labels: Run CICD

#9593 Set n_gpu to None in nemo export
  nemo/export/tensorrt_llm.py
  tests/export/nemo_export.py
Labels: NLP, Run CICD

#9527 Inflight nemo model export support
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/converter/model_converter.py
  nemo/export/trt_llm/converter/model_to_trt_llm_ckpt.py
  nemo/export/trt_llm/converter/utils.py
  nemo/export/trt_llm/tensorrt_llm_build.py
  nemo/export/trt_llm/tensorrt_llm_run.py
Labels: feature, Run CICD

#9596 vLLM Export Improvements
  nemo/export/vllm/engine.py
  scripts/deploy/nlp/deploy_triton.py
  scripts/deploy/nlp/deploy_vllm_triton.py
  tests/export/nemo_export.py
Labels: Run CICD

#9599 [NeMo-UX] Fix Megatron-optimizer
  nemo/lightning/pytorch/optim/megatron.py
Labels: Run CICD

#9601 Set no_sync_func & grad_sync_fucn
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/optim/megatron.py
Labels: Run CICD

#9607 [NeMo-UX] Fix nemo logger when trainer has no loggers
  nemo/lightning/nemo_logger.py
Labels: Run CICD

#9595 [NeMo-UX] Dataloading enhancements and bug fixes
  nemo/collections/llm/gpt/data/pre_training.py
  nemo/collections/llm/gpt/model/base.py
  nemo/lightning/data.py
  nemo/lightning/pytorch/callbacks/progress.py
  nemo/lightning/pytorch/plugins/data_sampler.py
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#9616 Fix serialization of AutoResume
  nemo/lightning/resume.py
Labels: Run CICD

#9354 Chat template support for megatron_gpt_eval.py
  docs/source/core/exp_manager.rst
  examples/nlp/language_modeling/conf/megatron_gpt_inference.yaml
  examples/nlp/language_modeling/megatron_gpt_eval.py
  nemo/collections/common/tokenizers/chat_template_mixin.py
  nemo/collections/common/tokenizers/sentencepiece_tokenizer.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  nemo/collections/nlp/modules/common/tokenizer_utils.py
Labels: NLP, common, Run CICD

#9611 Jsonl support
  scripts/nlp_language_modeling/preprocess_data_for_megatron.py
Labels: Run CICD

#9490 [NeMo-UX] Add PEFT
  nemo/collections/llm/__init__.py
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/mistral.py
  nemo/collections/llm/gpt/model/mixtral.py
  nemo/collections/llm/peft/__init__.py
  nemo/collections/llm/peft/api.py
  nemo/collections/llm/peft/lora.py
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
  nemo/lightning/__init__.py
  nemo/lightning/_strategy_lib.py
  nemo/lightning/fabric/strategies.py
  nemo/lightning/io/pl.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/nemo_logger.py
  nemo/lightning/pytorch/callbacks/__init__.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  nemo/lightning/pytorch/callbacks/model_transform.py
  nemo/lightning/pytorch/callbacks/nsys.py
  nemo/lightning/pytorch/callbacks/peft.py
  nemo/lightning/pytorch/callbacks/preemption.py
  nemo/lightning/pytorch/optim/base.py
  nemo/lightning/pytorch/strategies.py
  nemo/lightning/resume.py
  setup.py
  tests/lightning/pytorch/callbacks/__init__.py
  tests/lightning/pytorch/callbacks/test_model_transform.py
  tests/lightning/pytorch/callbacks/test_nsys.py
  tests/lightning/pytorch/callbacks/test_peft.py
  tests/lightning/pytorch/callbacks/test_preemption.py
  tests/lightning/test_megatron_parallel.py
Labels: NLP, Run CICD

#9567 Akoumparouli/mistral import instruct chat template fix
  scripts/checkpoint_converters/convert_mistral_7b_hf_to_nemo.py
Labels: Run CICD

#9602 Remove .cuda calls, use device isntead
  nemo/lightning/megatron_parallel.py
Labels: Run CICD

#9565 fix converter defautl args
  scripts/checkpoint_converters/convert_mixtral_hf_to_nemo.py
Labels: Run CICD

#9603 Akoumparouli/nemo ux mixtral export
  nemo/collections/llm/gpt/model/mixtral.py
Labels: Run CICD

#9618 fix: remove non_blocking from PTL's .cuda call
  nemo/lightning/megatron_parallel.py
Labels: Run CICD

#9612 Alit/mamba tmp
  examples/nlp/language_modeling/conf/megatron_mamba_config.yaml
  examples/nlp/language_modeling/mamba_change_num_partition.py
  examples/nlp/language_modeling/tuning/conf/megatron_mamba_finetuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_mamba_generate_config.yaml
  examples/nlp/language_modeling/tuning/megatron_mamba_finetuning.py
  examples/nlp/language_modeling/tuning/megatron_mamba_generate.py
  nemo/collections/nlp/models/language_modeling/megatron_mamba_model.py
  nemo/collections/nlp/models/language_modeling/megatron_mamba_sft_model.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
  requirements/requirements_nlp.txt
  scripts/checkpoint_converters/convert_mamba2_pyt_to_nemo.py
  tutorials/llm/mamba/mamba.rst
Labels: NLP, Run CICD

#9337 TitaNet Batch Verify Speaker
  docs/source/asr/speaker_recognition/api.rst
  docs/source/asr/speaker_recognition/results.rst
  nemo/collections/asr/data/audio_to_label.py
  nemo/collections/asr/models/clustering_diarizer.py
  nemo/collections/asr/models/configs/classification_models_config.py
  nemo/collections/asr/models/label_models.py
  nemo/collections/asr/parts/mixins/mixins.py
  nemo/collections/asr/parts/preprocessing/segment.py
  nemo/collections/common/parts/preprocessing/collections.py
Labels: stale, ASR, common, Run CICD

#9505 Enable MCore checkpointing optimizations
  Dockerfile.ci
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/parts/megatron_trainer_builder.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/optim/mcore_optim.py
  nemo/utils/callbacks/dist_ckpt_io.py
  nemo/utils/callbacks/torch_dist_async.py
Labels: core, NLP, Run CICD

#9620 Change mixtral moe key name for trt-llm
  nemo/export/trt_llm/converter/utils.py
Labels: NLP, Run CICD

#9621 fix ckpt load bug
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, Run CICD

#9608 NeVA Minor Fixes
  nemo/collections/multimodal/parts/utils.py
  nemo/core/optim/optimizer_with_main_params.py
Labels: core, Multi Modal, Run CICD

#9627 [NeMo-UX] fix pretrianing data sizes and weights
  nemo/collections/llm/gpt/data/pre_training.py
Labels: Run CICD

#9575 Alit/mamba
  Dockerfile.ci
  examples/nlp/language_modeling/tuning/conf/megatron_mamba_finetuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_mamba_generate_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_mamba_model.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
  requirements/requirements_nlp.txt
  scripts/checkpoint_converters/convert_mamba2_pyt_to_nemo.py
Labels: NLP, Run CICD

#9466 [NeMo-UX] async checkpointing support
  nemo/lightning/_strategy_lib.py
  nemo/lightning/io/pl.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  nemo/lightning/pytorch/optim/megatron.py
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#9624 Fix the arguments of forward_for_export function in msdd_models
  nemo/collections/asr/models/msdd_models.py
Labels: ASR, Run CICD

#9632 Change default parallel_save to False
  nemo/utils/callbacks/dist_ckpt_io.py
Labels: Run CICD

#9622 Unwrap ckpt_io for model opt (async save)
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, Run CICD

#9633 Change default parallel_save to False
  nemo/utils/callbacks/dist_ckpt_io.py
Labels: Run CICD

#9634 Unwrap ckpt_io for model opt (async save) (#9622)
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, Run CICD

#9432 MCore T5 support for NeMo - Training
  .github/workflows/cicd-main.yml
  examples/nlp/language_modeling/conf/megatron_t5_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
Labels: NLP, CI, Run CICD

#9592 [Nemo-UX] Expose transformer_layer_spec inside GPTConfig
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/base.py
Labels: Run CICD

#9539 Add REST API to deploy module
  nemo/deploy/service/__init__.py
  nemo/deploy/service/config.json
  nemo/deploy/service/rest_model_api.py
  requirements/requirements_infer.txt
  scripts/deploy/nlp/deploy_triton.py
Labels: Run CICD

#9459 Mistral + Mixtral Support for NeVa
  nemo/collections/multimodal/data/neva/conversation.py
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/parts/utils.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
Labels: NLP, Multi Modal, Run CICD

#9635 ci: Timeout per step, not job
  .github/workflows/_test_template.yml
Labels: CI, Run CICD

#9566 Adding support for mcore generate
  examples/nlp/language_modeling/conf/megatron_gpt_inference.yaml
  examples/nlp/language_modeling/conf/megatron_gpt_inference_batch_mcore.yaml
  examples/nlp/language_modeling/megatron_gpt_eval.py
  examples/nlp/language_modeling/megatron_gpt_mcore_batch_eval.py
Labels: NLP, Run CICD

#9638 Improve error messaging during trt-llm export
  nemo/export/trt_llm/converter/utils.py
Labels: NLP, Run CICD

#9625 Nemotron export - fixing megatron_export.py
  nemo/utils/export_utils.py
Labels: Run CICD

#9636 Support LoRA when kv_channel != hidden_size / num_heads
  nemo/collections/nlp/parts/peft_config.py
Labels: NLP, Run CICD

#9644 [Cherrypick] support lora when kv_channel != hidden_size / num_heads
  nemo/collections/nlp/parts/peft_config.py
Labels: NLP, Run CICD

#9619 [NeMo-UX] Fix when optimizers are setup for PEFT
  nemo/collections/llm/api.py
  nemo/collections/llm/fn/mixin.py
  nemo/lightning/_strategy_lib.py
  nemo/lightning/io/connector.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/callbacks/model_transform.py
  nemo/lightning/pytorch/callbacks/peft.py
  nemo/lightning/pytorch/optim/lr_scheduler.py
  nemo/lightning/pytorch/plugins/mixed_precision.py
  nemo/lightning/pytorch/strategies.py
  tests/lightning/pytorch/callbacks/test_peft.py
Labels: Run CICD

#9651 Fixing import error fior llama-index (RAG pipeline)
  Dockerfile.ci
Labels: Run CICD

#9600 Triton deployment improvements for in-framework models
  nemo/deploy/nlp/__init__.py
  nemo/deploy/nlp/megatronllm_deployable.py
  nemo/deploy/nlp/query_llm.py
  scripts/deploy/nlp/deploy_inframework_triton.py
  scripts/deploy/nlp/query_inframework.py
  tests/deploy/nemo_deploy.py
  tests/export/nemo_export.py
Labels: NLP, Run CICD

#9637 [NeMo-UX] Fix pipeline parallel bug
  nemo/lightning/_strategy_lib.py
Labels: Run CICD

#9451 Use FP8 in GPT TP2 test
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#9641 enables default data step in megatron parallel to operate on a wider variety of tensors
  nemo/lightning/megatron_parallel.py
Labels: Run CICD

#9648 Parametrize FPS group
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/lightning/io/pl.py
  nemo/lightning/pytorch/strategies.py
  nemo/utils/callbacks/dist_ckpt_io.py
Labels: NLP, Run CICD

#9666 Revert "enables default data step in megatron parallel to operate on a wider variety of tensors"
  nemo/lightning/megatron_parallel.py
Labels: Run CICD

#9606 unpin transformers version
  nemo/collections/nlp/modules/common/huggingface/huggingface_utils.py
  requirements/requirements_lightning.txt
Labels: NLP, Run CICD

#9479 Added CPU offloading docs
  docs/source/features/memory_optimizations.rst
Labels: stale

#9657 [NeMo-UX] Make 'load_directly_on_device' configurable
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD

#9643 Cherry-pick megatron export fix from main
  nemo/utils/export_utils.py
Labels: Run CICD

#9578 LITA integration
  .github/workflows/cicd-main.yml
  examples/multimodal/multimodal_llm/neva/conf/lita_config.yaml
  examples/multimodal/multimodal_llm/neva/conf/vita_config.yaml
  examples/multimodal/multimodal_llm/neva/convert_llava_to_neva.py
  examples/multimodal/multimodal_llm/neva/eval/eval_video_rtl.py
  examples/multimodal/multimodal_llm/neva/eval/eval_vqa.py
  examples/multimodal/multimodal_llm/neva/neva_evaluation.py
  nemo/collections/multimodal/data/neva/conversation.py
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/parts/utils.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  scripts/multimodal_dataset_conversion/convert_dvc_dataset_for_evaluation.py
  scripts/multimodal_dataset_conversion/convert_dvc_dataset_for_training.py
  scripts/multimodal_dataset_conversion/convert_video_qa_dataset.py
  scripts/multimodal_dataset_conversion/generate_qa_data.py
  scripts/multimodal_dataset_conversion/prepare_youmakeup.py
  tutorials/multimodal/LITA Tutorial.ipynb
  tutorials/multimodal/NeVA Tutorial.ipynb
  tutorials/multimodal/README.md
  tutorials/multimodal/images/LITA_arch.png
Labels: NLP, CI, Multi Modal, Run CICD

#9690 [NeMo-UX] Fix imports so local configuration of runs works again
  nemo/collections/llm/gpt/model/base.py
  nemo/lightning/io/pl.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
Labels: Run CICD

#9677 Huvu/mcore t5
  .github/workflows/cicd-main.yml
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
Labels: NLP, CI, Run CICD

#9639 add documentation for reset_lr feature
  docs/source/nlp/nemo_megatron/intro.rst
  docs/source/nlp/nemo_megatron/reset_learning_rate.rst
Labels: NLP, Run CICD

#9702 [Nemo CICD] Add a bit more for timeout
  .github/workflows/cicd-main.yml
Labels: CI

#9696 Alit/mamba
  examples/nlp/language_modeling/conf/megatron_mamba_config.yaml
  examples/nlp/language_modeling/conf/megatron_mamba_inference.yaml
  examples/nlp/language_modeling/mamba_change_num_partition.py
  examples/nlp/language_modeling/megatron_mamba_eval.py
  examples/nlp/language_modeling/tuning/conf/megatron_mamba_finetuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_mamba_generate_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_mamba_model.py
  scripts/checkpoint_converters/convert_mamba2_pyt_to_nemo.py
  tutorials/llm/mamba/mamba.rst
Labels: NLP, Run CICD

#9482 NeMo performance feature documentation
  docs/source/features/activation_recomputation.rst
  docs/source/features/communication_overlap.rst
  docs/source/features/mixed_precision.rst
  docs/source/features/parallelisms.rst
  docs/source/nlp/nemo_megatron/images/pp_comm_overlap.png
  docs/source/nlp/nemo_megatron/images/tp_comm_overlap.png
Labels: NLP, Run CICD

#9704 [TTS] Add fullband mel codec checkpoints
  docs/source/tts/data/ngc_models_codec.csv
  nemo/collections/tts/models/audio_codec.py
Labels: TTS, Run CICD

#9684 Cherry pick: LITA Integration
  .github/workflows/cicd-main.yml
  examples/multimodal/multimodal_llm/neva/conf/lita_config.yaml
  examples/multimodal/multimodal_llm/neva/conf/vita_config.yaml
  examples/multimodal/multimodal_llm/neva/convert_llava_to_neva.py
  examples/multimodal/multimodal_llm/neva/eval/eval_video_rtl.py
  examples/multimodal/multimodal_llm/neva/eval/eval_vqa.py
  examples/multimodal/multimodal_llm/neva/neva_evaluation.py
  nemo/collections/multimodal/data/neva/conversation.py
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/parts/utils.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  scripts/multimodal_dataset_conversion/convert_dvc_dataset_for_evaluation.py
  scripts/multimodal_dataset_conversion/convert_dvc_dataset_for_training.py
  scripts/multimodal_dataset_conversion/convert_video_qa_dataset.py
  scripts/multimodal_dataset_conversion/generate_qa_data.py
  scripts/multimodal_dataset_conversion/prepare_youmakeup.py
  tutorials/multimodal/LITA Tutorial.ipynb
  tutorials/multimodal/NeVA Tutorial.ipynb
  tutorials/multimodal/README.md
  tutorials/multimodal/images/LITA_arch.png
Labels: NLP, CI, Multi Modal, Run CICD

#9679 Adding support for mcore T5 Eval - SFT - PEFT
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
  tests/collections/nlp/test_retro_model.py
Labels: NLP, CI, Run CICD

#9672 Gemma 2
  examples/nlp/language_modeling/conf/megatron_gemma2_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron/gemma2/__init__.py
  nemo/collections/nlp/models/language_modeling/megatron/gemma2/gemma2_modules.py
  nemo/collections/nlp/models/language_modeling/megatron/gemma2/gemma2_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/huggingface/huggingface_utils.py
  requirements/requirements_lightning.txt
  scripts/checkpoint_converters/convert_gemma2_hf_to_nemo.py
Labels: NLP, Run CICD

#9613 Allows non-strict load with distributed checkpoints
  Dockerfile.ci
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/utils/callbacks/dist_ckpt_io.py
Labels: NLP, Run CICD

#9710 refactor: Uniform BRANCH for notebooks
  tutorials/asr/Confidence_Ensembles.ipynb
  tutorials/audio/speech_enhancement/Speech_Enhancement_with_NeMo.ipynb
  tutorials/nlp/Token_Classification-BioMegatron.ipynb
  tutorials/nlp/lora.ipynb
Labels: ASR, NLP, audio

#9550 [NeMo-UX] Make TE and Apex dependencies optional
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  examples/llm/megatron_gpt_pretraining.py
  examples/nlp/language_modeling/mamba_change_num_partition.py
  examples/nlp/machine_translation/nmt_transformer_infer_megatron.py
  nemo/collections/llm/gpt/data/pre_training.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/models/text_to_image/controlnet/controlnet.py
  nemo/collections/multimodal/models/text_to_image/dreambooth/dreambooth.py
  nemo/collections/multimodal/models/text_to_image/imagen/imagen.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/diffusion_engine.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/ddpm.py
  nemo/collections/multimodal/models/vision_language_foundation/clip/megatron_clip_models.py
  nemo/collections/multimodal/models/vision_language_foundation/megatron_nsfw_clip_models.py
  nemo/collections/multimodal/speech_llm/models/modular_models.py
  nemo/collections/multimodal/speech_llm/models/modular_t5_models.py
  nemo/collections/multimodal/speech_llm/modules/common/audio_text_generation_utils.py
  nemo/collections/nlp/data/language_modeling/megatron/retro_dataset.py
  nemo/collections/nlp/models/dialogue/dialogue_s2s_generation_model.py
  nemo/collections/nlp/models/information_retrieval/megatron_bert_embedding_model.py
  nemo/collections/nlp/models/language_modeling/megatron/gemma2/gemma2_spec.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retro_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t0_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_sft_model.py
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/collections/vision/models/megatron_vit_classification_models.py
  nemo/lightning/data.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/optim/megatron.py
  nemo/lightning/pytorch/plugins/data_sampler.py
  nemo/utils/apex_utils.py
  tests/collections/nlp/test_rampup_batch_size.py
  tests/collections/nlp/test_retro_model.py
  tutorials/nlp/lora.ipynb
Labels: NLP, CI, Multi Modal, Run CICD, 2.0.0rc1

#9716 fix legacy ds padding bug
  nemo/collections/nlp/data/language_modeling/megatron/data_samplers.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#9671 enables default data step in megatron parallel to operate on a wider variety of tensors - second try
  nemo/lightning/megatron_parallel.py
Labels: Run CICD

#9723 Remove mask if use fusion mask
  nemo/collections/nlp/modules/common/text_generation_utils.py
Labels: NLP, Run CICD

#9718 Alit/r2.0.0
  examples/nlp/language_modeling/conf/megatron_mamba_config.yaml
  examples/nlp/language_modeling/conf/megatron_mamba_inference.yaml
  examples/nlp/language_modeling/mamba_change_num_partition.py
  examples/nlp/language_modeling/megatron_mamba_eval.py
  examples/nlp/language_modeling/tuning/conf/megatron_mamba_finetuning_config.yaml
  examples/nlp/language_modeling/tuning/conf/megatron_mamba_generate_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_mamba_model.py
  scripts/checkpoint_converters/convert_mamba2_pyt_to_nemo.py
  tutorials/llm/mamba/mamba.rst
Labels: NLP, Run CICD, 2.0.0rc2

#9731 add contianer
  tutorials/llm/mamba/mamba.rst
Labels: documentation

#9732 [NeMo-UX] Make TE and Apex dependencies optional
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  examples/llm/megatron_gpt_pretraining.py
  examples/nlp/machine_translation/nmt_transformer_infer_megatron.py
  nemo/collections/llm/gpt/data/pre_training.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/models/text_to_image/controlnet/controlnet.py
  nemo/collections/multimodal/models/text_to_image/dreambooth/dreambooth.py
  nemo/collections/multimodal/models/text_to_image/imagen/imagen.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/diffusion_engine.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/ddpm.py
  nemo/collections/multimodal/models/vision_language_foundation/clip/megatron_clip_models.py
  nemo/collections/multimodal/models/vision_language_foundation/megatron_nsfw_clip_models.py
  nemo/collections/multimodal/speech_llm/models/modular_models.py
  nemo/collections/multimodal/speech_llm/models/modular_t5_models.py
  nemo/collections/multimodal/speech_llm/modules/common/audio_text_generation_utils.py
  nemo/collections/nlp/data/language_modeling/megatron/retro_dataset.py
  nemo/collections/nlp/models/dialogue/dialogue_s2s_generation_model.py
  nemo/collections/nlp/models/information_retrieval/megatron_bert_embedding_model.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retro_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t0_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_sft_model.py
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/modules/common/text_generation_strategy.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/collections/vision/models/megatron_vit_classification_models.py
  nemo/lightning/data.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/optim/megatron.py
  nemo/lightning/pytorch/plugins/data_sampler.py
  nemo/utils/apex_utils.py
  tests/collections/nlp/test_rampup_batch_size.py
  tutorials/nlp/lora.ipynb
Labels: NLP, CI, Multi Modal, Run CICD

#9749 [NeMo-UX] Minor bug fix when TE/Apex not installed
  nemo/lightning/megatron_parallel.py
Labels: Run CICD

#9707 [NeMo-UX] Match nemo 1's default behavior for drop_last and pad_samples_to_global_batch_size
  nemo/lightning/data.py
Labels: Run CICD

#9737 Manually cherry-pick from PR 9679 (PR to main - Support SFT/Eval/PEFT for mcore T5)
  .github/workflows/cicd-main.yml
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
  tests/collections/nlp/test_retro_model.py
Labels: NLP, CI, Run CICD

#9754 add a bit more for timeout (#9702)
  .github/workflows/cicd-main.yml
Labels: CI

#9670 Canary Adapters tutorial
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/transformer_bpe_models.py
  nemo/collections/asr/parts/mixins/transcription.py
  nemo/collections/common/prompts/formatter.py
  nemo/core/classes/module.py
  tests/core/test_neural_module.py
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
  tutorials/asr/asr_adapters/README.md
Labels: core, ASR, common

#9725 Fix missing parallelisms
  nemo/lightning/_strategy_lib.py
  tests/lightning/test_strategy_lib.py
Labels: Run CICD, 2.0.0rc1

#9744 ci: Bump MCore tag
  .github/workflows/mcore-tag-bump-bot.yml
Labels: CI

#9668 Fix the serialization of partial functions in nemo 2.0
  nemo/lightning/io/fdl_torch.py
  tests/lightning/io/test_api.py
Labels: Run CICD

#9769 ci: Add PAT to create-pullrequest action
  .github/workflows/mcore-tag-bump-bot.yml
Labels: CI

#9682 Speeds up copying of necessary artifact files with SaveRestoreConnector
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/connectors/save_restore_connector.py
  tests/core/test_save_restore.py
Labels: core, NLP, Run CICD

#9773 ci: Remove ko3n1g from reviewers
  .github/workflows/mcore-tag-bump-bot.yml
Labels: CI

#9766 Bump mcore commit in Dockerfile
  Dockerfile
Labels: CI, Run CICD

#9329 Yuya/add checkpoints section
  docs/source/checkpoints/convert_mlm.rst
  docs/source/checkpoints/dev_guide.rst
  docs/source/checkpoints/dist_ckpt.rst
  docs/source/checkpoints/intro.rst
  docs/source/checkpoints/user_guide.rst
  docs/source/ckpt_converters/intro.rst
  docs/source/index.rst
Labels: Run CICD

#9687 Release automation
  .github/workflows/release-freeze.yml
  .github/workflows/release.yml
  MANIFEST.in
Labels: CI

#9777 Canary Adapters tutorial (#9670)
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/transformer_bpe_models.py
  nemo/collections/asr/parts/mixins/transcription.py
  nemo/collections/common/prompts/formatter.py
  nemo/core/classes/module.py
  tests/core/test_neural_module.py
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
  tutorials/asr/asr_adapters/README.md
Labels: core, ASR, common, Run CICD

#9726 Add option to convert PyTriton response to OpenAI format
  nemo/deploy/nlp/query_llm.py
  nemo/deploy/service/config.json
  nemo/deploy/service/rest_model_api.py
  scripts/deploy/nlp/deploy_triton.py
Labels: Run CICD

#9788 ci: Fix changelog-config
  .github/workflows/config/changelog-config.json
Labels: CI

#9548 Support configurable extra fields for LazyNeMoTarredIterator
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/data/lhotse/nemo_adapters.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: stale, common, Run CICD

#9799 upper bound huggingface-hub version to 0.24.0 (exc.)
  requirements/requirements.txt
Labels: Run CICD

#9734 Add Lita, Vila and Vita TRTLLM export
  examples/multimodal/multimodal_llm/neva/conf/neva_export.yaml
  examples/multimodal/multimodal_llm/neva/neva_export.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/parts/utils.py
  nemo/deploy/multimodal/query_multimodal.py
  nemo/export/multimodal/build.py
  nemo/export/multimodal/run.py
  nemo/export/tensorrt_mm_exporter.py
  scripts/deploy/multimodal/deploy_triton.py
Labels: Multi Modal, Run CICD

#9805 upper bound hf-hub
  requirements/requirements.txt
Labels: Run CICD

#9681 Fix few issues and docs for neva and clip in r2.0.0rc1
  docs/source/multimodal/mllm/checkpoint.rst
  docs/source/multimodal/mllm/intro.rst
  docs/source/multimodal/vlm/checkpoint.rst
  examples/multimodal/multimodal_llm/neva/conf/llava_config.yaml
  examples/multimodal/vision_language_foundation/clip/conf/megatron_siglip_config.yaml
  examples/multimodal/vision_language_foundation/clip/convert_external_clip_to_nemo.py
  nemo/collections/multimodal/data/clip/clip_dataset.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/models/vision_language_foundation/clip/megatron_clip_models.py
  scripts/checkpoint_converters/convert_clip_hf_to_nemo.py
  scripts/checkpoint_converters/convert_llava_hf_to_nemo.py
  scripts/checkpoint_converters/convert_siglip_hf_to_nemo.py
  tutorials/multimodal/NeVA Tutorial.ipynb
Labels: Multi Modal, Run CICD

#9813 minor fix tutorial
  tutorials/llm/mamba/mamba.rst
Labels: documentation

#9810 fix lita bugs
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  scripts/multimodal_dataset_conversion/convert_dvc_dataset_for_training.py
  scripts/multimodal_dataset_conversion/convert_video_qa_dataset.py
  tutorials/multimodal/LITA Tutorial.ipynb
Labels: Multi Modal, Run CICD

#9796 Add OpenAI format response to r2.0.0rc1
  nemo/deploy/nlp/query_llm.py
  nemo/deploy/service/config.json
  nemo/deploy/service/rest_model_api.py
  scripts/deploy/nlp/deploy_triton.py
Labels: bug, Run CICD, 2.0.0rc1

#9814 [NeMo-UX] Log `val_loss`
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD, 2.0.0rc1

#9829 T5 changes based on mcore changes
  .github/workflows/cicd-main.yml
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
Labels: NLP, CI, Run CICD

#9771 [NeMo UX] Support generating datasets using different train/valid/test distributions
  examples/llm/megatron_gpt_pretraining.py
  nemo/collections/llm/gpt/data/pre_training.py
  tests/collections/llm/gpt/data/test_pre_training_data.py
Labels: bug, Run CICD, 2.0.0rc1

#9846 typos and branch name update to r2.0.0rc1
  tutorials/asr/Transducers_with_HF_Datasets.ipynb
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
Labels: ASR

#9807 [NeMo-UX] Fix some dataloading bugs
  nemo/collections/llm/gpt/data/pre_training.py
  nemo/lightning/data.py
  nemo/lightning/pytorch/plugins/data_sampler.py
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD, 2.0.0rc1

#9720 [NeMo-UX] Adding recipes
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/model/api.py
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/llama2_7b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/llama3_8b_16k.py
  nemo/collections/llm/recipes/llama3_8b_64k.py
  nemo/collections/llm/recipes/log/__init__.py
  nemo/collections/llm/recipes/log/default.py
  nemo/collections/llm/recipes/mistral.py
  nemo/collections/llm/recipes/optim/__init__.py
  nemo/collections/llm/recipes/optim/adam.py
  nemo/collections/llm/utils.py
Labels: Run CICD

#9576 Add "offline" data cache generation support
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD, 2.0.0rc1

#9800 [NeMo-UX] Set async_save from strategy rather than ModelCheckpoint
  examples/llm/megatron_gpt_pretraining.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  nemo/lightning/pytorch/strategies.py
Labels: Run CICD, 2.0.0rc1

#9780 Add SpeechLLM docs
  docs/source/collections.rst
  docs/source/multimodal/mllm/intro.rst
  docs/source/multimodal/speech_llm/api.rst
  docs/source/multimodal/speech_llm/configs.rst
  docs/source/multimodal/speech_llm/datasets.rst
  docs/source/multimodal/speech_llm/intro.rst
  nemo/collections/multimodal/speech_llm/models/__init__.py
  nemo/collections/multimodal/speech_llm/models/modular_models.py
  nemo/collections/multimodal/speech_llm/models/modular_t5_models.py
  nemo/collections/multimodal/speech_llm/modules/__init__.py
  nemo/collections/multimodal/speech_llm/modules/perception_modules.py
Labels: Multi Modal

#9844 Add Llama 3.1 LoRA PEFT and NIM Deployment tutorial
  tutorials/llm/llama-3/README.rst
  tutorials/llm/llama-3/biomedical-qa/README.rst
  tutorials/llm/llama-3/biomedical-qa/img/e2e-lora-train-and-deploy.png
  tutorials/llm/llama-3/biomedical-qa/llama3-lora-deploy-nim.ipynb
  tutorials/llm/llama-3/biomedical-qa/llama3-lora-nemofw.ipynb
  tutorials/llm/llama-3/sdg-law-title-generation/README.rst
  tutorials/llm/llama-3/sdg-law-title-generation/img/e2e-lora-train-and-deploy.png
  tutorials/llm/llama-3/sdg-law-title-generation/llama3-sdg-lora-deploy-nim.ipynb
  tutorials/llm/llama-3/sdg-law-title-generation/llama3-sdg-lora-nemofw.ipynb
Labels: documentation

#9806 Fix hf hub for 0.24+
  nemo/core/classes/mixins/hf_io_mixin.py
  requirements/requirements.txt
  tests/core/test_save_restore.py
Labels: core, Run CICD

#9538 Jpg2p jun18
  nemo/collections/common/tokenizers/text_to_speech/ipa_lexicon.py
  nemo/collections/common/tokenizers/text_to_speech/tokenizer_utils.py
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  nemo/collections/tts/g2p/models/ja_jp_ipa.py
  requirements/requirements_tts.txt
  scripts/tts_dataset_files/ja_JP/ja_JP_nv240719.dict
  tests/collections/common/tokenizers/text_to_speech/test_tts_tokenizers.py
Labels: TTS, common, Run CICD, audio

#9832 Query TransformerConfig attributes when copying btw configs
  nemo/lightning/_strategy_lib.py
  tests/lightning/test_strategy_lib.py
Labels: Run CICD

#9579 NeMo MoE docs
  docs/source/features/memory_optimizations.rst
Labels: Run CICD

#9801 [NeMo-UX] Use single instance of loss reductions in GPTModel
  nemo/collections/llm/gpt/model/base.py
Labels: Run CICD, 2.0.0rc1

#9770 Fix RNNT alignments test
  .github/workflows/cicd-main.yml
  Dockerfile
  tests/collections/asr/decoding/rnnt_alignments_check.py
  tests/collections/common/test_metrics.py
Labels: ASR, CI, Run CICD

#9862 Fix RNNT alignments test
  .github/workflows/cicd-main.yml
  Dockerfile.speech
  tests/collections/asr/decoding/rnnt_alignments_check.py
  tests/collections/common/test_metrics.py
Labels: cherry-pick, ASR, CI, Run CICD

#9864 deprecate NeMo NLP tutorial
  tutorials/nlp/Joint_Intent_and_Slot_Classification.ipynb
Labels: NLP, Run CICD

#9856 [NeMo-UX] Fix a minor bug with async checkpointing
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
Labels: Run CICD, 2.0.0rc1

#9837 Disable nvFuser setup with PyTorch 23.11 and later
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP, Run CICD, 2.0.0rc1

#9874 Revert "Jpg2p jun18 (#9538)"
  nemo/collections/common/tokenizers/text_to_speech/ipa_lexicon.py
  nemo/collections/common/tokenizers/text_to_speech/tokenizer_utils.py
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  nemo/collections/tts/g2p/models/ja_jp_ipa.py
  requirements/requirements_tts.txt
  scripts/tts_dataset_files/ja_JP/ja_JP_nv240719.dict
  tests/collections/common/tokenizers/text_to_speech/test_tts_tokenizers.py
Labels: TTS, common, Run CICD

#9865 Change decord to guard import
  nemo/collections/multimodal/data/neva/neva_dataset.py
  nemo/collections/multimodal/parts/utils.py
  nemo/deploy/multimodal/query_multimodal.py
  nemo/export/multimodal/run.py
Labels: Multi Modal, Run CICD

#9886 By default trust remote code from HF Datasets
  scripts/speech_recognition/convert_hf_dataset_to_nemo.py
  tutorials/asr/ASR_CTC_Language_Finetuning.ipynb
Labels: ASR

#9877 [NeMo-UX] make progress bar easier to parse
  nemo/lightning/pytorch/callbacks/progress.py
Labels: Run CICD, 2.0.0rc1

#9852 make torch_dist ckpt strategy as default
  Dockerfile.ci
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/lightning/io/pl.py
  nemo/utils/callbacks/dist_ckpt_io.py
Labels: NLP, Run CICD

#9892 Create __init__.py
  nemo/collections/multimodal/speech_llm/modules/common/__init__.py
Labels: Multi Modal

#9776 Set default Torch version if YY.MM format is not met
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: NLP, Run CICD

#9884 add rampup bs documentation
  docs/source/nlp/nemo_megatron/intro.rst
  docs/source/nlp/nemo_megatron/rampup_batch_size.rst
Labels: NLP, Run CICD

#9848 fix arg name
  nemo/collections/nlp/modules/common/megatron/adapters/parallel_adapters.py
Labels: NLP, Run CICD

#9896 Added defer wgrad support with mcore optim
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#9907 tutorial fixes
  tutorials/llm/mamba/mamba.rst
Labels: documentation

#9830 [NeMo-UX] Fixes to make PreemptionCallback work
  nemo/lightning/pytorch/callbacks/preemption.py
  nemo/lightning/resume.py
  tests/lightning/pytorch/callbacks/test_preemption.py
Labels: Run CICD, 2.0.0rc1

#9665 [TTS] Add VietnameseCharsTokenizer
  nemo/collections/common/tokenizers/text_to_speech/ipa_lexicon.py
  nemo/collections/common/tokenizers/text_to_speech/tokenizer_utils.py
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  tests/collections/common/tokenizers/text_to_speech/test_tts_tokenizers.py
Labels: TTS, common, Run CICD

#9904 Temporarily disable cuda graph based RNN-T greedy inference for r2.0.0rc1
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
Labels: ASR, Run CICD

#9705 Integrate TRT-LLM v0.11
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/converter/model_converter.py
  nemo/export/trt_llm/converter/utils.py
  nemo/export/trt_llm/tensorrt_llm_build.py
  nemo/export/trt_llm/tensorrt_llm_run.py
  scripts/deploy/nlp/deploy_triton.py
  tests/export/run.sh
  tests/infer_data_path.py
Labels: NLP, Run CICD

#9784 Fix Docker build. Make Dockerfile consistent with CI
  Dockerfile
  scripts/installers/install_k2.sh
Labels: CI, Run CICD

#9917 Add code owners
  .github/CODEOWNERS
Labels: CI

#9919 Enable CUDA graphs by default, but require CUDA 12.6 for full graphs
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/core/utils/cuda_python_utils.py
Labels: core, ASR, Run CICD

#9794 [NeMo-UX] Add distributed checkpointing unit tests
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/strategies.py
  tests/lightning/test_dist_ckpt.py
Labels: Run CICD, 2.0.0rc1

#9833 Remove assert guard preventing PEFT + VP being used together
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP, Run CICD

#9854 r2.0.0rc1 fix for dist checkpoint loading
  nemo/utils/callbacks/dist_ckpt_io.py
  scripts/checkpoint_converters/convert_llava_nemo_to_hf.py
Labels: Run CICD
