Repository NVIDIA-NeMo/NeMo, pull requests merged in 2025-09, with the labels that each got.

#14621 Integrate implicit filter kernel with Hyena layer
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_utils.py
  tests/collections/llm/gpt/model/test_hyena_mixer_kernel.py
Labels: Run CICD

#14628 chore(callbacks): restore generic CallbackGroup and route telemetry v…
  nemo/collections/llm/api.py
  nemo/collections/llm/fn/mixin.py
  nemo/collections/llm/gpt/data/mock.py
  nemo/collections/llm/t5/data/mock.py
  nemo/collections/vlm/neva/data/preloaded.py
  nemo/core/classes/modelPT.py
  nemo/core/config/hydra_runner.py
  nemo/lightning/io/mixin.py
  nemo/lightning/one_logger_callback.py
  nemo/lightning/pytorch/callbacks/callback_group.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  requirements/requirements.txt
  tests/collections/common/nv_one_logger/test_one_logger_callback.py
Labels: core

#14333 [Flux] small fixes
  nemo/collections/diffusion/models/flux/model.py
  scripts/flux/flux_controlnet_training.py
  scripts/flux/flux_training.py
Labels: Run CICD

#14638 Use hugginface_hub for downloading the FLUX checkpoint
  tutorials/flux/Flux Training And Inference Example.ipynb
Labels: r2.5.0

#14584 Fine-tune embedding models (E5-Large-V2 and LLaMA-3.2-1B) on the allnli triplet dataset with NeMo Framework
  tutorials/llm/embedding/E2E-Embedding-Finetuning/Embedding-Finetuning.ipynb
  tutorials/llm/embedding/E2E-Embedding-Finetuning/README.md
Labels: Run CICD

#14640 Cherry pick `Use hugginface_hub for downloading the FLUX checkpoint (14638)` into `r2.5.0`
  tutorials/flux/Flux Training And Inference Example.ipynb
Labels: cherry-pick

#14650 Cherry pick `Fix function calling notebook (14643)` into `r2.5.0`
  nemo/collections/llm/peft/api.py
  tutorials/llm/function_calling/nemo2-chat-sft-function-calling.ipynb
Labels: cherry-pick

#14652 Fix Flux seed as optional Arg
  nemo/collections/diffusion/models/flux/model.py
  nemo/collections/diffusion/models/flux_controlnet/model.py
Labels: Run CICD

#14660 Remove outdated TTS Tutorials
  tutorials/tts/Aligner_Inference_Examples.ipynb
  tutorials/tts/FastPitch_Adapter_Finetuning.ipynb
  tutorials/tts/FastPitch_ChineseTTS_Training.ipynb
  tutorials/tts/FastPitch_Data_Preparation.ipynb
  tutorials/tts/FastPitch_Finetuning.ipynb
  tutorials/tts/FastPitch_GermanTTS_Training.ipynb
  tutorials/tts/FastPitch_MixerTTS_Training.ipynb
  tutorials/tts/FastPitch_MultiSpeaker_Pretraining.ipynb
  tutorials/tts/FastPitch_Speaker_Interpolation.ipynb
  tutorials/tts/Inference_DurationPitchControl.ipynb
  tutorials/tts/Inference_ModelSelect.ipynb
  tutorials/tts/Tacotron2_Training.ipynb
  tutorials/tts/Vits_Training.ipynb
Labels: TTS, Run CICD, r2.5.0

#14606 Always run speech CI on magpie branch regardless of changed files #14605
  .github/actions/test-template/action.yml
  .github/scripts/components_to_run.py
Labels: CI, Run CICD

#14594 Update get_tensor_shapes function whose signature was refactored
  .github/workflows/cicd-main-nemo2.yml
  nemo/collections/llm/modelopt/distill/utils.py
  requirements/manifest.json
Labels: CI, r2.5.0

#14663 Skip trt-llm and vllm install in install test
  .github/workflows/install-test.yml
Labels: CI

#14672 Cherry pick `fixing kernel restarting when transcribing (14665)` into `r2.5.0`
  tutorials/asr/ASR_with_NeMo.ipynb
  tutorials/asr/ASR_with_Subword_Tokenization.ipynb
Labels: cherry-pick, ASR

#14623 Add wget_from_nemo
  tutorials/asr/Canary_Multitask_Speech_Model.ipynb
Labels: ASR

#14685 Downgrade "datasets" library version in ASR tutorial to ensure compatibility with HF Datasets used
  tutorials/asr/Multilang_ASR.ipynb
  tutorials/asr/Transducers_with_HF_Datasets.ipynb
Labels: ASR, Run CICD

#14691 Guarantee one logger on_app_end calls
  nemo/collections/llm/api.py
  nemo/core/config/hydra_runner.py
Labels: core

#14701 Support additional Slurm parameters
  scripts/performance/argument_parser.py
  scripts/performance/diffusion/pretrain_flux_12b.py
  scripts/performance/executors.py
  scripts/performance/llm/finetune_deepseek_v3.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/finetune_llama3_8b.py
  scripts/performance/llm/finetune_llama4_e128.py
  scripts/performance/llm/mlperf_lora_llama2_70b.py
  scripts/performance/llm/pretrain_automodel_llama3_8b.py
  scripts/performance/llm/pretrain_deepseek_v3.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_grok1_314b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_llama3_8b.py
  scripts/performance/llm/pretrain_llama4_e128.py
  scripts/performance/llm/pretrain_llama4_e16.py
  scripts/performance/llm/pretrain_mixtral_8x22b.py
  scripts/performance/llm/pretrain_mixtral_8x7b.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  scripts/performance/llm/pretrain_nemotronh_47b.py
  scripts/performance/llm/pretrain_nemotronh_56b.py
  scripts/performance/llm/pretrain_nemotronh_8b.py
  scripts/performance/llm/pretrain_qwen3_235b_a22b.py
  scripts/performance/llm/pretrain_qwen3_30b_a3b.py
  scripts/performance/vlm/finetune_neva_8b.py
  scripts/performance/vlm/pretrain_vlm_llama4_e128.py
  scripts/performance/vlm/pretrain_vlm_llama4_e16.py
Labels: audio

#14698 Fix for "EncDecRNNTBPEModel transcribe() failed with TypeError"
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
Labels: ASR, Run CICD, r2.5.0

#14688 Remove multilingual sentence piece tokenizer
  examples/tts/conf/magpietts/magpietts_inference_multilingual_v1.yaml
  examples/tts/conf/magpietts/magpietts_multilingual_v1.yaml
  scripts/magpietts/README_magpie_po.md
  tests/functional_tests/L2_TTS_Fast_dev_runs_Magpietts_OnlinePO.sh
Labels: TTS, Run CICD

#14709 Cherry pick `Fix for \EncDecRNNTBPEModel transcribe() failed with TypeError\ (14698)` into `r2.5.0`
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
Labels: cherry-pick, ASR, Run CICD

#14411 Add option for LoRA with Transformer Engine op fuser
  .github/workflows/cicd-main-nemo2.yml
  nemo/collections/llm/fn/base.py
  nemo/collections/llm/peft/lora.py
  tests/collections/llm/common.py
  tests/collections/llm/gpt_finetuning.py
  tests/functional_tests/L2_NeMo_2_GPT_LoRA_TP1PP1_MBS1_TE_op_fuser.sh
Labels: CI, Run CICD

#14738 [unittests] fixed bugs for sampling in cer, speaker similarity and validation status.
  nemo/collections/common/data/lhotse/sampling.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: common, Run CICD

#14694 imported get_moe_layer_wise_logging_tracker from megatron core moe_utils
  nemo/lightning/megatron_parallel.py
Labels: Run CICD

#14746 Cherry pick `remove env var (14739)` into `r2.5.0`
  nemo/lightning/run/plugins.py
Labels: cherry-pick

#14649 [magpietts][lhotse] add a script for creating text context manifest for riva speakers and jhh.
  scripts/magpietts/create_text_context_lhotse_manifest.py
Labels: TTS, Run CICD

#14742 Support additional Slurm parameters (#14701)
  scripts/performance/argument_parser.py
  scripts/performance/diffusion/pretrain_flux_12b.py
  scripts/performance/executors.py
  scripts/performance/llm/finetune_deepseek_v3.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/finetune_llama3_8b.py
  scripts/performance/llm/finetune_llama4_e128.py
  scripts/performance/llm/mlperf_lora_llama2_70b.py
  scripts/performance/llm/pretrain_automodel_llama3_8b.py
  scripts/performance/llm/pretrain_deepseek_v3.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_llama3_8b.py
  scripts/performance/llm/pretrain_llama4_e128.py
  scripts/performance/llm/pretrain_llama4_e16.py
  scripts/performance/llm/pretrain_mixtral_8x22b.py
  scripts/performance/llm/pretrain_mixtral_8x7b.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  scripts/performance/llm/pretrain_nemotronh_47b.py
  scripts/performance/llm/pretrain_nemotronh_56b.py
  scripts/performance/llm/pretrain_nemotronh_8b.py
  scripts/performance/llm/pretrain_qwen3_235b_a22b.py
  scripts/performance/llm/pretrain_qwen3_30b_a3b.py
  scripts/performance/vlm/finetune_neva_8b.py
  scripts/performance/vlm/pretrain_vlm_llama4_e128.py
  scripts/performance/vlm/pretrain_vlm_llama4_e16.py
Labels: Run CICD

#14711 [Flux] Remove Redundant Host & Device Sync
  nemo/collections/diffusion/models/flux/model.py
Labels: Run CICD

#14766 add transducer timestamps without alignments, timestamps to streaming
  examples/asr/asr_chunked_inference/rnnt/speech_to_text_streaming_infer_rnnt.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/parts/submodules/rnnt_beam_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/transducer_decoding/tdt_label_looping.py
  nemo/collections/asr/parts/utils/rnnt_utils.py
  tests/collections/asr/decoding/test_batched_hyps_and_alignments.py
Labels: ASR

#14627 Adding bf16 Sortformer train and inference
  examples/speaker_tasks/diarization/conf/neural_diarizer/sortformer_diarizer_hybrid_loss_4spk-v1.yaml
  examples/speaker_tasks/diarization/conf/neural_diarizer/streaming_sortformer_diarizer_4spk-v2.yaml
  examples/speaker_tasks/diarization/neural_diarizer/e2e_diarize_speech.py
  examples/speaker_tasks/diarization/neural_diarizer/sortformer_diar_train.py
  examples/speaker_tasks/diarization/neural_diarizer/streaming_sortformer_diar_train.py
  nemo/collections/asr/losses/bce_loss.py
  nemo/collections/asr/models/sortformer_diar_models.py
Labels: ASR, Speaker Tasks, Run CICD

#14639 fix: Use shutil.copy fallback to handle file metadata permission errors
  nemo/collections/asr/parts/mixins/mixins.py
  nemo/core/connectors/save_restore_connector.py
  nemo/lightning/io/artifact/file.py
  nemo/utils/file_utils.py
  tests/utils/test_file_utils.py
Labels: core, ASR, Run CICD

#14801 QWEN2.5-VL 7B FP8 Recipe
  nemo/collections/vlm/qwen2vl/model/base.py
  nemo/collections/vlm/recipes/qwen25vl_7b.py
  scripts/performance/recommended_model_configs/model_configs_b200.csv
  scripts/performance/recommended_model_configs/model_configs_gb200.csv
  scripts/performance/recommended_model_configs/model_configs_h100.csv
  scripts/performance/vlm/finetune_qwen25vl_7b.py
Labels: Run CICD

#14822 Feat: Disk space management: for nemo install test
  .github/workflows/install-test.yml
Labels: CI

#14813 Checkout magpie branch instead of main
  .github/actions/test-template/action.yml
  .github/workflows/cicd-main-automodel.yml
  .github/workflows/cicd-main-nemo2.yml
  .github/workflows/cicd-main-speech.yml
  .github/workflows/cicd-main-unit-tests.yml
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#14761 Don't allow EOS until 4 frames have been generated
  nemo/collections/tts/models/magpietts.py
Labels: TTS, Run CICD

#14832 Update cherry-pick workflow to use version 0.63.0
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#14839 Fixing three mcore links
  docs/false_positives.json
  docs/source/nlp/nlp_all.bib
Labels: NLP

#14836 Magpietts 2508 Attention mask bug fix
  nemo/collections/tts/modules/transformer_2501.py
  tests/collections/tts/modules/test_transformer_2501.py
Labels: TTS, Run CICD
