Repository NVIDIA-NeMo/NeMo, pull requests merged in 2025-10, with the labels that each got.

#14794 Add new spectral codec definition
  nemo/collections/common/parts/utils.py
  nemo/collections/tts/losses/audio_codec_loss.py
  nemo/collections/tts/models/audio_codec.py
  nemo/collections/tts/models/magpietts.py
  nemo/collections/tts/modules/audio_codec_modules.py
Labels: TTS, common, Run CICD

#14847 Docstrings and comments on EOS handling.
  nemo/collections/tts/models/magpietts.py
  nemo/collections/tts/modules/magpietts_modules.py
Labels: TTS, Run CICD

#14811 Patch: r2.5.0 with onelogger changes.
  nemo/collections/llm/api.py
  nemo/collections/llm/fn/mixin.py
  nemo/collections/llm/gpt/data/mock.py
  nemo/collections/llm/modelopt/speculative/model_transform.py
  nemo/collections/llm/t5/data/mock.py
  nemo/collections/speechlm2/parts/optim_setup.py
  nemo/collections/vlm/neva/data/preloaded.py
  nemo/core/classes/modelPT.py
  nemo/core/config/hydra_runner.py
  nemo/core/optim/lr_scheduler.py
  nemo/core/optim/optimizers.py
  nemo/lightning/base_callback.py
  nemo/lightning/callback_group.py
  nemo/lightning/io/mixin.py
  nemo/lightning/one_logger_callback.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  requirements/requirements.txt
  requirements/requirements_lightning.txt
  tests/collections/common/test_ema.py
  tests/core/test_exp_manager.py
  tests/lightning/_io/test_api.py
  tests/lightning/test_callbacks_group.py
  tests/lightning/test_one_logger_callback.py
Labels: core, TTS, ASR, NLP, Speaker Tasks, CI, audio, skip-linting

#14897 [Qwen3] Fix the flop cal for Qwen3
  nemo/utils/flops_formulas.py
Labels: Run CICD
