Repository NVIDIA-NeMo/NeMo, pull requests merged in 2025-02, with the labels that each got.

#12009 Add the NeMo2 memory profiling plugin
  nemo/lightning/run/plugins.py
Labels: Run CICD

#12020 chore(ci): Disable VMs cron job on forks
  .github/workflows/monitor-vms.yml
Labels: CI

#12007 minor fix and simplify
  nemo/collections/llm/inference/base.py
  nemo/lightning/pytorch/utils.py
Labels: Run CICD

#12021 ci: Build wheel workflow
  .github/workflows/build-test-publish-wheel.yml
Labels: CI

#12022 ci: Release workflow
  .github/workflows/release.yml
Labels: CI

#11986 ci: Run unit tests on main
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#12005 Set zarr range to >=2.18.2 and <3.0.0
  requirements/requirements_deploy.txt
  requirements/requirements_infer.txt
  requirements/requirements_nlp.txt
Labels: Run CICD

#11896 Weekly bump
  .github/workflows/cicd-main.yml
  nemo/collections/nlp/models/language_modeling/megatron/falcon/falcon_decoder_layer.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/vlm/mllama/model/vision.py
  reinstall.sh
  tests/collections/llm/megatron_mixtral_pretraining.py
Labels: NLP, CI, Run CICD

#11981 chore(beep boop 🤖): Bump `MCORE_TAG=d5069b8...` (2025-01-29)
  reinstall.sh
Labels: Run CICD

#12014 chore(beep boop 🤖): Bump `MCORE_TAG=dbe8fa0...` (2025-02-01)
  reinstall.sh
Labels: Run CICD

#12027 ci: Run linting per domain
  .flake8.other
  .flake8.speech
  .github/CODEOWNERS
  .github/workflows/code-formatting.yml
  .github/workflows/code-linting.yml
  .pylintrc.other
  .pylintrc.speech
Labels: CI

#12029 Replace reference of requirements_infer.txt with requirements_deploy.txt
  reinstall.sh
  requirements/requirements_infer.txt
Labels: Run CICD

#12035 ci: Always run linting
  .github/workflows/code-linting.yml
Labels: CI

#11974 ci: Retry on timeout
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
  tests/core/test_exp_manager.py
Labels: core, CI, Run CICD

#12036 [MoE] fix run err in mixtral22B recipe and update its perf config
  nemo/collections/llm/recipes/mixtral_8x22b.py
  scripts/llm/performance/pretrain_mixtral_8x22b.py
Labels: Run CICD

#12038 chore(beep boop 🤖): Bump `MCORE_TAG=284ed81...` (2025-02-04)
  reinstall.sh
Labels: Run CICD

#12043 ci: Update weekly brain
  .github/workflows/mcore-tag-bump-bot.yml
Labels: CI

#12008 nemo-automodel: fsdp2 support for peft
  .github/workflows/cicd-main.yml
  examples/llm/peft/hf.py
  examples/llm/sft/hf.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/peft/lora.py
  nemo/lightning/io/pl.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  nemo/lightning/pytorch/callbacks/peft.py
  nemo/lightning/pytorch/strategies/fsdp2_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
  nemo/lightning/pytorch/utils.py
  tests/collections/llm/hf/peft_hf.py
  tests/lightning/pytorch/callbacks/test_peft.py
Labels: CI, Run CICD, no-fail-fast

#11774 fix llama-3.1 hf model_id
  nemo/collections/llm/recipes/llama31_8b.py
Labels: Run CICD

#12048 ci: Allow skipping docs
  .github/workflows/code-linting.yml
Labels: CI, skip-docs

#12028 avoid missmatch error when loading older TE checkpoints
  nemo/lightning/_strategy_lib.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD

#11808 Add padding in mllama vision encoder to align with HF
  nemo/collections/vlm/mllama/model/vision.py
Labels: Run CICD

#12053 chore(beep boop 🤖): Bump `MCORE_TAG=ca46c53...` (2025-02-04)
  reinstall.sh
Labels: Run CICD

#12064 ci: Lint Python files only
  .github/workflows/code-linting.yml
Labels: CI

#11763 Recipe changes for performance
  nemo/collections/llm/recipes/tp_overlap_configs/userbuffers.py
  nemo/lightning/pytorch/callbacks/megatron_comm_overlap.py
Labels: Run CICD, r2.1.1

#11707 Sortformer Diarizer 4spk v1 model PR Part 4: Sortformer Documents and Notebook Tutorials
  docs/source/asr/speaker_diarization/api.rst
  docs/source/asr/speaker_diarization/configs.rst
  docs/source/asr/speaker_diarization/data/e2e_diar_models.csv
  docs/source/asr/speaker_diarization/datasets.rst
  docs/source/asr/speaker_diarization/images/asr_sd_diagram.png
  docs/source/asr/speaker_diarization/images/ats.png
  docs/source/asr/speaker_diarization/images/e2e_and_cascaded_diar_systems.png
  docs/source/asr/speaker_diarization/images/e2e_diar_diagram.png
  docs/source/asr/speaker_diarization/images/intro_comparison.png
  docs/source/asr/speaker_diarization/images/loss_types.png
  docs/source/asr/speaker_diarization/images/main_dataflow.png
  docs/source/asr/speaker_diarization/images/sortformer.png
  docs/source/asr/speaker_diarization/intro.rst
  docs/source/asr/speaker_diarization/models.rst
  docs/source/asr/speaker_diarization/resources.rst
  docs/source/asr/speaker_diarization/results.rst
  docs/source/conf.py
  examples/speaker_tasks/diarization/conf/post_processing/sortformer_diar_4spk-v1_callhome-part1.yaml
  examples/speaker_tasks/diarization/conf/post_processing/sortformer_diar_4spk-v1_dihard3-dev.yaml
  nemo/collections/asr/data/ssl_dataset.py
  nemo/collections/asr/parts/mixins/mixins.py
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/data/lhotse/dataloader.py
  nemo/collections/multimodal/speech_llm/data/lhotse_dataset.py
  tutorials/speaker_tasks/End_to_End_Diarization_Inference.ipynb
  tutorials/speaker_tasks/End_to_End_Diarization_Training.ipynb
  tutorials/speaker_tasks/images/ats.png
  tutorials/speaker_tasks/images/cascaded_diar_diagram.png
  tutorials/speaker_tasks/images/e2e_diar_diagram.png
  tutorials/speaker_tasks/images/intro_comparison.png
  tutorials/speaker_tasks/images/loss_types.png
  tutorials/speaker_tasks/images/main_dataflow.png
  tutorials/speaker_tasks/images/sortformer.png
Labels: ASR, Speaker Tasks, common, Multi Modal, Run CICD

#11766 Pipeline-parallel support for Knowledge Distillation (NeMo 2)
  .github/workflows/cicd-main.yml
  nemo/collections/llm/distillation/__init__.py
  nemo/collections/llm/distillation/loss.py
  nemo/collections/llm/distillation/model.py
  nemo/collections/llm/distillation/utils.py
  nemo/collections/llm/gpt/model/base.py
  nemo/lightning/megatron_parallel.py
  nemo/utils/model_utils.py
  scripts/llm/gpt_distillation.py
  tests/collections/llm/gpt_distillation.py
Labels: CI, Run CICD, skip-docs

#12049 add cp_comm_type param to Mistral config
  nemo/collections/llm/gpt/model/mistral.py
Labels: Run CICD

#12052 Adding nemo CI
  nemo/collections/vlm/__init__.py
  nemo/collections/vlm/clip/model/__init__.py
  nemo/collections/vlm/clip/model/base.py
  nemo/collections/vlm/clip/model/clip.py
  nemo/collections/vlm/mllama/model/language.py
  nemo/collections/vlm/mllama/model/vision.py
  nemo/collections/vlm/neva/data/config.py
  nemo/collections/vlm/neva/model/base.py
  nemo/collections/vlm/recipes/clip_b32.py
  scripts/vlm/clip_pretrain.py
Labels: Run CICD, skip-docs

#12060 attn_implementation eager fallback
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
Labels: Run CICD

#12073 chore(beep boop 🤖): Bump `MCORE_TAG=0ae1d14...` (2025-02-06)
  reinstall.sh
Labels: Run CICD, no-fail-fast

#12004 Debug Apex distributed optimizer to handle Transformer Engine 2.0
  nemo/collections/multimodal/models/vision_language_foundation/clip/megatron_clip_models.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/core/optim/distributed_adam.py
  nemo/utils/te_utils.py
Labels: core, NLP, Multi Modal, Run CICD, skip-docs

#12085 throw MegatronOptimizerModule warning only with mcore models
  nemo/lightning/pytorch/callbacks/peft.py
Labels: Run CICD

#12079 Fix Linting
  nemo/collections/llm/recipes/__init__.py
Labels: Run CICD

#12072 Fix hf_dataset bug
  nemo/collections/llm/gpt/data/hf_dataset.py
Labels: Run CICD, skip-docs

#12083 set TOKENIZERS_PARALLELISM=True
  nemo/lightning/base.py
Labels: Run CICD

#12084 minor fix in model's summary identation during logging
  nemo/lightning/pytorch/callbacks/model_transform.py
Labels: Run CICD

#12081 fix nmt dataclass issue
  examples/nlp/machine_translation/enc_dec_nmt.py
Labels: NLP, Run CICD

#11649 Add Llama2 7B recipe
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/llama2_7b.py
Labels: Run CICD

#11851 Refactor VLM modules / Add InternVit submodule support
  nemo/collections/vlm/__init__.py
  nemo/collections/vlm/llava_next/model/llava_next.py
  nemo/collections/vlm/neva/data/lazy.py
  nemo/collections/vlm/neva/data/multimodal_tokens.py
  nemo/collections/vlm/neva/model/__init__.py
  nemo/collections/vlm/neva/model/base.py
  nemo/collections/vlm/neva/model/llava.py
  nemo/collections/vlm/neva/model/vit_config.py
  nemo/collections/vlm/vision/__init__.py
  nemo/collections/vlm/vision/base.py
  nemo/collections/vlm/vision/clip_vit.py
  nemo/collections/vlm/vision/intern_vit.py
  nemo/collections/vlm/vision/siglip_vit.py
  scripts/vlm/neva_finetune.py
Labels: Run CICD

#12057 Fix SBERT with sequence_len_offset
  nemo/collections/llm/bert/model/base.py
  nemo/collections/llm/bert/model/bert_spec.py
Labels: Run CICD

#12030 ci: codecov
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
  codecov.yml
Labels: CI, Run CICD

#12016 build: Improve installer
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
  .github/workflows/mcore-tag-bump-bot.yml
  Dockerfile.ci
  reinstall.sh
  requirements/manifest.json
Labels: CI, Run CICD

#12104 ci: Modular unit tests
  .github/workflows/cicd-main.yml
  codecov.yml
Labels: CI, Run CICD

#12106 ci: Update bump workflow
  .github/workflows/mcore-tag-bump-bot.yml
Labels: CI

#12111 etp docs
  docs/source/features/parallelisms.rst
Labels: documentation

#12109 build: Better caching
  Dockerfile.ci
  reinstall.sh
  requirements/manifest.json
Labels: Run CICD

#12113 ci: Fix flaky test
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#12108 Ensure nemo.collections.vlm does not strictly require transformer engine
  nemo/collections/vlm/vision/base.py
  nemo/collections/vlm/vision/intern_vit.py
Labels: Run CICD, no-fail-fast

#12066 refactor peft module matching; introduce exclude_modules
  .github/workflows/cicd-main.yml
  nemo/collections/llm/peft/canonical_lora.py
  nemo/collections/llm/peft/dora.py
  nemo/collections/llm/peft/lora.py
  nemo/collections/llm/peft/module_matcher.py
  tests/collections/llm/lora_mistralai.py
Labels: CI, Run CICD

#12114 Update mcore commit (02.06.25)
  requirements/manifest.json
Labels: Run CICD

#12067 DAPT playbooks - with NeMo 2.0
  tutorials/llm/llama/README.rst
  tutorials/llm/llama/biomedical-qa/README.rst
  tutorials/llm/llama/biomedical-qa/img/e2e-lora-train-and-deploy.png
  tutorials/llm/llama/biomedical-qa/llama3-lora-deploy-nim.ipynb
  tutorials/llm/llama/biomedical-qa/llama3-lora-nemofw.ipynb
  tutorials/llm/llama/domain-adaptive-pretraining/.gitignore
  tutorials/llm/llama/domain-adaptive-pretraining/README.md
  tutorials/llm/llama/domain-adaptive-pretraining/code/custom_tokenization.ipynb
  tutorials/llm/llama/domain-adaptive-pretraining/code/domain_adaptive_pretraining_nemo1.0.ipynb
  tutorials/llm/llama/domain-adaptive-pretraining/code/domain_adaptive_pretraining_nemo2.0.ipynb
  tutorials/llm/llama/domain-adaptive-pretraining/code/extend_tokenizer_utils.py
  tutorials/llm/llama/domain-adaptive-pretraining/code/get_high_freq_tokens.py
  tutorials/llm/llama/domain-adaptive-pretraining/code/imgs/embedding_table.png
  tutorials/llm/llama/domain-adaptive-pretraining/code/imgs/tokenization_diagram.png
  tutorials/llm/llama/domain-adaptive-pretraining/code/tokenization_helper.py
  tutorials/llm/llama/domain-adaptive-pretraining/code/util.py
  tutorials/llm/llama/nemo2-sft-peft/README.rst
  tutorials/llm/llama/nemo2-sft-peft/nemo2-peft.ipynb
  tutorials/llm/llama/nemo2-sft-peft/nemo2-sft.ipynb
  tutorials/llm/llama/pruning-distillation/01_data_preparation.ipynb
  tutorials/llm/llama/pruning-distillation/02_teacher_finetuning.ipynb
  tutorials/llm/llama/pruning-distillation/03_a_depth_pruning.ipynb
  tutorials/llm/llama/pruning-distillation/03_b_width_pruning.ipynb
  tutorials/llm/llama/pruning-distillation/04_a_distilling_depth_pruned_student.ipynb
  tutorials/llm/llama/pruning-distillation/04_b_distilling_width_pruned_student.ipynb
  tutorials/llm/llama/pruning-distillation/05_display_results.ipynb
  tutorials/llm/llama/pruning-distillation/README.rst
  tutorials/llm/llama/pruning-distillation/introduction.ipynb
  tutorials/llm/llama/sdg-law-title-generation/README.rst
  tutorials/llm/llama/sdg-law-title-generation/img/e2e-lora-train-and-deploy.png
  tutorials/llm/llama/sdg-law-title-generation/llama3-sdg-lora-deploy-nim.ipynb
  tutorials/llm/llama/sdg-law-title-generation/llama3-sdg-lora-nemofw.ipynb
  tutorials/llm/llama/slimpajama/README.md
  tutorials/llm/llama/slimpajama/data/concat.sh
  tutorials/llm/llama/slimpajama/data/download.py
  tutorials/llm/llama/slimpajama/data/extract.py
  tutorials/llm/llama/slimpajama/data/preprocess.py
  tutorials/llm/llama/slimpajama/data_pipeline.ipynb
  tutorials/llm/llama/slimpajama/data_pipeline.py
  tutorials/llm/llama/slimpajama/pretraining.ipynb
Labels: Run CICD

#11961 Malay/bw scripts
  nemo/collections/llm/recipes/llama31_405b.py
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/tp_overlap_configs/userbuffers.py
  scripts/llm/performance/argument_parser.py
  scripts/llm/performance/finetune_llama31_405b.py
  scripts/llm/performance/finetune_llama3_70b.py
  scripts/llm/performance/finetune_llama3_8b.py
  scripts/llm/performance/pretrain_gpt3_175b.py
  scripts/llm/performance/pretrain_llama31_405b.py
  scripts/llm/performance/pretrain_llama3_70b.py
  scripts/llm/performance/pretrain_llama3_8b.py
  scripts/llm/performance/pretrain_mixtral_8x22b.py
  scripts/llm/performance/pretrain_mixtral_8x7b.py
  scripts/llm/performance/pretrain_nemotron3_22b.py
  scripts/llm/performance/pretrain_nemotron3_8b.py
  scripts/llm/performance/pretrain_nemotron4_15b.py
  scripts/llm/performance/pretrain_nemotron4_340b.py
  scripts/llm/performance/recommended_model_configs/model_configs_b200.csv
  scripts/llm/performance/recommended_model_configs/model_configs_h100.csv
  scripts/llm/performance/recommended_model_configs/strong_scaling_model_configs_h100.csv
  scripts/llm/performance/utils.py
Labels: Run CICD, skip-docs

#12055 Add performance-optimized example for llama2 70b LoRA
  nemo/collections/llm/gpt/data/__init__.py
  nemo/collections/llm/gpt/data/mlperf_govreport.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/recipes/tp_overlap_configs/userbuffers.py
  nemo/lightning/pytorch/callbacks/megatron_comm_overlap.py
  scripts/llm/performance/mlperf_lora_llama2_70b.py
Labels: Run CICD, skip-docs

#12099 Add Automodel support for Deepseek v3 model
  nemo/collections/llm/recipes/hf_auto_model_for_causal_lm.py
  nemo/lightning/pytorch/strategies/fsdp2_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
  scripts/llm/automodel.py
Labels: Run CICD

#12125 Bug fix with generation of expert_tensor_parallel_rank
  nemo/lightning/megatron_init.py
Labels: Run CICD

#12121 Rename neva datamodule
  nemo/collections/vlm/__init__.py
  nemo/collections/vlm/mllama/data/__init__.py
  nemo/collections/vlm/mllama/data/preloaded.py
  nemo/collections/vlm/neva/data/__init__.py
  nemo/collections/vlm/neva/data/api.py
  nemo/collections/vlm/neva/data/preloaded.py
  nemo/collections/vlm/vision/intern_vit.py
  scripts/vlm/mllama_finetune.py
  scripts/vlm/neva_finetune.py
Labels: Run CICD

#12078 Update vLLM to 0.7.2
  nemo/export/vllm/model_config.py
  nemo/export/vllm/model_loader.py
  nemo/export/vllm/tokenizer_group.py
  nemo/export/vllm_exporter.py
  requirements/requirements_vllm.txt
Labels: Run CICD

#12095 Prevent downloading dataset every time in ci test
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  tests/collections/llm/gpt_finetuning.py
Labels: CI, Run CICD

#11818 changed asr models outputs to be consistent
  nemo/collections/asr/metrics/bleu.py
  nemo/collections/asr/metrics/wer.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/parts/context_biasing/context_biasing_utils.py
  nemo/collections/asr/parts/mixins/mixins.py
  nemo/collections/asr/parts/submodules/ctc_beam_decoding.py
  nemo/collections/asr/parts/submodules/ctc_decoding.py
  nemo/collections/asr/parts/submodules/ctc_greedy_decoding.py
  nemo/collections/asr/parts/submodules/cuda_graph_rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/multitask_beam_decoding.py
  nemo/collections/asr/parts/submodules/multitask_decoding.py
  nemo/collections/asr/parts/submodules/multitask_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_beam_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_loop_labels_computer.py
  nemo/collections/asr/parts/submodules/tdt_beam_decoding.py
  nemo/collections/asr/parts/submodules/tdt_loop_labels_computer.py
  nemo/collections/asr/parts/utils/rnnt_utils.py
  nemo/collections/asr/parts/utils/streaming_utils.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  nemo/collections/multimodal/speech_cv/models/visual_ctc_models.py
  nemo/collections/multimodal/speech_cv/models/visual_hybrid_rnnt_ctc_models.py
  nemo/collections/multimodal/speech_cv/models/visual_rnnt_models.py
  nemo/collections/tts/g2p/models/ctc.py
  scripts/asr_language_modeling/ngram_lm/eval_beamsearch_ngram_ctc.py
  scripts/asr_language_modeling/ngram_lm/eval_beamsearch_ngram_transducer.py
  scripts/asr_language_modeling/ngram_lm/eval_wfst_decoding_ctc.py
  tests/collections/asr/decoding/test_batched_hyps_and_alignments.py
  tests/collections/asr/decoding/test_ctc_decoding.py
  tests/collections/asr/decoding/test_cuda_graph_rnnt_greedy_decoding.py
  tests/collections/asr/decoding/test_rnnt_alignments.py
  tests/collections/asr/decoding/test_rnnt_decoding.py
  tests/collections/asr/mixins/test_transcription.py
  tests/collections/asr/test_asr_classification_model.py
  tests/collections/asr/test_asr_context_biasing.py
  tests/collections/asr/test_asr_ctc_encoder_model_bpe.py
  tests/collections/asr/test_asr_ctcencdec_model.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_bpe.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_char.py
  tests/collections/asr/test_asr_metrics.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
  tests/collections/asr/test_asr_rnnt_encdec_model.py
  tests/collections/asr/test_asr_rnnt_encoder_model_bpe.py
  tutorials/asr/ASR_Context_Biasing.ipynb
  tutorials/asr/ASR_with_NeMo.ipynb
  tutorials/asr/ASR_with_Transducers.ipynb
  tutorials/asr/Buffered_Transducer_Inference.ipynb
Labels: TTS, ASR, Multi Modal, Run CICD, skip-docs

#11497 fix: export weight name mapping if model is nemo model
  nemo/export/tensorrt_llm.py
  tests/export/test_tensorrt_llm.py
  tests/export/trt_llm/converter/test_model_to_trt_llm_ckpt.py
Labels: Run CICD

#12139 Add error message when downloading failed.
  nemo/collections/nlp/modules/common/megatron/megatron_utils.py
Labels: NLP, Run CICD

#12136 Skip initialization in hf export
  nemo/lightning/io/connector.py
Labels: Run CICD

#12144 update export io call
  nemo/collections/llm/gpt/model/mixtral.py
Labels: Run CICD

#12146 Minor Bug Fixes - LLaMa Embedding
  nemo/collections/llm/gpt/model/hf_llama_embedding.py
  nemo/collections/llm/gpt/model/llama_embedding.py
Labels: Run CICD

#12131 fix: add default kwargs for trtllm model runner
  nemo/export/trt_llm/tensorrt_llm_run.py
Labels: Run CICD

#12163 Revert "build: Force re-install VCS dependencies"
  reinstall.sh
Labels: Run CICD, r2.2.0

#12013 AutoModel Notebooks
  tutorials/llm/hf/peft.ipynb
  tutorials/llm/hf/sft.ipynb
Labels: Run CICD

#12147 Fix state transform
  nemo/lightning/io/state.py
  tests/lightning/_io/test_state.py
Labels: Run CICD

#11904 remove nemo.collection.nlp imports from nemo2
  nemo/collections/llm/bert/data/core.py
  nemo/collections/llm/bert/data/fine_tuning.py
  nemo/collections/llm/bert/loss.py
  nemo/collections/llm/gpt/data/core.py
  nemo/collections/llm/gpt/data/utils.py
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/gpt/model/gemma2.py
  nemo/collections/llm/peft/canonical_lora.py
  nemo/collections/llm/peft/lora.py
  nemo/collections/llm/peft/utils.py
  nemo/collections/llm/quantization/quantizer.py
  nemo/collections/llm/quantization/utils.py
  nemo/collections/llm/t5/data/core.py
  nemo/collections/llm/t5/model/t5.py
  nemo/collections/llm/utils.py
  tests/lightning/test_data.py
Labels: Run CICD

#12090 Fix multi-GPU in-framework deployment
  nemo/deploy/nlp/megatronllm_deployable.py
  scripts/deploy/nlp/deploy_inframework_triton.py
  tests/export/nemo_export.py
Labels: bug, Run CICD, skip-docs, r2.2.0

#11868 Add function calling SFT NeMo2.0 tutorial
  tutorials/llm/function_calling/nemo2-chat-sft-function-calling.ipynb
Labels: r2.2.0

#12143 Distillation NeMo run entrypoint and recipe
  .github/workflows/cicd-main.yml
  nemo/collections/llm/__init__.py
  nemo/collections/llm/api.py
  nemo/collections/llm/distillation/model.py
  nemo/collections/llm/distillation/recipe.py
  scripts/llm/gpt_distillation.py
  tests/collections/llm/gpt_distillation.py
Labels: CI, Run CICD, r2.1.1, r2.2.0

#12089 Update Llama 3.1 model IDs
  scripts/checkpoint_converters/convert_llama_hf_to_nemo.py
  scripts/checkpoint_converters/convert_llama_hf_to_nemo_load.py
  scripts/export/convert_nemo2_for_export.py
  tutorials/llm/llama/pruning-distillation/01_data_preparation.ipynb
  tutorials/llm/llama/pruning-distillation/README.rst
  tutorials/llm/llama/pruning-distillation/introduction.ipynb
Labels: Run CICD

#12170 Fix num nodes to match parallel mappings
  nemo/collections/llm/recipes/llama31_405b.py
Labels: Run CICD

#11650 Add usage instructions for Cosmos TensorRT
  nemo/collections/common/video_tokenizers/README.md
Labels: common, Run CICD

#12177 Fix nsys callback tests
  tests/lightning/pytorch/callbacks/test_nsys.py
Labels: Run CICD

#11950 The `offset` and `duration` of an entry are encoded in the filename of the audio inside the tarball when `slice_with_duration` is enabled.
  scripts/speech_recognition/convert_to_tarred_audio_dataset.py
Labels: stale

#12168 disable moe logging to avoid deepseek hang
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD, r2.2.0

#12140 Add perf model configs gb200
  scripts/llm/performance/finetune_llama31_405b.py
  scripts/llm/performance/finetune_llama3_70b.py
  scripts/llm/performance/finetune_llama3_8b.py
  scripts/llm/performance/pretrain_llama3_8b.py
  scripts/llm/performance/pretrain_mixtral_8x22b.py
  scripts/llm/performance/recommended_model_configs/model_configs_b200.csv
  scripts/llm/performance/recommended_model_configs/model_configs_gb200.csv
  scripts/llm/performance/recommended_model_configs/model_configs_h100.csv
  scripts/llm/performance/recommended_model_configs/strong_scaling_model_configs_h100.csv
Labels: Run CICD, skip-docs

#12184 use getattr for .optim and allow variable num of args
  nemo/lightning/pytorch/callbacks/debugging.py
Labels: Run CICD

#12191 Cherry pick `build: Force re-install VCS dependencies (12155)` into `r2.2.0`
  reinstall.sh
Labels: cherry-pick, Run CICD

#12165 Fixes for bumping pyt to 25.01
  nemo/core/optim/mcore_optim.py
  tests/lightning/test_nemo_resume_from_ckpt.py
Labels: core

#12175 Use pip --no-deps --force-reinstall when building the test container
  .github/workflows/cicd-main.yml
  reinstall.sh
Labels: CI

#12198 Set weights_only=False in torch.load in EMA callback and AdapterMixin
  nemo/collections/common/callbacks/ema.py
  nemo/core/classes/mixins/adapter_mixins.py
  nemo/utils/callbacks/nemo_model_checkpoint.py
  tests/core/test_exp_manager.py
Labels: core, common, skip-docs, no-fail-fast

#12153 Update TTS code to remove calls to deprecated functions
  nemo/collections/tts/data/dataset.py
  nemo/collections/tts/parts/utils/helpers.py
Labels: TTS, Run CICD, r2.2.0

#12202 Revert pytest -s
  .github/workflows/cicd-main.yml
Labels: CI

#12201 Cherry pick `Update TTS code to remove calls to deprecated functions (12153)` into `r2.2.0`
  nemo/collections/tts/data/dataset.py
  nemo/collections/tts/parts/utils/helpers.py
Labels: TTS, cherry-pick, Run CICD

#12217 ci: Code-freeze dry-run
  .github/workflows/release-freeze.yml
Labels: CI

#12219 ci: Use release-ref
  .github/workflows/release.yml
Labels: CI

#12215 ci: Add install-test
  .github/workflows/install-test.yml
  reinstall.sh
  requirements/requirements_deploy.txt
Labels: CI, Run CICD

#12223 ci: Update release workflows
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/release.yml
Labels: CI

#12185 Fix loading extra states from torch tensor
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
Labels: Run CICD, r2.2.0

#12192 Cherry pick `disable moe logging to avoid deepseek hang (12168)` into `r2.2.0`
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: cherry-pick, Run CICD

#12229 build: Pin down transformers
  requirements/requirements_lightning.txt
Labels: r2.2.0

#12230 Cherry pick `build: Pin down transformers (12229)` into `r2.2.0`
  requirements/requirements_lightning.txt
Labels: cherry-pick, Run CICD

#12070 nemo-automodel checkpoint-io refactor
  .github/workflows/cicd-main.yml
  examples/llm/peft/hf.py
  examples/llm/sft/hf.py
  nemo/collections/llm/gpt/data/hf_dataset.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/peft/lora.py
  nemo/lightning/ckpt_utils.py
  nemo/lightning/io/__init__.py
  nemo/lightning/io/hf.py
  nemo/lightning/io/pl.py
  nemo/lightning/nemo_logger.py
  nemo/lightning/pytorch/accelerate/transformer_engine.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  nemo/lightning/pytorch/callbacks/peft.py
  nemo/lightning/pytorch/optim/pytorch.py
  nemo/lightning/pytorch/strategies/fsdp2_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
  tests/collections/llm/hf/peft_hf.py
  tests/collections/llm/hf/pretrain.py
  tests/collections/llm/hf/sft.py
  tests/collections/llm/test_nemo_jit_cb.py
  tests/lightning/_io/test_hf.py
  tests/lightning/pytorch/pth_optim.py
Labels: CI, Run CICD, no-fail-fast, r2.2.0

#12226 Cherry pick `Fix loading extra states from torch tensor (12185)` into `r2.2.0`
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
Labels: cherry-pick, Run CICD

#12234 Cherry pick `nemo-automodel checkpoint-io refactor (12070)` into `r2.2.0`
  .github/workflows/cicd-main.yml
  examples/llm/peft/hf.py
  examples/llm/sft/hf.py
  nemo/collections/llm/gpt/data/hf_dataset.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/peft/lora.py
  nemo/lightning/ckpt_utils.py
  nemo/lightning/io/__init__.py
  nemo/lightning/io/hf.py
  nemo/lightning/io/pl.py
  nemo/lightning/nemo_logger.py
  nemo/lightning/pytorch/accelerate/transformer_engine.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  nemo/lightning/pytorch/callbacks/peft.py
  nemo/lightning/pytorch/optim/pytorch.py
  nemo/lightning/pytorch/strategies/fsdp2_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
  tests/collections/llm/hf/peft_hf.py
  tests/collections/llm/hf/pretrain.py
  tests/collections/llm/hf/sft.py
  tests/collections/llm/test_nemo_jit_cb.py
  tests/lightning/_io/test_hf.py
  tests/lightning/pytorch/pth_optim.py
Labels: cherry-pick, CI, Run CICD

#12231 ci: Simplify install-check
  .github/workflows/install-test.yml
Labels: CI

#12179 skip-linting label optionally disables lint checks
  .flake8.speech
  .github/workflows/code-linting.yml
Labels: CI, skip-linting

#12237 ci: Disable flaky transcription tests
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#12123 Apply missing lr_mult and wd_mult to the lr and weight_decay of megatron param groups.
  nemo/lightning/_strategy_lib.py
  tests/collections/llm/common.py
  tests/collections/llm/llama3_pretraining.py
  tests/collections/llm/megatron_gpt_pretraining.py
  tests/collections/llm/megatron_t5_pretraining.py
Labels: Run CICD

#12149 Fix Llama Embedding Tutorial
  tutorials/llm/embedding/llama_embedding.ipynb
Labels: Run CICD

#12227 Asr fixes 2.2
  nemo/collections/common/callbacks/ema.py
  nemo/core/classes/mixins/adapter_mixins.py
  nemo/utils/callbacks/nemo_model_checkpoint.py
  tests/core/test_exp_manager.py
  tutorials/asr/ASR_with_NeMo.ipynb
  tutorials/asr/Confidence_Ensembles.ipynb
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
Labels: core, ASR, common, Run CICD, r2.2.0, skip-linting

#12120 ci: Generate coverage for e2e tests
  .coveragerc
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
  reinstall.sh
  tools/ctc_segmentation/requirements.txt
Labels: CI, Run CICD, no-fail-fast

#12132 fix[export]: reshard model correctly handles extra_state when it's a tensor
  nemo/export/tensorrt_llm.py
Labels: Run CICD

#12252 Restructure llm perf scripts to support vlm/diffusion/flux collections
  scripts/__init__.py
  scripts/performance/__init__.py
  scripts/performance/argument_parser.py
  scripts/performance/llm/README.md
  scripts/performance/llm/__init__.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/finetune_llama3_8b.py
  scripts/performance/llm/mlperf_lora_llama2_70b.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_llama3_8b.py
  scripts/performance/llm/pretrain_mixtral_8x22b.py
  scripts/performance/llm/pretrain_mixtral_8x7b.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  scripts/performance/recommended_model_configs/model_configs_b200.csv
  scripts/performance/recommended_model_configs/model_configs_gb200.csv
  scripts/performance/recommended_model_configs/model_configs_h100.csv
  scripts/performance/recommended_model_configs/strong_scaling_model_configs_h100.csv
  scripts/performance/utils.py
Labels: Run CICD, skip-docs

#12228 Ckpt fixes pytorch update
  .github/workflows/cicd-main.yml
  examples/nlp/machine_translation/enc_dec_nmt_finetune.py
  tests/collections/llm/gpt/model/megatron_ssm_finetuning.py
Labels: NLP, CI, Run CICD, no-fail-fast

#12251 chore(🤖): Bump `NVIDIA/Megatron-LM` to `61b2c4f...` (2025-02-19)
  reinstall.sh
  requirements/manifest.json
Labels: Run CICD

#12259 ci: Bump release workflows
  .github/workflows/release-freeze.yml
  .github/workflows/release.yml
Labels: CI

#12186 add default param dtype in mistral configs
  nemo/collections/llm/gpt/model/mistral.py
Labels: Run CICD

#12248 add default kwargs for trtllm model runner
  nemo/export/trt_llm/tensorrt_llm_run.py
Labels: Run CICD

#12270 Fix distillation state-dict loading bug
  .github/workflows/release.yml
  nemo/collections/llm/distillation/model.py
  nemo/collections/llm/gpt/model/mistral.py
Labels: CI

#12236 Llama Embedding Model Improvement
  nemo/collections/llm/bert/data/fine_tuning.py
  nemo/collections/llm/gpt/data/retrieval.py
Labels: Run CICD

#12253 Add optimizer fix
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
Labels: Run CICD

#12266 Remove modelopt state when empty in NeMo 1.0 distillation
  examples/nlp/language_modeling/megatron_gpt_distillation.py
Labels: NLP, Run CICD

#12152 Add eval requirement to setup.py
  examples/__init__.py
  setup.py
Labels: Run CICD, r2.2.0

#12261 Add modelopt to requirements_nlp.txt
  reinstall.sh
  requirements/requirements_nlp.txt
Labels: Run CICD, r2.2.0

#12281 remove nemo1 unit tests
  .github/workflows/cicd-main.yml
  tests/collections/nlp/test_chat_sft_dataset.py
  tests/collections/nlp/test_classification_report.py
  tests/collections/nlp/test_falcon_model.py
  tests/collections/nlp/test_falcon_transformer_layer.py
  tests/collections/nlp/test_flash_attention.py
  tests/collections/nlp/test_gpt_eval.py
  tests/collections/nlp/test_gpt_model.py
  tests/collections/nlp/test_huggingface.py
  tests/collections/nlp/test_hyena_operator.py
  tests/collections/nlp/test_indexed_retrieval_dataset.py
  tests/collections/nlp/test_initialize.py
  tests/collections/nlp/test_nlp_exportables.py
  tests/collections/nlp/test_nmt_model.py
  tests/collections/nlp/test_num_encoding.py
  tests/collections/nlp/test_packed_sft_dataset.py
  tests/collections/nlp/test_position_embedding.py
  tests/collections/nlp/test_pretrained_models_performance.py
  tests/collections/nlp/test_qlora.py
  tests/collections/nlp/test_rampup_batch_size.py
  tests/collections/nlp/test_regex_tokenizer.py
  tests/collections/nlp/test_retrieval_module.py
  tests/collections/nlp/test_retrieval_module_inference.py
  tests/collections/nlp/test_retro_model.py
  tests/collections/nlp/test_tabular_tokenizer.py
  tests/collections/nlp/test_tokenizer_with_special_tokens.py
Labels: NLP, CI

#12244 fix speechlm import ckpt on slurm
  nemo/collections/speechlm/models/speech_to_text_llm_model.py
  nemo/collections/speechlm/utils/io.py
Labels: Run CICD, skip-linting

#12255 fix masked loss calculation
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/speechlm/models/hf_auto_model_for_speech_seq2seq.py
  nemo/collections/vlm/hf/model/hf_auto_model_for_image_text_to_text.py
  tests/collections/llm/hf/_masked_cross_entropy.py
Labels: Run CICD, r2.2.0

#11612 Add sampling args in TRTLLM generate
  nemo/export/trt_llm/tensorrt_llm_run.py
Labels: Run CICD

#12293 ci: Flaky tests release
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#12299 Set L2_Speech_Batch_Size_OOMptimizer_Canary to be optional
  .github/workflows/cicd-main.yml
Labels: CI, r2.2.0

#12300 Cherry pick `Set L2_Speech_Batch_Size_OOMptimizer_Canary to be optional (12299)` into `r2.2.0`
  .github/workflows/cicd-main.yml
Labels: cherry-pick, CI, Run CICD

#12304 build: Editable nemo install
  reinstall.sh
Labels: Run CICD, no-fail-fast

#12245 Energon ckpt multimodal
  nemo/collections/multimodal/data/energon/base.py
  requirements/requirements_multimodal.txt
Labels: Multi Modal, Run CICD, r2.2.0

#12276 Add test for evaluation
  .github/workflows/cicd-main.yml
  nemo/collections/llm/evaluation/base.py
  tests/evaluation/deploy_script.py
  tests/evaluation/test_evaluation.py
Labels: CI, Run CICD, r2.2.0

#12262 Test model loading for nemo export
  tests/export/test_model_loading.py
Labels: Run CICD

#12310 Update for pytorch 25.01 container
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  examples/nlp/machine_translation/enc_dec_nmt.py
  examples/nlp/machine_translation/enc_dec_nmt_finetune.py
  nemo/collections/llm/distillation/model.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/peft/api.py
  nemo/collections/llm/peft/utils.py
  nemo/collections/nlp/data/text_normalization/utils.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/nlp_model.py
  nemo/collections/nlp/modules/common/bert_module.py
  nemo/collections/nlp/modules/common/gpt_module.py
  nemo/collections/nlp/modules/common/megatron/vocab_parallel_cross_entropy.py
  nemo/collections/vlm/hf/model/hf_auto_model_for_image_text_to_text.py
  nemo/core/optim/mcore_optim.py
  reinstall.sh
  requirements/manifest.json
  scripts/llm/generate.py
  scripts/llm/gpt_distillation.py
  tests/collections/common/test_2d_bucketing_constraint.py
  tests/collections/llm/gpt/model/megatron_ssm_finetuning.py
  tests/collections/llm/megatron_t5_finetuning.py
  tests/collections/llm/peft/lora_merge.py
  tests/lightning/pytorch/callbacks/test_nsys.py
  tests/lightning/test_nemo_resume_from_ckpt.py
  tests/lightning/test_nemo_run.py
Labels: core, NLP, CI

#12311 ci: Fix test workflow
  .github/workflows/_test_template.yml
Labels: CI

#12275 [nemo1] Fix Mamba/Bert loading from checkpoint after TE extra states were introduced
  examples/nlp/language_modeling/tuning/conf/megatron_mamba_finetuning_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
Labels: NLP, Run CICD, r2.2.0

#12135 Fix the local path in Sortformer diarizer training tutorial
  tutorials/speaker_tasks/End_to_End_Diarization_Training.ipynb
Labels: Speaker Tasks, Run CICD, r2.2.0

#12317 build: Exclude tensorstore 0.1.72
  requirements/requirements_deploy.txt
  requirements/requirements_nlp.txt
Labels: r2.2.0

#12318 Cherry pick `build: Exclude tensorstore 0.1.72 (12317)` into `r2.2.0`
  requirements/requirements_deploy.txt
  requirements/requirements_nlp.txt
Labels: cherry-pick, Run CICD

#12238 automodel notebooks fix
  .github/workflows/cicd-main.yml
  tutorials/llm/hf/peft.ipynb
  tutorials/llm/hf/sft.ipynb
Labels: CI, r2.2.0

#12316 Cherry pick `Fix the local path in Sortformer diarizer training tutorial (12135)` into `r2.2.0`
  tutorials/speaker_tasks/End_to_End_Diarization_Training.ipynb
Labels: cherry-pick, Speaker Tasks, Run CICD

#11973 build: Bump PyT to 25.01
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  examples/nlp/machine_translation/enc_dec_nmt.py
  examples/nlp/machine_translation/enc_dec_nmt_finetune.py
  nemo/collections/asr/modules/rnnt.py
  nemo/collections/asr/parts/utils/asr_batching.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  nemo/collections/asr/parts/utils/vad_utils.py
  nemo/collections/asr/parts/utils/wfst_utils.py
  nemo/collections/audio/parts/submodules/multichannel.py
  nemo/collections/common/data/lhotse/nemo_adapters.py
  nemo/collections/common/video_tokenizers/utils.py
  nemo/collections/llm/distillation/model.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/peft/api.py
  nemo/collections/llm/peft/utils.py
  nemo/collections/nlp/data/text_normalization/utils.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/nlp_model.py
  nemo/collections/nlp/modules/common/bert_module.py
  nemo/collections/nlp/modules/common/gpt_module.py
  nemo/collections/nlp/modules/common/megatron/vocab_parallel_cross_entropy.py
  nemo/collections/tts/models/speechllm/megatron_base_speechllm_prompt_model.py
  nemo/collections/vlm/hf/model/hf_auto_model_for_image_text_to_text.py
  nemo/core/optim/mcore_optim.py
  nemo/lightning/pytorch/strategies/fsdp2_strategy.py
  reinstall.sh
  requirements/manifest.json
  scripts/llm/generate.py
  scripts/llm/gpt_distillation.py
  tests/collections/common/test_2d_bucketing_constraint.py
  tests/collections/llm/gpt/model/megatron_ssm_finetuning.py
  tests/collections/llm/hf/sft.py
  tests/collections/llm/hf/sft_fsdp2.py
  tests/collections/llm/megatron_t5_finetuning.py
  tests/collections/llm/peft/lora_merge.py
  tests/lightning/pytorch/callbacks/test_nsys.py
  tests/lightning/test_nemo_resume_from_ckpt.py
  tests/lightning/test_nemo_run.py
Labels: core, TTS, ASR, NLP, CI, common, Run CICD, audio, skip-docs, no-fail-fast, r2.2.0, skip-linting

#12277 Cherry pick `Add eval requirement to setup.py (12152)` into `r2.2.0`
  .github/workflows/cicd-main.yml
  examples/__init__.py
  nemo/collections/llm/evaluation/base.py
  setup.py
  tests/evaluation/deploy_script.py
  tests/evaluation/test_evaluation.py
Labels: cherry-pick, CI, Run CICD

#12278 Cherry pick `Add modelopt to requirements_nlp.txt (12261)` into `r2.2.0`
  reinstall.sh
  requirements/requirements_nlp.txt
Labels: cherry-pick, Run CICD

#12272 Fix BertEmbeddingDataset
  nemo/collections/llm/bert/data/core.py
  nemo/collections/llm/gpt/data/utils.py
Labels: Run CICD

#12240 cherry pick 12209
  .github/workflows/cicd-main.yml
  nemo/deploy/nlp/megatronllm_deployable.py
  tutorials/llm/hf/multinode.ipynb
  tutorials/llm/hf/peft.ipynb
  tutorials/llm/hf/sft.ipynb
Labels: cherry-pick, CI, Run CICD

#12307 Cherry pick `Energon ckpt multimodal (12245)` into `r2.2.0`
  nemo/collections/multimodal/data/energon/base.py
  requirements/requirements_multimodal.txt
Labels: cherry-pick, Multi Modal, Run CICD

#12314 Cherry pick `[nemo1] Fix Mamba/Bert loading from checkpoint after TE extra states were introduced (12275)` into `r2.2.0`
  examples/nlp/language_modeling/tuning/conf/megatron_mamba_finetuning_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
Labels: cherry-pick, NLP, Run CICD

#11971 DeepSeek
  nemo/collections/llm/__init__.py
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/deepseek.py
  nemo/collections/llm/gpt/model/ssm.py
  nemo/collections/llm/inference/base.py
  nemo/collections/llm/peft/canonical_lora.py
  nemo/collections/llm/peft/dora.py
  nemo/collections/llm/peft/lora.py
  nemo/collections/llm/peft/utils.py
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/deepseek.py
  nemo/collections/llm/recipes/deepseek_v2.py
  nemo/collections/llm/recipes/deepseek_v2_lite.py
  nemo/collections/llm/recipes/deepseek_v3.py
  nemo/collections/vlm/mllama/model/mllama.py
  nemo/lightning/io/api.py
  nemo/lightning/io/connector.py
  nemo/lightning/io/state.py
  scripts/llm/generate.py
Labels: Run CICD, r2.2.0, skip-linting

#12286 Cherry pick `fix masked loss calculation (12255)` into `r2.2.0`
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/speechlm/models/hf_auto_model_for_speech_seq2seq.py
  nemo/collections/vlm/hf/model/hf_auto_model_for_image_text_to_text.py
  tests/collections/llm/hf/_masked_cross_entropy.py
Labels: cherry-pick, Run CICD

#12324 chore: Cherry pick deepseek
  nemo/collections/llm/__init__.py
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/deepseek.py
  nemo/collections/llm/gpt/model/ssm.py
  nemo/collections/llm/inference/base.py
  nemo/collections/llm/peft/canonical_lora.py
  nemo/collections/llm/peft/dora.py
  nemo/collections/llm/peft/lora.py
  nemo/collections/llm/peft/utils.py
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/deepseek.py
  nemo/collections/llm/recipes/deepseek_v2.py
  nemo/collections/llm/recipes/deepseek_v2_lite.py
  nemo/collections/llm/recipes/deepseek_v3.py
  nemo/collections/vlm/mllama/model/mllama.py
  nemo/lightning/io/api.py
  nemo/lightning/io/connector.py
  nemo/lightning/io/state.py
  scripts/llm/generate.py
Labels: cherry-pick, Run CICD, skip-linting

#12320 build: Bump mcore
  requirements/manifest.json
Labels: Run CICD, r2.2.0

#12315 Bug fixes
  nemo/collections/vlm/neva/model/base.py
Labels: Run CICD, r2.2.0, skip-linting
