Repository NVIDIA-NeMo/NeMo, pull requests merged in 2025-01, with the labels that each got.

#11702 NeMo2.0 llama3 perf scripts
  nemo/lightning/run/plugins.py
  scripts/llm/performance/README.md
  scripts/llm/performance/llama3_405b.py
  scripts/llm/performance/llama3_70b.py
  scripts/llm/performance/llama3_8b.py
  scripts/llm/performance/utils.py
Labels: Run CICD

#11626 Add docstring for tokenizer usage in data preprocessing script
  scripts/nlp_language_modeling/preprocess_data_for_megatron.py
Labels: Run CICD

#11744 ci: Fix changelog generator
  .github/workflows/changelog-build.yml
  .github/workflows/release.yml
Labels: CI

#11517 Support attention backend configuration changes
  .github/workflows/cicd-main.yml
  docs/source/nlp/information_retrieval.rst
  nemo/collections/diffusion/scripts/train.sh
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/recipes/gemma_2b.py
  nemo/collections/llm/recipes/gemma_7b.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retro_model.py
  scripts/checkpoint_converters/convert_bert_hf_to_nemo.py
  tests/collections/llm/bitexact/mixtral/pretrain_mini_mixtral.py
  tests/collections/llm/bitexact/mixtral/run.sh
  tests/collections/llm/hf/peft_nemorun.py
  tests/collections/llm/hf/sft_nemorun.py
  tests/collections/llm/megatron_mixtral_pretraining.py
  tests/conftest.py
  tests/lightning/test_nemo_resume_from_ckpt.py
  tutorials/llm/llama-3/nemo2-sft-peft/nemo2-peft.ipynb
  tutorials/llm/llama-3/nemo2-sft-peft/nemo2-sft.ipynb
  tutorials/llm/mamba/mamba.rst
Labels: stale, NLP, CI, Run CICD, skip-docs, no-fail-fast

#11600 Some fixes to bump mcore
  nemo/collections/vlm/mllama/model/language.py
Labels: Run CICD, no-fail-fast

#11688 Drop unexpected parameters directly on loading config
  nemo/lightning/io/mixin.py
  scripts/llm/update_io_context.py
Labels: Run CICD

#11747 Fix 'http_port' parameter name in DeployPyTriton usages and update .qnemo compress=True path
  examples/llm/sft/hf_vllm.py
  nemo/deploy/deploy_pytriton.py
  nemo/export/quantize/quantizer.py
  scripts/deploy/multimodal/deploy_triton.py
  scripts/deploy/nlp/deploy_inframework_triton.py
  scripts/deploy/nlp/deploy_triton.py
  scripts/deploy/nlp/deploy_vllm_triton.py
  tests/deploy/nemo_deploy.py
  tests/export/nemo_export.py
Labels: Run CICD

#11739 workable code
  nemo/collections/llm/__init__.py
  nemo/collections/llm/t5/model/__init__.py
  nemo/collections/llm/t5/model/t5.py
  nemo/lightning/io/state.py
Labels: Run CICD

#11737 Add BERT Embedding Models
  nemo/collections/llm/__init__.py
  nemo/collections/llm/bert/data/__init__.py
  nemo/collections/llm/bert/data/core.py
  nemo/collections/llm/bert/data/fine_tuning.py
  nemo/collections/llm/bert/data/specter.py
  nemo/collections/llm/bert/loss.py
  nemo/collections/llm/bert/model/__init__.py
  nemo/collections/llm/bert/model/base.py
  nemo/collections/llm/bert/model/embedding.py
Labels: Run CICD

#11767 fix sentencepiece tokenizer special tokens
  nemo/collections/common/tokenizers/sentencepiece_tokenizer.py
  nemo/collections/nlp/modules/common/tokenizer_utils.py
  tests/collections/nlp/test_tokenizer_with_special_tokens.py
Labels: NLP, common, Run CICD

#11653 Add VLM PEFT test running with 4bit model weights.
  .github/workflows/cicd-main.yml
  examples/vlm/hf/peft.py
  nemo/collections/llm/peft/lora.py
  requirements/requirements_multimodal.txt
  tests/collections/vlm/hf/peft.py
Labels: CI, Run CICD

#11673 add pretrain tests for hf
  .github/workflows/cicd-main.yml
  nemo/collections/llm/recipes/hf_auto_model_for_causal_lm.py
  tests/collections/llm/hf/pretrain.py
  tests/collections/llm/hf/pretrain_nemorun.py
Labels: CI, Run CICD

#11629 Fix nan issue in nemo1 / neva
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
Labels: stale, Multi Modal, Run CICD

#11731 Add server ready check before starting evaluation
  nemo/collections/llm/api.py
  nemo/collections/llm/deploy/base.py
  nemo/collections/llm/evaluation/__init__.py
  nemo/collections/llm/evaluation/base.py
  nemo/export/tensorrt_llm.py
Labels: Run CICD

#11740 Bump mcore
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  docs/source/nlp/information_retrieval.rst
  nemo/collections/diffusion/scripts/train.sh
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/recipes/gemma_2b.py
  nemo/collections/llm/recipes/gemma_7b.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retro_model.py
  nemo/collections/vlm/mllama/model/language.py
  nemo/lightning/pytorch/callbacks/peft.py
  scripts/checkpoint_converters/convert_bert_hf_to_nemo.py
  tests/collections/llm/bitexact/mixtral/pretrain_mini_mixtral.py
  tests/collections/llm/bitexact/mixtral/run.sh
  tests/collections/llm/gpt/model/test_model_import.py
  tests/collections/llm/hf/peft_nemorun.py
  tests/collections/llm/hf/sft_nemorun.py
  tests/collections/llm/megatron_mixtral_pretraining.py
  tests/conftest.py
  tests/core/test_exp_manager.py
  tests/lightning/test_nemo_resume_from_ckpt.py
  tutorials/llm/llama-3/nemo2-sft-peft/nemo2-peft.ipynb
  tutorials/llm/llama-3/nemo2-sft-peft/nemo2-sft.ipynb
  tutorials/llm/mamba/mamba.rst
Labels: core, NLP, CI, Run CICD, no-fail-fast

#11781 only install bitsandbytes on x86
  requirements/requirements_multimodal.txt
Labels: Run CICD

#11782 Use empty dict instead of none to load only metadata from dist ckpt
  nemo/lightning/pytorch/callbacks/peft.py
Labels: Run CICD

#11778 [Bugfix] Skip processing if extra_state loads as None
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
Labels: Run CICD

#11268 Add option to change batch size if needed
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/lightning/data.py
  nemo/lightning/megatron_init.py
Labels: NLP, Run CICD

#11768 chore(beep boop 🤖): Bump `MCORE_TAG=4dc8977...` (2025-01-07)
  Dockerfile.ci
Labels: Run CICD

#11779 make progress printer compatible with PTL v2.5.0
  nemo/lightning/pytorch/callbacks/progress_printer.py
Labels: Run CICD

#11429 ci: Test install on macos
  .github/workflows/import-test.yml
  Dockerfile.ci
  pyproject.toml
  requirements/requirements_nlp.txt
Labels: CI, Run CICD

#11783 Cherry pick llava next changes that were missed for the release
  .github/workflows/cicd-main.yml
  nemo/collections/multimodal/data/energon/conversation.py
  nemo/collections/vlm/llava_next/data/mock.py
  nemo/collections/vlm/recipes/llava_next_7b.py
  scripts/vlm/llava_next_nemo_run.py
  tests/collections/vlm/test_llava_next_train.py
Labels: CI, Multi Modal, Run CICD

#11748 Enable packed seqs for validation
  nemo/collections/llm/gpt/data/fine_tuning.py
  nemo/collections/llm/gpt/data/packed_sequence.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
Labels: NLP, Run CICD

#11786 Fix Mistral Conversion Issue
  scripts/checkpoint_converters/convert_mixtral_hf_to_nemo.py
Labels: Run CICD

#11715 Cherry pick `removed the line which caused a problem in nfa_tutorial (11710)` into `r2.1.0`
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
Labels: cherry-pick, ASR, Run CICD

#11791 Revert Mcore update since it caused regression
  .github/workflows/cicd-main.yml
  .github/workflows/import-test.yml
  Dockerfile.ci
  docs/source/nlp/information_retrieval.rst
  nemo/collections/diffusion/scripts/train.sh
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/recipes/gemma_2b.py
  nemo/collections/llm/recipes/gemma_7b.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retro_model.py
  nemo/collections/vlm/mllama/model/language.py
  nemo/lightning/pytorch/callbacks/peft.py
  pyproject.toml
  requirements/requirements_nlp.txt
  scripts/checkpoint_converters/convert_bert_hf_to_nemo.py
  tests/collections/llm/bitexact/mixtral/pretrain_mini_mixtral.py
  tests/collections/llm/bitexact/mixtral/run.sh
  tests/collections/llm/gpt/model/test_model_import.py
  tests/collections/llm/hf/peft_nemorun.py
  tests/collections/llm/hf/sft_nemorun.py
  tests/collections/llm/megatron_mixtral_pretraining.py
  tests/conftest.py
  tests/core/test_exp_manager.py
  tests/lightning/test_nemo_resume_from_ckpt.py
  tutorials/llm/llama-3/nemo2-sft-peft/nemo2-peft.ipynb
  tutorials/llm/llama-3/nemo2-sft-peft/nemo2-sft.ipynb
  tutorials/llm/mamba/mamba.rst
Labels: core, NLP, CI, Run CICD

#11792 Fix Gemma2 Attention Init Args
  nemo/collections/nlp/models/language_modeling/megatron/gemma2/gemma2_modules.py
Labels: NLP, Run CICD

#11098 [Bugfix] fix qwen tokenizer config when converting to nemo format
  scripts/checkpoint_converters/convert_qwen2_hf_to_nemo.py
Labels: Run CICD, skip-docs

#11801 Fix DistCP inference issue
  nemo/collections/nlp/modules/common/text_generation_strategy.py
Labels: NLP, Run CICD

#11802 Cherry pick `Add null tokenizer (11789)` into `r2.1.1`
  nemo/collections/common/tokenizers/null_tokenizer.py
  nemo/collections/nlp/modules/common/tokenizer_utils.py
Labels: cherry-pick, NLP, common, Run CICD

#11712 Lora ckpt in HF format for NeMo AutoModel
  .github/workflows/cicd-main.yml
  examples/llm/peft/hf.py
  examples/llm/peft/hf_vllm.py
  nemo/export/__init__.py
  nemo/export/vllm_hf_exporter.py
  nemo/lightning/io/pl.py
  nemo/lightning/pytorch/callbacks/peft.py
  nemo/lightning/pytorch/strategies/utils.py
  tests/collections/llm/hf/peft_hf.py
  tests/collections/vlm/hf/peft_hf.py
Labels: CI, Run CICD

#11787 Add BERT Embedding Models E5 Recipe
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/bert_embedding.py
  nemo/collections/llm/recipes/e5_340m.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#11482 Autodetect number of devices for torchrun executor
  nemo/collections/llm/recipes/run/executor.py
Labels: Run CICD

#11788 8x22b seq len
  nemo/collections/llm/gpt/model/mixtral.py
  nemo/collections/llm/recipes/mixtral_8x22b.py
  nemo/lightning/run/plugins.py
  tests/collections/llm/gpt/model/test_mixtral.py
  tests/collections/llm/recipes/test_mixtral_8x22b.py
Labels: Run CICD, r2.1.1

#11807 Add rope scaling configs for NeMo 1
  nemo/collections/common/parts/utils.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, common, Run CICD

#11749 In-framework deployment NeMo 2.0 nemo_export.py test
  .github/workflows/cicd-main.yml
  nemo/deploy/nlp/megatronllm_deployable.py
  nemo/deploy/nlp/query_llm.py
  requirements/requirements_deploy.txt
  requirements/requirements_infer.txt
  setup.py
  tests/export/nemo_export.py
  tests/setup/data/create_sample_jsonl.py
  tests/setup/data/create_sample_lambada.py
Labels: CI, Run CICD

#11820 Bugfix for output_generation_logits in tensorrtllm
  nemo/export/tensorrt_llm.py
Labels: Run CICD

#11816 build: Fix mamba install
  Dockerfile.ci
  requirements/requirements_nlp.txt
Labels: Run CICD

#11834 Use _get_mlp_module_spec from Megatron Core rather than redefine locally
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
Labels: NLP

#11830 Fix calculating num_available_samples
  nemo/collections/nlp/data/language_modeling/megatron/megatron_batch_samplers.py
Labels: NLP, Run CICD

#11811 fix sentencepiece tokenizer special tokens
  nemo/collections/common/tokenizers/sentencepiece_tokenizer.py
  nemo/collections/nlp/modules/common/tokenizer_utils.py
  tests/collections/nlp/test_tokenizer_with_special_tokens.py
Labels: NLP, common, Run CICD

#11839 handle mistralai/Mistral-7B-Instruct-v0.3 tokenizer correctly
  scripts/checkpoint_converters/convert_mistral_7b_hf_to_nemo.py
Labels: Run CICD

#11777 remove tensorstore pin in requirements*.txt
  requirements/requirements_infer.txt
  requirements/requirements_nlp.txt
Labels: Run CICD

#11751 Do not load context for model transform in llm inference
  nemo/collections/llm/inference/base.py
Labels: Run CICD

#11759 add chat sft dataset to support agent tool calling
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_chat_dataset.py
  tests/collections/nlp/test_chat_sft_dataset.py
Labels: NLP, Run CICD

#11809 Fix starcoder2 missing bias in nemo2 config for TRTLLM
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
Labels: Run CICD

#10693 MCore Partial DistOpt Feature
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/utils/app_state.py
Labels: NLP, Run CICD

#11633 Add Seq Packing in NeMo / Neva2
  .github/workflows/cicd-main.yml
  nemo/collections/llm/peft/api.py
  nemo/collections/multimodal/data/energon/base.py
  nemo/collections/multimodal/data/energon/config.py
  nemo/collections/multimodal/data/energon/conversation.py
  nemo/collections/multimodal/data/energon/task_encoder.py
  nemo/collections/vlm/inference/base.py
  nemo/collections/vlm/neva/data/config.py
  nemo/collections/vlm/neva/data/lazy.py
  nemo/collections/vlm/neva/data/mock.py
  nemo/collections/vlm/neva/data/sequence_packing.py
  nemo/collections/vlm/neva/model/base.py
  nemo/collections/vlm/recipes/llava15_13b.py
  nemo/collections/vlm/recipes/llava15_7b.py
  nemo/collections/vlm/recipes/llava_next_7b.py
  nemo/lightning/megatron_parallel.py
  requirements/requirements_multimodal.txt
  scripts/vlm/llava_next_finetune.py
  scripts/vlm/llava_next_pretrain.py
  scripts/vlm/mllama_finetune.py
  scripts/vlm/neva_finetune.py
  tests/collections/multimodal/data/energon/test_data_module.py
  tests/collections/vlm/test_mllama_train.py
  tests/collections/vlm/test_neva_train.py
Labels: CI, Multi Modal, Run CICD

#11799 Revert "Revert Mcore update since it caused regression (#11791)"
  .github/workflows/cicd-main.yml
  .github/workflows/import-test.yml
  Dockerfile.ci
  docs/source/nlp/information_retrieval.rst
  nemo/collections/diffusion/scripts/train.sh
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/recipes/gemma_2b.py
  nemo/collections/llm/recipes/gemma_7b.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retro_model.py
  nemo/collections/vlm/mllama/model/language.py
  nemo/lightning/pytorch/callbacks/peft.py
  pyproject.toml
  requirements/requirements_nlp.txt
  scripts/checkpoint_converters/convert_bert_hf_to_nemo.py
  tests/collections/llm/bitexact/mixtral/pretrain_mini_mixtral.py
  tests/collections/llm/bitexact/mixtral/run.sh
  tests/collections/llm/gpt/model/test_model_import.py
  tests/collections/llm/hf/peft_nemorun.py
  tests/collections/llm/hf/sft_nemorun.py
  tests/collections/llm/megatron_mixtral_pretraining.py
  tests/conftest.py
  tests/core/test_exp_manager.py
  tests/lightning/test_nemo_resume_from_ckpt.py
  tutorials/llm/llama-3/nemo2-sft-peft/nemo2-peft.ipynb
  tutorials/llm/llama-3/nemo2-sft-peft/nemo2-sft.ipynb
  tutorials/llm/mamba/mamba.rst
Labels: core, NLP, CI, Run CICD

#11806 Latest News updated for Cosmos
  README.md
Labels: Run CICD

#11858 Removes tensorstore 0.1.45 pin from requirements_deploy.txt
  requirements/requirements_deploy.txt
Labels: Run CICD

#11878 Disable tests that download datasets from web
  .github/workflows/cicd-main.yml
  tests/collections/llm/test_mnist_model_nemo2.py
  tests/collections/llm/test_mnist_model_nemo2_fsdp.py
Labels: CI, Run CICD, no-fail-fast

#11859 fix checkpoint load issue
  nemo/collections/llm/gpt/model/ssm.py
  nemo/collections/multimodal/models/text_to_image/controlnet/controlnet.py
  nemo/collections/multimodal/models/text_to_image/imagen/imagen_pipeline.py
  nemo/collections/multimodal/models/text_to_image/instruct_pix2pix/ldm/ddpm_edit.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/autoencoder.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/ddpm.py
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/openaimodel.py
  nemo/collections/multimodal/speech_llm/models/modular_models.py
  nemo/collections/multimodal/speech_llm/parts/mixins/adapter_mixin.py
  nemo/collections/nlp/parts/mixins/multimodal_adapter_mixins.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
Labels: NLP, Multi Modal, Run CICD

#11753 Add context_logits for eval accuracy calculation in case of multi token prediction tasks
  nemo/collections/llm/api.py
  nemo/collections/llm/deploy/base.py
  nemo/collections/llm/evaluation/base.py
  nemo/deploy/nlp/query_llm.py
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/tensorrt_llm_run.py
  nemo/export/vllm_exporter.py
  requirements/requirements_eval.txt
Labels: Run CICD

#11837 add dataset_root to SpecterDataModule
  nemo/collections/llm/bert/data/specter.py
Labels: Run CICD

#11865 Support both Path and str for APIs
  nemo/collections/llm/api.py
Labels: Run CICD

#8787 fix tensor dimensions are not compatible for FP8 issue in sft
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_chat_dataset.py
Labels: bug, NLP, Run CICD

#11861 Run nsys callback on GBS not on MBS
  nemo/lightning/pytorch/callbacks/nsys.py
  tests/lightning/pytorch/callbacks/test_nsys.py
Labels: Run CICD

#11879 chore(beep boop 🤖): Bump `MCORE_TAG=e5793c0...` (2025-01-17)
  Dockerfile.ci
  nemo/collections/nlp/models/language_modeling/megatron/falcon/falcon_decoder_layer.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/collections/nlp/modules/common/megatron/adapters/mcore_mixins.py
  nemo/collections/vlm/mllama/model/vision.py
Labels: NLP, Run CICD, no-fail-fast

#11889 ci: Set bump-branch to weekly
  .github/workflows/mcore-tag-bump-bot.yml
Labels: CI

#11888 chore(beep boop 🤖): Bump `MCORE_TAG=c7bf403...` (2025-01-18)
  Dockerfile.ci
Labels: Run CICD, no-fail-fast

#11892 chore(beep boop 🤖): Bump `MCORE_TAG=7ba0d6d...` (2025-01-19)
  Dockerfile.ci
Labels: Run CICD

#11890 check restore_config first
  nemo/lightning/resume.py
Labels: Run CICD

#11902 LinearAdapter: propagate args to _init_adapter
  nemo/collections/llm/peft/lora.py
Labels: Run CICD

#11905 chore(beep boop 🤖): Bump `MCORE_TAG=7dd2658...` (2025-01-21)
  Dockerfile.ci
Labels: Run CICD

#11845 NeMo 2.0 fp8 conversion
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
  scripts/checkpoint_converters/convert_nemo1_to_nemo2.py
Labels: Run CICD

#11906 chore(beep boop 🤖): Bump `MCORE_TAG=df70c00...` (2025-01-21)
  Dockerfile.ci
Labels: Run CICD, no-fail-fast

#11903 nemo ux expert tensor parallel
  nemo/lightning/_strategy_lib.py
  nemo/lightning/megatron_init.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  nemo/utils/app_state.py
  nemo/utils/data_utils.py
  tests/lightning/test_strategy_lib.py
Labels: Run CICD

#11874 Fix nemo 1 packed sequence TE version error
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#11790 build: Move dependencies
  .github/workflows/import-test.yml
  Dockerfile.ci
  reinstall.sh
Labels: CI, Run CICD

#11919 ci: Small fix to bump workflow
  .github/workflows/mcore-tag-bump-bot.yml
Labels: CI

#11911 Add New Transformer Backbone for TTS Models
  nemo/collections/tts/modules/transformer_2501.py
  tests/collections/tts/modules/test_transformer_2501.py
Labels: TTS, Run CICD

#11914 Revert #11890 and add a test that would have caught the error
  nemo/lightning/resume.py
  tests/collections/llm/gpt_finetuning.py
Labels: Run CICD

#11921 ci: Adjust input argument
  .github/workflows/mcore-tag-bump-bot.yml
Labels: CI

#11843 Create test_phi3.py
  tests/collections/llm/gpt/model/test_phi3.py
Labels: Run CICD

#11927 Enable NeMo importer and loading dist CKPT for training
  nemo/collections/diffusion/data/diffusion_mock_datamodule.py
  nemo/collections/diffusion/models/flux/model.py
  nemo/collections/diffusion/utils/flux_pipeline_utils.py
  nemo/lightning/megatron_parallel.py
  scripts/dit/dit_train.py
  scripts/flux/flux_controlnet_infer.py
  scripts/flux/flux_controlnet_training.py
  scripts/flux/flux_infer.py
  scripts/flux/flux_training.py
  tutorials/flux/Untitled.ipynb
Labels: Run CICD, PoR

#11882 build: Add `sox` to SDE
  tools/speech_data_explorer/requirements.txt
Labels: r2.1.1

#11907 Autodetect dtype on exporting to TensorRT-LLM
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/converter/model_to_trt_llm_ckpt.py
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
  nemo/export/utils/__init__.py
  nemo/export/utils/utils.py
Labels: Run CICD

#11938 build: Pin `triton`
  reinstall.sh
Labels: Run CICD, r2.1.1

#11940 build: Fix triton
  Dockerfile.ci
Labels: Run CICD

#11936 Cherry pick `build: Add `sox` to SDE (11882)` into `r2.1.1`
  tools/speech_data_explorer/requirements.txt
Labels: cherry-pick, Run CICD

#11738 TPS-free 2D bucket estimation and filtering
  docs/source/asr/datasets.rst
  nemo/collections/asr/data/audio_to_text_lhotse_prompted.py
  nemo/collections/asr/parts/mixins/mixins.py
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/data/lhotse/dataloader.py
  nemo/collections/common/data/lhotse/nemo_adapters.py
  nemo/collections/common/data/lhotse/sampling.py
  nemo/collections/common/prompts/canary2.py
  nemo/collections/common/tokenizers/canary_tokenizer.py
  scripts/speech_recognition/estimate_duration_bins_2d.py
  scripts/speech_recognition/oomptimizer.py
  tests/collections/common/test_2d_bucketing_constraint.py
Labels: ASR, common, Run CICD

#11932 chore(beep boop 🤖): Bump `MCORE_TAG=0d59157...` (2025-01-23)
  reinstall.sh
  tests/collections/llm/megatron_mixtral_pretraining.py
Labels: Run CICD, no-fail-fast

#11947 chore(beep boop 🤖): Bump `MCORE_TAG=2167226...` (2025-01-24)
  reinstall.sh
Labels: Run CICD

#11930 enable loading older TE checkpoints
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#11941 PTQ & TRT-LLM updates related to upcoming PyTorch 25.01 bump
  nemo/collections/llm/api.py
  nemo/collections/llm/quantization/utils.py
  nemo/export/trt_llm/converter/utils.py
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
  scripts/llm/ptq.py
Labels: Run CICD

#11736 llm performance scripts
  nemo/collections/llm/recipes/CONFIGURATION-HIERARCHY.md
  nemo/collections/nlp/modules/common/tokenizer_utils.py
  scripts/llm/performance/README.md
  scripts/llm/performance/finetune_llama31_405b.py
  scripts/llm/performance/finetune_llama3_70b.py
  scripts/llm/performance/finetune_llama3_8b.py
  scripts/llm/performance/pretrain_gpt3_175b.py
  scripts/llm/performance/pretrain_llama31_405b.py
  scripts/llm/performance/pretrain_llama3_70b.py
  scripts/llm/performance/pretrain_llama3_8b.py
  scripts/llm/performance/pretrain_mixtral_8x22b.py
  scripts/llm/performance/pretrain_mixtral_8x7b.py
  scripts/llm/performance/pretrain_nemotron3_22b.py
  scripts/llm/performance/pretrain_nemotron3_8b.py
  scripts/llm/performance/pretrain_nemotron4_15b.py
  scripts/llm/performance/pretrain_nemotron4_340b.py
  scripts/llm/performance/utils.py
Labels: NLP, Run CICD

#11880 [MoE] add expert tensor parallelism support for NeMo2.0 MoE
  nemo/collections/multimodal/models/vision_language_foundation/clip/megatron_clip_models.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/core/optim/optimizer_with_main_params.py
  nemo/lightning/_strategy_lib.py
  nemo/lightning/megatron_init.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  tests/lightning/test_strategy_lib.py
Labels: core, NLP, Multi Modal, Run CICD

#11958 chore(beep boop 🤖): Bump `MCORE_TAG=f960d4d...` (2025-01-26)
  reinstall.sh
Labels: Run CICD

#11728 Run Flake8 for nemo.export module
  nemo/export/multimodal/build.py
  nemo/export/sentencepiece_tokenizer.py
  nemo/export/tensorrt_lazy_compiler.py
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/converter/model_converter.py
  nemo/export/trt_llm/converter/model_to_trt_llm_ckpt.py
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
  nemo/export/trt_llm/qnemo/qnemo_to_tensorrt_llm.py
  nemo/export/trt_llm/tensorrt_llm_build.py
  nemo/export/trt_llm/tensorrt_llm_run.py
  nemo/export/utils/lora_converter.py
  nemo/export/vllm/model_converters.py
  nemo/export/vllm_exporter.py
Labels: Run CICD

#11963 Update torch load for load from disk
  nemo/core/connectors/save_restore_connector.py
Labels: core, Run CICD

#11956 Add options to add mp_policy and parallel_fn for NeMo automodel fsdp2
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/speechlm/models/hf_auto_model_for_speech_seq2seq.py
  nemo/collections/vlm/hf/model/hf_auto_model_for_image_text_to_text.py
  nemo/lightning/pytorch/strategies/utils.py
Labels: Run CICD

#11967 chore(beep boop 🤖): Bump `MCORE_TAG=0e85db5...` (2025-01-28)
  reinstall.sh
Labels: Run CICD

#11912 ci: Add coverage reports
  .github/CODEOWNERS
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  requirements/requirements_test.txt
Labels: CI, Run CICD

#11934 Add batching support for evaluation
  nemo/collections/llm/api.py
  nemo/collections/llm/evaluation/base.py
  nemo/export/tensorrt_llm.py
Labels: Run CICD

#11976 add use_fast option
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
Labels: Run CICD

#11979 improve error and debug messages in model connector
  nemo/lightning/io/state.py
Labels: Run CICD

#11984 Update transcribe_utils.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
Labels: ASR, Run CICD

#11983 [checkpoint][docs] Fix typos in dist checkpointing docs
  docs/source/checkpoints/dist_ckpt.rst
Labels: documentation, Run CICD

#11985 callbacks and bf16 grad
  nemo/collections/llm/recipes/gpt3_175b.py
  nemo/collections/llm/recipes/llama31_405b.py
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/mixtral_8x22b.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  nemo/collections/llm/recipes/nemotron3_22b.py
  nemo/collections/llm/recipes/nemotron3_8b.py
  nemo/collections/llm/recipes/nemotron4_15b.py
  nemo/collections/llm/recipes/nemotron4_340b.py
  scripts/llm/performance/pretrain_gpt3_175b.py
  scripts/llm/performance/pretrain_llama31_405b.py
  scripts/llm/performance/pretrain_llama3_70b.py
  scripts/llm/performance/pretrain_llama3_8b.py
  scripts/llm/performance/pretrain_mixtral_8x22b.py
  scripts/llm/performance/pretrain_mixtral_8x7b.py
  scripts/llm/performance/pretrain_nemotron3_22b.py
  scripts/llm/performance/pretrain_nemotron3_8b.py
  scripts/llm/performance/pretrain_nemotron4_15b.py
  scripts/llm/performance/pretrain_nemotron4_340b.py
Labels: Run CICD

#11988 add exception when loading ckpt saved by TE < 1.13
  nemo/collections/nlp/parts/nlp_overrides.py
Labels: NLP, Run CICD

#11975 remove renormalize_blend_weights flag
  examples/nlp/language_modeling/conf/megatron_gpt_config.yaml
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
Labels: NLP, Run CICD

#11996 remove --disable-ckpt from tests
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#11994 nemo automodel sft squad data prep fix
  examples/llm/peft/hf.py
  examples/llm/sft/hf.py
  nemo/collections/llm/gpt/data/hf_dataset.py
Labels: Run CICD

#11993 Speechllm develop gen duplex
  nemo/collections/multimodal/speech_llm/data/lhotse_s2s_dataset.py
  nemo/collections/multimodal/speech_llm/models/modular_s2s_models.py
  scripts/speech_data_generation/create_shars_duplex_multi_from_single.py
Labels: Multi Modal

#11645 Adding serialization to all Auto* objects in HuggingFace transformers
  nemo/lightning/io/artifact/__init__.py
  nemo/lightning/io/artifact/base.py
  nemo/lightning/io/artifact/file.py
  nemo/lightning/io/artifact/hf_auto.py
  nemo/lightning/io/artifact/pickle.py
  nemo/lightning/io/fdl_torch.py
  nemo/lightning/io/mixin.py
  nemo/lightning/io/to_config.py
Labels: Run CICD

#11895 Introduce evaluation API
  nemo/collections/llm/api.py
  nemo/collections/llm/evaluation/__init__.py
  nemo/collections/llm/evaluation/api.py
Labels: Run CICD

#11997 Remove deprecated tests/infer_data_path.py
  .secrets.baseline
  tests/deploy/nemo_deploy.py
  tests/export/nemo_export.py
  tests/export/run.sh
  tests/infer_data_path.py
Labels: Run CICD

#11998 Checkpoint saving for automodels via ModelCheckpoint
  examples/llm/sft/hf.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  nemo/lightning/pytorch/utils.py
Labels: Run CICD

#11999 Mask vocab padding token ids from CE loss
  nemo/collections/llm/bert/model/base.py
Labels: Run CICD

#11909 Llama3.2 1B Embedding Model Support
  nemo/collections/llm/__init__.py
  nemo/collections/llm/bert/loss.py
  nemo/collections/llm/gpt/data/__init__.py
  nemo/collections/llm/gpt/data/retrieval.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/hf_llama_embedding.py
  nemo/collections/llm/gpt/model/llama_embedding.py
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/llama_embedding_1b.py
  nemo/collections/nlp/data/information_retrieval/bert_embedding_dataset.py
Labels: NLP, Run CICD
