Repository NVIDIA-NeMo/NeMo, pull requests merged in 2025-07, with the labels that each got.

#14060 Cherry pick `Bump protobuf to 5.29.5 (14045)` into `r2.4.0`
  requirements/requirements.txt
Labels: cherry-pick

#14068 Cherry pick `Detect hardware before enabling DeepEP (14022)` into `r2.4.0`
  nemo/collections/llm/recipes/deepseek_v2.py
  nemo/collections/llm/recipes/deepseek_v2_lite.py
  nemo/collections/llm/recipes/deepseek_v3.py
  nemo/lightning/pytorch/callbacks/deepep.py
Labels: cherry-pick

#14009 Align adapter shape with base linear output shape
  nemo/collections/llm/peft/canonical_lora.py
  nemo/collections/llm/peft/dora.py
Labels: Run CICD, r2.4.0

#14055 Inference: pad very short signals before embedding them
  scripts/magpietts/evaluate_generated_audio.py
Labels: Run CICD

#14034 Higher-level API for SALM.generate
  nemo/collections/asr/parts/preprocessing/features.py
  nemo/collections/speechlm2/models/salm.py
  tests/collections/speechlm2/test_salm.py
Labels: ASR

#13727 [magpietts] decoder CE model type
  nemo/collections/tts/models/magpietts.py
  scripts/magpietts/infer_and_evaluate.py
Labels: TTS, Run CICD

#14038 EOS detection: check all codebooks
  nemo/collections/tts/models/magpietts.py
Labels: TTS, Run CICD

#14094 [MoE] Update the fp8 precision interface for llama4 and qwen3
  scripts/performance/llm/pretrain_llama4_e128.py
  scripts/performance/llm/pretrain_llama4_e16.py
  scripts/performance/llm/pretrain_qwen3_235b_a22b.py
  scripts/performance/llm/pretrain_qwen3_30b_a3b.py
Labels: Run CICD, RC4, r2.4.0

#13827 Improve ASR models' invariance to padding/batch size
  examples/speaker_tasks/diarization/conf/neural_diarizer/sortformer_diarizer_hybrid_loss_4spk-v1.yaml
  examples/speechlm2/salm_train.py
  nemo/collections/asr/data/audio_to_diar_label.py
  nemo/collections/asr/models/sortformer_diar_models.py
  nemo/collections/asr/modules/audio_preprocessing.py
  nemo/collections/asr/parts/preprocessing/features.py
  nemo/collections/asr/parts/submodules/subsampling.py
  nemo/collections/asr/parts/utils/asr_multispeaker_utils.py
  tests/collections/asr/mixins/adapters/test_asr_adapter_mixin.py
  tests/collections/asr/mixins/test_transcription.py
  tests/collections/asr/test_asr_classification_model.py
  tests/collections/asr/test_asr_context_biasing.py
  tests/collections/asr/test_asr_ctc_encoder_model_bpe.py
  tests/collections/asr/test_asr_ctcencdec_model.py
  tests/collections/asr/test_asr_datasets.py
  tests/collections/asr/test_asr_filterbankfeatures_seq_len.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_bpe.py
  tests/collections/asr/test_asr_hybrid_rnnt_ctc_model_char.py
  tests/collections/asr/test_asr_interctc_models.py
  tests/collections/asr/test_asr_modules.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
  tests/collections/asr/test_asr_rnnt_encdec_model.py
  tests/collections/asr/test_asr_rnnt_encoder_model_bpe.py
  tests/collections/asr/test_asr_subsampling.py
  tests/collections/asr/test_padding_and_batch_size_invariance.py
  tests/collections/speaker_tasks/test_diar_datasets.py
  tests/collections/speaker_tasks/utils/test_multispeaker_utils.py
  tests/collections/tts/modules/test_audio_codec_modules.py
Labels: TTS, ASR, Speaker Tasks

#14076 Interface to enable fsdp-double-buffer without enabling NCCL-UB
  scripts/performance/argument_parser.py
  scripts/performance/diffusion/pretrain_flux_12b.py
  scripts/performance/helpers.py
  scripts/performance/llm/finetune_deepseek_v3.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/finetune_llama3_8b.py
  scripts/performance/llm/finetune_llama4_e128.py
  scripts/performance/llm/pretrain_deepseek_v3.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_llama3_8b.py
  scripts/performance/llm/pretrain_llama4_e128.py
  scripts/performance/llm/pretrain_llama4_e16.py
  scripts/performance/llm/pretrain_mixtral_8x22b.py
  scripts/performance/llm/pretrain_mixtral_8x7b.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  scripts/performance/llm/pretrain_nemotronh_47b.py
  scripts/performance/llm/pretrain_nemotronh_56b.py
  scripts/performance/llm/pretrain_nemotronh_8b.py
  scripts/performance/llm/pretrain_qwen3_235b_a22b.py
  scripts/performance/llm/pretrain_qwen3_30b_a3b.py
  scripts/performance/vlm/finetune_neva_8b.py
  scripts/performance/vlm/pretrain_vlm_llama4_e128.py
  scripts/performance/vlm/pretrain_vlm_llama4_e16.py
Labels: Run CICD, RC4, r2.4.0

#14087 remove dialogue collection
  nemo/collections/nlp/data/dialogue/__init__.py
  nemo/collections/nlp/data/dialogue/data_processor/__init__.py
  nemo/collections/nlp/data/dialogue/data_processor/assistant_data_processor.py
  nemo/collections/nlp/data/dialogue/data_processor/data_processor.py
  nemo/collections/nlp/data/dialogue/data_processor/design_data_processor.py
  nemo/collections/nlp/data/dialogue/data_processor/mellon_qa_data_processor.py
  nemo/collections/nlp/data/dialogue/data_processor/ms_marco_data_processor.py
  nemo/collections/nlp/data/dialogue/data_processor/sgd_data_processor.py
  nemo/collections/nlp/data/dialogue/dataset/__init__.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_bert_dataset.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_dataset.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_gpt_classification_dataset.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_gpt_generation_dataset.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_nearest_neighbour_dataset.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_s2s_generation_dataset.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_sgd_bert_dataset.py
  nemo/collections/nlp/data/dialogue/dataset/dialogue_zero_shot_intent_dataset.py
  nemo/collections/nlp/data/dialogue/input_example/__init__.py
  nemo/collections/nlp/data/dialogue/input_example/assistant_input_example.py
  nemo/collections/nlp/data/dialogue/input_example/design_input_example.py
  nemo/collections/nlp/data/dialogue/input_example/input_example.py
  nemo/collections/nlp/data/dialogue/input_example/mellon_qa_input_example.py
  nemo/collections/nlp/data/dialogue/input_example/ms_marco_input_example.py
  nemo/collections/nlp/data/dialogue/input_example/sgd_input_example.py
  nemo/collections/nlp/data/dialogue/sgd/__init__.py
  nemo/collections/nlp/data/dialogue/sgd/evaluate.py
  nemo/collections/nlp/data/dialogue/sgd/prediction_utils.py
  nemo/collections/nlp/data/dialogue/sgd/schema.py
  nemo/collections/nlp/metrics/__init__.py
  nemo/collections/nlp/metrics/dialogue_metrics.py
  nemo/collections/nlp/models/dialogue/__init__.py
  nemo/collections/nlp/models/dialogue/dialogue_gpt_classification_model.py
  nemo/collections/nlp/models/dialogue/dialogue_gpt_generation_model.py
  nemo/collections/nlp/models/dialogue/dialogue_nearest_neighbour_model.py
  nemo/collections/nlp/models/dialogue/dialogue_s2s_generation_model.py
  nemo/collections/nlp/models/dialogue/dialogue_zero_shot_intent_model.py
  nemo/collections/nlp/models/dialogue/intent_slot_classification_model.py
  nemo/collections/nlp/models/dialogue/sgdqa_model.py
  nemo/collections/nlp/modules/__init__.py
  nemo/collections/nlp/modules/dialogue_state_tracking/__init__.py
  nemo/collections/nlp/modules/dialogue_state_tracking/sgd_decoder.py
  nemo/collections/nlp/modules/dialogue_state_tracking/sgd_encoder.py
Labels: NLP

#14092 remove QA collection
  examples/nlp/question_answering/conf/qa_conf.yaml
  examples/nlp/question_answering/conf/question_answering_squad_config.yaml
  examples/nlp/question_answering/convert_msmarco_to_squad_format.py
  examples/nlp/question_answering/get_squad.py
  examples/nlp/question_answering/question_answering.py
  nemo/collections/nlp/data/__init__.py
  nemo/collections/nlp/data/question_answering/__init__.py
  nemo/collections/nlp/data/question_answering/data_processor/__init__.py
  nemo/collections/nlp/data/question_answering/data_processor/qa_processing.py
  nemo/collections/nlp/data/question_answering/dataset/__init__.py
  nemo/collections/nlp/data/question_answering/dataset/qa_bert_dataset.py
  nemo/collections/nlp/data/question_answering/dataset/qa_dataset.py
  nemo/collections/nlp/data/question_answering/dataset/qa_gpt_dataset.py
  nemo/collections/nlp/data/question_answering/dataset/qa_s2s_dataset.py
  nemo/collections/nlp/data/question_answering/input_example/__init__.py
  nemo/collections/nlp/data/question_answering/input_example/qa_bert_input_example.py
  nemo/collections/nlp/data/question_answering/input_example/qa_gpt_input_example.py
  nemo/collections/nlp/data/question_answering/input_example/qa_input_example.py
  nemo/collections/nlp/data/question_answering/input_example/qa_s2s_input_example.py
  nemo/collections/nlp/data/question_answering_squad/__init__.py
  nemo/collections/nlp/data/question_answering_squad/qa_dataset.py
  nemo/collections/nlp/data/question_answering_squad/qa_squad_processing.py
  nemo/collections/nlp/metrics/__init__.py
  nemo/collections/nlp/metrics/qa_metrics.py
  nemo/collections/nlp/models/__init__.py
  nemo/collections/nlp/models/question_answering/__init__.py
  nemo/collections/nlp/models/question_answering/qa_base_model.py
  nemo/collections/nlp/models/question_answering/qa_bert_model.py
  nemo/collections/nlp/models/question_answering/qa_gpt_model.py
  nemo/collections/nlp/models/question_answering/qa_model.py
  nemo/collections/nlp/models/question_answering/qa_s2s_model.py
Labels: NLP

#14082 [eval] added the support of evaluating multiple .nemo checkpoints jus…
  scripts/magpietts/infer_and_evaluate.py
Labels: Run CICD

#14080 make feature_dir default to None to avoid adding feature_dir in
  nemo/collections/tts/data/text_to_speech_dataset.py
Labels: TTS, Run CICD

#14005 Perf scripts updates
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/recipes/gpt3_175b.py
  nemo/collections/llm/recipes/precision/mixed_precision.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/lightning/run/plugins.py
  scripts/performance/argument_parser.py
  scripts/performance/helpers.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_mixtral_8x22b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  tests/collections/llm/recipes/test_mixed_precision.py
Labels: NLP, Run CICD, RC4, r2.4.0

#13899 Bump to pytorch 25.05 container along with TE update
  .coveragerc
  .github/workflows/cicd-main-automodel.yml
  .github/workflows/cicd-main-export-deploy.yml
  .github/workflows/cicd-main-speech.yml
  .github/workflows/cicd-main.yml
  docker/Dockerfile.ci.export_deploy
  docker/common/install_dep.sh
  external/patches/nemo_2.3.0_te.patch
  external/patches/torch_accelerator_144567_fix.patch
  external/patches/triton-lang_triton_6570_lazy_init.patch
  external/patches/trt_llm.patch
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retro_model.py
  nemo/collections/nlp/modules/common/hyena/hyena_spec.py
  nemo/deploy/nlp/megatronllm_deployable.py
  requirements/manifest.json
  scripts/llm/generate.py
  scripts/vlm/mllama_generate.py
  scripts/vlm/neva_generate.py
  tests/core/test_optimizers_schedulers.py
  tests/export/nemo_export.py
Labels: core, NLP, CI, no-fail-fast, skip-linting

#14089 Improve NEST GPU Utilization 2/N
  nemo/collections/asr/modules/ssl_modules/masking.py
Labels: ASR, Run CICD

#14104 Cherry pick `[MoE] Update the fp8 precision interface for llama4 and qwen3 (14094)` into `r2.4.0`
  scripts/performance/llm/pretrain_llama4_e128.py
  scripts/performance/llm/pretrain_llama4_e16.py
  scripts/performance/llm/pretrain_qwen3_235b_a22b.py
  scripts/performance/llm/pretrain_qwen3_30b_a3b.py
Labels: cherry-pick

#14145 Cherry pick `Bump to pytorch 25.05 container along with TE update (13899)` into `r2.4.0`
  .coveragerc
  .github/workflows/cicd-main-automodel.yml
  .github/workflows/cicd-main-export-deploy.yml
  .github/workflows/cicd-main-speech.yml
  .github/workflows/cicd-main.yml
  docker/Dockerfile.ci.export_deploy
  docker/common/install_dep.sh
  external/patches/nemo_2.3.0_te.patch
  external/patches/torch_accelerator_144567_fix.patch
  external/patches/triton-lang_triton_6570_lazy_init.patch
  external/patches/trt_llm.patch
  nemo/collections/nlp/models/language_modeling/megatron/gpt_layer_modelopt_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retro_model.py
  nemo/collections/nlp/modules/common/hyena/hyena_spec.py
  nemo/deploy/nlp/megatronllm_deployable.py
  requirements/manifest.json
  scripts/llm/generate.py
  scripts/vlm/mllama_generate.py
  scripts/vlm/neva_generate.py
  tests/core/test_optimizers_schedulers.py
  tests/export/nemo_export.py
Labels: core, cherry-pick, NLP, CI, skip-linting

#13102 Add option distributed_size to MegatronDistributedFusedAdam
  nemo/core/optim/distributed_adam.py
Labels: core, stale, Run CICD, skip-linting

#14101 [eval] Suppress TitaNet messages during initialization
  scripts/magpietts/evaluate_generated_audio.py
Labels: Run CICD

#14144 [release][eval] hardcoded text attention prior to 1.0 and window size to 5.
  nemo/collections/tts/models/magpietts.py
Labels: TTS, Run CICD

#14178 Cherry pick `Add checkpoint info for NIM Embedding Expor Tutorial (14177)` into `r2.4.0`
  tutorials/llm/embedding/llama_embedding_export_deploy.ipynb
Labels: cherry-pick

#13936 Safely import optional python packages
  nemo/collections/llm/modelopt/speculative/model_transform.py
  nemo/lightning/nemo_logger.py
Labels: Run CICD

#14191 remove nmt collection
  examples/nlp/language_modeling/megatron_ckpt_to_nemo.py
  examples/nlp/language_modeling/megatron_export.py
  examples/nlp/machine_translation/conf/aayn_base.yaml
  examples/nlp/machine_translation/conf/aayn_base_megatron.yaml
  examples/nlp/machine_translation/conf/aayn_bottleneck.yaml
  examples/nlp/machine_translation/conf/aayn_finetune.yaml
  examples/nlp/machine_translation/conf/huggingface.yaml
  examples/nlp/machine_translation/conf/megatron.yaml
  examples/nlp/machine_translation/conf/nmt_megatron_infer.yaml
  examples/nlp/machine_translation/create_tarred_monolingual_dataset.py
  examples/nlp/machine_translation/create_tarred_parallel_dataset.py
  examples/nlp/machine_translation/enc_dec_nmt-bottleneck.py
  examples/nlp/machine_translation/enc_dec_nmt.py
  examples/nlp/machine_translation/enc_dec_nmt_finetune.py
  examples/nlp/machine_translation/megatron_nmt_training.py
  examples/nlp/machine_translation/nmt_transformer_infer.py
  examples/nlp/machine_translation/nmt_transformer_infer_megatron.py
  examples/nlp/machine_translation/noisy_channel_reranking.py
  examples/nlp/machine_translation/translate_ddp.py
  examples/nlp/rag/conf/rag_generating.yaml
  examples/nlp/rag/conf/rag_indexing.yaml
  examples/nlp/rag/images/rag_pipeline.png
  examples/nlp/rag/rag.md
  examples/nlp/rag/rag_generating.py
  examples/nlp/rag/rag_indexing.py
  nemo/collections/nlp/data/__init__.py
  nemo/collections/nlp/data/machine_translation/__init__.py
  nemo/collections/nlp/data/machine_translation/machine_translation_dataset.py
  nemo/collections/nlp/data/machine_translation/preproc_mt_data.py
  nemo/collections/nlp/models/__init__.py
  nemo/collections/nlp/models/machine_translation/__init__.py
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
  nemo/collections/nlp/models/machine_translation/mt_enc_dec_bottleneck_model.py
  nemo/collections/nlp/models/machine_translation/mt_enc_dec_config.py
  nemo/collections/nlp/models/machine_translation/mt_enc_dec_model.py
  scripts/neural_machine_translation/collect_tokenizer_dataset_stats.py
  scripts/neural_machine_translation/filter_langs_nmt.py
  scripts/neural_machine_translation/length_ratio_filter.py
  scripts/neural_machine_translation/plot_detailed_timing.py
  scripts/neural_machine_translation/preprocess_tokenization_normalization.py
Labels: NLP

#14190 Set flux test as optional
  .github/workflows/cicd-main-nemo2.yml
Labels: CI

#14176 405b perf script updates
  scripts/performance/helpers.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/recommended_model_configs/model_configs_gb200.csv
Labels: Run CICD, r2.4.0

#14198 Fix "Safely import optional python packages (#13936)"
  nemo/collections/llm/modelopt/speculative/model_transform.py
  nemo/lightning/nemo_logger.py
Labels: r2.4.0

#14027 Add fix for evo2 generate/inference
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/hyena.py
  nemo/collections/llm/gpt/model/megatron/hyena/engine.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_mixer.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_utils.py
  nemo/collections/llm/inference/base.py
  tests/collections/llm/gpt/model/test_hyena_operators.py
Labels: Run CICD

#14161 Fix nemotronh flops calculator
  nemo/lightning/pytorch/callbacks/flops_callback.py
  nemo/utils/flops_formulas.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
Labels: Run CICD, r2.4.0

#14204 Remove g2p_en
  requirements/requirements_asr.txt
Labels: Run CICD, r2.4.0

#14108 GPU-accelerated Phrase-Boosting (GPU-PB) for AED decoding
  nemo/collections/asr/modules/transformer/__init__.py
  nemo/collections/asr/modules/transformer/transformer_generators.py
  nemo/collections/asr/parts/context_biasing/__init__.py
  nemo/collections/asr/parts/context_biasing/boosting_graph_batched.py
  nemo/collections/asr/parts/context_biasing/context_biasing_utils.py
  nemo/collections/asr/parts/context_biasing/context_graph_universal.py
  nemo/collections/asr/parts/submodules/multitask_beam_decoding.py
  nemo/collections/asr/parts/submodules/multitask_decoding.py
  scripts/asr_context_biasing/build_gpu_boosting_tree.py
  scripts/asr_context_biasing/compute_key_words_fscore.py
  tests/collections/asr/decoding/test_multi_task_decoding.py
  tests/collections/asr/test_boosting_tree.py
Labels: ASR, Run CICD

#14173 diffusion mock data null args
  nemo/collections/diffusion/data/diffusion_mock_datamodule.py
Labels: r2.4.0

#14182 Cherry pick `Fix dsv3 script (14007)` into `r2.4.0`
  nemo/collections/llm/gpt/model/base.py
  nemo/lightning/pytorch/callbacks/megatron_enable_experimental_callback.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  scripts/performance/llm/finetune_deepseek_v3.py
  scripts/performance/llm/pretrain_deepseek_v3.py
  scripts/performance/recommended_model_configs/model_configs_b200.csv
  scripts/performance/recommended_model_configs/model_configs_gb200.csv
  scripts/performance/recommended_model_configs/model_configs_h100.csv
Labels: cherry-pick, Run CICD

#14195 Cherry pick `405b perf script updates (14176)` into `r2.4.0`
  scripts/performance/helpers.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/recommended_model_configs/model_configs_gb200.csv
Labels: cherry-pick

#14202 Cherry pick `Fix nemotronh flops calculator (14161)` into `r2.4.0`
  nemo/lightning/pytorch/callbacks/flops_callback.py
  nemo/utils/flops_formulas.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
Labels: cherry-pick, Run CICD

#14207 perf-scripts: Change b200 config to EP8
  scripts/performance/recommended_model_configs/model_configs_b200.csv
Labels: Run CICD, r2.4.0

#14150 [automodel] fix loss_mask pad token
  examples/llm/finetune/automodel.py
Labels: r2.4.0

#14208 [Performance script] FSDP-UBR related recipe update
  nemo/lightning/run/plugins.py
  scripts/performance/argument_parser.py
  scripts/performance/helpers.py
  scripts/performance/llm/pretrain_deepseek_v3.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_llama3_8b.py
  scripts/performance/recommended_model_configs/model_configs_b200.csv
  scripts/performance/recommended_model_configs/model_configs_gb200.csv
  scripts/performance/recommended_model_configs/model_configs_h100.csv
Labels: Run CICD, r2.4.0

#14225 Cherry pick `Fix the forward when final_loss_mask is not present (14201)` into `r2.4.0`
  nemo/collections/vlm/llama4/model/base.py
Labels: cherry-pick

#14227 Cherry pick `[automodel] fix loss_mask pad token (14150)` into `r2.4.0`
  examples/llm/finetune/automodel.py
Labels: cherry-pick

#14167 Temporarily Remove Encoder PP Support
  examples/multimodal/convert_ckpt_to_nemo.py
  examples/multimodal/text_to_image/convert_hf_ckpt_to_nemo.py
  examples/multimodal/vision_language_foundation/clip/convert_external_clip_to_nemo.py
  examples/nlp/language_modeling/megatron_ckpt_to_nemo.py
  examples/nlp/language_modeling/megatron_gpt_drop_layers.py
  examples/vision/convert_ckpt_to_nemo.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  nemo/collections/nlp/modules/common/megatron/build_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/collections/nlp/modules/common/megatron/retrieval_token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/token_level_encoder_decoder.py
  nemo/collections/nlp/modules/common/megatron/transformer.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/collections/tts/models/speechllm/megatron_t5_speechllm_model.py
  nemo/collections/vision/modules/common/megatron/vision_transformer.py
  nemo/collections/vlm/mllama/model/base.py
  nemo/lightning/_strategy_lib.py
  nemo/lightning/megatron_init.py
  scripts/checkpoint_converters/convert_clip_hf_to_nemo.py
  scripts/checkpoint_converters/convert_zarr_to_torch_dist.py
  tests/collections/llm/gpt/model/test_hyena_accuracy.py
  tests/lightning/test_strategy_lib.py
Labels: TTS, NLP, Multi Modal, Run CICD

#14254 Moving export security fixes over here
  .github/workflows/cicd-main-export-deploy.yml
  nemo/export/tarutils.py
  nemo/export/tensorrt_llm.py
  nemo/export/tensorrt_mm_exporter.py
  nemo/export/trt_llm/qnemo/qnemo_to_tensorrt_llm.py
Labels: CI, r2.4.0

#14214 Allow exception in hf ckpt load attempt before fallback to standard l…
  nemo/lightning/io/api.py
Labels: Run CICD

#14261 Cherry pick `Moving export security fixes over here (14254)` into `r2.4.0`
  .github/workflows/cicd-main-export-deploy.yml
  nemo/export/tarutils.py
  nemo/export/tensorrt_llm.py
  nemo/export/tensorrt_mm_exporter.py
  nemo/export/trt_llm/qnemo/qnemo_to_tensorrt_llm.py
Labels: cherry-pick, CI

#14263 FIx Flux & Flux_Controlnet initialization issue
  .github/workflows/cicd-main-nemo2.yml
  nemo/collections/diffusion/models/flux/model.py
  scripts/flux/flux_controlnet_training.py
  scripts/flux/flux_training.py
  tests/collections/diffusion/models/flux/test_flux_controlnet_training.py
  tests/functional_tests/L2_NeMo_2_Flux_ControlNet_Training_DDP_Test.sh
  tests/functional_tests/L2_NeMo_2_Flux_ControlNet_Training_FSDP_Test.sh
  tests/functional_tests/L2_NeMo_2_Flux_Training_DDP_Test.sh
  tests/functional_tests/L2_NeMo_2_Flux_Training_FSDP_Test.sh
Labels: CI, r2.4.0

#14262 fix wrong typing for ctc-ws context graph
  nemo/collections/asr/parts/context_biasing/context_graph_ctc.py
Labels: ASR, Run CICD

#14264 added new models to documentation
  docs/source/asr/all_chkpt.rst
  docs/source/asr/data/benchmark_ar.csv
  docs/source/asr/data/benchmark_be.csv
  docs/source/asr/data/benchmark_ca.csv
  docs/source/asr/data/benchmark_canary.csv
  docs/source/asr/data/benchmark_de.csv
  docs/source/asr/data/benchmark_en.csv
  docs/source/asr/data/benchmark_es.csv
  docs/source/asr/data/benchmark_fastconformer_hybrid.csv
  docs/source/asr/data/benchmark_fr.csv
  docs/source/asr/data/benchmark_hy.csv
  docs/source/asr/data/benchmark_multilingual.csv
  docs/source/asr/data/benchmark_parakeet.csv
  docs/source/asr/data/benchmark_pt.csv
Labels: ASR, r2.4.0

#14278 Cherry pick `added new models to documentation (14264)` into `r2.4.0`
  docs/source/asr/all_chkpt.rst
  docs/source/asr/data/benchmark_ar.csv
  docs/source/asr/data/benchmark_be.csv
  docs/source/asr/data/benchmark_ca.csv
  docs/source/asr/data/benchmark_canary.csv
  docs/source/asr/data/benchmark_de.csv
  docs/source/asr/data/benchmark_en.csv
  docs/source/asr/data/benchmark_es.csv
  docs/source/asr/data/benchmark_fastconformer_hybrid.csv
  docs/source/asr/data/benchmark_fr.csv
  docs/source/asr/data/benchmark_hy.csv
  docs/source/asr/data/benchmark_multilingual.csv
  docs/source/asr/data/benchmark_parakeet.csv
  docs/source/asr/data/benchmark_pt.csv
Labels: cherry-pick, ASR

#14256 Bugfix for Hyena to the get_t function which comes up when doing longer context inference
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_utils.py
Labels: bug

#14279 Cherry pick `update ffmpeg install (14237)` into `r2.4.0`
  tutorials/asr/Canary_Multitask_Speech_Model.ipynb
Labels: cherry-pick, ASR

#13567 Add support of Llama4 VLM PTQ
  .github/workflows/cicd-main-nemo2.yml
  docker/common/install_dep.sh
  nemo/collections/llm/gpt/model/llama4_utils.py
  nemo/collections/llm/modelopt/model_utils.py
  nemo/collections/llm/modelopt/prune/pruner.py
  nemo/collections/llm/modelopt/quantization/quantizer.py
  nemo/collections/vlm/__init__.py
  nemo/collections/vlm/api.py
  nemo/collections/vlm/inference/base.py
  nemo/collections/vlm/modelopt/__init__.py
  nemo/collections/vlm/modelopt/model_utils.py
  nemo/lightning/fabric/strategies.py
  requirements/requirements_nlp.txt
  scripts/vlm/llama4/llama4_generate.py
  scripts/vlm/llama4/llama4_ptq.py
  tests/functional_tests/L2_NeMo_2_PTQ_Llama4_FP8_nemo.sh
Labels: CI, Run CICD

#14281 remove mixins collections
  .github/workflows/cicd-main-nemo2.yml
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/models/text_to_image/dreambooth/dreambooth.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/diffusion_engine.py
  nemo/collections/multimodal/models/text_to_image/stable_diffusion/ldm/ddpm.py
  nemo/collections/multimodal/speech_llm/parts/mixins/adapter_mixin.py
  nemo/collections/nlp/data/__init__.py
  nemo/collections/nlp/data/data_utils/__init__.py
  nemo/collections/nlp/data/data_utils/data_preprocessing.py
  nemo/collections/nlp/data/language_modeling/l2r_lm_dataset.py
  nemo/collections/nlp/data/language_modeling/lm_bert_dataset.py
  nemo/collections/nlp/data/language_modeling/sentence_dataset.py
  nemo/collections/nlp/models/enc_dec_nlp_model.py
  nemo/collections/nlp/models/language_modeling/megatron_glue_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_sft_model.py
  nemo/collections/nlp/parts/__init__.py
  nemo/collections/nlp/parts/megatron_lr_schedulers.py
  nemo/collections/nlp/parts/mixins/__init__.py
  nemo/collections/nlp/parts/mixins/multimodal_adapter_mixins.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
  scripts/dataset_processing/nlp/financial_phrase_bank/prompt_learning_financial_phrase_bank_preprocessing.py
  scripts/dataset_processing/nlp/intent_and_slot/assistant_utils.py
  scripts/dataset_processing/nlp/intent_and_slot/augment_training_data.py
  scripts/dataset_processing/nlp/intent_and_slot/convert_datasets.py
  scripts/dataset_processing/nlp/intent_and_slot/import_datasets.py
  scripts/dataset_processing/nlp/intent_and_slot/prompt_learning_assistant_preprocessing.py
  scripts/dataset_processing/nlp/squad/prompt_learning_squad_preprocessing.py
  tests/functional_tests/L2_Community_vita_Checkpoints_tests_Llama3.sh
Labels: NLP, CI, Multi Modal

#14314 fix speechlm lhotse loading nemo_tarred
  examples/speechlm/conf/salm/salm_llama3-8b_fc_fc_peft.yaml
  examples/speechlm/conf/salm/salm_llama3-8b_fc_linear_peft.yaml
  examples/speechlm/conf/salm/salm_llama3.1-8b_fc_fc_peft.yaml
  examples/speechlm/conf/salm/salm_llama3.2-1b_fc_fc_peft.yaml
  examples/speechlm/conf/salm/salm_llama3.2-1b_fc_linear_nopeft.yaml
  examples/speechlm/conf/salm/salm_llama3.2-1b_fc_linear_peft.yaml
  examples/speechlm/conf/salm/salm_llama3.2-1b_whisper_linear_peft.yaml
  examples/speechlm/conf/salm/salm_llama3.2-3b_fc_fc_peft.yaml
  nemo/collections/speechlm/data/audio_to_text_module.py
  nemo/collections/speechlm/data/dataset/audio_text_lhotse_dataset.py
Labels: skip-linting

#13889 Infer updates: G2P_Prob=1, Add Violin Plots, ASR Default, Cleanups
  scripts/magpietts/evalset_config.py
  scripts/magpietts/evaluate_generated_audio.py
  scripts/magpietts/infer_and_evaluate.py
Labels: Run CICD

#13874 feat: print expert groups on megatron init
  nemo/lightning/megatron_init.py
Labels: Run CICD

#14337 fix frame vad
  examples/asr/conf/marblenet/marblenet_3x2x64_20ms.yaml
  examples/asr/speech_classification/speech_to_frame_label.py
  nemo/collections/asr/models/classification_models.py
  tests/collections/asr/test_asr_classification_model.py
Labels: ASR

#14315 Hyena support for flash decode API
  nemo/collections/llm/gpt/model/hyena.py
  nemo/collections/llm/gpt/model/megatron/hyena/engine.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_block.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_layer.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_model.py
Labels: feature

#14065 Add calculate_per_token_loss support for Context Parallel
  nemo/collections/llm/api.py
Labels: r2.4.0
