Repository NVIDIA-NeMo/NeMo, pull requests merged in 2025-08, with the labels that each got.

#14124 SpeechLM2: S2S->S2T data reader, excessive padding fixes
  examples/speechlm2/conf/salm.yaml
  examples/speechlm2/salm_generate.py
  examples/speechlm2/to_hf.py
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/data/lhotse/dataloader.py
  nemo/collections/common/data/lhotse/nemo_adapters.py
  nemo/collections/common/data/lhotse/text_adapters.py
  nemo/collections/speechlm2/data/salm_dataset.py
  nemo/collections/speechlm2/models/salm.py
  tests/collections/common/test_lhotse_multimodal_dataloading.py
  tests/collections/speechlm2/test_audio_placeholders.py
Labels: common

#14395 Add pyxis flag for container writable.
  scripts/performance/executors.py
Labels: Run CICD

#14370 Cherry pick `Fix callbacks in DSV3 script (14350)` into `r2.4.0`
  scripts/performance/executors.py
  scripts/performance/llm/pretrain_deepseek_v3.py
  scripts/performance/recommended_model_configs/model_configs_h100.csv
Labels: cherry-pick

#14303 Cherry pick `Change Llama Embedding Tutorial to use SFT by default (14231)` into `r2.4.0`
  tutorials/llm/embedding/llama_embedding.ipynb
Labels: cherry-pick

#14403 Check lightning and core imports in install test
  .github/workflows/install-test.yml
  tests/core_ptl/check_imports.py
Labels: CI

#12611 Feature/wsd scheduler
  nemo/core/optim/__init__.py
  nemo/core/optim/lr_scheduler.py
  nemo/lightning/pytorch/optim/__init__.py
  nemo/lightning/pytorch/optim/lr_scheduler.py
  tests/core/test_optimizers_schedulers.py
Labels: core, Run CICD

#14343 remove confidence ensemble models
  docs/source/asr/api.rst
  docs/source/asr/models.rst
  docs/source/starthere/tutorials.rst
  nemo/collections/asr/models/confidence_ensemble.py
  scripts/confidence_ensembles/build_ensemble.py
  scripts/confidence_ensembles/ensemble_config.yaml
  scripts/confidence_ensembles/test_confidence_ensembles.py
  tests/collections/asr/test_confidence_ensembles.py
  tutorials/asr/ASR_Confidence_Estimation.ipynb
Labels: ASR

#14184 Fix ASR decoding issues with CUDA graphs in training
  nemo/collections/asr/models/asr_model.py
  nemo/collections/asr/parts/submodules/ctc_batched_beam_decoding.py
  nemo/collections/asr/parts/submodules/ctc_beam_decoding.py
  nemo/collections/asr/parts/submodules/ctc_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_beam_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_malsd_batched_computer.py
  nemo/collections/asr/parts/submodules/tdt_beam_decoding.py
  nemo/collections/asr/parts/submodules/tdt_malsd_batched_computer.py
  nemo/collections/asr/parts/submodules/transducer_decoding/label_looping_base.py
  nemo/collections/asr/parts/submodules/transducer_decoding/rnnt_label_looping.py
  nemo/collections/asr/parts/submodules/transducer_decoding/tdt_label_looping.py
  nemo/collections/common/parts/optional_cuda_graphs.py
  nemo/core/utils/cuda_python_utils.py
  tests/collections/common/test_optional_cuda_graphs.py
Labels: core, ASR, common, skip-docs

#14373 Bump Mcore to 7f7439f
  .github/workflows/cicd-main-export-deploy.yml
  nemo/collections/llm/modelopt/distill/utils.py
  nemo/collections/vlm/inference/llava_inference_wrapper.py
  nemo/collections/vlm/inference/vlm_inference_controller.py
  requirements/manifest.json
  requirements/requirements_eval.txt
Labels: CI

#14383 Use cuhyena rearrange when available.
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_mixer.py
Labels: Run CICD

#14429 Quick PR to disable broken tests on magpie dev branch for now
  .github/workflows/install-test.yml
  tests/collections/common/test_lhotse_dataloading.py
Labels: CI, Run CICD

#14432 Cherry-pick `Remove unused DynamicRetrievalServer and Bert dataset loader classes` to `r2.3.0`
  nemo/collections/nlp/data/__init__.py
  nemo/collections/nlp/data/language_modeling/__init__.py
  nemo/collections/nlp/data/language_modeling/lm_bert_dataset.py
  nemo/collections/nlp/models/language_modeling/bert_lm_model.py
  nemo/collections/nlp/modules/common/megatron/retrieval_services/dynamic_retrieval_server.py
  scripts/nlp_language_modeling/service_launch_scripts/start_dynamic_retrieval_service.py
Labels: NLP

#14424 Discount FLOPs in dot-product att
  nemo/utils/flops_formulas.py
  tests/collections/common/test_perf_metrics.py
  tests/utils/test_flops_formulas.py
Labels: Run CICD

#14444 Enable precision aware optimizer for dsv3
  nemo/collections/llm/recipes/deepseek_v3.py
Labels: Run CICD

#14393 Magpietts 2503 po july2025
  nemo/collections/tts/models/magpietts.py
  nemo/collections/tts/models/magpietts_preference_optimization.py
  scripts/magpietts/README_magpie_po.md
Labels: TTS, Run CICD

#14121 Canary2 with NFA
  docs/source/tools/nemo_forced_aligner.rst
  nemo/collections/asr/metrics/bleu.py
  nemo/collections/asr/metrics/wer.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/k2_aligner_model.py
  nemo/collections/asr/parts/mixins/mixins.py
  nemo/collections/asr/parts/submodules/ctc_decoding.py
  nemo/collections/asr/parts/submodules/multitask_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/utils/aligner_utils.py
  nemo/collections/asr/parts/utils/streaming_utils.py
  nemo/collections/asr/parts/utils/timestamp_utils.py
  nemo/collections/asr/parts/utils/tokenizer_utils.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  tests/collections/asr/conftest.py
  tests/collections/asr/decoding/test_rnnt_decoding.py
  tests/collections/asr/decoding/test_timestamps.py
  tests/collections/asr/test_asr_metrics.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
  tools/nemo_forced_aligner/align.py
  tools/nemo_forced_aligner/tests/test_add_t_start_end_to_utt_obj.py
  tools/nemo_forced_aligner/tests/test_get_utt_obj.py
  tools/nemo_forced_aligner/tests/test_restore_token_case.py
  tools/nemo_forced_aligner/utils/constants.py
  tools/nemo_forced_aligner/utils/data_prep.py
  tools/nemo_forced_aligner/utils/make_ass_files.py
  tools/nemo_forced_aligner/utils/make_ctm_files.py
  tools/nemo_forced_aligner/utils/viterbi_decoding.py
  tutorials/tools/NeMo_Forced_Aligner_Tutorial.ipynb
Labels: ASR

#14321 Initial Chunking
  .github/workflows/cicd-main-speech.yml
  examples/asr/asr_chunked_inference/aed/speech_to_text_aed_chunked_infer.py
  nemo/collections/asr/data/audio_to_text_lhotse_prompted.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/parts/submodules/multitask_decoding.py
  nemo/collections/asr/parts/utils/aligner_utils.py
  nemo/collections/asr/parts/utils/chunking_utils.py
  nemo/collections/asr/parts/utils/streaming_utils.py
  nemo/collections/asr/parts/utils/timestamp_utils.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
  tests/collections/asr/utils/test_chunking_utils.py
Labels: ASR, CI

#14484 Tutorial and doc update
  docs/source/asr/all_chkpt.rst
  docs/source/asr/data/benchmark_bg.csv
  docs/source/asr/data/benchmark_cs.csv
  docs/source/asr/data/benchmark_da.csv
  docs/source/asr/data/benchmark_de.csv
  docs/source/asr/data/benchmark_el.csv
  docs/source/asr/data/benchmark_en.csv
  docs/source/asr/data/benchmark_es.csv
  docs/source/asr/data/benchmark_et.csv
  docs/source/asr/data/benchmark_fi.csv
  docs/source/asr/data/benchmark_fr.csv
  docs/source/asr/data/benchmark_hr.csv
  docs/source/asr/data/benchmark_hu.csv
  docs/source/asr/data/benchmark_it.csv
  docs/source/asr/data/benchmark_lt.csv
  docs/source/asr/data/benchmark_lv.csv
  docs/source/asr/data/benchmark_mt.csv
  docs/source/asr/data/benchmark_nl.csv
  docs/source/asr/data/benchmark_pl.csv
  docs/source/asr/data/benchmark_pt.csv
  docs/source/asr/data/benchmark_ro.csv
  docs/source/asr/data/benchmark_ru.csv
  docs/source/asr/data/benchmark_sk.csv
  docs/source/asr/data/benchmark_sl.csv
  docs/source/asr/data/benchmark_sv.csv
  docs/source/asr/data/benchmark_ua.csv
  docs/source/asr/intro.rst
  docs/source/asr/models.rst
  docs/source/asr/results.rst
  tutorials/asr/Canary_Multitask_Speech_Model.ipynb
  tutorials/asr/images/canary2_timestamps.png
Labels: ASR, Run CICD

#14486 Rename to subquadratic_ops
  nemo/collections/llm/gpt/model/hyena.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_config.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_mixer.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_utils.py
  tests/collections/llm/gpt/model/test_hyena_mixer_cp.py
  tests/collections/llm/gpt/model/test_hyena_mixer_kernel.py
  tests/collections/llm/gpt/model/test_hyena_operators.py
  tests/collections/llm/gpt/model/test_hyena_utils.py
Labels: Run CICD

#14485 Qwen2.5-VL 32B Performance Recipe
  nemo/collections/vlm/recipes/qwen25vl_32b.py
  scripts/performance/recommended_model_configs/model_configs_b200.csv
  scripts/performance/recommended_model_configs/model_configs_gb200.csv
  scripts/performance/recommended_model_configs/model_configs_h100.csv
  scripts/performance/vlm/finetune_qwen25vl_32b.py
Labels: Run CICD

#14077 Change to enable full iteration CUDA graph for LLMs
  nemo/collections/diffusion/models/dit/dit_layer_spec.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
  nemo/collections/vlm/mllama/model/language.py
  nemo/collections/vlm/mllama/model/vision.py
  nemo/lightning/megatron_parallel.py
  scripts/performance/helpers.py
Labels: NLP, Run CICD

#14442 [Audio]: added conformer U-Net model for SE
  examples/audio/conf/predictive_conformer_unet.yaml
  examples/audio/conf/streaming_predictive_conformer_unet.yaml
  nemo/collections/audio/parts/submodules/conformer_unet.py
  tests/collections/audio/test_audio_models_predictive.py
Labels: Run CICD, audio

#14457 Add gpt-oss
  nemo/collections/common/tokenizers/tiktoken_tokenizer.py
  nemo/collections/llm/__init__.py
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/gpt_oss.py
  nemo/collections/llm/modelopt/model_utils.py
  nemo/collections/llm/peft/api.py
  nemo/collections/llm/peft/lora.py
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/gpt_oss_120b.py
  nemo/collections/llm/recipes/gpt_oss_20b.py
  nemo/lightning/io/state.py
  nemo/lightning/pytorch/callbacks/flops_callback.py
  nemo/utils/flops_formulas.py
  scripts/llm/generate.py
  scripts/performance/argument_parser.py
  scripts/performance/executors.py
Labels: common, no-fail-fast

#14533 Inference: Fix for speaker embedding of short files
  scripts/magpietts/evaluate_generated_audio.py
Labels: Run CICD

#14555 Forbid generation of special tokens (excpet EOS)
  nemo/collections/tts/models/magpietts.py
Labels: TTS, Run CICD

#14542 Hyena: Allow to use unfused RMSNorm + TELinear to restore accuracy and some speed
  nemo/collections/llm/gpt/model/hyena.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_layer_specs.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_mixer.py
  nemo/collections/llm/gpt/model/megatron/hyena/te_compat.py
Labels: Run CICD

#14437 Fix sequence packing loss calculation
  nemo/collections/llm/gpt/data/core.py
  nemo/collections/nlp/data/language_modeling/megatron/gpt_sft_dataset.py
  nemo/utils/sequence_packing_utils.py
Labels: NLP, Run CICD, external

#14524 [Audio]: added streaming mode to SpectrogramToAudio
  nemo/collections/audio/modules/transforms.py
  tests/collections/audio/test_audio_modules_transforms.py
Labels: Run CICD, audio

#14568 Bump TE and Mcore
  requirements/manifest.json
Labels: r2.5.0

#14143 [eval][bugfix] avoid overidding cross attention maps for multiple repeats
  scripts/magpietts/infer_and_evaluate.py
Labels: Run CICD

#14489 Avoid host-device sync in PTL logging
  nemo/lightning/pytorch/plugins/data_sampler.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD
