Repository NVIDIA-NeMo/NeMo, pull requests merged in 2025-05, with the labels that each got.

#13307 Avoid the need to specify optional attributes for lhotse/nemo reader functions
  nemo/collections/common/data/lhotse/cutset.py
Labels: common

#13236 ci: Activate selective-triggering
  .github/scripts/__init__.py
  .github/scripts/components_to_run.py
  .github/scripts/nemo_dependencies.py
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#13023 Update LLaVA-NeXT's parallelism arguments and embedding_sequence_parallel
  nemo/collections/vlm/llava_next/model/base.py
  scripts/vlm/llava_next_finetune.py
  scripts/vlm/llava_next_generation.py
  scripts/vlm/llava_next_pretrain.py
Labels: Run CICD

#13374 ci: Fix selective-triggering for non-PR events
  .github/workflows/cicd-main.yml
Labels: CI

#13244 Fix skipme handling
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/data/lhotse/nemo_adapters.py
  nemo/collections/common/data/lhotse/sampling.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: common, skip-linting, r2.3.0

#13375 ci: Revert `no-concurrency-group-on-main`
  .github/workflows/cicd-main.yml
Labels: CI

#13370 ci: Improve no-fail-fast mechanism
  .github/scripts/components_to_run.py
  .github/workflows/cicd-main.yml
Labels: CI, no-fail-fast

#13379 Ko3n1g/ci/fix nightly runs
  .github/workflows/cicd-main-testcopy.yml
Labels: CI

#13380 Ko3n1g/ci/fix nightly runs
  .github/workflows/cicd-main-testcopy.yml
  .github/workflows/cicd-main.yml
Labels: CI

#13381 Ko3n1g/ci/fix nightly runs
  .github/workflows/cicd-main-testcopy.yml
  .github/workflows/cicd-main.yml
Labels: CI

#13267 Allow fp8 param gather when using FSDP
  scripts/performance/utils.py
Labels: Run CICD, r2.3.0

#13382 Ko3n1g/ci/fix nightly runs
  .github/workflows/cicd-main-testcopy.yml
  .github/workflows/cicd-main.yml
Labels: CI

#12952 Add llama4 training recipe
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/llama4_utils.py
  nemo/collections/llm/recipes/llama4_e128.py
  nemo/collections/llm/recipes/llama4_e16.py
  nemo/collections/vlm/llama4/model/base.py
  nemo/collections/vlm/llama4/model/vision.py
  nemo/collections/vlm/neva/model/base.py
  nemo/collections/vlm/recipes/llama4_omni_e128.py
  nemo/collections/vlm/recipes/llama4_omni_e16.py
  nemo/lightning/pytorch/callbacks/flops_callback.py
  scripts/performance/llm/pretrain_llama4_e128.py
  scripts/performance/llm/pretrain_llama4_e16.py
  scripts/performance/recommended_model_configs/model_configs_b200.csv
  scripts/performance/recommended_model_configs/model_configs_gb200.csv
  scripts/performance/recommended_model_configs/model_configs_h100.csv
  scripts/performance/vlm/pretrain_vlm_llama4_e128.py
  scripts/performance/vlm/pretrain_vlm_llama4_e16.py
Labels: cherry-pick, r2.3.0

#13397 update table
  tutorials/llm/llama/README.rst
Labels: documentation

#13403 Ko3n1g/ci/no notification on cancel
  .github/workflows/cicd-main.yml
Labels: CI

#13386 Cherry pick `Add llama4 training recipe (12952)` into `r2.3.0`
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/llama4_utils.py
  nemo/collections/llm/recipes/llama4_e128.py
  nemo/collections/llm/recipes/llama4_e16.py
  nemo/collections/vlm/llama4/model/base.py
  nemo/collections/vlm/llama4/model/vision.py
  nemo/collections/vlm/neva/model/base.py
  nemo/collections/vlm/recipes/llama4_omni_e128.py
  nemo/collections/vlm/recipes/llama4_omni_e16.py
  nemo/lightning/pytorch/callbacks/flops_callback.py
  requirements/manifest.json
  scripts/performance/llm/pretrain_llama4_e128.py
  scripts/performance/llm/pretrain_llama4_e16.py
  scripts/performance/recommended_model_configs/model_configs_b200.csv
  scripts/performance/recommended_model_configs/model_configs_gb200.csv
  scripts/performance/recommended_model_configs/model_configs_h100.csv
  scripts/performance/vlm/pretrain_vlm_llama4_e128.py
  scripts/performance/vlm/pretrain_vlm_llama4_e16.py
Labels: cherry-pick, no-fail-fast

#13291 Handle boolean args for performance scripts and log received config
  scripts/performance/README.md
  scripts/performance/argument_parser.py
  scripts/performance/utils.py
Labels: Run CICD, r2.3.0

#13421 Revert "WebDataset URL refactoring"
  nemo/collections/asr/data/audio_to_label.py
  nemo/collections/asr/data/audio_to_text.py
  nemo/collections/asr/data/audio_to_text_dali.py
  nemo/collections/asr/parts/preprocessing/perturb.py
  nemo/collections/multimodal/speech_cv/data/video_to_text.py
  nemo/collections/multimodal/speech_llm/data/audio_text_dataset.py
  nemo/collections/speechlm/data/dataset/audio_text_dataset.py
  nemo/collections/tts/data/speechllm/t5_speechllm_tarred_dataset.py
  nemo/collections/tts/data/vocoder_dataset.py
  nemo/utils/__init__.py
  nemo/utils/data_utils.py
  tests/utils/test_utils.py
Labels: TTS, ASR, Multi Modal

#13110 new perf configs
  nemo/collections/llm/recipes/gpt3_175b.py
  nemo/collections/llm/recipes/llama31_405b.py
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/mixtral_8x22b_64k.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  nemo/collections/llm/recipes/nemotron4_15b.py
  nemo/collections/llm/recipes/nemotron4_340b.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  scripts/performance/utils.py
Labels: r2.3.0, RC4

#12899 HF-T5 exporter fixes + HF-AutoTokenizer fix
  nemo/collections/common/tokenizers/huggingface/auto_tokenizer.py
  nemo/collections/llm/t5/model/t5.py
Labels: common, Run CICD

#13429 tests: Disable flaky audio test
  tests/collections/audio/test_audio_models_predictive.py
Labels: audio

#13435 ci: Disable flaky audio test
  tests/collections/audio/test_audio_models_predictive.py
Labels: audio

#13295 Fix loss compute and reduction
  nemo/collections/llm/bert/loss.py
  nemo/collections/llm/bert/model/base.py
  nemo/collections/llm/bert/model/embedding.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/llama_embedding.py
  nemo/collections/llm/modelopt/distill/model.py
  nemo/collections/speechlm/models/speech_to_text_llm_model.py
  nemo/collections/vlm/mllama/model/base.py
  nemo/collections/vlm/qwen2vl/model/base.py
  nemo/lightning/megatron_parallel.py
  tests/collections/llm/bert/model/test_bert_base.py
  tests/collections/llm/bert/model/test_embedding.py
Labels: Run CICD

#13407 Add NCCL cfg interface to perf scripts
  scripts/performance/argument_parser.py
  scripts/performance/llm/finetune_deepseek_v3.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/finetune_llama3_8b.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_llama3_8b.py
  scripts/performance/llm/pretrain_mixtral_8x22b.py
  scripts/performance/llm/pretrain_mixtral_8x7b.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  scripts/performance/utils.py
Labels: Run CICD

#13430 ci: Success only if `Run CICD` label attached
  .github/workflows/cicd-main.yml
Labels: CI

#13404 ci: Add tests to selective triggering
  .github/scripts/nemo_dependencies.py
Labels: CI, Run CICD

#13391 Update flagged docs links
  docs/false_positives.json
  docs/links_needing_review.json
  docs/source/asr/api.rst
  docs/source/asr/asr_language_modeling_and_customization.rst
  docs/source/asr/configs.rst
  docs/source/asr/datasets.rst
  docs/source/asr/examples/kinyarwanda_asr.rst
  docs/source/asr/intro.rst
  docs/source/asr/models.rst
  docs/source/asr/results.rst
  docs/source/asr/speaker_diarization/data/diarization_results.csv
  docs/source/asr/speaker_diarization/results.rst
  docs/source/asr/speaker_recognition/configs.rst
  docs/source/asr/speaker_recognition/datasets.rst
  docs/source/asr/speech_classification/configs.rst
  docs/source/asr/speech_classification/datasets.rst
  docs/source/asr/speech_classification/models.rst
  docs/source/asr/speech_intent_slot/configs.rst
  docs/source/asr/speech_intent_slot/intro.rst
  docs/source/asr/speech_intent_slot/resources.rst
  docs/source/asr/ssl/configs.rst
  docs/source/asr/ssl/datasets.rst
  docs/source/asr/ssl/models.rst
  docs/source/asr/ssl/resources.rst
  docs/source/asr/ssl/results.rst
  docs/source/core/adapters/intro.rst
  docs/source/core/export.rst
  docs/source/tts/api.rst
  docs/source/tts/configs.rst
  docs/source/tts/data/datasets.csv
  docs/source/tts/datasets.rst
  docs/source/tts/g2p.rst
  nemo/collections/asr/parts/preprocessing/perturb.py
  nemo/collections/common/metrics/perplexity.py
  nemo/collections/common/tokenizers/huggingface/auto_tokenizer.py
Labels: TTS, ASR, common, skip-linting

#13440 ci: Remove jq
  .github/actions/test-template/action.yml
  .github/scripts/nemo_dependencies.py
Labels: CI

#13443 ci: Fix deps tree for tests
  .github/scripts/nemo_dependencies.py
Labels: CI

#13444 Ko3n1g/ci/fix dependency tree
  .github/scripts/nemo_dependencies.py
  .github/workflows/cicd-main.yml
Labels: CI

#13447 Ko3n1g/ci/fix dependency tree
  .github/scripts/nemo_dependencies.py
Labels: CI

#13448 Ko3n1g/ci/fix dependency tree
  .github/scripts/nemo_dependencies.py
Labels: CI

#13411 Adding additional unit tests for the deploy module
  tests/deploy/test_deployment_service.py
  tests/deploy/test_hf_deployable.py
  tests/deploy/test_query_multimodal.py
Labels: r2.3.0

#13410 Adding more export tests
  tests/export/multimodal/test_build.py
  tests/export/test_sentencepiece_tokenizer.py
  tests/export/test_tensorrt_lazy_compiler.py
  tests/export/test_tensorrt_llm.py
  tests/export/test_tensorrt_mm_exporter.py
  tests/export/test_vllm_hf_exporter.py
  tests/export/utils/test_exp_utils.py
  tests/export/utils/test_lora_converter.py
Labels: Run CICD, r2.3.0

#13439 [Audio] fix a flaky test (and also make some tests run faster)
  tests/collections/audio/test_audio_models_predictive.py
Labels: Run CICD, audio

#13460 Ko3n1g/ci/selective triggering 3
  .github/scripts/nemo_dependencies.py
Labels: CI, audio

#13461 ci: Disable broken neva tests
  .github/workflows/cicd-main-nemo2.yml
Labels: CI

#13362 fix speechlm data module
  nemo/collections/speechlm/data/audio_to_text_module.py
Labels: skip-docs, skip-linting

#10511 Add slice_with_offset and dry_run Support for Tar Dataset Creation; New Script for Partial Conversion
  scripts/speech_recognition/convert_to_tarred_audio_dataset.py
  scripts/speech_recognition/create_dali_tarred_dataset_index.py
  scripts/speech_recognition/partial_conversion_to_tarred_audio_dataset.py
Labels: Run CICD, skip-docs, skip-linting

#13462 ci: Enter queue only with passing linting
  .github/workflows/cicd-main.yml
Labels: CI

#13401 Adding tests for Schroedinger Bridge model
  tests/collections/audio/test_audio_models_schroedinger_bridge.py
Labels: Run CICD, audio

#13406 [Audio] tests for score-based and flow matching enhancement models
  tests/collections/audio/test_audio_models_flow_matching.py
  tests/collections/audio/test_audio_models_score_based.py
Labels: Run CICD, audio

#13243 Fix full te layer forward
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
Labels: NLP, Run CICD

#13201 Streaming Sortformer Diarizer: model and module code [PR 2]
  examples/speaker_tasks/diarization/neural_diarizer/e2e_diarize_speech.py
  nemo/collections/asr/metrics/der.py
  nemo/collections/asr/models/sortformer_diar_models.py
  nemo/collections/asr/modules/sortformer_modules.py
Labels: ASR, Speaker Tasks, Run CICD

#13012 Add CI test for local checkpointing
  .github/workflows/cicd-main-nemo2.yml
  nemo/collections/llm/recipes/log/default.py
  nemo/lightning/nemo_logger.py
  tests/collections/llm/test_local_ckpt.py
  tests/functional_tests/L2_NeMo_2_llama3_local_ckpt.sh
Labels: CI, Run CICD, r2.3.0

#13418 Use expandable cuda memory segmentation
  nemo/lightning/run/plugins.py
Labels: Run CICD

#13466 Fix llava tokenizer caused nan issue
  .github/workflows/cicd-main-nemo2.yml
  nemo/collections/vlm/neva/data/mock.py
  nemo/collections/vlm/neva/data/preloaded.py
  scripts/vlm/neva_finetune.py
  scripts/vlm/neva_pretrain.py
Labels: CI

#13445 [Docs] Fix incorrectly formatted reference tags
  docs/source/asr/asr_language_modeling_and_customization.rst
  docs/source/asr/configs.rst
  docs/source/asr/speaker_recognition/configs.rst
  docs/source/asr/speaker_recognition/datasets.rst
  docs/source/tts/checkpoints.rst
Labels: TTS, ASR

#13394 Remove cuda method from ModelPT
  docs/links_needing_review.json
  nemo/core/classes/modelPT.py
Labels: core, skip-linting

#13475 chore(🤖): Bump `NVIDIA/Megatron-LM` to `d580efc...` (2025-05-07)
  requirements/manifest.json
Labels: no-fail-fast

#12819 ci: Bump dependencies
  .github/workflows/cicd-main-automodel.yml
  .github/workflows/cicd-main-speech.yml
  .github/workflows/cicd-main-unit-tests.yml
  Dockerfile.ci
  Dockerfile.ci.export_deploy
  external/patches/torch_accelerator_144567_fix.patch
  external/patches/triton-lang_triton_6570_lazy_init.patch
  reinstall.sh
  requirements/manifest.json
  tests/lightning/pytorch/callbacks/test_jit_transform.py
Labels: CI, no-fail-fast, r2.3.0, RC3

#13160 set ignore_virtual to is_pipeline_first/last_stage given a swap of ig…
  examples/nlp/information_retrieval/megatron_gpt_embedding_generate.py
  examples/nlp/information_retrieval/megatron_gpt_reranker_generate.py
  examples/nlp/language_modeling/megatron_gpt_distillation.py
  examples/nlp/language_modeling/megatron_gpt_eval.py
  examples/nlp/language_modeling/megatron_mamba_eval.py
  examples/nlp/language_modeling/tuning/megatron_gpt_generate.py
  examples/nlp/language_modeling/tuning/megatron_t5_generate.py
  nemo/collections/diffusion/models/model.py
  nemo/collections/diffusion/sampler/edm/edm_pipeline.py
  nemo/collections/llm/bert/model/base.py
  nemo/collections/llm/bert/model/embedding.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/gpt/model/gemma2.py
  nemo/collections/llm/gpt/model/hyena.py
  nemo/collections/llm/gpt/model/llama_embedding.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_model.py
  nemo/collections/llm/gpt/model/ssm.py
  nemo/collections/llm/modelopt/distill/model.py
  nemo/collections/llm/modelopt/distill/utils.py
  nemo/collections/llm/t5/model/t5.py
  nemo/collections/multimodal/models/multimodal_llm/neva/neva_model.py
  nemo/collections/multimodal/models/vision_language_foundation/clip/megatron_clip_models.py
  nemo/collections/multimodal/models/vision_language_foundation/megatron_nsfw_clip_models.py
  nemo/collections/multimodal/speech_llm/models/modular_models.py
  nemo/collections/multimodal/speech_llm/models/modular_t5_models.py
  nemo/collections/multimodal/speech_llm/modules/common/audio_text_generation_utils.py
  nemo/collections/nlp/data/language_modeling/megatron/retro_dataset.py
  nemo/collections/nlp/models/language_modeling/megatron/bert/bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/models/language_modeling/megatron_lm_encoder_decoder_model.py
  nemo/collections/nlp/models/language_modeling/megatron_retro_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_adapter_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_prompt_learning_model.py
  nemo/collections/nlp/models/language_modeling/megatron_t5_sft_model.py
  nemo/collections/nlp/models/machine_translation/megatron_nmt_model.py
  nemo/collections/nlp/modules/common/megatron/build_model.py
  nemo/collections/nlp/modules/common/megatron/module.py
  nemo/collections/nlp/modules/common/text_generation_utils.py
  nemo/collections/nlp/parts/mixins/nlp_adapter_mixins.py
  nemo/collections/speechlm/models/speech_to_text_llm_model.py
  nemo/collections/speechlm/utils/text_generation/audio_text_generation_strategy.py
  nemo/collections/speechlm/utils/text_generation/audio_text_generation_utils.py
  nemo/collections/tts/models/speechllm/megatron_t5_speechllm_model.py
  nemo/collections/vision/models/megatron_vit_classification_models.py
  nemo/collections/vlm/llava_next/model/base.py
  nemo/collections/vlm/mllama/model/base.py
  nemo/collections/vlm/neva/model/base.py
  nemo/collections/vlm/qwen2vl/model/base.py
  nemo/lightning/megatron_parallel.py
  scripts/nlp_language_modeling/service_launch_scripts/start_retro_model_service.py
  tests/collections/llm/test_mnist_model_nemo2.py
  tests/collections/llm/test_mnist_model_nemo2_fsdp.py
Labels: TTS, NLP, Multi Modal, Run CICD

#13479 ci: Do not run any tests if no match is found
  .github/scripts/components_to_run.py
  .github/workflows/cicd-main.yml
Labels: CI

#13489 Ko3n1g/ci/selective triggering 4
  .github/workflows/cicd-main.yml
Labels: CI

#13487 Fix typo in the performance script
  scripts/performance/README.md
Labels: Run CICD

#13491 ci: Upload on schedule
  .github/workflows/cicd-main.yml
Labels: CI

#12218 Support customization of a few parameters in scripts/vlm/llava_next_pretrain
  scripts/vlm/llava_next_pretrain.py
Labels: Run CICD

#13452 Move libsox-fmt-all from Dockerfile.ci.export_deploy to Dockerfile.ci
  .github/workflows/cicd-main-speech.yml
  Dockerfile.ci
  Dockerfile.ci.export_deploy
  Dockerfile.speech
Labels: CI

#12986 added use-fast tokenizer argument
  scripts/nlp_language_modeling/preprocess_data_for_megatron.py
Labels: stale, Run CICD

#13493 ci: Run selective triggering on dockerfiles and dependencies
  .github/scripts/nemo_dependencies.py
Labels: CI

#13349 [automodel] fallback FP8 + LCE -> FP8 + CE
  .github/workflows/cicd-main-automodel.yml
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  tests/functional_tests/L2_HF_Transformer_PEFT_2gpu_FSDP2_fp8.sh
Labels: CI

#13502 Cherry pick `Update changelog for `r2.3.0` (13501)` into `r2.3.0`
  CHANGELOG.md
Labels: cherry-pick

#13468 Updating the long context performance number for B200
  docs/source/performance/performance_long_sequence.md
Labels: Run CICD

#13508 Cherry pick `Use explicitly cached canary-1b-flash in CI tests (13237)` into `r2.3.0`
  tests/functional_tests/L2_Speech_Transcription_Canary_Transcribe_Audio_Dir.sh
  tests/functional_tests/L2_Speech_Transcription_Canary_Transcribe_Full_Manifest.sh
  tests/functional_tests/L2_Speech_Transcription_Canary_Transcribe_With_Prompt.sh
Labels: cherry-pick

#13263 Cherry pick `build: `MAMBA_TAG=2e16fc3062cdcd4ebef27a9aa4442676e1c7edf4` (13173)` into `r2.3.0`
  reinstall.sh
Labels: cherry-pick, Run CICD

#13308 Cherry pick `[automodel] bump liger-kernel to 0.5.8 + fallback (13260)` into `r2.3.0`
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  reinstall.sh
Labels: cherry-pick, Run CICD

#13336 Cherry-pick `Add recipe and ci scripts for qwen2vl` to `r2.3.0`
  .github/workflows/cicd-main.yml
  nemo/collections/vlm/recipes/qwen2vl_2b.py
  tests/functional_tests/L2_NeMo_2_QWEN2VL_ENERGON_FINETUNE_TP2.sh
  tests/functional_tests/L2_NeMo_2_QWEN2VL_MOCK_FINETUNE_TP2.sh
  tests/functional_tests/L2_NeMo_2_QWEN2VL_PRELOADED_FINETUNE_TP2.sh
Labels: cherry-pick, CI

#13376 Cherry pick `Fix skipme handling (13244)` into `r2.3.0`
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/data/lhotse/nemo_adapters.py
  nemo/collections/common/data/lhotse/sampling.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: cherry-pick, common

#13383 Cherry pick `Allow fp8 param gather when using FSDP (13267)` into `r2.3.0`
  scripts/performance/utils.py
Labels: cherry-pick, Run CICD

#13416 Cherry pick `Handle boolean args for performance scripts and log received config (13291)` into `r2.3.0`
  scripts/performance/README.md
  scripts/performance/argument_parser.py
  scripts/performance/utils.py
Labels: cherry-pick, Run CICD

#13431 Cherry pick `new perf configs (13110)` into `r2.3.0`
  nemo/collections/llm/recipes/gpt3_175b.py
  nemo/collections/llm/recipes/llama31_405b.py
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/mixtral_8x22b_64k.py
  nemo/collections/llm/recipes/mixtral_8x7b.py
  nemo/collections/llm/recipes/nemotron4_15b.py
  nemo/collections/llm/recipes/nemotron4_340b.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  scripts/performance/utils.py
Labels: cherry-pick, Run CICD

#13450 Cherry pick `Adding more export tests (13410)` into `r2.3.0`
  tests/export/multimodal/test_build.py
  tests/export/test_sentencepiece_tokenizer.py
  tests/export/test_tensorrt_lazy_compiler.py
  tests/export/test_tensorrt_llm.py
  tests/export/test_tensorrt_mm_exporter.py
  tests/export/test_vllm_hf_exporter.py
  tests/export/utils/test_exp_utils.py
  tests/export/utils/test_lora_converter.py
Labels: cherry-pick, Run CICD

#13510 chore(🤖): Bump `NVIDIA/Megatron-LM` to `bcbede5...` (2025-05-09)
  requirements/manifest.json
Labels: no-fail-fast

#13513 Improve error message when HF checkpoint cannot be loaded
  nemo/lightning/io/hf.py
Labels: Run CICD, skip-linting

#13065 Refactor Distillation PP support to use new MCore API
  nemo/collections/llm/modelopt/distill/model.py
  nemo/collections/llm/modelopt/distill/utils.py
  nemo/collections/llm/modelopt/recipes/distillation_recipe.py
  nemo/lightning/megatron_parallel.py
  scripts/llm/gpt_distillation.py
Labels: feature

#13413 add memory profile interface to perf scripts
  scripts/performance/argument_parser.py
  scripts/performance/llm/finetune_deepseek_v3.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/finetune_llama3_8b.py
  scripts/performance/llm/mlperf_lora_llama2_70b.py
  scripts/performance/llm/pretrain_automodel_llama3_8b.py
  scripts/performance/llm/pretrain_deepseek_v3.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_llama3_8b.py
  scripts/performance/llm/pretrain_llama4_e128.py
  scripts/performance/llm/pretrain_llama4_e16.py
  scripts/performance/llm/pretrain_mixtral_8x22b.py
  scripts/performance/llm/pretrain_mixtral_8x7b.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
Labels: Run CICD

#13522 Add fp8_param argument back to mixed precision plugin for backward compatibility
  nemo/lightning/fabric/plugins.py
  nemo/lightning/pytorch/plugins/mixed_precision.py
Labels: Run CICD

#13534 chore(🤖): Bump `NVIDIA/Megatron-LM` to `fa5eec6...` (2025-05-12)
  requirements/manifest.json
Labels: no-fail-fast

#13531 chore(🤖): Bump `NVIDIA/Megatron-LM` to `16aeade...` (2025-05-11)
  requirements/manifest.json
Labels: no-fail-fast

#13541 ci: Update success message
  .github/workflows/cicd-main.yml
Labels: CI

#13470 [Audio] TransformerUNet: predictive model support added
  nemo/collections/audio/parts/submodules/transformerunet.py
  tests/collections/audio/test_audio_parts_submodules_backbones.py
Labels: Run CICD, audio

#13330 Test Hyena mixer CP equivalency
  .github/workflows/cicd-main-nemo2.yml
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_mixer.py
  tests/collections/llm/gpt/model/test_hyena_mixer_cp.py
  tests/functional_tests/L2_NeMo_2_Hyena_Mixer_Test.sh
Labels: CI, Run CICD

#12747 feat: support exp manager checkpointing with object store via Multi-Storage Client
  nemo/core/classes/modelPT.py
  nemo/core/connectors/save_restore_connector.py
  nemo/utils/callbacks/nemo_model_checkpoint.py
  nemo/utils/data_utils.py
  nemo/utils/exp_manager.py
Labels: core, Run CICD, skip-linting

#13469 ci: Remove optional marker
  .github/workflows/cicd-main-automodel.yml
  .github/workflows/cicd-main-export-deploy.yml
  .github/workflows/cicd-main-nemo2.yml
  .github/workflows/cicd-main-speech.yml
  tests/functional_tests/L2_NeMo_2_EVAL.sh
Labels: CI

#13500 Tdt buffered inference fix
  examples/asr/asr_chunked_inference/rnnt/speech_to_text_buffered_infer_rnnt.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/utils/streaming_utils.py
Labels: ASR, Run CICD, skip-linting

#13544 fix broken links
  docs/false_positives.json
  docs/links_needing_review.json
  docs/source/features/mixed_precision.rst
  docs/source/features/optimizations/activation_recomputation.rst
  docs/source/features/optimizations/attention_optimizations.rst
  docs/source/features/optimizations/communication_overlap.rst
  docs/source/features/parallelisms.rst
  docs/source/nlp/glue_benchmark.rst
  docs/source/nlp/language_modeling.rst
  docs/source/nlp/machine_translation/machine_translation.rst
  docs/source/nlp/megatron.rst
  docs/source/nlp/punctuation_and_capitalization_lexical_audio.rst
  docs/source/nlp/spellchecking_asr_customization.rst
Labels: documentation, NLP

#13550 chore(🤖): Bump `NVIDIA/Megatron-LM` to `6d628ec...` (2025-05-13)
  requirements/manifest.json
Labels: no-fail-fast

#13555 Bugfix in load_state_dict()
  nemo/collections/tts/models/magpietts.py
Labels: TTS

#13359 Update extra_requires and requirements
  .github/CODEOWNERS
  .github/workflows/cicd-main-automodel.yml
  .github/workflows/cicd-main-export-deploy.yml
  .github/workflows/cicd-main-nemo2.yml
  .github/workflows/cicd-main-speech.yml
  .github/workflows/cicd-main-testcopy.yml
  .github/workflows/cicd-main.yml
  .github/workflows/install-test.yml
  .github/workflows/release-freeze.yml
  .github/workflows/update-buildcache.yml
  README.md
  docker/Dockerfile.ci
  docker/Dockerfile.ci.export_deploy
  docker/Dockerfile.speech
  docker/common/install_dep.sh
  docker/common/install_nemo.sh
  requirements/requirements.txt
  requirements/requirements_run.txt
  setup.py
Labels: CI

#13549 chore(🤖): Bump `NVIDIA/Megatron-LM` to `a3609ee...` (2025-05-13)
  requirements/manifest.json
Labels: no-fail-fast

#13309 [audio] Improve test coverage for audio losses
  tests/collections/audio/test_audio_losses.py
Labels: Run CICD, audio

#13176 Add optional --profiler flag to test PytorchProfilerCallback with trace checks
  .github/workflows/cicd-main-nemo2.yml
  nemo/lightning/pytorch/callbacks/pytorch_profiler.py
  tests/collections/llm/llama3_pretraining.py
  tests/functional_tests/L2_NeMo_2_llama3_pytorch_profiler.sh
Labels: CI, Run CICD

#13398 Add Qwen2VL export_ckpt
  nemo/collections/vlm/qwen2vl/model/qwen2vl.py
Labels: Run CICD

#13483 deepseek finetuning callback error change
  scripts/performance/llm/finetune_deepseek_v3.py
Labels: Run CICD

#13570 chore(🤖): Bump `NVIDIA/Megatron-LM` to `a48a42f...` (2025-05-14)
  requirements/manifest.json
Labels: no-fail-fast

#13569 chore(🤖): Bump `NVIDIA/Megatron-LM` to `d6eb60b...` (2025-05-14)
  requirements/manifest.json
Labels: Run CICD, no-fail-fast

#13577 ci(fix): Add `__init__` to selective-triggering
  .github/scripts/nemo_dependencies.py
  tests/collections/llm/gpt/model/test_llama_nemotron.py
Labels: CI, Run CICD

#13273 SFT Script with HuggingFace chat template support
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/data/chat.py
  nemo/collections/llm/gpt/data/core.py
  nemo/collections/llm/gpt/data/utils.py
  nemo/collections/llm/recipes/finetune_default.py
  nemo/collections/nlp/modules/common/tokenizer_utils.py
  scripts/llm/gpt_distillation.py
  scripts/llm/gpt_train.py
  tests/functional_tests/L2_NeMo_2_Distill_Llama3_TP1PP2.sh
Labels: NLP

#13346 Add MLlama export_ckpt
  nemo/collections/vlm/mllama/model/mllama.py
Labels: Run CICD

#13540 Fix transcribe when nbest hypotheses are returned
  nemo/collections/asr/parts/mixins/transcription.py
  nemo/collections/asr/parts/submodules/multitask_beam_decoding.py
  nemo/collections/asr/parts/utils/timestamp_utils.py
  tests/collections/asr/mixins/test_transcription.py
Labels: ASR

#13591 chore(🤖): Bump `NVIDIA/Megatron-LM` to `435bf8d...` (2025-05-15)
  requirements/manifest.json
Labels: no-fail-fast

#13592 chore(🤖): Bump `NVIDIA/Megatron-LM` to `8416bff...` (2025-05-15)
  requirements/manifest.json
Labels: no-fail-fast

#13563 Add nlp import checks
  .github/workflows/install-test.yml
  nemo/collections/nlp/models/language_modeling/megatron/bert/bert_spec.py
  nemo/collections/nlp/models/language_modeling/megatron_bert_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/modules/common/hyena/hyena.py
  nemo/collections/nlp/modules/common/hyena/hyena_spec.py
  tests/core_ptl/check_imports.py
Labels: NLP, CI

#13602 [automodel] fix --mbs/gbs dtype and chat-template
  examples/llm/peft/automodel.py
  examples/llm/sft/automodel.py
  scripts/vlm/automodel.py
Labels: r2.3.0

#13606 ci: Optional speech tests
  .github/workflows/cicd-main-speech.yml
Labels: CI

#13559 Cherry pick `[automodel] add FirstRankPerNode (13373)` into `r2.3.0`
  examples/llm/peft/automodel.py
  examples/llm/sft/automodel.py
  nemo/automodel/dist_utils.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/vlm/hf/model/hf_auto_model_for_image_text_to_text.py
  scripts/vlm/automodel.py
Labels: cherry-pick

#13473 [Automodel] Fix CP device_mesh issue, use PTL distsampler
  examples/llm/sft/automodel.py
  nemo/collections/llm/gpt/data/hf_dataset.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/recipes/hf_auto_model_for_causal_lm.py
  nemo/lightning/pytorch/strategies/fsdp2_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
Labels: r2.3.0

#13560 Cherry pick `[automodel] deprecate global_batch_size dataset argument (13137)` into `r2.3.0`
  examples/llm/peft/automodel.py
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/data/hf_dataset.py
  tests/collections/llm/gpt/data/test_hf_datamodule.py
Labels: cherry-pick

#13561 Cherry-pick `[automodel] fallback FP8 + LCE -> FP8 + CE` (#13349) into `r2.3.0`
  .github/workflows/cicd-main.yml
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  tests/functional_tests/L2_HF_Transformer_PEFT_2gpu_FSDP2_fp8.sh
Labels: cherry-pick, CI

#13601 Cherry pick `[automodel] add find_unused_parameters=True for DDP (13366)` into `r2.3.0`
  examples/llm/peft/automodel.py
  examples/llm/sft/automodel.py
Labels: cherry-pick, Run CICD

#13472 Cherry pick `Add CI test for local checkpointing (#13012)` into `r2.3.0`
  .github/workflows/cicd-main.yml
  nemo/collections/llm/recipes/log/default.py
  nemo/lightning/nemo_logger.py
  tests/collections/llm/test_local_ckpt.py
  tests/functional_tests/L2_NeMo_2_llama3_local_ckpt.sh
Labels: cherry-pick, CI

#13069 Intermediate-tensor distillation support
  nemo/collections/llm/api.py
  nemo/collections/llm/modelopt/distill/__init__.py
  nemo/collections/llm/modelopt/distill/loss.py
  nemo/collections/llm/modelopt/distill/model.py
  nemo/collections/llm/modelopt/distill/utils.py
  nemo/collections/llm/modelopt/recipes/distillation_recipe.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  scripts/llm/gpt_train.py
  tests/functional_tests/L2_NeMo_2_Distill_Llama3_TP1PP2.sh
Labels: feature

#13608 Fix ptl import in notebooks
  tutorials/llm/distill_deepseek_r1/qwen2_distill_nemo.ipynb
  tutorials/llm/llama/nemo2-sft-peft/nemo2-peft.ipynb
  tutorials/llm/llama/nemo2-sft-peft/nemo2-sft.ipynb
  tutorials/llm/llama/slimpajama/pretraining.ipynb
Labels: Run CICD

#13578 [automodel] dist.abort -> dist.destroy_process_group
  nemo/automodel/dist_utils.py
  tests/automodel/_dist_utils.py
Labels: Run CICD

#13633 Set ASR test to be optional
  .github/workflows/cicd-main-speech.yml
Labels: CI

#13618 Fix image_processor config in Energon path
  nemo/collections/vlm/llava_next/data/vqa_sample_encoder.py
  nemo/collections/vlm/mllama/data/sample_encoder.py
Labels: Run CICD

#13536 Add Gemma3 VL model
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/gemma3.py
  nemo/collections/llm/modelopt/quantization/quantizer.py
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/gemma3_1b.py
  nemo/collections/vlm/__init__.py
  nemo/collections/vlm/gemma3vl/__init__.py
  nemo/collections/vlm/gemma3vl/data/__init__.py
  nemo/collections/vlm/gemma3vl/data/mock.py
  nemo/collections/vlm/gemma3vl/model/__init__.py
  nemo/collections/vlm/gemma3vl/model/base.py
  nemo/collections/vlm/gemma3vl/model/gemma3vl.py
  nemo/collections/vlm/gemma3vl/model/vision.py
  nemo/collections/vlm/hf/data/automodel_datasets.py
  scripts/llm/gemma3_generate.py
  scripts/llm/gemma3_pretrain.py
  scripts/vlm/gemma3vl_finetune.py
  scripts/vlm/gemma3vl_generate.py
Labels: Run CICD

#13644 Set L2_NeMo_2_EVAL as optional
  .github/workflows/cicd-main-export-deploy.yml
Labels: CI

#13605 Update install to use pip install
  .github/workflows/install-test.yml
  README.md
  docker/Dockerfile.ci
  docker/Dockerfile.ci.export_deploy
  docker/common/install_dep.sh
  docker/common/install_nemo.sh
Labels: CI

#13649 [Llama4] Fix the missing args in the recipe
  scripts/performance/llm/pretrain_llama4_e128.py
  scripts/performance/llm/pretrain_llama4_e16.py
  scripts/performance/vlm/pretrain_vlm_llama4_e128.py
  scripts/performance/vlm/pretrain_vlm_llama4_e16.py
Labels: Run CICD

#13648 [Audio] TransformerUNet: predictive model tests added
  tests/collections/audio/test_audio_models_predictive.py
Labels: Run CICD, audio

#13614 Magpie yaml updates for LT and gradient clipping
  examples/tts/conf/magpietts/magpietts_dc_en.yaml
  examples/tts/conf/magpietts/magpietts_en.yaml
  examples/tts/conf/magpietts/magpietts_inference_en.yaml
  examples/tts/conf/magpietts/magpietts_inference_multilingual_v1.yaml
  examples/tts/conf/magpietts/magpietts_lhotse_dc_en.yaml
  examples/tts/conf/magpietts/magpietts_multilingual_v1.yaml
Labels: TTS

#13674 Enabling chunked inference for AED models in asr_evaluator
  tools/asr_evaluator/utils.py
Labels: audio

#13497 ci: Enable codecov checks
  .coveragerc
  codecov.yml
Labels: skip-docs, skip-linting

#13684 ci: Add `init-file-checker`
  .github/workflows/code-init-file-checker.yml
  nemo/collections/llm/tools/__init__.py
  nemo/collections/llm/tools/auto_configurator/core/__init__.py
  nemo/collections/multimodal/modules/stable_diffusion/schedulers/__init__.py
  nemo/collections/multimodal/speech_cv/parts/preprocessing/__init__.py
  nemo/collections/vlm/data/__init__.py
  nemo/collections/vlm/hf/__init__.py
  nemo/collections/vlm/hf/data/__init__.py
  nemo/collections/vlm/hf/model/__init__.py
Labels: CI, Multi Modal

#13521 Add use_sharp and use user buffer registration args in perf scripts
  scripts/performance/README.md
  scripts/performance/argument_parser.py
  scripts/performance/llm/finetune_deepseek_v3.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/finetune_llama3_8b.py
  scripts/performance/llm/mlperf_lora_llama2_70b.py
  scripts/performance/llm/pretrain_automodel_llama3_8b.py
  scripts/performance/llm/pretrain_deepseek_v3.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_llama3_8b.py
  scripts/performance/llm/pretrain_llama4_e128.py
  scripts/performance/llm/pretrain_llama4_e16.py
  scripts/performance/llm/pretrain_mixtral_8x22b.py
  scripts/performance/llm/pretrain_mixtral_8x7b.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  scripts/performance/utils.py
Labels: Run CICD

#13706 chore(🤖): Bump `NVIDIA/Megatron-LM` to `a845aa7...` (2025-05-23)
  requirements/manifest.json
Labels: no-fail-fast

#13725 Cherry pick `Update changelog for `r2.3.1` (13719)` into `r2.3.0`
  CHANGELOG.md
Labels: cherry-pick

#13729 chore(🤖): Bump `NVIDIA/Megatron-LM` to `7094270...` (2025-05-26)
  requirements/manifest.json
Labels: no-fail-fast

#13728 chore(🤖): Bump `NVIDIA/Megatron-LM` to `1e05700...` (2025-05-26)
  requirements/manifest.json
Labels: no-fail-fast

#13740 chore(🤖): Bump `NVIDIA/Megatron-LM` to `42ccbb8...` (2025-05-27)
  requirements/manifest.json
Labels: no-fail-fast

#13682 Add CI/CD to Magpie dev branch
  .github/workflows/cicd-main.yml
  nemo/collections/tts/models/magpietts_preference_optimization.py
  scripts/magpietts/codec_extraction.py
  scripts/magpietts/eval_squimmos.py
  scripts/magpietts/evalset_config.py
  scripts/magpietts/evaluate_generated_audio.py
  scripts/magpietts/infer_and_evaluate.py
  scripts/tts_dataset_to_lhotse/create_shars.py
  tests/collections/tts/modules/test_audio_codec_modules.py
  tests/functional_tests/L2_TTS_Fast_dev_runs_Magpietts_config1.sh
Labels: TTS, CI, Run CICD

#13511 remove blocks unused to increase coverage
  nemo/collections/vlm/qwen2vl/data/api.py
  nemo/collections/vlm/qwen2vl/data/conversation.py
  nemo/collections/vlm/qwen2vl/model/qwen2vl.py
  requirements/requirements_nlp.txt
  scripts/vlm/convert_to_qwen2vl_wds.py
  scripts/vlm/qwen2vl_finetune.py
Labels: Run CICD

#13760 chore(🤖): Bump `NVIDIA/Megatron-LM` to `27c33cb...` (2025-05-29)
  requirements/manifest.json
Labels: no-fail-fast

#13367 feat - GPTSFTChatDataset alignment with OpenAI Messages, compatibility with packed sequences
  nemo/collections/common/tokenizers/huggingface/auto_tokenizer.py
  nemo/collections/common/tokenizers/sentencepiece_tokenizer.py
  nemo/collections/llm/gpt/data/core.py
  nemo/collections/llm/gpt/data/packed_sequence.py
  nemo/collections/llm/gpt/data/utils.py
  nemo/collections/llm/gpt/model/llama_nemotron.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_sft_model.py
  nemo/collections/nlp/modules/common/tokenizer_utils.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/export/onnx_llm_exporter.py
  nemo/utils/loggers/mlflow_logger.py
  nemo/utils/sequence_packing_utils.py
  tests/collections/llm/gpt/data/test_chat_dataset.py
  tests/collections/llm/gpt/data/test_core.py
  tests/collections/llm/gpt/data/test_packed_sequence.py
  tests/evaluation/eval_unittest.py
Labels: NLP, common

#13768 Disable local gradient checker in performance scripts
  scripts/performance/utils.py
Labels: Run CICD

#13626 Refactor MSC integration in exp manager
  nemo/core/classes/modelPT.py
  nemo/core/connectors/save_restore_connector.py
  nemo/utils/callbacks/nemo_model_checkpoint.py
  nemo/utils/exp_manager.py
  nemo/utils/msc_utils.py
Labels: core, Run CICD

#13565 Fix resume with MegatronPretrainingBatchSampler
  nemo/collections/nlp/data/language_modeling/megatron/megatron_batch_samplers.py
Labels: NLP, skip-linting

#13791 Revert "decompressing joblib file before checking it (#13732)"
  nemo/collections/asr/models/confidence_ensemble.py
Labels: ASR
