Repository NVIDIA-NeMo/NeMo, pull requests merged in 2025-06, with the labels that each got.

#13802 ci: make_request in approval test queue appends next url for status checks only
  .github/workflows/cicd-approve-test-queue.yml
Labels: CI

#13794 chore(🤖): Bump `NVIDIA/Megatron-LM` to `0a438ed...` (2025-06-01)
  requirements/manifest.json
Labels: no-fail-fast

#13353 Punctuation Marks in Timestamps
  nemo/collections/asr/parts/submodules/ctc_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  tests/collections/asr/decoding/test_ctc_decoding.py
  tests/collections/asr/decoding/test_rnnt_decoding.py
  tests/collections/asr/decoding/test_timestamps.py
Labels: ASR

#13781 fix: After mcore bump
  .github/workflows/cicd-main-nemo2.yml
  requirements/requirements_deploy.txt
  requirements/requirements_nlp.txt
  requirements/requirements_vllm.txt
Labels: CI, Run CICD

#13512 [NeMo 2.0] Remove the restriction of load_model_state_dict for cfsdp
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: Run CICD, audio

#13776 Add option to construct Llama model with Transformer Engine op fuser
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/llama.py
Labels: Run CICD

#13647 [Evaluation] Add support for simple-evals and tasks that require logprobs
  .github/workflows/cicd-main-export-deploy.yml
  docs/source/evaluation/evaluation-doc.rst
  nemo/collections/llm/api.py
  nemo/collections/llm/evaluation/api.py
  nemo/collections/llm/evaluation/base.py
  nemo/deploy/nlp/megatronllm_deployable.py
  nemo/deploy/nlp/query_llm.py
  nemo/deploy/service/fastapi_interface_to_pytriton.py
  scripts/deploy/nlp/deploy_in_fw_oai_server_eval.py
  tests/deploy/test_deployment_service.py
  tests/deploy/test_megatronllm_deployable.py
  tests/evaluation/eval_unittest.py
  tests/evaluation/test_evaluation.py
  tests/functional_tests/L2_NeMo_2_EVAL_arcc.sh
  tests/functional_tests/L2_NeMo_2_EVAL_gsm8k.sh
  tutorials/llm/evaluation/README.md
  tutorials/llm/evaluation/mmlu.ipynb
  tutorials/llm/evaluation/simple-evals.ipynb
  tutorials/llm/evaluation/wikitext.ipynb
Labels: CI, Run CICD

#12767 Adding more doc-strings to megatron_parallel.py
  nemo/lightning/megatron_parallel.py
Labels: documentation, stale

#13823 chore(🤖): Bump `NVIDIA/Megatron-LM` to `7711014...` (2025-06-04)
  requirements/manifest.json
Labels: no-fail-fast

#13789 [Build] Bump bitsandbytes dependency to 0.45.5 (ubuntu 22.04 compatibility)
  requirements/requirements_automodel.txt
Labels: Run CICD

#13767 [Llama4] Enable VLM Dec cudagraph
  nemo/collections/vlm/llama4/model/base.py
Labels: Run CICD

#13805 Support MSC URL in LLM checkpointing
  nemo/lightning/ckpt_utils.py
  nemo/lightning/io/pl.py
  nemo/lightning/pytorch/callbacks/model_checkpoint.py
  nemo/lightning/resume.py
  nemo/utils/msc_utils.py
  requirements/requirements_nlp.txt
  tests/lightning/test_ckpt_utils.py
  tests/lightning/test_resume.py
Labels: Run CICD

#13754 additional metrics
  .github/workflows/cicd-main-nemo2.yml
  examples/llm/auto_configurator/auto_config.py
  nemo/lightning/pytorch/callbacks/__init__.py
  nemo/lightning/pytorch/callbacks/flops_callback.py
  nemo/lightning/pytorch/callbacks/memory_callback.py
  nemo/lightning/pytorch/callbacks/optimizer_monitor.py
  nemo/lightning/pytorch/callbacks/runtime_estimator.py
  nemo/lightning/pytorch/callbacks/speed_monitor.py
  tests/functional_tests/L2_NeMo_2_Auto_Configurator_callbacks.sh
  tests/lightning/pytorch/callbacks/test_flops_callback.py
  tests/lightning/pytorch/callbacks/test_runtime_estimator.py
  tests/lightning/pytorch/callbacks/test_speed_monitor.py
Labels: CI

#13853 [Tutorial] Train your own reasoning model in 48 hours on a single GPU
  tutorials/llm/reasoning/README.md
  tutorials/llm/reasoning/Reasoning-SFT.ipynb
  tutorials/llm/reasoning/images/loss-plot-full-finetuning.png
  tutorials/llm/reasoning/images/loss-plot-lora.png
Labels: Run CICD

#13857 Fix Magpie TTS CI
  .github/workflows/_build_container.yml
  .github/workflows/cicd-main.yml
  .github/workflows/copyright-check.yml
Labels: Run CICD

#13621 Enabled C2C-PCie bridge through NCCL
  scripts/performance/utils.py
Labels: Run CICD

#13528 Add NemotronH Performance Script
  nemo/lightning/pytorch/callbacks/flops_callback.py
  nemo/utils/flops_formulas.py
  scripts/performance/llm/pretrain_nemotronh_47b.py
  scripts/performance/llm/pretrain_nemotronh_56b.py
  scripts/performance/llm/pretrain_nemotronh_8b.py
  scripts/performance/recommended_model_configs/model_configs_b200.csv
  scripts/performance/recommended_model_configs/model_configs_gb200.csv
  scripts/performance/recommended_model_configs/model_configs_h100.csv
  scripts/performance/utils.py
  tests/automodel/loss/test_chunked_ce.py
Labels: Run CICD

#13518 Hyena SE/MR B2B Kernel integration
  nemo/collections/llm/gpt/model/hyena.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_config.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_mixer.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_utils.py
  tests/collections/llm/gpt/model/test_hyena_mixer.py
  tests/collections/llm/gpt/model/test_hyena_mixer_cp.py
  tests/collections/llm/gpt/model/test_hyena_mixer_kernel.py
  tests/collections/llm/gpt/model/test_hyena_utils.py
Labels: Run CICD

#13337 add CTC batched beam search
  nemo/collections/asr/parts/submodules/ctc_batched_beam_decoding.py
  nemo/collections/asr/parts/submodules/ctc_beam_decoding.py
  nemo/collections/asr/parts/submodules/ctc_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_beam_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_maes_batched_computer.py
  nemo/collections/asr/parts/submodules/rnnt_malsd_batched_computer.py
  nemo/collections/asr/parts/submodules/tdt_beam_decoding.py
  nemo/collections/asr/parts/submodules/tdt_malsd_batched_computer.py
  nemo/collections/asr/parts/utils/batched_beam_decoding_utils.py
  scripts/asr_language_modeling/ngram_lm/eval_beamsearch_ngram_ctc.py
  tests/collections/asr/decoding/test_batched_beam_decoding.py
  tests/collections/asr/decoding/test_batched_beam_hyps.py
Labels: ASR

#9106 New streaming RNN-T and TDT inference
  examples/asr/asr_cache_aware_streaming/speech_to_text_cache_aware_streaming_infer.py
  examples/asr/asr_chunked_inference/rnnt/speech_to_text_buffered_infer_rnnt.py
  examples/asr/asr_chunked_inference/rnnt/speech_to_text_streaming_infer_rnnt.py
  nemo/collections/asr/modules/rnnt.py
  nemo/collections/asr/modules/rnnt_abstract.py
  nemo/collections/asr/parts/preprocessing/features.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/transducer_decoding/__init__.py
  nemo/collections/asr/parts/submodules/transducer_decoding/label_looping_base.py
  nemo/collections/asr/parts/submodules/transducer_decoding/rnnt_label_looping.py
  nemo/collections/asr/parts/submodules/transducer_decoding/tdt_label_looping.py
  nemo/collections/asr/parts/utils/rnnt_utils.py
  nemo/collections/asr/parts/utils/streaming_utils.py
  tests/collections/asr/decoding/conftest.py
  tests/collections/asr/decoding/test_batched_beam_decoding.py
  tests/collections/asr/decoding/test_batched_hyps_and_alignments.py
  tests/collections/asr/decoding/test_cuda_graph_rnnt_greedy_decoding.py
  tests/collections/asr/decoding/test_streaming_buffer.py
  tests/collections/asr/decoding/test_streaming_decoding.py
  tests/collections/asr/decoding/utils.py
Labels: ASR

#12477 AVLM NeMo 2.0
  .github/workflows/cicd-main-nemo2.yml
  README.md
  nemo/collections/avlm/__init__.py
  nemo/collections/avlm/data/__init__.py
  nemo/collections/avlm/data/energon/__init__.py
  nemo/collections/avlm/data/energon/avlm_data_module.py
  nemo/collections/avlm/data/energon/avlm_sample_config.py
  nemo/collections/avlm/data/energon/avlm_task_encoder.py
  nemo/collections/avlm/data/energon/calculate_media_seq_length.py
  nemo/collections/avlm/data/mock.py
  nemo/collections/avlm/model/__init__.py
  nemo/collections/avlm/model/avlm.py
  nemo/collections/avlm/model/base.py
  nemo/collections/avlm/recipes/__init__.py
  nemo/collections/avlm/recipes/avlm_8b.py
  nemo/collections/multimodal/data/energon/__init__.py
  nemo/collections/multimodal/data/energon/config.py
  nemo/collections/speechlm/modules/asr_module.py
  nemo/collections/vlm/vision/base.py
  scripts/avlm/avlm_generate.py
  scripts/avlm/avlm_pretrain.py
  tests/collections/avlm/recipes/test_avlm_8b.py
  tests/collections/avlm/test_calculate_media_seq_length.py
  tests/collections/vlm/vision/test_base.py
  tests/functional_tests/L2_NeMo_2_AVLM_ENERGON_CP2_TRAIN.sh
  tests/functional_tests/L2_NeMo_2_AVLM_ENERGON_TRAIN.sh
  tests/functional_tests/L2_NeMo_2_AVLM_MOCK_TRAINING.sh
Labels: Multi Modal

#13894 Clean up streaming ASR script and tests
  examples/asr/asr_chunked_inference/rnnt/speech_to_text_streaming_infer_rnnt.py
  examples/asr/transcribe_speech.py
  nemo/collections/asr/parts/utils/manifest_utils.py
  nemo/collections/asr/parts/utils/streaming_utils.py
  tests/collections/asr/decoding/conftest.py
  tests/collections/asr/decoding/test_batched_beam_hyps.py
  tests/collections/asr/decoding/test_batched_hyps_and_alignments.py
  tests/collections/asr/decoding/test_cuda_graph_rnnt_greedy_decoding.py
  tests/collections/asr/decoding/test_streaming_decoding.py
  tests/collections/asr/decoding/test_timestamps.py
  tests/collections/asr/decoding/utils.py
Labels: ASR

#13873 [Llama4] Fix Vp_stage to enable VP for VLM llama4
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/llama4_utils.py
  nemo/collections/vlm/llama4/model/base.py
  nemo/collections/vlm/llama4/model/vision.py
  scripts/performance/recommended_model_configs/model_configs_b200.csv
  scripts/performance/recommended_model_configs/model_configs_gb200.csv
  scripts/performance/vlm/pretrain_vlm_llama4_e128.py
  scripts/performance/vlm/pretrain_vlm_llama4_e16.py
Labels: Run CICD

#13820 Enable NVTX profiling in MCore
  nemo/lightning/pytorch/callbacks/nsys.py
Labels: Run CICD

#13917 add NGPU-LM fusion during CTC greedy
  nemo/collections/asr/parts/submodules/ctc_decoding.py
  nemo/collections/asr/parts/submodules/ctc_greedy_decoding.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  tests/collections/asr/decoding/test_ctc_decoding.py
Labels: ASR

#13938 Revert "Set TRANSFORMERS_OFFLINE=1 and HF_HUB_OFFLINE=1 in CI tests
  .github/actions/test-template/action.yml
Labels: CI

#13879 [magpietts][lhotse_v2] make model training recipe adapt to the latest v2 datasets.
  examples/tts/conf/magpietts/magpietts_lhotse_dc_en.yaml
  examples/tts/magpietts.py
  nemo/collections/common/data/lhotse/dataloader.py
  nemo/collections/common/data/lhotse/sampling.py
  nemo/collections/tts/data/text_to_speech_dataset_lhotse.py
  nemo/collections/tts/models/magpietts.py
Labels: TTS, common, Run CICD

#13934 Fix Loading Custom Quantization Config
  nemo/collections/llm/modelopt/quantization/quantizer.py
Labels: modelopt, r2.4.0

#13933 Rope asr aed ngpt
  nemo/collections/asr/models/rnnt_bpe_models.py
  nemo/collections/asr/modules/ngpt_encoder.py
Labels: ASR

#13941 add nmh HF conversion
  .github/workflows/cicd-main-nemo2.yml
  nemo/collections/llm/gpt/model/ssm.py
  tests/collections/llm/conversion/test_nmh_conversion.py
  tests/functional_tests/L2_NeMo_2_Conversion_Test_Nemotron_H_4B.sh
  tests/functional_tests/L2_NeMo_2_SSM_Finetuning.sh
  tests/functional_tests/L2_NeMo_2_SSM_Pretraining.sh
Labels: CI

#13955 Bugfix for inference when `sample_rate` not in config
  scripts/magpietts/infer_and_evaluate.py
Labels: Run CICD

#13526 Multi token bleu
  docs/source/asr/configs.rst
  examples/asr/conf/speech_multitask/fast-conformer_aed.yaml
  nemo/collections/asr/metrics/__init__.py
  nemo/collections/asr/metrics/bleu.py
  nemo/collections/asr/metrics/multi_binary_acc.py
  nemo/collections/asr/metrics/multitask.py
  nemo/collections/asr/metrics/wer.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/asr_model.py
  nemo/collections/asr/parts/submodules/multitask_beam_decoding.py
  nemo/collections/asr/parts/submodules/multitask_greedy_decoding.py
  nemo/collections/common/prompts/canary.py
  nemo/collections/common/prompts/canary2.py
  tests/collections/asr/test_asr_metrics.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
Labels: ASR, common, Run CICD

#13946 ci: Set L2_NeMo_2_Export_Deploy_Query_In_Framework to be optional
  .github/workflows/cicd-main-export-deploy.yml
Labels: CI

#13998 Cherry pick `Use jiwer less than 4.0.0 (13997)` into `r2.4.0`
  requirements/requirements_asr.txt
  requirements/requirements_slu.txt
  tools/speech_data_explorer/requirements.txt
Labels: cherry-pick

#13967 Inference bugfix: run inference on all datasets
  scripts/magpietts/infer_and_evaluate.py
Labels: Run CICD

#13981 Use average reduction in FSDP grad reduce-scatter when grad dtype is …
  scripts/performance/helpers.py
Labels: Run CICD, RC3, r2.4.0

#13783 Modernize logger interface
  nemo/collections/asr/metrics/multi_binary_acc.py
  nemo/collections/common/metrics/classification_accuracy.py
  nemo/collections/nlp/data/language_modeling/megatron/retro_dataset.py
Labels: ASR, NLP, common, Run CICD, skip-linting

#14010 Remove container license reference
  README.md
Labels: r2.4.0

#14017 Cherry pick `Remove container license reference (14010)` into `r2.4.0`
  README.md
Labels: cherry-pick

#14016 bf16 grads for bf16 jobs
  scripts/performance/helpers.py
Labels: RC4, r2.4.0

#13982 GPU memory logging update
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: NLP, Run CICD, RC4, r2.4.0

#14023 move classes to module to use __target__ feature
  tutorials/01_NeMo_Models.ipynb
  tutorials/helper_files/__init__.py
  tutorials/helper_files/gpt_components.py
Labels: r2.4.0

#14020 Cherry pick `bf16 grads for bf16 jobs (14016)` into `r2.4.0`
  scripts/performance/helpers.py
Labels: cherry-pick

#14006 Remove kaldiio
  requirements/requirements_asr.txt
Labels: ASR

#14019 Cherry pick `Remove nemo1 stable diffusion test (14018)` into `r2.4.0`
  .github/workflows/cicd-main-nemo2.yml
  tests/functional_tests/L2_Stable_Diffusion_Training.sh
Labels: cherry-pick, CI

#13963 Add Nemotron-H prompt format, fix cut-to-conversation custom attr propagation
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/prompts/__init__.py
  nemo/collections/common/prompts/nemotron_h.py
  tests/collections/common/prompt_formatters/conftest.py
  tests/collections/common/prompt_formatters/test_canary_prompt_formatter.py
  tests/collections/common/prompt_formatters/test_gemma_prompt_formatter.py
  tests/collections/common/prompt_formatters/test_llama2_prompt_formatter.py
  tests/collections/common/prompt_formatters/test_mistral_prompt_formatter.py
  tests/collections/common/prompt_formatters/test_nemotronh_prompt_formatter.py
  tests/collections/common/test_lhotse_multimodal_dataloading.py
Labels: common

#14046 Bump release_library template to v0.40.0
  .github/workflows/release.yml
Labels: CI

#14040 inference: add option to include the experiment name in the output folder name
  scripts/magpietts/infer_and_evaluate.py
Labels: Run CICD

#14051 Inference bugfix: wrong dimension trimmed when saving generated codes for FCD calculation
  scripts/magpietts/infer_and_evaluate.py
Labels: Run CICD

#13950 Cherry pick `Fix Loading Custom Quantization Config (13934)` into `r2.4.0`
  nemo/collections/llm/modelopt/quantization/quantizer.py
Labels: cherry-pick

#14003 Cherry pick `[automodel] fix sft notebook (14002)` into `r2.4.0`
  tutorials/llm/automodel/peft.ipynb
  tutorials/llm/automodel/sft.ipynb
Labels: cherry-pick

#14004 Cherry pick `Use average reduction in FSDP grad reduce-scatter when grad dtype is … (13981)` into `r2.4.0`
  scripts/performance/helpers.py
Labels: cherry-pick

#14021 Cherry pick `GPU memory logging update (13982)` into `r2.4.0`
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
Labels: cherry-pick, NLP, Run CICD

#14058 Cherry pick `Set L2_NeMo_2_Flux_Import_Test to be optional (14056)` into `r2.4.0`
  .github/workflows/cicd-main-nemo2.yml
Labels: cherry-pick, CI, Run CICD

#14045 Bump protobuf to 5.29.5
  requirements/requirements.txt
Labels: r2.4.0

#14000 [automodel] add support for layer-freezing
  nemo/collections/llm/recipes/hf_auto_model_for_causal_lm.py
  nemo/lightning/pytorch/callbacks/layer_freezer.py
Labels: r2.4.0

#13984 Cherry pick `decompressing joblib file before checking it (13804)` into `r2.3.0`
  nemo/collections/asr/models/confidence_ensemble.py
  tests/collections/asr/test_confidence_ensembles.py
Labels: cherry-pick, ASR, no-fail-fast

#14022 Detect hardware before enabling DeepEP
  nemo/collections/llm/recipes/deepseek_v2.py
  nemo/collections/llm/recipes/deepseek_v2_lite.py
  nemo/collections/llm/recipes/deepseek_v3.py
  nemo/lightning/pytorch/callbacks/deepep.py
Labels: r2.4.0

#13985 Cherry-pick `Added safe loading of models (#13607)` to `r2.3.0`
  nemo/core/classes/common.py
Labels: core, no-fail-fast, skip-linting
