Repository NVIDIA-NeMo/NeMo, pull requests merged in 2025-03, with the labels that each got.

#12382 Fix dora import to use LLM collection
  nemo/collections/llm/peft/dora.py
Labels: Run CICD

#12421 Add more flexibility to peft
  nemo/lightning/pytorch/callbacks/peft.py
Labels: Run CICD

#12433 chore(🤖): Bump `NVIDIA/Megatron-LM` to `d002453...` (2025-03-01)
  nemo/lightning/megatron_parallel.py
  requirements/manifest.json
Labels: Run CICD

#12438 chore(🤖): Bump `NVIDIA/Megatron-LM` to `8a5521a...` (2025-03-02)
  requirements/manifest.json
Labels: Run CICD

#12396 build: Improve NeMo installer
  .github/workflows/install-test.yml
  Dockerfile.ci
  reinstall.sh
  requirements/manifest.json
  requirements/requirements_multimodal.txt
Labels: CI, Run CICD, r2.2.0

#12263 Evo2 merge 20250214
  .github/workflows/cicd-main.yml
  nemo/collections/common/tokenizers/bytelevel_tokenizers.py
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/data/megatron/__init__.py
  nemo/collections/llm/gpt/data/megatron/hyena/__init__.py
  nemo/collections/llm/gpt/data/megatron/hyena/config.py
  nemo/collections/llm/gpt/data/megatron/hyena/evo2_dataset.py
  nemo/collections/llm/gpt/data/pre_training.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/hyena.py
  nemo/collections/llm/gpt/model/megatron/__init__.py
  nemo/collections/llm/gpt/model/megatron/hyena/__init__.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_block.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_config.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_hybrid_layer_allocation.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_layer.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_layer_specs.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_mixer.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_model.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_utils.py
  nemo/lightning/io/registry.py
  nemo/lightning/pytorch/callbacks/flops_callback.py
  nemo/utils/flops_formulas.py
  nemo/utils/hyena_flops_formulas.py
  tests/collections/llm/gpt/data/megatron/hyena/test_config.py
  tests/collections/llm/gpt/data/megatron/hyena/test_evo2_dataset.py
  tests/collections/llm/gpt/model/test_hyena.py
  tests/collections/llm/gpt/model/test_hyena_accuracy.py
  tests/core/test_save_restore.py
  tests/lightning/pytorch/callbacks/test_flops_callback.py
  tests/utils/test_flops_formulas.py
Labels: core, CI, common, Run CICD, no-fail-fast

#12403 Output GenerationConfig for LLMs imported from HF
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/deepseek.py
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/gpt/model/gemma2.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/mistral.py
  nemo/collections/llm/gpt/model/mixtral.py
  nemo/collections/llm/gpt/model/qwen2.py
Labels: Run CICD

#12427 performance scripts: add custom mounts and wandb logger
  scripts/performance/argument_parser.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/finetune_llama3_8b.py
  scripts/performance/llm/mlperf_lora_llama2_70b.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_llama3_8b.py
  scripts/performance/llm/pretrain_mixtral_8x22b.py
  scripts/performance/llm/pretrain_mixtral_8x7b.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  scripts/performance/utils.py
Labels: Run CICD

#12377 ci: Improve `Run CICD` experience
  .github/workflows/cicd-main.yml
  .github/workflows/cicd-relabel-bot.yml
  .github/workflows/code-linting.yml
Labels: ASR, CI, audio, r2.2.0

#11241 Fix: Data from AIStore
  nemo/collections/common/data/lhotse/nemo_adapters.py
  nemo/collections/common/parts/preprocessing/manifest.py
  nemo/utils/data_utils.py
  tests/collections/common/test_utils.py
Labels: common, Run CICD, skip-linting

#11848 Add Minitron pruning example for NeMo 2.0
  .github/workflows/cicd-main.yml
  nemo/collections/llm/distillation/utils.py
  nemo/collections/llm/inference/base.py
  scripts/llm/gpt_distillation.py
  scripts/llm/gpt_prune.py
Labels: CI, Run CICD

#12443 ci: Disable ASR tests for now
  .github/workflows/cicd-main.yml
  requirements/requirements.txt
Labels: CI, Run CICD, no-fail-fast

#12454 ci: Remove PR trigger for forks
  .github/workflows/cicd-relabel-bot.yml
Labels: CI

#12452 Update prompt format
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
Labels: ASR, skip-docs, r2.2.0, skip-linting

#12368 example canary slurm script
  examples/asr/slurm_example.sh
Labels: ASR

#12453 Make causal conv import not fail if you are not using the hyena model.
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_utils.py
Labels: Run CICD

#12348 Evaluation docs
  docs/source/evaluation/evaluation_doc.rst
  nemo/collections/llm/evaluation/api.py
Labels: r2.2.0

#12460 Cherry pick `Evaluation docs (12348)` into `r2.2.0`
  docs/source/evaluation/evaluation_doc.rst
  nemo/collections/llm/evaluation/api.py
Labels: cherry-pick, Run CICD

#12273 Fix for te v2.0
  nemo/collections/llm/gpt/model/base.py
  nemo/lightning/fabric/plugins.py
  nemo/lightning/pytorch/plugins/mixed_precision.py
Labels: Run CICD

#12441 move duration filtering to top
  nemo/collections/common/data/lhotse/dataloader.py
Labels: common

#11945 Add NVTX ranges to categorize execution
  nemo/core/optim/mcore_optim.py
  nemo/lightning/pytorch/callbacks/nsys.py
  nemo/utils/app_state.py
  nemo/utils/nvtx.py
Labels: core, Run CICD, skip-linting

#12449 Fix vLLM export test silently failing
  .github/workflows/cicd-main.yml
  nemo/lightning/megatron_parallel.py
Labels: CI

#12466 ci: Disable ASR tests for now (#12443)
  .github/workflows/cicd-main.yml
  requirements/requirements.txt
Labels: CI, Run CICD

#11898 fix: correct signal for Windows
  nemo/utils/exp_manager.py
Labels: Run CICD

#12364 Remove `_attn_implementation` in `LlamaBidirectionalModel` constructor
  nemo/collections/llm/gpt/model/hf_llama_embedding.py
Labels: Run CICD

#12464 Enable vortex style fp8 as an option in evo2
  nemo/collections/llm/gpt/model/hyena.py
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_mixer.py
Labels: feature

#12474 Fix lita notebook issue
  tutorials/multimodal/LITA Tutorial.ipynb
Labels: Multi Modal, r2.2.0

#12455 Cherry pick `Update prompt format (12452)` into `r2.2.0`
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
Labels: cherry-pick, ASR, Run CICD

#12479 Fixing a wrong Sortformer Tutorial Notebook path.
  tutorials/speaker_tasks/End_to_End_Diarization_Training.ipynb
Labels: Speaker Tasks, r2.2.0

#12480 Cherry pick `Fixing a wrong Sortformer Tutorial Notebook path. (12479)` into `r2.2.0`
  tutorials/speaker_tasks/End_to_End_Diarization_Training.ipynb
Labels: cherry-pick, Speaker Tasks, Run CICD

#12469 Add hf_token support for automodel multi-node
  scripts/llm/automodel.py
  tutorials/llm/automodel/multinode.ipynb
Labels: Run CICD, r2.2.0

#12476 Cherry pick `Fix lita notebook issue (12474)` into `r2.2.0`
  tutorials/multimodal/LITA Tutorial.ipynb
Labels: cherry-pick, Multi Modal, Run CICD

#12471 fix auto resume for peft
  nemo/lightning/resume.py
Labels: skip-linting

#12478 Deepseek Aligner Support
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/models/language_modeling/megatron_gpt_model.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/core/classes/modelPT.py
Labels: core, NLP, skip-docs

#12380 update mcore fsdp api
  scripts/dit/dit_train.py
  scripts/flux/flux_controlnet_training.py
  scripts/flux/flux_training.py
Labels: Run CICD

#12398 Fix mllama generate issue and add CICD test
  .github/workflows/cicd-main.yml
  nemo/collections/vlm/inference/vlm_engine.py
  nemo/collections/vlm/inference/vlm_inference_controller.py
  nemo/collections/vlm/inference/vlm_inference_wrapper.py
  scripts/vlm/mllama_generate.py
Labels: CI

#12448 ci: Move functional tests to files
  .github/workflows/cicd-main.yml
  tests/functional_tests/ASR_dev_run_Speech_to_Text.sh
  tests/functional_tests/ASR_dev_run_Speech_to_Text_WPE_CitriNet.sh
  tests/functional_tests/L2_Community_vita_Checkpoints_tests_Llama3.sh
Labels: CI, Run CICD

#12500 Changed the argument types passed to metrics calculation functions
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
Labels: ASR, r2.2.0

#12475 update transformers version requirements
  requirements/requirements_lightning.txt
Labels: r2.2.0

#12495 added needed fixes
  nemo/collections/asr/parts/utils/streaming_utils.py
  tutorials/asr/Buffered_Transducer_Inference.ipynb
Labels: ASR, r2.2.0

#12506 [BugFix] Change all dollar sign reference to curly braces in speaker tasks tutorial notebooks
  tutorials/speaker_tasks/ASR_with_SpeakerDiarization.ipynb
  tutorials/speaker_tasks/End_to_End_Diarization_Inference.ipynb
  tutorials/speaker_tasks/End_to_End_Diarization_Training.ipynb
  tutorials/speaker_tasks/Speaker_Diarization_Inference.ipynb
  tutorials/speaker_tasks/Speaker_Diarization_Training.ipynb
  tutorials/speaker_tasks/Speaker_Identification_Verification.ipynb
Labels: Speaker Tasks, Run CICD, r2.2.0

#12074 Configure FSDP to keep module params
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: bug, NLP, Run CICD, skip-linting

#12502 Cherry pick ` Changed the argument types passed to metrics calculation functions (12500)` into `r2.2.0`
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
Labels: cherry-pick, ASR, Run CICD

#12499 few checkings needed because of the change of asr models output
  nemo/collections/nlp/data/token_classification/punctuation_capitalization_infer_dataset.py
  nemo/collections/nlp/models/token_classification/punctuation_capitalization_model.py
  nemo/collections/tts/models/fastpitch.py
Labels: TTS, NLP, skip-docs, r2.2.0, skip-linting

#12509 Cherry pick `added needed fixes (12495)` into `r2.2.0`
  nemo/collections/asr/parts/utils/streaming_utils.py
  tutorials/asr/Buffered_Transducer_Inference.ipynb
Labels: cherry-pick, ASR, Run CICD

#12507 Cherry pick `update transformers version requirements (12475)` into `r2.2.0`
  requirements/requirements_lightning.txt
Labels: cherry-pick, Run CICD

#12520 Cherry pick `[checkpoint] Log timings for checkpoint IO save and load (11972)` into `r2.2.0`
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/lightning/io/pl.py
  nemo/utils/callbacks/dist_ckpt_io.py
Labels: cherry-pick, NLP, Run CICD

#12512 ci: Onboard arm runners
  .github/workflows/install-test.yml
  reinstall.sh
  requirements/requirements_audio.txt
  requirements/requirements_deploy.txt
  requirements/requirements_multimodal.txt
  requirements/requirements_nlp.txt
  requirements/requirements_tts.txt
Labels: CI

#12482 Add FLUX perf recipe and run script
  nemo/collections/diffusion/recipes/flux_12b.py
  scripts/performance/diffusion/pretrain_flux_12b.py
  scripts/performance/recommended_model_configs/model_configs_h100.csv
Labels: Run CICD, skip-docs

#12513 Cherry pick `few checkings needed because of the change of asr models output (12499)` into `r2.2.0`
  nemo/collections/nlp/data/token_classification/punctuation_capitalization_infer_dataset.py
  nemo/collections/nlp/models/token_classification/punctuation_capitalization_model.py
  nemo/collections/tts/models/fastpitch.py
Labels: TTS, cherry-pick, NLP, Run CICD, skip-linting

#12523 Oyilmaz nvidia/chore/cherry pick 12242
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/hf_llama_embedding.py
  nemo/export/onnx_llm_exporter.py
  nemo/export/utils/__init__.py
  nemo/export/utils/utils.py
  tutorials/llm/embedding/llama_embedding_export_deploy.ipynb
Labels: Run CICD

#12525 Cherry pick `Remove `_attn_implementation` in `LlamaBidirectionalModel` constructor (12364)` into `r2.2.0`
  nemo/collections/llm/gpt/model/hf_llama_embedding.py
Labels: cherry-pick, Run CICD

#12524 Cherry pick `Configure FSDP to keep module params (12074)` into `r2.2.0`
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
Labels: cherry-pick, NLP, Run CICD

#12409 Security bug fix for Char Tokenizer
  nemo/collections/common/tokenizers/char_tokenizer.py
Labels: common, Run CICD, skip-linting

#12504 Fix for a crash with virtual pipeline parallel
  nemo/lightning/megatron_parallel.py
Labels: Run CICD

#12518 [automodel] update examples' comments
  examples/llm/peft/automodel.py
  examples/llm/sft/automodel.py
Labels: r2.2.0

#11942 [automodel] docs
  docs/source/automodel/codedocs/fsdp2_strategy.rst
  docs/source/automodel/codedocs/hf_automodel_for_causal_lm.rst
  docs/source/automodel/codedocs/hf_automodel_for_image_text_to_text.rst
  docs/source/automodel/codedocs/hf_automodel_for_speech_seq_to_seq.rst
  docs/source/automodel/codedocs/hf_dataset_data_module.rst
  docs/source/automodel/codedocs/jit_callback.rst
  docs/source/automodel/index.rst
Labels: documentation, r2.2.0

#12530 Cherry pick `[automodel] docs (11942)` into `r2.2.0`
  docs/source/automodel/codedocs/fsdp2_strategy.rst
  docs/source/automodel/codedocs/hf_automodel_for_causal_lm.rst
  docs/source/automodel/codedocs/hf_automodel_for_image_text_to_text.rst
  docs/source/automodel/codedocs/hf_automodel_for_speech_seq_to_seq.rst
  docs/source/automodel/codedocs/hf_dataset_data_module.rst
  docs/source/automodel/codedocs/jit_callback.rst
  docs/source/automodel/index.rst
Labels: cherry-pick

#12521 restrict joblib loading to only certain classes
  nemo/collections/asr/models/confidence_ensemble.py
Labels: ASR

#12529 Cherry pick `[automodel] update examples' comments (12518)` and `[automodel] Move PEFT to configure_model (#12491)` into `r2.2.0`
  examples/llm/peft/automodel.py
  examples/llm/sft/automodel.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/lightning/pytorch/callbacks/peft.py
Labels: cherry-pick, Run CICD

#12097 Training Performance Optimization for flux_controlnet
  nemo/collections/diffusion/models/dit/dit_attention.py
  nemo/collections/diffusion/models/dit/dit_layer_spec.py
  nemo/collections/diffusion/models/flux/model.py
  nemo/collections/diffusion/models/flux_controlnet/model.py
  scripts/flux/flux_controlnet_training.py
  scripts/flux/flux_training.py
Labels: Run CICD

#12508 Wip ab/llava next cp sp seq packing
  nemo/collections/multimodal/data/energon/__init__.py
  nemo/collections/multimodal/data/energon/base.py
  nemo/collections/vlm/llava_next/data/__init__.py
  nemo/collections/vlm/llava_next/data/energon.py
  nemo/collections/vlm/llava_next/data/interleaved_sample_encoder.py
  nemo/collections/vlm/llava_next/data/mock.py
  nemo/collections/vlm/llava_next/data/sample.py
  nemo/collections/vlm/llava_next/data/task_encoder.py
  nemo/collections/vlm/llava_next/data/utils.py
  nemo/collections/vlm/llava_next/data/vqa_sample_encoder.py
  nemo/collections/vlm/llava_next/model/base.py
  nemo/collections/vlm/llava_next/model/llava_next.py
  nemo/collections/vlm/llava_next/model/utils.py
  nemo/collections/vlm/neva/data/sequence_packing.py
  scripts/vlm/llava_next_pretrain.py
Labels: Multi Modal

#11793 Add "_skipme" option to Lhotse Dataloading
  docs/source/asr/datasets.rst
  nemo/collections/common/data/lhotse/cutset.py
  nemo/collections/common/data/lhotse/sampling.py
  tests/collections/common/test_lhotse_dataloading.py
Labels: ASR, common

#12138 updated model configs, fine-tuning recipe prams
  nemo/collections/llm/recipes/llama31_405b.py
  nemo/collections/llm/recipes/llama3_70b.py
  nemo/collections/llm/recipes/llama3_8b.py
  scripts/performance/argument_parser.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/finetune_llama3_8b.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_llama3_8b.py
  scripts/performance/llm/pretrain_mixtral_8x22b.py
  scripts/performance/llm/pretrain_mixtral_8x7b.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  scripts/performance/recommended_model_configs/model_configs_b200.csv
  scripts/performance/recommended_model_configs/model_configs_gb200.csv
  scripts/performance/recommended_model_configs/model_configs_h100.csv
  scripts/performance/utils.py
Labels: skip-docs

#12450 TensorRT-LLM export to the NIM format
  nemo/export/multimodal/build.py
  nemo/export/multimodal/run.py
  nemo/export/tarutils.py
  nemo/export/tensorrt_llm.py
  nemo/export/trt_llm/nemo_ckpt_loader/nemo_file.py
  nemo/export/utils/constants.py
  nemo/export/utils/model_loader.py
  nemo/export/utils/utils.py
  nemo/utils/model_utils.py
  scripts/export/export_to_trt_llm.py
Labels: skip-linting

#12532 Add timestamp support for latest flash models
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/models/ctc_models.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/parts/utils/timestamp_utils.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
Labels: ASR, r2.2.0

#12032 Script for estimating data weights with optional temperature
  scripts/speech_recognition/estimate_data_weights.py
Labels: stale

#12483 Add Neva CI tests and fix few related issues
  .github/workflows/cicd-main.yml
  nemo/collections/vlm/mllama/model/language.py
  nemo/collections/vlm/neva/model/base.py
  nemo/core/optim/lr_scheduler.py
  nemo/core/optim/mcore_optim.py
  nemo/lightning/pytorch/optim/base.py
  scripts/vlm/mllama_finetune.py
  scripts/vlm/neva_finetune.py
  scripts/vlm/neva_pretrain.py
Labels: core, CI

#12076 Fix dataclass field in some asr examples.
  examples/asr/asr_chunked_inference/aed/speech_to_text_aed_chunked_infer.py
  examples/asr/transcribe_speech_parallel.py
Labels: ASR, Run CICD

#12461 Allow store to be set for process group init
  nemo/lightning/pytorch/strategies/fsdp2_strategy.py
  nemo/lightning/pytorch/strategies/fsdp_strategy.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
Labels: Run CICD

#12559 fix argument
  tutorials/tools/SDE_HowTo_v2.ipynb
Labels: r2.2.0

#11887 replaced classification model with EncDecSpeakerLabelModel
  nemo/collections/asr/models/classification_models.py
  nemo/collections/asr/models/label_models.py
Labels: ASR, Run CICD

#12553 ci: Add macOS (intel) runner
  .github/workflows/install-test.yml
  nemo/lightning/pytorch/strategies/fsdp2_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
  reinstall.sh
Labels: CI

#12567 fix safe_import calls
  nemo/lightning/pytorch/strategies/fsdp2_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
Labels: Run CICD

#12457 [ModelOpt] Shared code in `nemo.collections.llm.modelopt` for ptq, prune, distill + QAT fixes
  .github/workflows/cicd-main.yml
  nemo/collections/llm/__init__.py
  nemo/collections/llm/api.py
  nemo/collections/llm/inference/base.py
  nemo/collections/llm/modelopt/__init__.py
  nemo/collections/llm/modelopt/distill/__init__.py
  nemo/collections/llm/modelopt/distill/loss.py
  nemo/collections/llm/modelopt/distill/model.py
  nemo/collections/llm/modelopt/distill/recipe.py
  nemo/collections/llm/modelopt/distill/utils.py
  nemo/collections/llm/modelopt/model_utils.py
  nemo/collections/llm/modelopt/prune/__init__.py
  nemo/collections/llm/modelopt/prune/pruner.py
  nemo/collections/llm/modelopt/quantization/__init__.py
  nemo/collections/llm/modelopt/quantization/quantizer.py
  nemo/collections/llm/quantization/utils.py
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  scripts/llm/gpt_distillation.py
  scripts/llm/gpt_prune.py
  scripts/llm/ptq.py
Labels: CI

#12544 [automodel] fix typo in examples
  .github/workflows/cicd-main.yml
  examples/llm/peft/automodel.py
Labels: CI, Run CICD

#12539 update readme to include latest pytorch version
  README.md
Labels: Run CICD, r2.2.0

#12574 Fixing LLM engine loading in Multimodal export pipeline
  nemo/export/multimodal/run.py
  nemo/export/tensorrt_llm.py
Labels: skip-linting

#12584 Update changelog-build.yml
  .github/workflows/changelog-build.yml
Labels: CI

#12586 Cherry pick `Update changelog for `r2.2.0` (12585)` into `r2.2.0`
  CHANGELOG.md
Labels: cherry-pick

#12211 Update exp_manager to better handle parallelism
  nemo/utils/exp_manager.py
Labels: Run CICD

#12562 ci: Lift constraints of installable
  .github/workflows/install-test.yml
  reinstall.sh
  requirements/manifest.json
  requirements/requirements.txt
  requirements/requirements_nlp.txt
Labels: CI

#12608 Cherry pick `Fix exporter for llama models with shared embed and output layers (12545)` into `r2.2.0`
  nemo/collections/llm/gpt/model/llama.py
Labels: cherry-pick, Run CICD

#12607 Cherry pick `Fix TP for LoRA adapter on `linear_fc1` (12519)` into `r2.2.0`
  nemo/collections/llm/peft/canonical_lora.py
  nemo/collections/llm/peft/dora.py
  nemo/collections/llm/peft/lora.py
  nemo/collections/llm/peft/utils.py
Labels: cherry-pick, Run CICD

#12588 Added model config params for Canary-1B-Flash, Canary-180M-Flash models
  .github/workflows/cicd-main.yml
  examples/asr/conf/speech_multitask/fast-conformer_aed.yaml
Labels: ASR, CI, Run CICD

#12619 ci: Test multiple python versions
  .github/workflows/cicd-main.yml
  .github/workflows/code-linting.yml
  .github/workflows/install-test.yml
  reinstall.sh
  requirements/requirements.txt
Labels: CI

#12620 ci: Disable reformat
  .github/workflows/code-formatting.yml
Labels: CI

#12606 Add Magpie-TTS and Updates NeMo Audio Codecs
  examples/tts/conf/magpietts/magpietts_en.yaml
  examples/tts/conf/magpietts/magpietts_inference_en.yaml
  examples/tts/conf/magpietts/magpietts_inference_multilingual_v1.yaml
  examples/tts/conf/magpietts/magpietts_multilingual_v1.yaml
  examples/tts/magpietts.py
  nemo/collections/common/tokenizers/text_to_speech/tts_tokenizers.py
  nemo/collections/tts/data/text_to_speech_dataset.py
  nemo/collections/tts/g2p/models/i18n_ipa.py
  nemo/collections/tts/g2p/models/zh_cn_pinyin.py
  nemo/collections/tts/models/__init__.py
  nemo/collections/tts/models/audio_codec.py
  nemo/collections/tts/models/magpietts.py
  nemo/collections/tts/modules/audio_codec_modules.py
  scripts/magpietts/dpo/create_preference_pairs.py
  scripts/magpietts/dpo/create_text_contextpairs.py
Labels: TTS, common, Run CICD, skip-docs

#11501 changed-megatron-lm-ref
  docs/source/starthere/intro.rst
Labels: stale

#12558 Fix NeMo Run API change for NEMORUN_HOME
  nemo/collections/common/parts/run_utils.py
  scripts/performance/argument_parser.py
  scripts/performance/llm/finetune_deepseek_v3.py
  scripts/performance/utils.py
Labels: common, Run CICD

#12537 [automodel] Add Liger Kernel support
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  examples/llm/peft/automodel.py
  examples/llm/sft/automodel.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  reinstall.sh
  requirements/requirements_automodel.txt
  requirements/requirements_multimodal.txt
  setup.py
Labels: CI, no-fail-fast

#12634 Bump mcore to use 0.11.1
  requirements/manifest.json
Labels: Run CICD

#12597 GHA Conversion Test and Importer/Exporter Refactor
  .github/workflows/cicd-main.yml
  nemo/collections/llm/gpt/model/baichuan.py
  nemo/collections/llm/gpt/model/chatglm.py
  nemo/collections/llm/gpt/model/deepseek.py
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/gpt/model/gemma2.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/llama_embedding.py
  nemo/collections/llm/gpt/model/mistral.py
  nemo/collections/llm/gpt/model/mixtral.py
  nemo/collections/llm/gpt/model/nemotron.py
  nemo/collections/llm/gpt/model/phi3mini.py
  nemo/collections/llm/gpt/model/qwen2.py
  nemo/collections/llm/gpt/model/starcoder.py
  nemo/collections/llm/gpt/model/starcoder2.py
  nemo/lightning/io/state.py
  tests/collections/llm/conversion/test_export_to_hf.py
  tests/collections/llm/conversion/test_import_from_hf.py
Labels: CI

#10989 N-Gram LM on GPU + Transducer greedy decoding (RNN-T, TDT)
  nemo/collections/asr/parts/submodules/ctc_beam_decoding.py
  nemo/collections/asr/parts/submodules/ngram_lm/__init__.py
  nemo/collections/asr/parts/submodules/ngram_lm/constants.py
  nemo/collections/asr/parts/submodules/ngram_lm/kenlm_utils.py
  nemo/collections/asr/parts/submodules/ngram_lm/ngram_lm_batched.py
  nemo/collections/asr/parts/submodules/ngram_lm/ngram_lm_triton.py
  nemo/collections/asr/parts/submodules/rnnt_beam_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_greedy_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_loop_labels_computer.py
  nemo/collections/asr/parts/submodules/tdt_loop_labels_computer.py
  nemo/core/utils/optional_libs.py
  scripts/asr_language_modeling/ngram_lm/ngram_merge.py
  scripts/asr_language_modeling/ngram_lm/train_kenlm.py
  tests/collections/asr/decoding/test_rnnt_decoding.py
  tests/collections/asr/test_ngram_lm.py
Labels: core, ASR, Run CICD

#12677 Canary tutorial fix timestamp
  tests/functional_tests/L2_Speech_to_Text_AED.sh
  tutorials/asr/Canary_Multitask_Speech_Model.ipynb
Labels: ASR, Run CICD

#12668 ci: Upload coverage
  .github/workflows/cicd-main.yml
Labels: CI

#12683 ci: Re-enable changed-files action
  .github/workflows/code-formatting.yml
  .github/workflows/code-linting.yml
Labels: CI

#12689 revert config
  examples/asr/conf/speech_multitask/fast-conformer_aed.yaml
Labels: ASR, Run CICD

#12653 canary longform inference script with timestamps option
  .github/workflows/cicd-main.yml
  examples/asr/asr_chunked_inference/aed/speech_to_text_aed_chunked_infer.py
  nemo/collections/asr/models/aed_multitask_models.py
  nemo/collections/asr/parts/utils/streaming_utils.py
  nemo/collections/asr/parts/utils/timestamp_utils.py
  nemo/collections/asr/parts/utils/transcribe_utils.py
  nemo/collections/llm/tools/auto_configurator/core/calculate_performance.py
  nemo/collections/llm/tools/auto_configurator/runner.py
  tests/collections/asr/conftest.py
  tests/collections/asr/mixins/test_transcription.py
  tests/collections/asr/test_asr_multitask_model_bpe.py
  tests/collections/llm/gpt/data/test_hf_hellaswag.py
  tests/collections/llm/gpt/data/test_hf_mockdataset.py
  tests/lightning/pytorch/callbacks/test_jit_transform.py
Labels: ASR, CI, Run CICD

#12701 build: Pin sox
  reinstall.sh
Labels: Run CICD

#12681 Fix default timestamps value for Hybrid ASR models
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
Labels: ASR

#12698 add neva quantization
  scripts/vlm/neva_generate.py
Labels: Run CICD

#12696 Clip coverage
  .github/workflows/cicd-main.yml
  nemo/collections/vlm/clip/data/mock.py
  scripts/vlm/clip_infer.py
  scripts/vlm/clip_pretrain.py
  tests/collections/llm/gpt/data/test_hf_mockdataset.py
  tests/collections/vlm/clip/data/test_mock_dataset.py
  tests/functional_tests/L0_Unit_Tests_CPU_VLM.sh
  tests/functional_tests/L0_Unit_Tests_GPU_VLM.sh
  tests/functional_tests/L2_NeMo_2_CLIP_INFER.sh
  tests/functional_tests/L2_NeMo_2_CLIP_PRETRAIN.sh
Labels: CI

#12714 GHA CI test: Remove unnecessary directive
  .github/workflows/cicd-main.yml
Labels: CI

#12675 Remove old peft docs
  docs/source/nlp/nemo_megatron/peft/landing_page.rst
  docs/source/nlp/nemo_megatron/peft/quick_start.rst
  docs/source/nlp/nemo_megatron/peft/supported_methods.rst
Labels: NLP

#12665 Add code coverage for llm gpt models conversion tests
  .github/workflows/cicd-main.yml
  tests/functional_tests/L2_NeMo_2_Conversion_Test.sh
Labels: CI

#12680 Improve time and RTFx report for ASR
  examples/asr/transcribe_speech.py
Labels: ASR

#12700 Modify train args
  tutorials/asr/Canary_Multitask_Speech_Model.ipynb
Labels: ASR, Run CICD

#12666 Save batch norm running stats in PEFT checkpoints
  nemo/collections/speechlm/utils/model_transform.py
  nemo/lightning/pytorch/callbacks/peft.py
  tests/lightning/pytorch/callbacks/test_peft.py
Labels: skip-linting

#12720 Fix asr doc warnings
  docs/source/asr/all_chkpt.rst
  docs/source/asr/api.rst
  docs/source/asr/asr_language_modeling_and_customization.rst
  docs/source/asr/configs.rst
  docs/source/asr/datasets.rst
  docs/source/asr/intro.rst
  docs/source/asr/models.rst
  docs/source/asr/results.rst
  docs/source/asr/speaker_diarization/datasets.rst
  docs/source/asr/speaker_diarization/models.rst
  docs/source/checkpoints/dist_ckpt.rst
  nemo/collections/asr/parts/submodules/ngram_lm/ngram_lm_batched.py
  nemo/collections/llm/gpt/data/hf_dataset.py
  nemo/collections/llm/gpt/model/baichuan.py
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/llama_embedding.py
  nemo/collections/llm/gpt/model/nemotron.py
  nemo/collections/llm/gpt/model/qwen2.py
  nemo/collections/llm/gpt/model/starcoder.py
  nemo/collections/llm/gpt/model/starcoder2.py
  nemo/lightning/io/state.py
  nemo/lightning/pytorch/strategies/fsdp2_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
Labels: ASR

#12722 Toggle fast tokenizer if error occurs
  nemo/collections/common/tokenizers/huggingface/auto_tokenizer.py
Labels: common

#12419 Automodel PTQ
  .github/workflows/cicd-main.yml
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/modelopt/quantization/quantizer.py
  nemo/collections/llm/utils.py
  nemo/export/tensorrt_llm.py
  scripts/llm/ptq.py
  tests/functional_tests/L2_NeMo_2_Automodel_PTQ_hf.sh
  tests/functional_tests/L2_NeMo_2_Automodel_PTQ_trtllm.sh
Labels: CI

#12694 Auto Configurator code coverage
  .github/workflows/cicd-main.yml
  examples/llm/auto_configurator/README.md
  examples/llm/auto_configurator/auto_config.py
  nemo/collections/llm/tools/auto_configurator/core/base_config.py
  nemo/collections/llm/tools/auto_configurator/core/calculate_performance.py
  nemo/collections/llm/tools/auto_configurator/core/utils.py
  nemo/collections/llm/tools/auto_configurator/runner.py
  tests/collections/llm/auto_conf/test_autoconf_utils.py
  tests/functional_tests/L2_NeMo_2_Auto_Configurator_bert_TP1_PP1_MBS124.sh
  tests/functional_tests/L2_NeMo_2_Auto_Configurator_llama_TP1_PP1_MBS124.sh
  tests/functional_tests/L2_NeMo_2_Auto_Configurator_t5_TP1_PP1_MBS124.sh
Labels: CI

#12743 Remove unnecessary directives
  .github/workflows/cicd-main.yml
Labels: CI

#12732 remove gifs from documentation
  docs/source/features/parallelisms.rst
  docs/source/nlp/nemo_megatron/images/sp.gif
  docs/source/nlp/nemo_megatron/images/sp.png
  docs/source/nlp/nemo_megatron/images/tp.gif
  docs/source/nlp/nemo_megatron/images/tp1.png
  docs/source/nlp/nemo_megatron/images/tp2.png
Labels: NLP

#12755 Rename `FastNGramLM` -> `NGramGPULanguageModel`
  nemo/collections/asr/parts/submodules/ngram_lm/__init__.py
  nemo/collections/asr/parts/submodules/ngram_lm/ngram_lm_batched.py
  nemo/collections/asr/parts/submodules/rnnt_loop_labels_computer.py
  nemo/collections/asr/parts/submodules/tdt_loop_labels_computer.py
  scripts/asr_language_modeling/ngram_lm/train_kenlm.py
  tests/collections/asr/test_ngram_lm.py
Labels: ASR

#12758 Import guard fasttext
  requirements/requirements_nlp.txt
  scripts/neural_machine_translation/filter_langs_nmt.py
Labels: Run CICD

#12624 [automodel] remove unused cell in multinode notebook
  tutorials/llm/automodel/multinode.ipynb
Labels: documentation

#12754 fix NeMo documentation
  docs/source/nlp/api.rst
  docs/source/nlp/machine_translation/machine_translation.rst
  docs/source/nlp/megatron_onnx_export.rst
  docs/source/nlp/nemo_megatron/gpt/gpt_training.rst
  docs/source/nlp/nemo_megatron/intro.rst
  docs/source/nlp/nemo_megatron/reset_learning_rate.rst
  docs/source/nlp/quantization.rst
Labels: NLP

#12691 Fix Llama Embedding Model Exporting keys
  .github/workflows/cicd-main.yml
  nemo/collections/llm/gpt/model/llama_embedding.py
  tests/collections/llm/conversion/test_export_to_hf.py
  tests/functional_tests/L2_NeMo_2_Conversion_Test.sh
Labels: CI

#12771 Tidy code: remove unneeded statements/lines
  .github/workflows/cicd-main.yml
Labels: CI

#12775 ci: Run on nightly schedule
  .github/workflows/cicd-main.yml
Labels: CI

#12697 Add logs for checkpoint saving start and finalization
  nemo/utils/callbacks/nemo_model_checkpoint.py
Labels: Run CICD

#12579 [automodel] FP8 Support for DDP & FSDP2
  .github/workflows/cicd-main.yml
  examples/llm/peft/automodel.py
  examples/llm/sft/automodel.py
  nemo/collections/llm/gpt/data/hf_dataset.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/peft/lora.py
Labels: CI

#12762 Alit/test coverage
  .github/workflows/cicd-main.yml
  nemo/collections/llm/gpt/model/hyena.py
  tests/collections/llm/conversion/test_hyena_import_from_hf.py
  tests/collections/llm/gpt/data/megatron/hyena/test_config.py
  tests/collections/llm/gpt/data/megatron/hyena/test_evo2_dataset.py
  tests/collections/llm/gpt/model/test_evo2.py
  tests/collections/llm/recipes/test_mamba2_130m.py
  tests/collections/llm/recipes/test_mamba2_1_3b.py
  tests/collections/llm/recipes/test_mamba2_2_7b.py
  tests/collections/llm/recipes/test_mamba2_370m.py
  tests/collections/llm/recipes/test_mamba2_780m.py
  tests/collections/llm/recipes/test_mamba2_8b.py
  tests/collections/llm/recipes/test_mamba2_hybrid_8b.py
  tests/functional_tests/L2_NeMo_2_Hyena_Conversion_from_HF.sh
Labels: CI

#12405 add qwen2-vl support
  nemo/collections/multimodal/data/energon/base.py
  nemo/collections/vlm/__init__.py
  nemo/collections/vlm/qwen2vl/__init__.py
  nemo/collections/vlm/qwen2vl/data/__init__.py
  nemo/collections/vlm/qwen2vl/data/api.py
  nemo/collections/vlm/qwen2vl/data/config.py
  nemo/collections/vlm/qwen2vl/data/conversation.py
  nemo/collections/vlm/qwen2vl/data/mock.py
  nemo/collections/vlm/qwen2vl/data/multimodal_tokens.py
  nemo/collections/vlm/qwen2vl/data/preloaded.py
  nemo/collections/vlm/qwen2vl/model/__init__.py
  nemo/collections/vlm/qwen2vl/model/api.py
  nemo/collections/vlm/qwen2vl/model/base.py
  nemo/collections/vlm/qwen2vl/model/qwen2vl.py
  nemo/collections/vlm/qwen2vl/model/vision.py
  nemo/collections/vlm/vision/base.py
  requirements/requirements_multimodal.txt
  scripts/vlm/qwen2vl_finetune.py
  scripts/vlm/qwen2vl_generate.py
Labels: Multi Modal, Run CICD

#12554 Add fast_geglu for Stable Diffusion
  nemo/collections/multimodal/modules/stable_diffusion/attention.py
  nemo/collections/multimodal/modules/stable_diffusion/fast_geglu/__init__.py
  nemo/collections/multimodal/modules/stable_diffusion/fast_geglu/geglu.cpp
  nemo/collections/multimodal/modules/stable_diffusion/fast_geglu/geglu.hpp
  nemo/collections/multimodal/modules/stable_diffusion/fast_geglu/geglu_cuda.cu
  tests/collections/multimodal/test_stable_diffusion_fast_geglu.py
Labels: Multi Modal, Run CICD, skip-linting

#12571 Speed up 2D upsample for Stable Diffusion
  nemo/collections/multimodal/modules/stable_diffusion/diffusionmodules/openaimodel.py
Labels: Multi Modal, Run CICD, skip-linting

#12435 Script name "speech_to_frame_label.py" fixed
  examples/asr/speech_classification/README.md
  examples/asr/speech_classification/speech_to_frame_label.py
Labels: ASR, Run CICD, skip-linting

#12787 Update qwen2-v1 to use NeMo quick_gelu
  nemo/collections/vlm/qwen2vl/model/base.py
Labels: Run CICD

#12672 build: Add trtllm
  .github/workflows/cicd-main.yml
  Dockerfile.ci
  reinstall.sh
  requirements/manifest.json
Labels: CI

#12807 ci: Fix flaky LLM tests
  .github/workflows/_test_template.yml
  tests/collections/llm/gpt/data/test_squad.py
  tests/collections/llm/gpt/model/test_evo2.py
  tests/collections/llm/gpt/model/test_starcoder.py
Labels: CI

#12785 Add BERT/Qwen2.5 Unit test and Refactor all GHA Conversion Tests
  .github/workflows/cicd-main.yml
  nemo/collections/llm/bert/model/bert.py
  tests/collections/llm/bert/data/test_bert_pre_training.py
  tests/collections/llm/bert/data/test_core_data.py
  tests/collections/llm/bert/data/test_fine_tuning.py
  tests/collections/llm/bert/data/test_mock.py
  tests/collections/llm/bert/data/test_specter.py
  tests/collections/llm/bert/model/test_bert.py
  tests/collections/llm/bert/model/test_bert_base.py
  tests/collections/llm/bert/model/test_bert_spec.py
  tests/collections/llm/bert/model/test_embedding.py
  tests/collections/llm/bert/test_loss.py
  tests/collections/llm/bert_pretraining.py
  tests/collections/llm/conversion/test_import_from_hf.py
  tests/collections/llm/gpt/data/test_core.py
  tests/collections/llm/gpt/data/test_dolly_dataset.py
  tests/collections/llm/gpt/data/test_mlperf_govreport.py
  tests/collections/llm/gpt/data/test_pre_training.py
  tests/collections/llm/gpt/data/test_squad.py
  tests/collections/llm/gpt/model/test_evo2.py
  tests/collections/llm/recipes/test_llama31_nemotron_70b.py
  tests/collections/llm/recipes/test_llama31_nemotron_nano_8b.py
  tests/collections/llm/recipes/test_qwen25_14b.py
  tests/collections/llm/recipes/test_qwen25_1p5b.py
  tests/collections/llm/recipes/test_qwen25_32b.py
  tests/collections/llm/recipes/test_qwen25_500m.py
  tests/collections/llm/recipes/test_qwen25_72b.py
  tests/collections/llm/recipes/test_qwen25_7b.py
  tests/functional_tests/L2_NeMo_2_BERT_Pretraining_HuggingFace.sh
  tests/functional_tests/L2_NeMo_2_BERT_Pretraining_Megatron.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test_BERT.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test_Baichuan2.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test_ChatGLM.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test_DeepSeek.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test_Gemma.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test_Gemma2.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test_Llama.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test_Llama_Embedding.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test_Llama_Nemotron.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test_Mistral.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test_Nemotron.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test_Phi3Mini.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test_Qwen2.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test_Starcoder.sh
  tests/functional_tests/L2_NeMo_2_Conversion_Test_Starcoder2.sh
Labels: CI

#12779 Fix TransformerBlock cuda_graphs compatibility with MCore
  nemo/collections/vlm/mllama/model/language.py
  nemo/collections/vlm/mllama/model/vision.py
Labels: Run CICD

#12802 ci: Move scripts fully down to files
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
Labels: CI, no-fail-fast

#12816 ci: Exclude nlp, mm, vision collections
  .coveragerc
Labels: Run CICD

#12820 Cherry pick `Update changelog for `r2.2.1` (12818)` into `r2.2.0`
  CHANGELOG.md
Labels: cherry-pick

#12801 transcribe fix for new hypotheses
  nemo/collections/asr/data/audio_to_text_dataset.py
Labels: ASR
