Repository NVIDIA-NeMo/NeMo, pull requests merged in 2025-04, with the labels that each got.

#12488 TP optimization and code cleanup for llama3 70b LoRA
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/recipes/tp_overlap_configs/userbuffers.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/finetune_llama3_8b.py
  scripts/performance/llm/mlperf_lora_llama2_70b.py
Labels: Run CICD

#12838 Prune docker images in GHA older than 8hrs
  .github/workflows/_test_template.yml
Labels: CI

#12808 Fix timestamps when cuda graphs enabled
  nemo/collections/asr/parts/utils/rnnt_utils.py
  tests/collections/asr/decoding/test_cuda_graph_rnnt_greedy_decoding.py
Labels: ASR

#12843 Update resiliency example notebook readme and add links to the brev launchable
  examples/llm/resiliency/README.md
Labels: documentation

#12817 [automodel] qlora peft
  examples/llm/peft/automodel.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/peft/lora.py
Labels: Run CICD

#12860 ci: Increase prune time
  .github/workflows/_test_template.yml
Labels: CI

#12859 Update base container in `Dockerfile.speech`
  Dockerfile.speech
Labels: Run CICD

#12846 update streaming conformer
  nemo/collections/asr/modules/conformer_encoder.py
  nemo/collections/asr/parts/mixins/mixins.py
  nemo/collections/asr/parts/utils/eval_utils.py
Labels: ASR, skip-linting

#12852 Fix qwen2.5 1.5b configuration inheritance bug
  nemo/collections/llm/gpt/model/qwen2.py
Labels: Run CICD

#12730 AED Decoding with N-Gram LM
  nemo/collections/asr/modules/transformer/__init__.py
  nemo/collections/asr/modules/transformer/transformer_generators.py
  nemo/collections/asr/parts/submodules/multitask_beam_decoding.py
  nemo/collections/asr/parts/submodules/multitask_decoding.py
  nemo/collections/asr/parts/submodules/ngram_lm/ngram_lm_batched.py
  tests/collections/asr/decoding/test_multi_task_decoding.py
Labels: ASR

#12841 Update LLaVA's next HF exporter to load ViT checkpoint from YAML
  nemo/collections/vlm/llava_next/model/llava_next.py
Labels: Run CICD

#12867 chore(🤖): Bump `NVIDIA/Megatron-LM` to `cbc89b3...` (2025-04-03)
  .github/workflows/cicd-main.yml
  requirements/manifest.json
Labels: CI, no-fail-fast

#12891 Weekly bump
  .github/workflows/cicd-main.yml
  requirements/manifest.json
Labels: CI

#12893 ci: Optional_L2_NeMo_2_SSM_Finetuning
  .github/workflows/cicd-main.yml
Labels: CI

#12459 change loss return format so that it can work with calculate_per_token_loss
  nemo/collections/speechlm/models/speech_to_text_llm_model.py
  nemo/lightning/megatron_parallel.py
Labels: Run CICD

#12833 Handle CUDA_DEVICE_MAX_CONNECTIONS before job launch
  nemo/lightning/pytorch/callbacks/megatron_comm_overlap.py
  nemo/lightning/run/plugins.py
  scripts/performance/diffusion/pretrain_flux_12b.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/finetune_llama3_8b.py
  scripts/performance/llm/mlperf_lora_llama2_70b.py
  scripts/performance/llm/pretrain_automodel_llama3_8b.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_llama3_8b.py
  scripts/performance/llm/pretrain_mixtral_8x22b.py
  scripts/performance/llm/pretrain_mixtral_8x7b.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  scripts/performance/vlm/finetune_neva_8b.py
Labels: Run CICD

#12889 Support huggingface export to tensorrtllm
  .github/workflows/cicd-main.yml
  nemo/export/tensorrt_llm.py
  scripts/deploy/nlp/deploy_triton.py
  tests/export/nemo_export.py
  tests/functional_tests/L2_NeMo_2_Export_HF_TRT_LLM.sh
Labels: CI

#12878 add apply_chat_template method to TokenizerSpec + AutoTokenizer
  nemo/collections/common/tokenizers/huggingface/auto_tokenizer.py
  nemo/collections/common/tokenizers/tokenizer_spec.py
  tests/collections/common/test_apply_chat_template.py
Labels: common

#12914 ci: Bump release-freeze
  .github/workflows/release-freeze.yml
Labels: CI

#12915 ci: Use PAT for code-freeze
  .github/workflows/release-freeze.yml
Labels: CI

#12917 ci: Use correct environment
  .github/workflows/release-freeze.yml
Labels: CI

#12791 GB200 LLM performance scripts tuning
  nemo/collections/llm/recipes/tp_overlap_configs/userbuffers.py
  scripts/performance/argument_parser.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/finetune_llama3_8b.py
  scripts/performance/llm/pretrain_automodel_llama3_8b.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_llama3_8b.py
  scripts/performance/llm/pretrain_mixtral_8x22b.py
  scripts/performance/llm/pretrain_mixtral_8x7b.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  scripts/performance/recommended_model_configs/model_configs_b200.csv
  scripts/performance/recommended_model_configs/model_configs_gb200.csv
  scripts/performance/recommended_model_configs/model_configs_h100.csv
  scripts/performance/recommended_model_configs/strong_scaling_model_configs_h100.csv
  scripts/performance/utils.py
  scripts/performance/vlm/finetune_neva_8b.py
Labels: Run CICD

#12825 [automodel] Add linear ce loss support
  nemo/automodel/loss/linear_ce.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/recipes/hf_auto_model_for_causal_lm.py
  reinstall.sh
  tests/automodel/loss/test_linear_ce.py
Labels: PoR, r2.3.0

#12907 Temporary disable CUDA graphs in DDP mode for transducer decoding
  nemo/collections/asr/parts/submodules/rnnt_loop_labels_computer.py
  nemo/collections/asr/parts/submodules/tdt_loop_labels_computer.py
Labels: ASR

#12892 fixed issue with prompts
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
Labels: ASR

#12550 DeepSeek V3 Multi Token Prediction
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/data/mock.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/deepseek.py
  nemo/collections/llm/recipes/deepseek.py
  nemo/collections/llm/recipes/deepseek_v2.py
  nemo/collections/llm/recipes/deepseek_v2_lite.py
  nemo/collections/llm/recipes/deepseek_v3.py
  nemo/lightning/io/api.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  tests/collections/llm/recipes/test_deepseek_v2_lite.py
  tests/collections/llm/recipes/test_deepseek_v3.py
Labels: PoR, r2.3.0

#12909 put the warning on the right place
  nemo/collections/asr/models/classification_models.py
Labels: ASR

#12748 Commiting changes for nemo-run asr
  examples/asr/_temp/config.yaml
  examples/asr/nemo_run_helper.py
  examples/asr/run_helper.py
  nemo/collections/common/parts/nemo_run_utils.py
  nemo/collections/common/parts/run_utils.py
  nemo/collections/common/parts/skills_utils.py
Labels: ASR, common

#12929 Adding evals to dapt playbook with nemo 2.0
  tutorials/llm/llama/domain-adaptive-pretraining/code/domain_adaptive_pretraining_nemo2.0.ipynb
Labels: Run CICD

#12922 Cherry pick `[automodel] Add linear ce loss support (12825)` into `r2.3.0`
  nemo/automodel/loss/linear_ce.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/recipes/hf_auto_model_for_causal_lm.py
  reinstall.sh
  tests/automodel/loss/test_linear_ce.py
Labels: cherry-pick

#12928 Cherry pick `DeepSeek V3 Multi Token Prediction (12550)` into `r2.3.0`
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/data/mock.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/gpt/model/deepseek.py
  nemo/collections/llm/recipes/deepseek.py
  nemo/collections/llm/recipes/deepseek_v2.py
  nemo/collections/llm/recipes/deepseek_v2_lite.py
  nemo/collections/llm/recipes/deepseek_v3.py
  nemo/lightning/io/api.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  tests/collections/llm/recipes/test_deepseek_v2_lite.py
  tests/collections/llm/recipes/test_deepseek_v3.py
Labels: cherry-pick

#11755 Allow configuration of PP communication backend to UCC in nemo2
  nemo/collections/nlp/models/language_modeling/megatron_base_model.py
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/lightning/_strategy_lib.py
  nemo/lightning/fabric/strategies.py
  nemo/lightning/megatron_init.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  nemo/utils/app_state.py
  tests/lightning/test_strategy_lib.py
Labels: NLP, Run CICD, r2.3.0

#12705 Add unit tests for evaluation
  .github/workflows/cicd-main.yml
  tests/evaluation/eval_unittest.py
  tests/functional_tests/L0_Unit_Tests_Eval.sh
Labels: CI, RC3

#12949 Set L2_NeMo_2_EVAL test to be optional
  .github/workflows/cicd-main.yml
  tests/functional_tests/Optional_L2_NeMo_2_EVAL.sh
Labels: CI, r2.3.0

#12951 Cherry pick `Set L2_NeMo_2_EVAL test to be optional (12949)` into `r2.3.0`
  .github/workflows/cicd-main.yml
  tests/functional_tests/Optional_L2_NeMo_2_EVAL.sh
Labels: cherry-pick, CI

#12937 guard bitsandbytes based on cuda availability
  nemo/collections/llm/peft/lora.py
Labels: r2.3.0, RC3

#12908 fix macro-acc for pair-audio eval
  nemo/collections/asr/models/label_models.py
Labels: ASR, RC3

#12923 Cherry pick `GB200 LLM performance scripts tuning (12791)` into `r2.3.0`
  nemo/collections/llm/recipes/tp_overlap_configs/userbuffers.py
  scripts/performance/argument_parser.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/finetune_llama3_8b.py
  scripts/performance/llm/pretrain_automodel_llama3_8b.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_llama3_8b.py
  scripts/performance/llm/pretrain_mixtral_8x22b.py
  scripts/performance/llm/pretrain_mixtral_8x7b.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  scripts/performance/recommended_model_configs/model_configs_b200.csv
  scripts/performance/recommended_model_configs/model_configs_gb200.csv
  scripts/performance/recommended_model_configs/model_configs_h100.csv
  scripts/performance/recommended_model_configs/strong_scaling_model_configs_h100.csv
  scripts/performance/utils.py
  scripts/performance/vlm/finetune_neva_8b.py
Labels: cherry-pick

#12628 Hugging Face model deployment support
  nemo/deploy/nlp/__init__.py
  nemo/deploy/nlp/hf_deployable.py
  nemo/deploy/nlp/megatronllm_deployable.py
  nemo/deploy/nlp/query_llm.py
  nemo/deploy/utils.py
  scripts/deploy/nlp/deploy_inframework_hf_triton.py
  scripts/deploy/nlp/deploy_inframework_triton.py
  scripts/deploy/nlp/query_inframework_hf.py
  tests/deploy/test_hf_import.py
Labels: r2.3.0, RC3

#12075 Make TETransformerLayerAutocast Support Cuda Graph
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
Labels: NLP, Run CICD, r2.3.0, RC3

#12902 Use nvidia-lm-eval for evaluation
  docs/source/evaluation/evaluation_doc.rst
  nemo/collections/llm/api.py
  nemo/collections/llm/evaluation/api.py
  nemo/collections/llm/evaluation/base.py
  nemo/deploy/nlp/megatronllm_deployable.py
  nemo/deploy/service/fastapi_interface_to_pytriton.py
  scripts/llm/evaluation.py
Labels: Run CICD, r2.3.0, RC3

#12503 [NeMo 2.0] Interface for using MXFP8 and FP8 current scaling recipes
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/recipes/precision/mixed_precision.py
  nemo/lightning/fabric/plugins.py
  nemo/lightning/pytorch/plugins/mixed_precision.py
  scripts/performance/llm/mlperf_lora_llama2_70b.py
  tests/collections/llm/recipes/test_mixed_precision.py
Labels: Run CICD, r2.3.0, RC3

#12943 Fix trtllm and lightning conflict
  nemo/collections/llm/gpt/model/base.py
  nemo/export/__init__.py
Labels: r2.3.0

#12962 Cherry pick `Hugging Face model deployment support (12628)` into `r2.3.0`
  nemo/deploy/nlp/__init__.py
  nemo/deploy/nlp/hf_deployable.py
  nemo/deploy/nlp/megatronllm_deployable.py
  nemo/deploy/nlp/query_llm.py
  nemo/deploy/utils.py
  scripts/deploy/nlp/deploy_inframework_hf_triton.py
  scripts/deploy/nlp/deploy_inframework_triton.py
  scripts/deploy/nlp/query_inframework_hf.py
  tests/deploy/test_hf_import.py
Labels: cherry-pick, Run CICD

#12963 Cherry pick `fix macro-acc for pair-audio eval (12908)` into `r2.3.0`
  nemo/collections/asr/models/label_models.py
Labels: cherry-pick, ASR, Run CICD

#12966 Cherry pick `Add energon dataset support for Qwen2VL (12831)` into `r2.3.0`
  nemo/collections/vlm/qwen2vl/data/convert_to_qwen2vl_wds.py
  nemo/collections/vlm/qwen2vl/data/multimodal_tokens.py
  nemo/collections/vlm/qwen2vl/data/task_encoder.py
  scripts/vlm/qwen2vl_finetune.py
Labels: cherry-pick, Run CICD

#12967 Cherry pick `Make TETransformerLayerAutocast Support Cuda Graph (12075)` into `r2.3.0`
  nemo/collections/nlp/models/language_modeling/megatron/gpt_full_te_layer_autocast_spec.py
Labels: cherry-pick, NLP, Run CICD

#12971 Cherry pick `Use nvidia-lm-eval for evaluation (12902)` into `r2.3.0`
  docs/source/evaluation/evaluation_doc.rst
  nemo/collections/llm/api.py
  nemo/collections/llm/evaluation/api.py
  nemo/collections/llm/evaluation/base.py
  nemo/deploy/nlp/megatronllm_deployable.py
  nemo/deploy/service/fastapi_interface_to_pytriton.py
  scripts/llm/evaluation.py
Labels: cherry-pick

#12974 Cherry pick `[NeMo 2.0] Interface for using MXFP8 and FP8 current scaling recipes (12503)` into `r2.3.0`
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/recipes/precision/mixed_precision.py
  nemo/lightning/fabric/plugins.py
  nemo/lightning/pytorch/plugins/mixed_precision.py
  scripts/performance/llm/mlperf_lora_llama2_70b.py
  tests/collections/llm/recipes/test_mixed_precision.py
Labels: cherry-pick, Run CICD

#12982 ci: no-fail-fast on mcore bump
  .github/workflows/mcore-tag-bump-bot.yml
Labels: CI

#12950 Update v3 finetuning recipe
  nemo/collections/llm/recipes/deepseek_v3.py
  tests/collections/llm/recipes/test_deepseek_v3.py
Labels: r2.3.0

#12948 Resolve an issue in custom megatron FSDP config setting
  nemo/lightning/megatron_parallel.py
  scripts/performance/utils.py
Labels: r2.3.0, RC3

#12989 Change to use stable NeMo branch 'r2.3.0' instead of 'main'.
  tutorials/asr/Canary_Multitask_Speech_Model.ipynb
Labels: ASR

#12707 RNNT Timestamps Fix & Timestamps in transcribe_speech_parallel
  examples/asr/transcribe_speech.py
  examples/asr/transcribe_speech_parallel.py
  nemo/collections/asr/data/audio_to_text_dataset.py
  nemo/collections/asr/models/hybrid_rnnt_ctc_models.py
  nemo/collections/asr/models/rnnt_models.py
  nemo/collections/asr/parts/submodules/ctc_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/tdt_loop_labels_computer.py
  tests/collections/asr/mixins/test_transcription.py
Labels: ASR

#12980 Enable async requests for in-fw deployment with OAI compatible server
  nemo/collections/llm/evaluation/api.py
  nemo/deploy/service/fastapi_interface_to_pytriton.py
  scripts/deploy/nlp/deploy_in_fw_oai_server_eval.py
Labels: Run CICD, r2.3.0, RC3

#12496 initialize model with metadata
  nemo/collections/llm/gpt/model/base.py
Labels: Run CICD, r2.3.0, RC3

#12925 Update nvidia-resiliency-ext to be >= 0.3.0
  reinstall.sh
  requirements/requirements_nlp.txt
Labels: r2.3.0

#12965 Bugfix for logits support for hf deployment
  nemo/deploy/nlp/hf_deployable.py
  tests/deploy/test_hf_import.py
Labels: r2.3.0

#12981 Cherry pick `Fix trtllm and lightning conflict (12943)` into `r2.3.0`
  nemo/collections/llm/gpt/model/base.py
  nemo/export/__init__.py
Labels: cherry-pick, Run CICD

#12984 Cherry pick `Update v3 finetuning recipe (12950)` and `Specify PP first/last in strategy (12992)` into `r2.3.0`
  nemo/collections/llm/recipes/deepseek_v3.py
  scripts/performance/llm/finetune_deepseek_v3.py
  tests/collections/llm/recipes/test_deepseek_v3.py
Labels: cherry-pick, Run CICD

#12990 Cherry pick `Remove getattr_proxy to avoid problematic edge cases (12176)` into `r2.3.0`
  nemo/lightning/megatron_parallel.py
  nemo/lightning/pytorch/strategies/megatron_strategy.py
  tests/lightning/test_dist_ckpt.py
Labels: cherry-pick, Run CICD

#12994 Cherry pick `Enable async requests for in-fw deployment with OAI compatible server (12980)` into `r2.3.0`
  nemo/collections/llm/evaluation/api.py
  nemo/deploy/service/fastapi_interface_to_pytriton.py
  scripts/deploy/nlp/deploy_in_fw_oai_server_eval.py
Labels: cherry-pick, Run CICD

#12997 Cherry pick `initialize model with metadata (12496)` into `r2.3.0`
  nemo/collections/llm/gpt/model/base.py
Labels: cherry-pick, Run CICD

#13001 Cherry pick `Bugfix for logits support for hf deployment (12965)` into `r2.3.0`
  nemo/deploy/nlp/hf_deployable.py
  tests/deploy/test_hf_import.py
Labels: cherry-pick

#13000 Cherry pick `Update nvidia-resiliency-ext to be >= 0.3.0 (12925)` into `r2.3.0`
  reinstall.sh
  requirements/requirements_nlp.txt
Labels: cherry-pick

#12864 [automodel] fix hellaswag tokenizer call
  nemo/collections/llm/gpt/data/hf_dataset.py
  tests/collections/llm/gpt/data/test_hf_hellaswag.py
Labels: Run CICD

#12942 Alit/nemotron h
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/ssm.py
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/nemotronh_47b.py
  nemo/collections/llm/recipes/nemotronh_56b.py
  nemo/collections/llm/recipes/nemotronh_8b.py
  nemo/lightning/run/plugins.py
  scripts/checkpoint_converters/convert_nemo1_to_nemo2.py
  tests/collections/llm/gpt/data/test_hf_mockdataset.py
  tests/collections/llm/gpt/model/test_nemotronh.py
  tests/collections/llm/gpt/model/test_nmh_nemo2_mlm_accuracy_match.py
  tests/collections/llm/gpt/model/test_ssm.py
  tests/collections/llm/recipes/test_nemotronh_47b.py
  tests/collections/llm/recipes/test_nemotronh_56b.py
  tests/collections/llm/recipes/test_nemotronh_8b.py
  tests/functional_tests/L2_NeMo_2_SSM_Finetuning.sh
  tests/functional_tests/L2_NeMo_2_SSM_Pretraining.sh
Labels: r2.3.0, RC3

#12983 add tdt ctc hyb config
  examples/asr/conf/fastconformer/hybrid_transducer_ctc/fastconformer_hybrid_tdt_ctc_bpe.yaml
Labels: ASR

#12870 feat: support memmap dataset with object store via Multi-Storage Client
  nemo/collections/nlp/data/language_modeling/text_memmap_dataset.py
Labels: NLP, Run CICD

#13009 Fix MoE Init to not use Bias in test_strategy_lib.py
  tests/lightning/test_strategy_lib.py
Labels: r2.3.0

#12972 Clean up unmaintainable pointers in docstrings
  nemo/collections/llm/recipes/baichuan2_7b.py
  nemo/collections/llm/recipes/chatglm3_6b.py
  nemo/collections/llm/recipes/e5_340m.py
  nemo/collections/llm/recipes/gemma2_27b.py
  nemo/collections/llm/recipes/gemma2_2b.py
  nemo/collections/llm/recipes/gemma2_9b.py
  nemo/collections/llm/recipes/gemma_2b.py
  nemo/collections/llm/recipes/gemma_7b.py
  nemo/collections/llm/recipes/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/recipes/llama2_7b.py
  nemo/collections/llm/recipes/llama31_8b.py
  nemo/collections/llm/recipes/llama31_nemotron_nano_8b.py
  nemo/collections/llm/recipes/llama32_1b.py
  nemo/collections/llm/recipes/llama32_3b.py
  nemo/collections/llm/recipes/llama3_8b.py
  nemo/collections/llm/recipes/llama_embedding_1b.py
  nemo/collections/llm/recipes/mamba2_130m.py
  nemo/collections/llm/recipes/mamba2_1_3b.py
  nemo/collections/llm/recipes/mamba2_2_7b.py
  nemo/collections/llm/recipes/mamba2_370m.py
  nemo/collections/llm/recipes/mamba2_780m.py
  nemo/collections/llm/recipes/mamba2_8b.py
  nemo/collections/llm/recipes/mamba2_hybrid_8b.py
  nemo/collections/llm/recipes/mistral_nemo_12b.py
  nemo/collections/llm/recipes/nemotron3_22b.py
  nemo/collections/llm/recipes/nemotron3_4b.py
  nemo/collections/llm/recipes/nemotron3_8b.py
  nemo/collections/llm/recipes/nemotron4_15b.py
  nemo/collections/llm/recipes/nemotron4_340b.py
  nemo/collections/llm/recipes/nemotronh_47b.py
  nemo/collections/llm/recipes/nemotronh_56b.py
  nemo/collections/llm/recipes/nemotronh_8b.py
  nemo/collections/llm/recipes/phi3_mini_4k_instruct.py
  nemo/collections/llm/recipes/qwen25_14b.py
  nemo/collections/llm/recipes/qwen25_1p5b.py
  nemo/collections/llm/recipes/qwen25_32b.py
  nemo/collections/llm/recipes/qwen25_500m.py
  nemo/collections/llm/recipes/qwen25_72b.py
  nemo/collections/llm/recipes/qwen25_7b.py
  nemo/collections/llm/recipes/qwen2_1p5b.py
  nemo/collections/llm/recipes/qwen2_500m.py
  nemo/collections/llm/recipes/qwen2_72b.py
  nemo/collections/llm/recipes/qwen2_7b.py
  nemo/collections/llm/recipes/starcoder2_15b.py
  nemo/collections/llm/recipes/starcoder2_3b.py
  nemo/collections/llm/recipes/starcoder2_7b.py
  nemo/collections/llm/recipes/starcoder_15b.py
  nemo/collections/llm/recipes/t5_11b.py
  nemo/collections/llm/recipes/t5_220m.py
  nemo/collections/llm/recipes/t5_3b.py
Labels: Run CICD

#12796 [Automodel] Add TP/SP support with default llama-like sharding plan
  examples/llm/sft/automodel.py
  nemo/collections/llm/gpt/data/hf_dataset.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/recipes/optim/adam.py
  nemo/lightning/pytorch/strategies/fsdp2_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
  tests/collections/llm/hf/sft_fsdp2.py
Labels: PoR, r2.3.0, RC3

#13016 ci: Increase fetch-depth of reformat workflow
  .github/workflows/code-formatting.yml
Labels: CI

#13018 Remove unnecessary code execution
  .github/workflows/cicd-main.yml
Labels: CI

#12931 Use Hyena config param.dtype to set the bias of conv
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_utils.py
Labels: Run CICD

#13005 cleaner tflops log name
  nemo/lightning/pytorch/callbacks/flops_callback.py
Labels: r2.3.0, RC3

#13015 adding mlm pretrain integration CI test
  .github/workflows/cicd-main.yml
  tests/functional_tests/L2_Tron_Llama1B_Train.sh
  tests/tron/test_tron_llama1b_train.py
Labels: CI

#13010 [automodel] peft fix vlm
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/peft/lora.py
  nemo/collections/vlm/hf/model/hf_auto_model_for_image_text_to_text.py
  nemo/lightning/pytorch/callbacks/peft.py
Labels: r2.3.0

#13007 Cherry pick `Alit/nemotron h (12942)` into `r2.3.0`
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/model/__init__.py
  nemo/collections/llm/gpt/model/ssm.py
  nemo/collections/llm/recipes/__init__.py
  nemo/collections/llm/recipes/nemotronh_47b.py
  nemo/collections/llm/recipes/nemotronh_56b.py
  nemo/collections/llm/recipes/nemotronh_8b.py
  nemo/lightning/run/plugins.py
  scripts/checkpoint_converters/convert_nemo1_to_nemo2.py
  tests/collections/llm/gpt/data/test_hf_mockdataset.py
  tests/collections/llm/gpt/model/test_nemotronh.py
  tests/collections/llm/gpt/model/test_nmh_nemo2_mlm_accuracy_match.py
  tests/collections/llm/gpt/model/test_ssm.py
  tests/collections/llm/recipes/test_nemotronh_47b.py
  tests/collections/llm/recipes/test_nemotronh_56b.py
  tests/collections/llm/recipes/test_nemotronh_8b.py
  tests/functional_tests/L2_NeMo_2_SSM_Finetuning.sh
  tests/functional_tests/L2_NeMo_2_SSM_Pretraining.sh
Labels: cherry-pick

#13017 Cherry pick `[Automodel] Add TP/SP support with default llama-like sharding plan (12796)` into `r2.3.0`
  examples/llm/sft/automodel.py
  nemo/collections/llm/gpt/data/hf_dataset.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/recipes/optim/adam.py
  nemo/lightning/pytorch/strategies/fsdp2_strategy.py
  nemo/lightning/pytorch/strategies/utils.py
  tests/collections/llm/hf/sft_fsdp2.py
Labels: cherry-pick

#12939 Adds Standard transformer flops formula to flops callback
  nemo/lightning/pytorch/callbacks/flops_callback.py
  nemo/utils/exp_manager.py
  nemo/utils/flops_formulas.py
  tests/utils/test_flops_formulas.py
Labels: Run CICD

#12977 Add initial docs broken link check
  .github/workflows/gh-docs.yml
  docs/README.md
  docs/check_for_broken_links.sh
  docs/combined.json
  docs/false_positives.json
  docs/links_needing_review.json
  docs/source/asr/api.rst
  docs/source/asr/speech_classification/results.rst
Labels: ASR, CI, r2.3.0

#13045 Cherry pick `Add initial docs broken link check (12977)` into `r2.3.0`
  .github/workflows/gh-docs.yml
  docs/README.md
  docs/check_for_broken_links.sh
  docs/combined.json
  docs/false_positives.json
  docs/links_needing_review.json
  docs/source/asr/api.rst
  docs/source/asr/speech_classification/results.rst
Labels: cherry-pick, ASR, CI, Run CICD

#13019 Remove unnecessary code execution
  .github/workflows/cicd-main.yml
Labels: CI

#13014 Cherry pick `Fix MoE Init to not use Bias in test_strategy_lib.py (13009)` into `r2.3.0`
  tests/lightning/test_strategy_lib.py
Labels: cherry-pick

#13052 Fix fstring syntax error in llm evaluation
  nemo/collections/llm/evaluation/base.py
Labels: Run CICD

#13032 Add fp8 recipe option to perf script
  nemo/collections/llm/recipes/nemotronh_47b.py
  nemo/collections/llm/recipes/nemotronh_56b.py
  nemo/collections/llm/recipes/nemotronh_8b.py
  nemo/collections/llm/recipes/precision/mixed_precision.py
  scripts/performance/argument_parser.py
  scripts/performance/diffusion/pretrain_flux_12b.py
  scripts/performance/llm/finetune_deepseek_v3.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/finetune_llama3_8b.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_llama3_8b.py
  scripts/performance/llm/pretrain_mixtral_8x22b.py
  scripts/performance/llm/pretrain_mixtral_8x7b.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  scripts/performance/utils.py
  scripts/performance/vlm/finetune_neva_8b.py
Labels: Run CICD, r2.3.0

#12786 Unified ptq export
  .github/workflows/cicd-main.yml
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/gpt/model/gemma2.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/mistral.py
  nemo/collections/llm/gpt/model/mixtral.py
  nemo/collections/llm/gpt/model/phi3mini.py
  nemo/collections/llm/gpt/model/qwen2.py
  nemo/collections/llm/gpt/model/starcoder.py
  nemo/collections/llm/gpt/model/starcoder2.py
  nemo/collections/llm/modelopt/quantization/quantizer.py
  tests/functional_tests/L2_NeMo_2_PTQ_Unified_Export.sh
Labels: CI, r2.3.0

#13024 Cherry pick `cleaner tflops log name (13005)` into `r2.3.0`
  nemo/lightning/pytorch/callbacks/flops_callback.py
Labels: cherry-pick, Run CICD

#13035 Cherry pick ` put the warning on the right place (12909)` into `r2.3.0`
  nemo/collections/asr/models/classification_models.py
Labels: cherry-pick, ASR, Run CICD

#13036 Cherry pick `Temporary disable CUDA graphs in DDP mode for transducer decoding (12907)` into `r2.3.0`
  nemo/collections/asr/parts/submodules/rnnt_loop_labels_computer.py
  nemo/collections/asr/parts/submodules/tdt_loop_labels_computer.py
Labels: cherry-pick, ASR, Run CICD

#13037 Cherry pick `[automodel] peft fix vlm (13010)` into `r2.3.0`
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  nemo/collections/llm/peft/lora.py
  nemo/collections/vlm/hf/model/hf_auto_model_for_image_text_to_text.py
  nemo/lightning/pytorch/callbacks/peft.py
Labels: cherry-pick, Run CICD

#13068 Only run the docs link check on the container
  .github/workflows/gh-docs.yml
  docs/README.md
Labels: CI, r2.3.0

#13070 Cherry pick `Only run the docs link check on the container (13068)` into `r2.3.0`
  .github/workflows/gh-docs.yml
  docs/README.md
Labels: cherry-pick, CI

#13021 Fix VP list index out of range from Custom FSDP
  nemo/lightning/megatron_parallel.py
Labels: Run CICD, r2.3.0, RC4

#13083 testss: Disable flaky test
  tests/collections/audio/test_audio_predictive_models.py
Labels: audio

#13086 [audio] make some tests deterministic to avoid flakiness
  tests/collections/audio/test_audio_mask_models.py
  tests/collections/audio/test_audio_predictive_models.py
Labels: Run CICD, audio

#13088 update notebook
  tutorials/asr/asr_adapters/Multi_Task_Adapters.ipynb
Labels: ASR

#13060 ci: Switch to registry cache
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#12940 [NeMo 2.0] Add FP8 subchannel to mixed precision recipe
  nemo/collections/llm/recipes/precision/mixed_precision.py
  tests/collections/llm/recipes/test_mixed_precision.py
Labels: Run CICD

#13094 Revert "ci: Switch to registry cache (#13060)"
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#11901 fix(huggingface-hub): allow offline mode
  nemo/core/classes/common.py
Labels: core, Run CICD, skip-docs, skip-linting

#13072 Add logging to cancel out PTL's warning about dataloader not being resumable
  nemo/collections/llm/gpt/data/fine_tuning.py
  nemo/collections/llm/gpt/data/pre_training.py
Labels: r2.3.0

#13049 Fix long sequence generation after new arg introduced in mcore engine
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/inference/base.py
Labels: r2.3.0

#12631 Support Mamba models quantization
  nemo/collections/llm/gpt/model/ssm.py
  nemo/collections/llm/modelopt/model_utils.py
  nemo/collections/llm/modelopt/quantization/quantizer.py
Labels: audio, r2.3.0

#13034 Add tp-ep-pp-cp-dp order changes
  nemo/collections/nlp/modules/common/megatron/megatron_init.py
  nemo/collections/nlp/parts/nlp_overrides.py
  nemo/lightning/_strategy_lib.py
  nemo/lightning/megatron_init.py
  tests/lightning/test_strategy_lib.py
Labels: NLP

#12729 Batched beam search for transducers (RNN-T and TDT)
  docs/source/asr/api.rst
  nemo/collections/asr/modules/rnnt.py
  nemo/collections/asr/modules/rnnt_abstract.py
  nemo/collections/asr/parts/submodules/rnnt_beam_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_decoding.py
  nemo/collections/asr/parts/submodules/rnnt_maes_batched_computer.py
  nemo/collections/asr/parts/submodules/rnnt_malsd_batched_computer.py
  nemo/collections/asr/parts/submodules/tdt_beam_decoding.py
  nemo/collections/asr/parts/submodules/tdt_malsd_batched_computer.py
  nemo/collections/asr/parts/utils/rnnt_batched_beam_utils.py
  scripts/asr_language_modeling/ngram_lm/install_beamsearch_decoders.sh
  tests/collections/asr/decoding/test_batched_beam_hyps.py
  tests/collections/asr/decoding/test_batched_rnnt_decoding.py
  tests/collections/asr/decoding/test_rnnt_decoding.py
Labels: ASR

#13071 Add track_io to user buffer configs
  nemo/collections/llm/recipes/tp_overlap_configs/userbuffers.py
Labels: r2.3.0

#13073 add fixes
  nemo/collections/llm/gpt/model/megatron/hyena/hyena_utils.py
  nemo/collections/llm/recipes/hyena_1b.py
  nemo/collections/llm/recipes/hyena_40b.py
  nemo/collections/llm/recipes/hyena_7b.py
  nemo/collections/llm/recipes/hyena_base.py
  nemo/collections/llm/recipes/nemotronh_47b.py
  nemo/collections/llm/recipes/nemotronh_56b.py
  nemo/collections/llm/recipes/nemotronh_8b.py
  nemo/collections/llm/recipes/precision/mixed_precision.py
  tests/collections/llm/gpt/model/test_evo2.py
  tests/collections/llm/recipes/test_hyena_1b.py
  tests/collections/llm/recipes/test_hyena_40b.py
  tests/collections/llm/recipes/test_hyena_7b.py
  tests/collections/llm/recipes/test_nemotronh_8b.py
Labels: r2.3.0, RC4

#13029 build: Pin modelopt
  nemo/collections/llm/modelopt/quantization/quantizer.py
  reinstall.sh
  scripts/llm/ptq.py
Labels: r2.3.0

#13106 Revert "Revert Add fine-tuning dataset function for FineWeb-Edu and update automodel… (#13027) (#13089)"
  nemo/collections/llm/peft/lora.py
  nemo/collections/vlm/hf/data/automodel_datasets.py
  nemo/collections/vlm/hf/model/hf_auto_model_for_image_text_to_text.py
  scripts/vlm/automodel.py
Labels: r2.3.0

#12063 Fix bugs in `AudioToMelSpectrogramPreprocessor.input_example`
  nemo/collections/asr/modules/audio_preprocessing.py
  tests/collections/asr/test_asr_modules.py
Labels: ASR, Run CICD

#13092 Re-add sox to asr requirements
  reinstall.sh
  requirements/requirements_asr.txt
Labels: r2.3.0

#13119 ci: Update buildcache
  .github/workflows/update-buildcache.yml
Labels: CI

#13109 bugfix ASR_Context_Biasing.ipynb
  scripts/asr_context_biasing/eval_greedy_decoding_with_context_biasing.py
  tutorials/asr/ASR_Context_Biasing.ipynb
Labels: ASR

#13055 Cherry pick `Add fp8 recipe option to perf script (13032)` into `r2.3.0`
  nemo/collections/llm/recipes/nemotronh_47b.py
  nemo/collections/llm/recipes/nemotronh_56b.py
  nemo/collections/llm/recipes/nemotronh_8b.py
  nemo/collections/llm/recipes/precision/mixed_precision.py
  scripts/performance/argument_parser.py
  scripts/performance/diffusion/pretrain_flux_12b.py
  scripts/performance/llm/finetune_deepseek_v3.py
  scripts/performance/llm/finetune_llama31_405b.py
  scripts/performance/llm/finetune_llama3_70b.py
  scripts/performance/llm/finetune_llama3_8b.py
  scripts/performance/llm/pretrain_gpt3_175b.py
  scripts/performance/llm/pretrain_llama31_405b.py
  scripts/performance/llm/pretrain_llama3_70b.py
  scripts/performance/llm/pretrain_llama3_8b.py
  scripts/performance/llm/pretrain_mixtral_8x22b.py
  scripts/performance/llm/pretrain_mixtral_8x7b.py
  scripts/performance/llm/pretrain_nemotron3_22b.py
  scripts/performance/llm/pretrain_nemotron3_8b.py
  scripts/performance/llm/pretrain_nemotron4_15b.py
  scripts/performance/llm/pretrain_nemotron4_340b.py
  scripts/performance/utils.py
  scripts/performance/vlm/finetune_neva_8b.py
Labels: cherry-pick, Run CICD

#13062 Cherry pick `Unified ptq export (12786)` into `r2.3.0`
  .github/workflows/cicd-main.yml
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/gemma.py
  nemo/collections/llm/gpt/model/gemma2.py
  nemo/collections/llm/gpt/model/llama.py
  nemo/collections/llm/gpt/model/mistral.py
  nemo/collections/llm/gpt/model/mixtral.py
  nemo/collections/llm/gpt/model/phi3mini.py
  nemo/collections/llm/gpt/model/qwen2.py
  nemo/collections/llm/gpt/model/starcoder.py
  nemo/collections/llm/gpt/model/starcoder2.py
  nemo/collections/llm/modelopt/quantization/quantizer.py
  tests/functional_tests/L2_NeMo_2_PTQ_Unified_Export.sh
Labels: cherry-pick, CI, Run CICD

#13077 Cherry pick `Fix VP list index out of range from Custom FSDP (13021)` into `r2.3.0`
  nemo/lightning/megatron_parallel.py
Labels: cherry-pick, Run CICD

#13100 Cherry pick `Add logging to cancel out PTL's warning about dataloader not being resumable (13072)` into `r2.3.0`
  nemo/collections/llm/gpt/data/fine_tuning.py
  nemo/collections/llm/gpt/data/pre_training.py
Labels: cherry-pick, Run CICD

#13104 Cherry pick `Fix long sequence generation after new arg introduced in mcore engine (13049)` into `r2.3.0`
  nemo/collections/llm/api.py
  nemo/collections/llm/gpt/model/base.py
  nemo/collections/llm/inference/base.py
Labels: cherry-pick, Run CICD

#13105 Cherry pick `Support Mamba models quantization (12631)` into `r2.3.0`
  nemo/collections/llm/gpt/model/ssm.py
  nemo/collections/llm/modelopt/model_utils.py
  nemo/collections/llm/modelopt/quantization/quantizer.py
Labels: cherry-pick, Run CICD

#13111 Cherry pick `Add track_io to user buffer configs (13071)` into `r2.3.0`
  nemo/collections/llm/recipes/tp_overlap_configs/userbuffers.py
Labels: cherry-pick, Run CICD

#13115 ci: Onboard 8-GPU runner
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
  .github/workflows/monitor-single-vm.yml
Labels: CI, Run CICD

#13121 ci: Onboard 8-GPU runner (#13115)
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
  .github/workflows/monitor-single-vm.yml
Labels: CI

#13048 Update Mllama cross attn signature to match update MCore
  nemo/collections/vlm/mllama/model/language.py
  nemo/collections/vlm/mllama/model/vision.py
Labels: cherry-pick, r2.3.0

#13118 Cherry pick `Add fine-tuning dataset function for FineWeb-Edu and update automodel… (13027)` into `r2.3.0`
  nemo/collections/llm/peft/lora.py
  nemo/collections/vlm/hf/data/automodel_datasets.py
  nemo/collections/vlm/hf/model/hf_auto_model_for_image_text_to_text.py
  scripts/vlm/automodel.py
Labels: cherry-pick

#13120 Cherry pick `Re-add sox to asr requirements (13092)` into `r2.3.0`
  reinstall.sh
  requirements/requirements_asr.txt
Labels: cherry-pick

#13122 Cherry pick `Update Mllama cross attn signature to match update MCore (13048)` into `r2.3.0`
  nemo/collections/vlm/mllama/model/language.py
  nemo/collections/vlm/mllama/model/vision.py
Labels: cherry-pick

#13095 Fix Exporter for baichuan and chatglm
  nemo/collections/llm/gpt/model/baichuan.py
  nemo/collections/llm/gpt/model/chatglm.py
Labels: r2.3.0

#13126 Cherry pick `Fix Exporter for baichuan and chatglm (13095)` into `r2.3.0`
  nemo/collections/llm/gpt/model/baichuan.py
  nemo/collections/llm/gpt/model/chatglm.py
Labels: cherry-pick

#13128 fix asr_context_biasing_notebook
  scripts/asr_context_biasing/eval_greedy_decoding_with_context_biasing.py
  tutorials/asr/ASR_Context_Biasing.ipynb
Labels: ASR

#13087 Bump TE version and apply patch
  Dockerfile.ci
  external/patches/nemo_2.3.0_te.patch
  reinstall.sh
  requirements/manifest.json
Labels: r2.3.0

#12968 Update Llama-Minitron pruning-distillation notebooks from NeMo1 to NeMo2 + NeMoRun
  tutorials/llm/llama/pruning-distillation/.gitignore
  tutorials/llm/llama/pruning-distillation/01_data_preparation.ipynb
  tutorials/llm/llama/pruning-distillation/01_model_and_data_preparation.ipynb
  tutorials/llm/llama/pruning-distillation/02_teacher_finetuning.ipynb
  tutorials/llm/llama/pruning-distillation/03_a_depth_pruning.ipynb
  tutorials/llm/llama/pruning-distillation/03_b_width_pruning.ipynb
  tutorials/llm/llama/pruning-distillation/03_pruning.ipynb
  tutorials/llm/llama/pruning-distillation/04_a_distilling_depth_pruned_student.ipynb
  tutorials/llm/llama/pruning-distillation/04_b_distilling_width_pruned_student.ipynb
  tutorials/llm/llama/pruning-distillation/04_distillation.ipynb
  tutorials/llm/llama/pruning-distillation/05_display_results.ipynb
  tutorials/llm/llama/pruning-distillation/README.md
  tutorials/llm/llama/pruning-distillation/README.rst
  tutorials/llm/llama/pruning-distillation/imgs/val_loss_depth_pruned_student_distillation.png
  tutorials/llm/llama/pruning-distillation/imgs/val_loss_width_pruned_student_distillation.png
  tutorials/llm/llama/pruning-distillation/introduction.ipynb
Labels: r2.3.0

#13125 chore(🤖): Bump `NVIDIA/Megatron-LM` to `47b99b6...` (2025-04-21)
  .github/workflows/cicd-main.yml
  nemo/collections/llm/gpt/model/gemma2.py
  nemo/collections/vlm/mllama/model/language.py
  requirements/manifest.json
  tests/lightning/test_state_restoration.py
Labels: CI, no-fail-fast

#13142 ci: Faster builds
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
  Dockerfile.ci
Labels: CI, Run CICD

#13144 ci: Faster builds (#13142)
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main.yml
  Dockerfile.ci
Labels: CI

#13145 ci(hotfix): Update cicd-main.yml
  .github/workflows/cicd-main.yml
Labels: CI

#13148 ci: Better caching for update-buildcache
  .github/workflows/update-buildcache.yml
Labels: CI

#13149 ci: Fix jq
  .github/workflows/_test_template.yml
Labels: CI

#13076 Export and Deploy Tests
  .github/workflows/cicd-main.yml
  nemo/export/tensorrt_llm.py
  tests/deploy/test_deploy_query.py
  tests/export/test_export_onnx.py
  tests/export/trt_llm/test_tensorrt_llm_export.py
  tests/functional_tests/L2_NeMo_2_Export_Deploy_Query_In_Framework.sh
  tests/functional_tests/L2_NeMo_2_Export_TRT_LLM.sh
  tests/functional_tests/L2_ONNX_TRT_LLM_Embedding_Export.sh
Labels: CI, r2.3.0

#13131 ub fp8 h100 fixes
  nemo/collections/llm/recipes/tp_overlap_configs/userbuffers.py
Labels: r2.3.0, RC4

#12938 Fix Transducer Decoding with CUDA Graphs in DDP with Mixed Precision
  nemo/collections/asr/parts/submodules/rnnt_loop_labels_computer.py
  nemo/collections/asr/parts/submodules/tdt_loop_labels_computer.py
  tests/collections/asr/decoding/conftest.py
  tests/collections/asr/decoding/test_cuda_graph_rnnt_greedy_decoding.py
  tests/collections/asr/decoding/test_rnnt_alignments.py
Labels: ASR, r2.3.0

#13152 ci: Fix mcore install in test container
  .github/workflows/_test_template.yml
Labels: CI, Run CICD

#13162 ci: Fix race-condition of container setup
  .github/workflows/_test_template.yml
Labels: CI, Run CICD

#13091 Add tests for activation funcs
  tests/collections/llm/fn/test_activation.py
Labels: Run CICD

#12551 Add packed sequences for HFDatasetDataModule
  examples/llm/sft/automodel.py
  nemo/collections/llm/__init__.py
  nemo/collections/llm/gpt/data/__init__.py
  nemo/collections/llm/gpt/data/hf_dataset.py
  nemo/collections/llm/gpt/data/hf_dataset_packed_sequence.py
  nemo/collections/llm/gpt/model/hf_auto_model_for_causal_lm.py
  tests/collections/llm/gpt/data/test_hf_datamodule.py
  tests/collections/llm/gpt/data/test_hf_datamodule_packed.py
Labels: no-fail-fast, skip-linting

#13124 ci: Run unit tests first
  .github/scripts/notify.py
  .github/workflows/_test_template.yml
  .github/workflows/cicd-main-e2e-tests.yml
  .github/workflows/cicd-main-unit-tests.yml
  .github/workflows/cicd-main.yml
  tests/collections/asr/decoding/test_ctc_decoding.py
Labels: ASR, CI, Run CICD, r2.3.0

#13143 Weekly bump
  .github/workflows/cicd-main-e2e-tests.yml
  nemo/collections/llm/gpt/model/gemma2.py
  nemo/collections/vlm/mllama/model/language.py
  requirements/manifest.json
  tests/lightning/test_state_restoration.py
Labels: CI, r2.3.0

#13132 Cherry pick `Guard decord and triton import (12861)` into `r2.3.0`
  nemo/collections/vlm/neva/data/preloaded.py
  nemo/lightning/run/plugins.py
Labels: cherry-pick, Run CICD

#13139 Cherry pick `Bump TE version and apply patch (13087)` into `r2.3.0`
  Dockerfile.ci
  external/patches/nemo_2.3.0_te.patch
  reinstall.sh
  requirements/manifest.json
Labels: cherry-pick, Run CICD
